# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'08-04-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'08-04-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-08-05 04:21:51,33.93911,67.709953,148933,6836,82586.0,59511.0,Afghanistan,382.582448,4.589983
1,NaN,NaN,NaN,Albania,2021-08-05 04:21:51,41.15330,20.168300,133310,2457,130314.0,539.0,Albania,4632.358051,1.843073
2,NaN,NaN,NaN,Algeria,2021-08-05 04:21:51,28.03390,1.659600,176724,4404,118409.0,53911.0,Algeria,403.009798,2.492021
3,NaN,NaN,NaN,Andorra,2021-08-05 04:21:51,42.50630,1.521800,14797,128,14380.0,289.0,Andorra,19150.973921,0.865040
4,NaN,NaN,NaN,Angola,2021-08-05 04:21:51,-11.20270,17.873900,43158,1026,39582.0,2550.0,Angola,131.313966,2.377311

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,144285,145008,145552,145996,146523,146523,146523,147985,148572,148933
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132891,132922,132952,132999,133036,133081,133121,133146,133211,133310
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,163660,165204,167131,168668,170189,171392,172564,173922,175229,176724

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,6477,6515,6577,6615,6677,6677,6677,6774,6804,6836
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2456,2456,2457,2457,2457,2457,2457,2457,2457,2457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,4087,4112,4161,4189,4219,4254,4291,4329,4370,4404

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,82586
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,130152,130166,130174,130187,130205,130222,130243,130256,130291,130314
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,111322,112050,112900,113707,114531,115276,116009,116770,117557,118409

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7435,7456,7479,7479,7479,7537,7563,7585,7615,7635
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,23922,24213,24499,24499,24499,25207,25399,25567,25860,26175
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2437,2451,2462,2462,2462,2506,2509,2520,2537,2543

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,114,114,114,114,114,114,114,114,114
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,325,326,328,328,328,329,329,329,329,329
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,61,61,61,61,61,61,61,61,61,61

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-08-05 04:21:51,32.539527,-86.644082,7635,114,NaN,NaN,"Autauga, Alabama, US",13665.897009,1.493124
693,1075.0,Lamar,Alabama,US,2021-08-05 04:21:51,33.779950,-88.096680,1526,38,NaN,NaN,"Lamar, Alabama, US",11053.965954,2.490170
694,1077.0,Lauderdale,Alabama,US,2021-08-05 04:21:51,34.901719,-87.656247,10374,255,NaN,NaN,"Lauderdale, Alabama, US",11187.438665,2.458068

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               35330664  614785         0.0
India            31769132  425757  30933022.0
Brazil           20026533  559607  17771228.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,35330664,614785,0.0,34715879.0,2021-08-05 04:21:51,37.950547,-91.419547
India,31769132,425757,30933022.0,410353.0,2021-08-05 04:21:51,23.088275,81.806127
Brazil,20026533,559607,17771228.0,1695698.0,2021-08-05 04:21:51,-12.669522,-48.480493
Russia,6274006,159032,5609682.0,505292.0,2021-08-05 04:21:51,54.546312,62.120860
France,6272189,112233,415111.0,5744845.0,2021-08-05 04:21:51,6.430808,-34.730285

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        4003787   64620        0.0
Texas             3185937   53457        0.0
Florida           2634234   39079        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,4003787,64620,0.0,3939167.0,2021-08-05 04:21:51,37.843962,-120.728594
Texas,3185937,53457,0.0,3132480.0,2021-08-05 04:21:51,31.660643,-98.653069
Florida,2634234,39079,0.0,2595155.0,2021-08-05 04:21:51,28.940755,-82.700744
New York,2161314,53676,0.0,2107638.0,2021-08-05 04:21:51,42.544151,-75.474183
Illinois,1430265,25909,0.0,1404356.0,2021-08-05 04:21:51,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1311656   24721        0.0
Arizona        Maricopa        588243   10485        0.0
Illinois       Cook            566985   10581        0.0
Florida        Miami-Dade      549405    6472        0.0
Texas          Harris          430218    6736        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1311656,24721,0.0,1286935.0,2021-08-05 04:21:51,34.308284,-118.228241,6037.0
Arizona,Maricopa,588243,10485,0.0,577758.0,2021-08-05 04:21:51,33.348359,-112.491815,4013.0
Illinois,Cook,566985,10581,0.0,556404.0,2021-08-05 04:21:51,41.841448,-87.816588,17031.0
Florida,Miami-Dade,549405,6472,0.0,542933.0,2021-08-05 04:21:51,25.611236,-80.551706,12086.0
Texas,Harris,430218,6736,0.0,423482.0,2021-08-05 04:21:51,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,147985,133146,173922,14747,42970,1303,4947030,230476,34836,659872,...,5929881,381715,131079,4,307570,157507,317083,7081,196490,110855
2021-08-03,148572,133211,175229,14766,43070,1303,4961880,230713,35089,660262,...,5951736,381853,131978,4,308452,174461,317264,7086,197123,112435
2021-08-04,148933,133310,176724,14797,43158,1311,4975616,230993,35391,660854,...,5980887,381994,132901,4,309218,181756,317404,7096,197791,113526

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,6774,2457,4329,128,1018,43,106045,4621,925,10739,...,130039,5972,886,1,3623,1306,3609,1378,3412,3635
2021-08-03,6804,2457,4370,128,1022,43,106447,4621,927,10742,...,130179,5976,893,1,3637,2071,3609,1380,3422,3676
2021-08-04,6836,2457,4404,128,1026,43,106747,4625,932,10744,...,130300,5979,901,1,3649,2327,3609,1380,3430,3711

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,82586,130256,116770,14296,38360,1235,4594873,220133,24141,643694,...,22633,373839,124728,3,292567,43157,312149,4212,188950,79420
2021-08-03,82586,130291,117557,14348,39389,1235,4606026,220289,24172,644038,...,24369,374044,125572,3,293672,50831,312289,4232,189341,81570
2021-08-04,82586,130314,118409,14380,39582,1239,4615834,220438,24203,644388,...,24693,374203,126377,3,294607,54332,312320,4251,189658,82994

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7435,7456,7479,7479,7479,7537,7563,7585,7615,7635
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1495,1497,1499,1499,1499,1509,1510,1512,1519,1526
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,10009,10044,10083,10083,10083,10240,10255,10266,10305,10374
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3197,3211,3225,3225,3225,3257,3263,3267,3277,3280
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16828,16897,16949,16949,16949,17184,17224,17260,17336,17414

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-02,589110,76237,0,931387,389280,3983926,577285,355580,111681,49,...,900418,3151893,434711,25038,4663,697939,475881,167681,689285,65467
2021-08-03,592417,76532,0,933361,391623,3997767,578276,356164,111762,49,...,903095,3172919,435439,25077,4691,699342,481357,167948,690856,65704
2021-08-04,595816,76874,0,935647,394461,4003787,579366,356701,111884,49,...,906893,3185937,436489,25129,4777,701059,483389,168330,692189,65953

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-08-02        7585   25567    2520  2909   7382    1265   2414   15429
2021-08-03        7615   25860    2537  2928   7417    1265   2424   15498
2021-08-04        7635   26175    2543  2937   7463    1265   2436   15549

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-08-02         3968     1995  ...    2989    772     3343      866
2021-08-03         3987     2007  ...    2994    776     3349      866
2021-08-04         4007     2017  ...    3011    780     3373      869

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-08-02           5017  3914  2430          0      945    687
2021-08-03           5026  3931  2445          0      947    689
2021-08-04           5042  3938  2464          0      949    689

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-02,11536,389,0,18252,6199,64547,6956,8293,1833,0,...,12749,53329,2466,260,39,11534,6127,2949,8295,776
2021-08-03,11542,391,0,18282,6215,64598,6957,8292,1833,0,...,12766,53395,2471,260,39,11536,6136,2954,8299,786
2021-08-04,11561,393,0,18289,6230,64620,6963,8292,1833,0,...,12776,53457,2479,260,39,11541,6145,2956,8302,786

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-08-02         114     329      61   65    139      42     72     334
2021-08-03         114     329      61   65    139      42     72     334
2021-08-04         114     329      61   66    140      42     72     334

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-08-02          125       48  ...      34     14       31        8
2021-08-03          125       48  ...      34     15       31        9
2021-08-04          125       48  ...      34     15       31        9

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-08-02             44    11    14          0       26      6
2021-08-03             45    11    14          0       26      6
2021-08-04             45    11    14          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,0.009978,0.000188,0.007870,0.004701,0.003620,0.00000,0.002266,0.000595,0.006472,0.000552,...,0.003773,0.000383,0.006627,0.0,0.002925,0.000000,0.000701,0.001556,0.001004,0.011949
2021-08-03,0.003967,0.000488,0.007515,0.001288,0.002327,0.00000,0.003002,0.001028,0.007263,0.000591,...,0.003686,0.000362,0.006858,0.0,0.002868,0.107640,0.000571,0.000706,0.003222,0.014253
2021-08-04,0.002430,0.000743,0.008532,0.002099,0.002043,0.00614,0.002768,0.001214,0.008607,0.000897,...,0.004898,0.000369,0.006994,0.0,0.002483,0.041815,0.000441,0.001411,0.003389,0.009703

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,0.014527,0.0,0.008856,0.0,0.001969,0.0,0.002581,0.000433,0.000000,0.000093,...,0.000192,0.001006,0.006818,0.0,0.004436,0.000000,0.001387,0.000726,0.001762,0.014513
2021-08-03,0.004429,0.0,0.009471,0.0,0.003929,0.0,0.003791,0.000000,0.002162,0.000279,...,0.001077,0.000670,0.007901,0.0,0.003864,0.585758,0.000000,0.001451,0.002931,0.011279
2021-08-04,0.004703,0.0,0.007780,0.0,0.003914,0.0,0.002818,0.000866,0.005394,0.000186,...,0.000929,0.000502,0.008959,0.0,0.003299,0.123612,0.000000,0.000000,0.002338,0.009521

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,0.0,0.000100,0.006560,0.006052,0.025751,0.000000,0.002999,0.000668,0.000705,0.000477,...,0.073519,0.000543,0.005912,0.0,0.003468,0.000000,0.000741,0.002857,0.004487,0.035936
2021-08-03,0.0,0.000269,0.006740,0.003637,0.026825,0.000000,0.002427,0.000709,0.001284,0.000534,...,0.076702,0.000548,0.006767,0.0,0.003777,0.177816,0.000449,0.004748,0.002069,0.027071
2021-08-04,0.0,0.000177,0.007248,0.002230,0.004900,0.003239,0.002129,0.000676,0.001282,0.000543,...,0.013296,0.000425,0.006411,0.0,0.003184,0.068875,0.000099,0.004490,0.001674,0.017457

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-02,0.002903,0.009949,NaN,0.001986,0.002173,0.004281,0.003831,0.003514,0.001058,0.0,...,0.007682,0.003090,0.005189,0.005987,0.007345,0.005120,0.005929,0.003982,0.003037,0.005221
2021-08-03,0.005614,0.003870,NaN,0.002119,0.006019,0.003474,0.001717,0.001642,0.000725,0.0,...,0.002973,0.006671,0.001675,0.001558,0.006005,0.002010,0.011507,0.001592,0.002279,0.003620
2021-08-04,0.005738,0.004469,NaN,0.002449,0.007247,0.001506,0.001885,0.001508,0.001092,0.0,...,0.004206,0.004103,0.002411,0.002074,0.018333,0.002455,0.004221,0.002275,0.001929,0.003790

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-08-02      0.002909  0.006614  0.004384  0.001722  0.002717     0.0
2021-08-03      0.003955  0.011460  0.006746  0.006531  0.004741     0.0
2021-08-04      0.002626  0.012181  0.002365  0.003074  0.006202     0.0

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-08-02      0.002492  0.001818  0.004811  0.001506  ...  0.005044
2021-08-03      0.004143  0.004472  0.004788  0.006015  ...  0.001673
2021-08-04      0.004950  0.003291  0.005016  0.004983  ...  0.005678

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-08-02      0.005208  0.005414  0.008149   0.003802  0.004362  0.006628
2021-08-03      0.005181  0.001795  0.000000   0.001794  0.004343  0.006173
2021-08-04      0.005155  0.007166  0.003464   0.003183  0.001781  0.007771

Province_State
Admin2         Unassigned  Washakie    Weston
2021-08-02            NaN  0.000000  0.008811
2021-08-03            NaN  0.002116  0.002911
2021-08-04            NaN  0.002112  0.000000

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-02,0.000000,0.000000,NaN,0.000055,0.006822,0.001831,0.001584,0.000000,0.0,NaN,...,0.001965,0.000619,0.006120,0.0,0.054054,0.000173,0.000817,0.001018,0.000603,0.000000
2021-08-03,0.000520,0.005141,NaN,0.001644,0.002581,0.000790,0.000144,-0.000121,0.0,NaN,...,0.001333,0.001238,0.002028,0.0,0.000000,0.000173,0.001469,0.001695,0.000482,0.012887
2021-08-04,0.001646,0.005115,NaN,0.000383,0.002414,0.000341,0.000862,0.000000,0.0,NaN,...,0.000783,0.001161,0.003238,0.0,0.000000,0.000433,0.001467,0.000677,0.000361,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour      Bibb    Blount Bullock Butler
2021-08-02         0.0     0.0     0.0  0.000000  0.000000     0.0    0.0
2021-08-03         0.0     0.0     0.0  0.000000  0.000000     0.0    0.0
2021-08-04         0.0     0.0     0.0  0.015385  0.007194     0.0    0.0

Province_State                            ... Wyoming                     \
Admin2         Calhoun Chambers Cherokee  ...    Park    Platte Sheridan
2021-08-02         0.0      0.0      0.0  ...     0.0  0.000000      0.0
2021-08-03         0.0      0.0      0.0  ...     0.0  0.071429      0.0
2021-08-04         0.0      0.0      0.0  ...     0.0  0.000000      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-08-02        0.000   0.000000   0.0   0.0        NaN      0.0    0.0
2021-08-03        0.125   0.022727   0.0   0.0        NaN      0.0    0.0
2021-08-04        0.000   0.000000   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,0.005434,0.000246,0.007703,0.002625,0.002925,0.000608,0.002063,0.000812,0.006612,0.000644,...,0.004085,0.000337,0.006788,1.643460e-32,0.003014,0.028586,0.000550,0.001383,0.002079,0.011417
2021-08-03,0.004700,0.000367,0.007609,0.001957,0.002626,0.000304,0.002532,0.000920,0.006937,0.000617,...,0.003885,0.000349,0.006823,8.217301e-33,0.002941,0.068113,0.000560,0.001045,0.002650,0.012835
2021-08-04,0.003565,0.000555,0.008070,0.002028,0.002335,0.003222,0.002650,0.001067,0.007772,0.000757,...,0.004392,0.000359,0.006908,4.108651e-33,0.002712,0.054964,0.000501,0.001228,0.003020,0.011269

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,0.008305,0.000006,0.008572,0.000492,0.003153,0.000023,0.002050,0.000770,0.000383,0.000074,...,0.000370,0.000808,0.007274,0.0,0.004467,0.048369,0.000841,0.000779,0.003378,0.015122
2021-08-03,0.006367,0.000003,0.009022,0.000246,0.003541,0.000012,0.002920,0.000385,0.001273,0.000177,...,0.000724,0.000739,0.007587,0.0,0.004166,0.317064,0.000421,0.001115,0.003154,0.013201
2021-08-04,0.005535,0.000002,0.008401,0.000123,0.003727,0.000006,0.002869,0.000625,0.003333,0.000181,...,0.000826,0.000620,0.008273,0.0,0.003733,0.220338,0.000210,0.000558,0.002746,0.011361

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-02,7.069081e-09,0.000121,0.006578,0.003353,0.017073,0.000156,0.002843,0.000655,0.000938,0.000530,...,0.041915,0.000536,0.006150,3.944305e-31,0.003963,0.056704,0.000490,0.002771,0.004768,0.025386
2021-08-03,3.534541e-09,0.000195,0.006659,0.003495,0.021949,0.000078,0.002635,0.000682,0.001111,0.000532,...,0.059309,0.000542,0.006458,1.972152e-31,0.003870,0.117260,0.000469,0.003760,0.003418,0.026229
2021-08-04,1.767270e-09,0.000186,0.006953,0.002863,0.013424,0.001658,0.002382,0.000679,0.001197,0.000538,...,0.036302,0.000484,0.006434,9.860761e-32,0.003527,0.093068,0.000284,0.004125,0.002546,0.021843

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-02,0.004113,0.005599,NaN,0.002135,0.003589,0.002980,0.002151,0.001909,0.001162,6.499865e-153,...,0.004163,0.002532,0.002914,0.003219,0.005978,0.002761,0.003200,0.002177,0.001711,0.002971
2021-08-03,0.004863,0.004734,NaN,0.002127,0.004804,0.003227,0.001934,0.001776,0.000944,3.249932e-153,...,0.003568,0.004602,0.002295,0.002388,0.005991,0.002386,0.007354,0.001885,0.001995,0.003296
2021-08-04,0.005300,0.004602,NaN,0.002288,0.006025,0.002366,0.001909,0.001642,0.001018,1.624966e-153,...,0.003887,0.004352,0.002353,0.002231,0.012162,0.002420,0.005788,0.002080,0.001962,0.003543

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-08-02      0.003372  0.009147  0.004853  0.003912  0.003302  0.000435
2021-08-03      0.003663  0.010304  0.005800  0.005222  0.004022  0.000218
2021-08-04      0.003145  0.011242  0.004082  0.004148  0.005112  0.000109

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-08-02      0.003067  0.002369  0.004585  0.003025  ...  0.002818
2021-08-03      0.003605  0.003421  0.004687  0.004520  ...  0.002246
2021-08-04      0.004278  0.003356  0.004852  0.004751  ...  0.003962

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-08-02      0.003641  0.002954  0.004603   0.002174  0.002312  0.003901
2021-08-03      0.004411  0.002374  0.002301   0.001984  0.003328  0.005037
2021-08-04      0.004783  0.004770  0.002883   0.002584  0.002554  0.006404

Province_State
Admin2         Unassigned  Washakie    Weston
2021-08-02           -1.0  0.000016  0.004552
2021-08-03           -1.0  0.001066  0.003731
2021-08-04           -1.0  0.001589  0.001866

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-02,0.000314,0.000570,NaN,0.000364,0.004682,0.00101,0.000943,0.000020,0.005021,NaN,...,0.001041,0.000591,0.003200,0.000241,0.029003,0.000151,0.000564,0.000622,0.000472,0.000102
2021-08-03,0.000417,0.002856,NaN,0.001004,0.003631,0.00090,0.000543,-0.000050,0.002511,NaN,...,0.001187,0.000914,0.002614,0.000121,0.014502,0.000162,0.001016,0.001159,0.000477,0.006495
2021-08-04,0.001032,0.003985,NaN,0.000693,0.003023,0.00062,0.000703,-0.000025,0.001255,NaN,...,0.000985,0.001038,0.002926,0.000060,0.007251,0.000298,0.001242,0.000918,0.000419,0.003247

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour          Bibb        Blount
2021-08-02      0.000069  0.000504  0.000016  1.164153e-10  6.067653e-27
2021-08-03      0.000035  0.000252  0.000008  5.820766e-11  3.033826e-27
2021-08-04      0.000017  0.000126  0.000004  7.692308e-03  3.597122e-03

Province_State                                                            ...  \
Admin2               Bullock    Butler   Calhoun      Chambers  Cherokee  ...
2021-08-02      2.017640e-26  0.000007  0.000753  3.945505e-06  0.000010  ...
2021-08-03      1.008820e-26  0.000003  0.000377  1.972752e-06  0.000005  ...
2021-08-04      5.044100e-27  0.000002  0.000188  9.863762e-07  0.000003  ...

Province_State   Wyoming                                                   \
Admin2              Park        Platte      Sheridan  Sublette Sweetwater
2021-08-02      0.000237  3.668225e-08  2.392036e-44  0.001116   0.000185
2021-08-03      0.000118  3.571430e-02  1.196018e-44  0.063058   0.011456
2021-08-04      0.000059  1.785715e-02  5.980090e-45  0.031529   0.005728

Province_State
Admin2                 Teton     Uinta Unassigned      Washakie        Weston
2021-08-02      6.167906e-18  0.000601   0.752941  6.529064e-57  5.551115e-18
2021-08-03      3.083953e-18  0.000300   0.752941  3.264532e-57  2.775558e-18
2021-08-04      1.541976e-18  0.000150   0.752941  1.632266e-57  1.387779e-18

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN