# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'09-04-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'09-04-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-05 04:28:19,33.93911,67.709953,38304,1409,29713,7182.0,Afghanistan,98.396179,3.678467
1,NaN,NaN,NaN,Albania,2020-09-05 04:28:19,41.15330,20.168300,9967,306,5882,3779.0,Albania,346.340955,3.070131
2,NaN,NaN,NaN,Algeria,2020-09-05 04:28:19,28.03390,1.659600,45773,1539,32259,11975.0,Algeria,104.382922,3.362244
3,NaN,NaN,NaN,Andorra,2020-09-05 04:28:19,42.50630,1.521800,1215,53,928,234.0,Andorra,1572.510192,4.362140
4,NaN,NaN,NaN,Angola,2020-09-05 04:28:19,-11.20270,17.873900,2876,115,1167,1594.0,Angola,8.750613,3.998609

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38113,38129,38140,38143,38162,38165,38196,38243,38288,38304
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8927,9083,9195,9279,9380,9513,9606,9728,9844,9967
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,42619,43016,43403,43781,44146,44494,44833,45158,45469,45773

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1401,1401,1402,1402,1402,1402,1406,1409,1409,1409
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,263,266,271,275,280,284,290,296,301,306
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1465,1475,1483,1491,1501,1510,1518,1523,1529,1539

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,29042,29046,29059,29063,29089,29089,29231,29315,29390,29713
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,4633,4791,4923,5020,5139,5214,5441,5582,5732,5882
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,29886,30157,30436,30717,30978,31244,31493,31746,32006,32259

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1281,1284,1296,1309,1345,1348,1354,1345,1349,1355
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4166,4199,4230,4307,4402,4422,4445,4458,4495,4513
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,616,614,620,624,628,628,629,617,614,616

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,22,22,22,22,22,22,23,23,23,23
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,33,34,35,36,36,38,38,38,40,42
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
631,1001.0,Autauga,Alabama,US,2020-09-05 04:28:19,32.539527,-86.644082,1355,23,0,1332.0,"Autauga, Alabama, US",2425.316365,1.697417
668,1075.0,Lamar,Alabama,US,2020-09-05 04:28:19,33.779950,-88.096680,278,2,0,276.0,"Lamar, Alabama, US",2013.763129,0.719424
669,1077.0,Lauderdale,Alabama,US,2020-09-05 04:28:19,34.901719,-87.656247,1454,25,0,1429.0,"Lauderdale, Alabama, US",1568.010008,1.719395

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                6200518  187755    2283454
Brazil            4091801  125502    3464278
India             4023179   69561    3107223

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,6200518,187755,2283454,3729309,2020-09-05 04:28:19,37.923092,-91.345036
Brazil,4091801,125502,3464278,502021,2020-09-05 04:28:19,-12.669522,-48.480493
India,4023179,69561,3107223,846395,2020-09-05 04:28:19,23.088275,81.806127
Russia,1011987,17598,830532,163857,2020-09-05 04:28:19,54.546312,62.120860
Peru,670145,29405,498523,142217,2020-09-05 04:28:19,-10.637324,-75.277744

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         730662   13638          0
Texas              651350   13426          0
Florida            640211   11750          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,730662,13638,0,717024,2020-09-05 04:28:19,37.843962,-120.728594
Texas,651350,13426,0,637924,2020-09-05 04:28:19,31.660643,-98.653069
Florida,640211,11750,0,628461,2020-09-05 04:28:19,28.940755,-82.700744
New York,437971,32982,0,404989,2020-09-05 04:28:19,42.544151,-75.474183
Georgia,279354,5931,0,273423,2020-09-05 04:28:19,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     246407    5977          0
Florida        Miami-Dade      160469    2632          0
Arizona        Maricopa        135495    3064          0
Illinois       Cook            129545    5086          0
Texas          Harris          109834    2300          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,246407,5977,0,240430,2020-09-05 04:28:19,34.308284,-118.228241,6037.0
Florida,Miami-Dade,160469,2632,0,157837,2020-09-05 04:28:19,25.611236,-80.551706,12086.0
Arizona,Maricopa,135495,3064,0,132431,2020-09-05 04:28:19,33.348359,-112.491815,4013.0
Illinois,Cook,129545,5086,0,124459,2020-09-05 04:28:19,41.841448,-87.816588,17031.0
Texas,Harris,109834,2300,0,107534,2020-09-05 04:28:19,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,38243,9728,45158,1199,2777,94,439172,44075,26049,27969,...,340929,1626,42437,48883,1046,23875,10,1976,12415,6638
2020-09-03,38288,9844,45469,1199,2805,95,451198,44271,26136,28372,...,342708,1636,42688,49877,1046,24471,10,1979,12523,6678
2020-09-04,38304,9967,45773,1215,2876,95,461882,44461,26207,28729,...,344686,1653,42998,50973,1049,25142,10,1983,12639,6837

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,1409,296,1523,53,112,3,9118,884,678,734,...,41602,44,327,398,34,162,1,571,292,206
2020-09-03,1409,301,1529,53,113,3,9361,887,737,735,...,41616,44,331,402,35,167,1,571,292,206
2020-09-04,1409,306,1539,53,115,3,9623,891,748,735,...,41626,45,338,412,35,170,1,572,292,206

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,29315,5582,31746,909,1115,91,315530,38631,21690,23820,...,1742,1433,39664,39912,746,15483,8,1175,11494,5250
2020-09-03,29390,5732,32006,909,1144,91,322461,38855,21912,24171,...,1750,1437,40081,40574,755,16095,8,1180,11562,5263
2020-09-04,29713,5882,32259,928,1167,91,331621,39257,22170,24513,...,1756,1446,40392,41249,772,16437,8,1194,11572,5345

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1281,1284,1296,1309,1345,1348,1354,1345,1349,1355
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,266,266,266,268,271,273,277,277,276,278
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1364,1373,1384,1398,1405,1411,1424,1433,1443,1454
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,427,432,433,442,459,463,466,469,486,488
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,3006,3031,3091,3200,3247,3348,3395,3371,3384,3417

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-02,128239,5362,0,202861,62112,721281,57999,53108,17549,49,...,157831,641855,52822,1637,1144,122518,75377,10658,77129,3911
2020-09-03,129285,5464,0,203953,63081,726018,58267,53209,17653,49,...,159546,645422,53326,1637,1150,123637,75856,10855,77856,3941
2020-09-04,130393,5584,0,204681,64175,730662,58267,53365,17752,49,...,160597,651350,53839,1642,1150,124738,76335,11042,79354,3990

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-02        1345    4458     617  541   1036     540    839    2413
2020-09-03        1349    4495     614  542   1037     541    841    2447
2020-09-04        1355    4513     616  545   1049     541    848    2503

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-02          861      354  ...     170      7      154       48
2020-09-03          850      354  ...     171      7      157       49
2020-09-04          850      362  ...     172      7      170       48

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-02            304   433   303          0      109     19
2020-09-03            304   435   305          0      109     20
2020-09-04            307   440   308          0      110     20

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-02,2217,39,0,5065,841,13317,1952,4467,606,0,...,1797,13104,410,58,15,2641,1935,233,1142,41
2020-09-03,2233,40,0,5130,861,13493,1955,4468,606,0,...,1815,13296,414,58,16,2652,1945,240,1146,41
2020-09-04,2266,40,0,5171,873,13638,1955,4468,606,0,...,1837,13426,419,58,16,2662,1953,245,1153,42

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-02          23      38       7    7     11      13     36      32
2020-09-03          23      40       7    6     11      13     36      31
2020-09-04          23      42       7    6     12      13     37      31

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-02           39       11  ...       1      1        1        1
2020-09-03           39       11  ...       1      1        1        1
2020-09-04           40       11  ...       1      1        1        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-02              2     1     2          0        6      0
2020-09-03              2     1     2          0        6      0
2020-09-04              2     1     2          0        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,0.001230,0.012700,0.007249,0.012669,0.017589,0.000000,0.025530,0.004490,0.004861,0.011830,...,0.004461,0.009311,0.007359,0.023599,0.001916,0.025514,0.0,0.007136,0.002746,0.012045
2020-09-03,0.001177,0.011924,0.006887,0.000000,0.010083,0.010638,0.027383,0.004447,0.003340,0.014409,...,0.005218,0.006150,0.005915,0.020334,0.000000,0.024963,0.0,0.001518,0.008699,0.006026
2020-09-04,0.000418,0.012495,0.006686,0.013344,0.025312,0.000000,0.023679,0.004292,0.002717,0.012583,...,0.005772,0.010391,0.007262,0.021974,0.002868,0.027420,0.0,0.002021,0.009263,0.023810

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,0.002134,0.020690,0.003294,0.0,0.027523,0.0,0.022312,0.003405,0.022624,0.000000,...,0.000240,0.000000,0.012384,0.017903,0.000000,0.018868,0.0,0.001754,0.006897,0.014778
2020-09-03,0.000000,0.016892,0.003940,0.0,0.008929,0.0,0.026651,0.003394,0.087021,0.001362,...,0.000337,0.000000,0.012232,0.010050,0.029412,0.030864,0.0,0.000000,0.000000,0.000000
2020-09-04,0.000000,0.016611,0.006540,0.0,0.017699,0.0,0.027988,0.004510,0.014925,0.000000,...,0.000240,0.022727,0.021148,0.024876,0.000000,0.017964,0.0,0.001751,0.000000,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,0.002874,0.025914,0.008034,0.001101,0.028598,0.0,0.023199,0.007170,0.000138,0.010821,...,0.019310,0.009866,0.003187,0.022677,0.014966,0.009454,0.0,0.012931,0.001307,0.001717
2020-09-03,0.002558,0.026872,0.008190,0.000000,0.026009,0.0,0.021966,0.005798,0.010235,0.014736,...,0.004592,0.002791,0.010513,0.016586,0.012064,0.039527,0.0,0.004255,0.005916,0.002476
2020-09-04,0.010990,0.026169,0.007905,0.020902,0.020105,0.0,0.028407,0.010346,0.011774,0.014149,...,0.003429,0.006263,0.007759,0.016636,0.022517,0.021249,0.0,0.011864,0.000865,0.015580

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-02,0.004882,0.012271,NaN,0.002565,0.010000,0.007915,0.004225,0.001924,0.000798,0.0,...,0.009608,0.006482,0.007996,0.001223,0.000875,0.007607,0.005845,0.013792,0.007116,0.009551
2020-09-03,0.008157,0.019023,NaN,0.005383,0.015601,0.006567,0.004621,0.001902,0.005926,0.0,...,0.010866,0.005557,0.009541,0.000000,0.005245,0.009133,0.006355,0.018484,0.009426,0.007671
2020-09-04,0.008570,0.021962,NaN,0.003569,0.017343,0.006397,0.000000,0.002932,0.005608,0.0,...,0.006587,0.009185,0.009620,0.003054,0.000000,0.008905,0.006315,0.017227,0.019241,0.012433

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-02     -0.006647  0.002925 -0.019078  0.005576 -0.008612 -0.001848
2020-09-03      0.002974  0.008300 -0.004862  0.001848  0.000965  0.001852
2020-09-04      0.004448  0.004004  0.003257  0.005535  0.011572  0.000000

Province_State                                          ...   Wyoming         \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park Platte
2020-09-02     -0.001190  0.000830 -0.014874  0.002833  ...  0.017964    0.0
2020-09-03      0.002384  0.014090 -0.012776  0.000000  ...  0.005882    0.0
2020-09-04      0.008323  0.022885  0.000000  0.022599  ...  0.005848    0.0

Province_State                                                                \
Admin2          Sheridan  Sublette Sweetwater     Teton     Uinta Unassigned
2020-09-02      0.026667  0.000000   0.006623  0.006977  0.006645       -1.0
2020-09-03      0.019481  0.020833   0.000000  0.004619  0.006601        NaN
2020-09-04      0.082803 -0.020408   0.009868  0.011494  0.009836        NaN

Province_State
Admin2          Washakie    Weston
2020-09-02      0.009259  0.727273
2020-09-03      0.000000  0.052632
2020-09-04      0.009174  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-02,0.007727,0.000000,NaN,0.004163,0.033170,0.012700,0.003083,0.000224,0.001653,NaN,...,0.008984,0.014320,0.002445,0.0,0.000000,0.011103,0.002071,0.040179,0.010619,0.108108
2020-09-03,0.007217,0.025641,NaN,0.012833,0.023781,0.013216,0.001537,0.000224,0.000000,NaN,...,0.010017,0.014652,0.009756,0.0,0.066667,0.004165,0.005168,0.030043,0.003503,0.000000
2020-09-04,0.014778,0.000000,NaN,0.007992,0.013937,0.010746,0.000000,0.000000,0.000000,NaN,...,0.012121,0.009777,0.012077,0.0,0.000000,0.003771,0.004113,0.020833,0.006108,0.024390

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                \
Admin2         Autauga   Baldwin Barbour      Bibb    Blount Bullock
2020-09-02         0.0  0.000000     0.0  0.000000  0.000000     0.0
2020-09-03         0.0  0.052632     0.0 -0.142857  0.000000     0.0
2020-09-04         0.0  0.050000     0.0  0.000000  0.090909     0.0

Province_State                                        ... Wyoming         \
Admin2            Butler  Calhoun  Chambers Cherokee  ...    Park Platte
2020-09-02      0.000000  0.00000  0.000000      0.0  ...     inf    inf
2020-09-03      0.000000 -0.03125  0.000000      0.0  ...     0.0    0.0
2020-09-04      0.027778  0.00000  0.025641      0.0  ...     0.0    0.0

Province_State                                                               \
Admin2         Sheridan Sublette Sweetwater Teton Uinta Unassigned Washakie
2020-09-02          inf      inf        inf   inf   inf       -1.0      inf
2020-09-03          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2020-09-04          0.0      0.0        0.0   0.0   0.0        NaN      0.0

Province_State
Admin2         Weston
2020-09-02        NaN
2020-09-03        NaN
2020-09-04        NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,0.000878,0.012010,0.007594,0.014345,0.020909,3.385182e-07,0.024658,0.003315,0.004268,0.010228,...,0.004296,0.008951,0.007569,0.022369,0.001586,0.024759,1.176435e-23,0.004789,0.009440,0.010610
2020-09-03,0.001027,0.011967,0.007240,0.007173,0.015496,5.319318e-03,0.026021,0.003881,0.003804,0.012318,...,0.004757,0.007551,0.006742,0.021352,0.000793,0.024861,5.882173e-24,0.003154,0.009070,0.008318
2020-09-04,0.000723,0.012231,0.006963,0.010259,0.020404,2.659659e-03,0.024850,0.004086,0.003260,0.012451,...,0.005264,0.008971,0.007002,0.021663,0.001831,0.026141,2.941087e-24,0.002588,0.009166,0.016064

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,0.001816,0.019525,0.004498,4.584973e-09,0.017971,3.615350e-43,0.023631,0.003170,0.020224,0.000343,...,0.000166,0.000778,0.013641,0.016272,0.010359,0.024353,0.0,0.003294,0.006467,0.014003
2020-09-03,0.000908,0.018208,0.004219,2.292486e-09,0.013450,1.807675e-43,0.025141,0.003282,0.053623,0.000853,...,0.000251,0.000389,0.012937,0.013161,0.019885,0.027609,0.0,0.001647,0.003233,0.007001
2020-09-04,0.000454,0.017410,0.005380,1.146243e-09,0.015575,9.038375e-44,0.026565,0.003896,0.034274,0.000426,...,0.000246,0.011558,0.017042,0.019018,0.009943,0.022786,0.0,0.001699,0.001617,0.003501

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-02,0.002825,0.028646,0.008189,0.001613,0.019575,0.001406,0.023545,0.008649,0.006944,0.011171,...,0.018925,0.010810,0.006806,0.024357,0.022893,0.013832,6.893172e-26,0.014671,0.003950,0.006120
2020-09-03,0.002692,0.027759,0.008189,0.000807,0.022792,0.000703,0.022756,0.007224,0.008589,0.012953,...,0.011759,0.006801,0.008659,0.020472,0.017479,0.026680,3.446586e-26,0.009463,0.004933,0.004298
2020-09-04,0.006841,0.026964,0.008047,0.010854,0.021448,0.000351,0.025581,0.008785,0.010182,0.013551,...,0.007594,0.006532,0.008209,0.018554,0.019998,0.023964,1.723293e-26,0.010664,0.002899,0.009939

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-02,0.007830,0.010300,NaN,0.002316,0.008178,0.007020,0.004635,0.002564,0.003113,2.274693e-52,...,0.009534,0.006741,0.007094,0.003770,0.005537,0.007883,0.005324,0.016875,0.008388,0.008003
2020-09-03,0.007993,0.014662,NaN,0.003849,0.011889,0.006794,0.004628,0.002233,0.004519,1.137347e-52,...,0.010200,0.006149,0.008318,0.001885,0.005391,0.008508,0.005839,0.017679,0.008907,0.007837
2020-09-04,0.008282,0.018312,NaN,0.003709,0.014616,0.006595,0.002314,0.002582,0.005064,5.686733e-53,...,0.008394,0.007667,0.008969,0.002470,0.002696,0.008707,0.006077,0.017453,0.014074,0.010135

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-02      0.000269  0.005538 -0.008490  0.006338  0.001644  0.001681
2020-09-03      0.001622  0.006919 -0.006676  0.004093  0.001305  0.001766
2020-09-04      0.003035  0.005462 -0.001709  0.004814  0.006438  0.000883

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-02      0.001787  0.007639 -0.006195  0.008130  ...  0.016938
2020-09-03      0.002085  0.010865 -0.009485  0.004065  ...  0.011410
2020-09-04      0.005204  0.016875 -0.004743  0.013332  ...  0.008629

Province_State                                                         \
Admin2                Platte  Sheridan  Sublette Sweetwater     Teton
2020-09-02      2.638499e-06  0.019542  0.000042   0.004873  0.004778
2020-09-03      1.319249e-06  0.019511  0.010438   0.002436  0.004698
2020-09-04      6.596247e-07  0.051157 -0.004985   0.006152  0.008096

Province_State
Admin2             Uinta Unassigned  Washakie    Weston
2020-09-02      0.007998  -0.495957  0.004639  0.363637
2020-09-03      0.007299  -0.495957  0.002319  0.208125
2020-09-04      0.008568  -0.495957  0.005747  0.104059

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-02,0.008430,0.013895,NaN,0.003580,0.026247,0.010387,0.002020,0.000173,0.001044,NaN,...,0.010581,0.011875,0.002736,6.587568e-11,0.018741,0.009671,0.003970,0.033758,0.007584,0.054069
2020-09-03,0.007824,0.019768,NaN,0.008206,0.025014,0.011802,0.001778,0.000198,0.000522,NaN,...,0.010299,0.013264,0.006246,3.293784e-11,0.042704,0.006918,0.004569,0.031901,0.005543,0.027034
2020-09-04,0.011301,0.009884,NaN,0.008099,0.019476,0.011274,0.000889,0.000099,0.000261,NaN,...,0.011210,0.011520,0.009162,1.646892e-11,0.021352,0.005344,0.004341,0.026367,0.005826,0.025712

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-09-02      0.011364  0.008662  0.000005  0.026445  0.024584
2020-09-03      0.005682  0.030647  0.000003 -0.058206  0.012292
2020-09-04      0.002841  0.040323  0.000001 -0.029103  0.051601

Province_State                                                            ...  \
Admin2               Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2020-09-02      1.387163e-06  4.258633e-10  0.024455  0.000411  0.001744  ...
2020-09-03      6.935813e-07  2.129316e-10 -0.003397  0.000206  0.000872  ...
2020-09-04      3.467907e-07  1.388889e-02 -0.001699  0.012923  0.000436  ...

Province_State Wyoming                                                  \
Admin2            Park Platte Sheridan Sublette Sweetwater Teton Uinta
2020-09-02         NaN    NaN      NaN      NaN        NaN   NaN   NaN
2020-09-03         0.0    0.0      0.0      0.0        0.0   0.0   0.0
2020-09-04         0.0    0.0      0.0      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned Washakie Weston
2020-09-02      -0.499985      NaN    NaN
2020-09-03      -0.499985      0.0    NaN
2020-09-04      -0.499985      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200904,AK,6469,375468,NaN,43.0,NaN,NaN,NaN,4.0,...,381937,0,0,2b4eb72db67b0e8d4a3430b66b0b633765557c4c,0,0,0,0,0,NaN
1,20200904,AL,130393,840020,NaN,880.0,14801.0,NaN,1525.0,NaN,...,970413,33,0,02ed34a46f7d2c61941b56baf195c8cb5640e3ac,0,0,0,0,0,NaN
2,20200904,AR,64175,684236,NaN,401.0,4422.0,NaN,NaN,86.0,...,748411,12,36,0b2262c0ac8947f971e900a5621bd45aaea4a350,0,0,0,0,0,NaN
3,20200904,AS,0,1514,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,f60826de4e95b3f4a2a0f00c53e1bde01483b6c9,0,0,0,0,0,NaN
4,20200904,AZ,204681,1032247,NaN,742.0,21498.0,236.0,NaN,145.0,...,1236928,41,24,b749495cc765e579f3715f82a868ecc84bb8c6e3,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200904,AK,6469.0,375468.0,NaN,43.0,NaN,NaN,NaN,4.0,...,381937,0,0,2b4eb72db67b0e8d4a3430b66b0b633765557c4c,0,0,0,0,0,NaN
1,20200904,AL,130393.0,840020.0,NaN,880.0,14801.0,NaN,1525.0,NaN,...,970413,33,0,02ed34a46f7d2c61941b56baf195c8cb5640e3ac,0,0,0,0,0,NaN
2,20200904,AR,64175.0,684236.0,NaN,401.0,4422.0,NaN,NaN,86.0,...,748411,12,36,0b2262c0ac8947f971e900a5621bd45aaea4a350,0,0,0,0,0,NaN
3,20200904,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,f60826de4e95b3f4a2a0f00c53e1bde01483b6c9,0,0,0,0,0,NaN
4,20200904,AZ,204681.0,1032247.0,NaN,742.0,21498.0,236.0,NaN,145.0,...,1236928,41,24,b749495cc765e579f3715f82a868ecc84bb8c6e3,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-04,AK,6469,375468,NaN,43.0,NaN,NaN,NaN,4.0,NaN,...,381937,0,0,2b4eb72db67b0e8d4a3430b66b0b633765557c4c,0,0,0,0,0,NaN
2020-09-04,AL,130393,840020,NaN,880.0,14801.0,NaN,1525.0,NaN,839.0,...,970413,33,0,02ed34a46f7d2c61941b56baf195c8cb5640e3ac,0,0,0,0,0,NaN
2020-09-04,AR,64175,684236,NaN,401.0,4422.0,NaN,NaN,86.0,564.0,...,748411,12,36,0b2262c0ac8947f971e900a5621bd45aaea4a350,0,0,0,0,0,NaN
2020-09-04,AS,0,1514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,f60826de4e95b3f4a2a0f00c53e1bde01483b6c9,0,0,0,0,0,NaN
2020-09-04,AZ,204681,1032247,NaN,742.0,21498.0,236.0,NaN,145.0,NaN,...,1236928,41,24,b749495cc765e579f3715f82a868ecc84bb8c6e3,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-04,AK,6469.0,375468.0,NaN,43.0,NaN,NaN,NaN,4.0,NaN,...,381937,0,0,2b4eb72db67b0e8d4a3430b66b0b633765557c4c,0,0,0,0,0,NaN
2020-09-04,AL,130393.0,840020.0,NaN,880.0,14801.0,NaN,1525.0,NaN,839.0,...,970413,33,0,02ed34a46f7d2c61941b56baf195c8cb5640e3ac,0,0,0,0,0,NaN
2020-09-04,AR,64175.0,684236.0,NaN,401.0,4422.0,NaN,NaN,86.0,564.0,...,748411,12,36,0b2262c0ac8947f971e900a5621bd45aaea4a350,0,0,0,0,0,NaN
2020-09-04,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,f60826de4e95b3f4a2a0f00c53e1bde01483b6c9,0,0,0,0,0,NaN
2020-09-04,AZ,204681.0,1032247.0,NaN,742.0,21498.0,236.0,NaN,145.0,NaN,...,1236928,41,24,b749495cc765e579f3715f82a868ecc84bb8c6e3,0,0,0,0,0,NaN