# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'07-26-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'07-26-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-07-27 04:21:18,33.93911,67.709953,144285,6477,82586.0,55222.0,Afghanistan,370.642561,4.489032
1,NaN,NaN,NaN,Albania,2021-07-27 04:21:18,41.15330,20.168300,132891,2456,130152.0,283.0,Albania,4617.798318,1.848131
2,NaN,NaN,NaN,Algeria,2021-07-27 04:21:18,28.03390,1.659600,163660,4087,111322.0,48251.0,Algeria,373.218033,2.497250
3,NaN,NaN,NaN,Andorra,2021-07-27 04:21:18,42.50630,1.521800,14577,127,14077.0,373.0,Andorra,18866.239565,0.871236
4,NaN,NaN,NaN,Angola,2021-07-27 04:21:18,-11.20270,17.873900,41879,991,35686.0,5202.0,Angola,127.422438,2.366341

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/17/21,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,137853,137853,141489,142414,142414,143183,143439,143439,143439,144285
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132665,132686,132697,132740,132763,132797,132828,132853,132875,132891
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,152210,153309,154486,155784,157005,158213,159563,160868,162155,163660

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/17/21,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,5983,5983,6213,6266,6266,6325,6357,6357,6357,6477
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2456,2456,2456,2456,2456,2456,2456,2456,2456,2456
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3922,3938,3956,3979,3994,4008,4026,4042,4063,4087

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/17/21,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,82586
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,130072,130074,130081,130086,130097,130109,130118,130125,130139,130152
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,104992,105604,106337,107041,107776,108537,109349,109951,110577,111322

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/17/21,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7346,7347,7350,7365,7375,7388,7394,7402,7419,7435
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,22734,22802,22876,23032,23184,23319,23487,23668,23810,23922
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2389,2394,2396,2411,2415,2418,2422,2431,2434,2437

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/17/21,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,113,113,113,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,323,323,323,324,324,324,324,325,325,325
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,60,60,60,60,60,60,60,61,61,61

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-07-27 04:21:18,32.539527,-86.644082,7435,113,NaN,NaN,"Autauga, Alabama, US",13307.916734,1.519839
693,1075.0,Lamar,Alabama,US,2021-07-27 04:21:18,33.779950,-88.096680,1495,38,NaN,NaN,"Lamar, Alabama, US",10829.409634,2.541806
694,1077.0,Lauderdale,Alabama,US,2021-07-27 04:21:18,34.901719,-87.656247,10009,253,NaN,NaN,"Lauderdale, Alabama, US",10793.818547,2.527725

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               34533179  610952         0.0
India            31411262  420967  30579106.0
Brazil           19707662  550502  17704701.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,34533179,610952,0.0,33922227.0,2021-07-27 04:21:18,37.950547,-91.419547
India,31411262,420967,30579106.0,411189.0,2021-07-27 04:21:18,23.088275,81.806127
Brazil,19707662,550502,17704701.0,1452459.0,2021-07-27 04:21:18,-12.669522,-48.480493
Russia,6071893,152069,5440451.0,479373.0,2021-07-27 04:21:18,54.546312,62.120860
France,6061802,111851,410903.0,5539048.0,2021-07-27 04:21:18,6.430808,-34.730285

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3917610   64267        0.0
Texas             3083368   53037        0.0
Florida           2523510   38670        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3917610,64267,0.0,3853343.0,2021-07-27 04:21:18,37.843962,-120.728594
Texas,3083368,53037,0.0,3030331.0,2021-07-27 04:21:18,31.660643,-98.653069
Florida,2523510,38670,0.0,2484840.0,2021-07-27 04:21:18,28.940755,-82.700744
New York,2138643,53610,0.0,2085033.0,2021-07-27 04:21:18,42.544151,-75.474183
Illinois,1411821,25842,0.0,1385979.0,2021-07-27 04:21:18,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1285771   24643        0.0
Arizona        Maricopa        576443   10415        0.0
Illinois       Cook            562216   10554        0.0
Florida        Miami-Dade      533821    6472        0.0
Texas          Harris          413404    6684        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1285771,24643,0.0,1261128.0,2021-07-27 04:21:18,34.308284,-118.228241,6037.0
Arizona,Maricopa,576443,10415,0.0,566028.0,2021-07-27 04:21:18,33.348359,-112.491815,4013.0
Illinois,Cook,562216,10554,0.0,551662.0,2021-07-27 04:21:18,41.841448,-87.816588,17031.0
Florida,Miami-Dade,533821,6472,0.0,527349.0,2021-07-27 04:21:18,25.611236,-80.551706,12086.0
Texas,Harris,413404,6684,0.0,406720.0,2021-07-27 04:21:18,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,143439,132853,160868,14498,41736,1280,4839109,228632,32918,655938,...,5694462,380311,123559,4,298804,94913,315968,7008,191527,97277
2021-07-25,143439,132875,162155,14498,41780,1280,4846615,228798,33082,656270,...,5723399,380431,124290,4,299822,101173,316088,7012,192071,97894
2021-07-26,144285,132891,163660,14577,41879,1280,4859170,228910,33266,656582,...,5748331,380584,124995,4,300919,106347,316088,7012,192316,99944

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,6357,2456,4042,127,982,43,103584,4584,918,10731,...,129418,5927,826,1,3475,370,3596,1373,3250,3050
2021-07-25,6357,2456,4063,127,984,43,103721,4587,918,10731,...,129446,5931,832,1,3492,370,3599,1373,3272,3094
2021-07-26,6477,2456,4087,127,991,43,104105,4590,922,10732,...,129460,5936,839,1,3509,524,3599,1373,3295,3173

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,82586,130125,109951,13988,35423,1229,4480336,218958,24001,640685,...,18216,371463,117962,3,282201,17583,311380,4166,180535,64628
2021-07-25,82586,130139,110577,13988,35474,1229,4493984,219062,24001,640951,...,18226,371822,118638,3,283215,19342,311526,4166,181638,65913
2021-07-26,82586,130152,111322,14077,35686,1229,4508137,219168,24008,641222,...,18546,372181,119449,3,284435,21344,311526,4166,182665,67827

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/17/21,7/18/21,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7346,7347,7350,7365,7375,7388,7394,7402,7419,7435
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1483,1485,1485,1486,1489,1491,1491,1494,1495,1495
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9793,9805,9813,9830,9872,9883,9918,9968,9991,10009
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3162,3164,3164,3165,3170,3176,3183,3188,3192,3197
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16561,16574,16587,16630,16666,16691,16722,16753,16801,16828

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-24,569131,73818,0,915660,374328,3903052,569289,352037,110729,49,...,880789,3076115,426418,24676,4375,688300,466235,165702,682077,64251
2021-07-25,570667,73818,0,917168,375350,3905990,569289,352037,110797,49,...,880789,3077513,426418,24676,4375,688300,466235,165702,682077,64251
2021-07-26,572070,74383,0,918609,375971,3917610,571087,352626,110862,49,...,884417,3083368,428687,24748,4403,690183,469308,166108,683041,64451

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-07-24        7402   23668    2431  2795   7182    1256   2356   15107
2021-07-25        7419   23810    2434  2801   7184    1256   2361   15130
2021-07-26        7435   23922    2437  2814   7195    1256   2365   15158

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-24         3842     1938  ...    2940    739     3290      838
2021-07-25         3852     1939  ...    2940    739     3290      838
2021-07-26         3857     1939  ...    2946    742     3297      842

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-24           4940  3868  2372          0      943    672
2021-07-25           4940  3868  2372          0      943    672
2021-07-26           4955  3881  2382          0      944    677

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-24,11483,384,0,18170,6048,64231,6910,8286,1698,0,...,12664,53006,2425,259,35,11500,6078,2936,8240,766
2021-07-25,11483,384,0,18171,6054,64235,6910,8286,1698,0,...,12664,53018,2425,259,35,11500,6078,2936,8240,766
2021-07-26,11483,384,0,18171,6077,64267,6924,8288,1698,0,...,12683,53037,2434,259,35,11506,6089,2936,8253,766

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-07-24         113     325      61   65    139      42     72     332
2021-07-25         113     325      61   65    139      42     72     332
2021-07-26         113     325      61   65    139      42     72     332

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-24          125       48  ...      33     14       31        7
2021-07-25          125       48  ...      33     14       31        7
2021-07-26          125       48  ...      33     14       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-24             43    11    13          0       26      6
2021-07-25             43    11    13          0       26      6
2021-07-26             43    11    13          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,0.000000,0.000188,0.008179,0.000000,0.002570,0.002349,0.002307,0.001095,0.005038,0.000532,...,0.005584,0.000421,0.006296,0.0,0.006538,0.091493,0.00000,0.000714,0.004785,0.016627
2021-07-25,0.000000,0.000166,0.008000,0.000000,0.001054,0.000000,0.001551,0.000726,0.004982,0.000506,...,0.005082,0.000316,0.005916,0.0,0.003407,0.065955,0.00038,0.000571,0.002840,0.006343
2021-07-26,0.005898,0.000120,0.009281,0.005449,0.002370,0.000000,0.002590,0.000490,0.005562,0.000475,...,0.004356,0.000402,0.005672,0.0,0.003659,0.051140,0.00000,0.000000,0.001276,0.020941

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,0.000000,0.0,0.003974,0.0,0.001019,0.02381,0.002177,0.001092,0.002183,0.000093,...,0.000680,0.001352,0.008547,0.0,0.009294,0.000000,0.000000,0.000729,0.009003,0.030057
2021-07-25,0.000000,0.0,0.005195,0.0,0.002037,0.00000,0.001323,0.000654,0.000000,0.000000,...,0.000216,0.000675,0.007264,0.0,0.004892,0.000000,0.000834,0.000000,0.006769,0.014426
2021-07-26,0.018877,0.0,0.005907,0.0,0.007114,0.00000,0.003702,0.000654,0.004357,0.000093,...,0.000108,0.000843,0.008413,0.0,0.004868,0.416216,0.000000,0.000000,0.007029,0.025533

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,0.0,0.000054,0.005505,0.000000,0.003939,0.003265,0.003438,0.000740,0.000625,0.000398,...,0.043897,0.000935,0.005618,0.0,0.006893,0.131758,0.000000,0.000721,0.007613,0.026069
2021-07-25,0.0,0.000108,0.005693,0.000000,0.001440,0.000000,0.003046,0.000475,0.000000,0.000415,...,0.000549,0.000966,0.005731,0.0,0.003593,0.100040,0.000469,0.000000,0.006110,0.019883
2021-07-26,0.0,0.000100,0.006737,0.006363,0.005976,0.000000,0.003149,0.000484,0.000292,0.000423,...,0.017557,0.000966,0.006836,0.0,0.004308,0.103505,0.000000,0.000000,0.005654,0.029038

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-24,0.003328,0.000881,NaN,0.001672,0.005412,0.002182,0.000000,0.000000,0.000823,0.0,...,0.000000,0.001697,0.000000,0.000000,0.008994,0.000000,0.000292,0.00000,0.000000,0.000000
2021-07-25,0.002699,0.000000,NaN,0.001647,0.002730,0.000753,0.000000,0.000000,0.000614,0.0,...,0.000000,0.000454,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
2021-07-26,0.002459,0.007654,NaN,0.001571,0.001654,0.002975,0.003158,0.001673,0.000587,0.0,...,0.004119,0.001903,0.005321,0.002918,0.006400,0.002736,0.006591,0.00245,0.001413,0.003113

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-07-24      0.001082  0.007706  0.003716  0.004673  0.002933  0.000797
2021-07-25      0.002297  0.006000  0.001234  0.002147  0.000278  0.000000
2021-07-26      0.002157  0.004704  0.001233  0.004641  0.001531  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-07-24      0.004263  0.003787  0.003395  0.005708  ...  0.000000
2021-07-25      0.002122  0.001522  0.002603  0.000516  ...  0.000000
2021-07-26      0.001694  0.001851  0.001298  0.000000  ...  0.002041

Province_State                                                              \
Admin2           Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-07-24      0.00000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-07-25      0.00000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-07-26      0.00406  0.002128  0.004773   0.003036  0.003361  0.004216

Province_State
Admin2         Unassigned Washakie   Weston
2021-07-24            NaN  0.00000  0.00000
2021-07-25            NaN  0.00000  0.00000
2021-07-26            NaN  0.00106  0.00744

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-24,0.000959,0.0,NaN,0.001433,0.001159,0.000047,0.000000,0.000000,0.0,NaN,...,0.0000,0.000453,0.000000,0.0,0.0,0.000000,0.001978,0.0,0.000000,0.0
2021-07-25,0.000000,0.0,NaN,0.000055,0.000992,0.000062,0.000000,0.000000,0.0,NaN,...,0.0000,0.000226,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
2021-07-26,0.000000,0.0,NaN,0.000000,0.003799,0.000498,0.002026,0.000241,0.0,NaN,...,0.0015,0.000358,0.003711,0.0,0.0,0.000522,0.001810,0.0,0.001578,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                         \
Admin2         Autauga   Baldwin   Barbour Bibb Blount Bullock Butler Calhoun
2021-07-24         0.0  0.003086  0.016667  0.0    0.0     0.0    0.0     0.0
2021-07-25         0.0  0.000000  0.000000  0.0    0.0     0.0    0.0     0.0
2021-07-26         0.0  0.000000  0.000000  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-24          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-07-25          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-07-26          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-24            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-25            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-26            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,0.001757,0.000209,0.008170,0.001475,0.003626,0.001459,0.002684,0.001017,0.004995,0.000573,...,0.006315,0.000548,0.006076,8.414516e-30,0.004260,0.096826,0.000104,0.00059,0.005024,0.021108
2021-07-25,0.000879,0.000187,0.008085,0.000737,0.002340,0.000729,0.002118,0.000871,0.004988,0.000539,...,0.005698,0.000432,0.005996,4.207258e-30,0.003833,0.081391,0.000242,0.00058,0.003932,0.013725
2021-07-26,0.003388,0.000154,0.008683,0.003093,0.002355,0.000365,0.002354,0.000680,0.005275,0.000507,...,0.005027,0.000417,0.005834,2.103629e-30,0.003746,0.066265,0.000121,0.00029,0.002604,0.017333

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,0.003336,8.065494e-13,0.004095,8.548938e-28,0.002513,0.011905,0.002588,0.000879,0.001252,0.000059,...,0.000612,0.001264,0.007215,0.0,0.006026,0.013371,0.000394,0.000507,0.008847,0.028456
2021-07-25,0.001668,4.032747e-13,0.004645,4.274469e-28,0.002275,0.005952,0.001956,0.000767,0.000626,0.000030,...,0.000414,0.000969,0.007239,0.0,0.005459,0.006685,0.000614,0.000254,0.007808,0.021441
2021-07-26,0.010272,2.016373e-13,0.005276,2.137235e-28,0.004694,0.002976,0.002829,0.000710,0.002492,0.000061,...,0.000261,0.000906,0.007826,0.0,0.005164,0.211451,0.000307,0.000127,0.007419,0.023487

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-24,3.619369e-06,0.000063,0.006340,0.000659,0.004242,0.001649,0.003481,0.000604,0.000428,0.000355,...,0.027945,0.001102,0.005373,2.019484e-28,0.004576,0.125446,0.000416,0.000441,0.008522,0.026536
2021-07-25,1.809685e-06,0.000086,0.006017,0.000330,0.002841,0.000824,0.003264,0.000540,0.000214,0.000385,...,0.014247,0.001034,0.005552,1.009742e-28,0.004085,0.112743,0.000443,0.000220,0.007316,0.023209
2021-07-26,9.048424e-07,0.000093,0.006377,0.003346,0.004409,0.000412,0.003206,0.000512,0.000253,0.000404,...,0.015902,0.001000,0.006194,5.048710e-29,0.004196,0.108124,0.000221,0.000110,0.006485,0.026124

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-24,0.003080,0.002248,NaN,0.001554,0.005211,0.001726,0.000594,0.000335,0.000686,3.327931e-150,...,0.000804,0.001884,0.000472,0.000571,0.008011,0.000513,0.001083,0.000457,0.000334,0.000988
2021-07-25,0.002889,0.001124,NaN,0.001601,0.003971,0.001240,0.000297,0.000168,0.000650,1.663965e-150,...,0.000402,0.001169,0.000236,0.000285,0.004006,0.000257,0.000542,0.000229,0.000167,0.000494
2021-07-26,0.002674,0.004389,NaN,0.001586,0.002812,0.002107,0.001728,0.000920,0.000618,8.319827e-151,...,0.002260,0.001536,0.002779,0.001602,0.005203,0.001496,0.003566,0.001339,0.000790,0.001803

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-07-24      0.001129  0.007112  0.002771  0.004959  0.002478  0.000851
2021-07-25      0.001713  0.006556  0.002003  0.003553  0.001378  0.000426
2021-07-26      0.001935  0.005630  0.001618  0.004097  0.001455  0.000213

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-07-24      0.004230  0.002857  0.003199  0.003916  ...  0.000389
2021-07-25      0.003176  0.002190  0.002901  0.002216  ...  0.000194
2021-07-26      0.002435  0.002020  0.002099  0.001108  ...  0.001118

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-07-24      0.004113  0.000101  0.002232   0.001108  0.000744  0.001248
2021-07-25      0.002056  0.000050  0.001116   0.000554  0.000372  0.000624
2021-07-26      0.003058  0.001089  0.002945   0.001795  0.001867  0.002420

Province_State
Admin2         Unassigned  Washakie    Weston
2021-07-24           -1.0  0.001773  0.001145
2021-07-25           -1.0  0.000887  0.000572
2021-07-26           -1.0  0.000974  0.004006

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-24,0.000692,0.001474,NaN,0.000927,0.001319,0.000172,0.000510,0.000061,0.000149,NaN,...,0.000376,0.000592,0.000232,0.000061,0.008553,0.000217,0.001198,0.000794,0.000355,0.000250
2021-07-25,0.000346,0.000737,NaN,0.000491,0.001156,0.000117,0.000255,0.000030,0.000074,NaN,...,0.000188,0.000409,0.000116,0.000030,0.004276,0.000108,0.000599,0.000397,0.000177,0.000125
2021-07-26,0.000173,0.000368,NaN,0.000245,0.002477,0.000308,0.001141,0.000136,0.000037,NaN,...,0.000844,0.000384,0.001914,0.000015,0.002138,0.000315,0.001204,0.000199,0.000878,0.000062

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                                  \
Admin2               Autauga   Baldwin   Barbour          Bibb        Blount
2021-07-24      3.622673e-17  0.001651  0.008333  5.960464e-08  3.106638e-24
2021-07-25      1.811337e-17  0.000825  0.004167  2.980232e-08  1.553319e-24
2021-07-26      9.056683e-18  0.000413  0.002083  1.490116e-08  7.766595e-25

Province_State                                                       ...  \
Admin2               Bullock    Butler   Calhoun  Chambers Cherokee  ...
2021-07-24      1.033032e-23  0.003521  0.000094  0.002020  0.00532  ...
2021-07-25      5.165158e-24  0.001761  0.000047  0.001010  0.00266  ...
2021-07-26      2.582579e-24  0.000880  0.000024  0.000505  0.00133  ...

Province_State       Wyoming                                                   \
Admin2                  Park    Platte      Sheridan      Sublette Sweetwater
2021-07-24      6.059806e-08  0.000019  1.224722e-41  5.380316e-62   0.001530
2021-07-25      3.029903e-08  0.000009  6.123612e-42  2.690158e-62   0.000765
2021-07-26      1.514951e-08  0.000005  3.061806e-42  1.345079e-62   0.000383

Province_State                                                       \
Admin2                 Teton         Uinta Unassigned      Washakie
2021-07-24      3.157968e-15  1.723293e-26   0.752941  3.342881e-54
2021-07-25      1.578984e-15  8.616465e-27   0.752941  1.671440e-54
2021-07-26      7.894919e-16  4.308232e-27   0.752941  8.357202e-55

Province_State
Admin2                Weston
2021-07-24      2.842171e-15
2021-07-25      1.421085e-15
2021-07-26      7.105427e-16

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN