# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'10-09-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'10-09-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-10-10 04:23:57,33.93911,67.709953,39693,1472,33058,5163.0,Afghanistan,101.964273,3.708462
1,NaN,NaN,NaN,Albania,2020-10-10 04:23:57,41.15330,20.168300,15066,413,9304,5349.0,Albania,523.524915,2.741272
2,NaN,NaN,NaN,Algeria,2020-10-10 04:23:57,28.03390,1.659600,52804,1789,37067,13948.0,Algeria,120.416748,3.388001
3,NaN,NaN,NaN,Andorra,2020-10-10 04:23:57,42.50630,1.521800,2696,55,1814,827.0,Andorra,3489.290105,2.040059
4,NaN,NaN,NaN,Angola,2020-10-10 04:23:57,-11.20270,17.873900,6031,212,2685,3134.0,Angola,18.350121,3.515172

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39268,39285,39290,39297,39341,39422,39486,39548,39616,39693
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,13649,13806,13965,14117,14266,14410,14568,14730,14899,15066
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,51530,51690,51847,51995,52136,52270,52399,52520,52658,52804

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1458,1458,1458,1462,1462,1466,1467,1469,1470,1472
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,387,388,389,392,396,400,403,407,411,413
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1736,1741,1749,1756,1760,1768,1768,1771,1783,1789

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32789,32842,32842,32842,32852,32879,32977,33045,33058,33058
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,7847,8077,8342,8536,8675,8825,8965,9115,9215,9304
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,36174,36282,36385,36482,36578,36672,36763,36857,36958,37067

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1791,1798,1805,1818,1828,1831,1839,1852,1863,1882
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5640,5997,6024,6048,6073,6085,6116,6134,6141,6172
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,896,898,902,921,921,921,923,927,927,939

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,27,28,27,27,27,27,27,27,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,52,53,53,53,53,53,55,56,64,64
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
632,1001.0,Autauga,Alabama,US,2020-10-10 04:23:57,32.539527,-86.644082,1882,28,0,1854.0,"Autauga, Alabama, US",3368.594390,1.487779
669,1075.0,Lamar,Alabama,US,2020-10-10 04:23:57,33.779950,-88.096680,407,3,0,404.0,"Lamar, Alabama, US",2948.207171,0.737101
670,1077.0,Lauderdale,Alabama,US,2020-10-10 04:23:57,34.901719,-87.656247,1894,37,0,1857.0,"Lauderdale, Alabama, US",2042.510973,1.953537

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                7663293  213752    3039089
India             6906151  106490    5906069
Brazil            5055888  149639    4502854

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,7663293,213752,3039089,4410452,2020-10-10 04:23:57,37.923092,-91.345036
India,6906151,106490,5906069,893592,2020-10-10 04:23:57,23.088275,81.806127
Brazil,5055888,149639,4502854,403395,2020-10-10 04:23:57,-12.669522,-48.480493
Russia,1265572,22137,1005199,238236,2020-10-10 04:23:57,54.546312,62.120860
Colombia,894300,27495,780547,86258,2020-10-10 04:23:57,5.349139,-74.190797

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         849076   16486          0
Texas              812191   16871          0
Florida            728921   15186          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,849076,16486,0,832590,2020-10-10 04:23:57,37.843962,-120.728594
Texas,812191,16871,0,795320,2020-10-10 04:23:57,31.660643,-98.653069
Florida,728921,15186,0,713735,2020-10-10 04:23:57,28.940755,-82.700744
New York,471696,33290,0,438406,2020-10-10 04:23:57,42.544151,-75.474183
Georgia,329032,7348,0,321684,2020-10-10 04:23:57,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     279909    6741          0
Florida        Miami-Dade      174112    3409          0
Illinois       Cook            152387    5289          0
Texas          Harris          150176    2668          0
Arizona        Maricopa        145298    3458          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,279909,6741,0,273168,2020-10-10 04:23:57,34.308284,-118.228241,6037.0
Florida,Miami-Dade,174112,3409,0,170703,2020-10-10 04:23:57,25.611236,-80.551706,12086.0
Illinois,Cook,152387,5289,0,147098,2020-10-10 04:23:57,41.841448,-87.816588,17031.0
Texas,Harris,150176,2668,0,147508,2020-10-10 04:23:57,29.858649,-95.393395,48201.0
Arizona,Maricopa,145298,3458,0,141840,2020-10-10 04:23:57,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,39548,14730,52520,2568,5725,108,840915,53755,27206,50848,...,546952,2206,59579,80404,1099,42840,10,2049,15224,7919
2020-10-08,39616,14899,52658,2568,5958,111,856369,54473,27226,52057,...,564502,2226,60026,81019,1100,43256,10,2050,15301,7951
2020-10-09,39693,15066,52804,2696,6031,111,871468,55087,27244,53188,...,578390,2251,60342,81696,1105,43664,10,2051,15339,7994

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,1469,407,1771,53,211,3,22226,995,897,830,...,42605,49,491,671,35,355,1,593,335,229
2020-10-08,1470,411,1783,54,208,3,22710,1004,897,838,...,42682,49,496,678,35,359,1,593,335,229
2020-10-09,1472,413,1789,55,212,3,23225,1010,897,842,...,42769,49,498,684,35,367,1,593,336,229

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,33045,9115,36857,1715,2598,97,670725,45110,24939,40499,...,2425,1890,56165,71531,1023,35953,8,1328,14342,6441
2020-10-08,33058,9215,36958,1715,2635,97,684844,45312,24971,41289,...,2474,1904,56837,72196,1023,36584,8,1329,14365,6446
2020-10-09,33058,9304,37067,1814,2685,97,697141,45528,24987,42039,...,2488,1917,57221,73020,1024,36922,8,1329,14439,6474

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1791,1798,1805,1818,1828,1831,1839,1852,1863,1882
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,382,386,393,397,400,402,403,402,404,407
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1759,1772,1787,1807,1815,1832,1851,1862,1880,1894
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,636,644,647,652,652,662,676,685,689,699
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6017,6043,6068,6117,6141,6156,6173,6218,6243,6268

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-07,161418,8878,0,222538,88880,841928,74899,59364,21550,49,...,207455,803690,80446,1827,1322,153451,91208,17150,138698,6899
2020-10-08,161975,9005,0,223401,90145,845270,75761,59748,21682,49,...,209447,807754,81947,1838,1324,155270,91918,17333,141830,7092
2020-10-09,163465,9182,0,224084,91312,849076,76595,60038,21827,49,...,211003,812191,83290,1846,1324,156372,92560,17707,144818,7335

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-07        1852    6134     927  703   1673     618    933    3743
2020-10-08        1863    6141     927  708   1681     619    932    3752
2020-10-09        1882    6172     939  719   1689     622    943    3803

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-07         1211      651  ...     284     54      352      127
2020-10-08         1222      654  ...     288     54      369      129
2020-10-09         1238      662  ...     304     58      389      130

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-07            378   633   368          0      119     50
2020-10-08            382   645   373          0      123     51
2020-10-09            393   656   378         10      123     54

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-07,2601,59,0,5733,1482,16338,2085,4522,649,0,...,2642,16661,496,58,20,3300,2177,375,1415,53
2020-10-08,2637,60,0,5743,1503,16418,2095,4527,651,0,...,2705,16767,501,58,20,3325,2183,376,1424,54
2020-10-09,2653,60,0,5746,1530,16486,2103,4530,651,0,...,2732,16871,505,58,20,3341,2190,382,1440,54

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-07          27      56       7   10     16      16     40      45
2020-10-08          28      64       9   12     16      16     40      45
2020-10-09          28      64       9   12     16      16     40      47

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-07           43       13  ...       2      1        4        1
2020-10-08           43       13  ...       2      1        4        1
2020-10-09           43       13  ...       2      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-07              2     1     2          0        6      0
2020-10-08              2     1     2          1        6      0
2020-10-09              2     1     2          1        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,0.001570,0.011120,0.002309,0.083544,0.000000,0.009346,0.019949,0.012659,0.000920,0.020655,...,0.026602,0.013321,0.003977,0.007619,0.000911,0.009615,0.0,0.000977,0.003560,0.000505
2020-10-08,0.001719,0.011473,0.002628,0.000000,0.040699,0.027778,0.018378,0.013357,0.000735,0.023777,...,0.032087,0.009066,0.007503,0.007649,0.000910,0.009711,0.0,0.000488,0.005058,0.004041
2020-10-09,0.001944,0.011209,0.002773,0.049844,0.012252,0.000000,0.017631,0.011272,0.000661,0.021726,...,0.024602,0.011231,0.005264,0.008356,0.004545,0.009432,0.0,0.000488,0.002483,0.005408

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,0.001363,0.009926,0.001697,0.000000,0.000000,0.0,0.018280,0.005051,0.0,0.009732,...,0.001646,0.0,0.004090,0.009023,0.0,0.017192,0.0,0.0,0.000000,0.0
2020-10-08,0.000681,0.009828,0.006776,0.018868,-0.014218,0.0,0.021776,0.009045,0.0,0.009639,...,0.001807,0.0,0.010183,0.010432,0.0,0.011268,0.0,0.0,0.000000,0.0
2020-10-09,0.001361,0.004866,0.003365,0.018519,0.019231,0.0,0.022677,0.005976,0.0,0.004773,...,0.002038,0.0,0.004032,0.008850,0.0,0.022284,0.0,0.0,0.002985,0.0

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,0.002062,0.016732,0.002557,0.061920,0.000000,0.010417,0.015831,0.003962,0.000883,0.017819,...,0.003310,0.006390,0.001909,0.011482,0.000000,0.009944,0.0,0.000754,0.002026,0.000155
2020-10-08,0.000393,0.010971,0.002740,0.000000,0.014242,0.000000,0.021050,0.004478,0.001283,0.019507,...,0.020206,0.007407,0.011965,0.009297,0.000000,0.017551,0.0,0.000753,0.001604,0.000776
2020-10-09,0.000000,0.009658,0.002949,0.057726,0.018975,0.000000,0.017956,0.004767,0.000641,0.018165,...,0.005659,0.006828,0.006756,0.011413,0.000978,0.009239,0.0,0.000000,0.005151,0.004344

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-07,0.005864,0.014397,NaN,0.002722,0.009186,0.004445,0.009842,0.002076,0.003913,0.0,...,0.010128,0.006413,0.012676,0.003295,0.000757,0.003308,0.006011,0.012277,0.017004,0.019055
2020-10-08,0.003451,0.014305,NaN,0.003878,0.014233,0.003969,0.011509,0.006469,0.006125,0.0,...,0.009602,0.005057,0.018658,0.006021,0.001513,0.011854,0.007784,0.010671,0.022581,0.027975
2020-10-09,0.009199,0.019656,NaN,0.003057,0.012946,0.004503,0.011008,0.004854,0.006688,0.0,...,0.007429,0.005493,0.016389,0.004353,0.000000,0.007097,0.006984,0.021577,0.021067,0.034264

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-07      0.007069  0.002943  0.004334  0.017366  0.004805  0.003247
2020-10-08      0.005940  0.001141  0.000000  0.007112  0.004782  0.001618
2020-10-09      0.010199  0.005048  0.012945  0.015537  0.004759  0.004847

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-07      0.005388  0.003485  0.000826  0.010870  ...  0.044118
2020-10-08     -0.001072  0.002404  0.009083  0.004608  ...  0.014085
2020-10-09      0.011803  0.013593  0.013093  0.012232  ...  0.055556

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-07      0.058824  0.017341  0.000000   0.018868  0.006359  0.000000
2020-10-08      0.000000  0.048295  0.015748   0.010582  0.018957  0.013587
2020-10-09      0.074074  0.054201  0.007752   0.028796  0.017054  0.013405

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-07            NaN -0.008333  0.086957
2020-10-08            NaN  0.033613  0.020000
2020-10-09            inf  0.000000  0.058824

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-07,0.008140,0.017241,NaN,0.003501,0.008850,0.005787,0.001922,0.000221,0.004644,NaN,...,0.008012,0.008047,0.016393,0.0,0.0,0.003650,0.005543,0.013514,0.011437,0.000000
2020-10-08,0.013841,0.016949,NaN,0.001744,0.014170,0.004897,0.004796,0.001106,0.003082,NaN,...,0.023846,0.006362,0.010081,0.0,0.0,0.007576,0.002756,0.002667,0.006360,0.018868
2020-10-09,0.006068,0.000000,NaN,0.000522,0.017964,0.004142,0.003819,0.000663,0.000000,NaN,...,0.009982,0.006203,0.007984,0.0,0.0,0.004812,0.003207,0.015957,0.011236,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour Bibb    Blount Bullock Butler
2020-10-07      0.000000  0.018182  0.000000  0.0  0.066667     0.0    0.0
2020-10-08      0.037037  0.142857  0.285714  0.2  0.000000     0.0    0.0
2020-10-09      0.000000  0.000000  0.000000  0.0  0.000000     0.0    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2020-10-07      0.000000  0.02381      0.0  ...     0.0    0.0      0.0
2020-10-08      0.000000  0.00000      0.0  ...     0.0    0.0      0.0
2020-10-09      0.044444  0.00000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-07          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-10-08          0.0        0.0   0.0   0.0        inf      0.0    NaN
2020-10-09          0.0        0.0   0.0   0.0        0.0      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,0.001532,0.010907,0.002447,0.057876,0.013752,0.005758,0.017927,0.010004,0.000710,0.019160,...,0.027742,0.011232,0.005412,0.008355,0.000855,0.010231,3.423875e-34,0.001272,0.004134,0.001117
2020-10-08,0.001626,0.011190,0.002537,0.028938,0.027225,0.016768,0.018152,0.011680,0.000723,0.021468,...,0.029914,0.010149,0.006457,0.008002,0.000882,0.009971,1.711938e-34,0.000880,0.004596,0.002579
2020-10-09,0.001785,0.011199,0.002655,0.039391,0.019739,0.008384,0.017892,0.011476,0.000692,0.021597,...,0.027258,0.010690,0.005861,0.008179,0.002714,0.009702,8.559689e-35,0.000684,0.003540,0.003993

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,0.001286,0.009104,0.001814,1.334403e-19,0.019524,1.052205e-53,0.018939,0.005557,0.000832,0.007484,...,0.001457,0.005251,0.006256,0.009180,1.157468e-12,0.020828,0.0,0.000899,0.001148,0.001101
2020-10-08,0.000983,0.009466,0.004295,9.433962e-03,0.002653,5.261027e-54,0.020358,0.007301,0.000416,0.008561,...,0.001632,0.002625,0.008220,0.009806,5.787338e-13,0.016048,0.0,0.000450,0.000574,0.000551
2020-10-09,0.001172,0.007166,0.003830,1.397624e-02,0.010942,2.630513e-54,0.021518,0.006639,0.000208,0.006667,...,0.001835,0.001313,0.006126,0.009328,2.893669e-13,0.019166,0.0,0.000225,0.001779,0.000275

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-07,0.001922,0.017100,0.002559,0.038750,0.010007,0.006213,0.016850,0.003708,0.000838,0.017313,...,0.003177,0.007420,0.004843,0.012207,0.000674,0.013093,2.006177e-36,0.001967,0.002902,0.002479
2020-10-08,0.001158,0.014036,0.002650,0.019375,0.012125,0.003106,0.018950,0.004093,0.001061,0.018410,...,0.011692,0.007414,0.008404,0.010752,0.000337,0.015322,1.003089e-36,0.001360,0.002253,0.001628
2020-10-09,0.000579,0.011847,0.002799,0.038550,0.015550,0.001553,0.018453,0.004430,0.000851,0.018287,...,0.008675,0.007121,0.007580,0.011082,0.000657,0.012280,5.015443e-37,0.000680,0.003702,0.002986

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-07,0.005398,0.016797,NaN,0.002787,0.008010,0.003954,0.008951,0.003522,0.004717,6.620229e-63,...,0.009541,0.005824,0.012414,0.005006,-0.000205,0.004069,0.005386,0.011239,0.016134,0.020037
2020-10-08,0.004424,0.015551,NaN,0.003333,0.011121,0.003962,0.010230,0.004995,0.005421,3.310115e-63,...,0.009572,0.005440,0.015536,0.005513,0.000654,0.007962,0.006585,0.010955,0.019358,0.024006
2020-10-09,0.006812,0.017603,NaN,0.003195,0.012034,0.004232,0.010619,0.004925,0.006054,1.655057e-63,...,0.008500,0.005467,0.015962,0.004933,0.000327,0.007529,0.006785,0.016266,0.020213,0.029135

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-07      0.005516  0.003994  0.003508  0.011406  0.003720  0.002949
2020-10-08      0.005728  0.002567  0.001754  0.009259  0.004251  0.002283
2020-10-09      0.007963  0.003808  0.007349  0.012398  0.004505  0.003565

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-07      0.003377  0.005160  0.001783  0.007463  ...  0.029314
2020-10-08      0.001153  0.003782  0.005433  0.006036  ...  0.021699
2020-10-09      0.006478  0.008688  0.009263  0.009134  ...  0.038628

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-07      0.066552  0.023756  0.009994   0.017680  0.008820  0.004163
2020-10-08      0.033276  0.036026  0.012871   0.014131  0.013889  0.008875
2020-10-09      0.053675  0.045113  0.010312   0.021463  0.015471  0.011140

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-07      -0.571428 -0.003178  0.064235
2020-10-08      -0.571428  0.015218  0.042118
2020-10-09      -0.571428  0.007609  0.050471

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-07,0.006355,0.009363,NaN,0.002216,0.011597,0.004622,0.002808,0.000459,0.003015,NaN,...,0.008589,0.006731,0.013301,1.917235e-21,0.000051,0.003533,0.004632,0.010470,0.010300,0.000469
2020-10-08,0.010098,0.013156,NaN,0.001980,0.012883,0.004760,0.003802,0.000782,0.003048,NaN,...,0.016218,0.006547,0.011691,9.586173e-22,0.000026,0.005554,0.003694,0.006568,0.008330,0.009669
2020-10-09,0.008083,0.006578,NaN,0.001251,0.015424,0.004451,0.003810,0.000722,0.001524,NaN,...,0.013100,0.006375,0.009837,4.793087e-22,0.000013,0.005183,0.003450,0.011263,0.009783,0.004834

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-10-07     -0.000112  0.018833  1.487238e-16 -0.000319  0.033336
2020-10-08      0.018463  0.080845  1.428571e-01  0.099840  0.016668
2020-10-09      0.009231  0.040422  7.142857e-02  0.049920  0.008334

Province_State                                                    ...  \
Admin2           Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-10-07      0.016490  0.000051  0.005698  0.011905 -0.000018  ...
2020-10-08      0.008245  0.000025  0.002849  0.005952 -0.000009  ...
2020-10-09      0.004122  0.000013  0.023647  0.002976 -0.000005  ...

Province_State       Wyoming                                                 \
Admin2                  Park Platte      Sheridan Sublette Sweetwater Teton
2020-10-07      4.768372e-07    0.0  7.152557e-07      0.0        0.0   0.0
2020-10-08      2.384186e-07    0.0  3.576279e-07      0.0        0.0   0.0
2020-10-09      1.192093e-07    0.0  1.788139e-07      0.0        0.0   0.0

Province_State
Admin2         Uinta    Unassigned Washakie Weston
2020-10-07       0.0 -9.999695e-01      0.0    NaN
2020-10-08       0.0 -9.999695e-01      0.0    NaN
2020-10-09       0.0 -2.384258e-07      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201009,AK,10176,NaN,482894,NaN,493070,51.0,NaN,NaN,...,493070,0,0,3c160d82e90df263b41bbb98bcc4d2f6d17ff9eb,0,0,0,0,0,NaN
1,20201009,AL,163465,19565.0,1052552,NaN,1196452,816.0,17989.0,NaN,...,1216017,16,0,d4b09eb0f40a7865f284fcbc22f19ca0f68b4f12,0,0,0,0,0,NaN
2,20201009,AR,90145,4165.0,1025546,NaN,1111526,546.0,5805.0,237.0,...,1115691,0,0,84ae4b4b98f77f41d53d879017fb25e5087f2ede,0,0,0,0,0,NaN
3,20201009,AS,0,NaN,1616,NaN,1616,NaN,NaN,NaN,...,1616,0,0,8ed6e3a336b78b72b4348598b1ea9d5a949db66f,0,0,0,0,0,NaN
4,20201009,AZ,224084,4837.0,1324198,NaN,1543445,706.0,20199.0,155.0,...,1548282,3,28,8e6dfd1159f7cbfc64b33a7aab0009310a6f83f7,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201009,AK,10176.0,NaN,482894.0,NaN,493070.0,51.0,NaN,NaN,...,493070,0,0,3c160d82e90df263b41bbb98bcc4d2f6d17ff9eb,0,0,0,0,0,NaN
1,20201009,AL,163465.0,19565.0,1052552.0,NaN,1196452.0,816.0,17989.0,NaN,...,1216017,16,0,d4b09eb0f40a7865f284fcbc22f19ca0f68b4f12,0,0,0,0,0,NaN
2,20201009,AR,90145.0,4165.0,1025546.0,NaN,1111526.0,546.0,5805.0,237.0,...,1115691,0,0,84ae4b4b98f77f41d53d879017fb25e5087f2ede,0,0,0,0,0,NaN
3,20201009,AS,0.0,NaN,1616.0,NaN,1616.0,NaN,NaN,NaN,...,1616,0,0,8ed6e3a336b78b72b4348598b1ea9d5a949db66f,0,0,0,0,0,NaN
4,20201009,AZ,224084.0,4837.0,1324198.0,NaN,1543445.0,706.0,20199.0,155.0,...,1548282,3,28,8e6dfd1159f7cbfc64b33a7aab0009310a6f83f7,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-09,AK,10176,NaN,482894,NaN,493070,51.0,NaN,NaN,NaN,...,493070,0,0,3c160d82e90df263b41bbb98bcc4d2f6d17ff9eb,0,0,0,0,0,NaN
2020-10-09,AL,163465,19565.0,1052552,NaN,1196452,816.0,17989.0,NaN,1884.0,...,1216017,16,0,d4b09eb0f40a7865f284fcbc22f19ca0f68b4f12,0,0,0,0,0,NaN
2020-10-09,AR,90145,4165.0,1025546,NaN,1111526,546.0,5805.0,237.0,NaN,...,1115691,0,0,84ae4b4b98f77f41d53d879017fb25e5087f2ede,0,0,0,0,0,NaN
2020-10-09,AS,0,NaN,1616,NaN,1616,NaN,NaN,NaN,NaN,...,1616,0,0,8ed6e3a336b78b72b4348598b1ea9d5a949db66f,0,0,0,0,0,NaN
2020-10-09,AZ,224084,4837.0,1324198,NaN,1543445,706.0,20199.0,155.0,NaN,...,1548282,3,28,8e6dfd1159f7cbfc64b33a7aab0009310a6f83f7,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-09,AK,10176.0,NaN,482894.0,NaN,493070.0,51.0,NaN,NaN,NaN,...,493070,0,0,3c160d82e90df263b41bbb98bcc4d2f6d17ff9eb,0,0,0,0,0,NaN
2020-10-09,AL,163465.0,19565.0,1052552.0,NaN,1196452.0,816.0,17989.0,NaN,1884.0,...,1216017,16,0,d4b09eb0f40a7865f284fcbc22f19ca0f68b4f12,0,0,0,0,0,NaN
2020-10-09,AR,90145.0,4165.0,1025546.0,NaN,1111526.0,546.0,5805.0,237.0,NaN,...,1115691,0,0,84ae4b4b98f77f41d53d879017fb25e5087f2ede,0,0,0,0,0,NaN
2020-10-09,AS,0.0,NaN,1616.0,NaN,1616.0,NaN,NaN,NaN,NaN,...,1616,0,0,8ed6e3a336b78b72b4348598b1ea9d5a949db66f,0,0,0,0,0,NaN
2020-10-09,AZ,224084.0,4837.0,1324198.0,NaN,1543445.0,706.0,20199.0,155.0,NaN,...,1548282,3,28,8e6dfd1159f7cbfc64b33a7aab0009310a6f83f7,0,0,0,0,0,NaN