# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'11-13-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'11-13-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-14 05:25:37,33.93911,67.709953,42969,1595,35036,6338.0,Afghanistan,110.379736,3.711978
1,NaN,NaN,NaN,Albania,2020-11-14 05:25:37,41.15330,20.168300,26701,605,12667,13429.0,Albania,927.826812,2.265833
2,NaN,NaN,NaN,Algeria,2020-11-14 05:25:37,28.03390,1.659600,65975,2124,43779,20072.0,Algeria,150.452522,3.219401
3,NaN,NaN,NaN,Andorra,2020-11-14 05:25:37,42.50630,1.521800,5725,75,4675,975.0,Andorra,7409.564486,1.310044
4,NaN,NaN,NaN,Angola,2020-11-14 05:25:37,-11.20270,17.873900,13228,317,6326,6585.0,Angola,40.247953,2.396432

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,41814,41935,41975,42033,42092,42297,42463,42609,42795,42969
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,22300,22721,23210,23705,24206,24731,25294,25801,26211,26701
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,59527,60169,60800,61381,62051,62693,63446,64257,65108,65975

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1548,1554,1554,1556,1558,1574,1577,1581,1591,1595
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,536,543,549,557,559,571,579,590,598,605
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1999,2011,2024,2036,2048,2062,2077,2093,2111,2124

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34362,34440,34440,34446,34458,34721,34954,34967,35024,35036
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,11578,11696,11861,12002,12092,12203,12353,12493,12574,12667
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,41001,41244,41510,41783,42037,42325,42626,42980,42980,43779

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2212,2230,2242,2267,2283,2304,2328,2351,2385,2417
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,7061,7097,7134,7188,7226,7263,7348,7409,7454,7523
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1079,1080,1090,1092,1095,1098,1107,1112,1113,1117

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,31,31,30,30,30,30,30,32,32,36
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,77,77,83,83,83,83,84,84,84,84
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
646,1001.0,Autauga,Alabama,US,2020-11-14 05:25:37,32.539527,-86.644082,2417,36,0,2381.0,"Autauga, Alabama, US",4326.191627,1.489450
683,1075.0,Lamar,Alabama,US,2020-11-14 05:25:37,33.779950,-88.096680,579,7,0,572.0,"Lamar, Alabama, US",4194.132561,1.208981
684,1077.0,Lauderdale,Alabama,US,2020-11-14 05:25:37,34.901719,-87.656247,3221,51,0,3170.0,"Lauderdale, Alabama, US",3473.562747,1.583359

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               10737335  244332    4095146
India             8728795  128668    8115580
Brazil            5810652  164737    5274812

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,10737335,244332,4095146,6397857,2020-11-14 05:25:37,37.936303,-91.379001
India,8728795,128668,8115580,484547,2020-11-14 05:25:37,23.088275,81.806127
Brazil,5810652,164737,5274812,371103,2020-11-14 05:25:37,-12.669522,-48.480493
France,1915677,42600,139760,1733317,2020-11-14 05:25:37,8.314863,-21.695174
Russia,1865395,32156,1396851,436388,2020-11-14 05:25:37,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
Texas             1043116   19785          0
California        1013566   18205          0
Florida            870552   17445          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
Texas,1043116,19785,0,1023331,2020-11-14 05:25:37,31.660643,-98.653069
California,1013566,18205,0,995361,2020-11-14 05:25:37,37.843962,-120.728594
Florida,870552,17445,0,853107,2020-11-14 05:25:37,28.940755,-82.700744
Illinois,551957,10891,0,541066,2020-11-14 05:25:37,39.843618,-89.178330
New York,551163,33993,0,517170,2020-11-14 05:25:37,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     332865    7246          0
Illinois       Cook            242662    5895          0
Florida        Miami-Dade      199072    3706          0
Arizona        Maricopa        172864    3774          0
Texas          Harris          172763    2895          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,332865,7246,0,325619,2020-11-14 05:25:37,34.308284,-118.228241,6037.0
Illinois,Cook,242662,5895,0,236767,2020-11-14 05:25:37,41.841448,-87.816588,17031.0
Florida,Miami-Dade,199072,3706,0,195366,2020-11-14 05:25:37,25.611236,-80.551706,12086.0
Arizona,Maricopa,172864,3774,0,169090,2020-11-14 05:25:37,33.348359,-112.491815,4013.0
Texas,Harris,172763,2895,0,169868,2020-11-14 05:25:37,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,42609,25801,64257,5567,12953,131,1273356,110548,27675,172380,...,3700,69397,1,95750,1252,60065,10,2071,17036,8667
2020-11-12,42795,26211,65108,5616,13053,131,1284519,112680,27676,181642,...,3795,69560,1,96140,1253,60784,10,2071,17056,8696
2020-11-13,42969,26701,65975,5725,13228,133,1296378,114383,27682,191228,...,3883,69754,1,96441,1256,61514,10,2072,17093,8765

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,1581,590,2093,75,312,3,34531,1636,907,1564,...,63,591,0,838,35,538,1,605,350,255
2020-11-12,1591,598,2111,75,315,3,34782,1668,907,1608,...,63,593,0,841,35,542,1,605,350,255
2020-11-13,1595,605,2124,75,317,3,35045,1697,907,1661,...,64,594,0,844,35,548,1,605,350,257

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,34967,12493,42980,4488,6125,124,1081897,68336,25455,103759,...,3078,66672,0,90743,1087,52226,8,1394,16070,8046
2020-11-12,35024,12574,42980,4585,6250,124,1100180,70130,25459,107875,...,3103,66814,0,91141,1093,52861,8,1394,16102,8060
2020-11-13,35036,12667,43779,4675,6326,124,1110477,72116,25463,112728,...,3135,66886,0,91452,1101,53367,8,1394,16134,8090

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2212,2230,2242,2267,2283,2304,2328,2351,2385,2417
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,540,541,544,553,554,559,565,570,576,579
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,2820,2835,2874,2911,2937,2963,3011,3088,3140,3221
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,968,977,983,995,1003,1007,1014,1028,1037,1050
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6776,6812,6851,6878,6903,6926,6952,6994,7043,7122

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-11,208637,21331,0,265163,126197,995575,142402,84741,27342,49,...,293381,1022336,139720,2535,1413,196506,120011,30201,301349,19374
2020-11-12,210637,21812,0,266562,128006,1004116,147599,85899,27546,49,...,296725,1024073,143639,2651,1413,198027,123356,30897,309572,20479
2020-11-13,213617,22405,0,269577,130318,1013566,154038,88645,28016,49,...,300458,1043116,145789,2743,1426,199262,125498,31639,318023,21341

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-11        2351    7409    1112  961   2400     668   1062    5282
2020-11-12        2385    7454    1113  966   2429     669   1062    5345
2020-11-13        2417    7523    1117  973   2488     673   1068    5429

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-11         1508      865  ...    1001    226     1099      226
2020-11-12         1514      870  ...    1042    231     1171      239
2020-11-13         1545      892  ...    1064    239     1208      252

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-11            869  1025   627          0      199    323
2020-11-12            944  1066   664          0      203    321
2020-11-13            991  1108   686          0      206    330

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-11,3201,96,0,6228,2126,18108,2443,4716,724,0,...,3761,19469,678,59,23,3741,2482,553,2621,127
2020-11-12,3213,96,0,6240,2144,18135,2468,4726,732,0,...,3788,19474,687,59,23,3758,2507,555,2621,127
2020-11-13,3231,97,0,6257,2148,18205,2504,4737,734,0,...,3852,19785,701,59,23,3785,2519,565,2683,127

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-11          32      84       9   17     34      19     41      77
2020-11-12          32      84       9   17     34      19     41      77
2020-11-13          36      84       9   17     34      19     41      77

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-11           48       15  ...       3      4        8        1
2020-11-12           48       15  ...       3      4        8        1
2020-11-13           48       15  ...       3      4        8        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-11              4     2     4          0        7      0
2020-11-12              4     2     4          0        7      0
2020-11-13              4     2     4          0        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,0.003438,0.020044,0.012783,0.016432,0.010690,0.000000,0.008618,0.017123,0.000145,0.045576,...,0.022099,0.005360,0.0,0.003196,0.021207,0.010821,0.0,0.000000,0.002295,0.006620
2020-11-12,0.004365,0.015891,0.013244,0.008802,0.007720,0.000000,0.008767,0.019286,0.000036,0.053730,...,0.025676,0.002349,0.0,0.004073,0.000799,0.011970,0.0,0.000000,0.001174,0.003346
2020-11-13,0.004066,0.018694,0.013316,0.019409,0.013407,0.015267,0.009232,0.015114,0.000217,0.052774,...,0.023188,0.002789,0.0,0.003131,0.002394,0.012010,0.0,0.000483,0.002169,0.007935

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,0.002536,0.018998,0.007703,0.0,0.012987,0.0,0.010180,0.016781,0.0,0.043362,...,0.016129,0.005102,NaN,0.004796,0.0,0.009381,0.0,0.0,0.0,0.000000
2020-11-12,0.006325,0.013559,0.008600,0.0,0.009615,0.0,0.007269,0.019560,0.0,0.028133,...,0.000000,0.003384,NaN,0.003580,0.0,0.007435,0.0,0.0,0.0,0.000000
2020-11-13,0.002514,0.011706,0.006158,0.0,0.006349,0.0,0.007561,0.017386,0.0,0.032960,...,0.015873,0.001686,NaN,0.003567,0.0,0.011070,0.0,0.0,0.0,0.007843

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,0.000372,0.011333,0.008305,0.018842,0.014745,0.016393,0.000000,0.022458,0.000039,0.051651,...,0.014502,0.007221,NaN,0.004250,0.000000,0.015576,0.0,0.0,0.003184,0.000746
2020-11-12,0.001630,0.006484,0.000000,0.021613,0.020408,0.000000,0.016899,0.026253,0.000157,0.039669,...,0.008122,0.002130,NaN,0.004386,0.005520,0.012159,0.0,0.0,0.001991,0.001740
2020-11-13,0.000343,0.007396,0.018590,0.019629,0.012160,0.000000,0.009359,0.028319,0.000157,0.044987,...,0.010313,0.001078,NaN,0.003412,0.007319,0.009572,0.0,0.0,0.001987,0.003722

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-11,0.010021,0.023954,NaN,0.007715,0.015793,0.006209,0.028715,0.021554,0.008483,0.0,...,0.012535,0.011849,0.016996,0.029651,0.0000,0.008178,0.000000,0.030188,0.025652,0.006860
2020-11-12,0.009586,0.022549,NaN,0.005276,0.014335,0.008579,0.036495,0.013665,0.007461,0.0,...,0.011398,0.001699,0.028049,0.045759,0.0000,0.007740,0.027872,0.023046,0.027287,0.057035
2020-11-13,0.014148,0.027187,NaN,0.011311,0.018062,0.009411,0.043625,0.031968,0.017062,0.0,...,0.012581,0.018595,0.014968,0.034704,0.0092,0.006237,0.017364,0.024015,0.027299,0.042092

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-11      0.009880  0.008302  0.004517  0.013713  0.009251  0.004511
2020-11-12      0.014462  0.006074  0.000899  0.005203  0.012083  0.001497
2020-11-13      0.013417  0.009257  0.003594  0.007246  0.024290  0.005979

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-11      0.000943  0.005329  0.000664  0.009335  ...  0.003006
2020-11-12      0.000000  0.011927  0.003979  0.005780  ...  0.040959
2020-11-13      0.005650  0.015716  0.020476  0.025287  ...  0.021113

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-11      0.027273  0.004570  0.018018   0.019953  0.002935  0.021173
2020-11-12      0.022124  0.065514  0.057522   0.086306  0.040000  0.059011
2020-11-13      0.034632  0.031597  0.054393   0.049788  0.039400  0.033133

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-11            NaN  0.010152  0.006231
2020-11-12            NaN  0.020101 -0.006192
2020-11-13            NaN  0.014778  0.028037

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-11,0.025962,0.043478,NaN,0.005814,0.006629,0.002325,0.006593,0.001912,0.002770,NaN,...,0.024237,0.006826,0.008929,0.0,0.0,0.004026,0.000000,0.012821,0.003062,0.0
2020-11-12,0.003749,0.000000,NaN,0.001927,0.008467,0.001491,0.010233,0.002120,0.011050,NaN,...,0.007179,0.000257,0.013274,0.0,0.0,0.004544,0.010073,0.003617,0.000000,0.0
2020-11-13,0.005602,0.010417,NaN,0.002724,0.001866,0.003860,0.014587,0.002328,0.002732,NaN,...,0.016895,0.015970,0.020378,0.0,0.0,0.007185,0.004787,0.018018,0.023655,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga Baldwin Barbour Bibb    Blount   Bullock Butler
2020-11-11      0.066667     0.0     0.0  0.0  0.307692  0.055556    0.0
2020-11-12      0.000000     0.0     0.0  0.0  0.000000  0.000000    0.0
2020-11-13      0.125000     0.0     0.0  0.0  0.000000  0.000000    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2020-11-11      0.132353      0.0      0.0  ...     0.0    0.0      0.0
2020-11-12      0.000000      0.0      0.0  ...     0.0    0.0      0.0
2020-11-13      0.000000      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-11          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-11-12          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-11-13          0.0        0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,0.003495,0.021030,0.011976,0.013466,0.011819,0.000306,0.008308,0.015396,0.000142,0.042973,...,0.019421,0.003740,0.0,0.003111,0.013220,0.010459,9.964789e-45,0.000136,0.002099,0.005604
2020-11-12,0.003930,0.018460,0.012610,0.011134,0.009770,0.000153,0.008537,0.017341,0.000089,0.048352,...,0.022548,0.003044,0.0,0.003592,0.007009,0.011215,4.982395e-45,0.000068,0.001637,0.004475
2020-11-13,0.003998,0.018577,0.012963,0.015271,0.011588,0.007710,0.008885,0.016227,0.000153,0.050563,...,0.022868,0.002917,0.0,0.003361,0.004702,0.011612,2.491197e-45,0.000275,0.001903,0.006205

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,0.003197,0.016719,0.007272,0.000005,0.008271,3.062321e-64,0.009356,0.016920,3.375990e-08,0.036999,...,0.009152,0.003796,NaN,0.004600,3.368674e-23,0.012561,0.0,0.000651,0.000717,0.002276
2020-11-12,0.004761,0.015139,0.007936,0.000002,0.008943,1.531160e-64,0.008312,0.018240,1.687995e-08,0.032566,...,0.004576,0.003590,NaN,0.004090,1.684337e-23,0.009998,0.0,0.000326,0.000358,0.001138
2020-11-13,0.003638,0.013422,0.007047,0.000001,0.007646,7.655801e-65,0.007937,0.017813,8.439975e-09,0.032763,...,0.010224,0.002638,NaN,0.003829,8.421685e-24,0.010534,0.0,0.000163,0.000179,0.004491

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-11,0.002865,0.011098,0.007569,0.021228,0.016580,0.009295,0.004452,0.022473,0.000064,0.045837,...,0.014696,0.004614,NaN,0.003844,0.002010,0.012893,5.838744e-47,0.001734,0.002579,0.001350
2020-11-12,0.002248,0.008791,0.003785,0.021421,0.018494,0.004647,0.010676,0.024363,0.000111,0.042753,...,0.011409,0.003372,NaN,0.004115,0.003765,0.012526,2.919372e-47,0.000867,0.002285,0.001545
2020-11-13,0.001295,0.008094,0.011187,0.020525,0.015327,0.002324,0.010018,0.026341,0.000134,0.043870,...,0.010861,0.002225,NaN,0.003764,0.005542,0.011049,1.459686e-47,0.000433,0.002136,0.002634

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-11,0.008699,0.024985,NaN,0.008376,0.013147,0.006890,0.028187,0.021222,0.008937,1.926740e-73,...,0.012225,0.010804,0.017831,0.022740,0.002145,0.007804,0.005944,0.024301,0.023909,0.030073
2020-11-12,0.009143,0.023767,NaN,0.006826,0.013741,0.007735,0.032341,0.017444,0.008199,9.633701e-74,...,0.011812,0.006252,0.022940,0.034250,0.001073,0.007772,0.016908,0.023673,0.025598,0.043554
2020-11-13,0.011645,0.025477,NaN,0.009068,0.015901,0.008573,0.037983,0.024706,0.012631,4.816851e-74,...,0.012196,0.012423,0.018954,0.034477,0.005136,0.007004,0.017136,0.023844,0.026449,0.042823

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-11      0.009681  0.008454  0.005072  0.012650  0.012511  0.002841
2020-11-12      0.012071  0.007264  0.002985  0.008926  0.012297  0.002169
2020-11-13      0.012744  0.008260  0.003290  0.008086  0.018293  0.004074

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-11      0.002944  0.006356  0.004331  0.009634  ...  0.019445
2020-11-12      0.001472  0.009142  0.004155  0.007707  ...  0.030202
2020-11-13      0.003561  0.012429  0.012315  0.016497  ...  0.025658

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-11      0.029391  0.022433  0.020579   0.047670  0.013174  0.036311
2020-11-12      0.025758  0.043973  0.039050   0.066988  0.026587  0.047661
2020-11-13      0.030195  0.037785  0.046722   0.058388  0.032993  0.040397

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-11           -1.0  0.017715  0.023887
2020-11-12           -1.0  0.018908  0.008847
2020-11-13           -1.0  0.016843  0.018442

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-11,0.016488,0.045582,NaN,0.004543,0.006141,0.002322,0.006579,0.002241,0.002832,NaN,...,0.017749,0.005654,0.010102,0.000539,0.000271,0.003344,0.003462,0.021861,0.005680,0.031732
2020-11-12,0.010118,0.022791,NaN,0.003235,0.007304,0.001907,0.008406,0.002181,0.006941,NaN,...,0.012464,0.002955,0.011688,0.000269,0.000135,0.003944,0.006767,0.012739,0.002840,0.015866
2020-11-13,0.007860,0.016604,NaN,0.002980,0.004585,0.002883,0.011496,0.002254,0.004837,NaN,...,0.014680,0.009463,0.016033,0.000135,0.000068,0.005564,0.005777,0.015378,0.013248,0.007933

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-11-11      0.032829  0.004474  8.315380e-12  0.017709  0.154471
2020-11-12      0.016415  0.002237  4.157690e-12  0.008855  0.077236
2020-11-13      0.070707  0.001119  2.078845e-12  0.004427  0.038618

Province_State                                                        ...  \
Admin2           Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2020-11-11      0.042484  3.814697e-07  0.070275  0.000084  0.000009  ...
2020-11-12      0.021242  1.907349e-07  0.035137  0.000042  0.000004  ...
2020-11-13      0.010621  9.536743e-08  0.017569  0.000021  0.000002  ...

Province_State       Wyoming                                          \
Admin2                  Park    Platte  Sheridan Sublette Sweetwater
2020-11-11      5.960464e-08  0.002286  0.021468      0.0   0.003906
2020-11-12      2.980232e-08  0.001143  0.010734      0.0   0.001953
2020-11-13      1.490116e-08  0.000572  0.005367      0.0   0.000977

Province_State
Admin2             Teton     Uinta Unassigned      Washakie    Weston
2020-11-11      0.001953  0.020834  -0.972376  1.552204e-10 -0.533333
2020-11-12      0.000977  0.010417  -0.972376  7.761021e-11 -0.533333
2020-11-13      0.000488  0.005208  -0.972376  3.880511e-11 -0.533333

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201113,AK,21812,NaN,822854,NaN,totalTestsViral,844666,113.0,NaN,...,844666,0,0,5e2b5ae04c745dd6d75989ab64754094a3afd999,0,0,0,0,0,NaN
1,20201113,AL,213617,33342.0,1260600,NaN,totalTestsViral,1440875,1177.0,22275.0,...,1474217,18,85,720642619c8a91b9ab21f846130a73b227a36741,0,0,0,0,0,NaN
2,20201113,AR,130318,13531.0,1367077,NaN,totalTestsViral,1483864,826.0,7817.0,...,1497395,4,102,c78d1fd6f0d45eaaaf01642c60e24f3f00c93a27,0,0,0,0,0,NaN
3,20201113,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,...,1768,0,0,6cda7904a883d41efd1327ea4f1200acdcb873af,0,0,0,0,0,NaN
4,20201113,AZ,269577,7123.0,1680262,NaN,totalTestsPeopleViral,1942716,1381.0,22820.0,...,1949839,17,244,e1e79805c0342c1a328c1046b68e8065e3411cfa,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201113,AK,21812.0,NaN,822854.0,NaN,totalTestsViral,844666.0,113.0,NaN,...,844666,0,0,5e2b5ae04c745dd6d75989ab64754094a3afd999,0,0,0,0,0,NaN
1,20201113,AL,213617.0,33342.0,1260600.0,NaN,totalTestsViral,1440875.0,1177.0,22275.0,...,1474217,18,85,720642619c8a91b9ab21f846130a73b227a36741,0,0,0,0,0,NaN
2,20201113,AR,130318.0,13531.0,1367077.0,NaN,totalTestsViral,1483864.0,826.0,7817.0,...,1497395,4,102,c78d1fd6f0d45eaaaf01642c60e24f3f00c93a27,0,0,0,0,0,NaN
3,20201113,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,...,1768,0,0,6cda7904a883d41efd1327ea4f1200acdcb873af,0,0,0,0,0,NaN
4,20201113,AZ,269577.0,7123.0,1680262.0,NaN,totalTestsPeopleViral,1942716.0,1381.0,22820.0,...,1949839,17,244,e1e79805c0342c1a328c1046b68e8065e3411cfa,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-13,AK,21812,NaN,822854,NaN,totalTestsViral,844666,113.0,NaN,NaN,...,844666,0,0,5e2b5ae04c745dd6d75989ab64754094a3afd999,0,0,0,0,0,NaN
2020-11-13,AL,213617,33342.0,1260600,NaN,totalTestsViral,1440875,1177.0,22275.0,NaN,...,1474217,18,85,720642619c8a91b9ab21f846130a73b227a36741,0,0,0,0,0,NaN
2020-11-13,AR,130318,13531.0,1367077,NaN,totalTestsViral,1483864,826.0,7817.0,292.0,...,1497395,4,102,c78d1fd6f0d45eaaaf01642c60e24f3f00c93a27,0,0,0,0,0,NaN
2020-11-13,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,NaN,...,1768,0,0,6cda7904a883d41efd1327ea4f1200acdcb873af,0,0,0,0,0,NaN
2020-11-13,AZ,269577,7123.0,1680262,NaN,totalTestsPeopleViral,1942716,1381.0,22820.0,335.0,...,1949839,17,244,e1e79805c0342c1a328c1046b68e8065e3411cfa,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-13,AK,21812.0,NaN,822854.0,NaN,totalTestsViral,844666.0,113.0,NaN,NaN,...,844666,0,0,5e2b5ae04c745dd6d75989ab64754094a3afd999,0,0,0,0,0,NaN
2020-11-13,AL,213617.0,33342.0,1260600.0,NaN,totalTestsViral,1440875.0,1177.0,22275.0,NaN,...,1474217,18,85,720642619c8a91b9ab21f846130a73b227a36741,0,0,0,0,0,NaN
2020-11-13,AR,130318.0,13531.0,1367077.0,NaN,totalTestsViral,1483864.0,826.0,7817.0,292.0,...,1497395,4,102,c78d1fd6f0d45eaaaf01642c60e24f3f00c93a27,0,0,0,0,0,NaN
2020-11-13,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,NaN,...,1768,0,0,6cda7904a883d41efd1327ea4f1200acdcb873af,0,0,0,0,0,NaN
2020-11-13,AZ,269577.0,7123.0,1680262.0,NaN,totalTestsPeopleViral,1942716.0,1381.0,22820.0,335.0,...,1949839,17,244,e1e79805c0342c1a328c1046b68e8065e3411cfa,0,0,0,0,0,NaN