# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-28-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-28-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-01 05:23:01,33.93911,67.709953,55714,2443,49333,3938.0,Afghanistan,143.119379,4.384894
1,NaN,NaN,NaN,Albania,2021-03-01 05:23:01,41.15330,20.168300,107167,1796,69773,35598.0,Albania,3723.921051,1.675889
2,NaN,NaN,NaN,Algeria,2021-03-01 05:23:01,28.03390,1.659600,113092,2983,78098,32011.0,Algeria,257.900365,2.637676
3,NaN,NaN,NaN,Andorra,2021-03-01 05:23:01,42.50630,1.521800,10866,110,10446,310.0,Andorra,14063.288682,1.012332
4,NaN,NaN,NaN,Angola,2021-03-01 05:23:01,-11.20270,17.873900,20807,508,19322,977.0,Angola,63.308070,2.441486

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55575,55580,55604,55617,55646,55664,55680,55696,55707,55714
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,97909,99062,100246,101285,102306,103327,104313,105229,106215,107167
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,111600,111764,111917,112094,112279,112461,112622,112805,112960,113092

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2430,2430,2432,2433,2435,2436,2438,2442,2443,2443
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1636,1653,1666,1681,1696,1715,1736,1756,1775,1796
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2954,2958,2961,2964,2967,2970,2973,2977,2979,2983

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48803,48820,48834,48895,48967,49086,49281,49285,49288,49333
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,61605,62533,63329,64318,65403,66309,67158,68007,68969,69773
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,76797,76940,77076,77225,77382,77537,77683,77842,77976,78098

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6079,6092,6117,6121,6143,6172,6203,6228,6248,6264
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,19361,19392,19433,19461,19554,19635,19670,19698,19714,19732
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2061,2067,2070,2074,2084,2095,2099,2106,2113,2115

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,85,85,85,85,84,85,89,90,91,91
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,262,262,262,262,263,272,274,277,283,283
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,49,50,50,50,50,50,51,51,51,51

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-01 05:23:01,32.539527,-86.644082,6264,91,0,6173.0,"Autauga, Alabama, US",11211.942222,1.452746
689,1075.0,Lamar,Alabama,US,2021-03-01 05:23:01,33.779950,-88.096680,1328,33,0,1295.0,"Lamar, Alabama, US",9619.703006,2.484940
690,1077.0,Lauderdale,Alabama,US,2021-03-01 05:23:01,34.901719,-87.656247,8603,211,0,8392.0,"Lauderdale, Alabama, US",9277.572281,2.452633

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               28605669  513091          0
India            11112241  157157   10786452
Brazil           10551259  254942    9382316

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,28605669,513091,0,28092578,2021-03-01 05:23:01,37.936303,-91.379001
India,11112241,157157,10786452,168632,2021-03-01 05:23:01,23.088275,81.806127
Brazil,10551259,254942,9382316,914001,2021-03-01 05:23:01,-12.669522,-48.480493
Russia,4198400,84700,3769025,344675,2021-03-01 05:23:01,54.546312,62.120860
United Kingdom,4188827,123083,11643,4054101,2021-03-01 05:23:01,28.164647,-33.966498

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3566914   52158          0
Texas             2653013   43697          0
Florida           1909221   30852          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3566914,52158,0,3514756,2021-03-01 05:23:01,37.843962,-120.728594
Texas,2653013,43697,0,2609316,2021-03-01 05:23:01,31.660643,-98.653069
Florida,1909221,30852,0,1878369,2021-03-01 05:23:01,28.940755,-82.700744
New York,1643867,47615,0,1596252,2021-03-01 05:23:01,42.544151,-75.474183
Illinois,1186613,22735,0,1163878,2021-03-01 05:23:01,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1191923   21435          0
Arizona        Maricopa        510360    9117          0
Illinois       Cook            474397    9359          0
Florida        Miami-Dade      410717    5429          0
Texas          Harris          350201    5075          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1191923,21435,0,1170488,2021-03-01 05:23:01,34.308284,-118.228241,6037.0
Arizona,Maricopa,510360,9117,0,501243,2021-03-01 05:23:01,33.348359,-112.491815,4013.0
Illinois,Cook,474397,9359,0,465038,2021-03-01 05:23:01,41.841448,-87.816588,17031.0
Florida,Miami-Dade,410717,5429,0,405288,2021-03-01 05:23:01,25.611236,-80.551706,12086.0
Texas,Harris,350201,5075,0,345126,2021-03-01 05:23:01,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,55696,105229,112805,10822,20759,701,2098728,171510,28965,454860,...,4175315,56542,79804,1,138295,2426,180848,2267,77639,36044
2021-02-27,55707,106215,112960,10849,20782,726,2104197,171793,28970,457317,...,4182772,57362,79836,1,138739,2432,181909,2269,78202,36058
2021-02-28,55714,107167,113092,10866,20807,730,2107365,172058,28978,459440,...,4188827,57994,79926,1,139116,2448,183612,2285,78534,36089

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,2442,1756,2977,110,504,14,51887,3183,909,8515,...,122648,601,622,0,1338,35,2019,627,1066,1463
2021-02-27,2443,1775,2979,110,506,14,51946,3190,909,8538,...,122939,603,622,0,1341,35,2025,631,1081,1463
2021-02-28,2443,1796,2983,110,508,14,51965,3192,909,8561,...,123083,608,622,0,1344,35,2042,634,1091,1463

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,49285,68007,77842,10394,19307,271,1892834,163165,22902,427257,...,11579,49012,78333,1,130379,1839,165205,1434,72635,32539
2021-02-27,49288,68969,77976,10429,19315,291,1899087,163309,22903,428904,...,11602,49466,78373,1,130834,1844,166119,1435,73609,32590
2021-02-28,49333,69773,78098,10446,19322,301,1905021,163394,22909,430415,...,11643,50039,78496,1,130834,1876,166936,1435,74498,32666

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6079,6092,6117,6121,6143,6172,6203,6228,6248,6264
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1291,1292,1294,1296,1306,1316,1317,1324,1325,1328
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8513,8515,8523,8525,8541,8570,8581,8588,8594,8603
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2790,2794,2795,2798,2806,2812,2813,2822,2826,2829
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,14766,14779,14798,14809,14827,14883,14900,14926,14950,14961

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-26,491849,58263,0,814528,318638,3559311,426198,279946,86098,49,...,772513,2643463,370084,14963,2636,572639,338822,131234,616018,54350
2021-02-27,492683,58263,0,815707,319195,3563578,427462,279946,86517,49,...,773887,2649363,370770,15098,2646,574314,339773,131580,616886,54350
2021-02-28,493252,58263,0,816782,322415,3566914,428303,279946,86799,49,...,775004,2653013,371235,15198,2646,576050,339773,131855,617367,54394

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-26        6228   19698    2106  2445   6084    1163   1952   13202
2021-02-27        6248   19714    2113  2449   6095    1167   1956   13232
2021-02-28        6264   19732    2115  2450   6097    1169   1961   13275

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-26         3399     1764  ...    2615    589     3018      675
2021-02-27         3406     1768  ...    2615    589     3018      675
2021-02-28         3410     1770  ...    2615    590     3020      676

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-26           3747  3348  2054          0      881    622
2021-02-27           3747  3348  2054          0      881    622
2021-02-28           3759  3351  2053          0      881    622

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-26,9869,290,0,15897,5407,51794,5940,7622,1418,0,...,11377,43376,1907,204,25,8197,4956,2291,6999,671
2021-02-27,9930,290,0,15967,5417,51953,5945,7622,1418,0,...,11393,43519,1929,204,25,8382,4956,2297,7014,671
2021-02-28,9929,290,0,15980,5243,52158,5951,7622,1422,0,...,11411,43697,1935,204,25,8552,4956,2300,7014,671

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-26          90     277      51   60    125      36     65     285
2021-02-27          91     283      51   60    127      36     66     286
2021-02-28          91     283      51   60    127      36     66     286

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-26          108       38  ...      26     11       27        7
2021-02-27          110       38  ...      26     11       27        7
2021-02-28          110       38  ...      26     11       27        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-26             34     9    12          0       26      5
2021-02-27             34     9    12          0       26      5
2021-02-28             34     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,0.000287,0.008781,0.001625,0.002130,0.003093,0.000000,0.002428,0.001653,0.000276,0.004623,...,0.002061,0.015208,0.000389,0.0,0.003075,0.002065,0.008673,0.005322,0.006064,0.001389
2021-02-27,0.000198,0.009370,0.001374,0.002495,0.001108,0.035663,0.002606,0.001650,0.000173,0.005402,...,0.001786,0.014502,0.000401,0.0,0.003211,0.002473,0.005867,0.000882,0.007252,0.000388
2021-02-28,0.000126,0.008963,0.001169,0.001567,0.001203,0.005510,0.001506,0.001543,0.000276,0.004642,...,0.001448,0.011018,0.001127,0.0,0.002717,0.006579,0.009362,0.007052,0.004245,0.000860

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,0.001641,0.011521,0.001345,0.0,0.003984,0.0,0.001776,0.001258,0.0,0.002590,...,0.002821,0.010084,0.0,NaN,0.002999,0.0,0.005478,0.003200,0.006610,0.003429
2021-02-27,0.000410,0.010820,0.000672,0.0,0.003968,0.0,0.001137,0.002199,0.0,0.002701,...,0.002373,0.003328,0.0,NaN,0.002242,0.0,0.002972,0.006380,0.014071,0.000000
2021-02-28,0.000000,0.011831,0.001343,0.0,0.003953,0.0,0.000366,0.000627,0.0,0.002694,...,0.001171,0.008292,0.0,NaN,0.002237,0.0,0.008395,0.004754,0.009251,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,0.000081,0.012642,0.002047,0.003669,0.003587,0.000000,0.003234,0.001111,0.000087,0.003455,...,0.006519,0.010640,0.000549,0.0,0.003479,0.019401,0.003938,0.000000,0.025918,0.002588
2021-02-27,0.000061,0.014146,0.001721,0.003367,0.000414,0.073801,0.003304,0.000883,0.000044,0.003855,...,0.001986,0.009263,0.000511,0.0,0.003490,0.002719,0.005533,0.000697,0.013410,0.001567
2021-02-28,0.000913,0.011657,0.001565,0.001630,0.000362,0.034364,0.003125,0.000520,0.000262,0.003523,...,0.003534,0.011584,0.001569,0.0,0.000000,0.017354,0.004918,0.000000,0.012077,0.002332

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-26,0.001505,0.001926,NaN,0.001994,0.001622,0.001317,0.003582,0.002819,0.003461,0.0,...,0.002040,0.004101,0.001762,0.008288,0.000000,0.002902,0.003462,0.003218,0.001289,0.002731
2021-02-27,0.001696,0.000000,NaN,0.001447,0.001748,0.001199,0.002966,0.000000,0.004867,0.0,...,0.001779,0.002232,0.001854,0.009022,0.003794,0.002925,0.002807,0.002637,0.001409,0.000000
2021-02-28,0.001155,0.000000,NaN,0.001318,0.010088,0.000936,0.001967,0.000000,0.003259,0.0,...,0.001443,0.001378,0.001254,0.006623,0.000000,0.003023,0.000000,0.002090,0.000780,0.000810

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-26      0.004030  0.001423  0.003335  0.001229 -0.000329  0.000000
2021-02-27      0.003211  0.000812  0.003324  0.001636  0.001808  0.003439
2021-02-28      0.002561  0.000913  0.000947  0.000408  0.000328  0.001714

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-26      0.000513  0.002049  0.002064  0.000000  ...  0.003454
2021-02-27      0.002049  0.002272  0.002059  0.002268  ...  0.000000
2021-02-28      0.002556  0.003250  0.001174  0.001131  ...  0.000000

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-26      0.003407  0.000995  0.002972   0.004288  0.001795  0.002930
2021-02-27      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-02-28      0.001698  0.000663  0.001481   0.003203  0.000896 -0.000487

Province_State
Admin2         Unassigned  Washakie Weston
2021-02-26            NaN  0.001136    0.0
2021-02-27            NaN  0.000000    0.0
2021-02-28            NaN  0.000000    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-26,0.003865,0.0,NaN,0.005249,0.001853,0.007763,0.002532,0.001051,0.008535,NaN,...,0.004947,0.006754,0.008995,0.004926,0.0,0.029386,0.002833,0.000437,0.000715,0.0
2021-02-27,0.006181,0.0,NaN,0.004403,0.001849,0.003070,0.000842,0.000000,0.000000,NaN,...,0.001406,0.003297,0.011536,0.000000,0.0,0.022569,0.000000,0.002619,0.002143,0.0
2021-02-28,-0.000101,0.0,NaN,0.000814,-0.032121,0.003946,0.001009,0.000000,0.002821,NaN,...,0.001580,0.004090,0.003110,0.000000,0.0,0.020282,0.000000,0.001306,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin Barbour Bibb Blount Bullock    Butler
2021-02-26      0.011236  0.010949     0.0  0.0  0.000     0.0  0.000000
2021-02-27      0.011111  0.021661     0.0  0.0  0.016     0.0  0.015385
2021-02-28      0.000000  0.000000     0.0  0.0  0.000     0.0  0.000000

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2021-02-26      0.000000  0.000000      0.0  ...     0.0    0.0      0.0
2021-02-27      0.003509  0.018519      0.0  ...     0.0    0.0      0.0
2021-02-28      0.000000  0.000000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-26          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-02-27          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-02-28          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,0.000306,0.009343,0.001571,0.002319,0.002741,0.027321,0.003079,0.001553,0.000276,0.004658,...,0.002223,0.014903,0.000371,0.0,0.003147,0.003023,0.008388,0.008975,0.007737,0.001301
2021-02-27,0.000252,0.009356,0.001473,0.002407,0.001924,0.031492,0.002843,0.001602,0.000224,0.005030,...,0.002004,0.014703,0.000386,0.0,0.003179,0.002748,0.007128,0.004928,0.007494,0.000845
2021-02-28,0.000189,0.009160,0.001321,0.001987,0.001564,0.018501,0.002174,0.001572,0.000250,0.004836,...,0.001726,0.012860,0.000757,0.0,0.002948,0.004664,0.008245,0.005990,0.005870,0.000852

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,0.001156,0.011351,0.001182,0.001158,0.002912,0.006136,0.002279,0.001243,2.388111e-22,0.002905,...,0.002952,0.008693,2.457137e-08,NaN,0.003065,2.076106e-55,0.004691,0.002934,0.007664,0.003253
2021-02-27,0.000783,0.011086,0.000927,0.000579,0.003440,0.003068,0.001708,0.001721,1.194055e-22,0.002803,...,0.002662,0.006010,1.228568e-08,NaN,0.002653,1.038053e-55,0.003831,0.004657,0.010868,0.001627
2021-02-28,0.000391,0.011458,0.001135,0.000290,0.003696,0.001534,0.001037,0.001174,5.970276e-23,0.002749,...,0.001917,0.007151,6.142842e-09,NaN,0.002445,5.190264e-56,0.006113,0.004706,0.010059,0.000813

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-26,0.001486,0.013236,0.001990,0.003615,0.002474,0.044680,0.002859,0.001550,0.000130,0.003343,...,0.004906,0.010671,0.000534,0.0,0.003484,0.015492,0.004459,0.000263,0.018550,0.002445
2021-02-27,0.000774,0.013691,0.001856,0.003491,0.001444,0.059240,0.003081,0.001216,0.000087,0.003599,...,0.003446,0.009967,0.000522,0.0,0.003487,0.009105,0.004996,0.000480,0.015980,0.002006
2021-02-28,0.000843,0.012674,0.001710,0.002561,0.000903,0.046802,0.003103,0.000868,0.000174,0.003561,...,0.003490,0.010775,0.001046,0.0,0.001743,0.013229,0.004957,0.000240,0.014029,0.002169

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-26,0.001810,0.002401,NaN,0.001708,0.001924,0.001460,0.003083,0.003551,0.003331,1.187445e-105,...,0.002122,0.003563,0.001938,0.006889,0.003211,0.003146,0.003154,0.002931,0.001338,0.002621
2021-02-27,0.001753,0.001201,NaN,0.001578,0.001836,0.001330,0.003024,0.001775,0.004099,5.937227e-106,...,0.001950,0.002897,0.001896,0.007956,0.003502,0.003035,0.002981,0.002784,0.001373,0.001310
2021-02-28,0.001454,0.000600,NaN,0.001448,0.005962,0.001133,0.002496,0.000888,0.003679,2.968613e-106,...,0.001697,0.002138,0.001575,0.007289,0.001751,0.003029,0.001490,0.002437,0.001077,0.001060

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-26      0.004203  0.002084  0.003225  0.001823  0.000907  0.000596
2021-02-27      0.003707  0.001448  0.003275  0.001730  0.001357  0.002018
2021-02-28      0.003134  0.001181  0.002111  0.001069  0.000843  0.001866

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-26      0.000682  0.003398  0.001691  0.000723  ...  0.002096
2021-02-27      0.001365  0.002835  0.001875  0.001495  ...  0.001048
2021-02-28      0.001961  0.003042  0.001525  0.001313  ...  0.000524

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-26      0.003222  0.001827  0.002051   0.004745  0.001604  0.003149
2021-02-27      0.001611  0.000914  0.001025   0.002373  0.000802  0.001574
2021-02-28      0.001654  0.000788  0.001253   0.002788  0.000849  0.000544

Province_State
Admin2         Unassigned  Washakie   Weston
2021-02-26           -1.0  0.000722  0.00036
2021-02-27           -1.0  0.000361  0.00018
2021-02-28           -1.0  0.000181  0.00009

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-26,0.005802,0.000134,NaN,0.005613,0.001886,0.009426,0.002015,0.00180,0.007606,NaN,...,0.004842,0.006313,0.007499,0.006907,6.357829e-07,0.024633,0.004321,0.001807,0.003325,0.000861
2021-02-27,0.005991,0.000067,NaN,0.005008,0.001868,0.006248,0.001428,0.00090,0.003803,NaN,...,0.003124,0.004805,0.009518,0.003454,3.178914e-07,0.023601,0.002160,0.002213,0.002734,0.000431
2021-02-28,0.002945,0.000033,NaN,0.002911,-0.015127,0.005097,0.001219,0.00045,0.003312,NaN,...,0.002352,0.004448,0.006314,0.001727,1.589457e-07,0.021941,0.001080,0.001760,0.001367,0.000215

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-26      0.018184  0.011964  0.005181  0.005385  0.000131  0.018525
2021-02-27      0.014647  0.016812  0.002591  0.002693  0.008065  0.009263
2021-02-28      0.007324  0.008406  0.001295  0.001346  0.004033  0.004631

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-26      0.000977  0.003548  0.015339  0.003378  ...  0.000020
2021-02-27      0.008181  0.003529  0.016929  0.001689  ...  0.000010
2021-02-28      0.004090  0.001764  0.008464  0.000845  ...  0.000005

Province_State                                                                \
Admin2                Platte  Sheridan      Sublette    Sweetwater     Teton
2021-02-26      2.348519e-11  0.000085  1.919761e-17  1.165449e-07  0.000061
2021-02-27      1.174259e-11  0.000043  9.598804e-18  5.827246e-08  0.000031
2021-02-28      5.871297e-12  0.000021  4.799402e-18  2.913623e-08  0.000015

Province_State
Admin2                 Uinta Unassigned      Washakie        Weston
2021-02-26      3.114333e-12  -0.501961  1.192780e-09  2.533197e-08
2021-02-27      1.557166e-12  -0.501961  5.963898e-10  1.266599e-08
2021-02-28      7.785832e-13  -0.501961  2.981949e-10  6.332994e-09

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210228,AK,55989,NaN,NaN,NaN,totalTestsViral,1679675,43.0,1277.0,...,NaN,0,0,6d01ab8f9ee9605ca15805c4665d29ad9e8b6bd4,0,0,0,0,0,NaN
1,20210228,AL,493252,106727.0,1903691.0,NaN,totalTestsPeopleViral,2290216,657.0,45428.0,...,NaN,-1,0,ab0a421dfe871ee590aeff5a9b87742a1ca4c88d,0,0,0,0,0,NaN
2,20210228,AR,322415,68385.0,2441857.0,NaN,totalTestsViral,2695887,455.0,14763.0,...,NaN,-174,0,d6313920a93b16678b82ec9e28842c6c828196d5,0,0,0,0,0,NaN
3,20210228,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,720ded5c8a828bce5fceffdc033af068a623feb3,0,0,0,0,0,NaN
4,20210228,AZ,816782,55114.0,2996831.0,NaN,totalTestsViral,7663423,1251.0,57599.0,...,NaN,13,91,e077e5f5b8bac238548a408f3f855c647bc5ab21,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210228,AK,55989.0,NaN,NaN,NaN,totalTestsViral,1679675.0,43.0,1277.0,...,NaN,0,0,6d01ab8f9ee9605ca15805c4665d29ad9e8b6bd4,0,0,0,0,0,NaN
1,20210228,AL,493252.0,106727.0,1903691.0,NaN,totalTestsPeopleViral,2290216.0,657.0,45428.0,...,NaN,-1,0,ab0a421dfe871ee590aeff5a9b87742a1ca4c88d,0,0,0,0,0,NaN
2,20210228,AR,322415.0,68385.0,2441857.0,NaN,totalTestsViral,2695887.0,455.0,14763.0,...,NaN,-174,0,d6313920a93b16678b82ec9e28842c6c828196d5,0,0,0,0,0,NaN
3,20210228,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,720ded5c8a828bce5fceffdc033af068a623feb3,0,0,0,0,0,NaN
4,20210228,AZ,816782.0,55114.0,2996831.0,NaN,totalTestsViral,7663423.0,1251.0,57599.0,...,NaN,13,91,e077e5f5b8bac238548a408f3f855c647bc5ab21,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-28,AK,55989,NaN,NaN,NaN,totalTestsViral,1679675,43.0,1277.0,NaN,...,NaN,0,0,6d01ab8f9ee9605ca15805c4665d29ad9e8b6bd4,0,0,0,0,0,NaN
2021-02-28,AL,493252,106727.0,1903691.0,NaN,totalTestsPeopleViral,2290216,657.0,45428.0,NaN,...,NaN,-1,0,ab0a421dfe871ee590aeff5a9b87742a1ca4c88d,0,0,0,0,0,NaN
2021-02-28,AR,322415,68385.0,2441857.0,NaN,totalTestsViral,2695887,455.0,14763.0,183.0,...,NaN,-174,0,d6313920a93b16678b82ec9e28842c6c828196d5,0,0,0,0,0,NaN
2021-02-28,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,720ded5c8a828bce5fceffdc033af068a623feb3,0,0,0,0,0,NaN
2021-02-28,AZ,816782,55114.0,2996831.0,NaN,totalTestsViral,7663423,1251.0,57599.0,402.0,...,NaN,13,91,e077e5f5b8bac238548a408f3f855c647bc5ab21,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-28,AK,55989.0,NaN,NaN,NaN,totalTestsViral,1679675.0,43.0,1277.0,NaN,...,NaN,0,0,6d01ab8f9ee9605ca15805c4665d29ad9e8b6bd4,0,0,0,0,0,NaN
2021-02-28,AL,493252.0,106727.0,1903691.0,NaN,totalTestsPeopleViral,2290216.0,657.0,45428.0,NaN,...,NaN,-1,0,ab0a421dfe871ee590aeff5a9b87742a1ca4c88d,0,0,0,0,0,NaN
2021-02-28,AR,322415.0,68385.0,2441857.0,NaN,totalTestsViral,2695887.0,455.0,14763.0,183.0,...,NaN,-174,0,d6313920a93b16678b82ec9e28842c6c828196d5,0,0,0,0,0,NaN
2021-02-28,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,720ded5c8a828bce5fceffdc033af068a623feb3,0,0,0,0,0,NaN
2021-02-28,AZ,816782.0,55114.0,2996831.0,NaN,totalTestsViral,7663423.0,1251.0,57599.0,402.0,...,NaN,13,91,e077e5f5b8bac238548a408f3f855c647bc5ab21,0,0,0,0,0,NaN