# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'06-11-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'06-10-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-06-11 04:23:20,33.93911,67.709953,85892,3356,60280.0,22256.0,Afghanistan,220.641306,3.907232
1,NaN,NaN,NaN,Albania,2021-06-11 04:23:20,41.15330,20.168300,132426,2452,129785.0,189.0,Albania,4601.640142,1.851600
2,NaN,NaN,NaN,Algeria,2021-06-11 04:23:20,28.03390,1.659600,132355,3552,92132.0,36671.0,Algeria,301.828625,2.683692
3,NaN,NaN,NaN,Andorra,2021-06-11 04:23:20,42.50630,1.521800,13805,127,13578.0,100.0,Andorra,17867.080826,0.919957
4,NaN,NaN,NaN,Angola,2021-06-11 04:23:20,-11.20270,17.873900,36325,815,29960.0,5550.0,Angola,110.523653,2.243634

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,72977,74026,75119,76628,77963,79224,80841,82326,84050,85892
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132337,132351,132360,132372,132374,132379,132384,132397,132415,132426
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,129218,129640,129976,130361,130681,130958,131283,131647,132034,132355

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2973,3007,3034,3068,3104,3145,3187,3251,3305,3356
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2451,2451,2451,2451,2451,2451,2452,2452,2452,2452
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3480,3490,3497,3504,3510,3518,3527,3537,3544,3552

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,57741,57963,58070,58144,58265,58622,58998,59569,59871,60280
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129473,129521,129566,129598,129627,129664,129702,129736,129761,129785
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,90057,90281,90517,90767,90995,91198,91413,91651,91894,92132

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7150,7161,7172,7186,7186,7186,7206,7206,7209,7211
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21661,21674,21684,21698,21698,21698,21724,21744,21755,21765
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2337,2340,2343,2342,2342,2342,2343,2345,2346,2345

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,111,111,111,112,112,112,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,311,311,312,312,312,312,312,312,313,313
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,59,59,59,59,59,59,59,59,59,59

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
653,1001.0,Autauga,Alabama,US,2021-06-11 04:23:20,32.539527,-86.644082,7211,113,NaN,NaN,"Autauga, Alabama, US",12906.978825,1.567050
690,1075.0,Lamar,Alabama,US,2021-06-11 04:23:20,33.779950,-88.096680,1458,37,NaN,NaN,"Lamar, Alabama, US",10561.390800,2.537723
691,1077.0,Lauderdale,Alabama,US,2021-06-11 04:23:20,34.901719,-87.656247,9578,248,NaN,NaN,"Lauderdale, Alabama, US",10329.023283,2.589267

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33424296  598744         0.0
India            29274823  363079  27790073.0
Brazil           17210969  482019  15211176.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33424296,598744,0.0,32825552.0,2021-06-11 04:23:20,37.950547,-91.419547
India,29274823,363079,27790073.0,1121671.0,2021-06-11 04:23:20,23.088275,81.806127
Brazil,17210969,482019,15211176.0,1517774.0,2021-06-11 04:23:20,-12.669522,-48.480493
France,5791608,110432,398092.0,5283084.0,2021-06-11 04:23:20,6.430808,-34.730285
Turkey,5313098,48524,5186728.0,77846.0,2021-06-11 04:23:20,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3799978   63216        0.0
Texas             2974886   51846        0.0
Florida           2332867   36973        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3799978,63216,0.0,3736762.0,2021-06-11 04:23:20,37.843962,-120.728594
Texas,2974886,51846,0.0,2923040.0,2021-06-11 04:23:20,31.660643,-98.653069
Florida,2332867,36973,0.0,2295894.0,2021-06-11 04:23:20,28.940755,-82.700744
New York,2107831,53505,0.0,2054326.0,2021-06-11 04:23:20,42.544151,-75.474183
Illinois,1386543,25430,0.0,1361113.0,2021-06-11 04:23:20,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1245786   24432        0.0
Illinois       Cook            555488   10399        0.0
Arizona        Maricopa        553711   10137        0.0
Florida        Miami-Dade      502548    6472        0.0
Texas          Harris          402818    6497        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1245786,24432,0.0,1221354.0,2021-06-11 04:23:20,34.308284,-118.228241,6037.0
Illinois,Cook,555488,10399,0.0,545089.0,2021-06-11 04:23:20,41.841448,-87.816588,17031.0
Arizona,Maricopa,553711,10137,0.0,543574.0,2021-06-11 04:23:20,33.348359,-112.491815,4013.0
Florida,Miami-Dade,502548,6472,0.0,496076.0,2021-06-11 04:23:20,25.611236,-80.551706,12086.0
Texas,Harris,402818,6497,0.0,396321.0,2021-06-11 04:23:20,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,82326,132397,131647,13781,36004,1263,4008771,223285,30210,647322,...,4544372,322978,102163,4,245300,9222,310544,6823,101996,39321
2021-06-09,84050,132415,132034,13791,36115,1263,4038528,223384,30225,647688,...,4551694,326405,102362,4,246764,9635,310544,6832,103763,39432
2021-06-10,85892,132426,132355,13805,36325,1263,4066156,223460,30228,647971,...,4558933,330027,102605,4,247847,9835,311018,6836,105909,39496

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,3251,2452,3537,127,803,42,82667,4463,910,10647,...,128118,4749,699,1,2750,55,3520,1336,1321,1617
2021-06-09,3305,2452,3544,127,811,42,83272,4474,910,10650,...,128124,4816,701,1,2764,55,3520,1337,1324,1622
2021-06-10,3356,2452,3552,127,815,42,83941,4478,910,10650,...,128131,4862,702,1,2781,55,3524,1338,1332,1626

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,59569,129736,91651,13557,29368,1214,3585811,214609,23630,631869,...,15539,283397,98129,3,225266,3547,302357,3638,93992,36756
2021-06-09,59871,129761,91894,13569,29553,1214,3608895,214690,23639,632188,...,15540,286472,98445,3,226548,3636,302357,3675,94189,36917
2021-06-10,60280,129785,92132,13578,29960,1214,3639402,214857,23648,632660,...,15543,289754,98592,3,227699,3708,302944,3689,94995,36940

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7150,7161,7172,7186,7186,7186,7206,7206,7209,7211
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1452,1454,1457,1458,1458,1458,1459,1459,1459,1458
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9520,9524,9526,9537,9537,9537,9552,9556,9570,9578
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3081,3084,3086,3091,3091,3091,3105,3108,3111,3118
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16135,16153,16171,16190,16190,16190,16201,16203,16211,16227

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-08,546540,70520,0,884609,342726,3797937,547791,348154,109188,49,...,864384,2966038,408068,24295,3608,677013,441591,162636,675650,60849
2021-06-09,546845,70588,0,885042,342927,3798631,548488,348262,109225,49,...,864583,2972976,408428,24300,3652,677210,442098,162726,675780,60941
2021-06-10,547135,70588,0,885412,343216,3799978,549084,348319,109258,49,...,864945,2974886,408741,24314,3652,677425,442815,162845,675971,61012

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-06-08        7206   21744    2345  2669   6918    1240   2230   14683
2021-06-09        7209   21755    2346  2670   6921    1240   2230   14684
2021-06-10        7211   21765    2345  2671   6921    1243   2230   14692

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-08         3709     1869  ...    2876    666     3239      799
2021-06-09         3709     1870  ...    2875    667     3240      799
2021-06-10         3716     1872  ...    2878    667     3244      800

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-08           4602  3792  2292          0      924    656
2021-06-09           4617  3793  2293          0      925    656
2021-06-10           4623  3793  2296          0      924    656

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-08,11220,369,0,17713,5852,63153,6639,8255,1677,0,...,12492,51777,2316,256,28,11253,5785,2822,7981,725
2021-06-09,11249,369,0,17715,5854,63167,6651,8257,1677,0,...,12494,51814,2318,256,28,11260,5793,2846,7995,725
2021-06-10,11252,369,0,17742,5856,63216,6666,8260,1679,0,...,12496,51846,2319,256,28,11270,5803,2848,8007,725

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-08         113     312      59   64    139      42     71     325
2021-06-09         113     313      59   64    139      42     71     325
2021-06-10         113     313      59   64    139      42     71     325

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-08          124       45  ...      30     11       31        7
2021-06-09          124       45  ...      30     11       31        7
2021-06-10          124       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-08             39     9    13          6       26      5
2021-06-09             39    11    13          0       26      6
2021-06-10             39    11    13          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,0.018369,0.000098,0.002773,0.000290,0.004184,0.0,0.007828,0.000327,0.000166,0.000376,...,0.001316,0.013159,0.001952,0.0,0.006892,0.021602,0.001671,0.001615,0.012217,0.002115
2021-06-09,0.020941,0.000136,0.002940,0.000726,0.003083,0.0,0.007423,0.000443,0.000497,0.000565,...,0.001611,0.010611,0.001948,0.0,0.005968,0.044784,0.000000,0.001319,0.017324,0.002823
2021-06-10,0.021916,0.000083,0.002431,0.001015,0.005815,0.0,0.006841,0.000340,0.000099,0.000437,...,0.001590,0.011097,0.002374,0.0,0.004389,0.020758,0.001526,0.000585,0.020682,0.001623

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,0.020082,0.0,0.002835,0.0,0.003750,0.0,0.008798,0.000000,0.0,0.000658,...,0.000109,0.012148,0.004310,0.0,0.005852,0.037736,0.000853,0.000000,0.004563,0.003724
2021-06-09,0.016610,0.0,0.001979,0.0,0.009963,0.0,0.007319,0.002465,0.0,0.000282,...,0.000047,0.014108,0.002861,0.0,0.005091,0.000000,0.000000,0.000749,0.002271,0.003092
2021-06-10,0.015431,0.0,0.002257,0.0,0.004932,0.0,0.008034,0.000894,0.0,0.000000,...,0.000055,0.009551,0.001427,0.0,0.006151,0.000000,0.001136,0.000748,0.006042,0.002466

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,0.009678,0.000262,0.002604,0.000000,0.001330,0.0,0.007208,0.000490,0.000550,0.000911,...,0.000064,0.014353,0.002739,0.0,0.006604,0.010829,0.001577,0.013935,0.003181,0.000272
2021-06-09,0.005070,0.000193,0.002651,0.000885,0.006299,0.0,0.006438,0.000377,0.000381,0.000505,...,0.000064,0.010851,0.003220,0.0,0.005691,0.025092,0.000000,0.010170,0.002096,0.004380
2021-06-10,0.006831,0.000185,0.002590,0.000663,0.013772,0.0,0.008453,0.000778,0.000381,0.000747,...,0.000193,0.011457,0.001493,0.0,0.005081,0.019802,0.001941,0.003810,0.008557,0.000623

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-08,0.000395,0.000000,NaN,0.000468,0.000674,0.000306,0.001097,0.000190,0.000192,0.0,...,0.000219,0.000651,0.000618,0.000535,0.013483,0.000269,0.001592,0.000591,0.000299,0.001152
2021-06-09,0.000558,0.000964,NaN,0.000489,0.000586,0.000183,0.001272,0.000310,0.000339,0.0,...,0.000230,0.002339,0.000882,0.000206,0.012195,0.000291,0.001148,0.000553,0.000192,0.001512
2021-06-10,0.000530,0.000000,NaN,0.000418,0.000843,0.000355,0.001087,0.000164,0.000302,0.0,...,0.000419,0.000642,0.000766,0.000576,0.000000,0.000317,0.001622,0.000731,0.000283,0.001165

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-08      0.000000  0.000921  0.000854  0.000750  0.000289  0.000000
2021-06-09      0.000416  0.000506  0.000426  0.000375  0.000434  0.000000
2021-06-10      0.000277  0.000460 -0.000426  0.000375  0.000000  0.002419

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-06-08      0.002247  0.000136  0.001350  0.000000  ...  0.001742
2021-06-09      0.000000  0.000068  0.000000  0.000535  ... -0.000348
2021-06-10      0.000000  0.000545  0.001887  0.001070  ...  0.001043

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-08      0.000000  0.001546  0.002509   0.001088  0.000792  0.000873
2021-06-09      0.001502  0.000309  0.000000   0.003259  0.000264  0.000436
2021-06-10      0.000000  0.001235  0.001252   0.001300  0.000000  0.001308

Province_State
Admin2         Unassigned  Washakie    Weston
2021-06-08            NaN -0.001081  0.001527
2021-06-09            NaN  0.001082  0.000000
2021-06-10            NaN -0.001081  0.000000

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-08,0.000267,0.0,NaN,0.000734,0.000513,0.000333,0.002113,0.000242,0.000000,NaN,...,0.001042,0.000792,0.001297,0.0,0.0,0.000711,-0.012124,0.000354,0.002009,0.006944
2021-06-09,0.002585,0.0,NaN,0.000113,0.000342,0.000222,0.001808,0.000242,0.000000,NaN,...,0.000160,0.000715,0.000864,0.0,0.0,0.000622,0.001383,0.008505,0.001754,0.000000
2021-06-10,0.000267,0.0,NaN,0.001524,0.000342,0.000776,0.002255,0.000363,0.001193,NaN,...,0.000160,0.000618,0.000431,0.0,0.0,0.000888,0.001726,0.000703,0.001501,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-08         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-09         0.0  0.003205     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-10         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-08          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-06-09          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-06-10          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater     Teton Uinta Unassigned Washakie Weston
2021-06-08            0.0  0.000000   0.0        5.0      0.0    0.0
2021-06-09            0.0  0.222222   0.0       -1.0      0.0    0.2
2021-06-10            0.0  0.000000   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,0.018481,0.000070,0.00260,0.000528,0.004120,0.000039,0.006732,0.000270,0.000331,0.000424,...,0.001263,0.011495,0.002208,5.921189e-16,0.006430,0.024272,0.001010,0.001987,0.009534,0.001554
2021-06-09,0.019711,0.000103,0.00277,0.000627,0.003602,0.000019,0.007078,0.000357,0.000414,0.000495,...,0.001437,0.011053,0.002078,2.960595e-16,0.006199,0.034528,0.000505,0.001653,0.013429,0.002188
2021-06-10,0.020813,0.000093,0.00260,0.000821,0.004708,0.000010,0.006959,0.000348,0.000256,0.000466,...,0.001514,0.011075,0.002226,1.480297e-16,0.005294,0.027643,0.001016,0.001119,0.017055,0.001906

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,0.016411,0.000104,0.002582,6.015781e-14,0.004138,3.344295e-08,0.007980,0.000469,3.816773e-21,0.000449,...,0.000073,0.012190,0.002397,0.0,0.005322,0.022850,0.000596,0.001731,0.004677,0.002800
2021-06-09,0.016511,0.000052,0.002280,3.007890e-14,0.007050,1.672147e-08,0.007649,0.001467,1.908387e-21,0.000365,...,0.000060,0.013149,0.002629,0.0,0.005207,0.011425,0.000298,0.001240,0.003474,0.002946
2021-06-10,0.015971,0.000026,0.002269,1.503945e-14,0.005991,8.360737e-09,0.007842,0.001180,9.541933e-22,0.000183,...,0.000057,0.011350,0.002028,0.0,0.005679,0.005713,0.000717,0.000994,0.004758,0.002706

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-08,0.007457,0.000275,0.002492,0.000607,0.005198,0.000038,0.008034,0.000593,0.000416,0.000671,...,0.000201,0.014490,0.002441,1.421085e-14,0.006148,0.021174,0.000936,0.009945,0.003372,0.000403
2021-06-09,0.006263,0.000234,0.002572,0.000746,0.005748,0.000019,0.007236,0.000485,0.000398,0.000588,...,0.000132,0.012670,0.002831,7.105427e-15,0.005919,0.023133,0.000468,0.010058,0.002734,0.002392
2021-06-10,0.006547,0.000209,0.002581,0.000705,0.009760,0.000010,0.007844,0.000631,0.000390,0.000667,...,0.000163,0.012063,0.002162,3.552714e-15,0.005500,0.021467,0.001205,0.006934,0.005646,0.001507

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-08,0.000593,0.000230,NaN,0.000460,0.000491,0.000284,0.000945,0.000258,0.000316,2.341823e-136,...,0.000231,0.000515,0.000573,0.000603,0.010294,0.000244,0.001489,0.000827,0.000279,0.001291
2021-06-09,0.000576,0.000597,NaN,0.000475,0.000539,0.000234,0.001109,0.000284,0.000328,1.170912e-136,...,0.000231,0.001427,0.000728,0.000404,0.011245,0.000268,0.001319,0.000690,0.000236,0.001401
2021-06-10,0.000553,0.000299,NaN,0.000446,0.000691,0.000294,0.001098,0.000224,0.000315,5.854558e-137,...,0.000325,0.001035,0.000747,0.000490,0.005622,0.000293,0.001470,0.000711,0.000259,0.001283

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-08      0.000797  0.000800  0.000556  0.000482  0.000588  0.000651
2021-06-09      0.000607  0.000653  0.000491  0.000428  0.000511  0.000325
2021-06-10      0.000442  0.000556  0.000032  0.000401  0.000255  0.001372

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-06-08      0.001372  0.000339  0.001312  0.000419  ...  0.002329
2021-06-09      0.000686  0.000203  0.000656  0.000477  ...  0.000990
2021-06-10      0.000343  0.000374  0.001272  0.000773  ...  0.001017

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-08      0.000031  0.001167  0.001265   0.001902  0.000546  0.000663
2021-06-09      0.000766  0.000738  0.000633   0.002581  0.000405  0.000550
2021-06-10      0.000383  0.000986  0.000942   0.001940  0.000202  0.000929

Province_State
Admin2         Unassigned  Washakie    Weston
2021-06-08           -1.0 -0.000270  0.000770
2021-06-09           -1.0  0.000406  0.000385
2021-06-10           -1.0 -0.000337  0.000192

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-08,0.000627,7.662566e-09,NaN,0.000519,0.000433,0.000515,0.001613,0.000339,0.000267,NaN,...,0.000611,0.000606,0.000938,0.000123,0.000289,0.000719,-0.005038,0.001010,0.001566,0.003478
2021-06-09,0.001606,3.831283e-09,NaN,0.000316,0.000387,0.000368,0.001710,0.000291,0.000134,NaN,...,0.000385,0.000660,0.000901,0.000061,0.000145,0.000670,-0.001827,0.004757,0.001660,0.001739
2021-06-10,0.000936,1.915641e-09,NaN,0.000920,0.000365,0.000572,0.001983,0.000327,0.000663,NaN,...,0.000273,0.000639,0.000666,0.000031,0.000072,0.000779,-0.000051,0.002730,0.001580,0.000869

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour          Bibb        Blount
2021-06-08      0.002549  0.000051  0.000004  1.851592e-12  2.186102e-10
2021-06-09      0.001275  0.001628  0.000002  9.257958e-13  1.093051e-10
2021-06-10      0.000637  0.000814  0.000001  4.628979e-13  5.465256e-11

Province_State                                                                \
Admin2               Bullock        Butler   Calhoun  Chambers      Cherokee
2021-06-08      7.269314e-10  1.799147e-06  0.000049  0.000064  2.020604e-17
2021-06-09      3.634657e-10  8.995735e-07  0.000025  0.000032  1.010302e-17
2021-06-10      1.817328e-10  4.497868e-07  0.000012  0.000016  5.051511e-18

Province_State  ...       Wyoming                                            \
Admin2          ...          Park        Platte      Sheridan      Sublette
2021-06-08      ...  1.141089e-25  4.631637e-42  8.618218e-28  3.786061e-48
2021-06-09      ...  5.705445e-26  2.315818e-42  4.309109e-28  1.893030e-48
2021-06-10      ...  2.852722e-26  1.157909e-42  2.154554e-28  9.465151e-49

Province_State                                                       \
Admin2            Sweetwater         Teton         Uinta Unassigned
2021-06-08      1.254874e-08  1.208582e-35  1.212660e-12   2.519683
2021-06-09      6.274370e-09  1.111111e-01  6.063298e-13   0.752941
2021-06-10      3.137185e-09  5.555556e-02  3.031649e-13   0.752941

Province_State
Admin2              Washakie        Weston
2021-06-08      2.352343e-40  4.995851e-39
2021-06-09      1.176172e-40  1.000000e-01
2021-06-10      5.880858e-41  5.000000e-02

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN