# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'10-15-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'10-15-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-10-16 04:24:01,33.93911,67.709953,40026,1481,33447,5098.0,Afghanistan,102.819691,3.700095
1,NaN,NaN,NaN,Albania,2020-10-16 04:24:01,41.15330,20.168300,16212,439,9864,5909.0,Albania,563.347001,2.707871
2,NaN,NaN,NaN,Algeria,2020-10-16 04:24:01,28.03390,1.659600,53777,1827,37603,14347.0,Algeria,122.635624,3.397363
3,NaN,NaN,NaN,Andorra,2020-10-16 04:24:01,42.50630,1.521800,3190,59,2011,1120.0,Andorra,4128.648159,1.849530
4,NaN,NaN,NaN,Angola,2020-10-16 04:24:01,-11.20270,17.873900,7096,228,2928,3940.0,Angola,21.590526,3.213078

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39486,39548,39616,39693,39703,39799,39870,39928,39994,40026
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,14568,14730,14899,15066,15231,15399,15570,15752,15955,16212
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,52399,52520,52658,52804,52940,53072,53325,53399,53584,53777

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1467,1469,1470,1472,1473,1477,1479,1480,1481,1481
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,403,407,411,413,416,420,424,429,434,439
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1768,1771,1783,1789,1795,1801,1809,1818,1827,1827

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32977,33045,33058,33058,33064,33114,33118,33308,33354,33447
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8965,9115,9215,9304,9406,9500,9585,9675,9762,9864
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,36763,36857,36958,37067,37170,37170,37382,37492,37603,37603

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1839,1852,1863,1882,1898,1905,1911,1924,1928,1949
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,6116,6134,6141,6172,6190,6203,6220,6248,6270,6285
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,923,927,927,939,942,942,944,951,950,965

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,27,27,28,28,28,28,28,28,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,55,56,64,64,65,65,65,65,66,66
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
633,1001.0,Autauga,Alabama,US,2020-10-16 04:24:01,32.539527,-86.644082,1949,28,0,1921.0,"Autauga, Alabama, US",3488.517783,1.436634
670,1075.0,Lamar,Alabama,US,2020-10-16 04:24:01,33.779950,-88.096680,429,3,0,426.0,"Lamar, Alabama, US",3107.569721,0.699301
671,1077.0,Lauderdale,Alabama,US,2020-10-16 04:24:01,34.901719,-87.656247,1974,39,0,1935.0,"Lauderdale, Alabama, US",2128.783876,1.975684

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                7979709  217692    3177397
India             7307097  111266    6383441
Brazil            5169386  152460    4526393

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,7979709,217692,3177397,4584620,2020-10-16 04:24:01,37.923092,-91.345036
India,7307097,111266,6383441,812390,2020-10-16 04:24:01,23.088275,81.806127
Brazil,5169386,152460,4526393,490533,2020-10-16 04:24:01,-12.669522,-48.480493
Russia,1346380,23350,1043431,279599,2020-10-16 04:24:01,54.546312,62.120860
Argentina,949063,25342,764859,158862,2020-10-16 04:24:01,-38.416100,-63.616700

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         868148   16832          0
Texas              837566   17283          0
Florida            744988   15736          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,868148,16832,0,851316,2020-10-16 04:24:01,37.843962,-120.728594
Texas,837566,17283,0,820283,2020-10-16 04:24:01,31.660643,-98.653069
Florida,744988,15736,0,729252,2020-10-16 04:24:01,28.940755,-82.700744
New York,479400,33337,0,446063,2020-10-16 04:24:01,42.544151,-75.474183
Georgia,336241,7492,0,328749,2020-10-16 04:24:01,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     286183    6834          0
Florida        Miami-Dade      176809    3501          0
Illinois       Cook            159035    5332          0
Texas          Harris          152977    2708          0
Arizona        Maricopa        148152    3489          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,286183,6834,0,279349,2020-10-16 04:24:01,34.308284,-118.228241,6037.0
Florida,Miami-Dade,176809,3501,0,173308,2020-10-16 04:24:01,25.611236,-80.551706,12086.0
Illinois,Cook,159035,5332,0,153703,2020-10-16 04:24:01,41.841448,-87.816588,17031.0
Texas,Harris,152977,2708,0,150269,2020-10-16 04:24:01,29.858649,-95.393395,48201.0
Arizona,Maricopa,148152,3489,0,144663,2020-10-16 04:24:01,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,39928,15752,53399,2995,6680,111,917035,57566,27337,57326,...,637708,2337,61642,84391,1113,45200,10,2053,15587,8036
2020-10-14,39994,15955,53584,3190,6846,112,931967,58624,27357,58672,...,657459,2388,61950,85005,1122,45658,10,2053,15616,8055
2020-10-15,40026,16212,53777,3190,7096,112,949063,59995,27371,60224,...,676455,2417,62278,85469,1124,46100,10,2053,15659,8075

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,1480,429,1818,57,222,3,24572,1032,904,861,...,43108,51,511,710,35,391,1,596,345,230
2020-10-14,1481,434,1827,59,227,3,24921,1039,904,872,...,43245,51,514,714,35,393,1,596,345,231
2020-10-15,1481,439,1827,59,228,3,25342,1046,904,877,...,43383,51,518,720,35,401,1,596,346,231

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,33308,9675,37492,1928,2761,97,742235,46318,25046,44949,...,2535,1987,58613,76262,1025,38841,8,1329,14783,7632
2020-10-14,33354,9762,37603,2011,2801,100,751146,46713,25047,45846,...,2551,2007,58951,76262,1029,39304,8,1329,14850,7640
2020-10-15,33447,9864,37603,2011,2928,100,764859,47119,25062,46798,...,2561,2025,59291,77689,1030,39585,8,1329,14899,7669

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1839,1852,1863,1882,1898,1905,1911,1924,1928,1949
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,403,402,404,407,413,420,423,424,426,429
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1851,1862,1880,1894,1914,1918,1935,1944,1950,1974
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,676,685,689,699,711,716,729,741,748,759
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6173,6218,6243,6268,6281,6292,6325,6335,6346,6367

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-13,167193,10028,0,226734,94167,861310,80061,61697,22394,49,...,218829,826816,87819,1886,1328,160447,94775,18557,155471,7964
2020-10-14,167977,10170,0,227635,95246,865204,80753,61861,22465,49,...,220538,832736,88963,1889,1328,161236,95509,18823,158578,8177
2020-10-15,169162,10323,0,228748,96524,868148,81895,62028,22560,49,...,222827,837566,90461,1903,1329,162538,96185,19084,162325,8375

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-13        1924    6248     951  744   1742     626    968    3897
2020-10-14        1928    6270     950  744   1750     628    977    3922
2020-10-15        1949    6285     965  761   1768     628    982    3949

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-13         1254      687  ...     355     72      435      133
2020-10-14         1256      687  ...     369     74      447      133
2020-10-15         1260      696  ...     386     77      460      135

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-13            401   679   384          0      127     62
2020-10-14            402   686   385          0      132     66
2020-10-15            406   687   388          0      132     71

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-13,2665,60,0,5767,1611,16644,2153,4533,659,0,...,2797,17078,522,58,20,3369,2211,390,1508,57
2020-10-14,2706,64,0,5772,1634,16729,2160,4537,660,0,...,2828,17188,527,58,20,3378,2221,393,1536,57
2020-10-15,2756,65,0,5789,1645,16832,2162,4540,661,0,...,2864,17283,529,58,21,3385,2232,395,1553,57

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-13          28      65       9   12     16      16     40      49
2020-10-14          28      66       9   13     23      16     40      57
2020-10-15          28      66       9   13     23      17     40      59

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-13           43       13  ...       2      1        4        1
2020-10-14           43       14  ...       2      1        4        1
2020-10-15           43       14  ...       2      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-13              2     1     2          0        7      0
2020-10-14              2     1     2          0        7      0
2020-10-15              2     1     2          0        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,0.001455,0.011689,0.001388,0.000000,0.029593,0.000000,0.014722,0.013111,0.000989,0.018260,...,0.027802,0.010376,0.005268,0.007582,0.002703,0.011548,0.0,0.000487,0.002444,0.001870
2020-10-14,0.001653,0.012887,0.003464,0.065109,0.024850,0.009009,0.016283,0.018379,0.000732,0.023480,...,0.030972,0.021823,0.004997,0.007276,0.008086,0.010133,0.0,0.000000,0.001861,0.002364
2020-10-15,0.000800,0.016108,0.003602,0.000000,0.036518,0.000000,0.018344,0.023386,0.000512,0.026452,...,0.028893,0.012144,0.005295,0.005459,0.001783,0.009681,0.0,0.000000,0.002754,0.002483

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,0.000676,0.011792,0.004975,0.000000,0.013699,0.0,0.015960,0.005848,0.005562,0.007018,...,0.003328,0.0,0.003929,0.008523,0.0,0.010336,0.0,0.0,0.000000,0.000000
2020-10-14,0.000676,0.011655,0.004950,0.035088,0.022523,0.0,0.014203,0.006783,0.000000,0.012776,...,0.003178,0.0,0.005871,0.005634,0.0,0.005115,0.0,0.0,0.000000,0.004348
2020-10-15,0.000000,0.011521,0.000000,0.000000,0.004405,0.0,0.016893,0.006737,0.000000,0.005734,...,0.003191,0.0,0.007782,0.008403,0.0,0.020356,0.0,0.0,0.002899,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,0.005737,0.009390,0.002943,0.00000,0.006195,0.000000,0.013177,0.009305,0.000679,0.020061,...,0.009558,0.018974,0.005265,0.011432,0.000000,0.016035,0.0,0.0,0.006879,0.000656
2020-10-14,0.001381,0.008992,0.002961,0.04305,0.014488,0.030928,0.012006,0.008528,0.000040,0.019956,...,0.006312,0.010065,0.005767,0.000000,0.003902,0.011920,0.0,0.0,0.004532,0.001048
2020-10-15,0.002788,0.010449,0.000000,0.00000,0.045341,0.000000,0.018256,0.008691,0.000599,0.020765,...,0.003920,0.008969,0.005768,0.018712,0.000972,0.007149,0.0,0.0,0.003300,0.003796

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-13,0.006726,0.015288,NaN,0.003026,0.007274,0.003960,0.013264,0.005214,0.004711,0.0,...,0.005269,0.006949,0.011367,0.005330,0.002264,0.007529,0.018703,0.015098,0.021545,0.020764
2020-10-14,0.004689,0.014160,NaN,0.003974,0.011458,0.004521,0.008643,0.002658,0.003170,0.0,...,0.007810,0.007160,0.013027,0.001591,0.000000,0.004918,0.007745,0.014334,0.019984,0.026745
2020-10-15,0.007055,0.015044,NaN,0.004889,0.013418,0.003403,0.014142,0.002700,0.004229,0.0,...,0.010379,0.005800,0.016838,0.007411,0.000753,0.008075,0.007078,0.013866,0.023629,0.024214

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-13      0.006803  0.004502  0.007415  0.008130  0.011614  0.001600
2020-10-14      0.002079  0.003521 -0.001052  0.000000  0.004592  0.003195
2020-10-15      0.010892  0.002392  0.015789  0.022849  0.010286  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-13      0.006237  0.009324  0.007229  0.019288  ...  0.047198
2020-10-14      0.009298  0.006415  0.001595  0.000000  ...  0.039437
2020-10-15      0.005118  0.006884  0.003185  0.013100  ...  0.046070

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-13      0.107692  0.016355  0.000000   0.017766  0.005926  0.007874
2020-10-14      0.027778  0.027586  0.000000   0.002494  0.010309  0.002604
2020-10-15      0.040541  0.029083  0.015038   0.009950  0.001458  0.007792

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-13            NaN  0.007937  0.068966
2020-10-14            NaN  0.039370  0.064516
2020-10-15            NaN  0.000000  0.075758

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-13,0.000000,0.000000,NaN,0.001389,0.015763,0.003497,0.017486,0.000221,0.004573,NaN,...,0.008291,0.004884,0.000000,0.0,0.00,0.003276,0.009589,0.005155,0.023066,0.055556
2020-10-14,0.015385,0.066667,NaN,0.000867,0.014277,0.005107,0.003251,0.000882,0.001517,NaN,...,0.011083,0.006441,0.009579,0.0,0.00,0.002671,0.004523,0.007692,0.018568,0.000000
2020-10-15,0.018477,0.015625,NaN,0.002945,0.006732,0.006157,0.000926,0.000661,0.001515,NaN,...,0.012730,0.005527,0.003795,0.0,0.05,0.002072,0.004953,0.005089,0.011068,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga   Baldwin Barbour      Bibb  Blount Bullock Butler
2020-10-13         0.0  0.000000     0.0  0.000000  0.0000  0.0000    0.0
2020-10-14         0.0  0.015385     0.0  0.083333  0.4375  0.0000    0.0
2020-10-15         0.0  0.000000     0.0  0.000000  0.0000  0.0625    0.0

Province_State                               ... Wyoming                  \
Admin2           Calhoun Chambers  Cherokee  ...    Park Platte Sheridan
2020-10-13      0.000000      0.0  0.000000  ...     0.0    0.0      0.0
2020-10-14      0.163265      0.0  0.076923  ...     0.0    0.0      0.0
2020-10-15      0.035088      0.0  0.000000  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned  Washakie Weston
2020-10-13          0.0        0.0   0.0   0.0        NaN  0.166667    NaN
2020-10-14          0.0        0.0   0.0   0.0        NaN  0.000000    NaN
2020-10-15          0.0        0.0   0.0   0.0        NaN  0.000000    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,0.001603,0.011384,0.002524,0.030188,0.025451,0.000524,0.013492,0.011251,0.000911,0.018413,...,0.025733,0.009832,0.005016,0.007779,0.002085,0.009962,5.349805e-36,0.000347,0.003573,0.001637
2020-10-14,0.001628,0.012136,0.002994,0.047648,0.025151,0.004767,0.014888,0.014815,0.000821,0.020947,...,0.028353,0.015827,0.005006,0.007528,0.005086,0.010047,2.674903e-36,0.000174,0.002717,0.002001
2020-10-15,0.001214,0.014122,0.003298,0.023824,0.030834,0.002383,0.016616,0.019101,0.000667,0.023699,...,0.028623,0.013986,0.005150,0.006493,0.003434,0.009864,1.337451e-36,0.000087,0.002735,0.002242

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,0.001132,0.010381,0.004465,0.009964,0.010449,1.644071e-55,0.015135,0.005673,0.003142,0.005696,...,0.002378,0.006358,0.005577,0.009080,1.808543e-14,0.013168,0.0,0.000645,0.006232,0.000290
2020-10-14,0.000904,0.011018,0.004708,0.022526,0.016486,8.220354e-56,0.014669,0.006228,0.001571,0.009236,...,0.002778,0.003179,0.005724,0.007357,9.042715e-15,0.009142,0.0,0.000323,0.003116,0.002319
2020-10-15,0.000452,0.011269,0.002354,0.011263,0.010445,4.110177e-56,0.015781,0.006483,0.000785,0.007485,...,0.002985,0.001589,0.006753,0.007880,4.521358e-15,0.014749,0.0,0.000161,0.003007,0.001159

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-13,0.003135,0.009606,0.003246,0.018121,0.006125,0.000097,0.014828,0.005773,0.000748,0.017705,...,0.006697,0.012163,0.005445,0.010903,0.000285,0.013564,3.134652e-38,0.000042,0.006032,0.044085
2020-10-14,0.002258,0.009299,0.003103,0.030585,0.010306,0.015512,0.013417,0.007151,0.000394,0.018830,...,0.006504,0.011114,0.005606,0.005451,0.002094,0.012742,1.567326e-38,0.000021,0.005282,0.022567
2020-10-15,0.002523,0.009874,0.001552,0.015293,0.027824,0.007756,0.015836,0.007921,0.000496,0.019798,...,0.005212,0.010041,0.005687,0.012082,0.001533,0.009946,7.836629e-39,0.000011,0.004291,0.013181

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-13,0.005924,0.018749,NaN,0.002820,0.007603,0.003693,0.011285,0.008490,0.005770,1.034411e-64,...,0.008321,0.005307,0.012347,0.005157,0.001200,0.006688,0.010096,0.012826,0.018741,0.022115
2020-10-14,0.005307,0.016455,NaN,0.003397,0.009530,0.004107,0.009964,0.005574,0.004470,5.172054e-65,...,0.008065,0.006234,0.012687,0.003374,0.000600,0.005803,0.008920,0.013580,0.019363,0.024430
2020-10-15,0.006181,0.015749,NaN,0.004143,0.011474,0.003755,0.012053,0.004137,0.004349,2.586027e-65,...,0.009222,0.006017,0.014763,0.005393,0.000676,0.006939,0.007999,0.013723,0.021496,0.024322

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-13      0.005679  0.003619  0.004897  0.007850  0.008618  0.001725
2020-10-14      0.003879  0.003570  0.001923  0.003925  0.006605  0.002460
2020-10-15      0.007386  0.002981  0.008856  0.013387  0.008445  0.001230

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-13      0.005952  0.007424  0.004999  0.012836  ...  0.043668
2020-10-14      0.007625  0.006920  0.003297  0.006418  ...  0.041552
2020-10-15      0.006371  0.006902  0.003241  0.009759  ...  0.043811

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-13      0.080060  0.027519  0.003034   0.010070  0.009790  0.005786
2020-10-14      0.053919  0.027553  0.001517   0.006282  0.010049  0.004195
2020-10-15      0.047230  0.028318  0.008277   0.008116  0.005754  0.005994

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-13      -0.999999  0.007960  0.042267
2020-10-14      -0.999999  0.023665  0.053391
2020-10-15      -0.999999  0.011833  0.064575

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-13,0.000858,0.000411,NaN,0.000914,0.013822,0.002530,0.009663,0.000266,0.003530,NaN,...,0.006600,0.003667,0.005367,2.995679e-23,8.031082e-07,0.002522,0.005010,0.005401,0.015062,0.02808
2020-10-14,0.008121,0.033539,NaN,0.000891,0.014049,0.003818,0.006457,0.000574,0.002524,NaN,...,0.008841,0.005054,0.007473,1.497840e-23,4.015541e-07,0.002597,0.004766,0.006547,0.016815,0.01404
2020-10-15,0.013299,0.024582,NaN,0.001918,0.010391,0.004988,0.003691,0.000618,0.002019,NaN,...,0.010786,0.005291,0.005634,7.489198e-24,2.500020e-02,0.002334,0.004860,0.005818,0.013941,0.00702

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-13      0.000577  0.003503  0.004464  0.003120  0.000521  0.000258
2020-10-14      0.000288  0.009444  0.002232  0.043227  0.219010  0.000129
2020-10-15      0.000144  0.004722  0.001116  0.021613  0.109505  0.031314

Province_State                                                  ...  \
Admin2                Butler   Calhoun  Chambers      Cherokee  ...
2020-10-13      7.951511e-07  0.004138  0.000186 -2.822641e-07  ...
2020-10-14      3.975755e-07  0.083701  0.000093  3.846140e-02  ...
2020-10-15      1.987878e-07  0.059395  0.000047  1.923070e-02  ...

Province_State       Wyoming                                                 \
Admin2                  Park Platte      Sheridan Sublette Sweetwater Teton
2020-10-13      7.450581e-09    0.0  1.117587e-08      0.0        0.0   0.0
2020-10-14      3.725290e-09    0.0  5.587935e-09      0.0        0.0   0.0
2020-10-15      1.862645e-09    0.0  2.793968e-09      0.0        0.0   0.0

Province_State
Admin2         Uinta Unassigned  Washakie Weston
2020-10-13       0.0  -0.533333  0.083333    NaN
2020-10-14       0.0  -0.533333  0.041667    NaN
2020-10-15       0.0  -0.533333  0.020833    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201015,AK,11348,NaN,508113,NaN,totalTestsViral,519461,60.0,NaN,...,519461,1,0,be25105ae62bda9a8c21c7821ab39f0ecd847747,0,0,0,0,0,NaN
1,20201015,AL,169162,20503.0,1085415,NaN,totalTestsViral,1234074,844.0,18635.0,...,1254577,50,0,65a2155bebc9bb83509af4218b9d2b9ba7aa19de,0,0,0,0,0,NaN
2,20201015,AR,96524,5221.0,1094699,NaN,totalTestsViral,1186002,587.0,6199.0,...,1191223,11,51,9e5ef136e493f90d74a1d610451f2c261f5dcaac,0,0,0,0,0,NaN
3,20201015,AS,0,NaN,1616,NaN,totalTestsViral,1616,NaN,NaN,...,1616,0,0,dd761d084c96db69d91d8b752bc74edca94e3608,0,0,0,0,0,NaN
4,20201015,AZ,228748,5056.0,1377341,NaN,totalTestsPeopleViral,1601033,726.0,20462.0,...,1606089,17,96,bad56e43be843d7fa36f41f5ce020a95d7c4abac,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201015,AK,11348.0,NaN,508113.0,NaN,totalTestsViral,519461.0,60.0,NaN,...,519461,1,0,be25105ae62bda9a8c21c7821ab39f0ecd847747,0,0,0,0,0,NaN
1,20201015,AL,169162.0,20503.0,1085415.0,NaN,totalTestsViral,1234074.0,844.0,18635.0,...,1254577,50,0,65a2155bebc9bb83509af4218b9d2b9ba7aa19de,0,0,0,0,0,NaN
2,20201015,AR,96524.0,5221.0,1094699.0,NaN,totalTestsViral,1186002.0,587.0,6199.0,...,1191223,11,51,9e5ef136e493f90d74a1d610451f2c261f5dcaac,0,0,0,0,0,NaN
3,20201015,AS,0.0,NaN,1616.0,NaN,totalTestsViral,1616.0,NaN,NaN,...,1616,0,0,dd761d084c96db69d91d8b752bc74edca94e3608,0,0,0,0,0,NaN
4,20201015,AZ,228748.0,5056.0,1377341.0,NaN,totalTestsPeopleViral,1601033.0,726.0,20462.0,...,1606089,17,96,bad56e43be843d7fa36f41f5ce020a95d7c4abac,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-15,AK,11348,NaN,508113,NaN,totalTestsViral,519461,60.0,NaN,NaN,...,519461,1,0,be25105ae62bda9a8c21c7821ab39f0ecd847747,0,0,0,0,0,NaN
2020-10-15,AL,169162,20503.0,1085415,NaN,totalTestsViral,1234074,844.0,18635.0,NaN,...,1254577,50,0,65a2155bebc9bb83509af4218b9d2b9ba7aa19de,0,0,0,0,0,NaN
2020-10-15,AR,96524,5221.0,1094699,NaN,totalTestsViral,1186002,587.0,6199.0,236.0,...,1191223,11,51,9e5ef136e493f90d74a1d610451f2c261f5dcaac,0,0,0,0,0,NaN
2020-10-15,AS,0,NaN,1616,NaN,totalTestsViral,1616,NaN,NaN,NaN,...,1616,0,0,dd761d084c96db69d91d8b752bc74edca94e3608,0,0,0,0,0,NaN
2020-10-15,AZ,228748,5056.0,1377341,NaN,totalTestsPeopleViral,1601033,726.0,20462.0,173.0,...,1606089,17,96,bad56e43be843d7fa36f41f5ce020a95d7c4abac,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-15,AK,11348.0,NaN,508113.0,NaN,totalTestsViral,519461.0,60.0,NaN,NaN,...,519461,1,0,be25105ae62bda9a8c21c7821ab39f0ecd847747,0,0,0,0,0,NaN
2020-10-15,AL,169162.0,20503.0,1085415.0,NaN,totalTestsViral,1234074.0,844.0,18635.0,NaN,...,1254577,50,0,65a2155bebc9bb83509af4218b9d2b9ba7aa19de,0,0,0,0,0,NaN
2020-10-15,AR,96524.0,5221.0,1094699.0,NaN,totalTestsViral,1186002.0,587.0,6199.0,236.0,...,1191223,11,51,9e5ef136e493f90d74a1d610451f2c261f5dcaac,0,0,0,0,0,NaN
2020-10-15,AS,0.0,NaN,1616.0,NaN,totalTestsViral,1616.0,NaN,NaN,NaN,...,1616,0,0,dd761d084c96db69d91d8b752bc74edca94e3608,0,0,0,0,0,NaN
2020-10-15,AZ,228748.0,5056.0,1377341.0,NaN,totalTestsPeopleViral,1601033.0,726.0,20462.0,173.0,...,1606089,17,96,bad56e43be843d7fa36f41f5ce020a95d7c4abac,0,0,0,0,0,NaN