# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-19-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-19-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-20 05:22:51,33.93911,67.709953,55575,2430,48803,4342.0,Afghanistan,142.762313,4.372470
1,NaN,NaN,NaN,Albania,2021-02-20 05:22:51,41.15330,20.168300,97909,1636,61605,34668.0,Albania,3402.216971,1.670939
2,NaN,NaN,NaN,Algeria,2021-02-20 05:22:51,28.03390,1.659600,111600,2954,76797,31849.0,Algeria,254.497937,2.646953
3,NaN,NaN,NaN,Andorra,2021-02-20 05:22:51,42.50630,1.521800,10645,107,10146,392.0,Andorra,13777.260079,1.005167
4,NaN,NaN,NaN,Angola,2021-02-20 05:22:51,-11.20270,17.873900,20478,498,18991,989.0,Angola,62.307044,2.431878

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55402,55420,55445,55473,55492,55514,55518,55540,55557,55575
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,88671,89776,90835,91987,93075,93850,94651,95726,96838,97909
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,109782,110049,110303,110513,110711,110894,111069,111247,111418,111600

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2418,2419,2424,2427,2427,2427,2428,2428,2430,2430
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1503,1517,1531,1543,1555,1567,1582,1600,1617,1636
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2926,2930,2932,2935,2939,2943,2945,2947,2950,2954

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48133,48279,48390,48392,48395,48433,48514,48626,48798,48803
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,53616,54362,55243,55983,56764,57736,58794,59684,60675,61605
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,75243,75436,75628,75816,75999,76168,76330,76489,76640,76797

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5930,5970,5984,6002,6023,6024,6038,6050,6071,6079
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,18888,18960,18994,19051,19105,19136,19176,19267,19324,19361
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2024,2030,2036,2040,2042,2044,2055,2053,2057,2061

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,79,81,84,84,84,84,84,84,84,85
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,239,240,251,252,252,252,253,253,254,262
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,46,46,48,48,48,48,48,49,49,49

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-02-20 05:22:51,32.539527,-86.644082,6079,85,0,5994.0,"Autauga, Alabama, US",10880.810467,1.398256
689,1075.0,Lamar,Alabama,US,2021-02-20 05:22:51,33.779950,-88.096680,1291,32,0,1259.0,"Lamar, Alabama, US",9351.684172,2.478699
690,1077.0,Lauderdale,Alabama,US,2021-02-20 05:22:51,34.901719,-87.656247,8513,207,0,8306.0,"Lauderdale, Alabama, US",9180.515265,2.431575

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               28004315  495693          0
India            10977387  156212   10678048
Brazil           10084208  244737    8988618

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,28004315,495693,0,27508622,2021-02-20 05:22:51,37.936303,-91.379001
India,10977387,156212,10678048,143127,2021-02-20 05:22:51,23.088275,81.806127
Brazil,10084208,244737,8988618,850853,2021-02-20 05:22:51,-12.669522,-48.480493
United Kingdom,4107286,120147,11250,3975889,2021-02-20 05:22:51,30.744028,-35.367255
Russia,4092649,81048,3639011,372590,2021-02-20 05:22:51,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3519430   48725          0
Texas             2587712   41832          0
Florida           1856427   29692          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3519430,48725,0,3470705,2021-02-20 05:22:51,37.843962,-120.728594
Texas,2587712,41832,0,2545880,2021-02-20 05:22:51,31.660643,-98.653069
Florida,1856427,29692,0,1826735,2021-02-20 05:22:51,28.940755,-82.700744
New York,1577197,46593,0,1530604,2021-02-20 05:22:51,42.544151,-75.474183
Illinois,1170902,22368,0,1148534,2021-02-20 05:22:51,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1176772   19662          0
Arizona        Maricopa        502454    8765          0
Illinois       Cook            468690    9235          0
Florida        Miami-Dade      399593    5270          0
Texas          Harris          340559    4790          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1176772,19662,0,1157110,2021-02-20 05:22:51,34.308284,-118.228241,6037.0
Arizona,Maricopa,502454,8765,0,493689,2021-02-20 05:22:51,33.348359,-112.491815,4013.0
Illinois,Cook,468690,9235,0,459455,2021-02-20 05:22:51,41.841448,-87.816588,17031.0
Florida,Miami-Dade,399593,5270,0,394323,2021-02-20 05:22:51,25.611236,-80.551706,12086.0
Texas,Harris,340559,4790,0,335769,2021-02-20 05:22:51,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,55540,95726,111247,10583,20400,525,2039124,169597,28912,437874,...,4083092,50208,79497,1,134319,2329,170527,2151,71677,35423
2021-02-18,55557,96838,111418,10610,20452,548,2046795,169820,28918,439841,...,4095187,50752,79548,1,134781,2347,171154,2154,72467,35543
2021-02-19,55575,97909,111600,10645,20478,548,2054681,170011,28920,441659,...,4107286,51377,79598,1,135114,2362,171717,2157,73203,35710

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,2428,1600,2947,107,496,10,50616,3155,909,8290,...,119159,553,622,0,1297,35,1948,618,983,1418
2021-02-18,2430,1617,2950,107,498,10,50857,3156,909,8312,...,119614,558,622,0,1303,35,1956,618,991,1420
2021-02-19,2430,1636,2954,107,498,10,51000,3158,909,8348,...,120147,563,622,0,1308,35,1961,618,1002,1430

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,48626,59684,76489,10066,18951,213,1842878,161476,22871,415221,...,11099,44481,77993,1,126342,1574,158709,1431,64040,31615
2021-02-18,48798,60675,76640,10101,18972,214,1849451,161577,22874,416431,...,11160,44976,78059,1,126792,1605,159369,1432,65051,31821
2021-02-19,48803,61605,76797,10146,18991,214,1855645,161790,22879,417654,...,11250,45398,78100,1,127143,1627,160172,1432,66013,31972

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5930,5970,5984,6002,6023,6024,6038,6050,6071,6079
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1275,1275,1275,1277,1281,1281,1283,1282,1286,1291
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8411,8432,8442,8460,8471,8476,8479,8480,8508,8513
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2746,2755,2762,2771,2777,2780,2781,2781,2787,2790
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,14443,14491,14524,14563,14608,14622,14641,14684,14729,14766

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-17,483167,56968,0,801055,314192,3506402,416174,271356,83581,49,...,760303,2576098,363248,13996,2545,555592,330807,128405,609189,53450
2021-02-18,484365,57182,0,802198,314445,3512088,417415,271903,83852,49,...,761360,2578396,364399,14149,2558,557896,332007,128760,610055,53531
2021-02-19,485212,57393,0,804116,314713,3519430,418695,273101,84181,49,...,762673,2587712,365256,14251,2575,559930,332904,129055,610974,53683

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-17        6050   19267    2053  2399   5997    1143   1924   12784
2021-02-18        6071   19324    2057  2405   6008    1144   1930   12833
2021-02-19        6079   19361    2061  2411   6021    1147   1934   12860

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-17         3338     1750  ...    2581    568     2983      669
2021-02-18         3348     1751  ...    2584    572     2987      671
2021-02-19         3358     1751  ...    2590    580     2988      671

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-17           3614  3298  2016          0      874    618
2021-02-18           3618  3307  2021          0      875    618
2021-02-19           3645  3318  2024          0      877    619

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-17,9346,288,0,15063,5313,47936,5838,7476,1316,0,...,10985,41496,1806,191,25,7075,4759,2225,6798,662
2021-02-18,9424,288,0,15276,5323,48259,5864,7496,1326,0,...,11057,41630,1813,193,25,7090,4803,2236,6816,662
2021-02-19,9573,289,0,15421,5336,48725,5878,7523,1343,0,...,11064,41832,1834,193,25,7098,4822,2248,6852,662

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-17          84     253      49   57    121      33     64     264
2021-02-18          84     254      49   57    121      33     64     265
2021-02-19          85     262      49   58    125      33     64     277

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-17           98       37  ...      26     11       27        7
2021-02-18           98       37  ...      26     11       27        7
2021-02-19           99       37  ...      26     11       27        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-17             34     9    12          0       26      5
2021-02-18             34     9    12          0       26      5
2021-02-19             34     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,0.000396,0.011358,0.001603,0.002653,0.000540,0.185102,0.002983,0.001216,0.000035,0.003978,...,0.003135,0.009713,0.000453,0.0,0.002927,0.007789,0.006136,0.001397,0.012058,0.003058
2021-02-18,0.000306,0.011616,0.001537,0.002551,0.002549,0.043810,0.003762,0.001315,0.000208,0.004492,...,0.002962,0.010835,0.000642,0.0,0.003440,0.007729,0.003677,0.001395,0.011022,0.003388
2021-02-19,0.000324,0.011060,0.001633,0.003299,0.001271,0.000000,0.003853,0.001125,0.000069,0.004133,...,0.002954,0.012315,0.000629,0.0,0.002471,0.006391,0.003289,0.001393,0.010156,0.004699

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,0.000000,0.011378,0.000679,0.0,0.004049,0.111111,0.003648,0.001587,0.0,0.003632,...,0.006232,0.012821,0.0,NaN,0.003870,0.0,0.003090,0.0,0.009240,0.002829
2021-02-18,0.000824,0.010625,0.001018,0.0,0.004032,0.000000,0.004761,0.000317,0.0,0.002654,...,0.003818,0.009042,0.0,NaN,0.004626,0.0,0.004107,0.0,0.008138,0.001410
2021-02-19,0.000000,0.011750,0.001356,0.0,0.000000,0.000000,0.002812,0.000634,0.0,0.004331,...,0.004456,0.008961,0.0,NaN,0.003837,0.0,0.002556,0.0,0.011100,0.007042

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,0.002309,0.015138,0.002083,0.004390,0.001162,0.039024,0.002495,0.000793,0.000044,0.003172,...,0.006986,0.009555,0.000308,0.0,0.003319,0.000636,0.004602,0.000000,0.006776,0.020530
2021-02-18,0.003537,0.016604,0.001974,0.003477,0.001108,0.004695,0.003567,0.000625,0.000131,0.002914,...,0.005496,0.011128,0.000846,0.0,0.003562,0.019695,0.004159,0.000699,0.015787,0.006516
2021-02-19,0.000102,0.015328,0.002049,0.004455,0.001001,0.000000,0.003349,0.001318,0.000219,0.002937,...,0.008065,0.009383,0.000525,0.0,0.002768,0.013707,0.005039,0.000000,0.014788,0.004745

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-17,0.001407,0.001107,NaN,0.001644,0.002127,0.001866,0.002740,0.001972,0.002543,0.0,...,0.001027,0.001999,0.002487,0.005677,0.001180,0.004128,0.003218,0.002248,0.001267,0.001856
2021-02-18,0.002479,0.003756,NaN,0.001427,0.000805,0.001622,0.002982,0.002016,0.003242,0.0,...,0.001390,0.000892,0.003169,0.010932,0.005108,0.004147,0.003627,0.002765,0.001422,0.001515
2021-02-19,0.001749,0.003690,NaN,0.002391,0.000852,0.002090,0.003066,0.004406,0.003924,0.0,...,0.001725,0.003613,0.002352,0.007209,0.006646,0.003646,0.002702,0.002291,0.001506,0.002839

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-17      0.001987  0.004746 -0.000973 -0.000417  0.001670 -0.001747
2021-02-18      0.003471  0.002958  0.001948  0.002501  0.001834  0.000875
2021-02-19      0.001318  0.001915  0.001945  0.002495  0.002164  0.002622

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-17      0.007330  0.002195  0.000600  0.000000  ...  0.000000
2021-02-18      0.003119  0.003833  0.002996  0.000571  ...  0.001162
2021-02-19      0.002073  0.002104  0.002987  0.000000  ...  0.002322

Province_State                                                              \
Admin2            Platte  Sheridan Sublette Sweetwater     Teton     Uinta
2021-02-17      0.001764  0.001679  0.00000   0.001385  0.000303  0.004484
2021-02-18      0.007042  0.001341  0.00299   0.001107  0.002729  0.002480
2021-02-19      0.013986  0.000335  0.00000   0.007463  0.003326  0.001484

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-17            NaN  0.000000  0.001621
2021-02-18            NaN  0.001144  0.000000
2021-02-19            NaN  0.002286  0.001618

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-17,0.009614,0.003484,NaN,0.005474,0.004918,0.008967,0.001716,0.003625,0.019365,NaN,...,0.002830,0.002658,0.005008,0.000000,0.0,0.005400,0.010618,0.004061,0.001473,0.0
2021-02-18,0.008346,0.000000,NaN,0.014141,0.001882,0.006738,0.004454,0.002675,0.007599,NaN,...,0.006554,0.003229,0.003876,0.010471,0.0,0.002120,0.009246,0.004944,0.002648,0.0
2021-02-19,0.015811,0.003472,NaN,0.009492,0.002442,0.009656,0.002387,0.003602,0.012821,NaN,...,0.000633,0.004852,0.011583,0.000000,0.0,0.001128,0.003956,0.005367,0.005282,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                   \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount  Bullock
2021-02-17      0.000000  0.000000  0.020833  0.000000  0.000000  0.03125
2021-02-18      0.000000  0.003953  0.000000  0.000000  0.000000  0.00000
2021-02-19      0.011905  0.031496  0.000000  0.017544  0.033058  0.00000

Province_State                                      ... Wyoming         \
Admin2         Butler   Calhoun  Chambers Cherokee  ...    Park Platte
2021-02-17        0.0  0.003802  0.042553      0.0  ...     0.0    0.0
2021-02-18        0.0  0.003788  0.000000      0.0  ...     0.0    0.0
2021-02-19        0.0  0.045283  0.010204      0.0  ...     0.0    0.0

Province_State                                                               \
Admin2         Sheridan Sublette Sweetwater Teton Uinta Unassigned Washakie
2021-02-17          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-18          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-19          0.0      0.0        0.0   0.0   0.0        NaN      0.0

Province_State
Admin2         Weston
2021-02-17        0.0
2021-02-18        0.0
2021-02-19        0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,0.000316,0.010373,0.001646,0.002605,0.000690,0.100596,0.002523,0.000993,0.000109,0.003554,...,0.002910,0.009213,0.000389,0.0,0.002891,0.012829,0.005791,0.001336,0.011290,0.002644
2021-02-18,0.000311,0.010995,0.001592,0.002578,0.001619,0.072203,0.003143,0.001154,0.000158,0.004023,...,0.002936,0.010024,0.000515,0.0,0.003165,0.010279,0.004734,0.001365,0.011156,0.003016
2021-02-19,0.000317,0.011027,0.001613,0.002939,0.001445,0.036101,0.003498,0.001139,0.000114,0.004078,...,0.002945,0.011169,0.000572,0.0,0.002818,0.008335,0.004012,0.001379,0.010656,0.003857

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,0.000186,0.010073,0.000827,0.000303,0.003160,0.056323,0.002833,0.001348,1.222713e-19,0.003492,...,0.005579,0.011064,0.000013,NaN,0.004496,1.062966e-52,0.002917,0.000513,0.011168,0.003621
2021-02-18,0.000505,0.010349,0.000923,0.000152,0.003596,0.028162,0.003797,0.000832,6.113563e-20,0.003073,...,0.004699,0.010053,0.000006,NaN,0.004561,5.314830e-53,0.003512,0.000256,0.009653,0.002516
2021-02-19,0.000252,0.011049,0.001139,0.000076,0.001798,0.014081,0.003305,0.000733,3.056781e-20,0.003702,...,0.004577,0.009507,0.000003,NaN,0.004199,2.657415e-53,0.003034,0.000128,0.010377,0.004779

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-17,0.001740,0.016048,0.002159,0.004861,0.001887,0.023766,0.002801,0.000933,0.000104,0.003258,...,0.006606,0.011222,0.000383,0.0,0.003213,0.006653,0.004566,0.000197,0.007128,0.014230
2021-02-18,0.002639,0.016326,0.002067,0.004169,0.001498,0.014231,0.003184,0.000779,0.000118,0.003086,...,0.006051,0.011175,0.000615,0.0,0.003387,0.013174,0.004362,0.000448,0.011458,0.010373
2021-02-19,0.001371,0.015827,0.002058,0.004312,0.001250,0.007115,0.003267,0.001049,0.000168,0.003011,...,0.007058,0.010279,0.000570,0.0,0.003078,0.013441,0.004701,0.000224,0.013123,0.007559

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-17,0.001637,0.002862,NaN,0.001703,0.001607,0.002010,0.002285,0.002997,0.002566,6.079720e-103,...,0.001293,0.001753,0.002114,0.006703,0.001682,0.003886,0.003095,0.002226,0.001203,0.002054
2021-02-18,0.002058,0.003309,NaN,0.001565,0.001206,0.001816,0.002633,0.002506,0.002904,3.039860e-103,...,0.001342,0.001322,0.002641,0.008817,0.003395,0.004017,0.003361,0.002495,0.001312,0.001785
2021-02-19,0.001904,0.003500,NaN,0.001978,0.001029,0.001953,0.002850,0.003456,0.003414,1.519930e-103,...,0.001533,0.002468,0.002496,0.008013,0.005020,0.003831,0.003032,0.002393,0.001409,0.002312

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-17      0.002026  0.003452  0.001197  0.000476  0.001767  0.000058
2021-02-18      0.002749  0.003205  0.001573  0.001489  0.001801  0.000466
2021-02-19      0.002033  0.002560  0.001759  0.001992  0.001982  0.001544

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-17      0.004845  0.002526  0.001475  0.000936  ...  0.001505
2021-02-18      0.003982  0.003180  0.002235  0.000754  ...  0.001334
2021-02-19      0.003027  0.002642  0.002611  0.000377  ...  0.001828

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-17      0.002346  0.001820  0.000301   0.001771  0.001875  0.003886
2021-02-18      0.004694  0.001580  0.001645   0.001439  0.002302  0.003183
2021-02-19      0.009340  0.000958  0.000823   0.004451  0.002814  0.002334

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-17           -1.0  0.000318  0.000809
2021-02-18           -1.0  0.000731  0.000405
2021-02-19           -1.0  0.001508  0.001011

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-17,0.005950,0.006294,NaN,0.003530,0.003782,0.007561,0.001286,0.003114,0.011809,NaN,...,0.002293,0.002476,0.003201,0.002160,0.000326,0.003897,0.007408,0.003072,0.002400,0.005869
2021-02-18,0.007148,0.003147,NaN,0.008835,0.002832,0.007150,0.002870,0.002895,0.009704,NaN,...,0.004423,0.002853,0.003538,0.006316,0.000163,0.003008,0.008327,0.004008,0.002524,0.002934
2021-02-19,0.011479,0.003310,NaN,0.009164,0.002637,0.008403,0.002629,0.003248,0.011262,NaN,...,0.002528,0.003853,0.007561,0.003158,0.000081,0.002068,0.006141,0.004687,0.003903,0.001467

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-17      0.000888  0.002057  0.011194  0.000947  0.000803  0.016146
2021-02-18      0.000444  0.003005  0.005597  0.000473  0.000401  0.008073
2021-02-19      0.006174  0.017251  0.002799  0.009009  0.016730  0.004037

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-17      0.000128  0.002495  0.022186  0.000055  ...  0.010172
2021-02-18      0.000064  0.003141  0.011093  0.000027  ...  0.005086
2021-02-19      0.000032  0.024212  0.010649  0.000014  ...  0.002543

Province_State                                                             \
Admin2                Platte  Sheridan      Sublette Sweetwater     Teton
2021-02-17      1.202442e-08  0.043569  9.829175e-15   0.000060  0.031377
2021-02-18      6.012208e-09  0.021785  4.914588e-15   0.000030  0.015688
2021-02-19      3.006104e-09  0.010892  2.457294e-15   0.000015  0.007844

Province_State
Admin2                 Uinta Unassigned      Washakie    Weston
2021-02-17      1.594538e-09  -0.501961  6.107032e-07  0.000013
2021-02-18      7.972692e-10  -0.501961  3.053516e-07  0.000006
2021-02-19      3.986346e-10  -0.501961  1.526758e-07  0.000003

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210219,AK,55198,NaN,NaN,NaN,totalTestsViral,1629829,34.0,1243.0,...,NaN,1,0,949ea7b5d6f62139719c052ffa3abf58d9b2afce,0,0,0,0,0,NaN
1,20210219,AL,485212,104618.0,1867861.0,NaN,totalTestsPeopleViral,2248455,951.0,44767.0,...,NaN,149,0,f15282fa10c00473cfb4dd1c9e2130030e137490,0,0,0,0,0,NaN
2,20210219,AR,314713,65537.0,2348207.0,NaN,totalTestsViral,2597383,630.0,14500.0,...,NaN,13,31,c00b8d91d44a53548168264a4caa058a8e28b531,0,0,0,0,0,NaN
3,20210219,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,66877f2d7ed7f12a9a6f670e076c793685c320c9,0,0,0,0,0,NaN
4,20210219,AZ,804116,54047.0,2918905.0,NaN,totalTestsViral,7351175,1738.0,56732.0,...,NaN,145,642,854aa5b90488cd06ca4f3428d4dbf9c7bfa80693,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210219,AK,55198.0,NaN,NaN,NaN,totalTestsViral,1629829.0,34.0,1243.0,...,NaN,1,0,949ea7b5d6f62139719c052ffa3abf58d9b2afce,0,0,0,0,0,NaN
1,20210219,AL,485212.0,104618.0,1867861.0,NaN,totalTestsPeopleViral,2248455.0,951.0,44767.0,...,NaN,149,0,f15282fa10c00473cfb4dd1c9e2130030e137490,0,0,0,0,0,NaN
2,20210219,AR,314713.0,65537.0,2348207.0,NaN,totalTestsViral,2597383.0,630.0,14500.0,...,NaN,13,31,c00b8d91d44a53548168264a4caa058a8e28b531,0,0,0,0,0,NaN
3,20210219,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,66877f2d7ed7f12a9a6f670e076c793685c320c9,0,0,0,0,0,NaN
4,20210219,AZ,804116.0,54047.0,2918905.0,NaN,totalTestsViral,7351175.0,1738.0,56732.0,...,NaN,145,642,854aa5b90488cd06ca4f3428d4dbf9c7bfa80693,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-19,AK,55198,NaN,NaN,NaN,totalTestsViral,1629829,34.0,1243.0,NaN,...,NaN,1,0,949ea7b5d6f62139719c052ffa3abf58d9b2afce,0,0,0,0,0,NaN
2021-02-19,AL,485212,104618.0,1867861.0,NaN,totalTestsPeopleViral,2248455,951.0,44767.0,NaN,...,NaN,149,0,f15282fa10c00473cfb4dd1c9e2130030e137490,0,0,0,0,0,NaN
2021-02-19,AR,314713,65537.0,2348207.0,NaN,totalTestsViral,2597383,630.0,14500.0,237.0,...,NaN,13,31,c00b8d91d44a53548168264a4caa058a8e28b531,0,0,0,0,0,NaN
2021-02-19,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,66877f2d7ed7f12a9a6f670e076c793685c320c9,0,0,0,0,0,NaN
2021-02-19,AZ,804116,54047.0,2918905.0,NaN,totalTestsViral,7351175,1738.0,56732.0,563.0,...,NaN,145,642,854aa5b90488cd06ca4f3428d4dbf9c7bfa80693,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-19,AK,55198.0,NaN,NaN,NaN,totalTestsViral,1629829.0,34.0,1243.0,NaN,...,NaN,1,0,949ea7b5d6f62139719c052ffa3abf58d9b2afce,0,0,0,0,0,NaN
2021-02-19,AL,485212.0,104618.0,1867861.0,NaN,totalTestsPeopleViral,2248455.0,951.0,44767.0,NaN,...,NaN,149,0,f15282fa10c00473cfb4dd1c9e2130030e137490,0,0,0,0,0,NaN
2021-02-19,AR,314713.0,65537.0,2348207.0,NaN,totalTestsViral,2597383.0,630.0,14500.0,237.0,...,NaN,13,31,c00b8d91d44a53548168264a4caa058a8e28b531,0,0,0,0,0,NaN
2021-02-19,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,66877f2d7ed7f12a9a6f670e076c793685c320c9,0,0,0,0,0,NaN
2021-02-19,AZ,804116.0,54047.0,2918905.0,NaN,totalTestsViral,7351175.0,1738.0,56732.0,563.0,...,NaN,145,642,854aa5b90488cd06ca4f3428d4dbf9c7bfa80693,0,0,0,0,0,NaN