# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'01-01-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'01-01-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,51526,2191,41727,0.0,Afghanistan,0.000000,4.252222
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501.0,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740.0,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570.0,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017.0,Angola,53.452981,2.305328

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,50433,50655,50810,50886,51039,51280,51350,51405,51526,51526
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,54317,54827,55380,55755,56254,56572,57146,57727,58316,58316
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,96549,97007,97441,97857,98249,98631,98988,99311,99610,99897

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2117,2126,2139,2149,2160,2174,2179,2181,2191,2191
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1117,1125,1134,1143,1153,1164,1170,1174,1181,1181
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2696,2705,2716,2722,2728,2737,2745,2751,2756,2762

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39692,40359,40444,40784,41096,41441,41543,41612,41727,41727
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,29799,30276,30790,31181,31565,32122,32700,33185,33634,33634
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,64401,64777,65144,65505,65862,66214,66550,66855,67127,67395

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3889,3942,3990,3999,4029,4065,4105,4164,4190,4239
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,12321,12521,12666,12708,12825,12962,13172,13392,13601,13823
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1383,1390,1396,1398,1406,1417,1462,1492,1514,1517

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,46,46,46,46,47,47,47,48,48,50
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,151,151,151,151,152,152,156,160,161,169
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,32,32,32,32,32,32,32,32,32,33

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2021-01-02 05:22:33,32.539527,-86.644082,4239,50,0,4189.0,"Autauga, Alabama, US",7587.391935,1.179523
686,1075.0,Lamar,Alabama,US,2021-01-02 05:22:33,33.779950,-88.096680,1065,15,0,1050.0,"Lamar, Alabama, US",7714.596161,1.408451
687,1077.0,Lauderdale,Alabama,US,2021-01-02 05:22:33,34.901719,-87.656247,6566,70,0,6496.0,"Lauderdale, Alabama, US",7080.848494,1.066098

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               20128693  347788          0
India            10286709  148994    9883461
Brazil            7700578  195411    6855372

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,20128693,347788,0,19780905,2021-01-02 05:22:33,37.936303,-91.379001
India,10286709,148994,9883461,254254,2021-01-02 05:22:33,23.088275,81.806127
Brazil,7700578,195411,6855372,649795,2021-01-02 05:22:33,-12.669522,-48.480493
Russia,3153960,56798,2553467,543695,2021-01-02 05:22:33,54.546312,62.120860
France,2697014,64892,200822,2431300,2021-01-02 05:22:33,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2336201   26286          0
Texas             1779595   28253          0
Florida           1323315   21673          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2336201,26286,0,2309915,2021-01-02 05:22:33,37.843962,-120.728594
Texas,1779595,28253,0,1751342,2021-01-02 05:22:33,31.660643,-98.653069
Florida,1323315,21673,0,1301642,2021-01-02 05:22:33,28.940755,-82.700744
New York,995816,38155,0,957661,2021-01-02 05:22:33,42.544151,-75.474183
Illinois,963389,17978,0,945411,2021-01-02 05:22:33,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     790582   10552          0
Illinois       Cook            393652    8285          0
Arizona        Maricopa        325404    5196          0
Florida        Miami-Dade      298873    4188          0
Texas          Harris          239657    3417          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,790582,10552,0,780030,2021-01-02 05:22:33,34.308284,-118.228241,6037.0
Illinois,Cook,393652,8285,0,385367,2021-01-02 05:22:33,41.841448,-87.816588,17031.0
Arizona,Maricopa,325404,5196,0,320208,2021-01-02 05:22:33,33.348359,-112.491815,4013.0
Florida,Miami-Dade,298873,4188,0,294685,2021-01-02 05:22:33,25.611236,-80.551706,12086.0
Texas,Harris,239657,3417,0,236240,2021-01-02 05:22:33,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,51405,57727,99311,7983,17433,158,1613928,158878,28405,357902,...,2440202,18480,76985,1,113121,1456,136736,2097,20462,13625
2020-12-31,51526,58316,99610,8049,17553,159,1625514,159409,28425,360815,...,2496231,19119,77060,1,113558,1465,138004,2099,20725,13867
2021-01-01,51526,58316,99897,8117,17568,159,1629594,159738,28460,362911,...,2549689,19753,77182,1,113884,1474,139223,2101,20997,14084

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,2181,1174,2751,84,405,5,43163,2807,909,6149,...,72657,174,614,0,1025,35,1371,610,386,360
2020-12-31,2191,1181,2756,84,405,5,43245,2823,909,6222,...,73622,181,614,0,1028,35,1400,610,388,363
2021-01-01,2191,1181,2762,84,405,5,43319,2828,909,6261,...,74237,193,614,0,1030,35,1418,610,390,369

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,41612,33185,66855,7384,10859,148,1426676,141844,25761,330990,...,5414,12996,74789,1,107203,1323,115127,1392,18530,11154
2020-12-31,41727,33634,67127,7432,11044,148,1426676,142801,25762,332952,...,5479,13468,74943,1,107583,1325,117183,1394,18660,11250
2021-01-01,41727,33634,67395,7463,11146,148,1426676,143355,25770,334901,...,5679,13990,75244,1,107901,1325,118926,1396,18773,11347

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3889,3942,3990,3999,4029,4065,4105,4164,4190,4239
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,986,997,1007,1009,1012,1017,1025,1037,1056,1065
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,5859,5996,6048,6039,6117,6162,6230,6371,6478,6566
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1859,1907,1921,1924,1939,1958,1978,2005,2044,2082
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,9609,9715,9779,9800,9856,9928,10047,10159,10320,10450

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-30,356820,46483,0,512489,222430,2261035,330859,183663,56596,49,...,580809,1750250,271940,7276,2010,344345,242330,84225,516226,44133
2020-12-31,361226,46986,0,520207,225138,2291007,334097,185708,57456,49,...,586802,1766307,276612,7412,2031,349584,246752,85334,520438,44409
2021-01-01,365747,46986,0,530267,229442,2336201,337161,185708,58064,49,...,586802,1779595,276612,7412,2036,354766,246752,87820,522523,44409

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-30        4164   13392    1492  1817   4584     846   1493    9428
2020-12-31        4190   13601    1514  1834   4641     859   1508    9494
2021-01-01        4239   13823    1517  1854   4693     888   1522    9584

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-30         2310     1403  ...    1985    434     2521      592
2020-12-31         2341     1414  ...    2021    440     2543      597
2021-01-01         2366     1429  ...    2021    440     2543      597

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-30           2943  2121  1540          0      768    475
2020-12-31           2966  2138  1558          0      781    476
2021-01-01           2966  2138  1558          0      781    476

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-30,4774,203,0,8718,3637,25334,4750,5964,921,0,...,6810,27600,1256,134,23,4984,3420,1318,5192,405
2020-12-31,4827,206,0,8864,3676,25897,4814,5995,926,0,...,6907,27944,1269,136,23,5032,3461,1338,5242,438
2021-01-01,4872,206,0,9015,3711,26286,4873,5995,930,0,...,6907,28253,1269,136,23,5081,3461,1361,5254,438

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-30          48     160      32   46     63      20     45     155
2020-12-31          48     161      32   46     63      22     45     156
2021-01-01          50     169      33   46     63      22     45     157

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-30           62       22  ...       7      8       16        5
2020-12-31           63       22  ...      10      8       17        6
2021-01-01           63       22  ...      10      8       17        6

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-30             15     3     7          0       16      2
2020-12-31             16     4     7          0       19      2
2021-01-01             16     4     7          0       19      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,0.001071,0.010167,0.003263,0.008082,0.003569,0.000000,0.007343,0.003677,0.000846,0.007176,...,0.021021,0.028839,0.001014,0.0,0.002304,0.001376,0.009427,0.000477,0.014125,0.022514
2020-12-31,0.002354,0.010203,0.003011,0.008268,0.006883,0.006329,0.007179,0.003342,0.000704,0.008139,...,0.022961,0.034578,0.000974,0.0,0.003863,0.006181,0.009273,0.000954,0.012853,0.017761
2021-01-01,0.000000,0.000000,0.002881,0.008448,0.000855,0.000000,0.002510,0.002064,0.001231,0.005809,...,0.021415,0.033161,0.001583,0.0,0.002871,0.006143,0.008833,0.000953,0.013124,0.015649

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,0.000918,0.003419,0.002186,0.0,0.004963,0.0,0.003371,0.003575,0.0,0.014854,...,0.013701,0.035714,0.001631,NaN,0.003918,0.0,0.014804,0.0,0.002597,0.002786
2020-12-31,0.004585,0.005963,0.001818,0.0,0.000000,0.0,0.001900,0.005700,0.0,0.011872,...,0.013282,0.040230,0.000000,NaN,0.002927,0.0,0.021152,0.0,0.005181,0.008333
2021-01-01,0.000000,0.000000,0.002177,0.0,0.000000,0.0,0.001711,0.001771,0.0,0.006268,...,0.008353,0.066298,0.000000,NaN,0.001946,0.0,0.012857,0.0,0.005155,0.016529

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,0.001661,0.014832,0.004583,0.003261,0.021831,0.006803,0.004076,0.006400,0.000272,0.006128,...,0.022667,0.039181,0.002184,0.0,0.002291,0.003033,0.018084,0.003605,0.008161,0.007861
2020-12-31,0.002764,0.013530,0.004069,0.006501,0.017037,0.000000,0.000000,0.006747,0.000039,0.005928,...,0.012006,0.036319,0.002059,0.0,0.003545,0.001512,0.017859,0.001437,0.007016,0.008607
2021-01-01,0.000000,0.000000,0.003992,0.004171,0.009236,0.000000,0.000000,0.003880,0.000311,0.005854,...,0.036503,0.038759,0.004016,0.0,0.002956,0.000000,0.014874,0.001435,0.006056,0.008622

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-30,0.014258,0.008483,NaN,0.010384,0.014522,0.014676,0.007463,0.009320,0.007243,0.0,...,0.014356,0.011656,0.009706,0.010275,0.015664,0.011895,0.006162,0.017542,0.006179,0.004781
2020-12-31,0.012348,0.010821,NaN,0.015060,0.012175,0.013256,0.009787,0.011135,0.015195,0.0,...,0.010318,0.009174,0.017180,0.018692,0.010448,0.015214,0.018248,0.013167,0.008159,0.006254
2021-01-01,0.012516,0.000000,NaN,0.019338,0.019117,0.019727,0.009171,0.000000,0.010582,0.0,...,0.000000,0.007523,0.000000,0.000000,0.002462,0.014823,0.000000,0.029133,0.004006,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-30      0.014373  0.016702  0.020520  0.013951  0.010805  0.014388
2020-12-31      0.006244  0.015606  0.014745  0.009356  0.012435  0.015366
2021-01-01      0.011695  0.016322  0.001982  0.010905  0.011204  0.033760

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-30      0.007422  0.008882  0.015385  0.007179  ...  0.007103
2020-12-31      0.010047  0.007000  0.013420  0.007840  ...  0.018136
2021-01-01      0.009284  0.009480  0.010679  0.010608  ...  0.000000

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-30      0.021176  0.005584  0.003390   0.004780  0.004261  0.012492
2020-12-31      0.013825  0.008727  0.008446   0.007815  0.008015  0.011688
2021-01-01      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-30            NaN  0.005236  0.008493
2020-12-31            NaN  0.016927  0.002105
2021-01-01            NaN  0.000000  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-30,0.007811,0.009950,NaN,0.009028,0.009437,0.016736,0.013441,0.006752,0.025612,NaN,...,0.014903,0.011656,0.017004,0.030769,0.0,0.013008,0.015138,0.026480,0.007764,0.000000
2020-12-31,0.011102,0.014778,NaN,0.016747,0.010723,0.022223,0.013474,0.005198,0.005429,NaN,...,0.014244,0.012464,0.010350,0.014925,0.0,0.009631,0.011988,0.015175,0.009630,0.081481
2021-01-01,0.009323,0.000000,NaN,0.017035,0.009521,0.015021,0.012256,0.000000,0.004320,NaN,...,0.000000,0.011058,0.000000,0.000000,0.0,0.009738,0.000000,0.017190,0.002289,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                 \
Admin2           Autauga   Baldwin  Barbour      Bibb    Blount Bullock
2020-12-30      0.021277  0.025641  0.00000  0.095238  0.086207     0.0
2020-12-31      0.000000  0.006250  0.00000  0.000000  0.000000     0.1
2021-01-01      0.041667  0.049689  0.03125  0.000000  0.000000     0.0

Province_State                                       ...   Wyoming         \
Admin2         Butler   Calhoun  Chambers  Cherokee  ...      Park Platte
2020-12-30        0.0  0.040268  0.016393 -0.043478  ...  0.000000    0.0
2020-12-31        0.0  0.006452  0.016129  0.000000  ...  0.428571    0.0
2021-01-01        0.0  0.006410  0.000000  0.000000  ...  0.000000    0.0

Province_State                                                          \
Admin2         Sheridan Sublette Sweetwater     Teton Uinta Unassigned
2020-12-30       0.0000      0.0   0.000000  0.000000   0.0        NaN
2020-12-31       0.0625      0.2   0.066667  0.333333   0.0        NaN
2021-01-01       0.0000      0.0   0.000000  0.000000   0.0        NaN

Province_State
Admin2         Washakie Weston
2020-12-30       0.0000    0.0
2020-12-31       0.1875    0.0
2021-01-01       0.0000    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,0.001816,0.009397,0.003550,0.006802,0.003856,0.002551,0.006491,0.002921,0.000857,0.006047,...,0.020368,0.032050,0.001043,0.0,0.002394,0.002287,0.009266,0.000436,0.011748,0.016322
2020-12-31,0.002085,0.009800,0.003280,0.007535,0.005370,0.004440,0.006835,0.003132,0.000780,0.007093,...,0.021664,0.033314,0.001009,0.0,0.003128,0.004234,0.009270,0.000695,0.012301,0.017042
2021-01-01,0.001043,0.004900,0.003081,0.007992,0.003112,0.002220,0.004672,0.002598,0.001006,0.006451,...,0.021540,0.033237,0.001296,0.0,0.003000,0.005189,0.009051,0.000824,0.012712,0.016345

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,0.002506,0.005231,0.002561,0.003139,0.004117,9.536743e-07,0.003540,0.004897,0.000069,0.015003,...,0.009754,0.039162,0.000918,NaN,0.003473,5.983967e-38,0.015557,0.001339,0.002580,0.008570
2020-12-31,0.003546,0.005597,0.002189,0.001570,0.002059,4.768372e-07,0.002720,0.005299,0.000034,0.013438,...,0.011518,0.039696,0.000459,NaN,0.003200,2.991983e-38,0.018355,0.000669,0.003881,0.008452
2021-01-01,0.001773,0.002798,0.002183,0.000785,0.001029,2.384186e-07,0.002216,0.003535,0.000017,0.009853,...,0.009936,0.052997,0.000229,NaN,0.002573,1.495992e-38,0.015606,0.000335,0.004518,0.012490

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-30,0.003433,0.015820,0.004923,0.004285,0.020385,0.004333,0.004422,0.006613,0.000282,0.007172,...,0.024331,0.042994,0.002195,0.0,0.002378,0.004874,0.017332,0.002344,0.006116,0.014636
2020-12-31,0.003098,0.014675,0.004496,0.005393,0.018711,0.002167,0.002211,0.006680,0.000160,0.006550,...,0.018168,0.039656,0.002127,0.0,0.002961,0.003193,0.017595,0.001891,0.006566,0.011621
2021-01-01,0.001549,0.007337,0.004244,0.004782,0.013973,0.001083,0.001105,0.005280,0.000235,0.006202,...,0.027336,0.039207,0.003072,0.0,0.002959,0.001597,0.016235,0.001663,0.006311,0.010122

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-30,0.011617,0.006372,NaN,0.010122,0.012097,0.015940,0.006379,0.012022,0.009300,3.422578e-88,...,0.011475,0.012011,0.008997,0.011265,0.008049,0.011315,0.007047,0.015535,0.005407,0.005588
2020-12-31,0.011982,0.008597,NaN,0.012591,0.012136,0.014598,0.008083,0.011578,0.012248,1.711289e-88,...,0.010897,0.010593,0.013089,0.014978,0.009248,0.013265,0.012647,0.014351,0.006783,0.005921
2021-01-01,0.012249,0.004298,NaN,0.015965,0.015626,0.017162,0.008627,0.005789,0.011415,8.556445e-89,...,0.005448,0.009058,0.006544,0.007489,0.005855,0.014044,0.006324,0.021742,0.005395,0.002960

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-30      0.011704  0.014832  0.019790  0.013254  0.009406  0.011174
2020-12-31      0.008974  0.015219  0.017267  0.011305  0.010920  0.013270
2021-01-01      0.010334  0.015771  0.009624  0.011105  0.011062  0.023515

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-30      0.008911  0.007456  0.014234  0.008199  ...  0.011077
2020-12-31      0.009479  0.007228  0.013827  0.008019  ...  0.014606
2021-01-01      0.009381  0.008354  0.012253  0.009314  ...  0.007303

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-30      0.013465  0.006306  0.004485   0.006577  0.004954  0.009999
2020-12-31      0.013645  0.007516  0.006466   0.007196  0.006485  0.010844
2021-01-01      0.006823  0.003758  0.003233   0.003598  0.003242  0.005422

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-30           -1.0  0.006447  0.007487
2020-12-31           -1.0  0.011687  0.004796
2021-01-01           -1.0  0.005844  0.002398

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-30,0.006224,0.006631,NaN,0.010663,0.012447,0.014936,0.010969,0.006787,0.013440,NaN,...,0.014466,0.008825,0.012772,0.023064,4.806164e-19,0.010248,0.021727,0.019124,0.009344,0.010851
2020-12-31,0.008663,0.010705,NaN,0.013705,0.011585,0.018579,0.012221,0.005992,0.009435,NaN,...,0.014355,0.010644,0.011561,0.018994,2.403082e-19,0.009939,0.016858,0.017149,0.009487,0.046166
2021-01-01,0.008993,0.005352,NaN,0.015370,0.010553,0.016800,0.012239,0.002996,0.006877,NaN,...,0.007177,0.010851,0.005781,0.009497,1.201541e-19,0.009839,0.008429,0.017169,0.005888,0.023083

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-30      0.012178  0.019896  0.000016  0.047621  0.043471
2020-12-31      0.006089  0.013073  0.000008  0.023811  0.021735
2021-01-01      0.023878  0.031381  0.015629  0.011905  0.010868

Province_State                                                            ...  \
Admin2               Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2020-12-30      3.921359e-10  2.819744e-06  0.020534  0.008239 -0.021744  ...
2020-12-31      5.000000e-02  1.409872e-06  0.013493  0.012184 -0.010872  ...
2021-01-01      2.500000e-02  7.049360e-07  0.009952  0.006092 -0.005436  ...

Province_State       Wyoming                                                   \
Admin2                  Park        Platte  Sheridan      Sublette Sweetwater
2020-12-30      9.935929e-09  1.362008e-10  0.008343  3.514191e-07   0.000001
2020-12-31      2.142857e-01  6.810039e-11  0.035421  1.000002e-01   0.033334
2021-01-01      1.071429e-01  3.405019e-11  0.017711  5.000009e-02   0.016667

Province_State
Admin2             Teton         Uinta Unassigned  Washakie        Weston
2020-12-30      0.062500  5.258868e-08  -0.501961  0.041844  9.313225e-10
2020-12-31      0.197917  2.629434e-08  -0.501961  0.114672  4.656612e-10
2021-01-01      0.098958  1.314717e-08  -0.501961  0.057336  2.328306e-10

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210101,AK,45461,NaN,1230289,NaN,totalTestsViral,1275750,79.0,1023.0,...,1275750,0,0,c2ce8371ed45bb91d526fd0aaf67292bb514e142,0,0,0,0,0,NaN
1,20210101,AL,365747,71281.0,1590750,NaN,totalTestsPeopleViral,1885216,2815.0,34373.0,...,1956497,45,189,caa38ac50634728728426e3eb37ef17bd8c6d55f,0,0,0,0,0,NaN
2,20210101,AR,225138,38354.0,1864704,NaN,totalTestsViral,2051488,1195.0,11450.0,...,2089842,0,92,8ccc1b7ff6224e270ef76a348cdabf738c54c278,0,0,0,0,0,NaN
3,20210101,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,50e4950d836132c5e93967f37b1a41cbda8261e9,0,0,0,0,0,NaN
4,20210101,AZ,530267,26469.0,2375070,NaN,totalTestsViral,5155330,4501.0,38846.0,...,2905337,151,1589,88d6dbb77ca643ffddb6df9a88bce8c6ce49646b,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210101,AK,45461.0,NaN,1230289.0,NaN,totalTestsViral,1275750.0,79.0,1023.0,...,1275750,0,0,c2ce8371ed45bb91d526fd0aaf67292bb514e142,0,0,0,0,0,NaN
1,20210101,AL,365747.0,71281.0,1590750.0,NaN,totalTestsPeopleViral,1885216.0,2815.0,34373.0,...,1956497,45,189,caa38ac50634728728426e3eb37ef17bd8c6d55f,0,0,0,0,0,NaN
2,20210101,AR,225138.0,38354.0,1864704.0,NaN,totalTestsViral,2051488.0,1195.0,11450.0,...,2089842,0,92,8ccc1b7ff6224e270ef76a348cdabf738c54c278,0,0,0,0,0,NaN
3,20210101,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,50e4950d836132c5e93967f37b1a41cbda8261e9,0,0,0,0,0,NaN
4,20210101,AZ,530267.0,26469.0,2375070.0,NaN,totalTestsViral,5155330.0,4501.0,38846.0,...,2905337,151,1589,88d6dbb77ca643ffddb6df9a88bce8c6ce49646b,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-01,AK,45461,NaN,1230289,NaN,totalTestsViral,1275750,79.0,1023.0,NaN,...,1275750,0,0,c2ce8371ed45bb91d526fd0aaf67292bb514e142,0,0,0,0,0,NaN
2021-01-01,AL,365747,71281.0,1590750,NaN,totalTestsPeopleViral,1885216,2815.0,34373.0,NaN,...,1956497,45,189,caa38ac50634728728426e3eb37ef17bd8c6d55f,0,0,0,0,0,NaN
2021-01-01,AR,225138,38354.0,1864704,NaN,totalTestsViral,2051488,1195.0,11450.0,396.0,...,2089842,0,92,8ccc1b7ff6224e270ef76a348cdabf738c54c278,0,0,0,0,0,NaN
2021-01-01,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,50e4950d836132c5e93967f37b1a41cbda8261e9,0,0,0,0,0,NaN
2021-01-01,AZ,530267,26469.0,2375070,NaN,totalTestsViral,5155330,4501.0,38846.0,1072.0,...,2905337,151,1589,88d6dbb77ca643ffddb6df9a88bce8c6ce49646b,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-01,AK,45461.0,NaN,1230289.0,NaN,totalTestsViral,1275750.0,79.0,1023.0,NaN,...,1275750,0,0,c2ce8371ed45bb91d526fd0aaf67292bb514e142,0,0,0,0,0,NaN
2021-01-01,AL,365747.0,71281.0,1590750.0,NaN,totalTestsPeopleViral,1885216.0,2815.0,34373.0,NaN,...,1956497,45,189,caa38ac50634728728426e3eb37ef17bd8c6d55f,0,0,0,0,0,NaN
2021-01-01,AR,225138.0,38354.0,1864704.0,NaN,totalTestsViral,2051488.0,1195.0,11450.0,396.0,...,2089842,0,92,8ccc1b7ff6224e270ef76a348cdabf738c54c278,0,0,0,0,0,NaN
2021-01-01,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,50e4950d836132c5e93967f37b1a41cbda8261e9,0,0,0,0,0,NaN
2021-01-01,AZ,530267.0,26469.0,2375070.0,NaN,totalTestsViral,5155330.0,4501.0,38846.0,1072.0,...,2905337,151,1589,88d6dbb77ca643ffddb6df9a88bce8c6ce49646b,0,0,0,0,0,NaN