# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-27-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-27-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-28 05:22:06,33.93911,67.709953,51039,2160,41096,7783.0,Afghanistan,131.110134,4.232058
1,NaN,NaN,NaN,Albania,2020-12-28 05:22:06,41.15330,20.168300,56254,1153,31565,23536.0,Albania,1954.757106,2.049632
2,NaN,NaN,NaN,Algeria,2020-12-28 05:22:06,28.03390,1.659600,98249,2728,65862,29659.0,Algeria,224.051683,2.776619
3,NaN,NaN,NaN,Andorra,2020-12-28 05:22:06,42.50630,1.521800,7821,83,7288,450.0,Andorra,10122.306348,1.061245
4,NaN,NaN,NaN,Angola,2020-12-28 05:22:06,-11.20270,17.873900,17240,399,10354,6487.0,Angola,52.454997,2.314385

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49621,49681,49817,50013,50190,50433,50655,50810,50886,51039
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,52004,52542,53003,53425,53814,54317,54827,55380,55755,56254
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,94371,94781,95203,95659,96069,96549,97007,97441,97857,98249

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2030,2047,2067,2082,2096,2117,2126,2139,2149,2160
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1066,1074,1088,1098,1111,1117,1125,1134,1143,1153
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2647,2659,2666,2675,2687,2696,2705,2716,2722,2728

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38540,38613,39006,39508,39585,39692,40359,40444,40784,41096
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,27426,27831,28121,28752,29249,29799,30276,30790,31181,31565
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,62487,62869,63260,63644,64020,64401,64777,65144,65505,65862

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3647,3698,3741,3780,3841,3889,3942,3990,3999,4029
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,11556,11722,11827,11952,12155,12321,12521,12666,12708,12825
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1318,1330,1336,1336,1363,1383,1390,1396,1398,1406

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,44,44,44,44,44,46,46,46,46,47
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,146,147,147,147,149,151,151,151,151,152
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,30,32,32,32,32,32,32,32,32,32

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-28 05:22:06,32.539527,-86.644082,4029,47,0,3982.0,"Autauga, Alabama, US",7211.512646,1.166543
686,1075.0,Lamar,Alabama,US,2020-12-28 05:22:06,33.779950,-88.096680,1012,15,0,997.0,"Lamar, Alabama, US",7330.677291,1.482213
687,1077.0,Lauderdale,Alabama,US,2020-12-28 05:22:06,34.901719,-87.656247,6117,68,0,6049.0,"Lauderdale, Alabama, US",6596.641827,1.111656

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               19132726  333118          0
India            10207871  147901    9782669
Brazil            7484285  191139    6677235

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,19132726,333118,0,18799608,2020-12-28 05:22:06,37.936303,-91.379001
India,10207871,147901,9782669,277301,2020-12-28 05:22:06,23.088275,81.806127
Brazil,7484285,191139,6677235,615911,2020-12-28 05:22:06,-12.669522,-48.480493
Russia,3019972,54080,2426094,539798,2020-12-28 05:22:06,54.546312,62.120860
France,2616510,62867,195861,2357782,2020-12-28 05:22:06,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2156389   24282          0
Texas             1690986   26966          0
Florida           1271979   21212          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2156389,24282,0,2132107,2020-12-28 05:22:06,37.843962,-120.728594
Texas,1690986,26966,0,1664020,2020-12-28 05:22:06,31.660643,-98.653069
Florida,1271979,21212,0,1250767,2020-12-28 05:22:06,28.940755,-82.700744
Illinois,937909,17336,0,920573,2020-12-28 05:22:06,39.843618,-89.178330
New York,922145,37411,0,884734,2020-12-28 05:22:06,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     719833    9482          0
Illinois       Cook            384931    8114          0
Arizona        Maricopa        302707    4907          0
Florida        Miami-Dade      288306    4150          0
Texas          Harris          231707    3331          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,719833,9482,0,710351,2020-12-28 05:22:06,34.308284,-118.228241,6037.0
Illinois,Cook,384931,8114,0,376817,2020-12-28 05:22:06,41.841448,-87.816588,17031.0
Arizona,Maricopa,302707,4907,0,297800,2020-12-28 05:22:06,33.348359,-112.491815,4013.0
Florida,Miami-Dade,288306,4150,0,284156,2020-12-28 05:22:06,25.611236,-80.551706,12086.0
Texas,Harris,231707,3331,0,228376,2020-12-28 05:22:06,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,50810,55380,97441,7756,17099,155,1574554,156763,28297,349055,...,2227947,15848,76568,1,111603,1439,130598,2092,19571,12880
2020-12-26,50886,55755,97857,7806,17149,155,1578267,157349,28308,350484,...,2262735,16218,76666,1,111951,1440,131904,2092,19671,12963
2020-12-27,51039,56254,98249,7821,17240,155,1583297,157834,28337,351892,...,2295228,16728,76751,1,112316,1441,133093,2094,19834,13077

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,2139,1134,2716,83,396,5,42422,2733,908,5783,...,70302,143,612,0,1010,35,1260,606,381,341
2020-12-26,2149,1143,2722,83,399,5,42501,2752,908,5843,...,70513,147,612,0,1013,35,1281,606,382,341
2020-12-27,2160,1153,2728,83,399,5,42650,2768,909,5881,...,70860,158,613,0,1014,35,1309,607,383,349

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,40444,30790,65144,7203,9921,146,1384277,137815,25727,318154,...,4822,10479,73911,1,105804,1303,106718,1384,18127,10468
2020-12-26,40784,31181,65505,7252,9976,146,1402227,138669,25730,320753,...,4910,10847,74291,1,106105,1303,108118,1384,18200,10519
2020-12-27,41096,31565,65862,7288,10354,146,1407926,139113,25733,323002,...,5093,11366,74291,1,106453,1303,109377,1384,18210,10593

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3647,3698,3741,3780,3841,3889,3942,3990,3999,4029
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,925,941,946,966,979,986,997,1007,1009,1012
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,5428,5531,5582,5644,5722,5859,5996,6048,6039,6117
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1708,1739,1757,1783,1819,1859,1907,1921,1924,1939
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,9188,9283,9337,9372,9490,9609,9715,9779,9800,9856

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-25,342426,45104,0,486935,213267,2060797,322189,172743,53653,49,...,546497,1662724,260589,6781,1979,327993,233093,78836,505345,42664
2020-12-26,343458,45479,0,493041,213969,2120610,323619,172743,54473,49,...,560892,1668138,264078,6966,1979,329577,236719,80177,506022,43146
2020-12-27,345628,45781,0,494337,214877,2156389,325018,172743,55057,49,...,564080,1690986,264874,7029,1979,333576,236719,80710,508580,43200

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-25        3990   12666    1396  1725   4441     777   1448    9167
2020-12-26        3999   12708    1398  1739   4446     825   1446    9198
2020-12-27        4029   12825    1406  1746   4465     827   1452    9232

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-25         2200     1368  ...    1860    418     2432      579
2020-12-26         2203     1368  ...    1898    420     2458      582
2020-12-27         2214     1369  ...    1899    420     2463      582

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-25           2820  2039  1475          0      726    460
2020-12-26           2845  2080  1495          0      751    461
2020-12-27           2854  2080  1497          0      747    466

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-25,4680,199,0,8409,3438,23958,4586,5791,891,0,...,6431,26896,1204,120,23,4820,3184,1247,5025,373
2020-12-26,4685,200,0,8424,3441,24218,4592,5791,895,0,...,6443,26916,1212,121,23,4840,3184,1253,5029,373
2020-12-27,4691,200,0,8427,3482,24282,4610,5791,897,0,...,6512,26966,1214,127,23,4854,3184,1254,5039,373

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-25          46     151      32   42     58      20     45     149
2020-12-26          46     151      32   42     58      20     45     149
2020-12-27          47     152      32   42     58      20     45     149

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-25           61       23  ...       7      8       15        5
2020-12-26           61       23  ...       7      8       15        5
2020-12-27           61       23  ...       7      8       15        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-25             15     2     7          0       12      2
2020-12-26             15     2     7          0       12      2
2020-12-27             15     2     7          0       12      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,0.003060,0.010086,0.004474,0.007404,0.004111,0.006494,0.006835,0.003977,0.000813,0.005331,...,0.014943,0.025296,0.001465,0.0,0.003218,0.004888,0.011760,0.000000,0.017521,0.007352
2020-12-26,0.001496,0.006771,0.004269,0.006447,0.002924,0.000000,0.002358,0.003738,0.000389,0.004094,...,0.015614,0.023347,0.001280,0.0,0.003118,0.000695,0.010000,0.000000,0.005110,0.006444
2020-12-27,0.003007,0.008950,0.004006,0.001922,0.005306,0.000000,0.003187,0.003082,0.001024,0.004017,...,0.014360,0.031447,0.001109,0.0,0.003260,0.000694,0.009014,0.000956,0.008286,0.008794

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,0.006115,0.008000,0.004067,0.0,0.007634,0.0,0.002552,0.007001,0.000000,0.006614,...,0.008174,0.059259,0.000000,NaN,0.003976,0.0,0.013677,0.00000,0.000000,0.00590
2020-12-26,0.004675,0.007937,0.002209,0.0,0.007576,0.0,0.001862,0.006952,0.000000,0.010375,...,0.003001,0.027972,0.000000,NaN,0.002970,0.0,0.016667,0.00000,0.002625,0.00000
2020-12-27,0.005119,0.008749,0.002204,0.0,0.000000,0.0,0.003506,0.005814,0.001101,0.006504,...,0.004921,0.074830,0.001634,NaN,0.000987,0.0,0.021858,0.00165,0.002618,0.02346

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,0.002106,0.016977,0.005666,0.004462,0.019735,0.0,0.000000,0.007670,0.000117,0.006969,...,0.000207,0.043725,0.002237,0.0,0.003081,0.017174,0.014112,0.0,0.005045,0.014931
2020-12-26,0.008407,0.012699,0.005542,0.006803,0.005544,0.0,0.012967,0.006197,0.000117,0.008169,...,0.018250,0.035118,0.005141,0.0,0.002845,0.000000,0.013119,0.0,0.004027,0.004872
2020-12-27,0.007650,0.012315,0.005450,0.004964,0.037891,0.0,0.004064,0.003202,0.000117,0.007012,...,0.037271,0.047847,0.000000,0.0,0.003280,0.000000,0.011645,0.0,0.000549,0.007035

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-25,0.010699,0.000000,NaN,0.013774,0.010050,0.010102,0.008322,0.0,0.012034,0.0,...,0.000000,0.001998,0.000000,0.000000,0.006101,0.012590,0.000000,0.020676,0.003254,0.000000
2020-12-26,0.003014,0.008314,NaN,0.012540,0.003292,0.029024,0.004438,0.0,0.015283,0.0,...,0.026340,0.003256,0.013389,0.027282,0.000000,0.004829,0.015556,0.017010,0.001340,0.011298
2020-12-27,0.006318,0.006640,NaN,0.002629,0.004244,0.016872,0.004323,0.0,0.010721,0.0,...,0.005684,0.013697,0.003014,0.009044,0.000000,0.012134,0.000000,0.006648,0.005055,0.001252

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-25      0.012177  0.011581  0.004317  0.008182  0.008173  0.009091
2020-12-26      0.002256  0.003316  0.001433  0.008116  0.001126  0.061776
2020-12-27      0.007502  0.009207  0.005722  0.004025  0.004274  0.002424

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-25      0.009763  0.010583  0.004108  0.018615  ...  0.000000
2020-12-26     -0.001381  0.003382  0.001364  0.000000  ...  0.020430
2020-12-27      0.004149  0.003696  0.004993  0.000731  ...  0.000527

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-25      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2020-12-26      0.004785  0.010691  0.005181   0.008865  0.020108  0.013559
2020-12-27      0.000000  0.002034  0.000000   0.003163  0.000000  0.001338

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-25            NaN  0.000000  0.000000
2020-12-26            NaN  0.034435  0.002174
2020-12-27            NaN -0.005326  0.010846

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-25,0.000855,0.000000,NaN,0.013865,0.009395,0.003224,0.007912,0.0,0.003378,NaN,...,0.000000,0.007077,0.000000,0.000000,0.0,0.006053,0.0,0.015472,0.001195,0.0
2020-12-26,0.001068,0.005025,NaN,0.001784,0.000873,0.010852,0.001308,0.0,0.004489,NaN,...,0.001866,0.000744,0.006645,0.008333,0.0,0.004149,0.0,0.004812,0.000796,0.0
2020-12-27,0.001281,0.000000,NaN,0.000356,0.011915,0.002643,0.003920,0.0,0.002235,NaN,...,0.010709,0.001858,0.001650,0.049587,0.0,0.002893,0.0,0.000798,0.001988,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                               \
Admin2           Autauga   Baldwin Barbour Bibb Blount Bullock Butler
2020-12-25      0.000000  0.000000     0.0  0.0    0.0     0.0    0.0
2020-12-26      0.000000  0.000000     0.0  0.0    0.0     0.0    0.0
2020-12-27      0.021739  0.006623     0.0  0.0    0.0     0.0    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2020-12-25      0.006757      0.0      0.0  ...     0.0    0.0      0.0
2020-12-26      0.000000      0.0      0.0  ...     0.0    0.0      0.0
2020-12-27      0.000000      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-25          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2020-12-26          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2020-12-27          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,0.003668,0.009583,0.004605,0.005750,0.005058,0.004213,0.004662,0.004224,0.000722,0.006176,...,0.016463,0.036495,0.001624,0.0,0.002723,0.004796,0.012628,0.000601,0.012409,0.008620
2020-12-26,0.002582,0.008177,0.004437,0.006098,0.003991,0.002106,0.003510,0.003981,0.000555,0.005135,...,0.016039,0.029921,0.001452,0.0,0.002921,0.002745,0.011314,0.000300,0.008759,0.007532
2020-12-27,0.002794,0.008564,0.004222,0.004010,0.004649,0.001053,0.003349,0.003532,0.000790,0.004576,...,0.015199,0.030684,0.001280,0.0,0.003091,0.001720,0.010164,0.000628,0.008523,0.008163

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,0.006277,0.007848,0.003774,0.004067,0.004678,0.000031,0.002038,0.007393,8.214532e-12,0.012400,...,0.008468,0.053476,5.005429e-08,NaN,0.004163,1.914869e-36,0.016193,-2.072915e-07,0.001869,0.012465
2020-12-26,0.005476,0.007892,0.002991,0.002033,0.006127,0.000015,0.001950,0.007172,4.107266e-12,0.011388,...,0.005735,0.040724,2.502714e-08,NaN,0.003567,9.574347e-37,0.016430,-1.036458e-07,0.002247,0.006233
2020-12-27,0.005297,0.008320,0.002598,0.001017,0.003064,0.000008,0.002728,0.006493,5.506608e-04,0.008946,...,0.005328,0.057777,8.170060e-04,NaN,0.002277,4.787173e-37,0.019144,8.250307e-04,0.002432,0.014847

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-25,0.006300,0.017059,0.005791,0.005827,0.010765,0.002416,0.000917,0.007894,0.000116,0.008612,...,0.014999,0.045909,0.002075,0.0,0.002799,0.009227,0.016769,-2.264178e-07,0.004402,0.010802
2020-12-26,0.007353,0.014879,0.005666,0.006315,0.008154,0.001208,0.006942,0.007045,0.000116,0.008390,...,0.016624,0.040513,0.003608,0.0,0.002822,0.004613,0.014944,-1.132089e-07,0.004215,0.007837
2020-12-27,0.007502,0.013597,0.005558,0.005640,0.023023,0.000604,0.005503,0.005124,0.000116,0.007701,...,0.026948,0.044180,0.001804,0.0,0.003051,0.002307,0.013294,-5.660445e-08,0.002382,0.007436

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-25,0.011854,0.003511,NaN,0.013966,0.011801,0.015093,0.008726,0.005876,0.012605,1.095225e-86,...,0.005896,0.005655,0.005172,0.006797,0.006927,0.013411,0.005495,0.018824,0.004710,0.001762
2020-12-26,0.007434,0.005913,NaN,0.013253,0.007546,0.022059,0.006582,0.002938,0.013944,5.476125e-87,...,0.016118,0.004455,0.009280,0.017040,0.003463,0.009120,0.010525,0.017917,0.003025,0.006530
2020-12-27,0.006876,0.006277,NaN,0.007941,0.005895,0.019465,0.005452,0.001469,0.012333,2.738063e-87,...,0.010901,0.009076,0.006147,0.013042,0.001732,0.010627,0.005263,0.012282,0.004040,0.003891

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-25      0.012844  0.013318  0.006720  0.011880  0.009505  0.007663
2020-12-26      0.007550  0.008317  0.004076  0.009998  0.005316  0.034719
2020-12-27      0.007526  0.008762  0.004899  0.007012  0.004795  0.018572

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-25      0.008444  0.011490  0.005803  0.014819  ...  0.003048
2020-12-26      0.003531  0.007436  0.003583  0.007409  ...  0.011739
2020-12-27      0.003840  0.005566  0.004288  0.004070  ...  0.006133

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-25      0.001743  0.000816  0.002007   0.002977  0.001219  0.002815
2020-12-26      0.003264  0.005753  0.003594   0.005921  0.010663  0.008187
2020-12-27      0.001632  0.003894  0.001797   0.004542  0.005332  0.004762

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-25           -1.0  0.002606  0.002730
2020-12-26           -1.0  0.018521  0.002452
2020-12-27           -1.0  0.006597  0.006649

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-25,0.010221,0.007960,NaN,0.012798,0.010160,0.008318,0.011842,0.004,0.006869,NaN,...,0.006352,0.008557,0.005213,0.013210,1.537972e-17,0.007002,0.003566,0.020151,0.007901,0.004068
2020-12-26,0.005645,0.006492,NaN,0.007291,0.005516,0.009585,0.006575,0.002,0.005679,NaN,...,0.004109,0.004650,0.005929,0.010772,7.689862e-18,0.005575,0.001783,0.012481,0.004349,0.002034
2020-12-27,0.003463,0.003246,NaN,0.003823,0.008716,0.006114,0.005247,0.001,0.003957,NaN,...,0.007409,0.003254,0.003789,0.030179,3.844931e-18,0.004234,0.000891,0.006640,0.003169,0.001017

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-25      0.005795  0.002636  0.000521  0.000063  0.011750
2020-12-26      0.002898  0.001318  0.000261  0.000032  0.005875
2020-12-27      0.012318  0.003970  0.000130  0.000016  0.002937

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-12-25      1.254835e-08  0.000090  0.012799  0.001348 -0.000163  ...
2020-12-26      6.274174e-09  0.000045  0.006400  0.000674 -0.000081  ...
2020-12-27      3.137087e-09  0.000023  0.003200  0.000337 -0.000041  ...

Province_State       Wyoming                                               \
Admin2                  Park        Platte  Sheridan  Sublette Sweetwater
2020-12-25      3.179497e-07  4.358425e-09  0.000301  0.000011   0.000039
2020-12-26      1.589749e-07  2.179212e-09  0.000151  0.000006   0.000019
2020-12-27      7.948743e-08  1.089606e-09  0.000075  0.000003   0.000010

Province_State
Admin2                 Teton         Uinta Unassigned  Washakie        Weston
2020-12-25      1.110223e-16  1.682838e-06  -0.501961  0.005683  2.980232e-08
2020-12-26      5.551115e-17  8.414189e-07  -0.501961  0.002842  1.490116e-08
2020-12-27      2.775558e-17  4.207095e-07  -0.501961  0.001421  7.450580e-09

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201227,AK,44280,NaN,1205971,NaN,totalTestsViral,1250251,71.0,992.0,...,1250251,0,1,77eae6349cf5a1a30f5a3e3688e84572080f0e6c,0,0,0,0,0,NaN
1,20201227,AL,345628,65369.0,1563481,NaN,totalTestsPeopleViral,1843740,2585.0,32115.0,...,1909109,6,0,70566f017efacd575fca03e6b6347bdf783c6da8,0,0,0,0,0,NaN
2,20201227,AR,214877,34588.0,1831319,NaN,totalTestsViral,2011608,1093.0,11009.0,...,2046196,41,53,e5c11122c43ab95b8dbc2b3f1db1d7a1bf5c0452,0,0,0,0,0,NaN
3,20201227,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,2787ae39f1498a05878980d1f6195d5d78c19523,0,0,0,0,0,NaN
4,20201227,AZ,494337,22609.0,2303758,NaN,totalTestsViral,4918727,4190.0,35390.0,...,2798095,3,53,1942d011df86adfa55ef280b7faeea87b5e99584,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201227,AK,44280.0,NaN,1205971.0,NaN,totalTestsViral,1250251.0,71.0,992.0,...,1250251,0,1,77eae6349cf5a1a30f5a3e3688e84572080f0e6c,0,0,0,0,0,NaN
1,20201227,AL,345628.0,65369.0,1563481.0,NaN,totalTestsPeopleViral,1843740.0,2585.0,32115.0,...,1909109,6,0,70566f017efacd575fca03e6b6347bdf783c6da8,0,0,0,0,0,NaN
2,20201227,AR,214877.0,34588.0,1831319.0,NaN,totalTestsViral,2011608.0,1093.0,11009.0,...,2046196,41,53,e5c11122c43ab95b8dbc2b3f1db1d7a1bf5c0452,0,0,0,0,0,NaN
3,20201227,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,2787ae39f1498a05878980d1f6195d5d78c19523,0,0,0,0,0,NaN
4,20201227,AZ,494337.0,22609.0,2303758.0,NaN,totalTestsViral,4918727.0,4190.0,35390.0,...,2798095,3,53,1942d011df86adfa55ef280b7faeea87b5e99584,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-27,AK,44280,NaN,1205971,NaN,totalTestsViral,1250251,71.0,992.0,NaN,...,1250251,0,1,77eae6349cf5a1a30f5a3e3688e84572080f0e6c,0,0,0,0,0,NaN
2020-12-27,AL,345628,65369.0,1563481,NaN,totalTestsPeopleViral,1843740,2585.0,32115.0,NaN,...,1909109,6,0,70566f017efacd575fca03e6b6347bdf783c6da8,0,0,0,0,0,NaN
2020-12-27,AR,214877,34588.0,1831319,NaN,totalTestsViral,2011608,1093.0,11009.0,365.0,...,2046196,41,53,e5c11122c43ab95b8dbc2b3f1db1d7a1bf5c0452,0,0,0,0,0,NaN
2020-12-27,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,2787ae39f1498a05878980d1f6195d5d78c19523,0,0,0,0,0,NaN
2020-12-27,AZ,494337,22609.0,2303758,NaN,totalTestsViral,4918727,4190.0,35390.0,988.0,...,2798095,3,53,1942d011df86adfa55ef280b7faeea87b5e99584,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-27,AK,44280.0,NaN,1205971.0,NaN,totalTestsViral,1250251.0,71.0,992.0,NaN,...,1250251,0,1,77eae6349cf5a1a30f5a3e3688e84572080f0e6c,0,0,0,0,0,NaN
2020-12-27,AL,345628.0,65369.0,1563481.0,NaN,totalTestsPeopleViral,1843740.0,2585.0,32115.0,NaN,...,1909109,6,0,70566f017efacd575fca03e6b6347bdf783c6da8,0,0,0,0,0,NaN
2020-12-27,AR,214877.0,34588.0,1831319.0,NaN,totalTestsViral,2011608.0,1093.0,11009.0,365.0,...,2046196,41,53,e5c11122c43ab95b8dbc2b3f1db1d7a1bf5c0452,0,0,0,0,0,NaN
2020-12-27,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,2787ae39f1498a05878980d1f6195d5d78c19523,0,0,0,0,0,NaN
2020-12-27,AZ,494337.0,22609.0,2303758.0,NaN,totalTestsViral,4918727.0,4190.0,35390.0,988.0,...,2798095,3,53,1942d011df86adfa55ef280b7faeea87b5e99584,0,0,0,0,0,NaN