# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'11-17-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'11-17-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-18 05:40:31,33.93911,67.709953,43628,1638,35160,6830.0,Afghanistan,112.072590,3.754470
1,NaN,NaN,NaN,Albania,2020-11-18 05:40:31,41.15330,20.168300,29126,637,13804,14685.0,Albania,1012.092571,2.187049
2,NaN,NaN,NaN,Algeria,2020-11-18 05:40:31,28.03390,1.659600,69591,2186,45148,22257.0,Algeria,158.698620,3.141211
3,NaN,NaN,NaN,Andorra,2020-11-18 05:40:31,42.50630,1.521800,5951,76,4965,910.0,Andorra,7702.064324,1.277096
4,NaN,NaN,NaN,Angola,2020-11-18 05:40:31,-11.20270,17.873900,13818,328,6582,6908.0,Angola,42.043106,2.373715

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,42092,42297,42463,42609,42795,42969,43035,43240,43403,43628
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,24206,24731,25294,25801,26211,26701,27233,27830,28432,29126
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,62051,62693,63446,64257,65108,65975,66819,67679,68589,69591

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1558,1574,1577,1581,1591,1595,1605,1617,1626,1638
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,559,571,579,590,598,605,612,623,631,637
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2048,2062,2077,2093,2111,2124,2139,2154,2168,2186

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34458,34721,34954,34967,35024,35036,35067,35092,35137,35160
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,12092,12203,12353,12493,12574,12667,12767,12889,13453,13804
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,42037,42325,42626,42980,42980,43779,44199,44633,45148,45148

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2283,2304,2328,2351,2385,2417,2435,2456,2481,2506
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,7226,7263,7348,7409,7454,7523,7596,7646,7696,7772
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1095,1098,1107,1112,1113,1117,1123,1128,1130,1134

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,30,30,30,32,32,36,36,36,36,37
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,83,83,84,84,84,84,84,84,84,84
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
646,1001.0,Autauga,Alabama,US,2020-11-18 05:40:31,32.539527,-86.644082,2506,37,0,2469.0,"Autauga, Alabama, US",4485.492849,1.476457
683,1075.0,Lamar,Alabama,US,2020-11-18 05:40:31,33.779950,-88.096680,588,7,0,581.0,"Lamar, Alabama, US",4259.326331,1.190476
684,1077.0,Lauderdale,Alabama,US,2020-11-18 05:40:31,34.901719,-87.656247,3431,52,0,3379.0,"Lauderdale, Alabama, US",3700.029117,1.515593

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               11357322  248672    4293640
India             8912907  130993    8335109
Brazil            5911758  166699    5358299

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,11357322,248672,4293640,6815010,2020-11-18 05:40:31,37.936303,-91.379001
India,8912907,130993,8335109,446805,2020-11-18 05:40:31,23.088275,81.806127
Brazil,5911758,166699,5358299,386760,2020-11-18 05:40:31,-12.669522,-48.480493
France,2087183,46346,148669,1892168,2020-11-18 05:40:31,8.314863,-21.695174
Russia,1954912,33619,1465051,456242,2020-11-18 05:40:31,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
Texas             1078875   20147          0
California        1052285   18347          0
Florida            897323   17644          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
Texas,1078875,20147,0,1058728,2020-11-18 05:40:31,31.660643,-98.653069
California,1052285,18347,0,1033938,2020-11-18 05:40:31,37.843962,-120.728594
Florida,897323,17644,0,879679,2020-11-18 05:40:31,28.940755,-82.700744
Illinois,597849,11317,0,586532,2020-11-18 05:40:31,39.843618,-89.178330
New York,568778,34156,0,534622,2020-11-18 05:40:31,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     344523    7299          0
Illinois       Cook            260004    6035          0
Florida        Miami-Dade      205536    3723          0
Arizona        Maricopa        178639    3809          0
Texas          Harris          175959    2919          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,344523,7299,0,337224,2020-11-18 05:40:31,34.308284,-118.228241,6037.0
Illinois,Cook,260004,6035,0,253969,2020-11-18 05:40:31,41.841448,-87.816588,17031.0
Florida,Miami-Dade,205536,3723,0,201813,2020-11-18 05:40:31,25.611236,-80.551706,12086.0
Arizona,Maricopa,178639,3809,0,174830,2020-11-18 05:40:31,33.348359,-112.491815,4013.0
Texas,Harris,175959,2919,0,173040,2020-11-18 05:40:31,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,43240,27830,67679,5872,13451,134,1310491,117337,27749,203956,...,4030,70243,1,97352,1281,63031,10,2072,17123,8829
2020-11-16,43403,28432,68589,5914,13615,134,1318384,117886,27758,208613,...,4104,70381,1,97739,1283,63867,10,2078,17187,8897
2020-11-17,43628,29126,69591,5951,13818,134,1329005,118870,27777,214597,...,4208,70648,1,98050,1288,64935,10,2081,17243,8945

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,1617,623,2154,76,322,4,35436,1763,907,1829,...,65,598,0,851,35,565,1,605,353,257
2020-11-16,1626,631,2168,76,324,4,35727,1788,907,1887,...,67,598,0,855,35,572,1,605,353,257
2020-11-17,1638,637,2186,76,328,4,36106,1811,907,1945,...,68,599,0,858,35,580,1,607,353,260

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,35092,12889,44633,4747,6444,127,1129102,74984,25468,125674,...,3233,67526,0,92373,1103,54346,8,1394,16137,8096
2020-11-16,35137,13453,45148,4830,6523,127,1140196,75865,25499,129671,...,3284,67655,0,92767,1124,54953,8,1406,16400,8116
2020-11-17,35160,13804,45148,4965,6582,127,1148833,78343,25505,136487,...,3348,67927,0,93084,1124,55684,8,1410,16473,8164

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2283,2304,2328,2351,2385,2417,2435,2456,2481,2506
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,554,559,565,570,576,579,581,584,584,588
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,2937,2963,3011,3088,3140,3221,3259,3298,3360,3431
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1003,1007,1014,1028,1037,1050,1071,1076,1080,1098
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6903,6926,6952,6994,7043,7122,7181,7212,7240,7278

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-15,217822,23814,0,275436,133040,1032095,163417,88645,28803,49,...,310937,1059753,153808,2889,1434,201960,130040,33659,329924,22494
2020-11-16,219232,24399,0,276912,134348,1041690,167713,93284,29200,49,...,318888,1066918,155779,3008,1434,204637,131532,34460,334562,23193
2020-11-17,220848,25041,0,279896,135902,1052285,172044,94986,29552,49,...,320729,1078875,158957,3104,1450,206762,134121,35324,342155,24453

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-11-15        2456    7646    1128   986   2549     677   1087    5608
2020-11-16        2481    7696    1130   993   2574     677   1095    5666
2020-11-17        2506    7772    1134  1004   2594     678   1099    5702

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-15         1570      908  ...    1085    252     1265      268
2020-11-16         1572      912  ...    1057    260     1321      278
2020-11-17         1595      919  ...    1092    275     1409      297

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-15           1075  1178   729          0      218    339
2020-11-16           1110  1192   760          0      227    338
2020-11-17           1151  1252   796          0      253    346

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-15,3248,98,0,6302,2183,18262,2546,4737,736,0,...,3893,19995,718,59,23,3800,2519,582,2751,144
2020-11-16,3249,98,0,6302,2225,18288,2578,4759,736,0,...,3923,20032,723,59,23,3806,2548,585,2764,144
2020-11-17,3301,100,0,6312,2245,18347,2608,4771,739,0,...,3995,20147,732,59,23,3835,2571,598,2867,155

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-15          36      84       9   17     34      19     41      77
2020-11-16          36      84       9   17     34      19     41      77
2020-11-17          37      84       9   17     34      19     41      77

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-15           48       15  ...       4      5        8        1
2020-11-16           48       15  ...       4      5        8        1
2020-11-17           48       15  ...       4      5        9        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-15              4     2     4          0        7      0
2020-11-16              4     2     4          0        7      0
2020-11-17              4     2     4          0        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,0.004764,0.021922,0.012871,0.025677,0.005757,0.0,0.004326,0.012792,0.001371,0.028569,...,0.018448,0.003658,0.0,0.004323,0.012648,0.013898,0.0,0.000000,0.001521,0.004894
2020-11-16,0.003770,0.021631,0.013446,0.007153,0.012192,0.0,0.006023,0.004679,0.000324,0.022833,...,0.018362,0.001965,0.0,0.003975,0.001561,0.013263,0.0,0.002896,0.003738,0.007702
2020-11-17,0.005184,0.024409,0.014609,0.006256,0.014910,0.0,0.008056,0.008347,0.000684,0.028685,...,0.025341,0.003794,0.0,0.003182,0.003897,0.016722,0.0,0.001444,0.003258,0.005395

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,0.007477,0.017974,0.007013,0.013333,0.000000,0.0,0.003654,0.014384,0.0,0.047537,...,0.015625,0.006734,NaN,0.003538,0.0,0.012545,0.0,0.000000,0.008571,0.000000
2020-11-16,0.005566,0.012841,0.006500,0.000000,0.006211,0.0,0.008212,0.014180,0.0,0.031711,...,0.030769,0.000000,NaN,0.004700,0.0,0.012389,0.0,0.000000,0.000000,0.000000
2020-11-17,0.007380,0.009509,0.008303,0.000000,0.012346,0.0,0.010608,0.012864,0.0,0.030737,...,0.014925,0.001672,NaN,0.003509,0.0,0.013986,0.0,0.003306,0.000000,0.011673

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,0.000713,0.009556,0.009819,0.015401,0.015603,0.0,0.008698,0.011862,0.000039,0.052414,...,0.018268,0.004238,NaN,0.004622,0.000000,0.010318,0.0,0.000000,0.000000,0.000000
2020-11-16,0.001282,0.043758,0.011539,0.017485,0.012259,0.0,0.009826,0.011749,0.001217,0.031805,...,0.015775,0.001910,NaN,0.004265,0.019039,0.011169,0.0,0.008608,0.016298,0.002470
2020-11-17,0.000655,0.026091,0.000000,0.027950,0.009045,0.0,0.007575,0.032663,0.000235,0.052564,...,0.019488,0.004020,NaN,0.003417,0.000000,0.013302,0.0,0.002845,0.004451,0.005914

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-15,0.009169,0.028549,NaN,0.008727,0.006613,0.008824,0.026270,0.000000,0.014369,0.0,...,0.019065,0.007151,0.017646,0.016180,0.000000,0.005782,0.018077,0.026439,0.019530,0.028015
2020-11-16,0.006473,0.024565,NaN,0.005359,0.009832,0.009297,0.026289,0.052332,0.013783,0.0,...,0.025571,0.006761,0.012815,0.041191,0.000000,0.013255,0.011473,0.023797,0.014058,0.031075
2020-11-17,0.007371,0.026313,NaN,0.010776,0.011567,0.010171,0.025824,0.018245,0.012055,0.0,...,0.005773,0.011207,0.020401,0.031915,0.011158,0.010384,0.019683,0.025073,0.022695,0.054327

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-15      0.008624  0.006582  0.004452  0.008180  0.012311  0.002963
2020-11-16      0.010179  0.006539  0.001773  0.007099  0.009808  0.000000
2020-11-17      0.010077  0.009875  0.003540  0.011078  0.007770  0.001477

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-15      0.011163  0.025229  0.008997  0.011136  ... -0.000921
2020-11-16      0.007360  0.010342  0.001274  0.004405  ... -0.025806
2020-11-17      0.003653  0.006354  0.014631  0.007675  ...  0.033113

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-15      0.016129  0.032653  0.030769   0.049805  0.019031  0.013908
2020-11-16      0.031746  0.044269  0.037313   0.032558  0.011885  0.042524
2020-11-17      0.057692  0.066616  0.068345   0.036937  0.050336  0.047368

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-15            NaN  0.048077  0.008929
2020-11-16            NaN  0.041284 -0.002950
2020-11-17            NaN  0.114537  0.023669

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-15,0.000616,0.000000,NaN,0.000317,0.011116,0.000493,0.008317,0.000000,0.000000,NaN,...,0.004127,0.004219,0.011268,0.0,0.0,0.000263,0.000000,0.013937,0.004381,0.000000
2020-11-16,0.000308,0.000000,NaN,0.000000,0.019240,0.001424,0.012569,0.004644,0.000000,NaN,...,0.007706,0.001850,0.006964,0.0,0.0,0.001579,0.011513,0.005155,0.004726,0.000000
2020-11-17,0.016005,0.020408,NaN,0.001587,0.008989,0.003226,0.011637,0.002522,0.004076,NaN,...,0.018353,0.005741,0.012448,0.0,0.0,0.007620,0.009027,0.022222,0.037265,0.076389

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                     \
Admin2           Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-15      0.000000     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2020-11-16      0.000000     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2020-11-17      0.027778     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-15          0.0      0.0  ...     0.0    0.0    0.000      0.0
2020-11-16          0.0      0.0  ...     0.0    0.0    0.000      0.0
2020-11-17          0.0      0.0  ...     0.0    0.0    0.125      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-15            0.0   0.0   0.0        NaN      0.0    NaN
2020-11-16            0.0   0.0   0.0        NaN      0.0    NaN
2020-11-17            0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,0.003765,0.020586,0.012874,0.016656,0.008535,0.003807,0.006017,0.013670,0.000986,0.036159,...,0.019706,0.003393,0.0,0.004277,0.009291,0.012506,6.227993e-46,0.000069,0.001295,0.004597
2020-11-16,0.003767,0.021109,0.013160,0.011904,0.010364,0.001904,0.006020,0.009174,0.000655,0.029496,...,0.019034,0.002679,0.0,0.004126,0.005426,0.012885,3.113997e-46,0.001482,0.002516,0.006150
2020-11-17,0.004476,0.022759,0.013884,0.009080,0.012637,0.000952,0.007038,0.008761,0.000670,0.029090,...,0.022188,0.003236,0.0,0.003654,0.004662,0.014803,1.556998e-46,0.001463,0.002887,0.005772

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,0.006215,0.015235,0.007034,0.006667,0.005855,0.083333,0.005680,0.017686,2.109994e-09,0.044753,...,0.010369,0.004027,NaN,0.003911,2.105421e-24,0.013468,0.0,0.000041,0.004331,0.001123
2020-11-16,0.005890,0.014038,0.006767,0.003333,0.006033,0.041667,0.006946,0.015933,1.054997e-09,0.038232,...,0.020569,0.002013,NaN,0.004306,1.052711e-24,0.012929,0.0,0.000020,0.002165,0.000561
2020-11-17,0.006635,0.011773,0.007535,0.001667,0.009189,0.020833,0.008777,0.014398,5.274984e-10,0.034484,...,0.017747,0.001843,NaN,0.003907,5.263553e-25,0.013457,0.0,0.001663,0.001083,0.006117

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-15,0.000901,0.008775,0.010105,0.012832,0.012384,0.006629,0.008854,0.019411,0.000092,0.052004,...,0.015039,0.004002,NaN,0.004608,0.001840,0.009907,3.649215e-48,0.000108,0.000581,0.000844
2020-11-16,0.001092,0.026267,0.010822,0.015158,0.012322,0.003315,0.009340,0.015580,0.000655,0.041904,...,0.015407,0.002956,NaN,0.004437,0.010439,0.010538,1.824607e-48,0.004358,0.008439,0.001657
2020-11-17,0.000873,0.026179,0.005411,0.021554,0.010683,0.001657,0.008457,0.024122,0.000445,0.047234,...,0.017448,0.003488,NaN,0.003927,0.005220,0.011920,9.123037e-49,0.003602,0.006445,0.003786

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-15,0.010101,0.028990,NaN,0.009854,0.010827,0.008899,0.031064,0.006176,0.013724,1.204213e-74,...,0.016460,0.008411,0.022739,0.025823,0.002687,0.006570,0.017771,0.028291,0.020764,0.031039
2020-11-16,0.008287,0.026778,NaN,0.007607,0.010329,0.009098,0.028676,0.029254,0.013754,6.021063e-75,...,0.021016,0.007586,0.017777,0.033507,0.001343,0.009913,0.014622,0.026044,0.017411,0.031057
2020-11-17,0.007829,0.026545,NaN,0.009191,0.010948,0.009634,0.027250,0.023750,0.012904,3.010532e-75,...,0.013394,0.009397,0.019089,0.032711,0.006250,0.010148,0.017153,0.025558,0.020053,0.042692

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-15      0.009360  0.007782  0.004391  0.007396  0.013743  0.003243
2020-11-16      0.009770  0.007161  0.003082  0.007248  0.011776  0.001621
2020-11-17      0.009923  0.008518  0.003311  0.009163  0.009773  0.001549

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-15      0.008110  0.017609  0.009357  0.011374  ...  0.011123
2020-11-16      0.007735  0.013976  0.005316  0.007890  ... -0.007342
2020-11-17      0.005694  0.010165  0.009973  0.007783  ...  0.012885

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-15      0.025027  0.029291  0.035002   0.047824  0.028594  0.029080
2020-11-16      0.028387  0.036780  0.036158   0.040191  0.020239  0.035802
2020-11-17      0.043040  0.051698  0.052251   0.038564  0.035287  0.041585

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-15           -1.0  0.030676  0.013620
2020-11-16           -1.0  0.035980  0.005335
2020-11-17           -1.0  0.075259  0.014502

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-15,0.003434,0.006728,NaN,0.002622,0.007985,0.001627,0.009129,0.000564,0.001890,NaN,...,0.007356,0.005216,0.012852,0.000034,0.000017,0.002447,0.001444,0.014796,0.010721,0.035448
2020-11-16,0.001871,0.003364,NaN,0.001311,0.013612,0.001525,0.010849,0.002604,0.000945,NaN,...,0.007531,0.003533,0.009908,0.000017,0.000008,0.002013,0.006478,0.009975,0.007723,0.017724
2020-11-17,0.008938,0.011886,NaN,0.001449,0.011300,0.002376,0.011243,0.002563,0.002511,NaN,...,0.012942,0.004637,0.011178,0.000008,0.000004,0.004816,0.007753,0.016099,0.022494,0.047056

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga  Baldwin       Barbour      Bibb    Blount   Bullock
2020-11-15      0.017677  0.00028  5.197113e-13  0.001107  0.009654  0.002655
2020-11-16      0.008838  0.00014  2.598556e-13  0.000553  0.004827  0.001328
2020-11-17      0.018308  0.00007  1.299278e-13  0.000277  0.002414  0.000664

Province_State                                                  ...   Wyoming  \
Admin2                Butler   Calhoun  Chambers      Cherokee  ...      Park
2020-11-15      2.384186e-08  0.004392  0.000005  5.449657e-07  ...  0.083333
2020-11-16      1.192093e-08  0.002196  0.000003  2.724829e-07  ...  0.041667
2020-11-17      5.960465e-09  0.001098  0.000001  1.362414e-07  ...  0.020833

Province_State                                                              \
Admin2            Platte  Sheridan Sublette Sweetwater     Teton     Uinta
2020-11-15      0.062643  0.001342      0.0   0.000244  0.000122  0.001302
2020-11-16      0.031321  0.000671      0.0   0.000122  0.000061  0.000651
2020-11-17      0.015661  0.062835      0.0   0.000061  0.000031  0.000326

Province_State
Admin2         Unassigned      Washakie    Weston
2020-11-15      -0.972376  9.701277e-12 -0.533333
2020-11-16      -0.972376  4.850638e-12 -0.533333
2020-11-17      -0.972376  2.425319e-12 -0.533333

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201117,AK,23874,NaN,854748,NaN,totalTestsViral,878622,136.0,562.0,...,878622,2,3,add5f6d70eaa23eaf0ccf0efc84f91a1a5339805,0,0,0,0,0,NaN
1,20201117,AL,220848,34974.0,1287672,NaN,totalTestsViral,1473546,1289.0,22716.0,...,1508520,52,0,c9289d7885721c710a92a383e92c4423ec4d0b2e,0,0,0,0,0,NaN
2,20201117,AR,135902,14749.0,1404126,NaN,totalTestsViral,1525279,902.0,8050.0,...,1540028,20,101,99a5b75ccae88c3aed9bc55b033397507029330a,0,0,0,0,0,NaN
3,20201117,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,...,1988,0,0,0b26c6364e1ae3f90396aadc5957e9e4a1411946,0,0,0,0,0,NaN
4,20201117,AZ,279896,7584.0,1731896,NaN,totalTestsPeopleViral,2004208,1624.0,23243.0,...,2011792,10,121,be2bf60e4599d2b17ef9669540b34263a50b9155,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201117,AK,23874.0,NaN,854748.0,NaN,totalTestsViral,878622.0,136.0,562.0,...,878622,2,3,add5f6d70eaa23eaf0ccf0efc84f91a1a5339805,0,0,0,0,0,NaN
1,20201117,AL,220848.0,34974.0,1287672.0,NaN,totalTestsViral,1473546.0,1289.0,22716.0,...,1508520,52,0,c9289d7885721c710a92a383e92c4423ec4d0b2e,0,0,0,0,0,NaN
2,20201117,AR,135902.0,14749.0,1404126.0,NaN,totalTestsViral,1525279.0,902.0,8050.0,...,1540028,20,101,99a5b75ccae88c3aed9bc55b033397507029330a,0,0,0,0,0,NaN
3,20201117,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,...,1988,0,0,0b26c6364e1ae3f90396aadc5957e9e4a1411946,0,0,0,0,0,NaN
4,20201117,AZ,279896.0,7584.0,1731896.0,NaN,totalTestsPeopleViral,2004208.0,1624.0,23243.0,...,2011792,10,121,be2bf60e4599d2b17ef9669540b34263a50b9155,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-17,AK,23874,NaN,854748,NaN,totalTestsViral,878622,136.0,562.0,NaN,...,878622,2,3,add5f6d70eaa23eaf0ccf0efc84f91a1a5339805,0,0,0,0,0,NaN
2020-11-17,AL,220848,34974.0,1287672,NaN,totalTestsViral,1473546,1289.0,22716.0,NaN,...,1508520,52,0,c9289d7885721c710a92a383e92c4423ec4d0b2e,0,0,0,0,0,NaN
2020-11-17,AR,135902,14749.0,1404126,NaN,totalTestsViral,1525279,902.0,8050.0,346.0,...,1540028,20,101,99a5b75ccae88c3aed9bc55b033397507029330a,0,0,0,0,0,NaN
2020-11-17,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,NaN,...,1988,0,0,0b26c6364e1ae3f90396aadc5957e9e4a1411946,0,0,0,0,0,NaN
2020-11-17,AZ,279896,7584.0,1731896,NaN,totalTestsPeopleViral,2004208,1624.0,23243.0,385.0,...,2011792,10,121,be2bf60e4599d2b17ef9669540b34263a50b9155,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-17,AK,23874.0,NaN,854748.0,NaN,totalTestsViral,878622.0,136.0,562.0,NaN,...,878622,2,3,add5f6d70eaa23eaf0ccf0efc84f91a1a5339805,0,0,0,0,0,NaN
2020-11-17,AL,220848.0,34974.0,1287672.0,NaN,totalTestsViral,1473546.0,1289.0,22716.0,NaN,...,1508520,52,0,c9289d7885721c710a92a383e92c4423ec4d0b2e,0,0,0,0,0,NaN
2020-11-17,AR,135902.0,14749.0,1404126.0,NaN,totalTestsViral,1525279.0,902.0,8050.0,346.0,...,1540028,20,101,99a5b75ccae88c3aed9bc55b033397507029330a,0,0,0,0,0,NaN
2020-11-17,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,NaN,...,1988,0,0,0b26c6364e1ae3f90396aadc5957e9e4a1411946,0,0,0,0,0,NaN
2020-11-17,AZ,279896.0,7584.0,1731896.0,NaN,totalTestsPeopleViral,2004208.0,1624.0,23243.0,385.0,...,2011792,10,121,be2bf60e4599d2b17ef9669540b34263a50b9155,0,0,0,0,0,NaN