# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'06-16-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'06-16-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-06-17 04:22:36,33.93911,67.709953,93288,3683,62397.0,27208.0,Afghanistan,239.640318,3.947989
1,NaN,NaN,NaN,Albania,2021-06-17 04:22:36,41.15330,20.168300,132476,2454,129888.0,134.0,Albania,4603.377580,1.852411
2,NaN,NaN,NaN,Algeria,2021-06-17 04:22:36,28.03390,1.659600,134458,3598,93586.0,37274.0,Algeria,306.624406,2.675929
3,NaN,NaN,NaN,Andorra,2021-06-17 04:22:36,42.50630,1.521800,13836,127,13633.0,76.0,Andorra,17907.202485,0.917895
4,NaN,NaN,NaN,Angola,2021-06-17 04:22:36,-11.20270,17.873900,37094,847,31003.0,5244.0,Angola,112.863438,2.283388

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21,6/13/21,6/14/21,6/15/21,6/16/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,80841,82326,84050,85892,87716,88740,89861,91458,93272,93288
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132384,132397,132415,132426,132437,132449,132459,132461,132469,132476
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,131283,131647,132034,132355,132727,133070,133388,133742,134115,134458

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21,6/13/21,6/14/21,6/15/21,6/16/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,3187,3251,3305,3356,3412,3449,3527,3612,3683,3683
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2452,2452,2452,2452,2453,2453,2453,2453,2454,2454
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3527,3537,3544,3552,3560,3565,3571,3579,3588,3598

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21,6/13/21,6/14/21,6/15/21,6/16/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,58998,59569,59871,60280,60598,60939,61410,61706,61820,62397
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129702,129736,129761,129785,129807,129826,129842,129865,129879,129888
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,91413,91651,91894,92132,92384,92620,92852,93094,93355,93586

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21,6/13/21,6/14/21,6/15/21,6/16/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7206,7206,7209,7211,7215,7215,7215,7229,7230,7230
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21724,21744,21755,21765,21774,21774,21774,21805,21833,21839
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2343,2345,2346,2345,2345,2345,2345,2345,2346,2346

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21,6/13/21,6/14/21,6/15/21,6/16/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,113,113,113,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,312,312,313,313,313,313,313,313,313,313
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,59,59,59,59,59,59,59,59,59,59

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
653,1001.0,Autauga,Alabama,US,2021-06-17 04:22:36,32.539527,-86.644082,7230,113,NaN,NaN,"Autauga, Alabama, US",12940.986952,1.562932
690,1075.0,Lamar,Alabama,US,2021-06-17 04:22:36,33.779950,-88.096680,1465,37,NaN,NaN,"Lamar, Alabama, US",10612.097066,2.525597
691,1077.0,Lauderdale,Alabama,US,2021-06-17 04:22:36,34.901719,-87.656247,9596,249,NaN,NaN,"Lauderdale, Alabama, US",10348.434686,2.594831

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33498468  600653         0.0
India            29700313  381903  28491670.0
Brazil           17628588  493693  15569556.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33498468,600653,0.0,32897815.0,2021-06-17 04:22:36,37.950547,-91.419547
India,29700313,381903,28491670.0,826740.0,2021-06-17 04:22:36,23.088275,81.806127
Brazil,17628588,493693,15569556.0,1565339.0,2021-06-17 04:22:36,-12.669522,-48.480493
France,5809319,110740,400796.0,5297783.0,2021-06-17 04:22:36,6.430808,-34.730285
Turkey,5348249,48950,5215654.0,83645.0,2021-06-17 04:22:36,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3805098   63227        0.0
Texas             2981826   52007        0.0
Florida           2344321   37265        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3805098,63227,0.0,3741871.0,2021-06-17 04:22:36,37.843962,-120.728594
Texas,2981826,52007,0.0,2929819.0,2021-06-17 04:22:36,31.660643,-98.653069
Florida,2344321,37265,0.0,2307056.0,2021-06-17 04:22:36,28.940755,-82.700744
New York,2110310,53576,0.0,2056734.0,2021-06-17 04:22:36,42.544151,-75.474183
Illinois,1388261,25531,0.0,1362730.0,2021-06-17 04:22:36,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1246832   24435        0.0
Illinois       Cook            556107   10451        0.0
Arizona        Maricopa        555530   10172        0.0
Florida        Miami-Dade      504650    6472        0.0
Texas          Harris          403496    6525        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1246832,24435,0.0,1222397.0,2021-06-17 04:22:36,34.308284,-118.228241,6037.0
Illinois,Cook,556107,10451,0.0,545656.0,2021-06-17 04:22:36,41.841448,-87.816588,17031.0
Arizona,Maricopa,555530,10172,0.0,545358.0,2021-06-17 04:22:36,33.348359,-112.491815,4013.0
Florida,Miami-Dade,504650,6472,0.0,498178.0,2021-06-17 04:22:36,25.611236,-80.551706,12086.0
Texas,Harris,403496,6525,0.0,396971.0,2021-06-17 04:22:36,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,91458,132461,133742,13826,36790,1263,4145482,223723,30273,648732,...,4589400,340818,103813,4,252883,10881,311690,6863,113134,40077
2021-06-15,93272,132469,134115,13828,36921,1263,4172742,223805,30286,648849,...,4596994,343615,104113,4,254116,11304,311948,6864,115824,40318
2021-06-16,93288,132476,134458,13836,37094,1263,4198620,223904,30301,649002,...,4605805,346515,104463,4,255457,11794,312164,6867,118850,40556

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,3612,2453,3579,127,836,42,86029,4488,910,10662,...,128171,5036,708,1,2845,59,3539,1350,1416,1635
2021-06-15,3683,2454,3588,127,842,42,86615,4489,910,10668,...,128181,5089,709,1,2865,61,3542,1350,1444,1637
2021-06-16,3683,2454,3598,127,847,42,87261,4490,910,10671,...,128190,5120,711,1,2886,61,3544,1351,1492,1640

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,61706,129865,93094,13618,30359,1214,3748794,215228,23692,634123,...,15562,303880,99733,3,233028,4236,304138,3765,98994,37027
2021-06-15,61820,129879,93355,13626,30775,1214,3771968,215455,23710,634439,...,15562,307189,99986,3,234393,4539,304390,3775,99895,37056
2021-06-16,62397,129888,93586,13633,31003,1214,3791979,215533,23716,634900,...,15563,309965,100328,3,235795,4590,304777,3781,100423,37075

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21,6/13/21,6/14/21,6/15/21,6/16/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7206,7206,7209,7211,7215,7215,7215,7229,7230,7230
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1459,1459,1459,1458,1458,1458,1458,1462,1462,1465
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9552,9556,9570,9578,9582,9582,9582,9591,9592,9596
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3105,3108,3111,3118,3121,3121,3121,3124,3125,3129
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16201,16203,16211,16227,16234,16234,16234,16248,16259,16265

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-14,547873,70717,0,887146,344067,3803094,551328,348465,109379,49,...,865085,2978351,409727,24331,3702,677812,444722,163144,676276,61234
2021-06-15,548163,70717,0,887569,344369,3804355,551719,348521,109421,49,...,865511,2979689,409964,24339,3717,677949,445155,163221,676406,61303
2021-06-16,548323,70770,0,888005,344657,3805098,552183,348560,109418,49,...,865750,2981826,410377,24348,3729,678226,445686,163311,676442,61359

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-06-14        7229   21805    2345  2676   6937    1242   2237   14710
2021-06-15        7230   21833    2346  2682   6938    1242   2240   14714
2021-06-16        7230   21839    2346  2684   6944    1242   2240   14718

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-14         3723     1872  ...    2882    670     3247      802
2021-06-15         3724     1872  ...    2882    671     3249      802
2021-06-16         3726     1872  ...    2883    672     3249      802

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-14           4654  3795  2301          0      924    656
2021-06-15           4656  3798  2302          0      925    656
2021-06-16           4664  3797  2302          0      925    656

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-14,11274,373,0,17768,5863,63204,6690,8263,1679,0,...,12498,51940,2323,256,28,11318,5782,2853,8015,725
2021-06-15,11281,373,0,17779,5869,63208,6700,8263,1679,0,...,12504,51967,2323,256,29,11328,5800,2856,8023,734
2021-06-16,11288,373,0,17791,5867,63227,6709,8265,1679,0,...,12506,52007,2324,256,30,11330,5801,2861,8041,734

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-14         113     313      59   64    139      42     71     325
2021-06-15         113     313      59   64    139      42     71     325
2021-06-16         113     313      59   64    139      42     71     325

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-14          123       45  ...      30     11       31        7
2021-06-15          123       45  ...      30     11       31        7
2021-06-16          124       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-14             39    11    13          0       26      6
2021-06-15             40    11    13          0       26      6
2021-06-16             40    11    13          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,0.017772,0.000015,0.002654,0.000941,0.002316,0.0,0.005163,0.000183,0.000363,0.000173,...,0.001663,0.006809,0.002927,0.0,0.004756,0.023612,0.000501,0.000146,0.012421,0.002953
2021-06-15,0.019834,0.000060,0.002789,0.000145,0.003561,0.0,0.006576,0.000367,0.000429,0.000180,...,0.001655,0.008207,0.002890,0.0,0.004876,0.038875,0.000828,0.000146,0.023777,0.006013
2021-06-16,0.000172,0.000053,0.002558,0.000579,0.004686,0.0,0.006202,0.000442,0.000495,0.000236,...,0.001917,0.008440,0.003362,0.0,0.005277,0.043347,0.000692,0.000437,0.026126,0.005903

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,0.024100,0.000000,0.002240,0.0,0.006017,0.0,0.008038,0.000892,0.0,0.000094,...,0.000023,0.008208,0.000000,0.0,0.005656,0.000000,0.001698,0.000741,0.019438,0.001838
2021-06-15,0.019657,0.000408,0.002515,0.0,0.007177,0.0,0.006812,0.000223,0.0,0.000563,...,0.000078,0.010524,0.001412,0.0,0.007030,0.033898,0.000848,0.000000,0.019774,0.001223
2021-06-16,0.000000,0.000000,0.002787,0.0,0.005938,0.0,0.007458,0.000223,0.0,0.000281,...,0.000070,0.006092,0.002821,0.0,0.007330,0.000000,0.000565,0.000741,0.033241,0.001833

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,0.004820,0.000177,0.002606,0.001987,0.002543,0.0,0.007375,0.000153,0.000676,0.000290,...,0.000707,0.012532,0.003189,0.0,0.006348,0.059530,0.001070,0.005878,0.012664,0.000622
2021-06-15,0.001847,0.000108,0.002804,0.000587,0.013703,0.0,0.006182,0.001055,0.000760,0.000498,...,0.000000,0.010889,0.002537,0.0,0.005858,0.071530,0.000829,0.002656,0.009102,0.000783
2021-06-16,0.009334,0.000069,0.002474,0.000514,0.007409,0.0,0.005305,0.000362,0.000253,0.000727,...,0.000064,0.009037,0.003420,0.0,0.005981,0.011236,0.001271,0.001589,0.005286,0.000513

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-14,0.001005,0.000920,NaN,0.000444,0.000299,0.000359,0.000430,0.000330,0.000192,0.0,...,0.000000,0.000328,0.000413,0.000452,0.003252,0.000100,0.001252,0.001258,0.000297,0.001964
2021-06-15,0.000529,0.000000,NaN,0.000477,0.000878,0.000332,0.000709,0.000161,0.000384,0.0,...,0.000492,0.000449,0.000578,0.000329,0.004052,0.000202,0.000974,0.000472,0.000192,0.001127
2021-06-16,0.000292,0.000749,NaN,0.000491,0.000836,0.000195,0.000841,0.000112,-0.000027,0.0,...,0.000276,0.000717,0.001007,0.000370,0.003228,0.000409,0.001193,0.000551,0.000053,0.000913

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-06-14      0.001940  0.001424  0.000000  0.001122  0.001733     0.0
2021-06-15      0.000138  0.001284  0.000426  0.002242  0.000144     0.0
2021-06-16      0.000000  0.000275  0.000000  0.000746  0.000865     0.0

Province_State                                         ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers Cherokee  ...      Park
2021-06-14      0.001791  0.001225  0.002153      0.0  ...  0.001390
2021-06-15      0.001341  0.000272  0.000269      0.0  ...  0.000000
2021-06-16      0.000000  0.000272  0.000537      0.0  ...  0.000347

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-14      0.000000  0.000308  0.001248   0.003883  0.000264  0.001305
2021-06-15      0.001493  0.000616  0.000000   0.000430  0.000791  0.000435
2021-06-16      0.001490  0.000000  0.000000   0.001718 -0.000263  0.000000

Province_State
Admin2         Unassigned  Washakie Weston
2021-06-14            NaN  0.000000    0.0
2021-06-15            NaN  0.001082    0.0
2021-06-16            NaN  0.000000    0.0

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-14,0.000710,0.0,NaN,0.000000,0.000341,0.000174,0.000149,0.000242,0.0,NaN,...,0.00000,0.000212,0.00000,0.0,0.000000,0.000973,-0.005675,0.001404,0.000250,0.000000
2021-06-15,0.000621,0.0,NaN,0.000619,0.001023,0.000063,0.001495,0.000000,0.0,NaN,...,0.00048,0.000520,0.00000,0.0,0.035714,0.000884,0.003113,0.001052,0.000998,0.012414
2021-06-16,0.000621,0.0,NaN,0.000675,-0.000341,0.000301,0.001343,0.000242,0.0,NaN,...,0.00016,0.000770,0.00043,0.0,0.034483,0.000177,0.000172,0.001751,0.002244,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-14         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-15         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-16         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-14      0.00000      0.0  ...     0.0    0.0      0.0      0.0
2021-06-15      0.00000      0.0  ...     0.0    0.0      0.0      0.0
2021-06-16      0.00813      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-14       0.000000   0.0   0.0        NaN      0.0    0.0
2021-06-15       0.025641   0.0   0.0        NaN      0.0    0.0
2021-06-16       0.000000   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,0.016131,0.000049,0.002586,0.000558,0.002890,6.082868e-07,0.004775,0.000233,0.000384,0.000265,...,0.001643,0.007389,0.002895,9.251859e-18,0.005078,0.025569,0.000729,0.000526,0.014429,0.003087
2021-06-15,0.017983,0.000055,0.002687,0.000351,0.003225,3.041434e-07,0.005675,0.000300,0.000407,0.000223,...,0.001649,0.007798,0.002893,4.625929e-18,0.004977,0.032222,0.000778,0.000336,0.019103,0.004550
2021-06-16,0.009077,0.000054,0.002622,0.000465,0.003956,1.520717e-07,0.005939,0.000371,0.000451,0.000229,...,0.001783,0.008119,0.003127,2.312965e-18,0.005127,0.037785,0.000735,0.000387,0.022614,0.005227

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,0.021100,0.000027,0.001999,9.399657e-16,0.006424,5.225461e-10,0.006468,0.000687,5.963708e-23,0.000281,...,0.000051,0.008620,0.001546,0.0,0.005635,0.009133,0.001532,0.001457,0.016739,0.001434
2021-06-15,0.020379,0.000217,0.002257,4.699829e-16,0.006800,2.612730e-10,0.006640,0.000455,2.981854e-23,0.000422,...,0.000064,0.009572,0.001479,0.0,0.006332,0.021516,0.001190,0.000728,0.018257,0.001329
2021-06-16,0.010189,0.000109,0.002522,2.349914e-16,0.006369,1.306365e-10,0.007049,0.000339,1.490927e-23,0.000352,...,0.000067,0.007832,0.002150,0.0,0.006831,0.010758,0.000877,0.000734,0.025749,0.001581

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-14,0.005785,0.000161,0.002581,0.001097,0.003236,6.006171e-07,0.007350,0.000316,0.000560,0.000475,...,0.000484,0.012042,0.002894,2.220446e-16,0.005979,0.044651,0.001327,0.005595,0.011273,0.000611
2021-06-15,0.003816,0.000135,0.002692,0.000842,0.008470,3.003085e-07,0.006766,0.000686,0.000660,0.000486,...,0.000242,0.011465,0.002716,1.110223e-16,0.005918,0.058090,0.001078,0.004126,0.010187,0.000697
2021-06-16,0.006575,0.000102,0.002583,0.000678,0.007939,1.501543e-07,0.006036,0.000524,0.000457,0.000607,...,0.000153,0.010251,0.003068,5.551115e-17,0.005950,0.034663,0.001175,0.002858,0.007736,0.000605

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-14,0.000558,0.000535,NaN,0.000458,0.000427,0.000245,0.000742,0.000185,0.000249,3.659098e-138,...,0.000030,0.000323,0.000521,0.000272,0.002628,0.000131,0.001009,0.000710,0.000174,0.001166
2021-06-15,0.000544,0.000268,NaN,0.000468,0.000652,0.000288,0.000725,0.000173,0.000317,1.829549e-138,...,0.000261,0.000386,0.000550,0.000301,0.003340,0.000167,0.000991,0.000591,0.000183,0.001147
2021-06-16,0.000418,0.000509,NaN,0.000479,0.000744,0.000242,0.000783,0.000142,0.000145,9.147746e-139,...,0.000269,0.000552,0.000779,0.000335,0.003284,0.000288,0.001092,0.000571,0.000118,0.001030

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-14      0.001033  0.000772  0.000002  0.000633  0.000919  0.000035
2021-06-15      0.000585  0.001028  0.000214  0.001438  0.000531  0.000018
2021-06-16      0.000293  0.000652  0.000107  0.001092  0.000698  0.000009

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-06-14      0.001001  0.000636  0.001139  0.000048  ...  0.000758
2021-06-15      0.001171  0.000454  0.000704  0.000024  ...  0.000379
2021-06-16      0.000586  0.000363  0.000621  0.000012  ...  0.000363

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-14      0.000305  0.000254  0.000761   0.002238  0.000161  0.000765
2021-06-15      0.000899  0.000435  0.000381   0.001334  0.000476  0.000600
2021-06-16      0.001195  0.000218  0.000190   0.001526  0.000106  0.000300

Province_State
Admin2         Unassigned  Washakie    Weston
2021-06-14           -1.0 -0.000021  0.000012
2021-06-15           -1.0  0.000531  0.000006
2021-06-16           -1.0  0.000265  0.000003

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-14,0.000491,0.000678,NaN,0.000297,0.000289,0.000218,0.000545,0.000149,0.000041,NaN,...,0.000027,0.000335,0.000257,1.914888e-06,0.000005,0.001028,-0.002711,0.000895,0.000270,0.000054
2021-06-15,0.000556,0.000339,NaN,0.000458,0.000656,0.000141,0.001020,0.000075,0.000021,NaN,...,0.000254,0.000427,0.000129,9.574439e-07,0.017859,0.000956,0.000201,0.000973,0.000634,0.006234
2021-06-16,0.000588,0.000169,NaN,0.000566,0.000158,0.000221,0.001182,0.000158,0.000010,NaN,...,0.000207,0.000599,0.000280,4.787220e-07,0.026171,0.000566,0.000187,0.001362,0.001439,0.003117

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State  Alabama                                                      \
Admin2          Autauga   Baldwin       Barbour          Bibb        Blount
2021-06-14      0.00004  0.000051  6.630182e-08  2.893112e-14  3.415785e-12
2021-06-15      0.00002  0.000025  3.315091e-08  1.446556e-14  1.707892e-12
2021-06-16      0.00001  0.000013  1.657546e-08  7.232780e-15  8.539462e-13

Province_State                                                      \
Admin2               Bullock        Butler       Calhoun  Chambers
2021-06-14      1.135830e-11  2.811167e-08  7.670932e-07 -0.000503
2021-06-15      5.679151e-12  1.405584e-08  3.835466e-07 -0.000252
2021-06-16      2.839576e-12  7.027918e-09  1.917733e-07  0.003939

Province_State                ...       Wyoming                              \
Admin2              Cherokee  ...          Park        Platte      Sheridan
2021-06-14      3.157194e-19  ...  1.782952e-27  7.236932e-44  1.346597e-29
2021-06-15      1.578597e-19  ...  8.914758e-28  3.618466e-44  6.732983e-30
2021-06-16      7.892986e-20  ...  4.457379e-28  1.809233e-44  3.366491e-30

Province_State                                                                 \
Admin2              Sublette    Sweetwater     Teton         Uinta Unassigned
2021-06-14      5.915720e-50  1.960741e-10  0.003472  1.894781e-14   0.752941
2021-06-15      2.957860e-50  1.282051e-02  0.001736  9.473903e-15   0.752941
2021-06-16      1.478930e-50  6.410256e-03  0.000868  4.736952e-15   0.752941

Province_State
Admin2              Washakie    Weston
2021-06-14      3.675536e-42  0.003125
2021-06-15      1.837768e-42  0.001562
2021-06-16      9.188840e-43  0.000781

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN