# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'01-11-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'01-11-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-12 05:22:15,33.93911,67.709953,53538,2288,44137,7113.0,Afghanistan,137.529621,4.273600
1,NaN,NaN,NaN,Albania,2021-01-12 05:22:15,41.15330,20.168300,63971,1247,37981,24743.0,Albania,2222.913337,1.949321
2,NaN,NaN,NaN,Algeria,2021-01-12 05:22:15,28.03390,1.659600,102369,2812,69403,30154.0,Algeria,233.447127,2.746925
3,NaN,NaN,NaN,Andorra,2021-01-12 05:22:15,42.50630,1.521800,8586,85,7724,777.0,Andorra,11112.405358,0.989984
4,NaN,NaN,NaN,Angola,2021-01-12 05:22:15,-11.20270,17.873900,18254,420,14825,3009.0,Angola,55.540227,2.300866

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21,1/8/21,1/9/21,1/10/21,1/11/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,51526,51526,53011,53105,53105,53207,53332,53400,53489,53538
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,58991,59438,59623,60283,61008,61705,62378,63033,63595,63971
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,100159,100408,100645,100873,101120,101382,101657,101913,102144,102369

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21,1/8/21,1/9/21,1/10/21,1/11/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2191,2191,2237,2244,2244,2253,2257,2264,2277,2288
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1190,1193,1199,1210,1217,1223,1230,1233,1241,1247
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2769,2772,2777,2782,2786,2792,2798,2803,2807,2812

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21,1/8/21,1/9/21,1/10/21,1/11/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,41727,41727,42530,42666,42666,43291,43440,43740,43948,44137
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,34353,34648,34996,35551,36102,36535,36971,37327,37648,37981
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,67611,67808,67999,68185,68383,68589,68802,69011,69212,69403

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21,1/8/21,1/9/21,1/10/21,1/11/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4268,4305,4336,4546,4645,4705,4770,4847,4879,4902
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,13955,14064,14187,14440,14656,14845,15052,15202,15327,15417
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1528,1530,1533,1575,1597,1614,1634,1648,1658,1663

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21,1/8/21,1/9/21,1/10/21,1/11/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,50,50,50,50,50,50,50,53,54,55
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,169,169,169,169,171,171,171,173,173,173
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,33,33,33,33,35,35,35,35,35,35

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
650,1001.0,Autauga,Alabama,US,2021-01-12 05:22:15,32.539527,-86.644082,4902,55,0,4847.0,"Autauga, Alabama, US",8774.096547,1.121991
687,1075.0,Lamar,Alabama,US,2021-01-12 05:22:15,33.779950,-88.096680,1146,16,0,1130.0,"Lamar, Alabama, US",8301.340094,1.396161
688,1077.0,Lauderdale,Alabama,US,2021-01-12 05:22:15,34.901719,-87.656247,7214,72,0,7142.0,"Lauderdale, Alabama, US",7779.659006,0.998059

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               22613784  376060          0
India            10479179  151327   10111294
Brazil            8131612  203580    7273237

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,22613784,376060,0,22237724,2021-01-12 05:22:15,37.936303,-91.379001
India,10479179,151327,10111294,216558,2021-01-12 05:22:15,23.088275,81.806127
Brazil,8131612,203580,7273237,654795,2021-01-12 05:22:15,-12.669522,-48.480493
Russia,3389733,61389,2771793,556551,2021-01-12 05:22:15,54.546312,62.120860
United Kingdom,3127643,82096,7149,3038398,2021-01-12 05:22:15,30.744028,-35.367255

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2753739   30260          0
Texas             1990204   30585          0
Florida           1488586   23071          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2753739,30260,0,2723479,2021-01-12 05:22:15,37.843962,-120.728594
Texas,1990204,30585,0,1959619,2021-01-12 05:22:15,31.660643,-98.653069
Florida,1488586,23071,0,1465515,2021-01-12 05:22:15,28.940755,-82.700744
New York,1149771,39834,0,1109937,2021-01-12 05:22:15,42.544151,-75.474183
Illinois,1033526,19363,0,1014163,2021-01-12 05:22:15,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     932697   12387          0
Illinois       Cook            419471    8811          0
Arizona        Maricopa        388518    5823          0
Florida        Miami-Dade      328701    4441          0
Texas          Harris          266525    3591          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,932697,12387,0,920310,2021-01-12 05:22:15,34.308284,-118.228241,6037.0
Illinois,Cook,419471,8811,0,410660,2021-01-12 05:22:15,41.841448,-87.816588,17031.0
Arizona,Maricopa,388518,5823,0,382695,2021-01-12 05:22:15,33.348359,-112.491815,4013.0
Florida,Miami-Dade,328701,4441,0,324260,2021-01-12 05:22:15,25.611236,-80.551706,12086.0
Texas,Harris,266525,3591,0,262934,2021-01-12 05:22:15,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,53400,63033,101913,8586,18156,169,1714409,161794,28595,379071,...,3026342,24974,77530,1,116172,1513,146701,2104,26567,20499
2021-01-10,53489,63595,102144,8586,18193,176,1722217,162131,28614,380722,...,3081368,26186,77572,1,116610,1514,147400,2104,27728,21477
2021-01-11,53538,63971,102369,8586,18254,176,1730921,162288,28634,382258,...,3127643,26901,77611,1,116983,1515,148171,2105,28596,22297

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,2264,1233,2803,85,416,5,44417,2922,909,6687,...,81000,248,616,0,1061,35,1583,610,464,483
2021-01-10,2277,1241,2807,85,416,5,44495,2929,909,6723,...,81567,256,617,0,1061,35,1604,611,469,507
2021-01-11,2288,1247,2812,85,420,5,44654,2931,909,6747,...,82096,262,617,0,1073,35,1614,612,471,528

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,43740,37327,69011,7724,13205,152,1504330,148893,25827,351382,...,6851,18372,75947,1,110126,1361,130102,1407,20512,12439
2021-01-10,43948,37648,69212,7724,13872,152,1511750,149312,25837,353749,...,7009,19013,76014,1,110126,1361,131117,1407,20598,12582
2021-01-11,44137,37981,69403,7724,14825,152,1518715,149873,25843,355530,...,7149,19555,76067,1,110873,1361,132158,1416,20781,13213

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21,1/8/21,1/9/21,1/10/21,1/11/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4268,4305,4336,4546,4645,4705,4770,4847,4879,4902
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1069,1074,1077,1083,1098,1114,1124,1132,1137,1146
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,6613,6682,6702,6766,6839,6930,7051,7149,7191,7214
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2102,2115,2128,2149,2181,2217,2263,2315,2324,2340
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,10508,10560,10656,10765,10964,11179,11355,11498,11565,11626

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-09,399150,49958,0,607345,251746,2675262,358947,205994,64475,49,...,646450,1951915,303723,8790,2143,393715,271595,99778,548134,46719
2021-01-10,401900,50218,0,618546,255076,2717862,361148,205994,65273,49,...,653869,1968189,305999,8967,2143,398856,271595,101212,550260,46832
2021-01-11,404000,50394,0,627541,256344,2753739,362825,213358,65827,49,...,657396,1990204,307483,9078,2143,403386,276686,102282,551942,47395

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-01-09        4847   15202    1648  2038   5047     950   1625   10453
2021-01-10        4879   15327    1658  2051   5066     953   1632   10497
2021-01-11        4902   15417    1663  2060   5080     957   1637   10537

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-09         2620     1523  ...    2221    476     2669      619
2021-01-10         2639     1537  ...    2222    479     2679      620
2021-01-11         2651     1545  ...    2302    491     2700      624

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-09           3157  2348  1693          0      800    485
2021-01-10           3162  2353  1708          0      805    485
2021-01-11           3187  2447  1744          0      817    485

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-09,5299,224,0,10036,4010,29707,5190,6324,969,0,...,7704,30313,1390,156,24,5381,3698,1570,5567,489
2021-01-10,5334,224,0,10141,4043,30004,5208,6324,972,0,...,7785,30479,1392,156,24,5383,3698,1582,5570,489
2021-01-11,5347,224,0,10147,4081,30260,5213,6416,986,0,...,7865,30585,1396,156,24,5393,3699,1594,5575,489

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-01-09          53     173      35   48     77      28     55     168
2021-01-10          54     173      35   48     77      28     57     178
2021-01-11          55     173      35   48     77      28     57     178

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-09           63       24  ...      15      9       17        7
2021-01-10           66       24  ...      15      9       17        7
2021-01-11           66       24  ...      15      9       17        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-09             24     4     8          0       21      4
2021-01-10             24     4     8          0       21      4
2021-01-11             24     4     8          0       21      4

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,0.001275,0.010500,0.002518,0.011427,0.004982,0.011976,0.006491,0.002348,0.000455,0.006046,...,0.020261,0.026090,0.000581,0.0,0.004366,0.000661,0.004292,0.000000,0.049001,0.042675
2021-01-10,0.001667,0.008916,0.002267,0.000000,0.002038,0.041420,0.004554,0.002083,0.000664,0.004355,...,0.018182,0.048530,0.000542,0.0,0.003770,0.000661,0.004765,0.000000,0.043701,0.047710
2021-01-11,0.000916,0.005912,0.002203,0.000000,0.003353,0.000000,0.005054,0.000968,0.000699,0.004034,...,0.015018,0.027305,0.000503,0.0,0.003199,0.000661,0.005231,0.000475,0.031304,0.038180

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,0.003101,0.002439,0.001787,0.011905,0.002410,0.0,0.003253,0.004814,0.0,0.006927,...,0.012943,0.033333,0.000000,NaN,0.004735,0.0,0.015394,0.000000,0.052154,0.032051
2021-01-10,0.005742,0.006488,0.001427,0.000000,0.000000,0.0,0.001756,0.002396,0.0,0.005384,...,0.007000,0.032258,0.001623,NaN,0.000000,0.0,0.013266,0.001639,0.010776,0.049689
2021-01-11,0.004831,0.004835,0.001781,0.000000,0.009615,0.0,0.003573,0.000683,0.0,0.003570,...,0.006485,0.023438,0.000000,NaN,0.011310,0.0,0.006234,0.001637,0.004264,0.041420

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,0.006906,0.009629,0.003038,0.0,0.038782,0.013333,0.006311,0.006299,0.000271,0.006205,...,0.022843,0.039317,0.000949,0.0,0.004030,0.002948,0.009325,0.001423,0.008010,0.020929
2021-01-10,0.004755,0.008600,0.002913,0.0,0.050511,0.000000,0.004932,0.002814,0.000387,0.006736,...,0.023062,0.034890,0.000882,0.0,0.000000,0.000000,0.007802,0.000000,0.004193,0.011496
2021-01-11,0.004301,0.008845,0.002760,0.0,0.068700,0.000000,0.004607,0.003757,0.000232,0.005035,...,0.019974,0.028507,0.000697,0.0,0.006783,0.000000,0.007939,0.006397,0.008884,0.050151

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-09,0.012334,0.006426,NaN,0.018606,0.011597,0.021159,0.007967,0.000000,0.015306,0.0,...,0.009123,0.010018,0.008678,0.019840,0.0,0.014946,0.011124,0.019204,0.006456,0.001544
2021-01-10,0.006890,0.005204,NaN,0.018443,0.013228,0.015924,0.006132,0.000000,0.012377,0.0,...,0.011477,0.008337,0.007494,0.020137,0.0,0.013058,0.000000,0.014372,0.003879,0.002419
2021-01-11,0.005225,0.003505,NaN,0.014542,0.004971,0.013200,0.004644,0.035749,0.008487,0.0,...,0.005394,0.011185,0.004850,0.012379,0.0,0.011357,0.018745,0.010572,0.003057,0.012022

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-09      0.016143  0.009965  0.008568  0.011414  0.005779  0.001054
2021-01-10      0.006602  0.008223  0.006068  0.006379  0.003765  0.003158
2021-01-11      0.004714  0.005872  0.003016  0.004388  0.002764  0.004197

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-09      0.009317  0.007809  0.010802  0.003955  ...  0.004523
2021-01-10      0.004308  0.004209  0.007252  0.009192  ...  0.000450
2021-01-11      0.003064  0.003811  0.004547  0.005205  ...  0.036004

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-09      0.000000  0.000750  0.001618   0.001269  0.000853  0.000000
2021-01-10      0.006303  0.003747  0.001616   0.001584  0.002129  0.008860
2021-01-11      0.025052  0.007839  0.006452   0.007906  0.039949  0.021077

Province_State
Admin2         Unassigned  Washakie Weston
2021-01-09            NaN  0.003764    0.0
2021-01-10            NaN  0.006250    0.0
2021-01-11            NaN  0.014907    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-09,0.020805,0.004484,NaN,0.009861,0.011094,0.020649,0.010121,0.000000,0.012539,NaN,...,0.011289,0.006140,0.006517,0.0,0.0,0.012989,-0.00027,0.010296,0.006873,0.0
2021-01-10,0.006605,0.000000,NaN,0.010462,0.008229,0.009998,0.003468,0.000000,0.003096,NaN,...,0.010514,0.005476,0.001439,0.0,0.0,0.000372,0.00000,0.007643,0.000539,0.0
2021-01-11,0.002437,0.000000,NaN,0.000592,0.009399,0.008532,0.000960,0.014548,0.014403,NaN,...,0.010276,0.003478,0.002874,0.0,0.0,0.001858,0.00027,0.007585,0.000898,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                     \
Admin2           Autauga   Baldwin Barbour Bibb    Blount Bullock    Butler
2021-01-09      0.060000  0.011696     0.0  0.0  0.026667     0.0  0.195652
2021-01-10      0.018868  0.000000     0.0  0.0  0.000000     0.0  0.036364
2021-01-11      0.018519  0.000000     0.0  0.0  0.000000     0.0  0.000000

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2021-01-09      0.056604  0.000000      0.0  ...     0.0    0.0      0.0
2021-01-10      0.059524  0.047619      0.0  ...     0.0    0.0      0.0
2021-01-11      0.000000  0.000000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-09          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-01-10          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-01-11          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,0.001975,0.010675,0.002564,0.010649,0.005121,0.013353,0.007155,0.002116,0.000496,0.006008,...,0.021122,0.027303,0.000699,0.0,0.003638,0.001484,0.005334,0.000152,0.043148,0.046722
2021-01-10,0.001821,0.009795,0.002415,0.005324,0.003579,0.027386,0.005855,0.002099,0.000580,0.005182,...,0.019652,0.037917,0.000620,0.0,0.003704,0.001072,0.005049,0.000076,0.043424,0.047216
2021-01-11,0.001368,0.007854,0.002309,0.002662,0.003466,0.013693,0.005454,0.001534,0.000640,0.004608,...,0.017335,0.032611,0.000561,0.0,0.003451,0.000866,0.005140,0.000276,0.037364,0.042698

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,0.002929,0.004054,0.001901,0.005955,0.003068,9.313226e-10,0.003365,0.004040,6.721934e-08,0.008405,...,0.013996,0.035125,0.000509,NaN,0.004428,5.843718e-41,0.014216,0.000001,0.040608,0.037779
2021-01-10,0.004335,0.005271,0.001664,0.002978,0.001534,4.656613e-10,0.002561,0.003218,3.360967e-08,0.006894,...,0.010498,0.033692,0.001066,NaN,0.002214,2.921859e-41,0.013741,0.000820,0.025692,0.043734
2021-01-11,0.004583,0.005053,0.001723,0.001489,0.005575,2.328306e-10,0.003067,0.001950,1.680483e-08,0.005232,...,0.008492,0.028565,0.000533,NaN,0.006762,1.460929e-41,0.009988,0.001228,0.014978,0.042577

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-09,0.006551,0.011098,0.003035,0.004118,0.041441,0.008771,0.006414,0.005498,0.000244,0.006234,...,0.021946,0.036578,0.001201,0.0,0.003474,0.00292,0.010348,0.001025,0.011767,0.015227
2021-01-10,0.005653,0.009849,0.002974,0.002059,0.045976,0.004386,0.005673,0.004156,0.000316,0.006485,...,0.022504,0.035734,0.001042,0.0,0.001737,0.00146,0.009075,0.000512,0.007980,0.013361
2021-01-11,0.004977,0.009347,0.002867,0.001030,0.057338,0.002193,0.005140,0.003957,0.000274,0.005760,...,0.021239,0.032120,0.000869,0.0,0.004260,0.00073,0.008507,0.003454,0.008432,0.031756

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-09,0.012503,0.006924,NaN,0.018091,0.012271,0.018883,0.008463,0.007710,0.013768,3.342362e-91,...,0.010192,0.011145,0.010936,0.022130,0.004908,0.014325,0.012602,0.018184,0.007018,0.004990
2021-01-10,0.009696,0.006064,NaN,0.018267,0.012749,0.017403,0.007298,0.003855,0.013072,1.671181e-91,...,0.010834,0.009741,0.009215,0.021133,0.002454,0.013691,0.006301,0.016278,0.005448,0.003705
2021-01-11,0.007461,0.004785,NaN,0.016404,0.008860,0.015302,0.005971,0.019802,0.010780,8.355904e-92,...,0.008114,0.010463,0.007032,0.016756,0.001227,0.012524,0.012523,0.013425,0.004252,0.007863

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-09      0.016262  0.011869  0.010548  0.013856  0.008798  0.007766
2021-01-10      0.011432  0.010046  0.008308  0.010118  0.006281  0.005462
2021-01-11      0.008073  0.007959  0.005662  0.007253  0.004522  0.004830

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-09      0.008699  0.009916  0.013075  0.008857  ...  0.008902
2021-01-10      0.006504  0.007063  0.010164  0.009024  ...  0.004676
2021-01-11      0.004784  0.005437  0.007355  0.007115  ...  0.020340

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-09      0.005107  0.004391  0.002837   0.006091  0.012368  0.008832
2021-01-10      0.005705  0.004069  0.002226   0.003837  0.007249  0.008846
2021-01-11      0.015379  0.005954  0.004339   0.005872  0.023599  0.014962

Province_State
Admin2         Unassigned  Washakie    Weston
2021-01-09           -1.0  0.004116  0.002162
2021-01-10           -1.0  0.005183  0.001081
2021-01-11           -1.0  0.010045  0.000541

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-09,0.019503,0.004930,NaN,0.015727,0.010565,0.019993,0.009293,0.003376,0.009119,NaN,...,0.013601,0.011081,0.011246,0.007049,0.000679,0.010302,0.007133,0.017266,0.008211,0.00868
2021-01-10,0.013054,0.002465,NaN,0.013095,0.009397,0.014995,0.006381,0.001688,0.006108,NaN,...,0.012058,0.008278,0.006342,0.003525,0.000340,0.005337,0.003567,0.012454,0.004375,0.00434
2021-01-11,0.007746,0.001232,NaN,0.006843,0.009398,0.011764,0.003670,0.008118,0.010255,NaN,...,0.011167,0.005878,0.004608,0.001762,0.000170,0.003597,0.001919,0.010020,0.002636,0.00217

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-09      0.030093  0.006710  0.003849  0.002764  0.037089  0.068279
2021-01-10      0.024481  0.003355  0.001924  0.001382  0.018545  0.034140
2021-01-11      0.021500  0.001678  0.000962  0.000691  0.009272  0.017070

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-09      0.099215  0.030321  0.000024 -0.001499  ...  0.048998
2021-01-10      0.067789  0.044922  0.023821 -0.000749  ...  0.024499
2021-01-11      0.033895  0.022461  0.011911 -0.000375  ...  0.012250

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-09      0.003906  0.000069  0.005404   0.038819  0.000387  0.017857
2021-01-10      0.001953  0.000035  0.002702   0.019410  0.000193  0.008929
2021-01-11      0.000977  0.000017  0.001351   0.009705  0.000097  0.004464

Province_State
Admin2         Unassigned  Washakie    Weston
2021-01-09      -0.501961  0.003513  0.057292
2021-01-10      -0.501961  0.001757  0.028646
2021-01-11      -0.501961  0.000878  0.014323

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210111,AK,48797,NaN,1308911,NaN,totalTestsViral,1357708,79.0,1104.0,...,1357708,0,3,bcd6ccadc283e7b83ee421197bbaccfc46b7d99a,0,0,0,0,0,NaN
1,20210111,AL,404000,80955.0,1649818,NaN,totalTestsPeopleViral,1972863,3088.0,37587.0,...,2053818,13,833,ac41ca7a685ddea2d8de6870c0cfd79b48470b9d,0,0,0,0,0,NaN
2,20210111,AR,256344,47566.0,1993713,NaN,totalTestsViral,2202491,1371.0,12115.0,...,2250057,38,0,b98124026c72f68a77fc5d1fb424b4a1c42a6321,0,0,0,0,0,NaN
3,20210111,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,08d1e1ea40c1d9142ecee06542c9efb3b66bd331,0,0,0,0,0,NaN
4,20210111,AZ,627541,33848.0,2503716,NaN,totalTestsViral,5696693,4997.0,43636.0,...,3131257,6,54,cf8032dce9ef49f9f0d40d14cdd4564e6eea5b78,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210111,AK,48797.0,NaN,1308911.0,NaN,totalTestsViral,1357708.0,79.0,1104.0,...,1357708,0,3,bcd6ccadc283e7b83ee421197bbaccfc46b7d99a,0,0,0,0,0,NaN
1,20210111,AL,404000.0,80955.0,1649818.0,NaN,totalTestsPeopleViral,1972863.0,3088.0,37587.0,...,2053818,13,833,ac41ca7a685ddea2d8de6870c0cfd79b48470b9d,0,0,0,0,0,NaN
2,20210111,AR,256344.0,47566.0,1993713.0,NaN,totalTestsViral,2202491.0,1371.0,12115.0,...,2250057,38,0,b98124026c72f68a77fc5d1fb424b4a1c42a6321,0,0,0,0,0,NaN
3,20210111,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,08d1e1ea40c1d9142ecee06542c9efb3b66bd331,0,0,0,0,0,NaN
4,20210111,AZ,627541.0,33848.0,2503716.0,NaN,totalTestsViral,5696693.0,4997.0,43636.0,...,3131257,6,54,cf8032dce9ef49f9f0d40d14cdd4564e6eea5b78,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-11,AK,48797,NaN,1308911,NaN,totalTestsViral,1357708,79.0,1104.0,NaN,...,1357708,0,3,bcd6ccadc283e7b83ee421197bbaccfc46b7d99a,0,0,0,0,0,NaN
2021-01-11,AL,404000,80955.0,1649818,NaN,totalTestsPeopleViral,1972863,3088.0,37587.0,NaN,...,2053818,13,833,ac41ca7a685ddea2d8de6870c0cfd79b48470b9d,0,0,0,0,0,NaN
2021-01-11,AR,256344,47566.0,1993713,NaN,totalTestsViral,2202491,1371.0,12115.0,460.0,...,2250057,38,0,b98124026c72f68a77fc5d1fb424b4a1c42a6321,0,0,0,0,0,NaN
2021-01-11,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,08d1e1ea40c1d9142ecee06542c9efb3b66bd331,0,0,0,0,0,NaN
2021-01-11,AZ,627541,33848.0,2503716,NaN,totalTestsViral,5696693,4997.0,43636.0,1158.0,...,3131257,6,54,cf8032dce9ef49f9f0d40d14cdd4564e6eea5b78,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-11,AK,48797.0,NaN,1308911.0,NaN,totalTestsViral,1357708.0,79.0,1104.0,NaN,...,1357708,0,3,bcd6ccadc283e7b83ee421197bbaccfc46b7d99a,0,0,0,0,0,NaN
2021-01-11,AL,404000.0,80955.0,1649818.0,NaN,totalTestsPeopleViral,1972863.0,3088.0,37587.0,NaN,...,2053818,13,833,ac41ca7a685ddea2d8de6870c0cfd79b48470b9d,0,0,0,0,0,NaN
2021-01-11,AR,256344.0,47566.0,1993713.0,NaN,totalTestsViral,2202491.0,1371.0,12115.0,460.0,...,2250057,38,0,b98124026c72f68a77fc5d1fb424b4a1c42a6321,0,0,0,0,0,NaN
2021-01-11,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,08d1e1ea40c1d9142ecee06542c9efb3b66bd331,0,0,0,0,0,NaN
2021-01-11,AZ,627541.0,33848.0,2503716.0,NaN,totalTestsViral,5696693.0,4997.0,43636.0,1158.0,...,3131257,6,54,cf8032dce9ef49f9f0d40d14cdd4564e6eea5b78,0,0,0,0,0,NaN