# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'06-30-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'06-30-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-07-01 04:21:19,33.93911,67.709953,118659,4871,71012.0,42776.0,Afghanistan,304.813914,4.105040
1,NaN,NaN,NaN,Albania,2021-07-01 04:21:19,41.15330,20.168300,132521,2456,130009.0,56.0,Albania,4604.941275,1.853291
2,NaN,NaN,NaN,Algeria,2021-07-01 04:21:19,28.03390,1.659600,139626,3716,97089.0,38821.0,Algeria,318.409758,2.661395
3,NaN,NaN,NaN,Andorra,2021-07-01 04:21:19,42.50630,1.521800,13911,127,13720.0,64.0,Andorra,18004.271015,0.912947
4,NaN,NaN,NaN,Angola,2021-07-01 04:21:19,-11.20270,17.873900,38849,900,33242.0,4707.0,Angola,118.203259,2.316662

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/21/21,6/22/21,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,103902,105749,107957,109532,111592,111592,111592,115751,117158,118659
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132490,132496,132497,132499,132506,132509,132512,132513,132514,132521
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,136294,136679,137049,137403,137772,138113,138465,138840,139229,139626

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/21/21,6/22/21,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,4215,4293,4366,4452,4519,4519,4519,4730,4794,4871
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2454,2455,2455,2455,2455,2456,2456,2456,2456,2456
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3641,3650,3660,3669,3678,3685,3693,3699,3708,3716

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/21/21,6/22/21,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,65071,65565,66102,66799,67183,67483,68288,69205,70016,71012
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129918,129941,129955,129966,129975,129982,129990,129994,130002,130009
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,94822,95084,95331,95599,95878,96108,96335,96572,96815,97089

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/21/21,6/22/21,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7242,7242,7244,7244,7244,7244,7244,7247,7247,7257
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21901,21901,21921,21921,21945,21945,21945,21985,21985,22027
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2345,2345,2344,2344,2344,2344,2344,2345,2345,2346

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/21/21,6/22/21,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,113,113,113,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,314,314,314,314,314,314,314,314,314,315
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,59,59,60,60,60,60,60,60,60,60

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-07-01 04:21:19,32.539527,-86.644082,7257,113,NaN,NaN,"Autauga, Alabama, US",12989.314289,1.557117
693,1075.0,Lamar,Alabama,US,2021-07-01 04:21:19,33.779950,-88.096680,1476,38,NaN,NaN,"Lamar, Alabama, US",10691.778341,2.574526
694,1077.0,Lauderdale,Alabama,US,2021-07-01 04:21:19,34.901719,-87.656247,9645,251,NaN,NaN,"Lauderdale, Alabama, US",10401.276839,2.602385

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33664894  604714         0.0
India            30362848  398454  29427330.0
Brazil           18557141  518066  16299258.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33664894,604714,0.0,33060180.0,2021-07-01 04:21:19,37.950547,-91.419547
India,30362848,398454,29427330.0,537064.0,2021-07-01 04:21:19,23.088275,81.806127
Brazil,18557141,518066,16299258.0,1739817.0,2021-07-01 04:21:19,-12.669522,-48.480493
France,5837265,111244,405285.0,5320736.0,2021-07-01 04:21:19,6.430808,-34.730285
Russia,5449594,132973,4942283.0,374338.0,2021-07-01 04:21:19,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3816583   63647        0.0
Texas             3000069   52337        0.0
Florida           2365464   37772        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3816583,63647,0.0,3752936.0,2021-07-01 04:21:19,37.843962,-120.728594
Texas,3000069,52337,0.0,2947732.0,2021-07-01 04:21:19,31.660643,-98.653069
Florida,2365464,37772,0.0,2327692.0,2021-07-01 04:21:19,28.940755,-82.700744
New York,2114986,53679,0.0,2061307.0,2021-07-01 04:21:19,42.544151,-75.474183
Illinois,1391739,25660,0.0,1366079.0,2021-07-01 04:21:19,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1250240   24498        0.0
Arizona        Maricopa        560181   10280        0.0
Illinois       Cook            557001   10492        0.0
Florida        Miami-Dade      508464    6472        0.0
Texas          Harris          403019    6583        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1250240,24498,0.0,1225742.0,2021-07-01 04:21:19,34.308284,-118.228241,6037.0
Arizona,Maricopa,560181,10280,0.0,549901.0,2021-07-01 04:21:19,33.348359,-112.491815,4013.0
Illinois,Cook,557001,10492,0.0,546509.0,2021-07-01 04:21:19,41.841448,-87.816588,17031.0
Florida,Miami-Dade,508464,6472,0.0,501992.0,2021-07-01 04:21:19,25.611236,-80.551706,12086.0
Texas,Harris,403019,6583,0.0,396436.0,2021-07-01 04:21:19,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,115751,132513,138840,13882,38613,1263,4423636,224851,30560,650324,...,4771367,366915,109692,4,269635,16136,313851,6909,149661,47284
2021-06-29,117158,132514,139229,13900,38682,1263,4447701,224967,30602,650353,...,4791628,368178,110190,4,270654,16507,313851,6918,152056,48533
2021-06-30,118659,132521,139626,13911,38849,1263,4470374,225095,30643,650412,...,4817298,369350,110677,4,272712,17052,314167,6920,154948,49864

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,4730,2456,3699,127,891,42,93142,4510,910,10701,...,128367,5524,731,1,3068,78,3561,1361,2091,1749
2021-06-29,4794,2456,3708,127,894,42,93668,4514,910,10700,...,128390,5558,733,1,3084,80,3561,1361,2138,1761
2021-06-30,4871,2456,3716,127,900,42,94304,4514,910,10702,...,128404,5593,736,1,3119,81,3563,1361,2199,1789

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,69205,129994,96572,13697,32819,1221,4046308,216645,23788,637545,...,15729,344803,105780,3,250528,6519,307892,4032,126441,37949
2021-06-29,70016,130002,96815,13717,33079,1221,4062245,216718,23806,637613,...,15734,346857,106416,3,251587,6764,307892,4055,128312,38323
2021-06-30,71012,130009,97089,13720,33242,1221,4076921,216778,23811,637751,...,15736,348489,107063,3,253946,6840,308186,4068,131792,39121

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/21/21,6/22/21,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7242,7242,7244,7244,7244,7244,7244,7247,7247,7257
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1469,1469,1472,1472,1472,1472,1472,1472,1472,1476
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9612,9612,9621,9621,9632,9632,9632,9640,9640,9645
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3134,3134,3135,3135,3135,3135,3135,3136,3136,3144
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16287,16287,16301,16301,16317,16317,16317,16319,16319,16332

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-28,550451,71181,0,893560,348220,3817372,557004,349261,109700,49,...,866883,2995223,414204,24402,3839,679917,450930,163967,677396,62099
2021-06-29,550451,71187,0,894106,348699,3818303,557347,349301,109712,49,...,866841,2997318,414565,24406,3858,680065,451248,163992,677531,62195
2021-06-30,550983,71275,0,894875,349385,3816583,557791,349352,109744,49,...,866964,3000069,415139,24410,3858,680340,451595,164041,677622,62290

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-06-28        7247   21985    2345  2687   6975    1249   2255   14766
2021-06-29        7247   21985    2345  2687   6975    1249   2255   14766
2021-06-30        7257   22027    2346  2693   6987    1249   2262   14776

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-28         3734     1874  ...    2903    680     3268      797
2021-06-29         3734     1874  ...    2904    681     3268      797
2021-06-30         3736     1874  ...    2904    681     3270      797

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-28           4739  3801  2318          0      926    656
2021-06-29           4757  3801  2319          0      926    657
2021-06-30           4771  3801  2320          0      926    657

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-28,11338,374,0,17913,5897,63598,6776,8276,1694,0,...,12557,52279,2365,256,30,11402,5911,2878,8109,740
2021-06-29,11338,374,0,17930,5905,63621,6788,8276,1694,0,...,12564,52308,2368,256,30,11412,5920,2879,8126,747
2021-06-30,11352,377,0,17936,5909,63647,6794,8278,1694,0,...,12562,52337,2371,256,30,11415,5930,2891,8128,747

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-28         113     314      60   64    139      42     71     330
2021-06-29         113     314      60   64    139      42     71     330
2021-06-30         113     315      60   64    139      42     71     330

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-28          124       45  ...      30     12       31        7
2021-06-29          124       45  ...      32     13       31        7
2021-06-30          123       45  ...      32     13       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-28             40    11    13          0       26      6
2021-06-29             40    11    13          0       26      6
2021-06-30             40    11    13          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,0.037270,0.000008,0.002708,0.000000,0.001478,0.0,0.004174,0.000240,0.001048,0.000097,...,0.004785,0.002867,0.004294,0.0,0.000000,0.025159,0.000414,0.000145,0.007357,0.018130
2021-06-29,0.012155,0.000008,0.002802,0.001297,0.001787,0.0,0.005440,0.000516,0.001374,0.000045,...,0.004246,0.003442,0.004540,0.0,0.003779,0.022992,0.000000,0.001303,0.016003,0.026415
2021-06-30,0.012812,0.000053,0.002851,0.000791,0.004317,0.0,0.005098,0.000569,0.001340,0.000091,...,0.005357,0.003183,0.004420,0.0,0.007604,0.033016,0.001007,0.000289,0.019019,0.027425

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,0.046692,0.0,0.001625,0.0,0.002250,0.0,0.006201,0.000444,0.0,0.000093,...,0.000023,0.005461,0.002743,0.0,0.000000,0.026316,0.000562,0.000735,0.034125,0.007488
2021-06-29,0.013531,0.0,0.002433,0.0,0.003367,0.0,0.005647,0.000887,0.0,-0.000093,...,0.000179,0.006155,0.002736,0.0,0.005215,0.025641,0.000000,0.000000,0.022477,0.006861
2021-06-30,0.016062,0.0,0.002157,0.0,0.006711,0.0,0.006790,0.000000,0.0,0.000187,...,0.000109,0.006297,0.004093,0.0,0.011349,0.012500,0.000562,0.000000,0.028531,0.015900

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,0.013428,0.000031,0.002460,0.000000,0.000854,0.0,0.004667,0.000402,0.000294,0.000190,...,0.000445,0.006742,0.007371,0.0,0.000000,0.031651,0.000891,0.001739,0.014922,0.003490
2021-06-29,0.011719,0.000062,0.002516,0.001460,0.007922,0.0,0.003939,0.000337,0.000757,0.000107,...,0.000318,0.005957,0.006012,0.0,0.004227,0.037582,0.000000,0.005704,0.014797,0.009855
2021-06-30,0.014225,0.000054,0.002830,0.000219,0.004928,0.0,0.003613,0.000277,0.000210,0.000216,...,0.000127,0.004705,0.006080,0.0,0.009376,0.011236,0.000955,0.003206,0.027121,0.020823

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-28,0.000940,0.002055,NaN,0.000462,0.002782,0.000425,0.000411,0.000404,0.000164,0.0,...,0.000167,0.000279,0.000614,0.000410,0.001043,0.000131,0.001168,0.000995,0.000213,0.002389
2021-06-29,0.000000,0.000084,NaN,0.000611,0.001376,0.000244,0.000616,0.000115,0.000109,0.0,...,-0.000048,0.000699,0.000872,0.000164,0.004949,0.000218,0.000705,0.000152,0.000199,0.001546
2021-06-30,0.000966,0.001236,NaN,0.000860,0.001967,-0.000450,0.000797,0.000146,0.000292,0.0,...,0.000142,0.000918,0.001385,0.000164,0.000000,0.000404,0.000769,0.000299,0.000134,0.001527

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-28      0.000414  0.001823  0.000427  0.000372  0.001148  0.001604
2021-06-29      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2021-06-30      0.001380  0.001910  0.000426  0.002233  0.001720  0.000000

Province_State                                         ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers Cherokee  ...      Park
2021-06-28      0.000000  0.000339  0.000268      0.0  ...  0.000345
2021-06-29      0.000000  0.000000  0.000000      0.0  ...  0.000344
2021-06-30      0.003104  0.000677  0.000536      0.0  ...  0.000000

Province_State                                                          \
Admin2            Platte  Sheridan Sublette Sweetwater Teton     Uinta
2021-06-28      0.000000  0.000919      0.0   0.002115   0.0  0.001296
2021-06-29      0.001471  0.000000      0.0   0.003798   0.0  0.000431
2021-06-30      0.000000  0.000612      0.0   0.002943   0.0  0.000431

Province_State
Admin2         Unassigned Washakie    Weston
2021-06-28            NaN      0.0  0.000000
2021-06-29            NaN      0.0  0.001524
2021-06-30            NaN      0.0  0.000000

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-28,0.000176,0.000000,NaN,0.000000,0.000679,0.000142,-0.000148,0.000121,0.0,NaN,...,0.000558,0.000115,0.000846,0.0,0.0,0.000527,0.001525,0.000695,0.001235,0.000000
2021-06-29,0.000000,0.000000,NaN,0.000949,0.001357,0.000362,0.001771,0.000000,0.0,NaN,...,0.000557,0.000555,0.001268,0.0,0.0,0.000877,0.001523,0.000347,0.002096,0.009459
2021-06-30,0.001235,0.008021,NaN,0.000335,0.000677,0.000409,0.000884,0.000242,0.0,NaN,...,-0.000159,0.000554,0.001267,0.0,0.0,0.000263,0.001689,0.004168,0.000246,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-28         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-29         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-30         0.0  0.003185     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                     ...   Wyoming                              \
Admin2          Chambers Cherokee  ...      Park    Platte Sheridan Sublette
2021-06-28      0.000000      0.0  ...  0.000000  0.000000      0.0      0.0
2021-06-29      0.000000      0.0  ...  0.066667  0.083333      0.0      0.0
2021-06-30     -0.008065      0.0  ...  0.000000  0.000000      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-28            0.0   0.0   0.0        NaN      0.0    0.0
2021-06-29            0.0   0.0   0.0        NaN      0.0    0.0
2021-06-30            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,0.020958,0.000017,0.002636,0.000048,0.002063,3.712688e-11,0.003988,0.000303,0.001042,0.000126,...,0.004046,0.003150,0.004437,5.646886e-22,0.002509,0.028375,0.000476,0.000217,0.013146,0.015899
2021-06-29,0.016557,0.000012,0.002719,0.000672,0.001925,1.856344e-11,0.004714,0.000409,0.001208,0.000086,...,0.004146,0.003296,0.004489,2.823443e-22,0.003144,0.025684,0.000238,0.000760,0.014574,0.021157
2021-06-30,0.014684,0.000032,0.002785,0.000732,0.003121,9.281721e-12,0.004906,0.000489,0.001274,0.000088,...,0.004752,0.003240,0.004454,1.411722e-22,0.005374,0.029350,0.000623,0.000524,0.016797,0.024291

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,0.025616,0.000054,0.001905,5.737095e-20,0.002675,3.189368e-14,0.004993,0.000386,3.639959e-27,0.000115,...,0.000074,0.005062,0.002691,0.0,0.002513,0.023051,0.000517,0.000901,0.031442,0.006466
2021-06-29,0.019573,0.000027,0.002169,2.868548e-20,0.003021,1.594684e-14,0.005320,0.000636,1.819979e-27,0.000011,...,0.000126,0.005609,0.002713,0.0,0.003864,0.024346,0.000258,0.000451,0.026960,0.006664
2021-06-30,0.017818,0.000014,0.002163,1.434274e-20,0.004866,7.973420e-15,0.006055,0.000318,9.099897e-28,0.000099,...,0.000118,0.005953,0.003403,0.0,0.007607,0.018423,0.000410,0.000225,0.027746,0.011282

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-28,0.011203,0.000048,0.002473,0.000059,0.002271,1.407767e-06,0.004716,0.000371,0.000276,0.000237,...,0.000417,0.006959,0.006121,1.355253e-20,0.002755,0.030507,0.000909,0.002020,0.018582,0.002912
2021-06-29,0.011461,0.000055,0.002495,0.000759,0.005097,7.038834e-07,0.004328,0.000354,0.000517,0.000172,...,0.000367,0.006458,0.006067,6.776264e-21,0.003491,0.034045,0.000455,0.003862,0.016690,0.006384
2021-06-30,0.012843,0.000054,0.002662,0.000489,0.005012,3.519417e-07,0.003970,0.000316,0.000363,0.000194,...,0.000247,0.005582,0.006073,3.388132e-21,0.006434,0.022640,0.000705,0.003534,0.021906,0.013603

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-28,0.000545,0.001049,NaN,0.000499,0.001512,0.000334,0.000541,0.000242,0.000184,2.233336e-142,...,0.000102,0.000277,0.000694,0.000238,0.001589,0.000089,0.000849,0.000549,0.000124,0.001373
2021-06-29,0.000273,0.000567,NaN,0.000555,0.001444,0.000289,0.000578,0.000178,0.000147,1.116668e-142,...,0.000027,0.000488,0.000783,0.000201,0.003269,0.000153,0.000777,0.000351,0.000162,0.001459
2021-06-30,0.000620,0.000901,NaN,0.000708,0.001705,-0.000081,0.000687,0.000162,0.000219,5.583341e-143,...,0.000084,0.000703,0.001084,0.000182,0.001635,0.000279,0.000773,0.000325,0.000148,0.001493

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-28      0.000213  0.001001  0.000206  0.000192  0.000683  0.000871
2021-06-29      0.000106  0.000500  0.000103  0.000096  0.000341  0.000436
2021-06-30      0.000743  0.001205  0.000265  0.001165  0.001031  0.000218

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-06-28      0.000174  0.000325  0.000180 -0.000016  ...  0.000237
2021-06-29      0.000087  0.000162  0.000090 -0.000008  ...  0.000291
2021-06-30      0.001596  0.000420  0.000313 -0.000004  ...  0.000145

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-28      0.000213  0.000587 -0.000137   0.001275  0.000050  0.000921
2021-06-29      0.000842  0.000293 -0.000068   0.002537  0.000025  0.000676
2021-06-30      0.000421  0.000453 -0.000034   0.002740  0.000013  0.000554

Province_State
Admin2         Unassigned  Washakie        Weston
2021-06-28           -1.0 -0.000059  7.341404e-10
2021-06-29           -1.0 -0.000029  7.621955e-04
2021-06-30           -1.0 -0.000015  3.810977e-04

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-28,0.000158,0.000042,NaN,0.000190,0.000408,0.000304,0.000315,0.000081,0.000132,NaN,...,0.000374,0.000213,0.001906,1.168755e-10,0.000006,0.000327,0.000996,0.000422,0.000761,0.000128
2021-06-29,0.000079,0.000021,NaN,0.000570,0.000882,0.000333,0.001043,0.000041,0.000066,NaN,...,0.000466,0.000384,0.001587,5.843774e-11,0.000003,0.000602,0.001259,0.000385,0.001428,0.004794
2021-06-30,0.000657,0.004021,NaN,0.000452,0.000780,0.000371,0.000963,0.000141,0.000033,NaN,...,0.000153,0.000469,0.001427,2.921887e-11,0.000002,0.000432,0.001474,0.002276,0.000837,0.002397

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                        \
Admin2               Autauga       Baldwin   Barbour          Bibb
2021-06-28      2.431135e-09  1.563109e-06  0.000265  1.765815e-18
2021-06-29      1.215567e-09  7.815547e-07  0.000132  8.829077e-19
2021-06-30      6.077837e-10  1.592747e-03  0.000066  4.414539e-19

Province_State                                                      \
Admin2                Blount       Bullock        Butler   Calhoun
2021-06-28      2.084830e-16  6.932558e-16  1.715800e-12  0.000289
2021-06-29      1.042415e-16  3.466279e-16  8.579002e-13  0.000144
2021-06-30      5.212074e-17  1.733139e-16  4.289501e-13  0.000072

Province_State                              ...       Wyoming            \
Admin2              Chambers      Cherokee  ...          Park    Platte
2021-06-28      9.617385e-07  1.926999e-23  ...  1.088227e-31  0.001420
2021-06-29      4.808692e-07  9.634993e-24  ...  3.333333e-02  0.042377
2021-06-30     -4.032018e-03  4.817496e-24  ...  1.666667e-02  0.021188

Province_State                                                          \
Admin2              Sheridan      Sublette    Sweetwater         Teton
2021-06-28      8.218973e-34  3.610669e-54  1.565004e-06  2.119276e-07
2021-06-29      4.109487e-34  1.805334e-54  7.825020e-07  1.059638e-07
2021-06-30      2.054743e-34  9.026672e-55  3.912510e-07  5.298191e-08

Province_State
Admin2                 Uinta Unassigned      Washakie        Weston
2021-06-28      1.156482e-18   0.752941  2.243369e-46  1.907349e-07
2021-06-29      5.782412e-19   0.752941  1.121685e-46  9.536743e-08
2021-06-30      2.891206e-19   0.752941  5.608423e-47  4.768372e-08

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN