# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'03-22-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'03-21-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-22 05:25:43,33.93911,67.709953,56103,2463,49737.0,3903.0,Afghanistan,144.118651,4.390140
1,NaN,NaN,NaN,Albania,2021-03-22 05:25:43,41.15330,20.168300,121200,2137,85147.0,33916.0,Albania,4211.550490,1.763201
2,NaN,NaN,NaN,Algeria,2021-03-22 05:25:43,28.03390,1.659600,116157,3057,80659.0,32441.0,Algeria,264.889937,2.631783
3,NaN,NaN,NaN,Andorra,2021-03-22 05:25:43,42.50630,1.521800,11517,113,10973.0,431.0,Andorra,14905.843526,0.981158
4,NaN,NaN,NaN,Angola,2021-03-22 05:25:43,-11.20270,17.873900,21733,527,20073.0,1133.0,Angola,66.125549,2.424884

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21,3/21/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55959,55959,55985,55985,55995,56016,56044,56069,56093,56103
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,116123,116821,117474,118017,118492,118938,119528,120022,120541,121200
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,115008,115143,115265,115410,115540,115688,115842,115970,116066,116157

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21,3/21/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2454,2454,2457,2459,2460,2460,2462,2462,2462,2463
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2018,2030,2045,2060,2077,2092,2106,2122,2133,2137
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3031,3034,3036,3040,3045,3048,3051,3053,3055,3057

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21,3/21/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49499,49471,49477,49481,49499,49536,49664,49681,49681,49737
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,79131,79821,80483,81061,81810,82554,83264,83954,84625,85147
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,79672,79783,79887,79994,80103,80219,80347,80455,80566,80659

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21,3/21/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6409,6416,6426,6471,6474,6483,6495,6498,6510,6513
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20072,20091,20103,20210,20227,20263,20287,20317,20329,20347
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2175,2181,2184,2195,2198,2199,2202,2206,2212,2212

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21,3/21/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,95,95,95,95,95,96,98,98,98,98
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,294,294,294,294,294,295,296,296,296,296
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,52,53,53,53,53,54,54,54,54,54

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-22 05:25:43,32.539527,-86.644082,6513,98,NaN,NaN,"Autauga, Alabama, US",11657.627665,1.504683
689,1075.0,Lamar,Alabama,US,2021-03-22 05:25:43,33.779950,-88.096680,1372,33,NaN,NaN,"Lamar, Alabama, US",9938.428106,2.405248
690,1077.0,Lauderdale,Alabama,US,2021-03-22 05:25:43,34.901719,-87.656247,9024,217,NaN,NaN,"Lauderdale, Alabama, US",9731.583431,2.404699

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               29818930  542359         0.0
Brazil           11998233  294042  10509457.0
India            11646081  159967  11151468.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,29818930,542359,0.0,29276571.0,2021-03-22 05:25:43,37.936303,-91.379001
Brazil,11998233,294042,10509457.0,1194734.0,2021-03-22 05:25:43,-12.669522,-48.480493
India,11646081,159967,11151468.0,334646.0,2021-03-22 05:25:43,23.088275,81.806127
Russia,4407031,93457,4023460.0,290114.0,2021-03-22 05:25:43,54.546312,62.120860
United Kingdom,4310195,126393,12176.0,4171626.0,2021-03-22 05:25:43,28.164647,-33.966498

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3641105   57505        0.0
Texas             2754616   47346        0.0
Florida           2008349   32742        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3641105,57505,0.0,3583600.0,2021-03-22 05:25:43,37.843962,-120.728594
Texas,2754616,47346,0.0,2707270.0,2021-03-22 05:25:43,31.660643,-98.653069
Florida,2008349,32742,0.0,1975607.0,2021-03-22 05:25:43,28.940755,-82.700744
New York,1782769,49426,0.0,1733343.0,2021-03-22 05:25:43,42.544151,-75.474183
Illinois,1221775,23357,0.0,1198418.0,2021-03-22 05:25:43,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1214178   22797        0.0
Arizona        Maricopa        521233    9544        0.0
Illinois       Cook            488249    9573        0.0
Florida        Miami-Dade      434352    5725        0.0
Texas          Harris          370223    5610        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1214178,22797,0.0,1191381.0,2021-03-22 05:25:43,34.308284,-118.228241,6037.0
Arizona,Maricopa,521233,9544,0.0,511689.0,2021-03-22 05:25:43,33.348359,-112.491815,4013.0
Illinois,Cook,488249,9573,0.0,478676.0,2021-03-22 05:25:43,41.841448,-87.816588,17031.0
Florida,Miami-Dade,434352,5725,0.0,428627.0,2021-03-22 05:25:43,25.611236,-80.551706,12086.0
Texas,Harris,370223,5610,0.0,364613.0,2021-03-22 05:25:43,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,56069,120022,115970,11431,21642,1011,2234913,182056,29192,508096,...,4299200,78401,81095,3,149145,2571,219912,3217,86059,36652
2021-03-20,56093,120541,116066,11481,21696,1033,2241739,183127,29196,511440,...,4304839,79923,81339,3,150306,2572,221391,3278,86273,36662
2021-03-21,56103,121200,116157,11517,21733,1033,2245771,183713,29206,514153,...,4310195,81537,81339,3,151123,2572,223638,3418,86449,36665

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,2462,2122,3053,113,524,27,54476,3320,909,9024,...,126263,760,622,0,1475,35,2379,733,1178,1510
2021-03-20,2462,2133,3055,113,526,28,54517,3332,909,9052,...,126359,776,622,0,1483,35,2406,737,1178,1510
2021-03-21,2463,2137,3057,113,527,28,54545,3348,909,9074,...,126393,792,622,0,1493,35,2427,751,1179,1512

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,49681,83954,80455,10925,20065,598,2016729,167518,22965,468275,...,12130,65515,79631,1,139731,2198,195372,1529,82714,34249
2021-03-20,49681,84625,80566,10952,20068,685,2023664,167977,22966,470684,...,12167,66668,79812,1,140239,2198,196678,1530,83110,34257
2021-03-21,49737,85147,80659,10973,20073,685,2030153,168289,22971,473357,...,12176,67730,79812,1,140758,2198,198431,1534,83258,34269

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21,3/21/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6409,6416,6426,6471,6474,6483,6495,6498,6510,6513
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1349,1351,1352,1365,1366,1367,1368,1369,1372,1372
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8670,8683,8692,8962,8973,8993,9000,9007,9019,9024
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2870,2870,2872,2903,2906,2908,2908,2910,2908,2910
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15122,15138,15147,15197,15205,15218,15231,15248,15274,15282

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-19,510579,61086,0,835030,328273,3637726,448362,296691,91635,49,...,798621,2749624,380787,17393,2767,602182,353792,137092,628428,55581
2021-03-20,511087,61086,0,835765,328547,3639874,449828,296691,91942,49,...,798621,2752279,381254,17555,2767,603745,354782,137478,628969,55581
2021-03-21,511460,61086,0,836253,328655,3641105,450630,296691,92287,49,...,798621,2754616,381629,17740,2767,604904,354782,137826,629407,55581

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-03-19        6498   20317    2206  2521   6380    1194   2071   14152
2021-03-20        6510   20329    2212  2528   6382    1194   2072   14158
2021-03-21        6513   20347    2212  2529   6383    1194   2072   14162

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-19         3465     1793  ...    2641    605     3048      685
2021-03-20         3466     1793  ...    2641    605     3048      685
2021-03-21         3466     1794  ...    2641    605     3048      685

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-19           3935  3510  2103          0      889    631
2021-03-20           3935  3510  2103          0      889    631
2021-03-21           3935  3510  2103          0      889    631

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-19,10425,310,0,16691,5529,57350,6065,7832,1522,0,...,11709,47198,2058,217,25,10092,5174,2600,7222,693
2021-03-20,10436,310,0,16733,5533,57435,6068,7832,1526,0,...,11709,47298,2060,219,25,10104,5174,2600,7240,693
2021-03-21,10436,310,0,16745,5539,57505,6073,7832,1529,0,...,11709,47346,2062,219,25,10117,5174,2606,7240,693

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-19          98     296      54   58    130      39     66     303
2021-03-20          98     296      54   58    130      39     66     303
2021-03-21          98     296      54   58    130      39     66     303

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-19          114       42  ...      29     11       31        7
2021-03-20          114       42  ...      29     11       31        7
2021-03-21          114       42  ...      29     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-19             36     9    12          0       26      5
2021-03-20             36     9    12          0       26      5
2021-03-21             36     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,0.000446,0.004133,0.001105,0.003335,0.003896,0.002976,0.003665,0.004918,0.000308,0.006966,...,0.001135,0.020634,0.001531,0.0,0.006322,0.000389,0.008488,0.029111,0.001979,0.001120
2021-03-20,0.000428,0.004324,0.000828,0.004374,0.002495,0.021761,0.003054,0.005883,0.000137,0.006581,...,0.001312,0.019413,0.003009,0.0,0.007784,0.000389,0.006725,0.018962,0.002487,0.000273
2021-03-21,0.000178,0.005467,0.000784,0.003136,0.001705,0.000000,0.001799,0.003200,0.000343,0.005305,...,0.001244,0.020194,0.000000,0.0,0.005436,0.000000,0.010149,0.042709,0.002040,0.000082

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,0.000000,0.007597,0.000656,0.0,0.003831,0.000000,0.001655,0.005756,0.0,0.004676,...,0.000793,0.014686,0.0,NaN,0.005453,0.0,0.008906,0.013831,0.002553,0.000663
2021-03-20,0.000000,0.005184,0.000655,0.0,0.003817,0.037037,0.000753,0.003614,0.0,0.003103,...,0.000760,0.021053,0.0,NaN,0.005424,0.0,0.011349,0.005457,0.000000,0.000000
2021-03-21,0.000406,0.001875,0.000655,0.0,0.001901,0.000000,0.000514,0.004802,0.0,0.002430,...,0.000269,0.020619,0.0,NaN,0.006743,0.0,0.008728,0.018996,0.000849,0.001325

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,0.000342,0.008287,0.001344,0.001926,0.001647,0.000000,0.003409,0.001986,0.000087,0.004916,...,0.003641,0.015862,0.001232,0.0,0.002993,0.0,0.009268,0.005921,0.002266,0.000672
2021-03-20,0.000000,0.007992,0.001380,0.002471,0.000150,0.145485,0.003439,0.002740,0.000044,0.005144,...,0.003050,0.017599,0.002273,0.0,0.003636,0.0,0.006685,0.000654,0.004788,0.000234
2021-03-21,0.001127,0.006168,0.001154,0.001917,0.000249,0.000000,0.003207,0.001857,0.000218,0.005679,...,0.000740,0.015930,0.000000,0.0,0.003701,0.0,0.008913,0.002614,0.001781,0.000350

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-19,0.001041,0.001098,NaN,0.000507,0.000695,0.000803,0.003990,0.004085,0.002297,0.0,...,0.002507,0.001431,0.001175,0.008465,0.0,0.002718,0.002508,0.002750,0.001091,0.001839
2021-03-20,0.000995,0.000000,NaN,0.000880,0.000835,0.000590,0.003270,0.000000,0.003350,0.0,...,0.000000,0.000966,0.001226,0.009314,0.0,0.002596,0.002798,0.002816,0.000861,0.000000
2021-03-21,0.000730,0.000000,NaN,0.000584,0.000329,0.000338,0.001783,0.000000,0.003752,0.0,...,0.000000,0.000849,0.000984,0.010538,0.0,0.001920,0.000000,0.002531,0.000696,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-03-19      0.000462  0.001479  0.001817  0.000794  0.000627     0.0
2021-03-20      0.001847  0.000591  0.002720  0.002777  0.000313     0.0
2021-03-21      0.000461  0.000885  0.000000  0.000396  0.000157     0.0

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-19      0.000967  0.000283  0.000289  0.000558  ...  0.001897
2021-03-20      0.000483  0.000424  0.000289  0.000000  ...  0.000000
2021-03-21      0.000000  0.000283  0.000000  0.000558  ...  0.000000

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-19      0.001656  0.000985  0.002928   0.005879  0.004292  0.000952
2021-03-20      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-03-21      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned Washakie Weston
2021-03-19            NaN      0.0    0.0
2021-03-20            NaN      0.0    0.0
2021-03-21            NaN      0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-19,0.003272,0.0,NaN,0.002764,0.002539,0.002622,0.000825,0.001278,0.003296,NaN,...,0.002397,0.003679,0.008329,0.000000,0.0,-0.008839,0.001161,0.011673,0.001942,0.0
2021-03-20,0.001055,0.0,NaN,0.002516,0.000723,0.001482,0.000495,0.000000,0.002628,NaN,...,0.000000,0.002119,0.000972,0.009217,0.0,0.001189,0.000000,0.000000,0.002492,0.0
2021-03-21,0.000000,0.0,NaN,0.000717,0.001084,0.001219,0.000824,0.000000,0.001966,NaN,...,0.000000,0.001015,0.000971,0.000000,0.0,0.001287,0.000000,0.002308,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler   Calhoun
2021-03-19         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.003311
2021-03-20         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.000000
2021-03-21         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.000000

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-19          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-03-20          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-03-21          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-19            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-20            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-21            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,0.000418,0.004352,0.001192,0.003180,0.003236,0.007875,0.003638,0.004843,0.000407,0.006596,...,0.001261,0.020116,0.001416,0.000488,0.005228,0.000987,0.009198,0.027490,0.002894,0.001116
2021-03-20,0.000423,0.004338,0.001010,0.003777,0.002866,0.014818,0.003346,0.005363,0.000272,0.006589,...,0.001286,0.019765,0.002212,0.000244,0.006506,0.000688,0.007962,0.023226,0.002690,0.000694
2021-03-21,0.000301,0.004903,0.000897,0.003456,0.002285,0.007409,0.002572,0.004282,0.000307,0.005947,...,0.001265,0.019979,0.001106,0.000122,0.005971,0.000344,0.009056,0.032967,0.002365,0.000388

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,0.000278,0.007345,0.000867,0.000140,0.002102,0.001037,0.002354,0.004885,1.138740e-28,0.003873,...,0.00082,0.014380,1.171654e-14,NaN,0.005486,9.899643e-62,0.008785,0.012981,0.003109,0.000788
2021-03-20,0.000139,0.006264,0.000761,0.000070,0.002959,0.019037,0.001554,0.004249,5.693699e-29,0.003488,...,0.00079,0.017716,5.858271e-15,NaN,0.005455,4.949821e-62,0.010067,0.009219,0.001555,0.000394
2021-03-21,0.000273,0.004070,0.000708,0.000035,0.002430,0.009518,0.001034,0.004526,2.846850e-29,0.002959,...,0.00053,0.019167,2.929135e-15,NaN,0.006099,2.474911e-62,0.009398,0.014107,0.001202,0.000859

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-19,0.000935,0.008512,0.001422,0.002145,0.001477,0.001261,0.003194,0.001755,0.000075,0.004841,...,0.003111,0.015753,0.001097,0.0,0.003184,0.004159,0.009489,0.005763,0.001945,0.001205
2021-03-20,0.000468,0.008252,0.001401,0.002308,0.000813,0.073373,0.003316,0.002247,0.000059,0.004993,...,0.003081,0.016676,0.001685,0.0,0.003410,0.002080,0.008087,0.003209,0.003366,0.000719
2021-03-21,0.000797,0.007210,0.001278,0.002113,0.000531,0.036687,0.003261,0.002052,0.000139,0.005336,...,0.001910,0.016303,0.000843,0.0,0.003555,0.001040,0.008500,0.002911,0.002573,0.000535

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-19,0.001360,0.001864,NaN,0.000493,0.000783,0.000835,0.003029,0.003662,0.002756,5.662181e-112,...,0.001993,0.001460,0.001323,0.007388,0.000020,0.002767,0.002451,0.002644,0.001064,0.001404
2021-03-20,0.001178,0.000932,NaN,0.000687,0.000809,0.000713,0.003149,0.001831,0.003053,2.831090e-112,...,0.000997,0.001213,0.001275,0.008351,0.000010,0.002681,0.002625,0.002730,0.000962,0.000702
2021-03-21,0.000954,0.000466,NaN,0.000635,0.000569,0.000525,0.002466,0.000916,0.003403,1.415545e-112,...,0.000498,0.001031,0.001129,0.009445,0.000005,0.002300,0.001312,0.002631,0.000829,0.000351

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-19      0.001157  0.001505  0.001616  0.001777  0.001118  0.000445
2021-03-20      0.001502  0.001048  0.002168  0.002277  0.000716  0.000222
2021-03-21      0.000981  0.000967  0.001084  0.001336  0.000436  0.000111

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-19      0.001032  0.000713  0.000671  0.000445  ...  0.001365
2021-03-20      0.000758  0.000569  0.000480  0.000223  ...  0.000682
2021-03-21      0.000379  0.000426  0.000240  0.000390  ...  0.000341

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-19      0.001510  0.000598  0.002015   0.003863  0.003881  0.001036
2021-03-20      0.000755  0.000299  0.001008   0.001932  0.001940  0.000518
2021-03-21      0.000378  0.000149  0.000504   0.000966  0.000970  0.000259

Province_State
Admin2         Unassigned  Washakie    Weston
2021-03-19           -1.0  0.000005  0.000025
2021-03-20           -1.0  0.000002  0.000013
2021-03-21           -1.0  0.000001  0.000006

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-19,0.002727,0.002865,NaN,0.002486,0.002245,0.003069,0.001011,0.001436,0.002277,NaN,...,0.001851,0.003688,0.005210,0.001554,3.031649e-13,-0.002589,0.001598,0.008031,0.001613,0.000187
2021-03-20,0.001891,0.001432,NaN,0.002501,0.001484,0.002275,0.000753,0.000718,0.002452,NaN,...,0.000925,0.002903,0.003091,0.005386,1.515825e-13,-0.000700,0.000799,0.004015,0.002053,0.000094
2021-03-21,0.000945,0.000716,NaN,0.001609,0.001284,0.001747,0.000788,0.000359,0.002209,NaN,...,0.000463,0.001959,0.002031,0.002693,7.579123e-14,0.000293,0.000399,0.003162,0.001026,0.000047

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin   Barbour          Bibb    Blount
2021-03-19      0.006577  0.001291  0.002547 -1.014685e-06  0.001946
2021-03-20      0.003288  0.000646  0.001274 -5.073424e-07  0.000973
2021-03-21      0.001644  0.000323  0.000637 -2.536712e-07  0.000486

Province_State                                                        ...  \
Admin2           Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2021-03-19      0.000053  7.801737e-09  0.002572  0.002749  0.000037  ...
2021-03-20      0.000026  3.900868e-09  0.001286  0.001375  0.000018  ...
2021-03-21      0.000013  1.950434e-09  0.000643  0.000687  0.000009  ...

Province_State   Wyoming                                                      \
Admin2              Park        Platte  Sheridan      Sublette    Sweetwater
2021-03-19      0.000036  1.119861e-17  0.002084  9.154133e-24  3.301797e-07
2021-03-20      0.000018  5.599305e-18  0.001042  4.577066e-24  1.650899e-07
2021-03-21      0.000009  2.799653e-18  0.000521  2.288533e-24  8.254493e-08

Province_State                                                       \
Admin2                 Teton         Uinta Unassigned      Washakie
2021-03-19      2.922171e-11  1.485030e-18  -0.501961  5.687617e-16
2021-03-20      1.461086e-11  7.425148e-19  -0.501961  2.843808e-16
2021-03-21      7.305428e-12  3.712574e-19  -0.501961  1.421904e-16

Province_State
Admin2                Weston
2021-03-19      1.207923e-14
2021-03-20      6.039613e-15
2021-03-21      3.019807e-15

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN