# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'06-12-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'06-12-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-06-13 04:22:44,33.93911,67.709953,88740,3449,60939.0,24352.0,Afghanistan,227.957313,3.886635
1,NaN,NaN,NaN,Albania,2021-06-13 04:22:44,41.15330,20.168300,132449,2453,129826.0,170.0,Albania,4602.439363,1.852034
2,NaN,NaN,NaN,Algeria,2021-06-13 04:22:44,28.03390,1.659600,133070,3565,92620.0,36885.0,Algeria,303.459145,2.679041
3,NaN,NaN,NaN,Andorra,2021-06-13 04:22:44,42.50630,1.521800,13813,127,13591.0,95.0,Andorra,17877.434802,0.919424
4,NaN,NaN,NaN,Angola,2021-06-13 04:22:44,-11.20270,17.873900,36600,825,30207.0,5568.0,Angola,111.360377,2.254098

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,75119,76628,77963,79224,80841,82326,84050,85892,87716,88740
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132360,132372,132374,132379,132384,132397,132415,132426,132437,132449
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,129976,130361,130681,130958,131283,131647,132034,132355,132727,133070

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,3034,3068,3104,3145,3187,3251,3305,3356,3412,3449
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2451,2451,2451,2451,2452,2452,2452,2452,2453,2453
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3497,3504,3510,3518,3527,3537,3544,3552,3560,3565

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,58070,58144,58265,58622,58998,59569,59871,60280,60598,60939
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129566,129598,129627,129664,129702,129736,129761,129785,129807,129826
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,90517,90767,90995,91198,91413,91651,91894,92132,92384,92620

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7172,7186,7186,7186,7206,7206,7209,7211,7215,7215
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21684,21698,21698,21698,21724,21744,21755,21765,21774,21774
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2343,2342,2342,2342,2343,2345,2346,2345,2345,2345

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,111,112,112,112,113,113,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,312,312,312,312,312,312,313,313,313,313
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,59,59,59,59,59,59,59,59,59,59

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
653,1001.0,Autauga,Alabama,US,2021-06-13 04:22:44,32.539527,-86.644082,7215,113,NaN,NaN,"Autauga, Alabama, US",12914.138431,1.566182
690,1075.0,Lamar,Alabama,US,2021-06-13 04:22:44,33.779950,-88.096680,1458,37,NaN,NaN,"Lamar, Alabama, US",10561.390800,2.537723
691,1077.0,Lauderdale,Alabama,US,2021-06-13 04:22:44,34.901719,-87.656247,9582,248,NaN,NaN,"Lauderdale, Alabama, US",10333.336928,2.588186

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33457407  599664         0.0
India            29410502  369680  27995466.0
Brazil           17374818  486272  15271120.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33457407,599664,0.0,32857743.0,2021-06-13 04:22:44,37.950547,-91.419547
India,29410502,369680,27995466.0,1045356.0,2021-06-13 04:22:44,23.088275,81.806127
Brazil,17374818,486272,15271120.0,1617426.0,2021-06-13 04:22:44,-12.669522,-48.480493
France,5799459,110540,399092.0,5289827.0,2021-06-13 04:22:44,6.430808,-34.730285
Turkey,5325435,48668,5198057.0,78710.0,2021-06-13 04:22:44,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3801738   63187        0.0
Texas             2976974   51912        0.0
Florida           2344321   37265        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3801738,63187,0.0,3738551.0,2021-06-13 04:22:44,37.843962,-120.728594
Texas,2976974,51912,0.0,2925062.0,2021-06-13 04:22:44,31.660643,-98.653069
Florida,2344321,37265,0.0,2307056.0,2021-06-12 23:23:35,28.940755,-82.700744
New York,2108950,53539,0.0,2055411.0,2021-06-13 04:22:44,42.544151,-75.474183
Illinois,1387217,25469,0.0,1361748.0,2021-06-13 04:22:44,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1246123   24434        0.0
Illinois       Cook            555734   10419        0.0
Arizona        Maricopa        554368   10150        0.0
Florida        Miami-Dade      504650    6472        0.0
Texas          Harris          403038    6503        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1246123,24434,0.0,1221689.0,2021-06-13 04:22:44,34.308284,-118.228241,6037.0
Illinois,Cook,555734,10419,0.0,545315.0,2021-06-13 04:22:44,41.841448,-87.816588,17031.0
Arizona,Maricopa,554368,10150,0.0,544218.0,2021-06-13 04:22:44,33.348359,-112.491815,4013.0
Florida,Miami-Dade,504650,6472,0.0,498178.0,2021-06-12 23:23:35,25.611236,-80.551706,12086.0
Texas,Harris,403038,6503,0.0,396535.0,2021-06-13 04:22:44,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,85892,132426,132355,13805,36325,1263,4066156,223460,30228,647971,...,4558933,330027,102605,4,247847,9835,311018,6836,105909,39496
2021-06-11,87716,132437,132727,13813,36455,1263,4093090,223555,30234,648187,...,4566893,333484,102892,4,248820,10048,311018,6856,107974,39688
2021-06-12,88740,132449,133070,13813,36600,1263,4111147,223643,30248,648387,...,4574445,336470,103206,4,250309,10337,311018,6857,110332,39852

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,3356,2452,3552,127,815,42,83941,4478,910,10650,...,128131,4862,702,1,2781,55,3524,1338,1332,1626
2021-06-11,3412,2453,3560,127,819,42,84628,4482,910,10652,...,128148,4906,704,1,2797,57,3524,1342,1348,1629
2021-06-12,3449,2453,3565,127,825,42,85075,4482,910,10652,...,128160,4956,705,1,2814,58,3524,1347,1365,1632

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,60280,129785,92132,13578,29960,1214,3639402,214857,23648,632660,...,15543,289754,98592,3,227699,3708,302944,3689,94995,36940
2021-06-11,60598,129807,92384,13591,30101,1214,3668672,214998,23653,633105,...,15543,293332,98923,3,228998,3804,302944,3697,95674,36970
2021-06-12,60939,129826,92620,13591,30207,1214,3695288,215118,23664,633538,...,15544,296855,99152,3,230248,3827,302944,3727,96646,36992

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21,6/9/21,6/10/21,6/11/21,6/12/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7172,7186,7186,7186,7206,7206,7209,7211,7215,7215
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1457,1458,1458,1458,1459,1459,1459,1458,1458,1458
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9526,9537,9537,9537,9552,9556,9570,9578,9582,9582
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3086,3091,3091,3091,3105,3108,3111,3118,3121,3121
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16171,16190,16190,16190,16201,16203,16211,16227,16234,16234

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-10,547135,70588,0,885412,343216,3799978,549084,348319,109258,49,...,864945,2974886,408741,24314,3652,677425,442815,162845,675971,61012
2021-06-11,547323,70652,0,885834,343609,3801229,550014,348350,109296,49,...,865085,2976183,409007,24320,3690,677530,443454,162939,676075,61114
2021-06-12,547323,70652,0,886404,343873,3801738,550618,348350,109322,49,...,865085,2976974,409364,24320,3690,677671,444166,162939,676075,61114

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-06-10        7211   21765    2345  2671   6921    1243   2230   14692
2021-06-11        7215   21774    2345  2673   6925    1242   2233   14692
2021-06-12        7215   21774    2345  2673   6925    1242   2233   14692

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-10         3716     1872  ...    2878    667     3244      800
2021-06-11         3715     1872  ...    2878    670     3246      801
2021-06-12         3715     1872  ...    2878    670     3246      801

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-10           4623  3793  2296          0      924    656
2021-06-11           4636  3794  2298          0      924    656
2021-06-12           4636  3794  2298          0      924    656

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-10,11252,369,0,17742,5856,63216,6666,8260,1679,0,...,12496,51846,2319,256,28,11270,5803,2848,8007,725
2021-06-11,11266,373,0,17740,5859,63256,6677,8261,1679,0,...,12498,51889,2319,256,28,11283,5815,2849,8013,725
2021-06-12,11266,373,0,17761,5860,63187,6688,8261,1679,0,...,12498,51912,2323,256,28,11293,5815,2849,8013,725

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-10         113     313      59   64    139      42     71     325
2021-06-11         113     313      59   64    139      42     71     325
2021-06-12         113     313      59   64    139      42     71     325

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-10          124       45  ...      30     11       31        7
2021-06-11          123       45  ...      30     11       31        7
2021-06-12          123       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-10             39    11    13          0       26      6
2021-06-11             39    11    13          0       26      6
2021-06-12             39    11    13          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,0.021916,0.000083,0.002431,0.001015,0.005815,0.0,0.006841,0.000340,0.000099,0.000437,...,0.001590,0.011097,0.002374,0.0,0.004389,0.020758,0.001526,0.000585,0.020682,0.001623
2021-06-11,0.021236,0.000083,0.002811,0.000580,0.003579,0.0,0.006624,0.000425,0.000198,0.000333,...,0.001746,0.010475,0.002797,0.0,0.003926,0.021657,0.000000,0.002926,0.019498,0.004861
2021-06-12,0.011674,0.000091,0.002584,0.000000,0.003978,0.0,0.004412,0.000394,0.000463,0.000309,...,0.001654,0.008954,0.003052,0.0,0.005984,0.028762,0.000000,0.000146,0.021839,0.004132

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,0.015431,0.000000,0.002257,0.0,0.004932,0.0,0.008034,0.000894,0.0,0.000000,...,0.000055,0.009551,0.001427,0.0,0.006151,0.000000,0.001136,0.000748,0.006042,0.002466
2021-06-11,0.016687,0.000408,0.002252,0.0,0.004908,0.0,0.008184,0.000893,0.0,0.000188,...,0.000133,0.009050,0.002849,0.0,0.005753,0.036364,0.000000,0.002990,0.012012,0.001845
2021-06-12,0.010844,0.000000,0.001404,0.0,0.007326,0.0,0.005282,0.000000,0.0,0.000000,...,0.000094,0.010192,0.001420,0.0,0.006078,0.017544,0.000000,0.003726,0.012611,0.001842

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,0.006831,0.000185,0.002590,0.000663,0.013772,0.0,0.008453,0.000778,0.000381,0.000747,...,0.000193,0.011457,0.001493,0.0,0.005081,0.019802,0.001941,0.003810,0.008557,0.000623
2021-06-11,0.005275,0.000170,0.002735,0.000957,0.004706,0.0,0.008043,0.000656,0.000211,0.000703,...,0.000000,0.012348,0.003357,0.0,0.005705,0.025890,0.000000,0.002169,0.007148,0.000812
2021-06-12,0.005627,0.000146,0.002555,0.000000,0.003521,0.0,0.007255,0.000558,0.000465,0.000684,...,0.000064,0.012010,0.002315,0.0,0.005459,0.006046,0.000000,0.008115,0.010159,0.000595

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-10,0.000530,0.000000,NaN,0.000418,0.000843,0.000355,0.001087,0.000164,0.000302,0.0,...,0.000419,0.000642,0.000766,0.000576,0.000000,0.000317,0.001622,0.000731,0.000283,0.001165
2021-06-11,0.000344,0.000907,NaN,0.000477,0.001145,0.000329,0.001694,0.000089,0.000348,0.0,...,0.000162,0.000436,0.000651,0.000247,0.010405,0.000155,0.001443,0.000577,0.000154,0.001672
2021-06-12,0.000000,0.000000,NaN,0.000643,0.000768,0.000134,0.001098,0.000000,0.000238,0.0,...,0.000000,0.000266,0.000873,0.000000,0.000000,0.000208,0.001606,0.000000,0.000000,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-10      0.000277  0.000460 -0.000426  0.000375  0.000000  0.002419
2021-06-11      0.000555  0.000414  0.000000  0.000749  0.000578 -0.000805
2021-06-12      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

Province_State                                         ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers Cherokee  ...      Park
2021-06-10      0.000000  0.000545  0.001887  0.00107  ...  0.001043
2021-06-11      0.001345  0.000000 -0.000269  0.00000  ...  0.000000
2021-06-12      0.000000  0.000000  0.000000  0.00000  ...  0.000000

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-10      0.000000  0.001235  0.001252   0.001300  0.000000  0.001308
2021-06-11      0.004498  0.000617  0.001250   0.002812  0.000264  0.000871
2021-06-12      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned  Washakie Weston
2021-06-10            NaN -0.001081    0.0
2021-06-11            NaN  0.000000    0.0
2021-06-12            NaN  0.000000    0.0

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-10,0.000267,0.00000,NaN,0.001524,0.000342,0.000776,0.002255,0.000363,0.001193,NaN,...,0.00016,0.000618,0.000431,0.0,0.0,0.000888,0.001726,0.000703,0.001501,0.0
2021-06-11,0.001244,0.01084,NaN,-0.000113,0.000512,0.000633,0.001650,0.000121,0.000000,NaN,...,0.00016,0.000829,0.000000,0.0,0.0,0.001154,0.002068,0.000351,0.000749,0.0
2021-06-12,0.000000,0.00000,NaN,0.001184,0.000171,-0.001091,0.001647,0.000000,0.000000,NaN,...,0.00000,0.000443,0.001725,0.0,0.0,0.000886,0.000000,0.000000,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-10         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-11         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-06-12         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                     ... Wyoming                           \
Admin2          Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-10      0.000000      0.0  ...     0.0    0.0      0.0      0.0
2021-06-11     -0.008065      0.0  ...     0.0    0.0      0.0      0.0
2021-06-12      0.000000      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-10            0.0   0.0   0.0        NaN      0.0    0.0
2021-06-11            0.0   0.0   0.0        NaN      0.0    0.0
2021-06-12            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,0.020813,0.000093,0.002600,0.000821,0.004708,0.000010,0.006959,0.000348,0.000256,0.000466,...,0.001514,0.011075,0.002226,1.480297e-16,0.005294,0.027643,0.001016,0.001119,0.017055,0.001906
2021-06-11,0.021025,0.000088,0.002706,0.000700,0.004144,0.000005,0.006792,0.000387,0.000227,0.000400,...,0.001630,0.010775,0.002512,7.401487e-17,0.004610,0.024650,0.000508,0.002022,0.018277,0.003383
2021-06-12,0.016349,0.000089,0.002645,0.000350,0.004061,0.000002,0.005602,0.000390,0.000345,0.000354,...,0.001642,0.009864,0.002782,3.700743e-17,0.005297,0.026706,0.000254,0.001084,0.020058,0.003758

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,0.015971,0.000026,0.002269,1.503945e-14,0.005991,8.360737e-09,0.007842,0.001180,9.541933e-22,0.000183,...,0.000057,0.011350,0.002028,0.0,0.005679,0.005713,0.000717,0.000994,0.004758,0.002706
2021-06-11,0.016329,0.000217,0.002261,7.519726e-15,0.005450,4.180369e-09,0.008013,0.001037,4.770967e-22,0.000185,...,0.000095,0.010200,0.002438,0.0,0.005716,0.021038,0.000359,0.001992,0.008385,0.002276
2021-06-12,0.013586,0.000108,0.001833,3.759863e-15,0.006388,2.090184e-09,0.006647,0.000518,2.385483e-22,0.000093,...,0.000094,0.010196,0.001929,0.0,0.005897,0.019291,0.000179,0.002859,0.010498,0.002059

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-10,0.006547,0.000209,0.002581,0.000705,0.009760,0.000010,0.007844,0.000631,0.000390,0.000667,...,0.000163,0.012063,0.002162,3.552714e-15,0.005500,0.021467,0.001205,0.006934,0.005646,0.001507
2021-06-11,0.005911,0.000189,0.002658,0.000831,0.007233,0.000005,0.007943,0.000644,0.000300,0.000685,...,0.000081,0.012206,0.002760,1.776357e-15,0.005602,0.023679,0.000602,0.004551,0.006397,0.001160
2021-06-12,0.005769,0.000168,0.002606,0.000416,0.005377,0.000002,0.007599,0.000601,0.000383,0.000685,...,0.000073,0.012108,0.002537,8.881784e-16,0.005531,0.014862,0.000301,0.006333,0.008278,0.000877

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-10,0.000553,0.000299,NaN,0.000446,0.000691,0.000294,0.001098,0.000224,0.000315,5.854558e-137,...,0.000325,0.001035,0.000747,0.000490,0.005622,0.000293,0.001470,0.000711,0.000259,0.001283
2021-06-11,0.000448,0.000603,NaN,0.000462,0.000918,0.000312,0.001396,0.000156,0.000331,2.927279e-137,...,0.000243,0.000735,0.000699,0.000368,0.008014,0.000224,0.001457,0.000644,0.000207,0.001478
2021-06-12,0.000224,0.000301,NaN,0.000552,0.000843,0.000223,0.001247,0.000078,0.000285,1.463639e-137,...,0.000122,0.000501,0.000786,0.000184,0.004007,0.000216,0.001531,0.000322,0.000103,0.000739

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-10      0.000442  0.000556  0.000032  0.000401  0.000255  0.001372
2021-06-11      0.000498  0.000485  0.000016  0.000575  0.000417  0.000284
2021-06-12      0.000249  0.000242  0.000008  0.000288  0.000208  0.000142

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-06-10      0.000343  0.000374  0.001272  0.000773  ...  0.001017
2021-06-11      0.000844  0.000187  0.000501  0.000387  ...  0.000508
2021-06-12      0.000422  0.000094  0.000251  0.000193  ...  0.000254

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-10      0.000383  0.000986  0.000942   0.001940  0.000202  0.000929
2021-06-11      0.002440  0.000801  0.001096   0.002376  0.000233  0.000900
2021-06-12      0.001220  0.000401  0.000548   0.001188  0.000116  0.000450

Province_State
Admin2         Unassigned  Washakie    Weston
2021-06-10           -1.0 -0.000337  0.000192
2021-06-11           -1.0 -0.000169  0.000096
2021-06-12           -1.0 -0.000084  0.000048

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-10,0.000936,1.915641e-09,NaN,0.000920,0.000365,0.000572,0.001983,0.000327,0.000663,NaN,...,0.000273,0.000639,0.000666,0.000031,0.000072,0.000779,-0.000051,0.002730,0.001580,0.000869
2021-06-11,0.001090,5.420055e-03,NaN,0.000404,0.000438,0.000602,0.001817,0.000224,0.000332,NaN,...,0.000216,0.000734,0.000333,0.000015,0.000036,0.000966,0.001009,0.001541,0.001165,0.000435
2021-06-12,0.000545,2.710028e-03,NaN,0.000794,0.000305,-0.000244,0.001732,0.000112,0.000166,NaN,...,0.000108,0.000589,0.001029,0.000008,0.000018,0.000926,0.000504,0.000770,0.000582,0.000217

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                      \
Admin2           Autauga   Baldwin       Barbour          Bibb        Blount
2021-06-10      0.000637  0.000814  1.060829e-06  4.628979e-13  5.465256e-11
2021-06-11      0.000319  0.000407  5.304146e-07  2.314490e-13  2.732628e-11
2021-06-12      0.000159  0.000204  2.652073e-07  1.157245e-13  1.366314e-11

Province_State                                                                \
Admin2               Bullock        Butler   Calhoun  Chambers      Cherokee
2021-06-10      1.817328e-10  4.497868e-07  0.000012  0.000016  5.051511e-18
2021-06-11      9.086642e-11  2.248934e-07  0.000006 -0.004024  2.525756e-18
2021-06-12      4.543321e-11  1.124467e-07  0.000003 -0.002012  1.262878e-18

Province_State  ...       Wyoming                                            \
Admin2          ...          Park        Platte      Sheridan      Sublette
2021-06-10      ...  2.852722e-26  1.157909e-42  2.154554e-28  9.465151e-49
2021-06-11      ...  1.426361e-26  5.789546e-43  1.077277e-28  4.732576e-49
2021-06-12      ...  7.131806e-27  2.894773e-43  5.386386e-29  2.366288e-49

Province_State                                                                 \
Admin2            Sweetwater     Teton         Uinta Unassigned      Washakie
2021-06-10      3.137185e-09  0.055556  3.031649e-13   0.752941  5.880858e-41
2021-06-11      1.568592e-09  0.027778  1.515825e-13   0.752941  2.940429e-41
2021-06-12      7.842962e-10  0.013889  7.579123e-14   0.752941  1.470214e-41

Province_State
Admin2          Weston
2021-06-10      0.0500
2021-06-11      0.0250
2021-06-12      0.0125

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN