# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'01-06-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'01-06-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-07 05:22:03,33.93911,67.709953,53105,2244,42666,8195.0,Afghanistan,136.417321,4.225591
1,NaN,NaN,NaN,Albania,2021-01-07 05:22:03,41.15330,20.168300,61008,1217,36102,23689.0,Albania,2119.952742,1.994820
2,NaN,NaN,NaN,Algeria,2021-01-07 05:22:03,28.03390,1.659600,101120,2786,68383,29951.0,Algeria,230.598848,2.755142
3,NaN,NaN,NaN,Andorra,2021-01-07 05:22:03,42.50630,1.521800,8348,84,7615,649.0,Andorra,10804.374555,1.006229
4,NaN,NaN,NaN,Angola,2021-01-07 05:22:03,-11.20270,17.873900,17864,413,11477,5974.0,Angola,54.353600,2.311912

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,51280,51350,51405,51526,51526,51526,51526,53011,53105,53105
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,56572,57146,57727,58316,58316,58991,59438,59623,60283,61008
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,98631,98988,99311,99610,99897,100159,100408,100645,100873,101120

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2174,2179,2181,2191,2191,2191,2191,2237,2244,2244
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1164,1170,1174,1181,1181,1190,1193,1199,1210,1217
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2737,2745,2751,2756,2762,2769,2772,2777,2782,2786

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,41441,41543,41612,41727,41727,41727,41727,42530,42666,42666
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,32122,32700,33185,33634,33634,34353,34648,34996,35551,36102
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,66214,66550,66855,67127,67395,67611,67808,67999,68185,68383

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4065,4105,4164,4190,4239,4268,4305,4336,4546,4645
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,12962,13172,13392,13601,13823,13955,14064,14187,14440,14656
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1417,1462,1492,1514,1517,1528,1530,1533,1575,1597

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,47,47,48,48,50,50,50,50,50,50
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,152,156,160,161,169,169,169,169,169,171
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,32,32,32,32,33,33,33,33,33,35

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
650,1001.0,Autauga,Alabama,US,2021-01-07 05:22:03,32.539527,-86.644082,4645,50,0,4595.0,"Autauga, Alabama, US",8314.091894,1.076426
687,1075.0,Lamar,Alabama,US,2021-01-07 05:22:03,33.779950,-88.096680,1098,16,0,1082.0,"Lamar, Alabama, US",7953.639986,1.457195
688,1077.0,Lauderdale,Alabama,US,2021-01-07 05:22:03,34.901719,-87.656247,6839,70,0,6769.0,"Lauderdale, Alabama, US",7375.254775,1.023541

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               21299340  361123          0
India            10395278  150336   10016859
Brazil            7873830  198974    7033286

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,21299340,361123,0,20938217,2021-01-07 05:22:03,37.936303,-91.379001
India,10395278,150336,10016859,228083,2021-01-07 05:22:03,23.088275,81.806127
Brazil,7873830,198974,7033286,641570,2021-01-07 05:22:03,-12.669522,-48.480493
Russia,3274615,59137,2657994,557484,2021-01-07 05:22:03,54.546312,62.120860
United Kingdom,2845265,77470,6448,2761347,2021-01-07 05:22:03,30.744028,-35.367255

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2530857   27926          0
Texas             1884799   29118          0
Florida           1409906   22317          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2530857,27926,0,2502931,2021-01-07 05:22:03,37.843962,-120.728594
Texas,1884799,29118,0,1855681,2021-01-07 05:22:03,31.660643,-98.653069
Florida,1409906,22317,0,1387589,2021-01-07 05:22:03,28.940755,-82.700744
New York,1064297,38912,0,1025385,2021-01-07 05:22:03,42.544151,-75.474183
Illinois,999288,18735,0,980553,2021-01-07 05:22:03,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     852165   11328          0
Illinois       Cook            406674    8574          0
Arizona        Maricopa        354810    5416          0
Florida        Miami-Dade      314742    4260          0
Texas          Harris          250854    3482          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,852165,11328,0,840837,2021-01-07 05:22:03,34.308284,-118.228241,6037.0
Illinois,Cook,406674,8574,0,398100,2021-01-07 05:22:03,41.841448,-87.816588,17031.0
Arizona,Maricopa,354810,5416,0,349394,2021-01-07 05:22:03,33.348359,-112.491815,4013.0
Florida,Miami-Dade,314742,4260,0,310482,2021-01-07 05:22:03,25.611236,-80.551706,12086.0
Texas,Harris,250854,3482,0,247372,2021-01-07 05:22:03,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,53011,59623,100645,8249,17684,160,1648940,160220,28517,367410,...,2721622,21426,77258,1,114407,1497,142228,2101,21993,15829
2021-01-05,53105,60283,100873,8308,17756,160,1662730,160544,28536,369721,...,2782709,22104,77295,1,114662,1504,143169,2101,22645,17194
2021-01-06,53105,61008,101120,8348,17864,163,1676171,160853,28546,372190,...,2845265,23048,77350,1,114908,1505,144257,2102,23495,17804

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,2237,1199,2777,84,408,5,43634,2864,909,6357,...,75547,211,614,0,1038,35,1490,610,398,384
2021-01-05,2244,1210,2782,84,410,5,43785,2878,909,6457,...,76428,217,614,0,1042,35,1505,610,412,418
2021-01-06,2244,1217,2786,84,413,5,43976,2890,909,6525,...,77470,221,615,0,1047,35,1519,610,417,431

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,42530,34996,67999,7548,11266,148,1458083,144831,25786,340273,...,6260,15539,75437,1,108468,1339,122976,1401,19229,11716
2021-01-05,42666,35551,68185,7585,11376,148,1466616,145759,25802,343039,...,6383,15919,75545,1,108732,1339,124525,1401,19526,11813
2021-01-06,42666,36102,68383,7615,11477,149,1474048,146576,25810,344974,...,6448,16540,75650,1,108966,1353,126110,1403,19672,11966

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4065,4105,4164,4190,4239,4268,4305,4336,4546,4645
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1017,1025,1037,1056,1065,1069,1074,1077,1083,1098
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,6162,6230,6371,6478,6566,6613,6682,6702,6766,6839
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1958,1978,2005,2044,2082,2102,2115,2128,2149,2181
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,9928,10047,10159,10320,10450,10508,10560,10656,10765,10964

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-04,374095,48363,0,561542,234781,2458100,343435,194636,60333,49,...,612250,1829199,285633,7873,2055,367536,256435,91886,527871,45257
2021-01-05,379593,48560,0,567474,238888,2495814,346893,196968,61100,49,...,617649,1860763,288951,8038,2083,371913,258767,93162,531890,45569
2021-01-06,384184,48899,0,574680,242593,2530857,349450,199454,61729,49,...,625380,1884799,292720,8158,2083,377300,260752,94678,535999,45890

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-01-04        4336   14187    1533  1885   4771     910   1554    9752
2021-01-05        4546   14440    1575  1923   4849     920   1574    9975
2021-01-06        4645   14656    1597  1944   4898     925   1583   10109

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-04         2415     1441  ...    2114    454     2590      603
2021-01-05         2474     1454  ...    2136    463     2606      614
2021-01-06         2519     1468  ...    2168    470     2621      615

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-04           3053  2199  1589          0      784    479
2021-01-05           3061  2216  1597          0      783    479
2021-01-06           3083  2239  1618          0      789    479

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-04,4878,218,0,9064,3800,26880,4944,6168,937,0,...,7168,28551,1305,144,24,5132,3482,1396,5269,438
2021-01-05,4886,218,0,9317,3836,27400,4991,6192,947,0,...,7267,28797,1312,149,24,5191,3541,1442,5366,464
2021-01-06,4994,220,0,9444,3901,27926,5050,6230,947,0,...,7379,29118,1330,152,24,5226,3605,1481,5435,464

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-01-04          50     169      33   46     63      22     45     157
2021-01-05          50     169      33   46     63      22     45     157
2021-01-06          50     171      35   48     67      22     46     158

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-04           63       22  ...      10      8       17        6
2021-01-05           63       22  ...      11      9       17        7
2021-01-06           63       25  ...      11      9       17        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-04             16     4     7          0       19      2
2021-01-05             19     4     7          0       21      3
2021-01-06             19     4     7          0       21      3

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,0.028820,0.003112,0.002360,0.006958,0.002381,0.00000,0.005011,0.001206,0.000456,0.004489,...,0.022129,0.028958,0.000000,0.0,0.001550,0.002008,0.007145,0.000000,0.019044,0.036947
2021-01-05,0.001773,0.011070,0.002265,0.007152,0.004071,0.00000,0.008363,0.002022,0.000666,0.006290,...,0.022445,0.031644,0.000479,0.0,0.002229,0.004676,0.006616,0.000000,0.029646,0.086234
2021-01-06,0.000000,0.012027,0.002449,0.004815,0.006082,0.01875,0.008084,0.001925,0.000350,0.006678,...,0.022480,0.042707,0.000712,0.0,0.002145,0.000665,0.007599,0.000476,0.037536,0.035477

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,0.020995,0.005029,0.001804,0.0,0.000000,0.0,0.003496,0.004912,0.0,0.005218,...,0.005457,0.034314,0.000000,NaN,0.003868,0.0,0.013605,0.0,0.010152,0.010526
2021-01-05,0.003129,0.009174,0.001801,0.0,0.004902,0.0,0.003461,0.004888,0.0,0.015731,...,0.011662,0.028436,0.000000,NaN,0.003854,0.0,0.010067,0.0,0.035176,0.088542
2021-01-06,0.000000,0.005785,0.001438,0.0,0.007317,0.0,0.004362,0.004170,0.0,0.010531,...,0.013634,0.018433,0.001629,NaN,0.004798,0.0,0.009302,0.0,0.012136,0.031100

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,0.019244,0.010044,0.002817,0.004124,0.003831,0.000000,0.003526,0.005136,0.00031,0.004256,...,0.027240,0.027372,0.000000,0.0,0.001847,0.000000,0.011624,0.001430,0.007651,0.012269
2021-01-05,0.003198,0.015859,0.002735,0.004902,0.009764,0.000000,0.005852,0.006407,0.00062,0.008129,...,0.019649,0.024455,0.001432,0.0,0.002434,0.000000,0.012596,0.000000,0.015445,0.008279
2021-01-06,0.000000,0.015499,0.002904,0.003955,0.008878,0.006757,0.005067,0.005605,0.00031,0.005641,...,0.010183,0.039010,0.001390,0.0,0.002152,0.010456,0.012728,0.001428,0.007477,0.012952

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-04,0.005810,0.005510,NaN,0.009271,0.005594,0.012843,0.006403,0.023753,0.014273,0.0,...,0.006498,0.010429,0.007620,0.010266,0.006366,0.010367,0.004068,0.009093,0.003090,0.008513
2021-01-05,0.014697,0.004073,NaN,0.010564,0.017493,0.015343,0.010069,0.011981,0.012713,0.0,...,0.008818,0.017256,0.011616,0.020958,0.013625,0.011909,0.009094,0.013887,0.007614,0.006894
2021-01-06,0.012095,0.006981,NaN,0.012698,0.015509,0.014041,0.007371,0.012621,0.010295,0.0,...,0.012517,0.012917,0.013044,0.014929,0.000000,0.014485,0.007671,0.016273,0.007725,0.007044

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-04      0.007201  0.008746  0.001961  0.001594  0.005268  0.011111
2021-01-05      0.048432  0.017833  0.027397  0.020159  0.016349  0.010989
2021-01-06      0.021777  0.014958  0.013968  0.010920  0.010105  0.005435

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-04      0.005175  0.002158  0.005412  0.002086  ...  0.015858
2021-01-05      0.012870  0.022867  0.024431  0.009022  ...  0.010407
2021-01-06      0.005718  0.013434  0.018189  0.009629  ...  0.014981

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-04      0.011136  0.006607  0.006678   0.010927  0.018527  0.012102
2021-01-05      0.019824  0.006178  0.018242   0.002620  0.007731  0.005035
2021-01-06      0.015119  0.005756  0.001629   0.007187  0.010379  0.013150

Province_State
Admin2         Unassigned  Washakie    Weston
2021-01-04            NaN  0.001277  0.004193
2021-01-05            NaN -0.001276  0.000000
2021-01-06            NaN  0.007663  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-04,0.001026,0.013953,NaN,0.000331,0.013604,0.009085,0.002027,0.011313,0.007527,NaN,...,0.020356,0.004256,0.003075,0.028571,0.043478,0.001561,0.006649,0.014535,0.001521,0.000000
2021-01-05,0.001640,0.000000,NaN,0.027913,0.009474,0.019345,0.009506,0.003891,0.010672,NaN,...,0.013811,0.008616,0.005364,0.034722,0.000000,0.011496,0.016944,0.032951,0.018410,0.059361
2021-01-06,0.022104,0.009174,NaN,0.013631,0.016945,0.019197,0.011821,0.006137,0.000000,NaN,...,0.015412,0.011147,0.013720,0.020134,0.000000,0.006742,0.018074,0.027046,0.012859,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                  \
Admin2         Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-01-04         0.0  0.000000  0.000000  0.000000  0.000000     0.0
2021-01-05         0.0  0.000000  0.000000  0.000000  0.000000     0.0
2021-01-06         0.0  0.011834  0.060606  0.043478  0.063492     0.0

Province_State                                         ... Wyoming         \
Admin2            Butler   Calhoun Chambers  Cherokee  ...    Park Platte
2021-01-04      0.000000  0.000000      0.0  0.000000  ...     0.0  0.000
2021-01-05      0.000000  0.000000      0.0  0.000000  ...     0.1  0.125
2021-01-06      0.022222  0.006369      0.0  0.136364  ...     0.0  0.000

Province_State                                                                 \
Admin2         Sheridan  Sublette Sweetwater Teton Uinta Unassigned  Washakie
2021-01-04          0.0  0.000000     0.0000   0.0   0.0        NaN  0.000000
2021-01-05          0.0  0.166667     0.1875   0.0   0.0        NaN  0.105263
2021-01-06          0.0  0.000000     0.0000   0.0   0.0        NaN  0.000000

Province_State
Admin2         Weston
2021-01-04        0.0
2021-01-05        0.5
2021-01-06        0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,0.014541,0.005510,0.002515,0.006029,0.002347,0.001850,0.004391,0.001333,0.000635,0.004536,...,0.021882,0.028694,0.000408,0.0,0.001690,0.004355,0.007320,0.000103,0.016643,0.037482
2021-01-05,0.008157,0.008290,0.002390,0.006590,0.003209,0.000925,0.006377,0.001678,0.000650,0.005413,...,0.022163,0.030169,0.000444,0.0,0.001960,0.004516,0.006968,0.000051,0.023144,0.061858
2021-01-06,0.004078,0.010158,0.002419,0.005703,0.004646,0.009837,0.007230,0.001801,0.000500,0.006046,...,0.022322,0.036438,0.000578,0.0,0.002053,0.002590,0.007284,0.000264,0.030340,0.048668

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,0.010719,0.004447,0.001762,0.000098,0.001360,2.980232e-08,0.002803,0.004486,2.151019e-06,0.006072,...,0.006243,0.032694,0.000029,NaN,0.002983,1.869990e-39,0.015371,0.000042,0.007557,0.011524
2021-01-05,0.006924,0.006811,0.001781,0.000049,0.003131,1.490116e-08,0.003132,0.004687,1.075509e-06,0.010902,...,0.008952,0.030565,0.000014,NaN,0.003418,9.349948e-40,0.012719,0.000021,0.021367,0.050033
2021-01-06,0.003462,0.006298,0.001610,0.000025,0.005224,7.450581e-09,0.003747,0.004428,5.377547e-07,0.010716,...,0.011293,0.024499,0.000822,NaN,0.004108,4.674974e-40,0.011011,0.000010,0.016751,0.040567

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-04,0.009816,0.010758,0.003068,0.004469,0.004904,0.000135,0.004704,0.004261,0.000223,0.005074,...,0.033701,0.033097,0.001025,0.0,0.001929,0.001706,0.011802,0.001460,0.007600,0.012218
2021-01-05,0.006507,0.013309,0.002902,0.004685,0.007334,0.000068,0.005278,0.005334,0.000422,0.006601,...,0.026675,0.028776,0.001228,0.0,0.002181,0.000853,0.012199,0.000730,0.011523,0.010249
2021-01-06,0.003253,0.014404,0.002903,0.004320,0.008106,0.003412,0.005173,0.005470,0.000366,0.006121,...,0.018429,0.033893,0.001309,0.0,0.002167,0.005654,0.012464,0.001079,0.009500,0.011600

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-04,0.007380,0.007014,NaN,0.016716,0.008036,0.015385,0.006557,0.015570,0.012899,1.069556e-89,...,0.009345,0.009671,0.008521,0.014122,0.004344,0.011836,0.011582,0.014254,0.003727,0.006782
2021-01-05,0.011038,0.005543,NaN,0.013640,0.012764,0.015364,0.008313,0.013776,0.012806,5.347778e-90,...,0.009082,0.013463,0.010069,0.017540,0.008985,0.011872,0.010338,0.014070,0.005670,0.006838
2021-01-06,0.011566,0.006262,NaN,0.013169,0.014137,0.014702,0.007842,0.013199,0.011550,2.673889e-90,...,0.010799,0.013190,0.011556,0.016234,0.004492,0.013178,0.009005,0.015172,0.006698,0.006941

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-04      0.007915  0.009491  0.003417  0.005342  0.005874  0.011300
2021-01-05      0.028173  0.013662  0.015407  0.012750  0.011111  0.011145
2021-01-06      0.024975  0.014310  0.014688  0.011835  0.010608  0.008290

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-04      0.007031  0.004538  0.006971  0.003255  ...  0.015359
2021-01-05      0.009951  0.013702  0.015701  0.006138  ...  0.012883
2021-01-06      0.007834  0.013568  0.016945  0.007883  ...  0.013932

Province_State                                                              \
Admin2            Platte  Sheridan  Sublette Sweetwater    Teton     Uinta
2021-01-04      0.011240  0.006124  0.004370   0.009349  0.01171  0.007771
2021-01-05      0.015532  0.006151  0.011306   0.005985  0.00972  0.006403
2021-01-06      0.015325  0.005953  0.006467   0.006586  0.01005  0.009776

Province_State
Admin2         Unassigned  Washakie    Weston
2021-01-04           -1.0  0.001849  0.002659
2021-01-05           -1.0  0.000287  0.001329
2021-01-06           -1.0  0.003975  0.000665

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-04,0.001688,0.013107,NaN,0.002725,0.010068,0.008764,0.004663,0.008200,0.004623,NaN,...,0.014188,0.004672,0.006075,0.020029,0.021739,0.003238,0.004234,0.011062,0.001782,0.002885
2021-01-05,0.001664,0.006553,NaN,0.015319,0.009771,0.014055,0.007085,0.006045,0.007648,NaN,...,0.014000,0.006644,0.005719,0.027376,0.010870,0.007367,0.010589,0.022007,0.010096,0.031123
2021-01-06,0.011884,0.007864,NaN,0.014475,0.013358,0.016626,0.009453,0.006091,0.003824,NaN,...,0.014706,0.008896,0.009719,0.023755,0.005435,0.007055,0.014332,0.024526,0.011477,0.015562

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-04      0.002985  0.003923  0.001954  0.001488  0.001358  0.003125
2021-01-05      0.001492  0.001961  0.000977  0.000744  0.000679  0.001563
2021-01-06      0.000746  0.006898  0.030791  0.022111  0.032086  0.000781

Province_State                                              ...   Wyoming  \
Admin2                Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-04      8.811700e-08  0.001244  0.000761 -0.000680  ...  0.013393
2021-01-05      4.405850e-08  0.000622  0.000381 -0.000340  ...  0.056696
2021-01-06      1.111113e-02  0.003496  0.000190  0.068012  ...  0.028348

Province_State                                                         \
Admin2                Platte  Sheridan  Sublette Sweetwater     Teton
2021-01-04      4.256274e-12  0.002214  0.006250   0.002083  0.012370
2021-01-05      6.250000e-02  0.001107  0.086458   0.094792  0.006185
2021-01-06      3.125000e-02  0.000553  0.043229   0.047396  0.003092

Province_State
Admin2                 Uinta Unassigned  Washakie        Weston
2021-01-04      1.643396e-09  -0.501961  0.007167  2.910383e-11
2021-01-05      8.216981e-10  -0.501961  0.056215  2.500000e-01
2021-01-06      4.108491e-10  -0.501961  0.028108  1.250000e-01

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210106,AK,47334,NaN,1263681,NaN,totalTestsViral,1311015,101.0,1074.0,...,1311015,2,18,73429ca7e5f38a628a393345eb291163465cb591,0,0,0,0,0,NaN
1,20210106,AL,384184,75915.0,1612941,NaN,totalTestsPeopleViral,1921210,2967.0,36059.0,...,1997125,108,629,5df2553f9872cbf49825d26b5d982966642c1d48,0,0,0,0,0,NaN
2,20210106,AR,238888,42958.0,1908393,NaN,totalTestsViral,2104323,1323.0,11867.0,...,2147281,0,124,6989027e169f3849f454b7bf826e928f56773981,0,0,0,0,0,NaN
3,20210106,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,f140dc5256438fa1704f7346f6bbb95431c82c10,0,0,0,0,0,NaN
4,20210106,AZ,574680,29544.0,2428898,NaN,totalTestsViral,5374504,4877.0,41063.0,...,3003578,127,760,6f488ef855a4132cd2682fdb3fd0f8380aaa9cf6,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210106,AK,47334.0,NaN,1263681.0,NaN,totalTestsViral,1311015.0,101.0,1074.0,...,1311015,2,18,73429ca7e5f38a628a393345eb291163465cb591,0,0,0,0,0,NaN
1,20210106,AL,384184.0,75915.0,1612941.0,NaN,totalTestsPeopleViral,1921210.0,2967.0,36059.0,...,1997125,108,629,5df2553f9872cbf49825d26b5d982966642c1d48,0,0,0,0,0,NaN
2,20210106,AR,238888.0,42958.0,1908393.0,NaN,totalTestsViral,2104323.0,1323.0,11867.0,...,2147281,0,124,6989027e169f3849f454b7bf826e928f56773981,0,0,0,0,0,NaN
3,20210106,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,f140dc5256438fa1704f7346f6bbb95431c82c10,0,0,0,0,0,NaN
4,20210106,AZ,574680.0,29544.0,2428898.0,NaN,totalTestsViral,5374504.0,4877.0,41063.0,...,3003578,127,760,6f488ef855a4132cd2682fdb3fd0f8380aaa9cf6,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-06,AK,47334,NaN,1263681,NaN,totalTestsViral,1311015,101.0,1074.0,NaN,...,1311015,2,18,73429ca7e5f38a628a393345eb291163465cb591,0,0,0,0,0,NaN
2021-01-06,AL,384184,75915.0,1612941,NaN,totalTestsPeopleViral,1921210,2967.0,36059.0,NaN,...,1997125,108,629,5df2553f9872cbf49825d26b5d982966642c1d48,0,0,0,0,0,NaN
2021-01-06,AR,238888,42958.0,1908393,NaN,totalTestsViral,2104323,1323.0,11867.0,426.0,...,2147281,0,124,6989027e169f3849f454b7bf826e928f56773981,0,0,0,0,0,NaN
2021-01-06,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,f140dc5256438fa1704f7346f6bbb95431c82c10,0,0,0,0,0,NaN
2021-01-06,AZ,574680,29544.0,2428898,NaN,totalTestsViral,5374504,4877.0,41063.0,1084.0,...,3003578,127,760,6f488ef855a4132cd2682fdb3fd0f8380aaa9cf6,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-06,AK,47334.0,NaN,1263681.0,NaN,totalTestsViral,1311015.0,101.0,1074.0,NaN,...,1311015,2,18,73429ca7e5f38a628a393345eb291163465cb591,0,0,0,0,0,NaN
2021-01-06,AL,384184.0,75915.0,1612941.0,NaN,totalTestsPeopleViral,1921210.0,2967.0,36059.0,NaN,...,1997125,108,629,5df2553f9872cbf49825d26b5d982966642c1d48,0,0,0,0,0,NaN
2021-01-06,AR,238888.0,42958.0,1908393.0,NaN,totalTestsViral,2104323.0,1323.0,11867.0,426.0,...,2147281,0,124,6989027e169f3849f454b7bf826e928f56773981,0,0,0,0,0,NaN
2021-01-06,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,f140dc5256438fa1704f7346f6bbb95431c82c10,0,0,0,0,0,NaN
2021-01-06,AZ,574680.0,29544.0,2428898.0,NaN,totalTestsViral,5374504.0,4877.0,41063.0,1084.0,...,3003578,127,760,6f488ef855a4132cd2682fdb3fd0f8380aaa9cf6,0,0,0,0,0,NaN