# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'10-29-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'10-29-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-10-30 04:24:49,33.93911,67.709953,41268,1532,34239,5497.0,Afghanistan,106.010169,3.712319
1,NaN,NaN,NaN,Albania,2020-10-30 04:24:49,41.15330,20.168300,20315,499,11007,8809.0,Albania,705.921190,2.456313
2,NaN,NaN,NaN,Algeria,2020-10-30 04:24:49,28.03390,1.659600,57332,1949,39635,15748.0,Algeria,130.742614,3.399498
3,NaN,NaN,NaN,Andorra,2020-10-30 04:24:49,42.50630,1.521800,4567,73,3260,1234.0,Andorra,5910.826377,1.598423
4,NaN,NaN,NaN,Angola,2020-10-30 04:24:49,-11.20270,17.873900,10269,275,3736,6258.0,Angola,31.244801,2.677963

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/20/20,10/21/20,10/22/20,10/23/20,10/24/20,10/25/20,10/26/20,10/27/20,10/28/20,10/29/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,40357,40510,40626,40687,40768,40833,40937,41032,41145,41268
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,17651,17948,18250,18556,18858,19157,19445,19729,20040,20315
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,54829,55081,55357,55630,55880,56143,56419,56706,57026,57332

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/20/20,10/21/20,10/22/20,10/23/20,10/24/20,10/25/20,10/26/20,10/27/20,10/28/20,10/29/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1499,1501,1505,1507,1511,1514,1518,1523,1529,1532
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,458,462,465,469,473,477,480,487,493,499
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1873,1880,1888,1897,1907,1914,1922,1931,1941,1949

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/20/20,10/21/20,10/22/20,10/23/20,10/24/20,10/25/20,10/26/20,10/27/20,10/28/20,10/29/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,33790,33824,33831,34010,34023,34129,34150,34217,34237,34239
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,10225,10341,10395,10466,10548,10654,10705,10808,10893,11007
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,38346,38482,38618,38788,38932,39095,39273,39444,39635,39635

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/20/20,10/21/20,10/22/20,10/23/20,10/24/20,10/25/20,10/26/20,10/27/20,10/28/20,10/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2010,2021,2023,2030,2048,2059,2074,2082,2103,2126
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,6405,6443,6475,6615,6637,6658,6694,6712,6743,6768
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,988,996,997,1012,1031,1033,1033,1042,1045,1055

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/20/20,10/21/20,10/22/20,10/23/20,10/24/20,10/25/20,10/26/20,10/27/20,10/28/20,10/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,29,30,30,30,31,31,31,31,31,31
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,69,69,69,69,69,69,69,69,69,69
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
634,1001.0,Autauga,Alabama,US,2020-10-30 04:24:49,32.539527,-86.644082,2126,31,0,2095.0,"Autauga, Alabama, US",3805.330326,1.458137
671,1075.0,Lamar,Alabama,US,2020-10-30 04:24:49,33.779950,-88.096680,523,5,0,518.0,"Lamar, Alabama, US",3788.482434,0.956023
672,1077.0,Lauderdale,Alabama,US,2020-10-30 04:24:49,34.901719,-87.656247,2405,43,0,2362.0,"Lauderdale, Alabama, US",2593.579139,1.787942

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                8944934  228656    3554336
India             8088851  121090    7373375
Brazil            5494376  158969    4962574

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,8944934,228656,3554336,5161942,2020-10-30 04:24:49,37.936303,-91.379001
India,8088851,121090,7373375,594386,2020-10-30 04:24:49,23.088275,81.806127
Brazil,5494376,158969,4962574,372833,2020-10-30 04:24:49,-12.669522,-48.480493
Russia,1570446,27111,1179465,363870,2020-10-30 04:24:49,54.546312,62.120860
France,1327852,36058,120723,1171071,2020-10-30 04:24:49,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         923648   17559          0
Texas              918721   18276          0
Florida            794624   16648          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,923648,17559,0,906089,2020-10-30 04:24:49,37.843962,-120.728594
Texas,918721,18276,0,900445,2020-10-30 04:24:49,31.660643,-98.653069
Florida,794624,16648,0,777976,2020-10-30 04:24:49,28.940755,-82.700744
New York,503176,33444,0,469732,2020-10-30 04:24:49,42.544151,-75.474183
Illinois,400159,9945,0,390214,2020-10-30 04:24:49,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     305070    7044          0
Florida        Miami-Dade      184669    3634          0
Illinois       Cook            183649    5463          0
Texas          Harris          160984    2800          0
Arizona        Maricopa        156736    3566          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,305070,7044,0,298026,2020-10-30 04:24:49,34.308284,-118.228241,6037.0
Florida,Miami-Dade,184669,3634,0,181035,2020-10-30 04:24:49,25.611236,-80.551706,12086.0
Illinois,Cook,183649,5463,0,178186,2020-10-30 04:24:49,41.841448,-87.816588,17031.0
Texas,Harris,160984,2800,0,158184,2020-10-30 04:24:49,29.858649,-95.393395,48201.0
Arizona,Maricopa,156736,3566,0,153170,2020-10-30 04:24:49,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,41032,19729,56706,4410,9871,124,1116609,80410,27553,86102,...,920664,2916,65881,90400,1172,51528,10,2060,16243,8315
2020-10-28,41145,20040,57026,4517,10074,124,1130533,82651,27565,89496,...,945378,2981,66141,90876,1173,51948,10,2061,16285,8320
2020-10-29,41268,20315,57332,4567,10269,124,1143800,85034,27579,93949,...,968456,3044,66392,91280,1177,52571,10,2062,16325,8349

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,1523,487,1931,72,271,3,29730,1222,907,1005,...,45455,54,556,780,35,458,1,599,348,242
2020-10-28,1529,493,1941,72,275,3,30071,1243,907,1027,...,45765,55,558,784,35,465,1,599,348,242
2020-10-29,1532,499,1949,73,275,3,30442,1272,907,1056,...,46045,57,561,789,35,473,1,599,348,242

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,34217,10808,39444,3029,3647,108,921344,51814,25219,60308,...,2719,2455,63044,84907,1062,44444,8,1364,15481,7804
2020-10-28,34237,10893,39635,3144,3693,115,931147,52508,25231,61684,...,2773,2481,63323,85402,1062,44985,8,1366,15559,7845
2020-10-29,34239,11007,39635,3260,3736,115,946134,53257,25239,63366,...,2799,2504,63581,85897,1062,45448,8,1366,15585,7864

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/20/20,10/21/20,10/22/20,10/23/20,10/24/20,10/25/20,10/26/20,10/27/20,10/28/20,10/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2010,2021,2023,2030,2048,2059,2074,2082,2103,2126
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,456,459,466,474,490,496,506,508,516,523
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,2087,2125,2148,2180,2262,2294,2313,2338,2371,2405
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,800,811,821,837,850,858,861,869,877,885
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6449,6461,6496,6517,6534,6546,6550,6571,6624,6649

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-27,186437,14798,0,240122,107679,914888,98710,68637,24249,49,...,251774,904769,107228,2113,1351,174786,104027,22710,206311,11806
2020-10-28,187706,15155,0,241165,108640,919276,100185,69127,24392,49,...,254220,911835,108803,2120,1353,176754,104743,23067,210126,12146
2020-10-29,189149,15522,0,242480,109712,923648,101991,70446,24553,49,...,256880,918721,110640,2141,1353,178183,105557,23466,214995,12507

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-27        2082    6712    1042  850   1972     650   1012    4647
2020-10-28        2103    6743    1045  856   1988     650   1015    4689
2020-10-29        2126    6768    1055  861   2009     651   1019    4765

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-27         1368      756  ...     628    127      721      160
2020-10-28         1370      761  ...     644    136      731      171
2020-10-29         1380      764  ...     661    142      765      175

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-27            488   761   451          0      151    139
2020-10-28            505   772   462          0      153    148
2020-10-29            522   779   469          0      153    155

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-27,2892,70,0,5891,1857,17460,2236,4595,686,0,...,3207,18061,578,58,21,3595,2337,434,1852,77
2020-10-28,2911,71,0,5905,1875,17529,2249,4604,688,0,...,3241,18162,588,58,21,3616,2353,438,1897,77
2020-10-29,2914,77,0,5918,1894,17559,2268,4609,689,0,...,3263,18276,598,58,21,3636,2359,445,1948,87

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-27          31      69       9   15     25      17     41      61
2020-10-28          31      69       9   15     25      17     41      62
2020-10-29          31      69       9   15     25      17     41      62

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-27           47       14  ...       3      2        4        1
2020-10-28           47       14  ...       3      2        4        1
2020-10-29           47       14  ...       3      2        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-27              2     1     3          0        7      0
2020-10-28              2     1     3          0        7      0
2020-10-29              2     1     3         10        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,0.002321,0.014605,0.005087,0.019653,0.023538,0.0,0.012980,0.020302,0.000508,0.034047,...,0.025535,0.015320,0.003259,0.003920,0.002566,0.011305,0.0,0.000000,0.002654,0.001445
2020-10-28,0.002754,0.015764,0.005643,0.024263,0.020565,0.0,0.012470,0.027870,0.000436,0.039418,...,0.026844,0.022291,0.003947,0.005265,0.000853,0.008151,0.0,0.000485,0.002586,0.000601
2020-10-29,0.002989,0.013723,0.005366,0.011069,0.019357,0.0,0.011735,0.028832,0.000508,0.049756,...,0.024411,0.021134,0.003795,0.004446,0.003410,0.011993,0.0,0.000485,0.002456,0.003486

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,0.003294,0.014583,0.004683,0.000000,0.003704,0.0,0.014641,0.021739,0.00221,0.013105,...,0.008140,0.000000,0.007246,0.003861,0.0,0.008811,0.0,0.0,0.0,0.0
2020-10-28,0.003940,0.012320,0.005179,0.000000,0.014760,0.0,0.011470,0.017185,0.00000,0.021891,...,0.006820,0.018519,0.003597,0.005128,0.0,0.015284,0.0,0.0,0.0,0.0
2020-10-29,0.001962,0.012170,0.004122,0.013889,0.000000,0.0,0.012337,0.023331,0.00000,0.028238,...,0.006118,0.036364,0.005376,0.006378,0.0,0.017204,0.0,0.0,0.0,0.0

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,0.001962,0.009622,0.004354,0.024349,0.033144,0.000000,0.012927,0.012744,0.000278,0.021546,...,0.006292,0.018250,0.002672,0.005483,0.000943,0.008830,0.0,0.002941,0.002331,0.000898
2020-10-28,0.000585,0.007865,0.004842,0.037966,0.012613,0.064815,0.010640,0.013394,0.000476,0.022816,...,0.019860,0.010591,0.004425,0.005830,0.000000,0.012173,0.0,0.001466,0.005038,0.005254
2020-10-29,0.000058,0.010465,0.000000,0.036896,0.011644,0.000000,0.016095,0.014264,0.000317,0.027268,...,0.009376,0.009270,0.004074,0.005796,0.000000,0.010292,0.0,0.000000,0.001671,0.002422

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-27,0.006017,0.026427,NaN,0.004846,0.008920,0.004888,0.014731,0.007900,0.003352,0.0,...,0.007636,0.007199,0.010793,0.014402,0.002226,0.006467,0.005092,0.021868,0.026173,0.028666
2020-10-28,0.006807,0.024125,NaN,0.004344,0.008925,0.004796,0.014943,0.007139,0.005897,0.0,...,0.009715,0.007810,0.014688,0.003313,0.001480,0.011259,0.006883,0.015720,0.018492,0.028799
2020-10-29,0.007688,0.024216,NaN,0.005453,0.009867,0.004756,0.018027,0.019081,0.006601,0.0,...,0.010463,0.007552,0.016884,0.009906,0.000000,0.008085,0.007771,0.017297,0.023172,0.029722

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-27      0.003857  0.002689  0.008712  0.008304  0.015448  0.001541
2020-10-28      0.010086  0.004619  0.002879  0.007059  0.008114  0.000000
2020-10-29      0.010937  0.003708  0.009569  0.005841  0.010563  0.001538

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-27     -0.000987  0.005626  0.011834  0.014765  ...  0.024470
2020-10-28      0.002964  0.009038  0.001462  0.006614  ...  0.025478
2020-10-29      0.003941  0.016208  0.007299  0.003942  ...  0.026398

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-27      0.007937  0.037410  0.000000   0.025210  0.006614  0.020362
2020-10-28      0.070866  0.013870  0.068750   0.034836  0.014455  0.024390
2020-10-29      0.044118  0.046512  0.023392   0.033663  0.009067  0.015152

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-27            NaN  0.034247  0.053030
2020-10-28            NaN  0.013245  0.064748
2020-10-29            NaN  0.000000  0.047297

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-27,0.009072,0.029412,NaN,0.002723,0.013093,0.004256,0.004492,0.001307,0.001460,NaN,...,0.013911,0.004617,0.006969,0.0,0.0,0.005032,0.006894,0.018779,0.035794,0.00000
2020-10-28,0.006570,0.014286,NaN,0.002377,0.009693,0.003952,0.005814,0.001959,0.002915,NaN,...,0.010602,0.005592,0.017301,0.0,0.0,0.005841,0.006846,0.009217,0.024298,0.00000
2020-10-29,0.001031,0.084507,NaN,0.002202,0.010133,0.001711,0.008448,0.001086,0.001453,NaN,...,0.006788,0.006277,0.017007,0.0,0.0,0.005531,0.002550,0.015982,0.026885,0.12987

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                  \
Admin2         Autauga Baldwin Barbour      Bibb Blount Bullock Butler
2020-10-27         0.0     0.0     0.0  0.071429    0.0     0.0  0.025
2020-10-28         0.0     0.0     0.0  0.000000    0.0     0.0  0.000
2020-10-29         0.0     0.0     0.0  0.000000    0.0     0.0  0.000

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2020-10-27      0.000000  0.068182      0.0  ...     0.0    0.0      0.0
2020-10-28      0.016393  0.000000      0.0  ...     0.0    0.0      0.0
2020-10-29      0.000000  0.000000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-27          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-10-28          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-10-29          0.0        0.0   0.0   0.0        inf      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,0.002256,0.015112,0.004940,0.030024,0.026938,0.001253,0.011911,0.020971,0.000520,0.034181,...,0.025032,0.013709,0.004244,0.004461,0.003110,0.010434,3.265262e-40,0.000048,0.002895,0.001893
2020-10-28,0.002505,0.015438,0.005292,0.027144,0.023752,0.000626,0.012191,0.024420,0.000478,0.036800,...,0.025938,0.018000,0.004095,0.004863,0.001982,0.009292,1.632631e-40,0.000267,0.002740,0.001247
2020-10-29,0.002747,0.014580,0.005329,0.019107,0.021554,0.000313,0.011963,0.026626,0.000493,0.043278,...,0.025175,0.019567,0.003945,0.004655,0.002696,0.010643,8.163155e-41,0.000376,0.002598,0.002366

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,0.002831,0.010957,0.004454,0.014074,0.005792,1.003461e-59,0.013573,0.018143,0.001106,0.013281,...,0.005589,0.004944,0.006715,0.004668,1.103847e-18,0.010544,0.0,0.000106,0.000362,0.005930
2020-10-28,0.003385,0.011639,0.004817,0.007037,0.010276,5.017306e-60,0.012521,0.017664,0.000553,0.017586,...,0.006204,0.011731,0.005156,0.004898,5.519235e-19,0.012914,0.0,0.000053,0.000181,0.002965
2020-10-29,0.002674,0.011905,0.004469,0.010463,0.005138,2.508653e-60,0.012429,0.020497,0.000277,0.022912,...,0.006161,0.024047,0.005266,0.005638,2.759618e-19,0.015059,0.0,0.000027,0.000091,0.001483

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-27,0.001740,0.008192,0.004318,0.037230,0.023403,0.001519,0.014587,0.009281,0.000430,0.021463,...,0.005827,0.020845,0.004208,0.005923,0.002324,0.009300,1.913240e-42,0.002018,0.005649,0.000949
2020-10-28,0.001162,0.008028,0.004580,0.037598,0.018008,0.033167,0.012614,0.011338,0.000453,0.022140,...,0.012843,0.015718,0.004317,0.005876,0.001162,0.010736,9.566198e-43,0.001742,0.005344,0.003101
2020-10-29,0.000610,0.009247,0.002290,0.037247,0.014826,0.016583,0.014354,0.012801,0.000385,0.024704,...,0.011110,0.012494,0.004196,0.005836,0.000581,0.010514,4.783099e-43,0.000871,0.003507,0.002762

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-27,0.006771,0.027099,NaN,0.004494,0.008299,0.004610,0.017615,0.012261,0.005230,6.313542e-69,...,0.009337,0.006977,0.012455,0.011763,0.001632,0.006047,0.005787,0.017511,0.021802,0.030684
2020-10-28,0.006789,0.025612,NaN,0.004419,0.008612,0.004703,0.016279,0.009700,0.005563,3.156771e-69,...,0.009526,0.007394,0.013572,0.007538,0.001556,0.008653,0.006335,0.016616,0.020147,0.029742
2020-10-29,0.007238,0.024914,NaN,0.004936,0.009240,0.004729,0.017153,0.014391,0.006082,1.578386e-69,...,0.009995,0.007473,0.015228,0.008722,0.000778,0.008369,0.007053,0.016956,0.021659,0.029732

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-27      0.005184  0.004126  0.006361  0.007958  0.010555  0.001973
2020-10-28      0.007635  0.004372  0.004620  0.007509  0.009334  0.000987
2020-10-29      0.009286  0.004040  0.007095  0.006675  0.009949  0.001263

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-27      0.000901  0.010442  0.007121  0.011123  ...  0.036844
2020-10-28      0.001933  0.009740  0.004291  0.008868  ...  0.031161
2020-10-29      0.002937  0.012974  0.005795  0.006405  ...  0.028779

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-27      0.021493  0.035872  0.003293   0.023583  0.008128  0.019230
2020-10-28      0.046180  0.024871  0.036021   0.029210  0.011291  0.021810
2020-10-29      0.045149  0.035691  0.029707   0.031437  0.010179  0.018481

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-27      -0.999999  0.019921  0.043415
2020-10-28      -0.999999  0.016583  0.054082
2020-10-29      -0.999999  0.008292  0.050689

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-27,0.005041,0.014840,NaN,0.001630,0.011547,0.003020,0.003330,0.001394,0.002982,NaN,...,0.012246,0.003682,0.005884,1.828417e-27,0.000006,0.003671,0.006359,0.010951,0.022088,0.035157
2020-10-28,0.005805,0.014563,NaN,0.002003,0.010620,0.003486,0.004572,0.001676,0.002948,NaN,...,0.011424,0.004637,0.011593,9.142087e-28,0.000003,0.004756,0.006603,0.010084,0.023193,0.017579
2020-10-29,0.003418,0.049535,NaN,0.002102,0.010377,0.002599,0.006510,0.001381,0.002201,NaN,...,0.009106,0.005457,0.014300,4.571044e-28,0.000002,0.005144,0.004576,0.013033,0.025039,0.073724

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-10-27      0.002492  0.000121  2.724784e-07  0.036020  0.000522
2020-10-28      0.001246  0.000061  1.362392e-07  0.018010  0.000261
2020-10-29      0.000623  0.000030  6.811959e-08  0.009005  0.000131

Province_State                                                    ...  \
Admin2           Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-10-27      0.000008  0.012500  0.000800  0.035544  0.000005  ...
2020-10-28      0.000004  0.006250  0.008597  0.017772  0.000002  ...
2020-10-29      0.000002  0.003125  0.004298  0.008886  0.000001  ...

Province_State   Wyoming                                                  \
Admin2              Park  Platte      Sheridan Sublette Sweetwater Teton
2020-10-27      0.001953  0.2500  6.821210e-13      0.0        0.0   0.0
2020-10-28      0.000977  0.1250  3.410605e-13      0.0        0.0   0.0
2020-10-29      0.000488  0.0625  1.705303e-13      0.0        0.0   0.0

Province_State
Admin2             Uinta Unassigned  Washakie Weston
2020-10-27      0.015625  -0.999573  0.000005    NaN
2020-10-28      0.007812  -0.999573  0.000003    NaN
2020-10-29      0.003906  -0.999573  0.000001    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201029,AK,15522,NaN,568746,NaN,totalTestsViral,584268,89.0,NaN,...,584268,6,0,01d32bd4e56cdbdb3ce1f28f13f4d195e46fc6af,0,0,0,0,0,NaN
1,20201029,AL,189149,27612.0,1165898,NaN,totalTestsViral,1327435,1013.0,20246.0,...,1355047,3,130,cbe87bb193799153fdc2dd806e04fe810f982227,0,0,0,0,0,NaN
2,20201029,AR,109712,8124.0,1223702,NaN,totalTestsViral,1325290,647.0,6967.0,...,1333414,19,47,e76bfa9d9ee10dd46068d7e60874efe342355b68,0,0,0,0,0,NaN
3,20201029,AS,0,NaN,1616,NaN,totalTestsViral,1616,NaN,NaN,...,1616,0,0,bf23d2ab12c0bc46c5ee88bd4a2bd7a198672de3,0,0,0,0,0,NaN
4,20201029,AZ,242480,5645.0,1508827,NaN,totalTestsPeopleViral,1745662,874.0,21260.0,...,1751307,13,13,3e188d6e15bd80ba0d4c167d9914e0ac4d57660d,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201029,AK,15522.0,NaN,568746.0,NaN,totalTestsViral,584268.0,89.0,NaN,...,584268,6,0,01d32bd4e56cdbdb3ce1f28f13f4d195e46fc6af,0,0,0,0,0,NaN
1,20201029,AL,189149.0,27612.0,1165898.0,NaN,totalTestsViral,1327435.0,1013.0,20246.0,...,1355047,3,130,cbe87bb193799153fdc2dd806e04fe810f982227,0,0,0,0,0,NaN
2,20201029,AR,109712.0,8124.0,1223702.0,NaN,totalTestsViral,1325290.0,647.0,6967.0,...,1333414,19,47,e76bfa9d9ee10dd46068d7e60874efe342355b68,0,0,0,0,0,NaN
3,20201029,AS,0.0,NaN,1616.0,NaN,totalTestsViral,1616.0,NaN,NaN,...,1616,0,0,bf23d2ab12c0bc46c5ee88bd4a2bd7a198672de3,0,0,0,0,0,NaN
4,20201029,AZ,242480.0,5645.0,1508827.0,NaN,totalTestsPeopleViral,1745662.0,874.0,21260.0,...,1751307,13,13,3e188d6e15bd80ba0d4c167d9914e0ac4d57660d,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-29,AK,15522,NaN,568746,NaN,totalTestsViral,584268,89.0,NaN,NaN,...,584268,6,0,01d32bd4e56cdbdb3ce1f28f13f4d195e46fc6af,0,0,0,0,0,NaN
2020-10-29,AL,189149,27612.0,1165898,NaN,totalTestsViral,1327435,1013.0,20246.0,NaN,...,1355047,3,130,cbe87bb193799153fdc2dd806e04fe810f982227,0,0,0,0,0,NaN
2020-10-29,AR,109712,8124.0,1223702,NaN,totalTestsViral,1325290,647.0,6967.0,226.0,...,1333414,19,47,e76bfa9d9ee10dd46068d7e60874efe342355b68,0,0,0,0,0,NaN
2020-10-29,AS,0,NaN,1616,NaN,totalTestsViral,1616,NaN,NaN,NaN,...,1616,0,0,bf23d2ab12c0bc46c5ee88bd4a2bd7a198672de3,0,0,0,0,0,NaN
2020-10-29,AZ,242480,5645.0,1508827,NaN,totalTestsPeopleViral,1745662,874.0,21260.0,186.0,...,1751307,13,13,3e188d6e15bd80ba0d4c167d9914e0ac4d57660d,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-29,AK,15522.0,NaN,568746.0,NaN,totalTestsViral,584268.0,89.0,NaN,NaN,...,584268,6,0,01d32bd4e56cdbdb3ce1f28f13f4d195e46fc6af,0,0,0,0,0,NaN
2020-10-29,AL,189149.0,27612.0,1165898.0,NaN,totalTestsViral,1327435.0,1013.0,20246.0,NaN,...,1355047,3,130,cbe87bb193799153fdc2dd806e04fe810f982227,0,0,0,0,0,NaN
2020-10-29,AR,109712.0,8124.0,1223702.0,NaN,totalTestsViral,1325290.0,647.0,6967.0,226.0,...,1333414,19,47,e76bfa9d9ee10dd46068d7e60874efe342355b68,0,0,0,0,0,NaN
2020-10-29,AS,0.0,NaN,1616.0,NaN,totalTestsViral,1616.0,NaN,NaN,NaN,...,1616,0,0,bf23d2ab12c0bc46c5ee88bd4a2bd7a198672de3,0,0,0,0,0,NaN
2020-10-29,AZ,242480.0,5645.0,1508827.0,NaN,totalTestsPeopleViral,1745662.0,874.0,21260.0,186.0,...,1751307,13,13,3e188d6e15bd80ba0d4c167d9914e0ac4d57660d,0,0,0,0,0,NaN