# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-03-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-03-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-04 05:27:27,33.93911,67.709953,46718,1841,37218,7659.0,Afghanistan,120.010252,3.940665
1,NaN,NaN,NaN,Albania,2020-12-04 05:27:27,41.15330,20.168300,40501,852,20484,19165.0,Albania,1407.359789,2.103652
2,NaN,NaN,NaN,Algeria,2020-12-04 05:27:27,28.03390,1.659600,85927,2480,55538,27909.0,Algeria,195.952010,2.886171
3,NaN,NaN,NaN,Andorra,2020-12-04 05:27:27,42.50630,1.521800,6904,77,6066,761.0,Andorra,8935.481783,1.115295
4,NaN,NaN,NaN,Angola,2020-12-04 05:27:27,-11.20270,17.873900,15361,352,8244,6765.0,Angola,46.737889,2.291517

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,45174,45384,45600,45723,45844,46116,46274,46717,46980,46718
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,34300,34944,35600,36245,36790,37625,38182,39014,39719,40501
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,77000,78025,79110,80168,81212,82221,83199,84152,85084,85927

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1715,1728,1737,1740,1752,1774,1795,1797,1822,1841
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,735,743,753,771,787,798,810,822,839,852
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2309,2329,2352,2372,2393,2410,2431,2447,2464,2480

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,36122,36145,36232,36295,36709,36731,36788,36907,37026,37218
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,16666,17031,17352,17755,18152,18481,18849,19384,19912,20484
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,50070,50712,51334,51946,52568,53204,53809,54405,54990,55538

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2661,2686,2704,2716,2735,2751,2780,2818,2873,2893
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,8376,8473,8576,8603,8733,8820,8890,9051,9163,9341
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1167,1170,1170,1171,1173,1175,1178,1189,1206,1214

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,39,41,42,42,42,42,42,42,42,42
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,84,98,98,98,98,98,98,137,137,137
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,10,10,10,10,10,11,11,11,29,29

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
648,1001.0,Autauga,Alabama,US,2020-12-04 05:27:27,32.539527,-86.644082,2893,42,0,2851.0,"Autauga, Alabama, US",5178.184682,1.451780
685,1075.0,Lamar,Alabama,US,2020-12-04 05:27:27,33.779950,-88.096680,725,8,0,717.0,"Lamar, Alabama, US",5251.720391,1.103448
686,1077.0,Lauderdale,Alabama,US,2020-12-04 05:27:27,34.901719,-87.656247,4433,57,0,4376.0,"Lauderdale, Alabama, US",4780.597224,1.285811

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               14139577  276325    5404018
India             9571559  139188    9016289
Brazil            6487084  175270    5792539

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,14139577,276325,5404018,8459234,2020-12-04 05:27:27,37.936303,-91.379001
India,9571559,139188,9016289,416082,2020-12-04 05:27:27,23.088275,81.806127
Brazil,6487084,175270,5792539,519275,2020-12-04 05:27:27,-12.669522,-48.480493
Russia,2354934,41173,1843526,470235,2020-12-04 05:27:27,54.546312,62.120860
France,2310271,54231,172574,2083466,2020-12-04 05:27:27,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        1286550   19553          0
Texas             1286369   22573          0
Florida           1029030   18874          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,1286550,19553,0,1266997,2020-12-04 05:27:27,37.843962,-120.728594
Texas,1286369,22573,0,1263796,2020-12-04 05:27:27,31.660643,-98.653069
Florida,1029030,18874,0,1010156,2020-12-04 05:27:27,28.940755,-82.700744
Illinois,759562,13624,0,745938,2020-12-04 05:27:27,39.843618,-89.178330
New York,674093,34775,0,639318,2020-12-04 05:27:27,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     421881    7782          0
Illinois       Cook            318324    6823          0
Florida        Miami-Dade      236308    3868          0
Arizona        Maricopa        218935    4080          0
Texas          Harris          194899    3032          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,421881,7782,0,414099,2020-12-04 05:27:27,34.308284,-118.228241,6037.0
Illinois,Cook,318324,6823,0,311501,2020-12-04 05:27:27,41.841448,-87.816588,17031.0
Florida,Miami-Dade,236308,3868,0,232440,2020-12-04 05:27:27,25.611236,-80.551706,12086.0
Arizona,Maricopa,218935,4080,0,214855,2020-12-04 05:27:27,33.348359,-112.491815,4013.0
Texas,Harris,194899,3032,0,191867,2020-12-04 05:27:27,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,46717,39014,84152,6790,15251,142,1432570,135967,27923,285489,...,6024,73276,1,102621,1351,88004,10,2197,17665,10129
2020-12-02,46980,39719,85084,6842,15319,144,1440103,137231,27939,289461,...,6225,73335,1,103067,1358,90192,10,2217,17700,10129
2020-12-03,46718,40501,85927,6904,15361,144,1447732,138508,27949,293430,...,6455,73431,1,103548,1361,92708,10,2239,17730,10424

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,1797,822,2447,76,350,4,38928,2193,908,3325,...,78,611,0,901,35,747,1,619,357,277
2020-12-02,1822,839,2464,76,351,4,39156,2228,908,3446,...,80,611,0,905,35,763,1,621,357,277
2020-12-03,1841,852,2480,77,352,4,39305,2254,908,3538,...,80,611,0,909,35,780,1,624,357,280

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,36907,19384,54405,5940,7932,130,1263251,110365,25606,227497,...,4483,70534,0,97562,1195,65938,8,1514,17059,8643
2020-12-02,37026,19912,54990,5988,8139,133,1268358,111795,25614,233657,...,4584,70534,0,98030,1201,66989,8,1518,17086,8643
2020-12-03,37218,20484,55538,6066,8244,133,1274675,113228,25629,238127,...,4707,70712,1,98521,1209,68250,8,1525,17102,8754

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2661,2686,2704,2716,2735,2751,2780,2818,2873,2893
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,633,650,667,671,679,683,689,701,713,725
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,3872,3936,3967,4004,4078,4133,4223,4267,4360,4433
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1239,1248,1263,1273,1279,1296,1316,1334,1353,1373
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,7597,7644,7718,7735,7757,7785,7814,7872,7925,8015

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-01,252900,33115,0,337139,159309,1246042,237310,118754,36343,49,...,380186,1250934,198216,4239,1550,240063,167216,48818,416365,33805
2020-12-02,256828,33802,0,340979,161521,1265182,241172,121426,36698,49,...,384285,1268946,202220,4461,1589,242480,170342,49905,420930,34491
2020-12-03,260359,34563,0,346421,164310,1286550,247209,126177,37456,49,...,388252,1286369,206165,4642,1589,244503,172437,51025,426534,35046

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-01        2818    9051    1189  1204   3061     701   1186    6598
2020-12-02        2873    9163    1206  1239   3100     709   1188    6695
2020-12-03        2893    9341    1214  1252   3158     709   1200    6809

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-01         1827     1051  ...    1347    337     2026      447
2020-12-02         1859     1055  ...    1363    341     2075      458
2020-12-03         1875     1067  ...    1403    344     2094      479

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-01           1903  1655  1089          0      468    409
2020-12-02           1934  1678  1121          0      487    415
2020-12-03           2024  1693  1149          0      497    419

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-01,3638,122,0,6687,2512,19304,3109,5040,777,0,...,4638,22114,890,72,23,4093,2805,758,3611,239
2020-12-02,3711,122,0,6739,2522,19410,3193,5091,779,0,...,4688,22335,906,74,23,4113,2850,778,3703,239
2020-12-03,3776,130,0,6821,2555,19553,3320,5111,779,0,...,4781,22573,917,75,23,4147,2900,789,3773,266

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-01          42     137      11   18     40      19     42     121
2020-12-02          42     137      29   38     43      19     42     121
2020-12-03          42     137      29   38     45      19     42     121

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-01           50       24  ...       6      8       10        1
2020-12-02           50       24  ...       6      8       10        1
2020-12-03           51       24  ...       6      8       11        2

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-01              6     2     4          9        8      2
2020-12-02              6     2     4          9        8      2
2020-12-03             10     2     5          9        8      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,0.009573,0.021790,0.011454,0.006672,0.007398,0.007092,0.005642,0.006239,0.000394,0.010738,...,0.028513,0.002490,0.0,0.002217,0.002970,0.027520,0.0,0.002738,0.001020,0.017990
2020-12-02,0.005630,0.018070,0.011075,0.007658,0.004459,0.014085,0.005258,0.009296,0.000573,0.013913,...,0.033367,0.000805,0.0,0.004346,0.005181,0.024863,0.0,0.009103,0.001981,0.000000
2020-12-03,-0.005577,0.019688,0.009908,0.009062,0.002742,0.000000,0.005298,0.009305,0.000358,0.013712,...,0.036948,0.001309,0.0,0.004667,0.002209,0.027896,0.0,0.009923,0.001695,0.029124

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,0.001114,0.014815,0.006582,0.000000,0.005747,0.0,0.005112,0.013401,0.0,0.044284,...,0.012987,0.001639,NaN,0.004459,0.0,0.020492,0.0,0.000000,0.0,0.003623
2020-12-02,0.013912,0.020681,0.006947,0.000000,0.002857,0.0,0.005857,0.015960,0.0,0.036391,...,0.025641,0.000000,NaN,0.004440,0.0,0.021419,0.0,0.003231,0.0,0.000000
2020-12-03,0.010428,0.015495,0.006494,0.013158,0.002849,0.0,0.003805,0.011670,0.0,0.026698,...,0.000000,0.000000,NaN,0.004420,0.0,0.022280,0.0,0.004831,0.0,0.010830

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,0.003235,0.028383,0.011076,0.011408,0.010317,0.000000,0.004791,0.017733,0.000156,0.026185,...,0.028919,0.002801,NaN,0.002425,0.013571,0.014634,0.0,0.002649,0.003589,0.018981
2020-12-02,0.003224,0.027239,0.010753,0.008081,0.026097,0.023077,0.004043,0.012957,0.000312,0.027077,...,0.022530,0.000000,NaN,0.004797,0.005021,0.015939,0.0,0.002642,0.001583,0.000000
2020-12-03,0.005186,0.028726,0.009965,0.013026,0.012901,0.000000,0.004980,0.012818,0.000586,0.019131,...,0.026832,0.002524,inf,0.005009,0.006661,0.018824,0.0,0.004611,0.000936,0.012843

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-01,0.013530,0.016546,NaN,0.031583,0.012392,0.012825,0.018913,0.012439,0.019325,0.0,...,0.015202,0.009834,0.012825,0.016059,0.003886,0.009368,0.013314,0.020400,0.011257,0.015013
2020-12-02,0.015532,0.020746,NaN,0.011390,0.013885,0.015361,0.016274,0.022500,0.009768,0.0,...,0.010782,0.014399,0.020200,0.052371,0.025161,0.010068,0.018694,0.022266,0.010964,0.020293
2020-12-03,0.013749,0.022513,NaN,0.015960,0.017267,0.016889,0.025032,0.039127,0.020655,0.0,...,0.010323,0.013730,0.019508,0.040574,0.000000,0.008343,0.012299,0.022443,0.013313,0.016091

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-01      0.013669  0.018110  0.009338  0.006689  0.021355 -0.001425
2020-12-02      0.019517  0.012374  0.014298  0.029070  0.012741  0.011412
2020-12-03      0.006961  0.019426  0.006633  0.010492  0.018710  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-01      0.006791  0.026128  0.026981  0.016441  ...  0.033768
2020-12-02      0.001686  0.014701  0.017515  0.003806  ...  0.011878
2020-12-03      0.010101  0.017028  0.008607  0.011374  ...  0.029347

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-01      0.018127  0.013000  0.039535   0.007945  0.006691  0.017757
2020-12-02      0.011869  0.024186  0.024609   0.016290  0.013897  0.029385
2020-12-03      0.008798  0.009157  0.045852   0.046536  0.008939  0.024978

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-01            NaN  0.061224  0.030227
2020-12-02            NaN  0.040598  0.014670
2020-12-03            NaN  0.020534  0.009639

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-01,0.016769,0.008264,NaN,0.007230,0.003997,0.006833,0.023708,0.003984,0.006477,NaN,...,0.007823,0.009956,0.021814,0.043478,0.0,0.007632,0.011175,0.031293,0.033486,0.111628
2020-12-02,0.020066,0.000000,NaN,0.007776,0.003981,0.005491,0.027018,0.010119,0.002574,NaN,...,0.010781,0.009994,0.017978,0.027778,0.0,0.004886,0.016043,0.026385,0.025478,0.000000
2020-12-03,0.017515,0.065574,NaN,0.012168,0.013085,0.007367,0.039775,0.003929,0.000000,NaN,...,0.019838,0.010656,0.012141,0.013514,0.0,0.008266,0.017544,0.014139,0.018904,0.112971

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                         \
Admin2         Autauga   Baldwin   Barbour      Bibb    Blount Bullock Butler
2020-12-01         0.0  0.397959  0.000000  0.058824  0.000000     0.0    0.0
2020-12-02         0.0  0.000000  1.636364  1.111111  0.075000     0.0    0.0
2020-12-03         0.0  0.000000  0.000000  0.000000  0.046512     0.0    0.0

Province_State                            ... Wyoming                     \
Admin2         Calhoun Chambers Cherokee  ...    Park    Platte Sheridan
2020-12-01         0.0     0.00      0.0  ...     0.0  0.142857      0.0
2020-12-02         0.0     0.00      0.0  ...     0.0  0.000000      0.0
2020-12-03         0.0     0.02      0.0  ...     0.0  0.000000      0.1

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-01          0.0   0.000000   0.0  0.00        inf      0.0    1.0
2020-12-02          0.0   0.000000   0.0  0.00        0.0      0.0    0.0
2020-12-03          1.0   0.666667   0.0  0.25        0.0      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,0.006782,0.019555,0.011920,0.007272,0.005151,0.003716,0.004942,0.006186,0.000370,0.011971,...,0.029417,0.002583,0.0,0.002674,0.002867,0.025138,9.503163e-51,0.004628,0.001355,0.013592
2020-12-02,0.006206,0.018812,0.011498,0.007465,0.004805,0.008900,0.005100,0.007741,0.000472,0.012942,...,0.031392,0.001694,0.0,0.003510,0.004024,0.025000,4.751582e-51,0.006866,0.001668,0.006796
2020-12-03,0.000315,0.019250,0.010703,0.008263,0.003773,0.004450,0.005199,0.008523,0.000415,0.013327,...,0.034170,0.001502,0.0,0.004089,0.003117,0.026448,2.375791e-51,0.008395,0.001681,0.017960

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,0.005769,0.015443,0.007458,1.017297e-07,0.005433,1.271566e-06,0.005318,0.012230,0.000138,0.037447,...,0.012703,0.001801,NaN,0.003902,3.212618e-29,0.020156,0.0,0.001476,3.327944e-06,0.002899
2020-12-02,0.009840,0.018062,0.007202,5.086483e-08,0.004145,6.357829e-07,0.005587,0.014095,0.000069,0.036919,...,0.019172,0.000901,NaN,0.004171,1.606309e-29,0.020787,0.0,0.002353,1.663972e-06,0.001450
2020-12-03,0.010134,0.016778,0.006848,6.578973e-03,0.003497,3.178914e-07,0.004696,0.012882,0.000034,0.031808,...,0.009586,0.000450,NaN,0.004295,8.031544e-30,0.021534,0.0,0.003592,8.319859e-07,0.006140

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-01,0.002924,0.024229,0.011408,0.011761,0.009223,0.000186,0.005392,0.014554,0.000239,0.026817,...,0.024769,0.002690,NaN,0.003349,0.007574,0.015283,5.568260e-53,0.003453,0.002915,0.010240
2020-12-02,0.003074,0.025734,0.011080,0.009921,0.017660,0.011632,0.004717,0.013755,0.000276,0.026947,...,0.023649,0.001345,NaN,0.004073,0.006297,0.015611,2.784130e-53,0.003047,0.002249,0.005120
2020-12-03,0.004130,0.027230,0.010523,0.011473,0.015280,0.005816,0.004849,0.013287,0.000431,0.023039,...,0.025241,0.001934,NaN,0.004541,0.006479,0.017218,1.392065e-53,0.003829,0.001593,0.008981

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-01,0.011221,0.017420,NaN,0.019289,0.010165,0.012520,0.018524,0.017937,0.016546,1.837483e-79,...,0.015966,0.009610,0.011896,0.016673,0.003184,0.009374,0.014009,0.020320,0.009948,0.017732
2020-12-02,0.013376,0.019083,NaN,0.015339,0.012025,0.013940,0.017399,0.020219,0.013157,9.187413e-80,...,0.013374,0.012004,0.016048,0.034522,0.014173,0.009721,0.016352,0.021293,0.010456,0.019012
2020-12-03,0.013562,0.020798,NaN,0.015650,0.014646,0.015415,0.021216,0.029673,0.016906,4.593707e-80,...,0.011848,0.012867,0.017778,0.037548,0.007086,0.009032,0.014325,0.021868,0.011885,0.017552

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-01      0.011024  0.013694  0.005703  0.006689  0.017196  0.000989
2020-12-02      0.015270  0.013034  0.010001  0.017880  0.014968  0.006200
2020-12-03      0.011116  0.016230  0.008317  0.014186  0.016839  0.003100

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-01      0.006137  0.018007  0.015329  0.011059  ...  0.022606
2020-12-02      0.003912  0.016354  0.016422  0.007432  ...  0.017242
2020-12-03      0.007006  0.016691  0.012514  0.009403  ...  0.023294

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-01      0.014688  0.019531  0.019799   0.020812  0.014886  0.016853
2020-12-02      0.013279  0.021858  0.022204   0.018551  0.014392  0.023119
2020-12-03      0.011038  0.015507  0.034028   0.032543  0.011665  0.024048

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-01           -1.0  0.045003  0.016759
2020-12-02           -1.0  0.042801  0.015714
2020-12-03           -1.0  0.031667  0.012676

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-01,0.008964,0.006096,NaN,0.004582,0.006850,0.004248,0.016353,0.005287,0.005209,NaN,...,0.007616,0.006516,0.014429,0.030744,2.580289e-10,0.004640,0.012265,0.020811,0.019470,0.056625
2020-12-02,0.014515,0.003048,NaN,0.006179,0.005415,0.004870,0.021686,0.007703,0.003891,NaN,...,0.009198,0.008255,0.016203,0.029261,1.290145e-10,0.004763,0.014154,0.023598,0.022474,0.028312
2020-12-03,0.016015,0.034311,NaN,0.009173,0.009250,0.006119,0.030730,0.005816,0.001946,NaN,...,0.014518,0.009455,0.014172,0.021387,6.450724e-11,0.006515,0.015849,0.018868,0.020689,0.070642

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-01      0.000789  0.200282  0.012507  0.029388  0.001068
2020-12-02      0.000395  0.100141  0.824435  0.570250  0.038034
2020-12-03      0.000197  0.050070  0.412218  0.285125  0.042273

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-12-01      4.051558e-08  0.003049  0.002822  0.000482  0.000065  ...
2020-12-02      2.025779e-08  0.001524  0.001411  0.000241  0.000033  ...
2020-12-03      1.012889e-08  0.000762  0.000705  0.010120  0.000016  ...

Province_State   Wyoming                                          \
Admin2              Park    Platte  Sheridan Sublette Sweetwater
2020-12-01      0.000978  0.073122  0.000017      0.0   0.000061
2020-12-02      0.000489  0.036561  0.000009      0.0   0.000031
2020-12-03      0.000244  0.018281  0.050004      0.5   0.333349

Province_State
Admin2                 Teton         Uinta    Unassigned  Washakie    Weston
2020-12-01      1.862645e-09  1.986867e-08 -9.723761e-01  0.001116  0.501961
2020-12-02      9.313226e-10  9.934335e-09 -6.146820e-08  0.000558  0.250489
2020-12-03      4.656613e-10  1.250000e-01 -2.048940e-08  0.000279  0.125122

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201203,AK,33291,NaN,1007214,NaN,totalTestsViral,1040505,157.0,783.0,...,1040505,8,15,2681286b4959bcec2a503789d53119c645f4b0c6,0,0,0,0,0,NaN
1,20201203,AL,260359,44421.0,1400010,NaN,totalTestsPeopleViral,1615948,1827.0,26062.0,...,1660369,65,241,d333019ec43ddf9c5c4ec262bc5ed78ee214f19b,0,0,0,0,0,NaN
2,20201203,AR,164310,21588.0,1576679,NaN,totalTestsViral,1719401,1072.0,9206.0,...,1740989,33,96,ab38de895a2817d41ff7d8bb65d18adf87e107c4,0,0,0,0,0,NaN
3,20201203,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,...,1988,0,0,129358d9382d467bce74490f9082a486b166ac3e,0,0,0,0,0,NaN
4,20201203,AZ,346421,11173.0,1969836,NaN,totalTestsPeopleViral,2305084,2743.0,27456.0,...,2316257,82,1144,87c686686609f185e7c0610120d39a64a7fff437,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201203,AK,33291.0,NaN,1007214.0,NaN,totalTestsViral,1040505.0,157.0,783.0,...,1040505,8,15,2681286b4959bcec2a503789d53119c645f4b0c6,0,0,0,0,0,NaN
1,20201203,AL,260359.0,44421.0,1400010.0,NaN,totalTestsPeopleViral,1615948.0,1827.0,26062.0,...,1660369,65,241,d333019ec43ddf9c5c4ec262bc5ed78ee214f19b,0,0,0,0,0,NaN
2,20201203,AR,164310.0,21588.0,1576679.0,NaN,totalTestsViral,1719401.0,1072.0,9206.0,...,1740989,33,96,ab38de895a2817d41ff7d8bb65d18adf87e107c4,0,0,0,0,0,NaN
3,20201203,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,...,1988,0,0,129358d9382d467bce74490f9082a486b166ac3e,0,0,0,0,0,NaN
4,20201203,AZ,346421.0,11173.0,1969836.0,NaN,totalTestsPeopleViral,2305084.0,2743.0,27456.0,...,2316257,82,1144,87c686686609f185e7c0610120d39a64a7fff437,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-03,AK,33291,NaN,1007214,NaN,totalTestsViral,1040505,157.0,783.0,NaN,...,1040505,8,15,2681286b4959bcec2a503789d53119c645f4b0c6,0,0,0,0,0,NaN
2020-12-03,AL,260359,44421.0,1400010,NaN,totalTestsPeopleViral,1615948,1827.0,26062.0,NaN,...,1660369,65,241,d333019ec43ddf9c5c4ec262bc5ed78ee214f19b,0,0,0,0,0,NaN
2020-12-03,AR,164310,21588.0,1576679,NaN,totalTestsViral,1719401,1072.0,9206.0,375.0,...,1740989,33,96,ab38de895a2817d41ff7d8bb65d18adf87e107c4,0,0,0,0,0,NaN
2020-12-03,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,NaN,...,1988,0,0,129358d9382d467bce74490f9082a486b166ac3e,0,0,0,0,0,NaN
2020-12-03,AZ,346421,11173.0,1969836,NaN,totalTestsPeopleViral,2305084,2743.0,27456.0,642.0,...,2316257,82,1144,87c686686609f185e7c0610120d39a64a7fff437,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-03,AK,33291.0,NaN,1007214.0,NaN,totalTestsViral,1040505.0,157.0,783.0,NaN,...,1040505,8,15,2681286b4959bcec2a503789d53119c645f4b0c6,0,0,0,0,0,NaN
2020-12-03,AL,260359.0,44421.0,1400010.0,NaN,totalTestsPeopleViral,1615948.0,1827.0,26062.0,NaN,...,1660369,65,241,d333019ec43ddf9c5c4ec262bc5ed78ee214f19b,0,0,0,0,0,NaN
2020-12-03,AR,164310.0,21588.0,1576679.0,NaN,totalTestsViral,1719401.0,1072.0,9206.0,375.0,...,1740989,33,96,ab38de895a2817d41ff7d8bb65d18adf87e107c4,0,0,0,0,0,NaN
2020-12-03,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,NaN,...,1988,0,0,129358d9382d467bce74490f9082a486b166ac3e,0,0,0,0,0,NaN
2020-12-03,AZ,346421.0,11173.0,1969836.0,NaN,totalTestsPeopleViral,2305084.0,2743.0,27456.0,642.0,...,2316257,82,1144,87c686686609f185e7c0610120d39a64a7fff437,0,0,0,0,0,NaN