# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'09-21-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'09-21-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-22 04:23:11,33.93911,67.709953,39074,1444,32576,5054.0,Afghanistan,100.374172,3.695552
1,NaN,NaN,NaN,Albania,2020-09-22 04:23:11,41.15330,20.168300,12535,364,6995,5176.0,Albania,435.575787,2.903869
2,NaN,NaN,NaN,Algeria,2020-09-22 04:23:11,28.03390,1.659600,50023,1679,35180,13164.0,Algeria,114.074824,3.356456
3,NaN,NaN,NaN,Andorra,2020-09-22 04:23:11,42.50630,1.521800,1681,53,1199,429.0,Andorra,2175.629328,3.152885
4,NaN,NaN,NaN,Angola,2020-09-22 04:23:11,-11.20270,17.873900,4117,154,1449,2514.0,Angola,12.526521,3.740588

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38641,38716,38772,38815,38855,38872,38883,38919,39044,39074
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,11185,11353,11520,11672,11816,11948,12073,12226,12385,12535
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,48007,48254,48496,48734,48966,49194,49413,49623,49826,50023

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1420,1420,1425,1426,1436,1436,1437,1437,1441,1444
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,330,334,338,340,343,347,353,358,362,364
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1605,1612,1620,1632,1645,1654,1659,1665,1672,1679

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,31234,31638,32073,32098,32503,32505,32576,32576,32576,32576
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6494,6569,6615,6668,6733,6788,6831,6888,6940,6995
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,33875,34037,34204,34385,34517,34675,34818,34923,35047,35180

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1432,1442,1447,1463,1619,1624,1664,1673,1690,1691
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4752,4781,4800,4812,5003,5021,5033,5047,5061,5087
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,620,622,626,629,809,809,824,830,835,838

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,23,23,23,23,24,24,24,24,24,24
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,43,43,43,43,47,48,48,49,49,49
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
632,1001.0,Autauga,Alabama,US,2020-09-22 04:23:11,32.539527,-86.644082,1691,24,0,1667.0,"Autauga, Alabama, US",3026.723228,1.419279
669,1075.0,Lamar,Alabama,US,2020-09-22 04:23:11,33.779950,-88.096680,353,2,0,351.0,"Lamar, Alabama, US",2557.044549,0.566572
670,1077.0,Lauderdale,Alabama,US,2020-09-22 04:23:11,34.901719,-87.656247,1653,33,0,1620.0,"Lauderdale, Alabama, US",1782.613853,1.996370

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                6856884  199865    2615949
India             5487580   87882    4396399
Brazil            4558040  137272    3993432

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,6856884,199865,2615949,4041070,2020-09-22 04:23:11,37.923092,-91.345036
India,5487580,87882,4396399,1003299,2020-09-22 04:23:11,23.088275,81.806127
Brazil,4558040,137272,3993432,427336,2020-09-22 04:23:11,-12.669522,-48.480493
Russia,1105048,19420,909026,176602,2020-09-22 04:23:11,54.546312,62.120860
Colombia,770435,24397,640900,105138,2020-09-22 04:23:11,5.349139,-74.190797

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         790096   15056          0
Texas              734778   15127          0
Florida            685439   13317          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,790096,15056,0,775040,2020-09-22 04:23:11,37.843962,-120.728594
Texas,734778,15127,0,719651,2020-09-22 04:23:11,31.660643,-98.653069
Florida,685439,13317,0,672122,2020-09-22 04:23:11,28.940755,-82.700744
New York,450473,33092,0,417381,2020-09-22 04:23:11,42.544151,-75.474183
Georgia,307339,6604,0,300735,2020-09-22 04:23:11,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     261446    6366          0
Florida        Miami-Dade      167153    3055          0
Arizona        Maricopa        140006    3262          0
Illinois       Cook            139583    5167          0
Texas          Harris          137946    2505          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,261446,6366,0,255080,2020-09-22 04:23:11,34.308284,-118.228241,6037.0
Florida,Miami-Dade,167153,3055,0,164098,2020-09-22 04:23:11,25.611236,-80.551706,12086.0
Arizona,Maricopa,140006,3262,0,136744,2020-09-22 04:23:11,33.348359,-112.491815,4013.0
Illinois,Cook,139583,5167,0,134416,2020-09-22 04:23:11,41.841448,-87.816588,17031.0
Texas,Harris,137946,2505,0,135441,2020-09-22 04:23:11,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,38919,12226,49623,1564,3901,96,622934,47154,26898,37474,...,392845,1904,50992,65949,1068,35003,10,2026,14070,7672
2020-09-20,39044,12385,49826,1564,3991,96,631365,47431,26912,38095,...,396744,1917,51640,66656,1068,35686,10,2026,14131,7683
2020-09-21,39074,12535,50023,1681,4117,96,640147,47552,26942,38658,...,401122,1927,52070,67443,1068,36151,10,2028,14175,7683

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,1437,358,1665,53,147,3,12799,928,849,765,...,41848,46,427,539,35,253,1,585,330,225
2020-09-20,1441,362,1672,53,152,3,13053,930,851,766,...,41866,46,433,547,35,262,1,586,330,225
2020-09-21,1444,364,1679,53,154,3,13482,936,854,767,...,41877,46,437,555,35,265,1,586,331,225

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,32576,6888,34923,1164,1445,92,478077,42551,23966,28961,...,2227,1612,47271,55155,942,23446,8,1221,13365,5914
2020-09-20,32576,6940,35047,1164,1445,92,488231,42608,24061,29229,...,2228,1621,47932,56096,942,23700,8,1227,13365,5924
2020-09-21,32576,6995,35180,1199,1449,92,508563,42637,24155,29516,...,2228,1634,48369,56726,947,24428,8,1235,13629,5924

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1432,1442,1447,1463,1619,1624,1664,1673,1690,1691
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,289,292,295,299,327,330,337,345,346,353
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1518,1527,1530,1539,1590,1592,1616,1641,1646,1653
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,529,532,534,546,573,576,578,582,585,592
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,3593,3613,3622,3624,5570,5582,5603,5705,5713,5751

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-19,144164,6729,0,213551,75160,783313,64336,55527,19449,49,...,181439,707940,62852,1710,1257,139546,82199,13889,99562,4781
2020-09-20,144962,6822,0,214021,75723,786168,64837,55527,19566,49,...,183514,713007,63772,1715,1269,140395,82548,14062,101227,4872
2020-09-21,145780,6892,0,214251,76364,790096,65379,56024,19667,49,...,184409,734778,64394,1719,1269,141022,82730,14181,102498,4944

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-19        1673    5047     830  628   1542     585    908    3320
2020-09-20        1690    5061     835  632   1551     587    909    3338
2020-09-21        1691    5087     838  636   1560     591    911    3374

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-19         1123      555  ...     202     19      234       71
2020-09-20         1130      565  ...     202     20      242       73
2020-09-21         1132      569  ...     205     20      253       71

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-19            322   493   330          1      113     23
2020-09-20            323   498   334          1      113     23
2020-09-21            323   504   335          0      113     23

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-19,2437,45,0,5467,1181,15018,2013,4492,621,0,...,2216,15051,440,58,19,2988,2037,311,1241,49
2020-09-20,2437,45,0,5477,1181,15016,2014,4492,621,0,...,2218,15088,440,58,19,3013,2037,314,1242,49
2020-09-21,2439,45,0,5478,1197,15056,2018,4495,627,0,...,2233,15127,441,58,19,3019,2049,315,1244,49

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-19          24      49       7   10     14      14     38      39
2020-09-20          24      49       7   10     14      14     38      39
2020-09-21          24      49       7   10     14      14     38      39

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-19           42       16  ...       2      1        4        1
2020-09-20           42       16  ...       2      1        4        1
2020-09-21           42       16  ...       2      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-19              2     1     2          0        6      0
2020-09-20              2     1     2          0        6      0
2020-09-21              2     1     2          0        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,0.000926,0.012673,0.004250,0.000000,0.013773,0.010526,0.015116,0.005201,0.000484,0.022176,...,0.011403,0.007407,0.014706,0.011891,0.0,0.017499,0.0,0.000988,0.003423,0.003269
2020-09-20,0.003212,0.013005,0.004091,0.000000,0.023071,0.000000,0.013534,0.005874,0.000520,0.016571,...,0.009925,0.006828,0.012708,0.010720,0.0,0.019513,0.0,0.000000,0.004335,0.001434
2020-09-21,0.000768,0.012111,0.003954,0.074808,0.031571,0.000000,0.013910,0.002551,0.001115,0.014779,...,0.011035,0.005216,0.008327,0.011807,0.0,0.013030,0.0,0.000987,0.003114,0.000000

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,0.000000,0.014164,0.003617,0.0,0.000000,0.0,0.011299,0.002160,0.005924,0.002621,...,0.000646,0.0,0.019093,0.016981,0.0,0.012000,0.0,0.000000,0.00304,0.004464
2020-09-20,0.002784,0.011173,0.004204,0.0,0.034014,0.0,0.019845,0.002155,0.002356,0.001307,...,0.000430,0.0,0.014052,0.014842,0.0,0.035573,0.0,0.001709,0.00000,0.000000
2020-09-21,0.002082,0.005525,0.004187,0.0,0.013158,0.0,0.032866,0.006452,0.003525,0.001305,...,0.000263,0.0,0.009238,0.014625,0.0,0.011450,0.0,0.000000,0.00303,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,0.0,0.008344,0.003016,0.000000,0.001386,0.0,0.023093,0.004296,0.004485,0.017926,...,0.006326,0.005614,0.015991,0.017282,0.001063,0.004843,0.0,0.000000,0.011963,0.005269
2020-09-20,0.0,0.007549,0.003551,0.000000,0.000000,0.0,0.021239,0.001340,0.003964,0.009254,...,0.000449,0.005583,0.013983,0.017061,0.000000,0.010833,0.0,0.004914,0.000000,0.001691
2020-09-21,0.0,0.007925,0.003795,0.030069,0.002768,0.0,0.041644,0.000681,0.003907,0.009819,...,0.000000,0.008020,0.009117,0.011231,0.005308,0.030717,0.0,0.006520,0.019753,0.000000

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-19,0.009107,0.012793,NaN,0.002860,0.014551,0.004903,0.009509,0.000000,0.004286,0.0,...,0.005219,0.004793,0.017434,0.002345,0.000000,0.006789,0.007316,0.014907,0.023469,0.007162
2020-09-20,0.005535,0.013821,NaN,0.002201,0.007491,0.003645,0.007787,0.000000,0.006016,0.0,...,0.011436,0.007157,0.014638,0.002924,0.009547,0.006084,0.004246,0.012456,0.016723,0.019034
2020-09-21,0.005643,0.010261,NaN,0.001075,0.008465,0.004996,0.008359,0.008951,0.005162,0.0,...,0.004877,0.030534,0.009753,0.002332,0.000000,0.004466,0.002205,0.008463,0.012556,0.014778

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-19      0.005409  0.002782  0.007282  0.014540  0.009823  0.000000
2020-09-20      0.010161  0.002774  0.006024  0.006369  0.005837  0.003419
2020-09-21      0.000592  0.005137  0.003593  0.006329  0.005803  0.006814

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-19      0.002208  0.021853  0.005372  0.012774  ...  0.000000
2020-09-20      0.001101  0.005422  0.006233  0.018018  ...  0.000000
2020-09-21      0.002200  0.010785  0.001770  0.007080  ...  0.014851

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-19      0.055556  0.012987  0.014286   0.000000  0.006122  0.009174
2020-09-20      0.052632  0.034188  0.028169   0.003106  0.010142  0.012121
2020-09-21      0.000000  0.045455 -0.027397   0.000000  0.012048  0.002994

Province_State
Admin2         Unassigned Washakie Weston
2020-09-19            0.0      0.0    0.0
2020-09-20            0.0      0.0    0.0
2020-09-21           -1.0      0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-19,0.003707,0.0,NaN,0.002935,0.006820,0.008393,0.001991,0.000000,0.001613,NaN,...,0.009107,0.006689,0.006865,0.0,0.0,0.013912,0.000000,0.036667,0.002423,0.0
2020-09-20,0.000000,0.0,NaN,0.001829,0.000000,-0.000133,0.000497,0.000000,0.000000,NaN,...,0.000903,0.002458,0.000000,0.0,0.0,0.008367,0.000000,0.009646,0.000806,0.0
2020-09-21,0.000821,0.0,NaN,0.000183,0.013548,0.002664,0.001986,0.000668,0.009662,NaN,...,0.006763,0.002585,0.002273,0.0,0.0,0.001991,0.005891,0.003185,0.001610,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-19         0.0  0.020833     0.0  0.0    0.0     0.0    0.0     0.0
2020-09-20         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2020-09-21         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-19          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-09-20          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-09-21          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-19            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-20            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-21            0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,0.000732,0.011994,0.004433,0.016788,0.018214,0.005263,0.017712,0.005224,0.000869,0.022083,...,0.010818,0.008379,0.013587,0.012945,0.000849,0.019143,8.975484e-29,0.001102,0.004627,0.003106
2020-09-20,0.001972,0.012500,0.004262,0.008394,0.020643,0.002632,0.015623,0.005549,0.000695,0.019327,...,0.010371,0.007603,0.013147,0.011833,0.000425,0.019328,4.487742e-29,0.000551,0.004481,0.002270
2020-09-21,0.001370,0.012306,0.004108,0.041601,0.026107,0.001316,0.014766,0.004050,0.000905,0.017053,...,0.010703,0.006410,0.010737,0.011820,0.000212,0.016179,2.243871e-29,0.000769,0.003798,0.001135

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,0.000691,0.013947,0.004125,3.498057e-14,0.009018,2.758293e-48,0.015644,0.001972,0.006846,0.003113,...,0.000603,0.002778,0.016773,0.017692,3.034232e-07,0.017884,0.0,0.000457,0.005120,0.002270
2020-09-20,0.001737,0.012560,0.004165,1.749028e-14,0.021516,1.379147e-48,0.017745,0.002063,0.004601,0.002210,...,0.000517,0.001389,0.015412,0.016267,1.517116e-07,0.026728,0.0,0.001083,0.002560,0.001135
2020-09-21,0.001910,0.009042,0.004176,8.745141e-15,0.017337,6.895733e-49,0.025305,0.004258,0.004063,0.001758,...,0.000390,0.000695,0.012325,0.015446,7.585579e-08,0.019089,0.0,0.000542,0.002795,0.000568

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-19,0.001705,0.007916,0.003669,0.033347,0.011647,0.002747,0.022587,0.003886,0.003266,0.015717,...,0.007021,0.009143,0.013950,0.021932,0.002123,0.013171,5.259073e-31,0.000256,0.013228,0.005844
2020-09-20,0.000852,0.007733,0.003610,0.016673,0.005824,0.001374,0.021913,0.002613,0.003615,0.012485,...,0.003735,0.007363,0.013967,0.019496,0.001062,0.012002,2.629536e-31,0.002585,0.006614,0.003767
2020-09-21,0.000426,0.007829,0.003702,0.023371,0.004296,0.000687,0.031779,0.001647,0.003761,0.011152,...,0.001867,0.007691,0.011542,0.015364,0.003185,0.021360,1.314768e-31,0.004552,0.013184,0.001884

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-19,0.007867,0.013590,NaN,0.004320,0.013279,0.005008,0.009060,0.001545,0.004138,1.735453e-57,...,0.007817,0.005220,0.016631,0.001828,0.004839,0.007470,0.006038,0.016172,0.024739,0.013486
2020-09-20,0.006701,0.013706,NaN,0.003260,0.010385,0.004326,0.008423,0.000772,0.005077,8.677267e-58,...,0.009627,0.006189,0.015634,0.002376,0.007193,0.006777,0.005142,0.014314,0.020731,0.016260
2020-09-21,0.006172,0.011983,NaN,0.002167,0.009425,0.004661,0.008391,0.004861,0.005119,4.338633e-58,...,0.007252,0.018361,0.012694,0.002354,0.003596,0.005622,0.003673,0.011388,0.016644,0.015519

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-19      0.016426  0.005164  0.026451  0.012654  0.029768  0.003331
2020-09-20      0.013294  0.003969  0.016237  0.009512  0.017802  0.003375
2020-09-21      0.006943  0.004553  0.009915  0.007920  0.011803  0.005095

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-19      0.004803  0.024241  0.022614  0.034827  ...  0.008895
2020-09-20      0.002952  0.014831  0.014424  0.026423  ...  0.004447
2020-09-21      0.002576  0.012808  0.008097  0.016751  ...  0.009649

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-19      0.072780  0.017676  0.030077   0.002671  0.007040  0.008420
2020-09-20      0.062706  0.025932  0.029123   0.002888  0.008591  0.010271
2020-09-21      0.031353  0.035693  0.000863   0.001444  0.010320  0.006632

Province_State
Admin2         Unassigned  Washakie  Weston
2020-09-19      -0.102569  0.003359  0.0004
2020-09-20      -0.038837  0.001679  0.0002
2020-09-21      -0.571428  0.000840  0.0001

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-19,0.005785,0.005821,NaN,0.004782,0.011630,0.007568,0.001931,0.000298,0.001445,NaN,...,0.010508,0.007295,0.003719,5.025916e-16,0.000236,0.013204,0.001848,0.026106,0.003827,0.009406
2020-09-20,0.002893,0.002910,NaN,0.003305,0.005815,0.003717,0.001214,0.000149,0.000723,NaN,...,0.005705,0.004877,0.001859,2.512958e-16,0.000118,0.010785,0.000924,0.017876,0.002317,0.004703
2020-09-21,0.001857,0.001455,NaN,0.001744,0.009681,0.003191,0.001600,0.000408,0.005192,NaN,...,0.006234,0.003731,0.002066,1.256479e-16,0.000059,0.006388,0.003408,0.010530,0.001963,0.002351

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-09-19      0.002717  0.018938  3.898706e-11  0.059027  0.019558
2020-09-20      0.001359  0.009469  1.949353e-11  0.029513  0.009779
2020-09-21      0.000679  0.004734  9.746765e-12  0.014757  0.004889

Province_State                                                    ...  \
Admin2           Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-09-19      0.004808  0.001690  0.017402  0.003125  0.031061  ...
2020-09-20      0.002404  0.000845  0.008701  0.001563  0.015530  ...
2020-09-21      0.001202  0.000422  0.004351  0.000781  0.007765  ...

Province_State   Wyoming                                                   \
Admin2              Park Platte  Sheridan Sublette Sweetwater Teton Uinta
2020-09-19      0.125001    0.0  0.187501      0.0        0.0   0.0   0.0
2020-09-20      0.062500    0.0  0.093750      0.0        0.0   0.0   0.0
2020-09-21      0.031250    0.0  0.046875      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned Washakie Weston
2020-09-19      -0.999969      0.0    NaN
2020-09-20      -0.999969      0.0    NaN
2020-09-21      -0.999969      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200921,AK,7838,420807,NaN,428645,47.0,NaN,NaN,NaN,...,428645,0,0,2ec1459d557a0a9f8c65f1d11f0e2ac4bdf025f3,0,0,0,0,0,NaN
1,20200921,AL,145780,928112,NaN,1059517,802.0,16487.0,NaN,1645.0,...,1073892,2,260,7570e181bedab66c64605b577126d7e6c27c0be7,0,0,0,0,0,NaN
2,20200921,AR,76364,817238,NaN,891524,439.0,4986.0,228.0,NaN,...,893602,16,19,587b536e6faa93fe497751a7fe36885ecaffac9f,0,0,0,0,0,NaN
3,20200921,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,...,1571,0,0,fe2ac904fb66e75d6ba49697cef3e44e5eee9332,0,0,0,0,0,NaN
4,20200921,AZ,214251,1176711,NaN,1390962,472.0,21878.0,119.0,NaN,...,1390962,2,2,b4e70c6157c61034ec73bb46afbd6bc486b5135d,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200921,AK,7838.0,420807.0,NaN,428645.0,47.0,NaN,NaN,NaN,...,428645,0,0,2ec1459d557a0a9f8c65f1d11f0e2ac4bdf025f3,0,0,0,0,0,NaN
1,20200921,AL,145780.0,928112.0,NaN,1059517.0,802.0,16487.0,NaN,1645.0,...,1073892,2,260,7570e181bedab66c64605b577126d7e6c27c0be7,0,0,0,0,0,NaN
2,20200921,AR,76364.0,817238.0,NaN,891524.0,439.0,4986.0,228.0,NaN,...,893602,16,19,587b536e6faa93fe497751a7fe36885ecaffac9f,0,0,0,0,0,NaN
3,20200921,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,...,1571,0,0,fe2ac904fb66e75d6ba49697cef3e44e5eee9332,0,0,0,0,0,NaN
4,20200921,AZ,214251.0,1176711.0,NaN,1390962.0,472.0,21878.0,119.0,NaN,...,1390962,2,2,b4e70c6157c61034ec73bb46afbd6bc486b5135d,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-21,AK,7838,420807,NaN,428645,47.0,NaN,NaN,NaN,13.0,...,428645,0,0,2ec1459d557a0a9f8c65f1d11f0e2ac4bdf025f3,0,0,0,0,0,NaN
2020-09-21,AL,145780,928112,NaN,1059517,802.0,16487.0,NaN,1645.0,NaN,...,1073892,2,260,7570e181bedab66c64605b577126d7e6c27c0be7,0,0,0,0,0,NaN
2020-09-21,AR,76364,817238,NaN,891524,439.0,4986.0,228.0,NaN,95.0,...,893602,16,19,587b536e6faa93fe497751a7fe36885ecaffac9f,0,0,0,0,0,NaN
2020-09-21,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,fe2ac904fb66e75d6ba49697cef3e44e5eee9332,0,0,0,0,0,NaN
2020-09-21,AZ,214251,1176711,NaN,1390962,472.0,21878.0,119.0,NaN,57.0,...,1390962,2,2,b4e70c6157c61034ec73bb46afbd6bc486b5135d,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-21,AK,7838.0,420807.0,NaN,428645.0,47.0,NaN,NaN,NaN,13.0,...,428645,0,0,2ec1459d557a0a9f8c65f1d11f0e2ac4bdf025f3,0,0,0,0,0,NaN
2020-09-21,AL,145780.0,928112.0,NaN,1059517.0,802.0,16487.0,NaN,1645.0,NaN,...,1073892,2,260,7570e181bedab66c64605b577126d7e6c27c0be7,0,0,0,0,0,NaN
2020-09-21,AR,76364.0,817238.0,NaN,891524.0,439.0,4986.0,228.0,NaN,95.0,...,893602,16,19,587b536e6faa93fe497751a7fe36885ecaffac9f,0,0,0,0,0,NaN
2020-09-21,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,fe2ac904fb66e75d6ba49697cef3e44e5eee9332,0,0,0,0,0,NaN
2020-09-21,AZ,214251.0,1176711.0,NaN,1390962.0,472.0,21878.0,119.0,NaN,57.0,...,1390962,2,2,b4e70c6157c61034ec73bb46afbd6bc486b5135d,0,0,0,0,0,NaN