# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-29-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-29-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-30 05:22:34,33.93911,67.709953,51350,2179,41543,7628.0,Afghanistan,131.909038,4.243427
1,NaN,NaN,NaN,Albania,2020-12-30 05:22:34,41.15330,20.168300,57146,1170,32700,23276.0,Albania,1985.753006,2.047387
2,NaN,NaN,NaN,Algeria,2020-12-30 05:22:34,28.03390,1.659600,98988,2745,66550,29693.0,Algeria,225.736934,2.773063
3,NaN,NaN,NaN,Andorra,2020-12-30 05:22:34,42.50630,1.521800,7919,84,7360,475.0,Andorra,10249.142561,1.060740
4,NaN,NaN,NaN,Angola,2020-12-30 05:22:34,-11.20270,17.873900,17371,403,10627,6341.0,Angola,52.853582,2.319959

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49817,50013,50190,50433,50655,50810,50886,51039,51280,51350
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,53003,53425,53814,54317,54827,55380,55755,56254,56572,57146
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,95203,95659,96069,96549,97007,97441,97857,98249,98631,98988

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2067,2082,2096,2117,2126,2139,2149,2160,2174,2179
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1088,1098,1111,1117,1125,1134,1143,1153,1164,1170
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2666,2675,2687,2696,2705,2716,2722,2728,2737,2745

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39006,39508,39585,39692,40359,40444,40784,41096,41441,41543
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,28121,28752,29249,29799,30276,30790,31181,31565,32122,32700
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,63260,63644,64020,64401,64777,65144,65505,65862,66214,66550

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3741,3780,3841,3889,3942,3990,3999,4029,4065,4105
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,11827,11952,12155,12321,12521,12666,12708,12825,12962,13172
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1336,1336,1363,1383,1390,1396,1398,1406,1417,1462

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,44,44,44,46,46,46,46,47,47,47
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,147,147,149,151,151,151,151,152,152,156
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,32,32,32,32,32,32,32,32,32,32

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-30 05:22:34,32.539527,-86.644082,4105,47,0,4058.0,"Autauga, Alabama, US",7347.545150,1.144945
686,1075.0,Lamar,Alabama,US,2020-12-30 05:22:34,33.779950,-88.096680,1025,15,0,1010.0,"Lamar, Alabama, US",7424.846070,1.463415
687,1077.0,Lauderdale,Alabama,US,2020-12-30 05:22:34,34.901719,-87.656247,6230,68,0,6162.0,"Lauderdale, Alabama, US",6718.502302,1.091493

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               19556927  338561          0
India            10244852  148439    9834141
Brazil            7563551  192681    6754111

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,19556927,338561,0,19218366,2020-12-30 05:22:34,37.936303,-91.379001
India,10244852,148439,9834141,262272,2020-12-30 05:22:34,23.088275,81.806127
Brazil,7563551,192681,6754111,616759,2020-12-30 05:22:34,-12.669522,-48.480493
Russia,3073923,55107,2470783,548033,2020-12-30 05:22:34,54.546312,62.120860
France,2631110,64204,197726,2369180,2020-12-30 05:22:34,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2228332   24917          0
Texas             1730084   27282          0
Florida           1292252   21409          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2228332,24917,0,2203415,2020-12-30 05:22:34,37.843962,-120.728594
Texas,1730084,27282,0,1702802,2020-12-30 05:22:34,31.660643,-98.653069
Florida,1292252,21409,0,1270843,2020-12-30 05:22:34,28.940755,-82.700744
New York,950473,37687,0,912786,2020-12-30 05:22:34,42.544151,-75.474183
Illinois,948006,17596,0,930410,2020-12-30 05:22:34,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     746089    9782          0
Illinois       Cook            388386    8169          0
Arizona        Maricopa        311242    5027          0
Florida        Miami-Dade      293188    4164          0
Texas          Harris          234736    3348          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,746089,9782,0,736307,2020-12-30 05:22:34,34.308284,-118.228241,6037.0
Illinois,Cook,388386,8169,0,380217,2020-12-30 05:22:34,41.841448,-87.816588,17031.0
Arizona,Maricopa,311242,5027,0,306215,2020-12-30 05:22:34,33.348359,-112.491815,4013.0
Florida,Miami-Dade,293188,4164,0,289024,2020-12-30 05:22:34,25.611236,-80.551706,12086.0
Texas,Harris,234736,3348,0,231388,2020-12-30 05:22:34,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,51039,56254,98249,7821,17240,155,1583297,157834,28337,351892,...,2295228,16728,76751,1,112316,1441,133093,2094,19834,13077
2020-12-28,51280,56572,98631,7875,17296,158,1590513,157948,28349,353484,...,2336688,17306,76832,1,112636,1451,134310,2096,19943,13148
2020-12-29,51350,57146,98988,7919,17371,158,1602163,158296,28381,355352,...,2389963,17962,76907,1,112861,1454,135459,2096,20177,13325

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,2160,1153,2728,83,399,5,42650,2768,909,5881,...,70860,158,613,0,1014,35,1309,607,383,349
2020-12-28,2174,1164,2737,83,403,5,42868,2775,909,5931,...,71217,160,613,0,1018,35,1332,607,384,354
2020-12-29,2179,1170,2745,84,403,5,43018,2797,909,6059,...,71675,168,613,0,1021,35,1351,610,385,359

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,41096,31565,65862,7288,10354,146,1407926,139113,25733,323002,...,5093,11366,74291,1,106453,1303,109377,1384,18210,10593
2020-12-28,41441,32122,66214,7318,10354,147,1414680,139675,25748,326768,...,5102,11966,74439,1,106737,1303,110927,1384,18296,10705
2020-12-29,41543,32700,66550,7360,10627,147,1420885,140942,25754,328974,...,5294,12506,74626,1,106958,1319,113082,1387,18380,11067

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3741,3780,3841,3889,3942,3990,3999,4029,4065,4105
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,946,966,979,986,997,1007,1009,1012,1017,1025
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,5582,5644,5722,5859,5996,6048,6039,6117,6162,6230
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1757,1783,1819,1859,1907,1921,1924,1939,1958,1978
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,9337,9372,9490,9609,9715,9779,9800,9856,9928,10047

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-27,345628,45781,0,494337,214877,2156389,325018,172743,55057,49,...,564080,1690986,264874,7029,1979,333576,236719,80710,508580,43200
2020-12-28,347897,45909,0,504423,216528,2192684,326668,181200,55488,49,...,567792,1700549,266590,7120,1979,336175,238672,81436,510137,43704
2020-12-29,351804,46092,0,507222,219246,2228332,328408,181967,56189,49,...,572589,1730084,269326,7202,1979,340297,240846,82773,513056,43923

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-27        4029   12825    1406  1746   4465     827   1452    9232
2020-12-28        4065   12962    1417  1762   4483     830   1457    9286
2020-12-29        4105   13172    1462  1792   4535     834   1482    9345

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-27         2214     1369  ...    1899    420     2463      582
2020-12-28         2229     1372  ...    1939    421     2491      586
2020-12-29         2275     1393  ...    1971    425     2507      590

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-27           2854  2080  1497          0      747    466
2020-12-28           2921  2108  1507          0      763    467
2020-12-29           2929  2112  1521          0      764    471

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-27,4691,200,0,8427,3482,24282,4610,5791,897,0,...,6512,26966,1214,127,23,4854,3184,1254,5039,373
2020-12-28,4712,200,0,8469,3537,24419,4631,5904,898,0,...,6588,27038,1219,129,23,4861,3195,1263,5060,405
2020-12-29,4737,201,0,8640,3603,24917,4687,5924,898,0,...,6710,27282,1235,130,23,4920,3369,1284,5152,405

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-27          47     152      32   42     58      20     45     149
2020-12-28          47     152      32   42     58      20     45     149
2020-12-29          47     156      32   42     58      20     45     149

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-27           61       23  ...       7      8       15        5
2020-12-28           61       23  ...       7      8       16        5
2020-12-29           61       23  ...       7      8       16        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-27             15     2     7          0       12      2
2020-12-28             15     3     7          0       16      2
2020-12-29             15     3     7          0       16      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,0.003007,0.008950,0.004006,0.001922,0.005306,0.000000,0.003187,0.003082,0.001024,0.004017,...,0.014360,0.031447,0.001109,0.0,0.003260,0.000694,0.009014,0.000956,0.008286,0.008794
2020-12-28,0.004722,0.005653,0.003888,0.006904,0.003248,0.019355,0.004558,0.000722,0.000423,0.004524,...,0.018064,0.034553,0.001055,0.0,0.002849,0.006940,0.009144,0.000955,0.005496,0.005429
2020-12-29,0.001365,0.010146,0.003620,0.005587,0.004336,0.000000,0.007325,0.002203,0.001129,0.005285,...,0.022799,0.037906,0.000976,0.0,0.001998,0.002068,0.008555,0.000000,0.011733,0.013462

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,0.005119,0.008749,0.002204,0.000000,0.000000,0.0,0.003506,0.005814,0.001101,0.006504,...,0.004921,0.074830,0.001634,NaN,0.000987,0.0,0.021858,0.001650,0.002618,0.023460
2020-12-28,0.006481,0.009540,0.003299,0.000000,0.010025,0.0,0.005111,0.002529,0.000000,0.008502,...,0.005038,0.012658,0.000000,NaN,0.003945,0.0,0.017571,0.000000,0.002611,0.014327
2020-12-29,0.002300,0.005155,0.002923,0.012048,0.000000,0.0,0.003499,0.007928,0.000000,0.021582,...,0.006431,0.050000,0.000000,NaN,0.002947,0.0,0.014264,0.004942,0.002604,0.014124

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,0.007650,0.012315,0.005450,0.004964,0.037891,0.000000,0.004064,0.003202,0.000117,0.007012,...,0.037271,0.047847,0.000000,0.0,0.003280,0.000000,0.011645,0.000000,0.000549,0.007035
2020-12-28,0.008395,0.017646,0.005345,0.004116,0.000000,0.006849,0.004797,0.004040,0.000583,0.011659,...,0.001767,0.052789,0.001992,0.0,0.002668,0.000000,0.014171,0.000000,0.004723,0.010573
2020-12-29,0.002461,0.017994,0.005074,0.005739,0.026367,0.000000,0.004386,0.009071,0.000233,0.006751,...,0.037632,0.045128,0.002512,0.0,0.002071,0.012279,0.019427,0.002168,0.004591,0.033816

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-27,0.006318,0.006640,NaN,0.002629,0.004244,0.016872,0.004323,0.000000,0.010721,0.0,...,0.005684,0.013697,0.003014,0.009044,0.0,0.012134,0.000000,0.006648,0.005055,0.001252
2020-12-28,0.006565,0.002796,NaN,0.020403,0.007683,0.016831,0.005077,0.048957,0.007828,0.0,...,0.006581,0.005655,0.006479,0.012946,0.0,0.007791,0.008250,0.008995,0.003061,0.011667
2020-12-29,0.011230,0.003986,NaN,0.005549,0.012553,0.016258,0.005327,0.004233,0.012633,0.0,...,0.008449,0.017368,0.010263,0.011517,0.0,0.012261,0.009109,0.016418,0.005722,0.005011

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-27      0.007502  0.009207  0.005722  0.004025  0.004274  0.002424
2020-12-28      0.008935  0.010682  0.007824  0.009164  0.004031  0.003628
2020-12-29      0.009840  0.016201  0.031757  0.017026  0.011599  0.004819

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-27      0.004149  0.003696  0.004993  0.000731  ...  0.000527
2020-12-28      0.003444  0.005849  0.006775  0.002191  ...  0.021064
2020-12-29      0.017159  0.006354  0.020637  0.015306  ...  0.016503

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-27      0.000000  0.002034  0.000000   0.003163  0.000000  0.001338
2020-12-28      0.002381  0.011368  0.006873   0.023476  0.013462  0.006680
2020-12-29      0.009501  0.006423  0.006826   0.002739  0.001898  0.009290

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-27            NaN -0.005326  0.010846
2020-12-28            NaN  0.021419  0.002146
2020-12-29            NaN  0.001311  0.008565

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-27,0.001281,0.000,NaN,0.000356,0.011915,0.002643,0.003920,0.000000,0.002235,NaN,...,0.010709,0.001858,0.001650,0.049587,0.0,0.002893,0.000000,0.000798,0.001988,0.000000
2020-12-28,0.004477,0.000,NaN,0.004984,0.015796,0.005642,0.004555,0.019513,0.001115,NaN,...,0.011671,0.002670,0.004119,0.015748,0.0,0.001442,0.003455,0.007177,0.004167,0.085791
2020-12-29,0.005306,0.005,NaN,0.020191,0.018660,0.020394,0.012092,0.003388,0.000000,NaN,...,0.018519,0.009024,0.013126,0.007752,0.0,0.012137,0.054460,0.016627,0.018182,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-27      0.021739  0.006623     0.0  0.0    0.0     0.0    0.0     0.0
2020-12-28      0.000000  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2020-12-29      0.000000  0.026316     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                            \
Admin2         Chambers Cherokee  ...    Park Platte  Sheridan Sublette
2020-12-27          0.0      0.0  ...     0.0    0.0  0.000000      0.0
2020-12-28          0.0      0.0  ...     0.0    0.0  0.066667      0.0
2020-12-29          0.0      0.0  ...     0.0    0.0  0.000000      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned  Washakie Weston
2020-12-27            0.0   0.0   0.0        NaN  0.000000    0.0
2020-12-28            0.0   0.5   0.0        NaN  0.333333    0.0
2020-12-29            0.0   0.0   0.0        NaN  0.000000    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,0.002794,0.008564,0.004222,0.004010,0.004649,0.001053,0.003349,0.003532,0.000790,0.004576,...,0.015199,0.030684,0.001280,0.0,0.003091,0.001720,0.010164,0.000628,0.008523,0.008163
2020-12-28,0.003758,0.007108,0.004055,0.005457,0.003948,0.010204,0.003953,0.002127,0.000607,0.004550,...,0.016632,0.032618,0.001168,0.0,0.002970,0.004330,0.009654,0.000792,0.007009,0.006796
2020-12-29,0.002562,0.008627,0.003837,0.005522,0.004142,0.005102,0.005639,0.002165,0.000868,0.004917,...,0.019715,0.035262,0.001072,0.0,0.002484,0.003199,0.009104,0.000396,0.009371,0.010129

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,0.005297,0.008320,0.002598,0.001017,0.003064,0.000008,0.002728,0.006493,0.000551,0.008946,...,0.005328,0.057777,0.000817,NaN,0.002277,4.787173e-37,0.019144,0.000825,0.002432,0.014847
2020-12-28,0.005889,0.008930,0.002948,0.000508,0.006544,0.000004,0.003920,0.004511,0.000275,0.008724,...,0.005183,0.035218,0.000409,NaN,0.003111,2.393587e-37,0.018357,0.000413,0.002522,0.014587
2020-12-29,0.004095,0.007043,0.002936,0.006278,0.003272,0.000002,0.003709,0.006219,0.000138,0.015153,...,0.005807,0.042609,0.000204,NaN,0.003029,1.196793e-37,0.016311,0.002677,0.002563,0.014355

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-27,0.007502,0.013597,0.005558,0.005640,0.023023,0.000604,0.005503,0.005124,0.000116,0.007701,...,0.026948,0.044180,0.001804,0.0,0.003051,0.002307,0.013294,-5.660445e-08,0.002382,0.007436
2020-12-28,0.007948,0.015622,0.005451,0.004878,0.011511,0.003727,0.005150,0.004582,0.000350,0.009680,...,0.014357,0.048485,0.001898,0.0,0.002859,0.001153,0.013733,-2.830222e-08,0.003552,0.009005
2020-12-29,0.005205,0.016808,0.005263,0.005309,0.018939,0.001863,0.004768,0.006826,0.000291,0.008216,...,0.025995,0.046806,0.002205,0.0,0.002465,0.006716,0.016580,1.083801e-03,0.004072,0.021410

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-27,0.006876,0.006277,NaN,0.007941,0.005895,0.019465,0.005452,0.001469,0.012333,2.738063e-87,...,0.010901,0.009076,0.006147,0.013042,0.001732,0.010627,0.005263,0.012282,0.004040,0.003891
2020-12-28,0.006720,0.004536,NaN,0.014172,0.006789,0.018148,0.005265,0.025213,0.010080,1.369031e-87,...,0.008741,0.007366,0.006313,0.012994,0.000866,0.009209,0.006756,0.010639,0.003551,0.007779
2020-12-29,0.008975,0.004261,NaN,0.009860,0.009671,0.017203,0.005296,0.014723,0.011357,6.845156e-88,...,0.008595,0.012367,0.008288,0.012255,0.000433,0.010735,0.007933,0.013528,0.004636,0.006395

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-27      0.007526  0.008762  0.004899  0.007012  0.004795  0.018572
2020-12-28      0.008230  0.009722  0.006362  0.008088  0.004413  0.011100
2020-12-29      0.009035  0.012962  0.019059  0.012557  0.008006  0.007959

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-27      0.003840  0.005566  0.004288  0.004070  ...  0.006133
2020-12-28      0.003642  0.005708  0.005532  0.003131  ...  0.013598
2020-12-29      0.010400  0.006031  0.013084  0.009218  ...  0.015051

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-27      0.001632  0.003894  0.001797   0.004542  0.005332  0.004762
2020-12-28      0.002006  0.007631  0.004335   0.014009  0.009397  0.005721
2020-12-29      0.005754  0.007027  0.005580   0.008374  0.005647  0.007506

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-27           -1.0  0.006597  0.006649
2020-12-28           -1.0  0.014008  0.004397
2020-12-29           -1.0  0.007659  0.006481

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-27,0.003463,0.003246,NaN,0.003823,0.008716,0.006114,0.005247,0.001000,0.003957,NaN,...,0.007409,0.003254,0.003789,0.030179,3.844931e-18,0.004234,0.000891,0.006640,0.003169,0.001017
2020-12-28,0.003970,0.001623,NaN,0.004404,0.012256,0.005878,0.004901,0.010256,0.002536,NaN,...,0.009540,0.002962,0.003954,0.022964,1.922465e-18,0.002838,0.002173,0.006908,0.003668,0.043404
2020-12-29,0.004638,0.003312,NaN,0.012297,0.015458,0.013136,0.008497,0.006822,0.001268,NaN,...,0.014029,0.005993,0.008540,0.015358,9.612327e-19,0.007488,0.028317,0.011768,0.010925,0.021702

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-27      0.012318  0.003970  0.000130  0.000016  0.002937
2020-12-28      0.006159  0.001985  0.000065  0.000008  0.001469
2020-12-29      0.003080  0.014150  0.000033  0.000004  0.000734

Province_State                                                      ...  \
Admin2               Bullock    Butler Calhoun  Chambers  Cherokee  ...
2020-12-27      3.137087e-09  0.000023  0.0032  0.000337 -0.000041  ...
2020-12-28      1.568544e-09  0.000011  0.0016  0.000168 -0.000020  ...
2020-12-29      7.842718e-10  0.000006  0.0008  0.000084 -0.000010  ...

Province_State       Wyoming                                                   \
Admin2                  Park        Platte  Sheridan      Sublette Sweetwater
2020-12-27      7.948743e-08  1.089606e-09  0.000075  2.811352e-06   0.000010
2020-12-28      3.974372e-08  5.448031e-10  0.033371  1.405676e-06   0.000005
2020-12-29      1.987186e-08  2.724016e-10  0.016685  7.028381e-07   0.000002

Province_State
Admin2                 Teton         Uinta Unassigned  Washakie        Weston
2020-12-27      2.775558e-17  4.207095e-07  -0.501961  0.001421  7.450580e-09
2020-12-28      2.500000e-01  2.103547e-07  -0.501961  0.167377  3.725290e-09
2020-12-29      1.250000e-01  1.051774e-07  -0.501961  0.083689  1.862645e-09

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201229,AK,44581,NaN,1215264,NaN,totalTestsViral,1259845,83.0,1004.0,...,1259845,1,10,a361af2c3bcebbce536c353ed985129e92e0a990,0,0,0,0,0,NaN
1,20201229,AL,351804,67865.0,1571253,NaN,totalTestsPeopleViral,1855192,2804.0,33452.0,...,1923057,25,453,8a71b3b690baaf691acb781748abcc0afecf4f66,0,0,0,0,0,NaN
2,20201229,AR,219246,36619.0,1841869,NaN,totalTestsViral,2024496,1161.0,11168.0,...,2061115,66,106,8802a41906f1d1d879d2478d9d4d55006432c137,0,0,0,0,0,NaN
3,20201229,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,088a0d2cb5ee3feab83523b457533d4d37460e2f,0,0,0,0,0,NaN
4,20201229,AZ,507222,23436.0,2310576,NaN,totalTestsViral,4961687,4475.0,36075.0,...,2817798,171,445,300af21ec1b62d8acc4d86f994787d16581697ba,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201229,AK,44581.0,NaN,1215264.0,NaN,totalTestsViral,1259845.0,83.0,1004.0,...,1259845,1,10,a361af2c3bcebbce536c353ed985129e92e0a990,0,0,0,0,0,NaN
1,20201229,AL,351804.0,67865.0,1571253.0,NaN,totalTestsPeopleViral,1855192.0,2804.0,33452.0,...,1923057,25,453,8a71b3b690baaf691acb781748abcc0afecf4f66,0,0,0,0,0,NaN
2,20201229,AR,219246.0,36619.0,1841869.0,NaN,totalTestsViral,2024496.0,1161.0,11168.0,...,2061115,66,106,8802a41906f1d1d879d2478d9d4d55006432c137,0,0,0,0,0,NaN
3,20201229,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,088a0d2cb5ee3feab83523b457533d4d37460e2f,0,0,0,0,0,NaN
4,20201229,AZ,507222.0,23436.0,2310576.0,NaN,totalTestsViral,4961687.0,4475.0,36075.0,...,2817798,171,445,300af21ec1b62d8acc4d86f994787d16581697ba,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-29,AK,44581,NaN,1215264,NaN,totalTestsViral,1259845,83.0,1004.0,NaN,...,1259845,1,10,a361af2c3bcebbce536c353ed985129e92e0a990,0,0,0,0,0,NaN
2020-12-29,AL,351804,67865.0,1571253,NaN,totalTestsPeopleViral,1855192,2804.0,33452.0,NaN,...,1923057,25,453,8a71b3b690baaf691acb781748abcc0afecf4f66,0,0,0,0,0,NaN
2020-12-29,AR,219246,36619.0,1841869,NaN,totalTestsViral,2024496,1161.0,11168.0,382.0,...,2061115,66,106,8802a41906f1d1d879d2478d9d4d55006432c137,0,0,0,0,0,NaN
2020-12-29,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,088a0d2cb5ee3feab83523b457533d4d37460e2f,0,0,0,0,0,NaN
2020-12-29,AZ,507222,23436.0,2310576,NaN,totalTestsViral,4961687,4475.0,36075.0,1053.0,...,2817798,171,445,300af21ec1b62d8acc4d86f994787d16581697ba,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-29,AK,44581.0,NaN,1215264.0,NaN,totalTestsViral,1259845.0,83.0,1004.0,NaN,...,1259845,1,10,a361af2c3bcebbce536c353ed985129e92e0a990,0,0,0,0,0,NaN
2020-12-29,AL,351804.0,67865.0,1571253.0,NaN,totalTestsPeopleViral,1855192.0,2804.0,33452.0,NaN,...,1923057,25,453,8a71b3b690baaf691acb781748abcc0afecf4f66,0,0,0,0,0,NaN
2020-12-29,AR,219246.0,36619.0,1841869.0,NaN,totalTestsViral,2024496.0,1161.0,11168.0,382.0,...,2061115,66,106,8802a41906f1d1d879d2478d9d4d55006432c137,0,0,0,0,0,NaN
2020-12-29,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,088a0d2cb5ee3feab83523b457533d4d37460e2f,0,0,0,0,0,NaN
2020-12-29,AZ,507222.0,23436.0,2310576.0,NaN,totalTestsViral,4961687.0,4475.0,36075.0,1053.0,...,2817798,171,445,300af21ec1b62d8acc4d86f994787d16581697ba,0,0,0,0,0,NaN