# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-17-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-17-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-18 05:28:18,33.93911,67.709953,49378,2025,38505,8848.0,Afghanistan,126.843320,4.101017
1,NaN,NaN,NaN,Albania,2020-12-18 05:28:18,41.15330,20.168300,51424,1055,26898,23471.0,Albania,1786.920564,2.051571
2,NaN,NaN,NaN,Algeria,2020-12-18 05:28:18,28.03390,1.659600,93933,2640,62089,29204.0,Algeria,214.209272,2.810514
3,NaN,NaN,NaN,Andorra,2020-12-18 05:28:18,42.50630,1.521800,7466,79,6875,512.0,Andorra,9662.848638,1.058130
4,NaN,NaN,NaN,Angola,2020-12-18 05:28:18,-11.20270,17.873900,16484,382,9266,6836.0,Angola,50.154767,2.317399

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,47716,47851,48053,48116,48229,48527,48718,48952,49161,49378
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,44436,45188,46061,46863,47742,48530,49191,50000,50637,51424
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,89416,90014,90579,91121,91638,92102,92597,93065,93507,93933

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1906,1919,1935,1945,1956,1965,1969,1995,2011,2025
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,936,951,965,977,989,1003,1016,1028,1040,1055
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2539,2554,2564,2575,2584,2596,2609,2623,2631,2640

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37920,38032,38099,38141,38200,38250,38252,38336,38475,38505
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,22527,23072,23609,24136,24520,24820,24820,25876,26381,26898
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,58146,58146,59135,59590,60028,60457,60888,61307,61700,62089

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3087,3117,3186,3233,3258,3300,3329,3426,3510,3570
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,9974,10087,10288,10489,10665,10806,10898,11061,11212,11364
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1240,1245,1258,1264,1269,1272,1275,1292,1296,1309

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,42,42,42,42,41,41,41,43,43,43
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,141,141,141,141,141,141,141,141,145,145
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,30,30,30,30,30,30,30,30,30,30

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-18 05:28:18,32.539527,-86.644082,3570,43,0,3527.0,"Autauga, Alabama, US",6389.947914,1.204482
686,1075.0,Lamar,Alabama,US,2020-12-18 05:28:18,33.779950,-88.096680,912,11,0,901.0,"Lamar, Alabama, US",6606.302064,1.206140
687,1077.0,Lauderdale,Alabama,US,2020-12-18 05:28:18,34.901719,-87.656247,5346,63,0,5283.0,"Lauderdale, Alabama, US",5765.186727,1.178451

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               17206647  310699          0
India             9979447  144789    9520827
Brazil            7110434  184827    6301547

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,17206647,310699,0,16895948,2020-12-18 05:28:18,37.936303,-91.379001
India,9979447,144789,9520827,313831,2020-12-18 05:28:18,23.088275,81.806127
Brazil,7110434,184827,6301547,624060,2020-12-18 05:28:18,-12.669522,-48.480493
Russia,2736727,48568,2181696,506463,2020-12-18 05:28:18,54.546312,62.120860
France,2483524,59733,187199,2236592,2020-12-18 05:28:18,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        1753974   22094          0
Texas             1551749   25177          0
Florida           1168483   20305          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,1753974,22094,0,1731880,2020-12-18 05:28:18,37.843962,-120.728594
Texas,1551749,25177,0,1526572,2020-12-18 05:28:18,31.660643,-98.653069
Florida,1168483,20305,0,1148178,2020-12-18 05:28:18,28.940755,-82.700744
Illinois,879428,15985,0,863443,2020-12-18 05:28:18,39.843618,-89.178330
New York,815469,36052,0,779417,2020-12-18 05:28:18,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     580325    8664          0
Illinois       Cook            363261    7574          0
Arizona        Maricopa        269744    4542          0
Florida        Miami-Dade      267255    4022          0
Texas          Harris          214180    3203          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,580325,8664,0,571661,2020-12-18 05:28:18,34.308284,-118.228241,6037.0
Illinois,Cook,363261,7574,0,355687,2020-12-18 05:28:18,41.841448,-87.816588,17031.0
Arizona,Maricopa,269744,4542,0,265202,2020-12-18 05:28:18,33.348359,-112.491815,4013.0
Florida,Miami-Dade,267255,4022,0,263233,2020-12-18 05:28:18,25.611236,-80.551706,12086.0
Texas,Harris,214180,3203,0,210977,2020-12-18 05:28:18,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,48952,50000,93065,7382,16362,148,1510203,149120,28060,327679,...,1893436,10418,75241,1,108480,1405,113409,2085,18428,11522
2020-12-16,49161,50637,93507,7446,16407,151,1517046,150218,28072,330343,...,1918736,10893,75538,1,108717,1405,115606,2085,18456,11749
2020-12-17,49378,51424,93933,7466,16484,151,1524372,151392,28093,332828,...,1954268,11436,75538,1,109081,1407,117755,2087,18504,11866

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,1995,1028,2623,79,372,5,41204,2529,908,4648,...,65006,98,612,0,965,35,1023,606,368,310
2020-12-16,2011,1040,2631,79,379,5,41365,2556,908,4764,...,65618,102,612,0,970,35,1048,606,369,313
2020-12-17,2025,1055,2640,79,382,5,41534,2581,908,4982,...,66150,105,612,0,975,35,1078,606,369,314

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,38336,25876,61307,6706,8990,138,1344300,127452,25690,287750,...,4093,6895,72522,1,103271,1252,88967,1384,17487,9599
2020-12-16,38475,26381,61700,6819,9194,141,1347914,128694,25696,291042,...,4106,7142,72810,1,103492,1252,90952,1384,17635,9702
2020-12-17,38505,26898,62089,6875,9266,141,1352556,129990,25699,294315,...,4123,7406,72810,1,103741,1263,92979,1384,17680,9836

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3087,3117,3186,3233,3258,3300,3329,3426,3510,3570
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,769,786,806,830,841,855,858,870,889,912
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,4722,4805,4917,4970,5005,5078,5125,5200,5243,5346
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1453,1480,1525,1541,1569,1585,1596,1617,1635,1672
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,8298,8386,8499,8595,8675,8744,8788,8857,8966,9055

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-15,301533,41858,0,424382,189198,1644742,293382,155462,47142,49,...,472875,1512531,237787,5923,1828,288309,214265,65708,475340,40064
2020-12-16,305640,42473,0,429219,191504,1708559,296716,157781,47929,49,...,484285,1534450,240715,6009,1828,292240,214265,66849,478162,40310
2020-12-17,310335,42856,0,435036,194543,1753974,300414,160102,48768,49,...,493230,1551749,243918,6149,1878,296093,214265,68485,482443,40593

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-15        3426   11061    1292  1504   3881     733   1332    7966
2020-12-16        3510   11212    1296  1520   3950     737   1343    8072
2020-12-17        3570   11364    1309  1548   4036     742   1368    8290

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-15         2040     1213  ...    1671    393     2350      548
2020-12-16         2064     1218  ...    1697    398     2359      553
2020-12-17         2076     1241  ...    1722    398     2377      554

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-15           2544  1940  1352          0      659    436
2020-12-16           2574  1958  1363          0      662    436
2020-12-17           2649  1974  1372          0      665    438

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-15,4124,179,0,7422,3016,21420,4085,5466,826,0,...,5615,24648,1077,100,23,4470,2941,1012,4408,328
2020-12-16,4198,181,0,7530,3074,21817,4156,5506,833,0,...,5668,24920,1096,105,23,4508,3042,1039,4493,328
2020-12-17,4254,183,0,7677,3112,22094,4226,5552,845,0,...,5845,25177,1126,105,23,4553,3042,1071,4561,351

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-15          43     141      30   39     49      20     44     130
2020-12-16          43     145      30   42     50      20     44     135
2020-12-17          43     145      30   42     52      20     44     136

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-15           57       24  ...       7      8       13        5
2020-12-16           57       24  ...       7      8       13        5
2020-12-17           58       24  ...       7      8       15        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-15             15     2     7          0       11      2
2020-12-16             15     2     7          0       11      2
2020-12-17             15     2     7          0       11      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,0.004803,0.016446,0.005054,0.000000,0.005222,0.00000,0.004644,0.002946,0.000428,0.008085,...,0.009904,0.038788,0.001958,0.0,0.003283,0.002140,0.020765,0.000480,0.005785,0.014439
2020-12-16,0.004269,0.012740,0.004749,0.008670,0.002750,0.02027,0.004531,0.007363,0.000428,0.008130,...,0.013362,0.045594,0.003947,0.0,0.002185,0.000000,0.019372,0.000000,0.001519,0.019701
2020-12-17,0.004414,0.015542,0.004556,0.002686,0.004693,0.00000,0.004829,0.007815,0.000748,0.007522,...,0.018518,0.049849,0.000000,0.0,0.003348,0.001423,0.018589,0.000959,0.002601,0.009958

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,0.013205,0.011811,0.005366,0.0,0.000000,0.0,0.003972,0.010388,0.0,0.026049,...,0.007845,0.031579,0.0,NaN,0.005208,0.0,0.023000,0.0,0.002725,0.003236
2020-12-16,0.008020,0.011673,0.003050,0.0,0.018817,0.0,0.003907,0.010676,0.0,0.024957,...,0.009415,0.040816,0.0,NaN,0.005181,0.0,0.024438,0.0,0.002717,0.009677
2020-12-17,0.006962,0.014423,0.003421,0.0,0.007916,0.0,0.004086,0.009781,0.0,0.045760,...,0.008108,0.029412,0.0,NaN,0.005155,0.0,0.028626,0.0,0.000000,0.003195

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,0.002196,0.042546,0.006881,0.000000,0.007396,0.000000,0.003119,0.011797,0.000039,0.012584,...,0.011117,0.045806,0.002128,0.0,0.002271,0.004815,0.021940,0.0,0.004480,0.004710
2020-12-16,0.003626,0.019516,0.006410,0.016851,0.022692,0.021739,0.002688,0.009745,0.000234,0.011440,...,0.003176,0.035823,0.003971,0.0,0.002140,0.000000,0.022312,0.0,0.008463,0.010730
2020-12-17,0.000780,0.019597,0.006305,0.008212,0.007831,0.000000,0.003444,0.010070,0.000117,0.011246,...,0.004140,0.036964,0.000000,0.0,0.002406,0.008786,0.022286,0.0,0.002552,0.013812

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-15,0.012212,0.006855,NaN,0.009837,0.011446,0.020632,0.007825,0.009546,0.014745,0.0,...,0.017758,0.013800,0.008119,0.011269,0.011621,0.011082,0.007907,0.020406,0.008604,0.007266
2020-12-16,0.013620,0.014693,NaN,0.011398,0.012188,0.038801,0.011364,0.014917,0.016694,0.0,...,0.024129,0.014492,0.012314,0.014520,0.000000,0.013635,0.000000,0.017365,0.005937,0.006140
2020-12-17,0.015361,0.009017,NaN,0.013553,0.015869,0.026581,0.012463,0.014710,0.017505,0.0,...,0.018471,0.011274,0.013306,0.023298,0.027352,0.013184,0.000000,0.024473,0.008953,0.007021

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-15      0.029138  0.014957  0.013333  0.033677  0.020510  0.006868
2020-12-16      0.024518  0.013652  0.003096  0.010638  0.017779  0.005457
2020-12-17      0.017094  0.013557  0.010031  0.018421  0.021772  0.006784

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-15     -0.005970  0.011941  0.008902  0.007475  ...  0.010278
2020-12-16      0.008258  0.013307  0.011765  0.004122  ...  0.015560
2020-12-17      0.018615  0.027007  0.005814  0.018883  ...  0.014732

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-15      0.002551  0.002132  0.007353   0.010326  0.005181  0.018839
2020-12-16      0.012723  0.003830  0.009124   0.011792  0.009278  0.008136
2020-12-17      0.000000  0.007630  0.001808   0.029138  0.008172  0.006603

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-15            NaN  0.023292  0.016317
2020-12-16            NaN  0.004552  0.000000
2020-12-17            NaN  0.004532  0.004587

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-15,0.005363,0.017045,NaN,0.008698,0.008696,0.013053,0.029227,0.004041,0.012255,NaN,...,0.013355,0.008511,0.014124,0.041667,0.0,0.012687,0.000000,0.034765,0.012868,0.021807
2020-12-16,0.017944,0.011173,NaN,0.014551,0.019231,0.018534,0.017381,0.007318,0.008475,NaN,...,0.009439,0.011035,0.017642,0.050000,0.0,0.008501,0.034342,0.026680,0.019283,0.000000
2020-12-17,0.013340,0.011050,NaN,0.019522,0.012362,0.012697,0.016843,0.008355,0.014406,NaN,...,0.031228,0.010313,0.027372,0.000000,0.0,0.009982,0.000000,0.030799,0.015135,0.070122

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State  Alabama                                                       \
Admin2          Autauga   Baldwin Barbour      Bibb    Blount Bullock Butler
2020-12-15      0.04878  0.000000     0.0 -0.025000  0.042553     0.0    0.0
2020-12-16      0.00000  0.028369     0.0  0.076923  0.020408     0.0    0.0
2020-12-17      0.00000  0.000000     0.0  0.000000  0.040000     0.0    0.0

Province_State                               ... Wyoming                   \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte  Sheridan
2020-12-15      0.007752  0.000000      0.0  ...     0.0    0.0  0.000000
2020-12-16      0.038462  0.000000      0.0  ...     0.0    0.0  0.000000
2020-12-17      0.007407  0.017544      0.0  ...     0.0    0.0  0.153846

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-15          0.0   0.071429   0.0   0.0        NaN      0.0    0.0
2020-12-16          0.0   0.000000   0.0   0.0        NaN      0.0    0.0
2020-12-17          0.0   0.000000   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,0.004467,0.015980,0.005252,0.003152,0.005042,0.000667,0.003958,0.003818,0.000381,0.008284,...,0.010407,0.039851,0.001872,0.0,0.003667,0.002560,0.017328,-0.000011,0.004335,0.010799
2020-12-16,0.004368,0.014360,0.005001,0.005911,0.003896,0.010469,0.004245,0.005590,0.000404,0.008207,...,0.011884,0.042723,0.002910,0.0,0.002926,0.001280,0.018350,-0.000005,0.002927,0.015250
2020-12-17,0.004391,0.014951,0.004778,0.004298,0.004295,0.005234,0.004537,0.006703,0.000576,0.007865,...,0.015201,0.046286,0.001455,0.0,0.003137,0.001352,0.018470,0.000477,0.002764,0.012604

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,0.008436,0.012560,0.005013,0.001611,0.003066,0.031250,0.004352,0.009232,8.411681e-09,0.021337,...,0.006081,0.026825,0.000051,NaN,0.005526,1.960826e-33,0.022802,-0.000212,0.001966,0.003790
2020-12-16,0.008228,0.012117,0.004031,0.000805,0.010942,0.015625,0.004130,0.009954,4.205840e-09,0.023147,...,0.007748,0.033821,0.000026,NaN,0.005354,9.804131e-34,0.023620,-0.000106,0.002342,0.006734
2020-12-17,0.007595,0.013270,0.003726,0.000403,0.009429,0.007813,0.004108,0.009868,2.102920e-09,0.034453,...,0.007928,0.031616,0.000013,NaN,0.005254,4.902066e-34,0.026123,-0.000053,0.001171,0.004964

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-15,0.001481,0.025194,0.007152,0.003959,0.006317,0.000249,0.003502,0.009426,0.000174,0.012397,...,0.014885,0.040548,0.001965,0.0,0.003526,0.004066,0.022834,-0.000232,0.003013,0.007106
2020-12-16,0.002553,0.022355,0.006781,0.010405,0.014504,0.010994,0.003095,0.009586,0.000204,0.011919,...,0.009031,0.038185,0.002968,0.0,0.002833,0.002033,0.022573,-0.000116,0.005738,0.008918
2020-12-17,0.001667,0.020976,0.006543,0.009309,0.011168,0.005497,0.003269,0.009828,0.000160,0.011582,...,0.006586,0.037575,0.001484,0.0,0.002619,0.005409,0.022430,-0.000058,0.004145,0.011365

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-15,0.010980,0.009860,NaN,0.016270,0.010306,0.020114,0.009462,0.018521,0.017122,1.121510e-83,...,0.019744,0.010626,0.009020,0.015365,0.009600,0.011710,0.009194,0.019731,0.007578,0.008715
2020-12-16,0.012300,0.012276,NaN,0.013834,0.011247,0.029457,0.010413,0.016719,0.016908,5.607552e-84,...,0.021936,0.012559,0.010667,0.014942,0.004800,0.012672,0.004597,0.018548,0.006757,0.007428
2020-12-17,0.013831,0.010647,NaN,0.013693,0.013558,0.028019,0.011438,0.015715,0.017207,2.803776e-84,...,0.020204,0.011916,0.011986,0.019120,0.016076,0.012928,0.002299,0.021511,0.007855,0.007224

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-15      0.019846  0.013423  0.008202  0.023680  0.015822  0.004233
2020-12-16      0.022182  0.013537  0.005649  0.017159  0.016800  0.004845
2020-12-17      0.019638  0.013547  0.007840  0.017790  0.019286  0.005815

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-15      0.002471  0.010575  0.007395  0.008178  ...  0.011823
2020-12-16      0.005364  0.011941  0.009580  0.006150  ...  0.013691
2020-12-17      0.011990  0.019474  0.007697  0.012517  ...  0.014212

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-15      0.006593  0.005839  0.006748   0.017560  0.008298  0.016086
2020-12-16      0.009658  0.004834  0.007936   0.014676  0.008788  0.012111
2020-12-17      0.004829  0.006232  0.004872   0.021907  0.008480  0.009357

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-15           -1.0  0.018396  0.008858
2020-12-16           -1.0  0.011474  0.004429
2020-12-17           -1.0  0.008003  0.004508

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-15,0.003675,0.017058,NaN,0.006348,0.011429,0.009327,0.020410,0.006242,0.007062,NaN,...,0.013530,0.006209,0.012481,0.027117,1.574884e-14,0.007675,0.000225,0.023470,0.009427,0.013659
2020-12-16,0.010809,0.014116,NaN,0.010450,0.015330,0.013931,0.018895,0.006780,0.007768,NaN,...,0.011485,0.008622,0.015061,0.038559,7.874418e-15,0.008088,0.017283,0.025075,0.014355,0.006830
2020-12-17,0.012074,0.012583,NaN,0.014986,0.013846,0.013314,0.017869,0.007567,0.011087,NaN,...,0.021356,0.009468,0.021217,0.019279,3.937209e-15,0.009035,0.008642,0.027937,0.014745,0.038476

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-15      0.022902  0.000099  0.000235 -0.011978  0.021462  0.000013
2020-12-16      0.011451  0.014234  0.000118  0.032472  0.020935  0.000006
2020-12-17      0.005726  0.007117  0.000059  0.016236  0.030468  0.000003

Province_State                                              ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers      Cherokee  ...      Park
2020-12-15      0.001488  0.004136  0.002434  3.973643e-09  ...  0.000326
2020-12-16      0.000744  0.021299  0.001217  1.986822e-09  ...  0.000163
2020-12-17      0.000372  0.014353  0.009380  9.934109e-10  ...  0.000081

Province_State                                                         \
Admin2            Platte  Sheridan  Sublette Sweetwater         Teton
2020-12-15      0.000004  0.000841  0.011515   0.039815  1.136868e-13
2020-12-16      0.000002  0.000420  0.005758   0.019908  5.684342e-14
2020-12-17      0.000001  0.077133  0.002879   0.009954  2.842171e-14

Province_State
Admin2             Uinta Unassigned  Washakie    Weston
2020-12-15      0.001723  -0.501961  0.001270  0.000031
2020-12-16      0.000862  -0.501961  0.000635  0.000015
2020-12-17      0.000431  -0.501961  0.000317  0.000008

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201217,AK,41418,NaN,1134305,NaN,totalTestsViral,1175723,140.0,921.0,...,1175723,2,0,35eda35e6c6987a9f6dac3396beff3b60e2dc49f,0,0,0,0,0,NaN
1,20201217,AL,310335,56971.0,1499349,NaN,totalTestsPeopleViral,1752713,2425.0,29559.0,...,1809684,56,0,b357032f7d16c426a76c064235896ed63f6202b7,0,0,0,0,0,NaN
2,20201217,AR,194543,29031.0,1734262,NaN,totalTestsViral,1899774,1084.0,10357.0,...,1928805,38,127,ce1ac026a38b10533d78a601bd83611f1e0880ad,0,0,0,0,0,NaN
3,20201217,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,e410d5579aee323668e557db64dc42ce339d46a8,0,0,0,0,0,NaN
4,20201217,AZ,435036,17546.0,2165904,NaN,totalTestsViral,4462666,3884.0,31851.0,...,2600940,147,383,322b661ae7d4134d63ad6c2fe4100d45b20abc8f,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201217,AK,41418.0,NaN,1134305.0,NaN,totalTestsViral,1175723.0,140.0,921.0,...,1175723,2,0,35eda35e6c6987a9f6dac3396beff3b60e2dc49f,0,0,0,0,0,NaN
1,20201217,AL,310335.0,56971.0,1499349.0,NaN,totalTestsPeopleViral,1752713.0,2425.0,29559.0,...,1809684,56,0,b357032f7d16c426a76c064235896ed63f6202b7,0,0,0,0,0,NaN
2,20201217,AR,194543.0,29031.0,1734262.0,NaN,totalTestsViral,1899774.0,1084.0,10357.0,...,1928805,38,127,ce1ac026a38b10533d78a601bd83611f1e0880ad,0,0,0,0,0,NaN
3,20201217,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,e410d5579aee323668e557db64dc42ce339d46a8,0,0,0,0,0,NaN
4,20201217,AZ,435036.0,17546.0,2165904.0,NaN,totalTestsViral,4462666.0,3884.0,31851.0,...,2600940,147,383,322b661ae7d4134d63ad6c2fe4100d45b20abc8f,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-17,AK,41418,NaN,1134305,NaN,totalTestsViral,1175723,140.0,921.0,NaN,...,1175723,2,0,35eda35e6c6987a9f6dac3396beff3b60e2dc49f,0,0,0,0,0,NaN
2020-12-17,AL,310335,56971.0,1499349,NaN,totalTestsPeopleViral,1752713,2425.0,29559.0,NaN,...,1809684,56,0,b357032f7d16c426a76c064235896ed63f6202b7,0,0,0,0,0,NaN
2020-12-17,AR,194543,29031.0,1734262,NaN,totalTestsViral,1899774,1084.0,10357.0,374.0,...,1928805,38,127,ce1ac026a38b10533d78a601bd83611f1e0880ad,0,0,0,0,0,NaN
2020-12-17,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,e410d5579aee323668e557db64dc42ce339d46a8,0,0,0,0,0,NaN
2020-12-17,AZ,435036,17546.0,2165904,NaN,totalTestsViral,4462666,3884.0,31851.0,899.0,...,2600940,147,383,322b661ae7d4134d63ad6c2fe4100d45b20abc8f,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-17,AK,41418.0,NaN,1134305.0,NaN,totalTestsViral,1175723.0,140.0,921.0,NaN,...,1175723,2,0,35eda35e6c6987a9f6dac3396beff3b60e2dc49f,0,0,0,0,0,NaN
2020-12-17,AL,310335.0,56971.0,1499349.0,NaN,totalTestsPeopleViral,1752713.0,2425.0,29559.0,NaN,...,1809684,56,0,b357032f7d16c426a76c064235896ed63f6202b7,0,0,0,0,0,NaN
2020-12-17,AR,194543.0,29031.0,1734262.0,NaN,totalTestsViral,1899774.0,1084.0,10357.0,374.0,...,1928805,38,127,ce1ac026a38b10533d78a601bd83611f1e0880ad,0,0,0,0,0,NaN
2020-12-17,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,e410d5579aee323668e557db64dc42ce339d46a8,0,0,0,0,0,NaN
2020-12-17,AZ,435036.0,17546.0,2165904.0,NaN,totalTestsViral,4462666.0,3884.0,31851.0,899.0,...,2600940,147,383,322b661ae7d4134d63ad6c2fe4100d45b20abc8f,0,0,0,0,0,NaN