# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'08-30-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'08-30-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-08-31 04:28:27,33.93911,67.709953,38162,1402,29089,7671.0,Afghanistan,98.031406,3.673812
1,NaN,NaN,NaN,Albania,2020-08-31 04:28:27,41.15330,20.168300,9380,280,5139,3961.0,Albania,325.943429,2.985075
2,NaN,NaN,NaN,Algeria,2020-08-31 04:28:27,28.03390,1.659600,44146,1501,30978,11667.0,Algeria,100.672634,3.400082
3,NaN,NaN,NaN,Andorra,2020-08-31 04:28:27,42.50630,1.521800,1124,53,902,169.0,Andorra,1454.733709,4.715302
4,NaN,NaN,NaN,Angola,2020-08-31 04:28:27,-11.20270,17.873900,2624,107,1063,1454.0,Angola,7.983870,4.077744

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37894,37953,37999,38054,38070,38113,38129,38140,38143,38162
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8119,8275,8427,8605,8759,8927,9083,9195,9279,9380
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,40667,41068,41460,41858,42228,42619,43016,43403,43781,44146

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1385,1385,1387,1389,1397,1401,1401,1402,1402,1402
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,240,245,250,254,259,263,266,271,275,280
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1418,1424,1435,1446,1456,1465,1475,1483,1491,1501

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,28016,28016,28180,28360,28440,29042,29046,29059,29063,29089
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,4096,4184,4332,4413,4530,4633,4791,4923,5020,5139
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,28587,28874,29142,29369,29587,29886,30157,30436,30717,30978

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1255,1264,1266,1286,1286,1281,1284,1296,1309,1345
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,3997,4037,4069,4083,4100,4166,4199,4230,4307,4402
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,622,626,629,633,628,616,614,620,624,628

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,22,22,22,22,22,22,22,22,22,22
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,32,32,32,32,32,33,34,35,36,36
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
631,1001.0,Autauga,Alabama,US,2020-08-31 04:28:27,32.539527,-86.644082,1345,22,0,1323.0,"Autauga, Alabama, US",2407.417351,1.635688
668,1075.0,Lamar,Alabama,US,2020-08-31 04:28:27,33.779950,-88.096680,271,2,0,269.0,"Lamar, Alabama, US",1963.056863,0.738007
669,1077.0,Lauderdale,Alabama,US,2020-08-31 04:28:27,34.901719,-87.656247,1405,23,0,1382.0,"Lauderdale, Alabama, US",1515.167855,1.637011

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                5996431  183066    2153939
Brazil            3862311  120828    3237615
India             3621245   64469    2774801

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,5996431,183066,2153939,3659426,2020-08-31 04:28:27,37.919625,-91.366793
Brazil,3862311,120828,3237615,503868,2020-08-31 04:28:27,-12.669522,-48.480493
India,3621245,64469,2774801,781975,2020-08-31 04:28:27,23.088275,81.806127
Russia,987470,17045,804941,165484,2020-08-31 04:28:27,54.546312,62.120860
Peru,639435,28607,446675,164153,2020-08-31 04:28:27,-10.637324,-75.277744

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         705951   12937          0
Texas              629570   12683          0
Florida            621586   11119          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,705951,12937,0,693014,2020-08-31 04:28:27,37.843962,-120.728594
Texas,629570,12683,0,616887,2020-08-31 04:28:27,31.660643,-98.653069
Florida,621586,11119,0,610467,2020-08-31 04:28:27,28.940755,-82.700744
New York,434100,32951,0,401149,2020-08-31 04:28:27,42.671593,-75.579694
Georgia,268973,5604,0,263369,2020-08-31 04:28:27,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                              Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles       240749    5769          0
New York       New York City     233969   23689          0
Florida        Miami-Dade        156559    2403          0
Arizona        Maricopa          133641    2962          0
Illinois       Cook              126003    5054          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,240749,5769,0,234980,2020-08-31 04:28:27,34.308284,-118.228241,6037.0
New York,New York City,233969,23689,0,210280,2020-08-31 04:28:27,40.767273,-73.971526,36061.0
Florida,Miami-Dade,156559,2403,0,154156,2020-08-31 04:28:27,25.611236,-80.551706,12086.0
Arizona,Maricopa,133641,2962,0,130679,2020-08-31 04:28:27,33.348359,-112.491815,4013.0
Illinois,Cook,126003,5054,0,120949,2020-08-31 04:28:27,41.841448,-87.816588,17031.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,38140,9195,43403,1124,2471,94,392009,43451,25547,26590,...,333806,1556,40720,43879,1038,21251,10,1943,11779,6388
2020-08-29,38143,9279,43781,1124,2551,94,401239,43626,25670,26985,...,334916,1570,41067,44946,1040,21668,10,1946,11902,6406
2020-08-30,38162,9380,44146,1124,2624,94,408426,43750,25746,27166,...,336668,1585,41424,45868,1040,22204,10,1953,12025,6412

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,1402,271,1483,53,106,3,8271,869,600,733,...,41573,43,302,366,30,145,1,563,283,195
2020-08-29,1402,275,1491,53,107,3,8353,872,611,733,...,41585,44,307,375,32,147,1,563,284,196
2020-08-30,1402,280,1501,53,107,3,8457,877,652,733,...,41586,44,313,381,32,152,1,564,287,196

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,29059,4923,30436,902,1028,89,280165,37264,20631,22594,...,1615,1352,37873,34972,663,14291,8,1107,10945,5043
2020-08-29,29063,5020,30717,902,1041,89,287220,37563,20858,22866,...,1622,1364,38250,36175,677,14631,8,1113,11092,5056
2020-08-30,29089,5139,30978,902,1063,91,294007,37650,21114,23070,...,1624,1378,38655,37091,695,14787,8,1123,11454,5061

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1255,1264,1266,1286,1286,1281,1284,1296,1309,1345
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,259,259,260,261,264,266,266,266,268,271
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1308,1320,1329,1339,1353,1364,1373,1384,1398,1405
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,389,396,402,411,419,427,432,433,442,459
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,2908,2916,2930,2940,2946,3006,3031,3091,3200,3247

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-28,122185,5092,0,200658,59583,697385,56753,52495,17083,49,...,150815,619354,50948,1589,1075,117578,73301,9826,73981,3803
2020-08-29,123889,5182,0,201287,60378,702038,57020,52495,17349,49,...,152280,626751,51406,1605,1118,118794,73879,9970,74800,3795
2020-08-30,125235,5226,0,201661,60856,705951,57203,52495,17343,49,...,153115,629570,51854,1616,1129,119729,74320,10109,75337,3829

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-08-28        1296    4230     620  517    983     530    814    2255
2020-08-29        1309    4307     624  523   1004     535    827    2316
2020-08-30        1345    4402     628  533   1025     536    835    2346

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-08-28          863      336  ...     160      7      141       48
2020-08-29          867      341  ...     159      7      147       48
2020-08-30          868      345  ...     160      7      148       48

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-08-28            296   424   292         53      108     11
2020-08-29            296   425   292         73      108     11
2020-08-30            301   429   295         73      108     11

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-28,2107,37,0,4978,756,12805,1937,4465,604,0,...,1701,12537,407,58,14,2550,1905,201,1113,37
2020-08-29,2152,37,0,5007,772,12894,1942,4465,604,0,...,1725,12607,407,58,14,2568,1905,215,1119,37
2020-08-30,2162,37,0,5030,784,12937,1942,4465,604,0,...,1747,12683,407,58,14,2569,1905,214,1122,37

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-08-28          22      35       7    5      9      13     36      27
2020-08-29          22      36       7    6      9      13     36      29
2020-08-30          22      36       7    6     10      13     36      29

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-08-28           39       11  ...       0      0        0        0
2020-08-29           39       11  ...       0      0        0        0
2020-08-30           39       11  ...       0      0        0        0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-08-28              0     0     0         36        0      0
2020-08-29              0     0     0         36        0      0
2020-08-30              0     0     0         36        0      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,0.000288,0.012331,0.008997,0.023679,0.023188,0.0,0.030811,0.004183,0.003890,0.008687,...,0.003901,0.003224,0.006750,0.022868,0.001931,0.027760,0.0,0.005173,0.015344,0.015257
2020-08-29,0.000079,0.009135,0.008709,0.000000,0.032376,0.0,0.023545,0.004028,0.004815,0.014855,...,0.003325,0.008997,0.008522,0.024317,0.001927,0.019623,0.0,0.001544,0.010442,0.002818
2020-08-30,0.000498,0.010885,0.008337,0.000000,0.028616,0.0,0.017912,0.002842,0.002961,0.006707,...,0.005231,0.009554,0.008693,0.020514,0.000000,0.024737,0.0,0.003597,0.010334,0.000937

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,0.000714,0.018797,0.005424,0.0,0.009524,0.0,0.027453,0.005787,0.029160,0.0,...,0.000217,0.000000,0.013423,0.022346,0.000000,0.028369,0.0,0.001779,0.003546,0.031746
2020-08-29,0.000000,0.014760,0.005394,0.0,0.009434,0.0,0.009914,0.003452,0.018333,0.0,...,0.000289,0.023256,0.016556,0.024590,0.066667,0.013793,0.0,0.000000,0.003534,0.005128
2020-08-30,0.000000,0.018182,0.006707,0.0,0.000000,0.0,0.012451,0.005734,0.067103,0.0,...,0.000024,0.000000,0.019544,0.016000,0.000000,0.034014,0.0,0.001776,0.010563,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,0.000448,0.027552,0.009252,0.010078,-0.229963,0.000000,0.020794,0.007462,0.013062,0.012412,...,0.032609,0.014254,0.018091,0.024160,0.040816,0.006834,0.0,0.008197,0.009686,0.006587
2020-08-29,0.000138,0.019703,0.009232,0.000000,0.012646,0.000000,0.025182,0.008024,0.011003,0.012039,...,0.004334,0.008876,0.009954,0.034399,0.021116,0.023791,0.0,0.005420,0.013431,0.002578
2020-08-30,0.000895,0.023705,0.008497,0.000000,0.021134,0.022472,0.023630,0.002316,0.012273,0.008922,...,0.001233,0.010264,0.010588,0.025321,0.026588,0.010662,0.0,0.008985,0.032636,0.000989

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-28,0.009601,0.023723,NaN,0.002593,0.014265,0.008043,0.007635,0.00277,0.006303,0.0,...,0.010967,0.007819,0.007734,0.001892,0.021863,0.008656,0.008225,0.020035,0.011526,0.018752
2020-08-29,0.013946,0.017675,NaN,0.003135,0.013343,0.006672,0.004705,0.00000,0.015571,0.0,...,0.009714,0.011943,0.008990,0.010069,0.040000,0.010342,0.007885,0.014655,0.011070,-0.002104
2020-08-30,0.010865,0.008491,NaN,0.001858,0.007917,0.005574,0.003209,0.00000,-0.000346,0.0,...,0.005483,0.004498,0.008715,0.006854,0.009839,0.007871,0.005969,0.013942,0.007179,0.008959

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-08-28      0.009346  0.007383  0.009772  0.003883  0.004086  0.005693
2020-08-29      0.010031  0.018203  0.006452  0.011605  0.021363  0.009434
2020-08-30      0.027502  0.022057  0.006410  0.019120  0.020916  0.001869

Province_State                                          ...   Wyoming         \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park Platte
2020-08-28      0.001230  0.013483  0.003488  0.000000  ...  0.000000    0.0
2020-08-29      0.015971  0.027051  0.004635  0.014881  ... -0.006250    0.0
2020-08-30      0.009674  0.012953  0.001153  0.011730  ...  0.006289    0.0

Province_State                                                               \
Admin2          Sheridan Sublette Sweetwater     Teton     Uinta Unassigned
2020-08-28      0.110236      0.0   0.003390  0.016787  0.010381   0.000000
2020-08-29      0.042553      0.0   0.000000  0.002358  0.000000   0.377358
2020-08-30      0.006803      0.0   0.016892  0.009412  0.010274   0.000000

Province_State
Admin2         Washakie Weston
2020-08-28          0.0    0.0
2020-08-29          0.0    0.0
2020-08-30          0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-28,0.014933,0.0,NaN,0.009941,0.023004,0.010097,0.003107,0.0,0.0,NaN,...,0.016736,0.013910,0.009926,0.0,0.0,0.009102,0.007937,0.015152,0.001800,0.0
2020-08-29,0.021357,0.0,NaN,0.005826,0.021164,0.006950,0.002581,0.0,0.0,NaN,...,0.014109,0.005583,0.000000,0.0,0.0,0.007059,0.000000,0.069652,0.005391,0.0
2020-08-30,0.004647,0.0,NaN,0.004594,0.015544,0.003335,0.000000,0.0,0.0,NaN,...,0.012754,0.006028,0.000000,0.0,0.0,0.000389,0.000000,-0.004651,0.002681,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                  \
Admin2         Autauga   Baldwin Barbour Bibb    Blount Bullock Butler
2020-08-28         0.0  0.029412     0.0  0.0  0.285714     0.0    0.0
2020-08-29         0.0  0.028571     0.0  0.2  0.000000     0.0    0.0
2020-08-30         0.0  0.000000     0.0  0.0  0.111111     0.0    0.0

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2020-08-28      0.038462  0.026316      0.0  ...     NaN    NaN      NaN
2020-08-29      0.074074  0.000000      0.0  ...     NaN    NaN      NaN
2020-08-30      0.000000  0.000000      0.0  ...     NaN    NaN      NaN

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-08-28          NaN        NaN   NaN   NaN        0.0      NaN    NaN
2020-08-29          NaN        NaN   NaN   NaN        0.0      NaN    NaN
2020-08-30          NaN        NaN   NaN   NaN        0.0      NaN    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,0.000511,0.015299,0.009144,0.016872,0.026259,0.000011,0.028879,0.003962,0.004521,0.010216,...,0.003979,0.003872,0.008579,0.021885,0.002789,0.026079,3.764591e-22,0.003772,0.015264,0.012760
2020-08-29,0.000295,0.012217,0.008927,0.008436,0.029317,0.000005,0.026212,0.003995,0.004668,0.012535,...,0.003652,0.006435,0.008551,0.023101,0.002358,0.022851,1.882295e-22,0.002658,0.012853,0.007789
2020-08-30,0.000396,0.011551,0.008632,0.004218,0.028967,0.000003,0.022062,0.003419,0.003814,0.009621,...,0.004442,0.007995,0.008622,0.021807,0.001179,0.023794,9.411477e-23,0.003128,0.011594,0.004363

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,0.001158,0.016478,0.006064,1.467191e-07,0.013828,1.156912e-41,0.029103,0.004722,0.028915,0.000070,...,0.000265,0.001646,0.018265,0.021560,0.014806,0.027175,0.0,0.003075,0.002436,0.044453
2020-08-29,0.000579,0.015619,0.005729,7.335956e-08,0.011631,5.784560e-42,0.019509,0.004087,0.023624,0.000035,...,0.000277,0.012451,0.017410,0.023075,0.040736,0.020484,0.0,0.001537,0.002985,0.024791
2020-08-30,0.000289,0.016901,0.006218,3.667978e-08,0.005815,2.892280e-42,0.015980,0.004911,0.045364,0.000018,...,0.000151,0.006225,0.018477,0.019537,0.020368,0.027249,0.0,0.001657,0.006774,0.012395

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-28,0.003457,0.028269,0.009174,0.00740,-0.013291,0.000032,0.021297,0.007298,0.013067,0.010642,...,0.018583,0.011891,0.017928,0.029376,0.032947,0.023646,2.205815e-24,0.005560,0.014578,0.006699
2020-08-29,0.001797,0.023986,0.009203,0.00370,-0.000323,0.000016,0.023239,0.007661,0.012035,0.011340,...,0.011459,0.010384,0.013941,0.031887,0.027031,0.023718,1.102907e-24,0.005490,0.014004,0.004638
2020-08-30,0.001346,0.023846,0.008850,0.00185,0.010405,0.011244,0.023435,0.004989,0.012154,0.010131,...,0.006346,0.010324,0.012265,0.028604,0.026810,0.017190,5.514537e-25,0.007237,0.023320,0.002814

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-28,0.011599,0.018613,NaN,0.002668,0.012646,0.007930,0.006633,0.002787,0.003460,7.279019e-51,...,0.011104,0.007924,0.007692,0.003313,0.022312,0.008661,0.007475,0.015323,0.011181,0.015669
2020-08-29,0.012772,0.018144,NaN,0.002901,0.012995,0.007301,0.005669,0.001393,0.009515,3.639509e-51,...,0.010409,0.009934,0.008341,0.006691,0.031156,0.009502,0.007680,0.014989,0.011126,0.006783
2020-08-30,0.011819,0.013317,NaN,0.002380,0.010456,0.006437,0.004439,0.000697,0.004585,1.819755e-51,...,0.007946,0.007216,0.008528,0.006772,0.020497,0.008686,0.006825,0.014465,0.009152,0.007871

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-08-28      0.005406  0.008318  0.001569  0.003883  0.006994  0.003139
2020-08-29      0.007718  0.013261  0.004010  0.007744  0.014178  0.006287
2020-08-30      0.017610  0.017659  0.005210  0.013432  0.017547  0.004078

Province_State                                          ...  Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...     Park
2020-08-28      0.002661  0.010927  0.000596  0.003062  ...  0.00191
2020-08-29      0.009316  0.018989  0.002616  0.008972  ... -0.00217
2020-08-30      0.009495  0.015971  0.001884  0.010351  ...  0.00206

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-08-28      0.000084  0.061815  0.001345   0.002894  0.010758  0.007860
2020-08-29      0.000042  0.052184  0.000672   0.001447  0.006558  0.003930
2020-08-30      0.000021  0.029493  0.000336   0.009170  0.007985  0.007102

Province_State
Admin2            Unassigned  Washakie    Weston
2020-08-28     -1.164153e-10  0.000299 -0.001411
2020-08-29      2.515723e-01  0.000150 -0.000704
2020-08-30      1.078167e-01  0.000075 -0.000352

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-28,0.012478,0.012204,NaN,0.009858,0.019973,0.010659,0.002434,0.000157,0.000348,NaN,...,0.016048,0.015323,0.009109,2.108022e-09,0.028295,0.007642,0.006073,0.023489,0.004970,0.000476
2020-08-29,0.016918,0.006102,NaN,0.007842,0.020568,0.008805,0.002507,0.000078,0.000174,NaN,...,0.015079,0.010453,0.004554,1.054011e-09,0.014147,0.007350,0.003037,0.046571,0.005180,0.000238
2020-08-30,0.010782,0.003051,NaN,0.006218,0.018056,0.006070,0.001254,0.000039,0.000087,NaN,...,0.013916,0.008241,0.002277,5.270055e-10,0.007074,0.003870,0.001518,0.020960,0.003931,0.000119

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                          \
Admin2               Autauga   Baldwin   Barbour      Bibb    Blount
2020-08-28      1.846325e-07  0.026397  0.000164 -0.020443  0.164473
2020-08-29      9.231625e-08  0.027484  0.000082  0.089779  0.082236
2020-08-30      4.615812e-08  0.013742  0.000041  0.044889  0.096674

Province_State                                                       ...  \
Admin2           Bullock        Butler   Calhoun  Chambers Cherokee  ...
2020-08-28      0.000044  1.362762e-08  0.037230  0.013158  0.05580  ...
2020-08-29      0.000022  6.813812e-09  0.055652  0.006579  0.02790  ...
2020-08-30      0.000011  3.406906e-09  0.027826  0.003289  0.01395  ...

Province_State Wyoming                                                  \
Admin2            Park Platte Sheridan Sublette Sweetwater Teton Uinta
2020-08-28         NaN    NaN      NaN      NaN        NaN   NaN   NaN
2020-08-29         NaN    NaN      NaN      NaN        NaN   NaN   NaN
2020-08-30         NaN    NaN      NaN      NaN        NaN   NaN   NaN

Province_State
Admin2         Unassigned Washakie Weston
2020-08-28       0.000491      NaN    NaN
2020-08-29       0.000245      NaN    NaN
2020-08-30       0.000123      NaN    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200830,AK,6086,340753,NaN,41.0,NaN,NaN,NaN,8.0,...,346839,0,0,23a6d4e06222fff29540cd66f84b3a0085967dc5,0,0,0,0,0,NaN
1,20200830,AL,125235,855827,NaN,969.0,14267.0,NaN,1467.0,NaN,...,981062,10,0,e134256a7879f82784279693c5236970f5fad17b,0,0,0,0,0,NaN
2,20200830,AR,60856,651831,NaN,391.0,4182.0,NaN,NaN,84.0,...,712687,12,40,933863f59e9ce543a3f40713964edc94c30893a2,0,0,0,0,0,NaN
3,20200830,AS,0,1514,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,2556ceee23885cd503a0a92fa37b9fe852084e41,0,0,0,0,0,NaN
4,20200830,AZ,201661,997780,NaN,757.0,21421.0,263.0,NaN,161.0,...,1199441,23,-12,a232b57dd11d842b04896f6d263d07ab55773faa,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200830,AK,6086.0,340753.0,NaN,41.0,NaN,NaN,NaN,8.0,...,346839,0,0,23a6d4e06222fff29540cd66f84b3a0085967dc5,0,0,0,0,0,NaN
1,20200830,AL,125235.0,855827.0,NaN,969.0,14267.0,NaN,1467.0,NaN,...,981062,10,0,e134256a7879f82784279693c5236970f5fad17b,0,0,0,0,0,NaN
2,20200830,AR,60856.0,651831.0,NaN,391.0,4182.0,NaN,NaN,84.0,...,712687,12,40,933863f59e9ce543a3f40713964edc94c30893a2,0,0,0,0,0,NaN
3,20200830,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,2556ceee23885cd503a0a92fa37b9fe852084e41,0,0,0,0,0,NaN
4,20200830,AZ,201661.0,997780.0,NaN,757.0,21421.0,263.0,NaN,161.0,...,1199441,23,-12,a232b57dd11d842b04896f6d263d07ab55773faa,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-08-30,AK,6086,340753,NaN,41.0,NaN,NaN,NaN,8.0,NaN,...,346839,0,0,23a6d4e06222fff29540cd66f84b3a0085967dc5,0,0,0,0,0,NaN
2020-08-30,AL,125235,855827,NaN,969.0,14267.0,NaN,1467.0,NaN,804.0,...,981062,10,0,e134256a7879f82784279693c5236970f5fad17b,0,0,0,0,0,NaN
2020-08-30,AR,60856,651831,NaN,391.0,4182.0,NaN,NaN,84.0,541.0,...,712687,12,40,933863f59e9ce543a3f40713964edc94c30893a2,0,0,0,0,0,NaN
2020-08-30,AS,0,1514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,2556ceee23885cd503a0a92fa37b9fe852084e41,0,0,0,0,0,NaN
2020-08-30,AZ,201661,997780,NaN,757.0,21421.0,263.0,NaN,161.0,NaN,...,1199441,23,-12,a232b57dd11d842b04896f6d263d07ab55773faa,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-08-30,AK,6086.0,340753.0,NaN,41.0,NaN,NaN,NaN,8.0,NaN,...,346839,0,0,23a6d4e06222fff29540cd66f84b3a0085967dc5,0,0,0,0,0,NaN
2020-08-30,AL,125235.0,855827.0,NaN,969.0,14267.0,NaN,1467.0,NaN,804.0,...,981062,10,0,e134256a7879f82784279693c5236970f5fad17b,0,0,0,0,0,NaN
2020-08-30,AR,60856.0,651831.0,NaN,391.0,4182.0,NaN,NaN,84.0,541.0,...,712687,12,40,933863f59e9ce543a3f40713964edc94c30893a2,0,0,0,0,0,NaN
2020-08-30,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,2556ceee23885cd503a0a92fa37b9fe852084e41,0,0,0,0,0,NaN
2020-08-30,AZ,201661.0,997780.0,NaN,757.0,21421.0,263.0,NaN,161.0,NaN,...,1199441,23,-12,a232b57dd11d842b04896f6d263d07ab55773faa,0,0,0,0,0,NaN

# TODO - CONTINUE FROM HERE