# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'03-27-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'03-27-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-28 05:28:10,33.93911,67.709953,56290,2469,49994.0,3827.0,Afghanistan,144.599021,4.386214
1,NaN,NaN,NaN,Albania,2021-03-28 05:28:10,41.15330,20.168300,123641,2204,88899.0,32538.0,Albania,4296.372229,1.782580
2,NaN,NaN,NaN,Algeria,2021-03-28 05:28:10,28.03390,1.659600,116750,3077,81242.0,32431.0,Algeria,266.242242,2.635546
3,NaN,NaN,NaN,Andorra,2021-03-28 05:28:10,42.50630,1.521800,11809,115,11172.0,522.0,Andorra,15283.763670,0.973834
4,NaN,NaN,NaN,Angola,2021-03-28 05:28:10,-11.20270,17.873900,22031,533,20269.0,1229.0,Angola,67.032253,2.419318

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/21,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56044,56069,56093,56103,56153,56177,56192,56226,56254,56290
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,119528,120022,120541,121200,121544,121847,122295,122767,123216,123641
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,115842,115970,116066,116157,116255,116349,116438,116543,116657,116750

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/21,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2462,2462,2462,2463,2464,2466,2466,2467,2467,2469
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2106,2122,2133,2137,2145,2156,2171,2184,2192,2204
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3051,3053,3055,3057,3061,3066,3069,3071,3074,3077

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/21,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49664,49681,49681,49737,49743,49752,49802,49937,49994,49994
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,83264,83954,84625,85147,85846,86497,87193,87760,88349,88899
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,80347,80455,80566,80659,80887,80981,81065,81065,81160,81242

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/18/21,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6495,6498,6510,6513,6517,6525,6533,6540,6543,6562
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20287,20317,20329,20347,20361,20354,20395,20417,20423,20453
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2202,2206,2212,2212,2213,2213,2216,2218,2221,2224

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/18/21,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,98,98,98,98,98,99,99,99,99,99
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,296,296,296,296,296,297,300,300,301,301
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,54,54,54,54,54,54,54,54,54,54

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-28 05:28:10,32.539527,-86.644082,6562,99,NaN,NaN,"Autauga, Alabama, US",11745.332832,1.508686
689,1075.0,Lamar,Alabama,US,2021-03-28 05:28:10,33.779950,-88.096680,1384,33,NaN,NaN,"Lamar, Alabama, US",10025.353133,2.384393
690,1077.0,Lauderdale,Alabama,US,2021-03-28 05:28:10,34.901719,-87.656247,9089,218,NaN,NaN,"Lauderdale, Alabama, US",9801.680165,2.398504

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               30218319  548828         0.0
Brazil           12490362  310550  10948382.0
India            11971624  161552  11323762.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,30218319,548828,0.0,29669491.0,2021-03-28 05:28:10,37.936303,-91.379001
Brazil,12490362,310550,10948382.0,1231430.0,2021-03-28 05:28:10,-12.669522,-48.480493
India,11971624,161552,11323762.0,486310.0,2021-03-28 05:28:10,23.088275,81.806127
France,4569164,94623,296179.0,4178362.0,2021-03-28 05:28:10,6.430808,-34.730285
Russia,4460348,95792,4083438.0,281118.0,2021-03-28 05:28:10,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3658350   58815        0.0
Texas             2779464   48039        0.0
Florida           2039062   33142        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3658350,58815,0.0,3599535.0,2021-03-28 05:28:10,37.843962,-120.728594
Texas,2779464,48039,0.0,2731425.0,2021-03-28 05:28:10,31.660643,-98.653069
Florida,2039062,33142,0.0,2005920.0,2021-03-28 05:28:10,28.940755,-82.700744
New York,1841822,49928,0.0,1791894.0,2021-03-28 05:28:10,42.544151,-75.474183
Illinois,1235485,23498,0.0,1211987.0,2021-03-28 05:28:10,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1217707   23080        0.0
Arizona        Maricopa        523088    9640        0.0
Illinois       Cook            493968    9628        0.0
Florida        Miami-Dade      441275    5797        0.0
Texas          Harris          374152    5747        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1217707,23080,0.0,1194627.0,2021-03-28 05:28:10,34.308284,-118.228241,6037.0
Arizona,Maricopa,523088,9640,0.0,513448.0,2021-03-28 05:28:10,33.348359,-112.491815,4013.0
Illinois,Cook,493968,9628,0.0,484340.0,2021-03-28 05:28:10,41.841448,-87.816588,17031.0
Florida,Miami-Dade,441275,5797,0.0,435478.0,2021-03-28 05:28:10,25.611236,-80.551706,12086.0
Texas,Harris,374152,5747,0.0,368405.0,2021-03-28 05:28:10,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,56226,122767,116543,11687,21914,1103,2278115,187441,29239,526393,...,4332922,89458,81816,3,154165,2579,232038,3816,87318,36778
2021-03-26,56254,123216,116657,11732,21961,1122,2291051,188446,29252,530288,...,4339157,92343,81960,3,154905,2586,233549,3900,87583,36805
2021-03-27,56290,123641,116750,11809,22031,1122,2301389,189540,29259,533786,...,4343066,95278,82146,3,155663,2586,234748,3969,87583,36818

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,2467,2184,3071,114,532,28,55092,3416,909,9178,...,126684,856,624,0,1532,35,2521,810,1191,1518
2021-03-26,2467,2192,3074,114,532,28,55235,3434,909,9200,...,126755,875,624,0,1543,35,2537,820,1194,1518
2021-03-27,2469,2204,3077,115,533,28,55368,3450,909,9231,...,126813,901,625,0,1555,35,2557,832,1198,1519

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,49937,87760,81065,11111,20190,748,2056472,169727,22991,483460,...,12563,72919,80143,1,142909,2265,205289,1580,83895,34555
2021-03-26,49994,88349,81160,11149,20250,784,2064479,170160,22994,486088,...,12567,74339,80248,1,143468,2265,206914,1588,84018,34572
2021-03-27,49994,88899,81242,11172,20269,784,2072228,170903,22996,488964,...,12712,76030,80360,1,144229,2308,208676,1590,84264,34575

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/18/21,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6495,6498,6510,6513,6517,6525,6533,6540,6543,6562
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1368,1369,1372,1372,1373,1372,1378,1378,1382,1384
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9000,9007,9019,9024,9034,9034,9065,9070,9076,9089
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2908,2910,2908,2910,2910,2910,2911,2912,2914,2917
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15231,15248,15274,15282,15290,15292,15333,15355,15371,15381

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-25,513138,61976,0,837987,329511,3653168,454893,303510,93038,49,...,806011,2769451,383260,18215,2877,610263,358606,139251,632123,55920
2021-03-26,513580,62161,0,838558,329695,3656610,456302,305210,93325,49,...,806792,2776370,383713,18498,2888,612062,359666,139750,632945,56046
2021-03-27,514072,62161,0,839334,329860,3658350,457597,305210,93701,49,...,806792,2779464,384173,18623,2901,613974,361115,140316,633663,56046

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-03-25        6540   20417    2218  2534   6408    1200   2082   14188
2021-03-26        6543   20423    2221  2535   6415    1201   2087   14192
2021-03-27        6562   20453    2224  2535   6420    1202   2093   14197

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-25         3478     1798  ...    2641    607     3057      692
2021-03-26         3481     1801  ...    2643    607     3064      693
2021-03-27         3484     1804  ...    2643    607     3064      693

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-25           3961  3549  2115          0      890    632
2021-03-26           3990  3562  2119          0      890    632
2021-03-27           3990  3562  2119          0      890    632

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-25,10504,313,0,16874,5571,58434,6082,7862,1536,0,...,11796,47822,2088,223,25,10147,5213,2624,7267,695
2021-03-26,10523,313,0,16898,5583,58644,6086,7865,1536,0,...,11816,47947,2091,224,26,10154,5218,2628,7271,695
2021-03-27,10526,313,0,16912,5590,58815,6089,7865,1544,0,...,11816,48039,2101,224,26,10178,5218,2631,7274,695

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-25          99     300      54   58    131      39     66     304
2021-03-26          99     301      54   58    131      39     66     304
2021-03-27          99     301      54   58    131      39     66     304

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-25          116       43  ...      30     11       31        7
2021-03-26          116       43  ...      30     11       31        7
2021-03-27          116       43  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-25             36     9    12          0       26      5
2021-03-26             36     9    12          0       26      5
2021-03-27             36     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,0.000605,0.003860,0.000902,0.004210,0.003572,0.021296,0.003629,0.006751,0.000308,0.005970,...,0.001451,0.018745,0.001690,0.0,0.005544,0.001165,0.008528,0.030516,0.003736,0.000789
2021-03-26,0.000498,0.003657,0.000978,0.003850,0.002145,0.017226,0.005678,0.005362,0.000445,0.007399,...,0.001439,0.032250,0.001760,0.0,0.004800,0.002714,0.006512,0.022013,0.003035,0.000734
2021-03-27,0.000640,0.003449,0.000797,0.006563,0.003187,0.000000,0.004512,0.005805,0.000239,0.006596,...,0.000901,0.031784,0.002269,0.0,0.004893,0.000000,0.005134,0.017692,0.000000,0.000353

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,0.000406,0.005988,0.000652,0.000000,0.00000,0.0,0.002657,0.005297,0.0,0.002950,...,0.000498,0.015421,0.001605,NaN,0.007232,0.0,0.007997,0.012500,0.003370,0.001319
2021-03-26,0.000000,0.003663,0.000977,0.000000,0.00000,0.0,0.002596,0.005269,0.0,0.002397,...,0.000560,0.022196,0.000000,NaN,0.007180,0.0,0.006347,0.012346,0.002519,0.000000
2021-03-27,0.000811,0.005474,0.000976,0.008772,0.00188,0.0,0.002408,0.004659,0.0,0.003370,...,0.000458,0.029714,0.001603,NaN,0.007777,0.0,0.007883,0.014634,0.003350,0.000659

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,0.002711,0.006503,0.000000,0.002617,0.000892,0.046154,0.003630,0.001428,0.000131,0.005957,...,0.013390,0.018593,0.001224,0.0,0.003708,0.000000,0.009585,0.001902,0.003325,0.002291
2021-03-26,0.001141,0.006711,0.001172,0.003420,0.002972,0.048128,0.003894,0.002551,0.000130,0.005436,...,0.000318,0.019474,0.001310,0.0,0.003912,0.000000,0.007916,0.005063,0.001466,0.000492
2021-03-27,0.000000,0.006225,0.001010,0.002063,0.000938,0.000000,0.003753,0.004366,0.000087,0.005917,...,0.011538,0.022747,0.001396,0.0,0.005304,0.018985,0.008516,0.001259,0.002928,0.000087

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-25,0.000833,0.002361,NaN,0.000165,0.001015,0.000693,0.003027,0.004927,0.002359,0.0,...,0.001888,0.001154,0.001377,0.010373,0.000348,0.002561,0.003097,0.003119,0.001302,0.000590
2021-03-26,0.000861,0.002985,NaN,0.000681,0.000558,0.000942,0.003097,0.005601,0.003085,0.0,...,0.000969,0.002498,0.001182,0.015537,0.003823,0.002948,0.002956,0.003583,0.001300,0.002253
2021-03-27,0.000958,0.000000,NaN,0.000925,0.000500,0.000476,0.002838,0.000000,0.004029,0.0,...,0.000000,0.001114,0.001199,0.006757,0.004501,0.003124,0.004029,0.004050,0.001134,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-25      0.001071  0.001079  0.000903 -0.000394  0.000937  0.002506
2021-03-26      0.000459  0.000294  0.001353  0.000395  0.001092  0.000833
2021-03-27      0.002904  0.001469  0.001351  0.000000  0.000779  0.000833

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-25      0.002407  0.000141  0.002017  0.000556  ...  0.000000
2021-03-26      0.002402  0.000282  0.000863  0.001669  ...  0.000757
2021-03-27      0.002875  0.000352  0.000862  0.001666  ...  0.000000

Province_State                                                              \
Admin2           Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-25      0.00165  0.000655  0.000000   0.002024  0.000564  0.000947
2021-03-26      0.00000  0.002290  0.001445   0.007321  0.003663  0.001891
2021-03-27      0.00000  0.000000  0.000000   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned Washakie Weston
2021-03-25            NaN      0.0    0.0
2021-03-26            NaN      0.0    0.0
2021-03-27            NaN      0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-25,0.001621,0.003205,NaN,0.001900,0.001978,0.008213,0.000823,0.001274,0.000651,NaN,...,0.000339,0.002789,0.002882,0.004505,0.00,0.000394,0.002500,0.001909,0.000551,0.0
2021-03-26,0.001809,0.000000,NaN,0.001422,0.002154,0.003594,0.000658,0.000382,0.000000,NaN,...,0.001695,0.002614,0.001437,0.004484,0.04,0.000690,0.000959,0.001524,0.000550,0.0
2021-03-27,0.000285,0.000000,NaN,0.000829,0.001254,0.002916,0.000493,0.000000,0.005208,NaN,...,0.000000,0.001919,0.004782,0.000000,0.00,0.002364,0.000000,0.001142,0.000413,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-25         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2021-03-26         0.0  0.003333     0.0  0.0    0.0     0.0    0.0     0.0
2021-03-27         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                     ... Wyoming                           \
Admin2          Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-25      0.008696  0.02381  ...     0.0    0.0      0.0      0.0
2021-03-26      0.000000  0.00000  ...     0.0    0.0      0.0      0.0
2021-03-27      0.000000  0.00000  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-25            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-26            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-27            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,0.000497,0.003644,0.000852,0.003985,0.002807,0.014404,0.003593,0.005932,0.000304,0.006058,...,0.001365,0.020569,0.001352,0.000008,0.005292,0.000774,0.008855,0.028822,0.003047,0.000782
2021-03-26,0.000498,0.003651,0.000915,0.003918,0.002476,0.015815,0.004636,0.005647,0.000374,0.006729,...,0.001402,0.026409,0.001556,0.000004,0.005046,0.001744,0.007683,0.025417,0.003041,0.000758
2021-03-27,0.000569,0.003550,0.000856,0.005240,0.002832,0.007907,0.004574,0.005726,0.000307,0.006662,...,0.001151,0.029097,0.001913,0.000002,0.004970,0.000872,0.006409,0.021555,0.001520,0.000556

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,0.000347,0.005863,0.000901,0.002215,0.001451,0.000595,0.002446,0.005083,1.779281e-30,0.003026,...,0.000595,0.017711,0.001004,NaN,0.006778,1.546819e-63,0.008722,0.015843,0.002658,0.000961
2021-03-26,0.000173,0.004763,0.000939,0.001107,0.000726,0.000297,0.002521,0.005176,8.896405e-31,0.002711,...,0.000578,0.019953,0.000502,NaN,0.006979,7.734096e-64,0.007534,0.014094,0.002589,0.000481
2021-03-27,0.000492,0.005119,0.000957,0.004940,0.001303,0.000149,0.002464,0.004918,4.448202e-31,0.003041,...,0.000518,0.024834,0.001052,NaN,0.007378,3.867048e-64,0.007709,0.014364,0.002969,0.000570

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-25,0.001687,0.007175,0.000661,0.002807,0.001496,0.029326,0.003256,0.001799,0.000183,0.005662,...,0.008964,0.018308,0.000973,0.0,0.004283,0.003903,0.008940,0.004995,0.002524,0.001954
2021-03-26,0.001414,0.006943,0.000917,0.003113,0.002234,0.038727,0.003575,0.002175,0.000157,0.005549,...,0.004641,0.018891,0.001142,0.0,0.004097,0.001951,0.008428,0.005029,0.001995,0.001223
2021-03-27,0.000707,0.006584,0.000963,0.002588,0.001586,0.019364,0.003664,0.003271,0.000122,0.005733,...,0.008090,0.020819,0.001269,0.0,0.004701,0.010468,0.008472,0.003144,0.002461,0.000655

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-25,0.000968,0.002814,NaN,0.000415,0.000819,0.000720,0.002762,0.004734,0.002299,8.847157e-114,...,0.001871,0.001283,0.001278,0.008108,0.010022,0.002401,0.002711,0.002848,0.001342,0.001034
2021-03-26,0.000915,0.002899,NaN,0.000548,0.000689,0.000831,0.002930,0.005168,0.002692,4.423579e-114,...,0.001420,0.001891,0.001230,0.011823,0.006923,0.002674,0.002833,0.003216,0.001321,0.001643
2021-03-27,0.000936,0.001450,NaN,0.000737,0.000595,0.000654,0.002884,0.002584,0.003360,2.211789e-114,...,0.000710,0.001503,0.001214,0.009290,0.005712,0.002899,0.003431,0.003633,0.001228,0.000822

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-25      0.001095  0.001103  0.000886  0.000430  0.001103  0.001783
2021-03-26      0.000777  0.000699  0.001119  0.000412  0.001097  0.001308
2021-03-27      0.001840  0.001084  0.001235  0.000206  0.000938  0.001070

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-25      0.001770  0.000508  0.001186  0.000721  ...  0.000045
2021-03-26      0.002086  0.000395  0.001024  0.001195  ...  0.000401
2021-03-27      0.002480  0.000374  0.000943  0.001430  ...  0.000201

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-25      0.000952  0.000521  0.001575   0.001516  0.001831  0.001023
2021-03-26      0.000476  0.001405  0.001510   0.004419  0.002747  0.001457
2021-03-27      0.000238  0.000703  0.000755   0.002209  0.001374  0.000729

Province_State
Admin2         Unassigned  Washakie    Weston
2021-03-25           -1.0  0.000281  0.000198
2021-03-26           -1.0  0.000141  0.000099
2021-03-27           -1.0  0.000070  0.000050

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-25,0.001922,0.002454,NaN,0.002101,0.001779,0.005456,0.000636,0.001018,0.000872,NaN,...,0.001540,0.002714,0.003079,0.005264,4.736952e-15,0.000549,0.002131,0.001918,0.001134,0.000364
2021-03-26,0.001866,0.001227,NaN,0.001762,0.001967,0.004525,0.000647,0.000700,0.000436,NaN,...,0.001618,0.002664,0.002258,0.004874,2.000000e-02,0.000619,0.001545,0.001721,0.000842,0.000182
2021-03-27,0.001075,0.000613,NaN,0.001295,0.001610,0.003721,0.000570,0.000350,0.002822,NaN,...,0.000809,0.002291,0.003520,0.002437,1.000000e-02,0.001491,0.000773,0.001431,0.000627,0.000091

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                             \
Admin2           Autauga   Baldwin  Barbour          Bibb    Blount
2021-03-25      0.001378  0.002968  0.00004 -1.585445e-08  0.001953
2021-03-26      0.000689  0.003151  0.00002 -7.927224e-09  0.000977
2021-03-27      0.000345  0.001575  0.00001 -3.963612e-09  0.000488

Province_State                                                            ...  \
Admin2               Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2021-03-25      8.255404e-07  1.219021e-10  0.000453  0.006584  0.011905  ...
2021-03-26      4.127702e-07  6.095107e-11  0.000226  0.003292  0.005953  ...
2021-03-27      2.063851e-07  3.047553e-11  0.000113  0.001646  0.002976  ...

Province_State   Wyoming                                                      \
Admin2              Park        Platte  Sheridan      Sublette    Sweetwater
2021-03-25      0.004311  1.749783e-19  0.000033  1.430333e-25  5.159058e-09
2021-03-26      0.002155  8.748914e-20  0.000016  7.151666e-26  2.579529e-09
2021-03-27      0.001078  4.374457e-20  0.000008  3.575833e-26  1.289765e-09

Province_State                                                       \
Admin2                 Teton         Uinta Unassigned      Washakie
2021-03-25      4.565893e-13  2.320359e-20  -0.501961  8.886901e-18
2021-03-26      2.282946e-13  1.160179e-20  -0.501961  4.443451e-18
2021-03-27      1.141473e-13  5.800897e-21  -0.501961  2.221725e-18

Province_State
Admin2                Weston
2021-03-25      1.887379e-16
2021-03-26      9.436896e-17
2021-03-27      4.718448e-17

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN