# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-01-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-01-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-02 05:22:49,33.93911,67.709953,55059,2404,47723,4932.0,Afghanistan,141.436801,4.366225
1,NaN,NaN,NaN,Albania,2021-02-02 05:22:49,41.15330,20.168300,78992,1393,47922,29677.0,Albania,2744.874557,1.763470
2,NaN,NaN,NaN,Algeria,2021-02-02 05:22:49,28.03390,1.659600,107578,2894,73530,31154.0,Algeria,245.325978,2.690141
3,NaN,NaN,NaN,Andorra,2021-02-02 05:22:49,42.50630,1.521800,9972,101,9206,665.0,Andorra,12906.231800,1.012836
4,NaN,NaN,NaN,Angola,2021-02-02 05:22:49,-11.20270,17.873900,19829,466,18180,1183.0,Angola,60.332375,2.350093

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,54559,54595,54672,54750,54854,54891,54939,55008,55023,55059
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,71441,72274,72812,73691,74567,75454,76350,77251,78127,78992
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,105369,105596,105854,106097,106359,106610,106887,107122,107339,107578

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2373,2378,2385,2389,2389,2397,2399,2400,2400,2404
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1310,1315,1324,1332,1339,1350,1358,1369,1380,1393
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2861,2863,2866,2871,2877,2881,2884,2888,2891,2894

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,46943,47298,47365,47459,47549,47583,47606,47609,47679,47723
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,43384,43890,44291,44880,45383,45906,46420,46927,47424,47922
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,71755,71945,72143,72336,72538,72745,72956,73152,73344,73530

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5358,5376,5407,5440,5499,5554,5596,5596,5669,5683
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,17128,17256,17333,17496,17629,17779,17922,17922,18126,18211
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1805,1827,1834,1882,1898,1920,1931,1931,1951,1956

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,62,62,62,65,67,69,69,69,69,69
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,189,189,189,216,217,225,224,224,224,224
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,38,38,38,40,40,40,40,40,40,40

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
651,1001.0,Autauga,Alabama,US,2021-02-02 05:22:49,32.539527,-86.644082,5683,69,0,5614.0,"Autauga, Alabama, US",10172.009522,1.214147
688,1075.0,Lamar,Alabama,US,2021-02-02 05:22:49,33.779950,-88.096680,1249,28,0,1221.0,"Lamar, Alabama, US",9047.446577,2.241793
689,1077.0,Lauderdale,Alabama,US,2021-02-02 05:22:49,34.901719,-87.656247,8191,156,0,8035.0,"Lauderdale, Alabama, US",8833.266831,1.904529

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               26317540  443205          0
India            10766245  154486   10448406
Brazil            9229322  225099    8202354

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,26317540,443205,0,25874335,2021-02-02 05:22:49,37.936303,-91.379001
India,10766245,154486,10448406,163353,2021-02-02 05:22:49,23.088275,81.806127
Brazil,9229322,225099,8202354,801869,2021-02-02 05:22:49,-12.669522,-48.480493
United Kingdom,3846851,106774,9735,3730342,2021-02-02 05:22:49,30.744028,-35.367255
Russia,3825739,72456,3282631,470652,2021-02-02 05:22:49,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3339067   41252          0
Texas             2412627   37245          0
Florida           1727107   26685          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3339067,41252,0,3297815,2021-02-02 05:22:49,37.843962,-120.728594
Texas,2412627,37245,0,2375382,2021-02-02 05:22:49,31.660643,-98.653069
Florida,1727107,26685,0,1700422,2021-02-02 05:22:49,28.940755,-82.700744
New York,1428839,43805,0,1385034,2021-02-02 05:22:49,42.544151,-75.474183
Illinois,1128613,21273,0,1107340,2021-02-02 05:22:49,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1120895   16854          0
Arizona        Maricopa        475261    7462          0
Illinois       Cook            454485    8878          0
Florida        Miami-Dade      373423    4905          0
Texas          Harris          319800    4264          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1120895,16854,0,1104041,2021-02-02 05:22:49,34.308284,-118.228241,6037.0
Arizona,Maricopa,475261,7462,0,467799,2021-02-02 05:22:49,33.348359,-112.491815,4013.0
Illinois,Cook,454485,8878,0,445607,2021-02-02 05:22:49,41.841448,-87.816588,17031.0
Florida,Miami-Dade,373423,4905,0,368518,2021-02-02 05:22:49,25.611236,-80.551706,12086.0
Texas,Harris,319800,4264,0,315536,2021-02-02 05:22:49,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,55008,77251,107122,9885,19782,218,1922264,166901,28811,413208,...,3806993,41181,78711,1,126323,1767,158559,2120,53352,33273
2021-01-31,55023,78127,107339,9937,19796,234,1927239,167026,28818,414398,...,3828183,41738,78711,1,126927,1817,158962,2121,54217,33388
2021-02-01,55059,78992,107578,9972,19829,234,1933853,167088,28823,415522,...,3846851,42128,78755,1,127346,1850,159443,2122,55042,33548

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,2400,1369,2888,101,464,7,47931,3071,909,7703,...,105777,431,621,0,1183,35,1831,615,745,1193
2021-01-31,2400,1380,2891,101,466,7,47974,3080,909,7721,...,106367,436,621,0,1189,35,1833,615,763,1217
2021-02-01,2404,1393,2894,101,466,7,48249,3084,909,7778,...,106774,444,621,0,1196,35,1840,615,780,1234

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,47609,46927,73152,9045,18015,175,1712868,157314,26057,391076,...,9580,33914,77191,1,118385,1456,148583,1426,45443,25361
2021-01-31,47679,47424,73344,9093,18035,177,1721650,157519,26061,392497,...,9652,34683,77191,1,118887,1457,148993,1426,48000,26044
2021-02-01,47723,47922,73530,9206,18180,177,1729999,157800,26064,393747,...,9735,35535,77221,1,119291,1460,149621,1426,49394,26583

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5358,5376,5407,5440,5499,5554,5596,5596,5669,5683
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1199,1202,1206,1213,1220,1230,1235,1235,1248,1249
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,7847,7871,7946,7986,8049,8088,8134,8134,8180,8191
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2533,2541,2558,2569,2597,2616,2628,2628,2647,2654
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,13137,13205,13261,13378,13482,13602,13679,13679,13829,13878

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-30,455582,54216,0,753379,294387,3310949,395019,250023,77551,49,...,724742,2363266,345430,11831,2398,502221,311597,120340,590997,51704
2021-01-31,459639,54351,0,758404,295268,3324264,396185,250023,78071,49,...,727861,2376344,346624,11965,2398,504779,311597,121001,592140,51912
2021-02-01,460860,54459,0,762145,296494,3339067,397101,253954,78495,49,...,729187,2412627,347208,12083,2421,507640,313335,121425,592921,52057

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-01-30        5596   17922    1931  2284   5655    1075   1800   11918
2021-01-31        5669   18126    1951  2307   5713    1086   1812   12011
2021-02-01        5683   18211    1956  2309   5720    1089   1827   12062

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-30         3174     1688  ...    2527    553     2869      649
2021-01-31         3203     1704  ...    2541    557     2884      650
2021-02-01         3210     1707  ...    2543    562     2886      654

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-30           3472  3078  1960          0      864    610
2021-01-31           3486  3116  1963          0      866    610
2021-02-01           3503  3146  1968          0      866    609

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-30,7566,262,0,13098,4838,40702,5620,7046,1081,0,...,9574,36924,1663,173,24,6449,4285,2015,6430,596
2021-01-31,7688,262,0,13120,4868,40928,5640,7046,1090,0,...,9650,37074,1665,174,24,6464,4285,2024,6434,596
2021-02-01,7688,262,0,13124,4895,41252,5641,7119,1101,0,...,9753,37245,1668,175,24,6474,4318,2028,6436,596

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-01-30          69     224      40   51     98      29     60     232
2021-01-31          69     224      40   52    100      29     60     232
2021-02-01          69     224      40   52    100      29     60     232

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-30           76       35  ...      20     11       19        7
2021-01-31           76       35  ...      20     11       19        7
2021-02-01           76       35  ...      20     11       19        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-30             32     6    12          0       25      4
2021-01-31             32     6    12          0       25      4
2021-02-01             32     6    12          0       25      4

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,0.001256,0.011801,0.002199,0.004880,0.002991,0.000000,0.003603,0.001038,0.000174,0.003590,...,0.006185,0.016087,0.001387,0.0,0.004349,0.066385,0.002472,0.000000,0.033473,0.009741
2021-01-31,0.000273,0.011340,0.002026,0.005260,0.000708,0.073394,0.002588,0.000749,0.000243,0.002880,...,0.005566,0.013526,0.000000,0.0,0.004781,0.028297,0.002542,0.000472,0.016213,0.003456
2021-02-01,0.000654,0.011072,0.002227,0.003522,0.001667,0.000000,0.003432,0.000371,0.000174,0.002712,...,0.004876,0.009344,0.000559,0.0,0.003301,0.018162,0.003026,0.000471,0.015217,0.004792

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,0.000417,0.008100,0.001387,0.01,0.00000,0.166667,0.003265,0.000652,0.0,0.005876,...,0.011523,0.014118,0.0,NaN,0.005098,0.0,0.004388,0.0,0.023352,0.012733
2021-01-31,0.000000,0.008035,0.001039,0.00,0.00431,0.000000,0.000897,0.002931,0.0,0.002337,...,0.005578,0.011601,0.0,NaN,0.005072,0.0,0.001092,0.0,0.024161,0.020117
2021-02-01,0.001667,0.009420,0.001038,0.00,0.00000,0.000000,0.005732,0.001299,0.0,0.007382,...,0.003826,0.018349,0.0,NaN,0.005887,0.0,0.003819,0.0,0.022280,0.013969

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,0.000063,0.010922,0.002687,0.006566,0.005414,0.000000,0.005523,0.002575,0.000461,0.004108,...,0.018715,0.023170,0.001388,0.0,0.004395,0.005525,0.002990,0.000702,0.029683,0.019661
2021-01-31,0.001470,0.010591,0.002625,0.005307,0.001110,0.011429,0.005127,0.001303,0.000154,0.003634,...,0.007516,0.022675,0.000000,0.0,0.004240,0.000687,0.002759,0.000000,0.056268,0.026931
2021-02-01,0.000923,0.010501,0.002536,0.012427,0.008040,0.000000,0.004849,0.001784,0.000115,0.003185,...,0.008599,0.024565,0.000389,0.0,0.003398,0.002059,0.004215,0.000000,0.029042,0.020696

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-30,0.000000,0.002849,NaN,0.006841,0.006235,0.005289,0.003965,0.000000,0.008007,0.0,...,0.003116,0.006421,0.004268,0.014840,0.000000,0.008654,0.005797,0.007307,0.002737,0.000271
2021-01-31,0.008905,0.002490,NaN,0.006670,0.002993,0.004022,0.002952,0.000000,0.006705,0.0,...,0.004304,0.005534,0.003457,0.011326,0.000000,0.005093,0.000000,0.005493,0.001934,0.004023
2021-02-01,0.002656,0.001987,NaN,0.004933,0.004152,0.004453,0.002312,0.015723,0.005431,0.0,...,0.001822,0.015268,0.001685,0.009862,0.009591,0.005668,0.005578,0.003504,0.001319,0.002793

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-30      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2021-01-31      0.013045  0.011383  0.010357  0.010070  0.010256  0.010233
2021-02-01      0.002470  0.004689  0.002563  0.000867  0.001225  0.002762

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-30      0.000000  0.000000  0.000000  0.000000  ... -0.001975
2021-01-31      0.006667  0.007803  0.009137  0.009479  ...  0.005540
2021-02-01      0.008278  0.004246  0.002185  0.001761  ...  0.000787

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-30      0.001812  0.000349  0.000000   0.002309  0.000000  0.000510
2021-01-31      0.007233  0.005228  0.001541   0.004032  0.012346  0.001531
2021-02-01      0.008977  0.000693  0.006154   0.004877  0.009628  0.002547

Province_State
Admin2         Unassigned  Washakie    Weston
2021-01-30            NaN  0.000000  0.000000
2021-01-31            NaN  0.002315  0.000000
2021-02-01            NaN  0.000000 -0.001639

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-30,0.000000,0.0,NaN,0.005836,0.001449,0.011531,0.004648,0.00000,0.002783,NaN,...,0.011944,0.007476,0.004834,0.005814,0.0,0.010974,0.000000,0.004487,0.006260,0.0
2021-01-31,0.016125,0.0,NaN,0.001680,0.006201,0.005553,0.003559,0.00000,0.008326,NaN,...,0.007938,0.004062,0.001203,0.005780,0.0,0.002326,0.000000,0.004467,0.000622,0.0
2021-02-01,0.000000,0.0,NaN,0.000305,0.005546,0.007916,0.000177,0.01036,0.010092,NaN,...,0.010674,0.004612,0.001802,0.005747,0.0,0.001547,0.007701,0.001976,0.000311,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour      Bibb    Blount Bullock Butler
2021-01-30         0.0     0.0     0.0  0.000000  0.000000     0.0    0.0
2021-01-31         0.0     0.0     0.0  0.019608  0.020408     0.0    0.0
2021-02-01         0.0     0.0     0.0  0.000000  0.000000     0.0    0.0

Province_State                            ... Wyoming                  \
Admin2         Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2021-01-30         0.0      0.0      0.0  ...     0.0    0.0      0.0
2021-01-31         0.0      0.0      0.0  ...     0.0    0.0      0.0
2021-02-01         0.0      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-30          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-01-31          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-02-01          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,0.001134,0.011766,0.002344,0.005553,0.003054,0.008242,0.004376,0.000910,0.000199,0.003609,...,0.006839,0.015920,0.000982,0.0,0.003836,0.042126,0.003058,0.000047,0.030148,0.009858
2021-01-31,0.000703,0.011553,0.002185,0.005407,0.001881,0.040818,0.003482,0.000829,0.000221,0.003245,...,0.006203,0.014723,0.000491,0.0,0.004309,0.035211,0.002800,0.000260,0.023181,0.006657
2021-02-01,0.000679,0.011312,0.002206,0.004465,0.001774,0.020409,0.003457,0.000600,0.000197,0.002979,...,0.005540,0.012033,0.000525,0.0,0.003805,0.026686,0.002913,0.000365,0.019199,0.005725

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,0.000967,0.007251,0.001346,0.008499,0.000786,0.083335,0.003484,0.001141,3.205268e-14,0.006157,...,0.012148,0.018314,0.000007,NaN,0.005099,2.786502e-47,0.004417,0.000010,0.025831,0.017958
2021-01-31,0.000484,0.007643,0.001193,0.004249,0.002548,0.041667,0.002191,0.002036,1.602634e-14,0.004247,...,0.008863,0.014958,0.000003,NaN,0.005085,1.393251e-47,0.002754,0.000005,0.024996,0.019038
2021-02-01,0.001075,0.008532,0.001115,0.002125,0.001274,0.020834,0.003962,0.001667,8.013169e-15,0.005815,...,0.006345,0.016653,0.000002,NaN,0.005486,6.966254e-48,0.003287,0.000002,0.023638,0.016503

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-30,0.000515,0.011139,0.002769,0.006770,0.007516,0.003659,0.005713,0.002585,0.000410,0.004110,...,0.013616,0.024021,0.001003,0.0,0.003896,0.006181,0.003530,0.000406,0.032043,0.020828
2021-01-31,0.000993,0.010865,0.002697,0.006038,0.004313,0.007544,0.005420,0.001944,0.000282,0.003872,...,0.010566,0.023348,0.000501,0.0,0.004068,0.003434,0.003145,0.000203,0.044156,0.023880
2021-02-01,0.000958,0.010683,0.002617,0.009233,0.006177,0.003772,0.005135,0.001864,0.000198,0.003528,...,0.009582,0.023957,0.000445,0.0,0.003733,0.002746,0.003680,0.000102,0.036599,0.022288

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-30,0.003393,0.003116,NaN,0.006889,0.006183,0.005783,0.004017,0.003186,0.007213,1.593762e-97,...,0.004076,0.007294,0.004512,0.013174,0.002471,0.009113,0.006213,0.007313,0.002886,0.001985
2021-01-31,0.006149,0.002803,NaN,0.006780,0.004588,0.004902,0.003484,0.001593,0.006959,7.968811e-98,...,0.004190,0.006414,0.003984,0.012250,0.001235,0.007103,0.003107,0.006403,0.002410,0.003004
2021-02-01,0.004403,0.002395,NaN,0.005856,0.004370,0.004678,0.002898,0.008658,0.006195,3.984405e-98,...,0.003006,0.010841,0.002835,0.011056,0.005413,0.006386,0.004342,0.004954,0.001865,0.002898

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-30      0.004177  0.004043  0.004446  0.002710  0.003753  0.001209
2021-01-31      0.008611  0.007713  0.007402  0.006390  0.007005  0.005721
2021-02-01      0.005540  0.006201  0.004982  0.003629  0.004115  0.004242

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-30      0.003808  0.003752  0.003598  0.001896  ... -0.000093
2021-01-31      0.005238  0.005778  0.006368  0.005687  ...  0.002723
2021-02-01      0.006758  0.005012  0.004277  0.003724  ...  0.001755

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-30      0.002809  0.001513  0.001038   0.003606  0.005628  0.002222
2021-01-31      0.005021  0.003370  0.001289   0.003819  0.008987  0.001876
2021-02-01      0.006999  0.002032  0.003722   0.004348  0.009307  0.002212

Province_State
Admin2         Unassigned  Washakie    Weston
2021-01-30           -1.0  0.000260  0.000071
2021-01-31           -1.0  0.001288  0.000036
2021-02-01           -1.0  0.000644 -0.000802

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-30,0.014397,0.000971,NaN,0.010301,0.005530,0.014253,0.004336,0.002433,0.003524,NaN,...,0.010507,0.008960,0.008569,0.003423,3.239383e-10,0.011030,0.004414,0.008540,0.006775,0.001456
2021-01-31,0.015261,0.000485,NaN,0.005990,0.005865,0.009903,0.003947,0.001216,0.005925,NaN,...,0.009223,0.006511,0.004886,0.004602,1.619691e-10,0.006678,0.002207,0.006503,0.003699,0.000728
2021-02-01,0.007631,0.000243,NaN,0.003148,0.005706,0.008910,0.002062,0.005788,0.008008,NaN,...,0.009948,0.005562,0.003344,0.005174,8.098457e-11,0.004112,0.004954,0.004240,0.002005,0.000364

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-30      0.007337  0.008298  0.001805  0.001974  0.007555  0.001116
2021-01-31      0.003669  0.004149  0.000902  0.010791  0.013982  0.000558
2021-02-01      0.001834  0.002074  0.000451  0.005395  0.006991  0.000279

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-30      0.000100  0.006096  0.003906  0.009723  ...  0.003603
2021-01-31      0.000050  0.003048  0.001953  0.004861  ...  0.001801
2021-02-01      0.000025  0.001524  0.000977  0.002431  ...  0.000901

Province_State                                                         \
Admin2            Platte  Sheridan      Sublette Sweetwater     Teton
2021-01-30      0.003152  0.001750  2.576659e-09   0.002242  0.006311
2021-01-31      0.001576  0.000875  1.288330e-09   0.001121  0.003156
2021-02-01      0.000788  0.000438  6.441648e-10   0.000560  0.001578

Province_State
Admin2             Uinta Unassigned  Washakie        Weston
2021-01-30      0.000418  -0.501961  0.000092  2.731880e-08
2021-01-31      0.000209  -0.501961  0.000046  1.365940e-08
2021-02-01      0.000104  -0.501961  0.000023  6.829699e-09

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210201,AK,52668,NaN,NaN,NaN,totalTestsViral,1507662,43.0,1205.0,...,52668,0,0,6fd10c8b3a1c4c7e845b15b6d6a110cfe31d3c4e,0,0,0,0,0,NaN
1,20210201,AL,460860,97632.0,1781197.0,NaN,totalTestsPeopleViral,2144425,1888.0,41859.0,...,2242057,0,0,66b3e22f552399984804416ce5ab49376aaa264e,0,0,0,0,0,NaN
2,20210201,AR,296494,59954.0,2201961.0,NaN,totalTestsViral,2438501,889.0,13651.0,...,2498455,27,41,96d9da64ff08207d6ed3e904dde1eebc18efba03,0,0,0,0,0,NaN
3,20210201,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,14192b7e3a14948ae04bd995705fbad3fd868e1a,0,0,0,0,0,NaN
4,20210201,AZ,762145,48344.0,2753536.0,NaN,totalTestsViral,6726250,3654.0,52986.0,...,3515681,4,222,11ac2d3fe14d76ca4b701bf9c3a64f946ea72744,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210201,AK,52668.0,NaN,NaN,NaN,totalTestsViral,1507662.0,43.0,1205.0,...,52668,0,0,6fd10c8b3a1c4c7e845b15b6d6a110cfe31d3c4e,0,0,0,0,0,NaN
1,20210201,AL,460860.0,97632.0,1781197.0,NaN,totalTestsPeopleViral,2144425.0,1888.0,41859.0,...,2242057,0,0,66b3e22f552399984804416ce5ab49376aaa264e,0,0,0,0,0,NaN
2,20210201,AR,296494.0,59954.0,2201961.0,NaN,totalTestsViral,2438501.0,889.0,13651.0,...,2498455,27,41,96d9da64ff08207d6ed3e904dde1eebc18efba03,0,0,0,0,0,NaN
3,20210201,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,14192b7e3a14948ae04bd995705fbad3fd868e1a,0,0,0,0,0,NaN
4,20210201,AZ,762145.0,48344.0,2753536.0,NaN,totalTestsViral,6726250.0,3654.0,52986.0,...,3515681,4,222,11ac2d3fe14d76ca4b701bf9c3a64f946ea72744,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-01,AK,52668,NaN,NaN,NaN,totalTestsViral,1507662,43.0,1205.0,NaN,...,52668,0,0,6fd10c8b3a1c4c7e845b15b6d6a110cfe31d3c4e,0,0,0,0,0,NaN
2021-02-01,AL,460860,97632.0,1781197.0,NaN,totalTestsPeopleViral,2144425,1888.0,41859.0,NaN,...,2242057,0,0,66b3e22f552399984804416ce5ab49376aaa264e,0,0,0,0,0,NaN
2021-02-01,AR,296494,59954.0,2201961.0,NaN,totalTestsViral,2438501,889.0,13651.0,276.0,...,2498455,27,41,96d9da64ff08207d6ed3e904dde1eebc18efba03,0,0,0,0,0,NaN
2021-02-01,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,14192b7e3a14948ae04bd995705fbad3fd868e1a,0,0,0,0,0,NaN
2021-02-01,AZ,762145,48344.0,2753536.0,NaN,totalTestsViral,6726250,3654.0,52986.0,984.0,...,3515681,4,222,11ac2d3fe14d76ca4b701bf9c3a64f946ea72744,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-01,AK,52668.0,NaN,NaN,NaN,totalTestsViral,1507662.0,43.0,1205.0,NaN,...,52668,0,0,6fd10c8b3a1c4c7e845b15b6d6a110cfe31d3c4e,0,0,0,0,0,NaN
2021-02-01,AL,460860.0,97632.0,1781197.0,NaN,totalTestsPeopleViral,2144425.0,1888.0,41859.0,NaN,...,2242057,0,0,66b3e22f552399984804416ce5ab49376aaa264e,0,0,0,0,0,NaN
2021-02-01,AR,296494.0,59954.0,2201961.0,NaN,totalTestsViral,2438501.0,889.0,13651.0,276.0,...,2498455,27,41,96d9da64ff08207d6ed3e904dde1eebc18efba03,0,0,0,0,0,NaN
2021-02-01,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,14192b7e3a14948ae04bd995705fbad3fd868e1a,0,0,0,0,0,NaN
2021-02-01,AZ,762145.0,48344.0,2753536.0,NaN,totalTestsViral,6726250.0,3654.0,52986.0,984.0,...,3515681,4,222,11ac2d3fe14d76ca4b701bf9c3a64f946ea72744,0,0,0,0,0,NaN