# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'05-31-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'05-31-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-06-01 04:23:09,33.93911,67.709953,71838,2944,57629.0,11265.0,Afghanistan,184.539074,4.098110
1,NaN,NaN,NaN,Albania,2021-06-01 04:23:09,41.15330,20.168300,132315,2451,129431.0,433.0,Albania,4597.783029,1.852398
2,NaN,NaN,NaN,Algeria,2021-06-01 04:23:09,28.03390,1.659600,128913,3472,89839.0,35602.0,Algeria,293.979325,2.693289
3,NaN,NaN,NaN,Andorra,2021-06-01 04:23:09,42.50630,1.521800,13727,127,13458.0,142.0,Andorra,17766.129554,0.925184
4,NaN,NaN,NaN,Angola,2021-06-01 04:23:09,-11.20270,17.873900,34551,766,28079.0,5706.0,Angola,105.126022,2.217013

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,65486,65728,66275,66903,67743,68366,69130,70111,70761,71838
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132176,132209,132215,132229,132244,132264,132285,132297,132309,132315
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126651,126860,127107,127361,127646,127926,128198,128456,128725,128913

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2792,2802,2812,2836,2855,2869,2881,2899,2919,2944
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2442,2444,2445,2447,2447,2447,2448,2449,2450,2451
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3411,3418,3426,3433,3440,3448,3455,3460,3465,3472

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55889,56035,56295,56518,56711,56962,57119,57281,57450,57629
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,128601,128732,128826,128907,128978,129042,129097,129215,129308,129431
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,88208,88346,88497,88672,88861,89040,89232,89419,89625,89839

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7113,7118,7118,7126,7135,7141,7142,7142,7142,7142
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21535,21546,21554,21578,21593,21606,21620,21620,21620,21620
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2328,2328,2328,2331,2331,2333,2334,2334,2334,2334

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,110,110,110,110,110,110,110,110,110,110
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,310,310,310,310,310,310,311,311,311,311
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,58,58,58,58,58,58,59,59,59,59

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
653,1001.0,Autauga,Alabama,US,2021-06-01 04:23:09,32.539527,-86.644082,7142,110,NaN,NaN,"Autauga, Alabama, US",12783.475630,1.540185
690,1075.0,Lamar,Alabama,US,2021-06-01 04:23:09,33.779950,-88.096680,1450,37,NaN,NaN,"Lamar, Alabama, US",10503.440782,2.551724
691,1077.0,Lauderdale,Alabama,US,2021-06-01 04:23:09,34.901719,-87.656247,9511,245,NaN,NaN,"Lauderdale, Alabama, US",10256.769727,2.575965

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33264380  594568         0.0
India            28047534  329100  25692342.0
Brazil           16545554  462791  14586009.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33264380,594568,0.0,32669812.0,2021-06-01 04:23:09,37.950547,-91.419547
India,28047534,329100,25692342.0,2026092.0,2021-06-01 04:23:09,23.088275,81.806127
Brazil,16545554,462791,14586009.0,1496754.0,2021-06-01 04:23:09,-12.669522,-48.480493
France,5728788,109690,391670.0,5227428.0,2021-06-01 04:23:09,6.430808,-34.730285
Turkey,5249404,47527,5114624.0,87253.0,2021-06-01 04:23:09,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3789553   63249        0.0
Texas             2953409   51508        0.0
Florida           2320818   36774        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3789553,63249,0.0,3726304.0,2021-06-01 04:23:09,37.843962,-120.728594
Texas,2953409,51508,0.0,2901901.0,2021-06-01 04:23:09,31.660643,-98.653069
Florida,2320818,36774,0.0,2284044.0,2021-06-01 04:23:09,28.940755,-82.700744
New York,2102404,53303,0.0,2049101.0,2021-06-01 04:23:09,42.544151,-75.474183
Illinois,1382101,25223,0.0,1356878.0,2021-06-01 04:23:09,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1244054   24360        0.0
Illinois       Cook            553716   10320        0.0
Arizona        Maricopa        550599   10071        0.0
Florida        Miami-Dade      500323    6424        0.0
Texas          Harris          400364    6441        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1244054,24360,0.0,1219694.0,2021-06-01 04:23:09,34.308284,-118.228241,6037.0
Illinois,Cook,553716,10320,0.0,543396.0,2021-06-01 04:23:09,41.841448,-87.816588,17031.0
Arizona,Maricopa,550599,10071,0.0,540528.0,2021-06-01 04:23:09,33.348359,-112.491815,4013.0
Florida,Miami-Dade,500323,6424,0.0,493899.0,2021-06-01 04:23:09,25.611236,-80.551706,12086.0
Texas,Harris,400364,6441,0.0,393923.0,2021-06-01 04:23:09,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,70111,132297,128456,13693,34180,1259,3732263,222555,30096,644207,...,4496823,288172,99844,4,231443,6908,307838,6731,94751,38933
2021-05-30,70761,132309,128725,13693,34366,1259,3753609,222636,30105,644586,...,4499937,291488,100124,4,232800,7107,308048,6737,95050,38944
2021-05-31,71838,132315,128913,13727,34551,1260,3781784,222670,30118,644815,...,4503231,294503,100335,4,234165,7432,308350,6742,95263,38961

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,2899,2449,3460,127,757,42,77108,4428,910,10592,...,128037,4176,688,1,2615,47,3492,1319,1276,1594
2021-05-30,2919,2450,3465,127,764,42,77456,4432,910,10596,...,128043,4213,690,1,2629,47,3495,1320,1278,1594
2021-05-31,2944,2451,3472,127,766,42,78093,4438,910,10603,...,128045,4276,690,1,2646,47,3497,1321,1281,1594

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,57281,129215,89419,13416,27646,1206,3288467,212752,23579,627672,...,15481,246321,95529,3,213365,2896,300524,3399,91594,36578
2021-05-30,57450,129308,89625,13416,27766,1206,3319068,212981,23581,628312,...,15486,250049,95786,3,214590,2950,300661,3427,91752,36591
2021-05-31,57629,129431,89839,13458,28079,1213,3350602,213208,23583,628856,...,15507,253573,95993,3,215640,3029,300776,3445,91956,36594

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7113,7118,7118,7126,7135,7141,7142,7142,7142,7142
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1441,1441,1442,1444,1446,1449,1450,1450,1450,1450
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9495,9496,9500,9502,9507,9510,9511,9511,9511,9511
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3059,3063,3064,3070,3071,3076,3076,3076,3076,3076
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16040,16049,16049,16060,16084,16104,16115,16115,16115,16115

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-29,543405,70208,0,880466,341290,3788713,542405,347341,108770,49,...,862401,2952861,405851,24200,3442,675165,435849,161287,674003,60144
2021-05-30,543405,70208,0,880466,341351,3789227,542889,347341,108821,49,...,862401,2953235,406027,24209,3442,675392,435849,161287,674003,60144
2021-05-31,543405,70208,0,881450,341381,3789553,543174,347341,108866,49,...,862401,2953409,406170,24220,3442,675538,435849,161287,674420,60144

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-05-29        7142   21620    2334  2664   6864    1233   2219   14622
2021-05-30        7142   21620    2334  2664   6864    1233   2219   14622
2021-05-31        7142   21620    2334  2664   6864    1233   2219   14622

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-29         3665     1862  ...    2820    651     3207      795
2021-05-30         3665     1862  ...    2820    651     3207      795
2021-05-31         3665     1862  ...    2820    651     3207      795

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-29           4496  3784  2266          0      922    654
2021-05-30           4496  3784  2266          0      922    654
2021-05-31           4496  3784  2266          0      922    654

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-29,11146,369,0,17628,5830,63236,6576,8238,1661,0,...,12441,51491,2301,255,27,11160,5765,2792,7830,719
2021-05-30,11146,369,0,17628,5832,63247,6580,8238,1661,0,...,12441,51505,2301,255,27,11173,5765,2792,7830,719
2021-05-31,11146,369,0,17628,5833,63249,6580,8238,1661,0,...,12441,51508,2302,255,27,11186,5765,2792,7856,719

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-29         110     311      59   64    139      42     71     324
2021-05-30         110     311      59   64    139      42     71     324
2021-05-31         110     311      59   64    139      42     71     324

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-29          123       45  ...      30     11       31        7
2021-05-30          123       45  ...      30     11       31        7
2021-05-31          123       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-29             39     9    13          0       26      5
2021-05-30             39     9    13          0       26      5
2021-05-31             39     9    13          0       26      5

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,0.014191,0.000091,0.002013,0.000000,0.006953,0.000000,0.008060,0.000189,0.000432,0.000774,...,0.000721,0.021170,0.002651,0.0,0.005631,0.080050,0.000875,0.001190,0.003399,0.000385
2021-05-30,0.009271,0.000091,0.002094,0.000000,0.005442,0.000000,0.005719,0.000364,0.000299,0.000588,...,0.000692,0.011507,0.002804,0.0,0.005863,0.028807,0.000682,0.000891,0.003156,0.000283
2021-05-31,0.015220,0.000045,0.001460,0.002483,0.005383,0.000794,0.007506,0.000153,0.000432,0.000355,...,0.000732,0.010343,0.002107,0.0,0.005863,0.045730,0.000980,0.000742,0.002241,0.000437

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,0.006248,0.000408,0.001447,0.0,0.010681,0.0,0.005411,0.001130,0.0,0.000378,...,0.000055,0.014085,0.001456,0.0,0.007707,0.0,0.000860,0.002280,0.000784,0.001256
2021-05-30,0.006899,0.000408,0.001445,0.0,0.009247,0.0,0.004513,0.000903,0.0,0.000378,...,0.000047,0.008860,0.002907,0.0,0.005354,0.0,0.000859,0.000758,0.001567,0.000000
2021-05-31,0.008565,0.000408,0.002020,0.0,0.002618,0.0,0.008224,0.001354,0.0,0.000661,...,0.000016,0.014954,0.000000,0.0,0.006466,0.0,0.000572,0.000758,0.002347,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,0.002836,0.000914,0.002096,0.000000,0.002502,0.000000,0.010952,0.000875,0.000170,0.001367,...,0.000065,0.015083,0.002929,0.0,0.005495,0.000000,0.001329,0.007111,0.001651,0.000410
2021-05-30,0.002950,0.000720,0.002304,0.000000,0.004341,0.000000,0.009306,0.001076,0.000085,0.001020,...,0.000323,0.015135,0.002690,0.0,0.005741,0.018646,0.000456,0.008238,0.001725,0.000355
2021-05-31,0.003116,0.000951,0.002388,0.003131,0.011273,0.005804,0.009501,0.001066,0.000085,0.000866,...,0.001356,0.014093,0.002161,0.0,0.004893,0.026780,0.000382,0.005252,0.002223,0.000082

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-29,0.0,0.0,NaN,0.000633,0.000469,0.000212,0.001253,0.0,0.000819,0.0,...,0.0,0.000186,0.000473,0.000413,0.0,0.000477,0.002452,0.0,0.000000,0.0
2021-05-30,0.0,0.0,NaN,0.000000,0.000179,0.000136,0.000892,0.0,0.000469,0.0,...,0.0,0.000127,0.000434,0.000372,0.0,0.000336,0.000000,0.0,0.000000,0.0
2021-05-31,0.0,0.0,NaN,0.001118,0.000088,0.000086,0.000525,0.0,0.000414,0.0,...,0.0,0.000059,0.000352,0.000454,0.0,0.000216,0.000000,0.0,0.000619,0.0

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-29         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-05-30         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-05-31         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-29          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-30          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-31          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-29            0.0   0.0   0.0        NaN      0.0    0.0
2021-05-30            0.0   0.0   0.0        NaN      0.0    0.0
2021-05-31            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-29,0.0,0.0,NaN,0.001079,0.000000,0.000285,0.003663,0.0,0.000602,NaN,...,0.0,0.000680,0.001741,0.0,0.0,0.000359,0.0,0.0,0.000000,0.0
2021-05-30,0.0,0.0,NaN,0.000000,0.000343,0.000174,0.000608,0.0,0.000000,NaN,...,0.0,0.000272,0.000000,0.0,0.0,0.001165,0.0,0.0,0.000000,0.0
2021-05-31,0.0,0.0,NaN,0.000000,0.000171,0.000032,0.000000,0.0,0.000000,NaN,...,0.0,0.000058,0.000435,0.0,0.0,0.001164,0.0,0.0,0.003321,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-29         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-05-30         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-05-31         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-29          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-30          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-31          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-29            0.0   0.0   0.0        NaN      0.0    0.0
2021-05-30            0.0   0.0   0.0        NaN      0.0    0.0
2021-05-31            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,0.012329,0.000119,0.002072,0.000553,0.008278,0.000221,0.009188,0.000360,0.000399,0.000796,...,0.000754,0.015883,0.002548,6.063298e-13,0.005759,0.052698,0.001255,0.001999,0.003630,0.000918
2021-05-30,0.010800,0.000105,0.002083,0.000277,0.006860,0.000111,0.007454,0.000362,0.000349,0.000692,...,0.000723,0.013695,0.002676,3.031649e-13,0.005811,0.040752,0.000969,0.001445,0.003393,0.000600
2021-05-31,0.013010,0.000075,0.001772,0.001380,0.006121,0.000452,0.007480,0.000257,0.000390,0.000524,...,0.000728,0.012019,0.002392,1.515825e-13,0.005837,0.043241,0.000975,0.001094,0.002817,0.000518

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,0.005579,0.000349,0.001779,6.160159e-11,0.008266,0.000034,0.006303,0.001341,3.908376e-18,0.000739,...,0.000066,0.013233,0.001939,0.0,0.007285,0.010433,0.001067,0.001705,0.000737,0.000965
2021-05-30,0.006239,0.000379,0.001612,3.080080e-11,0.008756,0.000017,0.005408,0.001122,1.954188e-18,0.000558,...,0.000056,0.011046,0.002423,0.0,0.006320,0.005217,0.000963,0.001231,0.001152,0.000483
2021-05-31,0.007402,0.000393,0.001816,1.540040e-11,0.005687,0.000009,0.006816,0.001238,9.770940e-19,0.000609,...,0.000036,0.013000,0.001211,0.0,0.006393,0.002608,0.000768,0.000995,0.001750,0.000241

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-29,0.003109,0.000725,0.002086,0.001055,0.002941,0.001373,0.010531,0.001154,0.000179,0.001245,...,0.000196,0.014161,0.002965,1.455192e-11,0.004992,0.005557,0.001388,0.008496,0.001309,0.000465
2021-05-30,0.003030,0.000722,0.002195,0.000527,0.003641,0.000686,0.009918,0.001115,0.000132,0.001132,...,0.000260,0.014648,0.002828,7.275958e-12,0.005367,0.012102,0.000922,0.008367,0.001517,0.000410
2021-05-31,0.003073,0.000837,0.002291,0.001829,0.007457,0.003245,0.009710,0.001091,0.000108,0.000999,...,0.000808,0.014371,0.002494,3.637979e-12,0.005130,0.019441,0.000652,0.006810,0.001870,0.000246

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-29,0.000245,0.000350,NaN,0.000736,0.000544,0.000418,0.001400,0.000255,0.000761,2.398027e-133,...,0.000204,0.000401,0.000571,0.000502,0.003820,0.000525,0.002699,0.000770,0.000228,0.000757
2021-05-30,0.000122,0.000175,NaN,0.000368,0.000362,0.000277,0.001146,0.000128,0.000615,1.199013e-133,...,0.000102,0.000264,0.000502,0.000437,0.001910,0.000431,0.001349,0.000385,0.000114,0.000378
2021-05-31,0.000061,0.000087,NaN,0.000743,0.000225,0.000182,0.000836,0.000064,0.000514,5.995067e-134,...,0.000051,0.000161,0.000427,0.000446,0.000955,0.000323,0.000675,0.000193,0.000366,0.000189

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2021-05-29      0.000284  0.000334  0.000259  0.000072  0.000344
2021-05-30      0.000142  0.000167  0.000129  0.000036  0.000172
2021-05-31      0.000071  0.000083  0.000065  0.000018  0.000086

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2021-05-29      1.705050e-07  0.000691  0.000117  0.000624  0.000308  ...
2021-05-30      8.525248e-08  0.000346  0.000059  0.000312  0.000154  ...
2021-05-31      4.262624e-08  0.000173  0.000029  0.000156  0.000077  ...

Province_State   Wyoming                                                     \
Admin2              Park    Platte  Sheridan  Sublette Sweetwater     Teton
2021-05-29      0.000556  0.002669  0.000433  0.000533   0.001787  0.000233
2021-05-30      0.000278  0.001334  0.000216  0.000266   0.000894  0.000117
2021-05-31      0.000139  0.000667  0.000108  0.000133   0.000447  0.000058

Province_State
Admin2             Uinta Unassigned  Washakie    Weston
2021-05-29      0.000495       -1.0  0.000070  0.000482
2021-05-30      0.000248       -1.0  0.000035  0.000241
2021-05-31      0.000124       -1.0  0.000018  0.000120

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-29,0.000284,0.000008,NaN,0.000941,0.000154,0.000701,0.002549,0.000357,0.000353,NaN,...,0.000552,0.000847,0.001335,3.890789e-06,1.749028e-14,0.000495,0.001069,0.000414,0.001393,0.000263
2021-05-30,0.000142,0.000004,NaN,0.000471,0.000249,0.000438,0.001579,0.000179,0.000177,NaN,...,0.000276,0.000560,0.000667,1.945394e-06,8.745142e-15,0.000830,0.000534,0.000207,0.000696,0.000132
2021-05-31,0.000071,0.000002,NaN,0.000235,0.000210,0.000235,0.000789,0.000089,0.000088,NaN,...,0.000138,0.000309,0.000551,9.726972e-07,4.372571e-15,0.000997,0.000267,0.000103,0.002008,0.000066

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour          Bibb        Blount
2021-05-29      0.000045  0.000807  0.004345  1.896030e-09  2.238569e-07
2021-05-30      0.000022  0.000403  0.002173  9.480149e-10  1.119284e-07
2021-05-31      0.000011  0.000202  0.001086  4.740075e-10  5.596422e-08

Province_State                                                                \
Admin2               Bullock    Butler   Calhoun      Chambers      Cherokee
2021-05-29      7.443777e-07  0.001842  0.000890  2.293465e-11  2.069099e-14
2021-05-30      3.721889e-07  0.000921  0.000445  1.146732e-11  1.034549e-14
2021-05-31      1.860944e-07  0.000461  0.000222  5.733662e-12  5.172747e-15

Province_State  ...       Wyoming                                            \
Admin2          ...          Park        Platte      Sheridan      Sublette
2021-05-29      ...  1.168475e-22  4.742796e-39  8.825055e-25  3.876926e-45
2021-05-30      ...  5.842376e-23  2.371398e-39  4.412528e-25  1.938463e-45
2021-05-31      ...  2.921188e-23  1.185699e-39  2.206264e-25  9.692315e-46

Province_State                                                    \
Admin2         Sweetwater         Teton         Uinta Unassigned
2021-05-29       0.000013  1.237588e-32  1.241763e-09       -1.0
2021-05-30       0.000006  6.187938e-33  6.208817e-10       -1.0
2021-05-31       0.000003  3.093969e-33  3.104409e-10       -1.0

Province_State
Admin2              Washakie        Weston
2021-05-29      2.408799e-37  5.115751e-36
2021-05-30      1.204400e-37  2.557876e-36
2021-05-31      6.021998e-38  1.278938e-36

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN