# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-13-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-12-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-13 05:27:20,33.93911,67.709953,48229,1956,38200,8073.0,Afghanistan,123.891743,4.055651
1,NaN,NaN,NaN,Albania,2020-12-13 05:27:20,41.15330,20.168300,47742,989,24520,22233.0,Albania,1658.975606,2.071551
2,NaN,NaN,NaN,Algeria,2020-12-13 05:27:20,28.03390,1.659600,91638,2584,60028,29026.0,Algeria,208.975645,2.819791
3,NaN,NaN,NaN,Andorra,2020-12-13 05:27:20,42.50630,1.521800,7288,78,6629,581.0,Andorra,9432.472659,1.070252
4,NaN,NaN,NaN,Angola,2020-12-13 05:27:20,-11.20270,17.873900,16161,366,8841,6954.0,Angola,49.171996,2.264711

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,46837,46837,47072,47306,47516,47716,47851,48053,48116,48229
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,40501,41302,42148,42988,43683,44436,45188,46061,46863,47742
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,85927,86730,87502,88252,88825,89416,90014,90579,91121,91638

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1846,1846,1864,1874,1900,1906,1919,1935,1945,1956
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,852,870,889,905,922,936,951,965,977,989
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2480,2492,2501,2516,2527,2539,2554,2564,2575,2584

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37260,37260,37393,37685,37879,37920,38032,38099,38141,38200
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,20484,20974,21286,21617,22180,22527,23072,23609,24136,24520
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,55538,56079,56617,57146,57648,58146,58146,59135,59590,60028

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2893,2945,2979,3005,3043,3087,3117,3186,3233,3258
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,9341,9501,9626,9728,9821,9974,10087,10288,10489,10665
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1214,1217,1219,1223,1224,1240,1245,1258,1264,1269

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,42,42,42,42,42,42,42,42,42,41
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,137,138,138,138,138,141,141,141,141,141
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,29,29,29,29,29,30,30,30,30,30

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-13 05:27:20,32.539527,-86.644082,3258,41,0,3217.0,"Autauga, Alabama, US",5831.498684,1.258441
686,1075.0,Lamar,Alabama,US,2020-12-13 05:27:20,33.779950,-88.096680,841,9,0,832.0,"Lamar, Alabama, US",6091.995654,1.070155
687,1077.0,Lauderdale,Alabama,US,2020-12-13 05:27:20,34.901719,-87.656247,5005,61,0,4944.0,"Lauderdale, Alabama, US",5397.448479,1.218781

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               16062299  297818    6246605
India             9857029  143019    9357464
Brazil            6880127  181123    6078287

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,16062299,297818,6246605,9517876,2020-12-13 05:27:20,37.936303,-91.379001
India,9857029,143019,9357464,356546,2020-12-13 05:27:20,23.088275,81.806127
Brazil,6880127,181123,6078287,620717,2020-12-13 05:27:20,-12.669522,-48.480493
Russia,2602048,45923,2066710,489415,2020-12-13 05:27:20,54.546312,62.120860
France,2405255,57671,181581,2166003,2020-12-13 05:27:20,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        1549176   20958          0
Texas             1400728   24347          0
Florida           1116973   19785          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,1549176,20958,0,1528218,2020-12-13 05:27:20,37.843962,-120.728594
Texas,1400728,24347,0,1376381,2020-12-13 05:27:20,31.660643,-98.653069
Florida,1116973,19785,0,1097188,2020-12-13 05:27:20,28.940755,-82.700744
Illinois,841688,15231,0,826457,2020-12-13 05:27:20,39.843618,-89.178330
New York,764966,35441,0,729525,2020-12-13 05:27:20,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     512872    8269          0
Illinois       Cook            349461    7319          0
Florida        Miami-Dade      255462    3965          0
Arizona        Maricopa        250319    4324          0
Texas          Harris          205928    3142          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,512872,8269,0,504603,2020-12-13 05:27:20,34.308284,-118.228241,6037.0
Illinois,Cook,349461,7319,0,342142,2020-12-13 05:27:20,41.841448,-87.816588,17031.0
Florida,Miami-Dade,255462,3965,0,251497,2020-12-13 05:27:20,25.611236,-80.551706,12086.0
Arizona,Maricopa,250319,4324,0,245995,2020-12-13 05:27:20,33.348359,-112.491815,4013.0
Texas,Harris,205928,3142,0,202786,2020-12-13 05:27:20,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,48053,46061,90579,7190,15925,146,1482216,145240,28011,313688,...,1792611,8487,74498,1,106280,1385,104879,2081,18091,11081
2020-12-11,48116,46863,91121,7236,16061,147,1489328,146317,28025,316581,...,1814395,8849,74811,1,106715,1391,106622,2082,18161,11162
2020-12-12,48229,47742,91638,7288,16161,148,1494602,147312,28030,319822,...,1835949,9180,74811,1,107177,1395,108099,2083,18217,11219

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,1935,965,2564,78,362,4,40431,2416,908,4163,...,63179,90,611,0,938,35,910,606,364,305
2020-12-11,1945,977,2575,78,365,4,40606,2445,908,4289,...,63603,90,612,0,944,35,931,606,365,306
2020-12-12,1956,989,2584,78,366,4,40668,2462,908,4415,...,64123,91,612,0,949,35,961,606,366,307

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,38099,23609,59135,6505,8679,138,1318187,121882,25665,269665,...,3787,5747,71740,1,101384,1225,78715,1383,17307,9253
2020-12-11,38141,24136,59590,6598,8798,138,1324792,123474,25671,273503,...,3799,5941,72084,1,101823,1238,81166,1383,17329,9324
2020-12-12,38200,24520,60028,6629,8841,138,1330160,124521,25675,277883,...,3805,6155,72084,1,102289,1238,83123,1383,17339,9359

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2893,2945,2979,3005,3043,3087,3117,3186,3233,3258
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,725,734,744,755,759,769,786,806,830,841
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,4433,4522,4593,4626,4662,4722,4805,4917,4970,5005
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1373,1399,1421,1422,1431,1453,1480,1525,1541,1569
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,8015,8071,8131,8171,8218,8298,8386,8499,8595,8675

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-10,284922,39345,0,387529,178854,1482551,276995,142979,43036,49,...,428973,1374256,225946,5413,1733,271043,192413,59695,456889,38223
2020-12-11,288775,39975,0,394512,181624,1516215,281673,146761,43818,49,...,436262,1388909,228129,5541,1791,274438,195554,60637,461367,38785
2020-12-12,292841,40497,0,402589,184252,1549176,285634,146761,44876,49,...,442953,1400728,231821,5626,1791,278615,199735,62151,465991,38907

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-10        3186   10288    1258  1359   3600     722   1287    7534
2020-12-11        3233   10489    1264  1398   3663     723   1289    7658
2020-12-12        3258   10665    1269  1417   3744     725   1306    7760

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-10         1977     1149  ...    1574    373     2267      534
2020-12-11         1982     1167  ...    1595    378     2290      536
2020-12-12         1997     1187  ...    1600    381     2293      539

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-10           2281  1852  1271          0      596    428
2020-12-11           2376  1868  1281          0      620    428
2020-12-12           2384  1886  1289          0      629    428

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-10,4034,155,0,7154,2820,20603,3759,5327,806,0,...,5240,23883,1016,89,23,4335,2850,921,4209,299
2020-12-11,4086,158,0,7245,2875,20787,3846,5363,807,0,...,5327,24120,1025,93,23,4370,2879,938,4266,321
2020-12-12,4102,176,0,7322,2911,20958,3871,5363,815,0,...,5400,24308,1038,95,23,4409,2879,966,4324,321

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-10          42     141      30   40     47      20     42     129
2020-12-11          42     141      30   40     47      20     44     129
2020-12-12          41     141      30   40     47      20     44     129

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-10           55       24  ...       7      8       13        4
2020-12-11           55       24  ...       7      8       13        5
2020-12-12           57       24  ...       7      8       13        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-10             13     2     7          0       11      2
2020-12-11             14     2     7          0       11      2
2020-12-12             14     2     7          0       11      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,0.004221,0.019319,0.006277,0.003910,0.007656,0.000000,0.004741,0.008149,0.000393,0.008637,...,0.011891,0.047261,0.001964,0.0,0.004043,0.002896,0.018322,0.000962,0.001606,0.006723
2020-12-11,0.001311,0.017412,0.005984,0.006398,0.008540,0.006849,0.004798,0.007415,0.000500,0.009223,...,0.012152,0.042653,0.004201,0.0,0.004093,0.004332,0.016619,0.000481,0.003869,0.007310
2020-12-12,0.002348,0.018757,0.005674,0.007186,0.006226,0.006803,0.003541,0.006800,0.000178,0.010238,...,0.011879,0.037405,0.000000,0.0,0.004329,0.002876,0.013853,0.000480,0.003084,0.005107

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,0.008338,0.014721,0.003915,0.0,0.011173,0.0,0.005196,0.009611,0.0,0.026381,...,0.008235,0.034483,0.000000,NaN,0.005359,0.0,0.022472,0.0,0.000000,0.003289
2020-12-11,0.005168,0.012435,0.004290,0.0,0.008287,0.0,0.004328,0.012003,0.0,0.030267,...,0.006711,0.000000,0.001637,NaN,0.006397,0.0,0.023077,0.0,0.002747,0.003279
2020-12-12,0.005656,0.012282,0.003495,0.0,0.002740,0.0,0.001527,0.006953,0.0,0.029377,...,0.008176,0.011111,0.000000,NaN,0.005297,0.0,0.032223,0.0,0.002740,0.003268

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,0.001762,0.023275,0.017009,0.008215,0.011656,0.0,0.005108,0.011200,0.000039,0.014484,...,0.002382,0.032890,0.000000,0.0,0.004279,0.000000,0.023695,0.0,0.000694,0.011588
2020-12-11,0.001102,0.022322,0.007694,0.014297,0.013711,0.0,0.005011,0.013062,0.000234,0.014232,...,0.003169,0.033757,0.004795,0.0,0.004330,0.010612,0.031138,0.0,0.001271,0.007673
2020-12-12,0.001547,0.015910,0.007350,0.004698,0.004887,0.0,0.004052,0.008480,0.000156,0.016014,...,0.001579,0.036021,0.000000,0.0,0.004577,0.000000,0.024111,0.0,0.000577,0.003754

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-10,0.016899,0.016483,NaN,0.012880,0.012465,0.023164,0.017070,0.017297,0.015168,0.0,...,0.014212,0.010519,0.015282,0.024219,0.020612,0.014656,0.013431,0.021091,0.010414,0.008922
2020-12-11,0.013523,0.016012,NaN,0.018019,0.015487,0.022707,0.016888,0.026451,0.018171,0.0,...,0.016992,0.010662,0.009662,0.023647,0.033468,0.012526,0.016324,0.015780,0.009801,0.014703
2020-12-12,0.014080,0.013058,NaN,0.020473,0.014469,0.021739,0.014062,0.000000,0.024145,0.0,...,0.015337,0.008510,0.016184,0.015340,0.000000,0.015220,0.021380,0.024968,0.010022,0.003146

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-10      0.022137  0.019927  0.010442  0.027988  0.029748  0.000000
2020-12-11      0.014752  0.019537  0.004769  0.028698  0.017500  0.001385
2020-12-12      0.007733  0.016779  0.003956  0.013591  0.022113  0.002766

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-10      0.019002  0.019210  0.008159  0.013228  ...  0.014175
2020-12-11      0.001554  0.016459  0.002529  0.015666  ...  0.013342
2020-12-12      0.013189  0.013319  0.007568  0.017138  ...  0.003135

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-10     -0.005333  0.013411  0.015209   0.016036  0.009815  0.016800
2020-12-11      0.013405  0.010146  0.003745   0.041648  0.008639  0.007868
2020-12-12      0.007937  0.001310  0.005597   0.003367  0.009636  0.006245

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-10            NaN  0.017065  0.002342
2020-12-11            NaN  0.040268  0.000000
2020-12-12            NaN  0.014516  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-10,0.012296,0.033333,NaN,0.010309,0.012204,0.009407,0.032976,0.007947,0.003736,NaN,...,0.013344,0.008913,0.021106,0.034884,0.0,0.012614,-0.055040,0.022198,0.016176,0.000000
2020-12-11,0.012890,0.019355,NaN,0.012720,0.019504,0.008931,0.023144,0.006758,0.001241,NaN,...,0.016603,0.009923,0.008858,0.044944,0.0,0.008074,0.010175,0.018458,0.013542,0.073579
2020-12-12,0.003916,0.113924,NaN,0.010628,0.012522,0.008226,0.006500,0.000000,0.009913,NaN,...,0.013704,0.007794,0.012683,0.021505,0.0,0.008924,0.000000,0.029851,0.013596,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State  Alabama                                                     \
Admin2          Autauga Baldwin Barbour      Bibb Blount Bullock    Butler
2020-12-10      0.00000     0.0     0.0  0.025641    0.0     0.0  0.000000
2020-12-11      0.00000     0.0     0.0  0.000000    0.0     0.0  0.047619
2020-12-12     -0.02381     0.0     0.0  0.000000    0.0     0.0  0.000000

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2020-12-10      0.015748  0.000000      0.0  ...     0.0    0.0      0.0
2020-12-11      0.000000  0.000000      0.0  ...     0.0    0.0      0.0
2020-12-12      0.000000  0.036364      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-10         0.00   0.000000   0.0   0.0        NaN      0.0    0.0
2020-12-11         0.25   0.076923   0.0   0.0        NaN      0.0    0.0
2020-12-12         0.00   0.000000   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,0.003883,0.018303,0.006611,0.004678,0.006146,0.000903,0.003921,0.007249,0.000337,0.008807,...,0.010346,0.042577,0.001906,0.0,0.004162,0.003228,0.017844,-0.013301,0.002592,0.007719
2020-12-11,0.002597,0.017858,0.006298,0.005538,0.007343,0.003876,0.004359,0.007332,0.000419,0.009015,...,0.011249,0.042615,0.003054,0.0,0.004127,0.003780,0.017232,-0.006410,0.003231,0.007514
2020-12-12,0.002473,0.018307,0.005986,0.006362,0.006785,0.005339,0.003950,0.007066,0.000298,0.009626,...,0.011564,0.040010,0.001527,0.0,0.004228,0.003328,0.015542,-0.002965,0.003157,0.006310

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,0.007512,0.015639,0.004637,0.000254,0.008146,2.483527e-09,0.004728,0.009626,2.691738e-07,0.022501,...,0.008020,0.026085,0.000004,NaN,0.005129,6.274644e-32,0.023427,-0.006793,0.000153,0.007573
2020-12-11,0.006340,0.014037,0.004463,0.000127,0.008217,1.241763e-09,0.004528,0.010815,1.345869e-07,0.026384,...,0.007366,0.013042,0.000820,NaN,0.005763,3.137322e-32,0.023252,-0.003396,0.001450,0.005426
2020-12-12,0.005998,0.013160,0.003979,0.000064,0.005478,6.208817e-10,0.003027,0.008884,6.729345e-08,0.027881,...,0.007771,0.012077,0.000410,NaN,0.005530,1.568661e-32,0.027738,-0.001698,0.002095,0.004347

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-10,0.002401,0.022387,0.010734,0.010082,0.011159,0.007978,0.004753,0.011122,0.000192,0.015402,...,0.003707,0.031213,0.001380,0.0,0.004506,0.000531,0.021676,-0.013204,0.001352,0.010355
2020-12-11,0.001752,0.022355,0.009214,0.012189,0.012435,0.003989,0.004882,0.012092,0.000213,0.014817,...,0.003438,0.032485,0.003088,0.0,0.004418,0.005572,0.026407,-0.006602,0.001312,0.009014
2020-12-12,0.001649,0.019132,0.008282,0.008444,0.008661,0.001995,0.004467,0.010286,0.000184,0.015416,...,0.002509,0.034253,0.001544,0.0,0.004497,0.002786,0.025259,-0.003301,0.000944,0.006384

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-10,0.014903,0.016300,NaN,0.014874,0.012381,0.022093,0.015911,0.019316,0.018013,3.588833e-82,...,0.015784,0.010146,0.013457,0.022147,0.016314,0.015197,0.015156,0.021646,0.009794,0.010704
2020-12-11,0.014213,0.016156,NaN,0.016447,0.013934,0.022400,0.016399,0.022883,0.018092,1.794417e-82,...,0.016388,0.010404,0.011559,0.022897,0.024891,0.013861,0.015740,0.018713,0.009798,0.012704
2020-12-12,0.014147,0.014607,NaN,0.018460,0.014202,0.022069,0.015231,0.011442,0.021119,8.972083e-83,...,0.015862,0.009457,0.013872,0.019119,0.012446,0.014541,0.018560,0.021841,0.009910,0.007925

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-10      0.016776  0.016138  0.008127  0.017592  0.025017  0.002096
2020-12-11      0.015764  0.017838  0.006448  0.023145  0.021258  0.001741
2020-12-12      0.011748  0.017309  0.005202  0.018368  0.021686  0.002253

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-10      0.012993  0.016503  0.008719  0.011660  ...  0.016264
2020-12-11      0.007273  0.016481  0.005624  0.013663  ...  0.014803
2020-12-12      0.010231  0.014900  0.006596  0.015400  ...  0.008969

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-10      0.005361  0.011865  0.016677   0.017229  0.009455  0.014679
2020-12-11      0.009383  0.011006  0.010211   0.029439  0.009047  0.011273
2020-12-12      0.008660  0.006158  0.007904   0.016403  0.009341  0.008759

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-10           -1.0  0.020498  0.003707
2020-12-11           -1.0  0.030383  0.001854
2020-12-12           -1.0  0.022450  0.000927

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-10,0.011052,0.025926,NaN,0.009789,0.013082,0.009031,0.037204,0.007501,0.003929,NaN,...,0.013639,0.008750,0.020579,0.028919,5.039628e-13,0.009440,-0.021753,0.025713,0.017217,0.014607
2020-12-11,0.011971,0.022641,NaN,0.011255,0.016293,0.008981,0.030174,0.007130,0.002585,NaN,...,0.015121,0.009337,0.014719,0.036932,2.519814e-13,0.008757,-0.005789,0.022086,0.015380,0.044093
2020-12-12,0.007944,0.068282,NaN,0.010941,0.014407,0.008604,0.018337,0.003565,0.006249,NaN,...,0.014412,0.008566,0.013701,0.029218,1.259907e-13,0.008841,-0.002894,0.025968,0.014488,0.022046

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                          \
Admin2               Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-10      1.541903e-06  0.003166  0.007531  0.016693  0.005939
2020-12-11      7.709516e-07  0.001583  0.003765  0.008346  0.002969
2020-12-12     -1.190438e-02  0.000791  0.001883  0.004173  0.001485

Province_State                                                        ...  \
Admin2           Bullock    Butler   Calhoun  Chambers      Cherokee  ...
2020-12-10      0.000411  0.000006  0.008326  0.005168  1.271566e-07  ...
2020-12-11      0.000206  0.023813  0.004163  0.002584  6.357830e-08  ...
2020-12-12      0.000103  0.011906  0.002082  0.019474  3.178915e-08  ...

Province_State   Wyoming                                           \
Admin2              Park    Platte  Sheridan  Sublette Sweetwater
2020-12-10      0.010419  0.000143  0.026906  0.118490   0.054309
2020-12-11      0.005209  0.000071  0.013453  0.184245   0.065616
2020-12-12      0.002605  0.000036  0.006726  0.092122   0.032808

Province_State
Admin2                 Teton     Uinta Unassigned  Washakie    Weston
2020-12-10      3.637979e-12  0.055143  -0.501961  0.040627  0.000977
2020-12-11      1.818989e-12  0.027572  -0.501961  0.020314  0.000488
2020-12-12      9.094947e-13  0.013786  -0.501961  0.010157  0.000244

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201213,AK,39738,NaN,1103360,NaN,totalTestsViral,1143098,139.0,886.0,...,1143098,0,3,d156168dc751b7d5ac6c800bb113036257e330ac,0,0,0,0,0,NaN
1,20201213,AL,295631,52801.0,1458560,NaN,totalTestsPeopleViral,1696439,2248.0,28146.0,...,1754191,0,0,4e514bc9880b07c124076d06e42235040016b194,0,0,0,0,0,NaN
2,20201213,AR,185702,26579.0,1696581,NaN,totalTestsViral,1855704,1057.0,9927.0,...,1882283,34,16,48afdc57c978fc5c440ef3306a6784c7c25b3769,0,0,0,0,0,NaN
3,20201213,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,85d10c50cf7ad409c880b1875963bbdaebe82380,0,0,0,0,0,NaN
4,20201213,AZ,408442,15451.0,2119705,NaN,totalTestsViral,4305888,3622.0,30949.0,...,2528147,35,262,0958b9af3d60cf3a345a4998bc9d32c1f6c73359,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201213,AK,39738.0,NaN,1103360.0,NaN,totalTestsViral,1143098.0,139.0,886.0,...,1143098,0,3,d156168dc751b7d5ac6c800bb113036257e330ac,0,0,0,0,0,NaN
1,20201213,AL,295631.0,52801.0,1458560.0,NaN,totalTestsPeopleViral,1696439.0,2248.0,28146.0,...,1754191,0,0,4e514bc9880b07c124076d06e42235040016b194,0,0,0,0,0,NaN
2,20201213,AR,185702.0,26579.0,1696581.0,NaN,totalTestsViral,1855704.0,1057.0,9927.0,...,1882283,34,16,48afdc57c978fc5c440ef3306a6784c7c25b3769,0,0,0,0,0,NaN
3,20201213,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,85d10c50cf7ad409c880b1875963bbdaebe82380,0,0,0,0,0,NaN
4,20201213,AZ,408442.0,15451.0,2119705.0,NaN,totalTestsViral,4305888.0,3622.0,30949.0,...,2528147,35,262,0958b9af3d60cf3a345a4998bc9d32c1f6c73359,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-13,AK,39738,NaN,1103360,NaN,totalTestsViral,1143098,139.0,886.0,NaN,...,1143098,0,3,d156168dc751b7d5ac6c800bb113036257e330ac,0,0,0,0,0,NaN
2020-12-13,AL,295631,52801.0,1458560,NaN,totalTestsPeopleViral,1696439,2248.0,28146.0,NaN,...,1754191,0,0,4e514bc9880b07c124076d06e42235040016b194,0,0,0,0,0,NaN
2020-12-13,AR,185702,26579.0,1696581,NaN,totalTestsViral,1855704,1057.0,9927.0,370.0,...,1882283,34,16,48afdc57c978fc5c440ef3306a6784c7c25b3769,0,0,0,0,0,NaN
2020-12-13,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,85d10c50cf7ad409c880b1875963bbdaebe82380,0,0,0,0,0,NaN
2020-12-13,AZ,408442,15451.0,2119705,NaN,totalTestsViral,4305888,3622.0,30949.0,831.0,...,2528147,35,262,0958b9af3d60cf3a345a4998bc9d32c1f6c73359,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-13,AK,39738.0,NaN,1103360.0,NaN,totalTestsViral,1143098.0,139.0,886.0,NaN,...,1143098,0,3,d156168dc751b7d5ac6c800bb113036257e330ac,0,0,0,0,0,NaN
2020-12-13,AL,295631.0,52801.0,1458560.0,NaN,totalTestsPeopleViral,1696439.0,2248.0,28146.0,NaN,...,1754191,0,0,4e514bc9880b07c124076d06e42235040016b194,0,0,0,0,0,NaN
2020-12-13,AR,185702.0,26579.0,1696581.0,NaN,totalTestsViral,1855704.0,1057.0,9927.0,370.0,...,1882283,34,16,48afdc57c978fc5c440ef3306a6784c7c25b3769,0,0,0,0,0,NaN
2020-12-13,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,85d10c50cf7ad409c880b1875963bbdaebe82380,0,0,0,0,0,NaN
2020-12-13,AZ,408442.0,15451.0,2119705.0,NaN,totalTestsViral,4305888.0,3622.0,30949.0,831.0,...,2528147,35,262,0958b9af3d60cf3a345a4998bc9d32c1f6c73359,0,0,0,0,0,NaN