# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'05-04-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'05-04-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-05-05 04:20:43,33.93911,67.709953,60563,2648,53694.0,4221.0,Afghanistan,155.575600,4.372307
1,NaN,NaN,NaN,Albania,2021-05-05 04:20:43,41.15330,20.168300,131327,2402,112626.0,16299.0,Albania,4563.451247,1.829022
2,NaN,NaN,NaN,Algeria,2021-05-05 04:20:43,28.03390,1.659600,122999,3289,85693.0,34017.0,Algeria,280.492758,2.674005
3,NaN,NaN,NaN,Andorra,2021-05-05 04:20:43,42.50630,1.521800,13316,127,12818.0,371.0,Andorra,17234.194008,0.953740
4,NaN,NaN,NaN,Angola,2021-05-05 04:20:43,-11.20270,17.873900,27284,609,24190.0,2485.0,Angola,83.015206,2.232077

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/25/21,4/26/21,4/27/21,4/28/21,4/29/21,4/30/21,5/1/21,5/2/21,5/3/21,5/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,58843,59015,59225,59370,59576,59745,59939,60122,60300,60563
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,130537,130606,130736,130859,130977,131085,131185,131238,131276,131327
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,120922,121112,121344,121580,121866,122108,122311,122522,122717,122999

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/25/21,4/26/21,4/27/21,4/28/21,4/29/21,4/30/21,5/1/21,5/2/21,5/3/21,5/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2582,2592,2598,2611,2618,2625,2631,2637,2642,2648
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2378,2379,2383,2386,2389,2394,2396,2397,2399,2402
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3207,3217,3225,3234,3244,3253,3261,3270,3280,3289

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/25/21,4/26/21,4/27/21,4/28/21,4/29/21,4/30/21,5/1/21,5/2/21,5/3/21,5/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,52489,52520,52794,52974,53103,53206,53272,53391,53391,53694
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,105728,106465,107163,107887,108606,109338,110172,110920,111792,112626
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,84299,84440,84598,84745,84940,85108,85249,85398,85534,85693

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/25/21,4/26/21,4/27/21,4/28/21,4/29/21,4/30/21,5/1/21,5/2/21,5/3/21,5/4/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6879,6882,6889,6890,6897,6904,6907,6909,6910,6910
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20847,20863,20875,20897,20921,20941,20966,20983,20993,20993
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2296,2296,2297,2298,2299,2300,2302,2302,2302,2302

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/25/21,4/26/21,4/27/21,4/28/21,4/29/21,4/30/21,5/1/21,5/2/21,5/3/21,5/4/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,107,107,107,107,107,107,107,107,107,107
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,305,305,305,305,305,305,306,306,306,306
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,56,56,56,56,56,56,56,56,56,56

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-05-05 04:20:43,32.539527,-86.644082,6910,107,NaN,NaN,"Autauga, Alabama, US",12368.218511,1.548480
689,1075.0,Lamar,Alabama,US,2021-05-05 04:20:43,33.779950,-88.096680,1412,34,NaN,NaN,"Lamar, Alabama, US",10228.178196,2.407932
690,1077.0,Lauderdale,Alabama,US,2021-05-05 04:20:43,34.901719,-87.656247,9397,238,NaN,NaN,"Lauderdale, Alabama, US",10133.830840,2.532723

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               32512575  578481         0.0
India            20282833  222408  16613292.0
Brazil           14856888  411588  13170561.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,32512575,578481,0.0,31934094.0,2021-05-05 04:20:43,37.950547,-91.419547
India,20282833,222408,16613292.0,3447133.0,2021-05-05 04:20:43,23.088275,81.806127
Brazil,14856888,411588,13170561.0,1274739.0,2021-05-05 04:20:43,-12.669522,-48.480493
France,5741537,105548,364859.0,5271130.0,2021-05-05 04:20:43,6.430808,-34.730285
Turkey,4929118,41527,4554037.0,333554.0,2021-05-05 04:20:43,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3749221   62011        0.0
Texas             2903934   50411        0.0
Florida           2249535   35399        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3749221,62011,0.0,3687210.0,2021-05-05 04:20:43,37.843962,-120.728594
Texas,2903934,50411,0.0,2853523.0,2021-05-05 04:20:43,31.660643,-98.653069
Florida,2249535,35399,0.0,2214136.0,2021-05-05 04:20:43,28.940755,-82.700744
New York,2059485,52483,0.0,2007002.0,2021-05-05 04:20:43,42.544151,-75.474183
Illinois,1343875,24410,0.0,1319465.0,2021-05-05 04:20:43,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1234202   23942        0.0
Arizona        Maricopa        539080    9886        0.0
Illinois       Cook            538095    9996        0.0
Florida        Miami-Dade      486808    6206        0.0
Texas          Harris          393587    6230        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1234202,23942,0.0,1210260.0,2021-05-05 04:20:43,34.308284,-118.228241,6037.0
Arizona,Maricopa,539080,9886,0.0,529194.0,2021-05-05 04:20:43,33.348359,-112.491815,4013.0
Illinois,Cook,538095,9996,0.0,528099.0,2021-05-05 04:20:43,41.841448,-87.816588,17031.0
Florida,Miami-Dade,486808,6206,0.0,480602.0,2021-05-05 04:20:43,25.611236,-80.551706,12086.0
Texas,Harris,393587,6230,0.0,387357.0,2021-05-05 04:20:43,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,60122,131238,122522,13282,26993,1232,3005259,216863,29838,622110,...,4435831,202492,91643,4,200067,2962,297638,6341,91693,38281
2021-05-03,60300,131276,122717,13295,27133,1232,3021179,217008,29850,623201,...,4437505,204120,92006,4,200931,2985,298203,6363,91722,38293
2021-05-04,60563,131327,122999,13316,27284,1232,3047417,217407,29865,624595,...,4439489,206946,92320,4,201807,2995,298921,6390,91804,38327

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,2637,2397,3270,127,602,32,64252,4139,910,10245,...,127796,2724,652,1,2172,35,3272,1233,1253,1570
2021-05-03,2642,2399,3280,127,603,32,64792,4149,910,10260,...,127797,2796,653,1,2189,35,3283,1239,1253,1573
2021-05-04,2648,2402,3289,127,609,32,65202,4165,910,10291,...,127803,2861,655,1,2208,35,3296,1240,1254,1574

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,53391,110920,85398,12753,23913,1014,2676197,199755,23327,589534,...,14684,173769,87628,3,180301,2549,275392,2875,90082,35634
2021-05-03,53391,111792,85534,12793,24190,1014,2698072,200472,23330,591525,...,14684,176783,87965,3,182757,2560,276171,2910,90130,35647
2021-05-04,53694,112626,85693,12818,24190,1014,2717458,201107,23349,593684,...,14839,179480,88258,3,184161,2560,277673,2948,90166,35775

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/25/21,4/26/21,4/27/21,4/28/21,4/29/21,4/30/21,5/1/21,5/2/21,5/3/21,5/4/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6879,6882,6889,6890,6897,6904,6907,6909,6910,6910
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1404,1404,1404,1406,1406,1408,1409,1411,1412,1412
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9322,9337,9350,9358,9367,9376,9386,9393,9397,9397
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2983,2984,2988,2988,2990,2992,2994,2996,2996,2996
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15723,15731,15742,15761,15773,15784,15792,15796,15800,15800

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-02,528597,68148,0,863927,336105,3744937,513765,339233,104909,49,...,847430,2897110,398012,23126,3138,661314,404709,153918,661685,58142
2021-05-03,528784,68426,0,864579,336166,3747337,514721,340545,105067,49,...,849436,2901549,398240,23158,3138,661925,407191,154207,662069,58290
2021-05-04,528784,68518,0,865280,336462,3749221,516240,340962,105204,49,...,849978,2903934,398499,23191,3152,662696,408607,154551,662893,58367

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-05-02        6909   20983    2302  2596   6619    1229   2154   14450
2021-05-03        6910   20993    2302  2597   6621    1229   2154   14457
2021-05-04        6910   20993    2302  2597   6621    1229   2154   14457

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-02         3545     1837  ...    2701    623     3124      776
2021-05-03         3545     1838  ...    2709    623     3127      779
2021-05-04         3545     1838  ...    2714    623     3142      779

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-02           4230  3732  2183          0      903    650
2021-05-03           4250  3739  2195          0      906    651
2021-05-04           4254  3741  2204          0      906    651

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-02,10913,347,0,17344,5743,61939,6304,8097,1626,0,...,12197,50290,2204,247,27,10791,5499,2686,7567,707
2021-05-03,10913,348,0,17344,5747,61967,6306,8112,1626,0,...,12205,50331,2204,248,27,10807,5507,2686,7567,707
2021-05-04,10913,348,0,17355,5752,62011,6321,8117,1626,0,...,12217,50411,2217,248,27,10823,5528,2695,7582,710

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-02         107     306      56   63    135      41     69     312
2021-05-03         107     306      56   63    135      41     69     312
2021-05-04         107     306      56   63    135      41     69     312

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-02          123       45  ...      30     11       31        7
2021-05-03          123       45  ...      30     11       31        7
2021-05-04          123       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-02             37     9    12          0       26      5
2021-05-03             37     9    12          0       26      5
2021-05-04             38     9    13          0       26      5

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,0.003053,0.000404,0.001725,0.003779,0.006638,0.0,0.003806,0.001233,0.000469,0.002619,...,0.000378,0.007884,0.004307,0.0,0.006044,0.006798,0.003967,0.002530,0.000251,0.000549
2021-05-03,0.002961,0.000290,0.001592,0.000979,0.005187,0.0,0.005297,0.000669,0.000402,0.001754,...,0.000377,0.008040,0.003961,0.0,0.004319,0.007765,0.001898,0.003469,0.000316,0.000313
2021-05-04,0.004362,0.000388,0.002298,0.001580,0.005565,0.0,0.008685,0.001839,0.000503,0.002237,...,0.000447,0.013845,0.003413,0.0,0.004360,0.003350,0.002408,0.004243,0.000894,0.000888

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,0.002281,0.000417,0.002760,0.016,0.003333,0.0,0.002434,0.002665,0.0,0.001173,...,0.000110,0.020607,0.003077,0.0,0.007889,0.0,0.007079,0.003255,0.001599,0.001276
2021-05-03,0.001896,0.000834,0.003058,0.000,0.001661,0.0,0.008404,0.002416,0.0,0.001464,...,0.000008,0.026432,0.001534,0.0,0.007827,0.0,0.003362,0.004866,0.000000,0.001911
2021-05-04,0.002271,0.001251,0.002744,0.000,0.009950,0.0,0.006328,0.003856,0.0,0.003021,...,0.000047,0.023247,0.003063,0.0,0.008680,0.0,0.003960,0.000807,0.000798,0.000636

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,0.002234,0.006789,0.001748,0.005440,0.000000,0.0,0.007848,0.003214,0.000815,0.004120,...,0.000000,0.017681,0.003608,0.0,0.000000,0.000392,0.011233,0.028991,0.000778,0.000393
2021-05-03,0.000000,0.007862,0.001593,0.003137,0.011584,0.0,0.008174,0.003589,0.000129,0.003377,...,0.000000,0.017345,0.003846,0.0,0.013622,0.004315,0.002829,0.012174,0.000533,0.000365
2021-05-04,0.005675,0.007460,0.001859,0.001954,0.000000,0.0,0.007185,0.003168,0.000814,0.003650,...,0.010556,0.015256,0.003331,0.0,0.007682,0.000000,0.005439,0.013058,0.000399,0.003591

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-02,0.000545,0.000000,NaN,0.000412,0.000408,0.000335,0.001874,0.000000,0.002753,0.0,...,0.000000,0.000449,0.000701,0.004081,0.004160,0.001152,0.000000,0.002736,0.000720,0.000000
2021-05-03,0.000354,0.004079,NaN,0.000755,0.000181,0.000641,0.001861,0.003868,0.001506,0.0,...,0.002367,0.001532,0.000573,0.001384,0.000000,0.000924,0.006133,0.001878,0.000580,0.002545
2021-05-04,0.000000,0.001345,NaN,0.000811,0.000881,0.000503,0.002951,0.001225,0.001304,0.0,...,0.000638,0.000822,0.000650,0.001425,0.004461,0.001165,0.003477,0.002231,0.001245,0.001321

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin Barbour      Bibb    Blount   Bullock
2021-05-02      0.000290  0.000811     0.0  0.000000  0.000453 -0.000813
2021-05-03      0.000145  0.000477     0.0  0.000385  0.000302  0.000000
2021-05-04      0.000000  0.000000     0.0  0.000000  0.000000  0.000000

Province_State                                       ...   Wyoming         \
Admin2         Butler   Calhoun  Chambers  Cherokee  ...      Park Platte
2021-05-02        0.0  0.000208  0.000282  0.000000  ...  0.000000    0.0
2021-05-03        0.0  0.000484  0.000000  0.000544  ...  0.002962    0.0
2021-05-04        0.0  0.000000  0.000000  0.000000  ...  0.001846    0.0

Province_State                                                                \
Admin2          Sheridan  Sublette Sweetwater     Teton     Uinta Unassigned
2021-05-02      0.000000  0.000000   0.000000  0.000000  0.000000        NaN
2021-05-03      0.000960  0.003866   0.004728  0.001876  0.005497        NaN
2021-05-04      0.004797  0.000000   0.000941  0.000535  0.004100        NaN

Province_State
Admin2          Washakie    Weston
2021-05-02      0.000000  0.000000
2021-05-03      0.003322  0.001538
2021-05-04      0.000000  0.000000

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-02,0.0,0.000000,NaN,0.000346,0.000348,0.001180,0.000317,0.000000,0.0,NaN,...,0.000000,0.000318,0.000454,0.000000,0.0,0.001299,0.000000,0.002613,-0.000264,0.000000
2021-05-03,0.0,0.002882,NaN,0.000000,0.000697,0.000452,0.000317,0.001853,0.0,NaN,...,0.000656,0.000815,0.000000,0.004049,0.0,0.001483,0.001455,0.000000,0.000000,0.000000
2021-05-04,0.0,0.000000,NaN,0.000634,0.000870,0.000710,0.002379,0.000616,0.0,NaN,...,0.000983,0.001589,0.005898,0.000000,0.0,0.001481,0.003813,0.003351,0.001982,0.004243

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-02         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-05-03         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-05-04         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-02          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-03          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-04          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton     Uinta Unassigned Washakie Weston
2021-05-02       0.000000   0.0  0.000000        NaN      0.0    0.0
2021-05-03       0.000000   0.0  0.000000        NaN      0.0    0.0
2021-05-04       0.027027   0.0  0.083333        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,0.003084,0.000609,0.001788,0.002593,0.007016,0.000069,0.005292,0.001924,0.000506,0.002829,...,0.000431,0.010602,0.004443,0.000081,0.006184,0.006511,0.002819,0.002767,0.000496,0.000494
2021-05-03,0.003023,0.000449,0.001690,0.001786,0.006101,0.000035,0.005295,0.001296,0.000454,0.002291,...,0.000404,0.009321,0.004202,0.000041,0.005251,0.007138,0.002358,0.003118,0.000406,0.000404
2021-05-04,0.003692,0.000419,0.001994,0.001683,0.005833,0.000017,0.006990,0.001567,0.000478,0.002264,...,0.000426,0.011583,0.003807,0.000020,0.004806,0.005244,0.002383,0.003681,0.000650,0.000646

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,0.002460,0.000844,0.002706,0.008268,0.004489,0.000252,0.003775,0.003685,5.245733e-10,0.001905,...,0.000107,0.020981,0.002467,0.0,0.008355,5.627295e-75,0.004939,0.003405,0.000983,0.000946
2021-05-03,0.002178,0.000839,0.002882,0.004134,0.003075,0.000126,0.006090,0.003050,2.622867e-10,0.001685,...,0.000058,0.023707,0.002000,0.0,0.008091,2.813648e-75,0.004151,0.004136,0.000491,0.001428
2021-05-04,0.002225,0.001045,0.002813,0.002067,0.006513,0.000063,0.006209,0.003453,1.311433e-10,0.002353,...,0.000052,0.023477,0.002532,0.0,0.008385,1.406824e-75,0.004055,0.002471,0.000645,0.001032

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-02,0.002024,0.006980,0.001788,0.003519,0.002314,0.000202,0.008312,0.003962,0.000697,0.004039,...,0.000619,0.017312,0.003344,0.001953,0.003054,0.003418,0.007227,0.021027,0.000835,0.000641
2021-05-03,0.001012,0.007421,0.001690,0.003328,0.006949,0.000101,0.008243,0.003776,0.000413,0.003708,...,0.000309,0.017328,0.003595,0.000977,0.008338,0.003867,0.005028,0.016601,0.000684,0.000503
2021-05-04,0.003343,0.007441,0.001775,0.002641,0.003475,0.000051,0.007714,0.003472,0.000614,0.003679,...,0.005433,0.016292,0.003463,0.000488,0.008010,0.001933,0.005233,0.014829,0.000542,0.002047

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-02,0.000645,0.000599,NaN,0.000751,0.000545,0.000401,0.002791,0.000513,0.002587,3.218577e-125,...,0.000308,0.000709,0.000854,0.004041,0.003449,0.001392,0.001922,0.002617,0.000968,0.000332
2021-05-03,0.000500,0.002339,NaN,0.000753,0.000363,0.000521,0.002326,0.002190,0.002047,1.609289e-125,...,0.001338,0.001121,0.000713,0.002713,0.001725,0.001158,0.004027,0.002247,0.000774,0.001439
2021-05-04,0.000250,0.001842,NaN,0.000782,0.000622,0.000512,0.002639,0.001707,0.001675,8.046443e-126,...,0.000988,0.000971,0.000682,0.002069,0.003093,0.001161,0.003752,0.002239,0.001009,0.001380

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-05-02      0.000486  0.000947  0.000326  0.000359  0.000657  0.000171
2021-05-03      0.000315  0.000712  0.000163  0.000372  0.000480  0.000086
2021-05-04      0.000158  0.000356  0.000082  0.000186  0.000240  0.000043

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-05-02      0.000402  0.000390  0.000470  0.000258  ...  0.000409
2021-05-03      0.000201  0.000437  0.000235  0.000401  ...  0.001685
2021-05-04      0.000101  0.000219  0.000117  0.000200  ...  0.001766

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-05-02      0.000190  0.000181  0.000275   0.000747  0.000134  0.000328
2021-05-03      0.000095  0.000571  0.002070   0.002738  0.001005  0.002913
2021-05-04      0.000048  0.002684  0.001035   0.001839  0.000770  0.003506

Province_State
Admin2         Unassigned  Washakie    Weston
2021-05-02           -1.0  0.000122  0.000146
2021-05-03           -1.0  0.001722  0.000842
2021-05-04           -1.0  0.000861  0.000421

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-02,0.000619,0.000304,NaN,0.000620,0.000471,0.000692,0.000852,0.000305,0.000423,NaN,...,0.000223,0.000726,0.000913,0.001217,2.347506e-06,0.001208,0.000551,0.000825,0.000915,0.000045
2021-05-03,0.000310,0.001593,NaN,0.000310,0.000584,0.000572,0.000584,0.001079,0.000211,NaN,...,0.000439,0.000770,0.000456,0.002633,1.173753e-06,0.001346,0.001003,0.000412,0.000457,0.000022
2021-05-04,0.000155,0.000797,NaN,0.000472,0.000727,0.000641,0.001482,0.000848,0.000106,NaN,...,0.000711,0.001180,0.003177,0.001316,5.868765e-07,0.001413,0.002408,0.001882,0.001220,0.002133

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                          \
Admin2               Autauga   Baldwin   Barbour      Bibb    Blount
2021-05-02      2.747965e-06  0.000834  0.000009  0.000513  0.000474
2021-05-03      1.373982e-06  0.000417  0.000004  0.000256  0.000237
2021-05-04      6.869911e-07  0.000209  0.000002  0.000128  0.000118

Province_State                                                        ...  \
Admin2           Bullock    Butler   Calhoun  Chambers      Cherokee  ...
2021-05-02      0.006250  0.000029 -0.000005  0.003078  2.777098e-06  ...
2021-05-03      0.003125  0.000014 -0.000002  0.001539  1.388549e-06  ...
2021-05-04      0.001563  0.000007 -0.000001  0.000770  6.942744e-07  ...

Province_State       Wyoming                                            \
Admin2                  Park        Platte      Sheridan      Sublette
2021-05-02      1.568301e-14  6.365673e-31  1.184479e-16  5.203522e-37
2021-05-03      7.841504e-15  3.182837e-31  5.922394e-17  2.601761e-37
2021-05-04      3.920752e-15  1.591418e-31  2.961197e-17  1.300880e-37

Province_State                                                       \
Admin2            Sweetwater         Teton         Uinta Unassigned
2021-05-02      3.233759e-12  1.661062e-24  8.441416e-32  -0.501961
2021-05-03      1.616879e-12  8.305310e-25  4.220708e-32  -0.501961
2021-05-04      1.351351e-02  4.152655e-25  4.166667e-02  -0.501961

Province_State
Admin2              Washakie        Weston
2021-05-02      3.233036e-29  6.866245e-28
2021-05-03      1.616518e-29  3.433123e-28
2021-05-04      8.082589e-30  1.716561e-28

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN