# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'09-28-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'09-28-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-29 04:23:42,33.93911,67.709953,39233,1455,32642,5136.0,Afghanistan,100.782615,3.708613
1,NaN,NaN,NaN,Albania,2020-09-29 04:23:42,41.15330,20.168300,13391,380,7629,5382.0,Albania,465.320731,2.837727
2,NaN,NaN,NaN,Algeria,2020-09-29 04:23:42,28.03390,1.659600,51213,1719,35962,13532.0,Algeria,116.788556,3.356570
3,NaN,NaN,NaN,Andorra,2020-09-29 04:23:42,42.50630,1.521800,1966,53,1265,648.0,Andorra,2544.489743,2.695829
4,NaN,NaN,NaN,Angola,2020-09-29 04:23:42,-11.20270,17.873900,4797,176,1813,2808.0,Angola,14.595512,3.668960

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38919,39044,39074,39096,39145,39170,39186,39192,39227,39233
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,12226,12385,12535,12666,12787,12921,13045,13153,13259,13391
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,49623,49826,50023,50214,50400,50579,50754,50914,51067,51213

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1437,1441,1444,1445,1446,1451,1451,1453,1453,1455
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,358,362,364,367,370,370,373,375,377,380
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1665,1672,1679,1689,1698,1703,1707,1711,1714,1719

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32576,32576,32576,32576,32610,32619,32619,32635,32642,32642
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6888,6940,6995,7042,7139,7239,7309,7397,7397,7629
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,34923,35047,35180,35307,35428,35544,35654,35756,35860,35962

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1673,1690,1691,1714,1715,1738,1757,1764,1773,1785
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5047,5061,5087,5124,5141,5165,5456,5477,5526,5588
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,830,835,838,848,851,857,873,882,885,886

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,24,24,24,25,25,25,25,25,25,25
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,49,49,49,49,49,50,50,50,50,50
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
632,1001.0,Autauga,Alabama,US,2020-09-29 04:23:42,32.539527,-86.644082,1785,25,0,1760.0,"Autauga, Alabama, US",3194.973957,1.400560
669,1075.0,Lamar,Alabama,US,2020-09-29 04:23:42,33.779950,-88.096680,377,2,0,375.0,"Lamar, Alabama, US",2730.894603,0.530504
670,1077.0,Lauderdale,Alabama,US,2020-09-29 04:23:42,34.901719,-87.656247,1740,33,0,1707.0,"Lauderdale, Alabama, US",1876.435635,1.896552

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                7148045  205072    2794608
India             6145291   96318    5101397
Brazil            4745464  142058    4197372

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,7148045,205072,2794608,4148365,2020-09-29 04:23:42,37.923092,-91.345036
India,6145291,96318,5101397,947576,2020-09-29 04:23:42,23.088275,81.806127
Brazil,4745464,142058,4197372,406034,2020-09-29 04:23:42,-12.669522,-48.480493
Russia,1154299,20299,942619,191381,2020-09-29 04:23:42,54.546312,62.120860
Colombia,818203,25641,722536,70026,2020-09-29 04:23:42,5.349139,-74.190797

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         812711   15633          0
Texas              761198   15807          0
Florida            701302   14037          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,812711,15633,0,797078,2020-09-29 04:23:42,37.843962,-120.728594
Texas,761198,15807,0,745391,2020-09-29 04:23:42,31.660643,-98.653069
Florida,701302,14037,0,687265,2020-09-29 04:23:42,28.940755,-82.700744
New York,456460,33140,0,423320,2020-09-29 04:23:42,42.544151,-75.474183
Georgia,315281,6961,0,308320,2020-09-29 04:23:42,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     268455    6515          0
Florida        Miami-Dade      169466    3228          0
Illinois       Cook            144315    5217          0
Texas          Harris          141707    2576          0
Arizona        Maricopa        141377    3364          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,268455,6515,0,261940,2020-09-29 04:23:42,34.308284,-118.228241,6037.0
Florida,Miami-Dade,169466,3228,0,166238,2020-09-29 04:23:42,25.611236,-80.551706,12086.0
Illinois,Cook,144315,5217,0,139098,2020-09-29 04:23:42,41.841448,-87.816588,17031.0
Texas,Harris,141707,2576,0,139131,2020-09-29 04:23:42,29.858649,-95.393395,48201.0
Arizona,Maricopa,141377,3364,0,138013,2020-09-29 04:23:42,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,39192,13153,50914,1836,4672,98,702484,49072,27040,42214,...,431817,1998,54819,71940,1069,38253,10,2030,14612,7803
2020-09-27,39227,13259,51067,1836,4718,101,711325,49400,27044,42876,...,437517,2008,55320,72691,1074,38703,10,2030,14641,7812
2020-09-28,39233,13391,51213,1966,4797,101,723132,49574,27055,43432,...,441573,2010,55776,73528,1077,39121,10,2031,14660,7816

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,1453,375,1711,53,171,3,15543,948,872,787,...,42060,47,452,600,35,285,1,587,332,227
2020-09-27,1453,377,1714,53,174,3,15749,951,875,787,...,42077,47,458,606,35,291,1,587,332,227
2020-09-28,1455,380,1719,53,176,3,16113,957,882,790,...,42090,47,460,614,35,299,1,587,332,228

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,32635,7397,35756,1263,1639,92,556489,43576,24571,33154,...,2333,1716,51322,61528,999,27704,8,1260,13727,6067
2020-09-27,32642,7397,35860,1263,1707,92,565935,43613,24631,33589,...,2339,1728,51829,62427,999,29068,8,1266,13784,6106
2020-09-28,32642,7629,35962,1265,1813,92,576715,43665,24679,34052,...,2352,1755,52324,63346,999,30220,8,1266,13821,6112

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1673,1690,1691,1714,1715,1738,1757,1764,1773,1785
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,345,346,353,355,357,363,366,367,370,377
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1641,1646,1653,1662,1673,1682,1698,1713,1723,1740
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,582,585,592,603,605,609,616,620,621,628
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,5705,5713,5751,5765,5792,5829,5887,5897,5927,5945

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-26,151591,7367,0,216826,80755,807451,68489,56587,20156,49,...,190891,754311,69547,1739,1317,145267,85830,15167,113645,5465
2020-09-27,152321,7481,0,217237,81242,809890,69058,56587,20260,49,...,192995,758756,70615,1742,1317,146001,86269,15351,115862,5633
2020-09-28,152983,7597,0,217510,82049,812711,69469,57147,20389,49,...,193732,761198,71442,1745,1318,146444,86638,15516,117588,5754

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-26        1764    5477     882  654   1611     604    912    3515
2020-09-27        1773    5526     885  656   1617     606    913    3534
2020-09-28        1785    5588     886  657   1618     607    914    3548

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-26         1164      608  ...     230     28      275       98
2020-09-27         1168      612  ...     236     28      289       97
2020-09-28         1172      614  ...     238     30      292      100

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-26            332   536   350          0      114     36
2020-09-27            335   554   352          0      115     36
2020-09-28            334   560   354          0      115     36

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-26,2501,52,0,5622,1285,15583,2040,4501,633,0,...,2374,15707,448,58,19,3142,2100,337,1281,50
2020-09-27,2501,56,0,5623,1308,15606,2041,4501,633,0,...,2377,15745,453,58,19,3157,2100,339,1281,50
2020-09-28,2501,56,0,5624,1329,15633,2044,4503,634,0,...,2389,15807,453,58,20,3170,2100,342,1283,50

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-26          25      50       7   10     15      14     39      44
2020-09-27          25      50       7   10     15      14     39      44
2020-09-28          25      50       7   10     15      14     39      44

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-26           42       13  ...       2      1        4        1
2020-09-27           42       13  ...       2      1        4        1
2020-09-28           42       13  ...       2      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-26              2     1     2          0        6      0
2020-09-27              2     1     2          0        6      0
2020-09-28              2     1     2          0        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,0.000153,0.008279,0.003152,0.000000,0.017865,0.000000,0.016274,0.008819,0.000888,0.017205,...,0.01421,0.015760,0.007850,0.009358,0.000000,0.007639,0.0,0.000493,0.006683,0.002055
2020-09-27,0.000893,0.008059,0.003005,0.000000,0.009846,0.030612,0.012585,0.006684,0.000148,0.015682,...,0.01320,0.005005,0.009139,0.010439,0.004677,0.011764,0.0,0.000000,0.001985,0.001153
2020-09-28,0.000153,0.009956,0.002859,0.070806,0.016744,0.000000,0.016599,0.003522,0.000407,0.012968,...,0.00927,0.000996,0.008243,0.011514,0.002793,0.010800,0.0,0.000493,0.001298,0.000512

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,0.001378,0.005362,0.002343,0.0,0.023952,0.0,0.022028,0.001056,0.002299,0.001272,...,0.000833,0.0,0.006682,0.015228,0.0,0.025180,0.0,0.0,0.0,0.000000
2020-09-27,0.000000,0.005333,0.001753,0.0,0.017544,0.0,0.013254,0.003165,0.003440,0.000000,...,0.000404,0.0,0.013274,0.010000,0.0,0.021053,0.0,0.0,0.0,0.000000
2020-09-28,0.001376,0.007958,0.002917,0.0,0.011494,0.0,0.023113,0.006309,0.008000,0.003812,...,0.000309,0.0,0.004367,0.013201,0.0,0.027491,0.0,0.0,0.0,0.004405

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,0.000491,0.012040,0.002861,0.000000,0.054698,0.0,0.017489,0.004032,0.002039,0.026408,...,0.013026,0.003509,0.008707,0.013491,0.0,0.019166,0.0,0.003984,0.006157,0.001651
2020-09-27,0.000214,0.000000,0.002909,0.000000,0.041489,0.0,0.016974,0.000849,0.002442,0.013121,...,0.002572,0.006993,0.009879,0.014611,0.0,0.049235,0.0,0.004762,0.004152,0.006428
2020-09-28,0.000000,0.031364,0.002844,0.001584,0.062097,0.0,0.019048,0.001192,0.001949,0.013784,...,0.005558,0.015625,0.009551,0.014721,0.0,0.039631,0.0,0.000000,0.002684,0.000983

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-26,0.006193,0.015578,NaN,0.002121,0.010119,0.004717,0.008600,0.000000,0.003535,0.0,...,0.007585,0.004318,0.014840,0.004622,0.016204,0.006743,0.007087,0.013701,0.025418,0.008303
2020-09-27,0.004816,0.015474,NaN,0.001896,0.006031,0.003021,0.008308,0.000000,0.005160,0.0,...,0.011022,0.005893,0.015357,0.001725,0.000000,0.005053,0.005115,0.012132,0.019508,0.030741
2020-09-28,0.004346,0.015506,NaN,0.001257,0.009933,0.003483,0.005952,0.009896,0.006367,0.0,...,0.003819,0.003218,0.011711,0.001722,0.000759,0.003034,0.004277,0.010748,0.014897,0.021481

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-26      0.003984  0.003849  0.010309  0.003067  0.001866  0.008347
2020-09-27      0.005102  0.008947  0.003401  0.003058  0.003724  0.003311
2020-09-28      0.006768  0.011220  0.001130  0.001524  0.000618  0.001650

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-26     -0.004367  0.004573  0.002584  0.008292  ...  0.013216
2020-09-27      0.001096  0.005405  0.003436  0.006579  ...  0.026087
2020-09-28      0.001095  0.003962  0.003425  0.003268  ...  0.008475

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-26      0.037037  0.011029  0.031579   0.000000  0.007519  0.005747
2020-09-27      0.000000  0.050909 -0.010204   0.009036  0.033582  0.005714
2020-09-28      0.071429  0.010381  0.030928  -0.002985  0.010830  0.005682

Province_State
Admin2         Unassigned  Washakie    Weston
2020-09-26            NaN  0.000000  0.028571
2020-09-27            NaN  0.008772  0.000000
2020-09-28            NaN  0.000000  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-26,0.004014,0.000000,NaN,0.006265,0.015008,0.004318,0.00295,0.000000,0.00317,NaN,...,0.009354,0.006214,0.000000,0.0,0.000000,0.002553,0.0,0.005970,0.005495,0.0
2020-09-27,0.000000,0.076923,NaN,0.000178,0.017899,0.001476,0.00049,0.000000,0.00000,NaN,...,0.001264,0.002419,0.011161,0.0,0.000000,0.004774,0.0,0.005935,0.000000,0.0
2020-09-28,0.000000,0.000000,NaN,0.000178,0.016055,0.001730,0.00147,0.000444,0.00158,NaN,...,0.005048,0.003938,0.000000,0.0,0.052632,0.004118,0.0,0.008850,0.001561,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler   Calhoun
2020-09-26         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.047619
2020-09-27         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.000000
2020-09-28         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.000000

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-26          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-09-27          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-09-28          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-26            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-27            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-28            0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,0.000397,0.009157,0.003364,0.015814,0.022159,0.003269,0.017708,0.007895,0.000767,0.017530,...,0.014896,0.010438,0.009233,0.011236,0.000065,0.009742,7.012097e-31,0.000301,0.004996,0.002856
2020-09-27,0.000645,0.008608,0.003185,0.007907,0.016002,0.016941,0.015147,0.007289,0.000457,0.016606,...,0.014048,0.007721,0.009186,0.010838,0.002371,0.010753,3.506048e-31,0.000151,0.003490,0.002005
2020-09-28,0.000399,0.009282,0.003022,0.039357,0.016373,0.008470,0.015873,0.005406,0.000432,0.014787,...,0.011659,0.004359,0.008714,0.011176,0.002582,0.010776,1.753024e-31,0.000322,0.002394,0.001258

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,0.001246,0.005759,0.002777,2.732857e-16,0.024408,2.154917e-50,0.025668,0.001922,0.003054,0.003264,...,0.000833,0.001380,0.006611,0.015539,2.370493e-09,0.018924,0.0,0.000444,0.000276,0.000433
2020-09-27,0.000623,0.005546,0.002265,1.366428e-16,0.020976,1.077458e-50,0.019461,0.002543,0.003247,0.001632,...,0.000619,0.000690,0.009943,0.012770,1.185247e-09,0.019988,0.0,0.000222,0.000138,0.000217
2020-09-28,0.001000,0.006752,0.002591,6.832142e-17,0.016235,5.387291e-51,0.021287,0.004426,0.005624,0.002722,...,0.000464,0.000345,0.007155,0.012985,5.926234e-10,0.023740,0.0,0.000111,0.000069,0.002311

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-26,0.000358,0.011504,0.003056,0.013408,0.039262,0.000021,0.018724,0.004086,0.002046,0.023638,...,0.011211,0.008783,0.010599,0.015000,0.004668,0.018975,4.108651e-33,0.004015,0.003619,0.002795
2020-09-27,0.000286,0.005752,0.002982,0.006704,0.040376,0.000011,0.017849,0.002468,0.002244,0.018379,...,0.006891,0.007888,0.010239,0.014805,0.002334,0.034105,2.054325e-33,0.004388,0.003886,0.004612
2020-09-28,0.000143,0.018558,0.002913,0.004144,0.051236,0.000005,0.018449,0.001830,0.002096,0.016082,...,0.006225,0.011757,0.009895,0.014763,0.001167,0.036868,1.027163e-33,0.002194,0.003285,0.002797

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-26,0.008735,0.015536,NaN,0.002269,0.010982,0.004667,0.009122,0.001258,0.004762,1.355823e-59,...,0.007648,0.005131,0.016502,0.003617,0.010186,0.006414,0.007948,0.014085,0.023384,0.015706
2020-09-27,0.006775,0.015505,NaN,0.002082,0.008506,0.003844,0.008715,0.000629,0.004961,6.779115e-60,...,0.009335,0.005512,0.015929,0.002671,0.005093,0.005733,0.006531,0.013109,0.021446,0.023224
2020-09-28,0.005561,0.015506,NaN,0.001669,0.009220,0.003663,0.007333,0.005263,0.005664,3.389557e-60,...,0.006577,0.004365,0.013820,0.002197,0.002926,0.004384,0.005404,0.011929,0.018171,0.022352

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-26      0.007080  0.017170  0.011607  0.006705  0.005144  0.005488
2020-09-27      0.006091  0.013058  0.007504  0.004882  0.004434  0.004399
2020-09-28      0.006430  0.012139  0.004317  0.003203  0.002526  0.003025

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-26     -0.001007  0.007807  0.004922  0.012660  ...  0.021520
2020-09-27      0.000045  0.006606  0.004179  0.009619  ...  0.023803
2020-09-28      0.000570  0.005284  0.003802  0.006444  ...  0.016139

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-26      0.057883  0.014391  0.043866   0.004441  0.009884  0.006555
2020-09-27      0.028941  0.032650  0.016831   0.006739  0.021733  0.006135
2020-09-28      0.050185  0.021515  0.023879   0.001877  0.016282  0.005908

Province_State
Admin2         Unassigned  Washakie    Weston
2020-09-26      -0.571428  0.002239  0.100035
2020-09-27      -0.571428  0.005505  0.050018
2020-09-28      -0.571428  0.002753  0.025009

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-26,0.002492,0.035432,NaN,0.005636,0.014896,0.005786,0.002095,0.000200,0.002492,NaN,...,0.011952,0.006755,0.00260,3.926497e-18,1.842511e-06,0.005292,0.003103,0.011865,0.005757,0.001349
2020-09-27,0.001246,0.056178,NaN,0.002907,0.016397,0.003631,0.001293,0.000100,0.001246,NaN,...,0.006608,0.004587,0.00688,1.963248e-18,9.212555e-07,0.005033,0.001551,0.008900,0.002879,0.000674
2020-09-28,0.000623,0.028089,NaN,0.001542,0.016226,0.002681,0.001381,0.000272,0.001413,NaN,...,0.005828,0.004263,0.00344,9.816241e-19,2.631625e-02,0.004576,0.000776,0.008875,0.002220,0.000337

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-09-26      0.001323  0.002699  3.045864e-13  0.000461  0.004617
2020-09-27      0.000662  0.001349  1.522932e-13  0.000231  0.002309
2020-09-28      0.000331  0.000675  7.614661e-14  0.000115  0.001154

Province_State                                                    ...  \
Admin2           Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-09-26      0.000038  0.001658  0.033969  0.000024 -0.036997  ...
2020-09-27      0.000019  0.000829  0.016985  0.000012 -0.018498  ...
2020-09-28      0.000009  0.000414  0.008492  0.000006 -0.009249  ...

Province_State   Wyoming                                                   \
Admin2              Park Platte  Sheridan Sublette Sweetwater Teton Uinta
2020-09-26      0.000977    0.0  0.001465      0.0        0.0   0.0   0.0
2020-09-27      0.000488    0.0  0.000732      0.0        0.0   0.0   0.0
2020-09-28      0.000244    0.0  0.000366      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned Washakie Weston
2020-09-26      -0.999969      0.0    NaN
2020-09-27      -0.999969      0.0    NaN
2020-09-28      -0.999969      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200928,AK,8549,436242,NaN,444791,43.0,NaN,NaN,NaN,...,444791,0,0,4e69422096acf75151468261082a237436cef891,0,0,0,0,0,NaN
1,20200928,AL,152983,980291,NaN,1116346,753.0,17091.0,NaN,1798.0,...,1133274,0,239,7c8d97e72cc9e00f4d59d877297d6413d2f49138,0,0,0,0,0,NaN
2,20200928,AR,82049,918177,NaN,997698,491.0,5248.0,231.0,NaN,...,1000226,21,13,b709c3e13433dcdeb90a274d7e3353f0eb886bf9,0,0,0,0,0,NaN
3,20200928,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,...,1571,0,0,d3ac2fc4e017ac48460c41a526bea4251d80cc7f,0,0,0,0,0,NaN
4,20200928,AZ,217510,1235742,NaN,1448712,468.0,22019.0,115.0,NaN,...,1453252,0,4,76daa017cbe7b18563b3d021f9b623f1d3a30ec9,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200928,AK,8549.0,436242.0,NaN,444791.0,43.0,NaN,NaN,NaN,...,444791,0,0,4e69422096acf75151468261082a237436cef891,0,0,0,0,0,NaN
1,20200928,AL,152983.0,980291.0,NaN,1116346.0,753.0,17091.0,NaN,1798.0,...,1133274,0,239,7c8d97e72cc9e00f4d59d877297d6413d2f49138,0,0,0,0,0,NaN
2,20200928,AR,82049.0,918177.0,NaN,997698.0,491.0,5248.0,231.0,NaN,...,1000226,21,13,b709c3e13433dcdeb90a274d7e3353f0eb886bf9,0,0,0,0,0,NaN
3,20200928,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,...,1571,0,0,d3ac2fc4e017ac48460c41a526bea4251d80cc7f,0,0,0,0,0,NaN
4,20200928,AZ,217510.0,1235742.0,NaN,1448712.0,468.0,22019.0,115.0,NaN,...,1453252,0,4,76daa017cbe7b18563b3d021f9b623f1d3a30ec9,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-28,AK,8549,436242,NaN,444791,43.0,NaN,NaN,NaN,14.0,...,444791,0,0,4e69422096acf75151468261082a237436cef891,0,0,0,0,0,NaN
2020-09-28,AL,152983,980291,NaN,1116346,753.0,17091.0,NaN,1798.0,NaN,...,1133274,0,239,7c8d97e72cc9e00f4d59d877297d6413d2f49138,0,0,0,0,0,NaN
2020-09-28,AR,82049,918177,NaN,997698,491.0,5248.0,231.0,NaN,99.0,...,1000226,21,13,b709c3e13433dcdeb90a274d7e3353f0eb886bf9,0,0,0,0,0,NaN
2020-09-28,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,d3ac2fc4e017ac48460c41a526bea4251d80cc7f,0,0,0,0,0,NaN
2020-09-28,AZ,217510,1235742,NaN,1448712,468.0,22019.0,115.0,NaN,57.0,...,1453252,0,4,76daa017cbe7b18563b3d021f9b623f1d3a30ec9,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-28,AK,8549.0,436242.0,NaN,444791.0,43.0,NaN,NaN,NaN,14.0,...,444791,0,0,4e69422096acf75151468261082a237436cef891,0,0,0,0,0,NaN
2020-09-28,AL,152983.0,980291.0,NaN,1116346.0,753.0,17091.0,NaN,1798.0,NaN,...,1133274,0,239,7c8d97e72cc9e00f4d59d877297d6413d2f49138,0,0,0,0,0,NaN
2020-09-28,AR,82049.0,918177.0,NaN,997698.0,491.0,5248.0,231.0,NaN,99.0,...,1000226,21,13,b709c3e13433dcdeb90a274d7e3353f0eb886bf9,0,0,0,0,0,NaN
2020-09-28,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,d3ac2fc4e017ac48460c41a526bea4251d80cc7f,0,0,0,0,0,NaN
2020-09-28,AZ,217510.0,1235742.0,NaN,1448712.0,468.0,22019.0,115.0,NaN,57.0,...,1453252,0,4,76daa017cbe7b18563b3d021f9b623f1d3a30ec9,0,0,0,0,0,NaN