# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-08-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-08-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-09 05:23:30,33.93911,67.709953,55359,2413,48042,4904.0,Afghanistan,142.207447,4.358822
1,NaN,NaN,NaN,Albania,2021-02-09 05:23:30,41.15330,20.168300,86289,1472,52128,32689.0,Albania,2998.436306,1.705895
2,NaN,NaN,NaN,Algeria,2021-02-09 05:23:30,28.03390,1.659600,109313,2918,74871,31524.0,Algeria,249.282554,2.669399
3,NaN,NaN,NaN,Andorra,2021-02-09 05:23:30,42.50630,1.521800,10275,106,9610,559.0,Andorra,13298.388662,1.031630
4,NaN,NaN,NaN,Angola,2021-02-09 05:23:30,-11.20270,17.873900,20112,475,18596,1041.0,Angola,61.193440,2.361774

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55008,55023,55059,55121,55174,55231,55265,55330,55335,55359
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,77251,78127,78992,79934,80941,81993,83082,84212,85336,86289
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,107122,107339,107578,107841,108116,108381,108629,108629,109088,109313

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2400,2400,2404,2405,2406,2407,2407,2408,2410,2413
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1369,1380,1393,1398,1404,1418,1433,1446,1460,1472
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2888,2891,2894,2898,2900,2904,2909,2909,2914,2918

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,47609,47679,47723,47798,47982,47995,48018,48027,48041,48042
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,46927,47424,47922,48377,48958,49543,50219,50875,51444,52128
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,73152,73344,73530,73732,73940,74136,74330,74330,74692,74871

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5596,5669,5683,5723,5753,5811,5824,5856,5869,5881
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,17922,18126,18211,18344,18418,18494,18568,18668,18723,18763
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1931,1951,1956,1966,1981,1989,1994,2002,2008,2008

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,69,69,69,70,71,74,76,77,77,77
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,224,224,224,228,228,233,234,227,227,227
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,40,40,40,40,42,43,44,45,45,45

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
651,1001.0,Autauga,Alabama,US,2021-02-09 05:23:30,32.539527,-86.644082,5881,77,0,5804.0,"Autauga, Alabama, US",10526.409995,1.309301
688,1075.0,Lamar,Alabama,US,2021-02-09 05:23:30,33.779950,-88.096680,1272,30,0,1242.0,"Lamar, Alabama, US",9214.052879,2.358491
689,1077.0,Lauderdale,Alabama,US,2021-02-09 05:23:30,34.901719,-87.656247,8380,179,0,8201.0,"Lauderdale, Alabama, US",9037.086564,2.136038

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               27094014  464941          0
India            10847304  155158   10548521
Brazil            9524640  231534    8478818

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,27094014,464941,0,26629073,2021-02-09 05:23:30,37.936303,-91.379001
India,10847304,155158,10548521,143625,2021-02-09 05:23:30,23.088275,81.806127
Brazil,9524640,231534,8478818,814288,2021-02-09 05:23:30,-12.669522,-48.480493
United Kingdom,3971315,113014,10323,3847978,2021-02-09 05:23:30,30.744028,-35.367255
Russia,3939162,75828,3434163,429171,2021-02-09 05:23:30,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3429007   44363          0
Texas             2504578   39482          0
Florida           1783720   27815          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3429007,44363,0,3384644,2021-02-09 05:23:30,37.843962,-120.728594
Texas,2504578,39482,0,2465096,2021-02-09 05:23:30,31.660643,-98.653069
Florida,1783720,27815,0,1755905,2021-02-09 05:23:30,28.940755,-82.700744
New York,1489196,44969,0,1444227,2021-02-09 05:23:30,42.544151,-75.474183
Illinois,1148088,21779,0,1126309,2021-02-09 05:23:30,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1149064   18135          0
Arizona        Maricopa        488687    7979          0
Illinois       Cook            461118    9024          0
Florida        Miami-Dade      384971    5039          0
Texas          Harris          329167    4520          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1149064,18135,0,1130929,2021-02-09 05:23:30,34.308284,-118.228241,6037.0
Arizona,Maricopa,488687,7979,0,480708,2021-02-09 05:23:30,33.348359,-112.491815,4013.0
Illinois,Cook,461118,9024,0,452094,2021-02-09 05:23:30,41.841448,-87.816588,17031.0
Florida,Miami-Dade,384971,5039,0,379932,2021-02-09 05:23:30,25.611236,-80.551706,12086.0
Texas,Harris,329167,4520,0,324647,2021-02-09 05:23:30,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,55330,84212,108629,10206,20062,288,1976689,167937,28851,422522,...,3941273,44812,79045,1,129643,1985,162029,2127,61427,34487
2021-02-07,55335,85336,109088,10251,20086,299,1980347,168088,28857,423839,...,3957177,45311,79098,1,130116,2001,162601,2127,62633,34552
2021-02-08,55359,86289,109313,10275,20112,316,1985501,168177,28860,424896,...,3971315,45650,79162,1,130596,2050,163213,2131,63573,34658

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,2408,1446,2909,105,475,7,49110,3114,909,7994,...,112305,481,621,0,1228,35,1870,615,839,1316
2021-02-07,2410,1460,2914,106,475,7,49171,3117,909,8012,...,112681,490,621,0,1233,35,1881,615,853,1326
2021-02-08,2413,1472,2918,106,475,7,49398,3123,909,8032,...,113014,497,621,0,1240,35,1888,615,869,1339

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,48027,50875,74330,9492,18475,187,1772059,159577,26086,400851,...,10182,38469,77490,1,121569,1468,152120,1428,53410,28383
2021-02-07,48041,51444,74692,9533,18540,187,1778965,159720,26089,402053,...,10270,38976,77522,1,122081,1472,152579,1428,54835,28551
2021-02-08,48042,52128,74871,9610,18596,189,1786178,159876,26097,403302,...,10323,39677,77564,1,122531,1472,153019,1428,56329,28825

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5596,5669,5683,5723,5753,5811,5824,5856,5869,5881
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1235,1248,1249,1251,1253,1260,1264,1267,1269,1272
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8134,8180,8191,8216,8255,8298,8332,8350,8366,8380
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2628,2647,2654,2665,2682,2699,2708,2717,2723,2729
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,13679,13829,13878,13958,14048,14149,14197,14277,14337,14361

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-06,471311,55259,0,779093,306064,3408241,404256,259372,79832,49,...,742213,2486505,353700,12766,2449,526176,320146,124190,600016,52618
2021-02-07,472423,55259,0,780637,306736,3417982,405330,259372,80594,49,...,744600,2494861,354608,12900,2466,529125,320146,124708,600782,52627
2021-02-08,473348,55768,0,782887,307373,3429007,406276,263739,80931,49,...,745826,2504578,355122,13046,2466,530825,323214,125106,601391,52784

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-06        5856   18668    2002  2334   5908    1121   1863   12368
2021-02-07        5869   18723    2008  2339   5915    1128   1865   12402
2021-02-08        5881   18763    2008  2346   5920    1132   1868   12426

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-06         3259     1729  ...    2547    560     2934      666
2021-02-07         3263     1730  ...    2544    560     2940      666
2021-02-08         3266     1731  ...    2550    563     2951      667

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-06           3537  3233  1984          0      870    614
2021-02-07           3535  3238  1983          0      870    616
2021-02-08           3559  3257  1988          0      870    618

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-06,8513,279,0,14011,5061,43991,5722,7214,1202,0,...,10463,39182,1733,182,24,6773,4449,2119,6611,624
2021-02-07,8515,279,0,14048,5076,44155,5731,7214,1208,0,...,10469,39322,1736,183,24,6778,4449,2129,6613,624
2021-02-08,8523,279,0,14055,5106,44363,5733,7282,1208,0,...,10566,39482,1738,183,24,6820,4451,2131,6614,624

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-06          77     227      45   53    112      29     62     246
2021-02-07          77     227      45   53    112      29     62     246
2021-02-08          77     227      45   53    112      29     62     246

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-06           81       36  ...      23     11       22        7
2021-02-07           81       36  ...      23     11       22        7
2021-02-08           81       36  ...      23     11       22        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-06             33     7    12          0       26      5
2021-02-07             33     7    12          0       26      5
2021-02-08             33     7    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,0.001176,0.013601,0.000000,0.003343,0.001598,0.039711,0.003391,0.001258,0.000104,0.003165,...,0.004681,0.011489,0.000709,0.0,0.003188,0.004555,0.002909,0.001412,0.016549,0.004544
2021-02-07,0.000090,0.013347,0.004225,0.004409,0.001196,0.038194,0.001851,0.000899,0.000208,0.003117,...,0.004035,0.011135,0.000671,0.0,0.003648,0.008060,0.003530,0.000000,0.019633,0.001885
2021-02-08,0.000434,0.011168,0.002063,0.002341,0.001294,0.056856,0.002603,0.000529,0.000104,0.002494,...,0.003573,0.007482,0.000809,0.0,0.003689,0.024488,0.003764,0.001881,0.015008,0.003068

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,0.000415,0.009072,0.000000,0.009615,0.00211,0.0,0.002552,0.001608,0.0,0.002634,...,0.007428,0.006276,0.0,NaN,0.004088,0.0,0.001607,0.0,0.013285,0.009977
2021-02-07,0.000831,0.009682,0.001719,0.009524,0.00000,0.0,0.001242,0.000963,0.0,0.002252,...,0.003348,0.018711,0.0,NaN,0.004072,0.0,0.005882,0.0,0.016687,0.007599
2021-02-08,0.001245,0.008219,0.001373,0.000000,0.00000,0.0,0.004617,0.001925,0.0,0.002496,...,0.002955,0.014286,0.0,NaN,0.005677,0.0,0.003721,0.0,0.018757,0.009804

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,0.000187,0.013063,0.000000,0.005083,0.002387,0.021858,0.004704,0.001425,0.000115,0.003811,...,0.008718,0.013222,0.000607,0.0,0.003923,0.002048,0.002835,0.000701,0.026227,0.008456
2021-02-07,0.000292,0.011184,0.004870,0.004319,0.003518,0.000000,0.003897,0.000896,0.000115,0.002999,...,0.008643,0.013179,0.000413,0.0,0.004212,0.002725,0.003017,0.000000,0.026680,0.005919
2021-02-08,0.000021,0.013296,0.002397,0.008077,0.003020,0.010695,0.004055,0.000977,0.000307,0.003107,...,0.005161,0.017985,0.000542,0.0,0.003686,0.000000,0.002884,0.000000,0.027245,0.009597

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-06,0.004244,0.000000,NaN,0.004475,0.004401,0.002499,0.003729,0.000000,0.003595,0.0,...,0.004306,0.003431,0.003436,0.012211,0.000000,0.009030,0.002427,0.004440,0.001860,0.000799
2021-02-07,0.002359,0.000000,NaN,0.001982,0.002196,0.002858,0.002657,0.000000,0.009545,0.0,...,0.003216,0.003361,0.002567,0.010497,0.006942,0.005605,0.000000,0.004171,0.001277,0.000171
2021-02-08,0.001958,0.009211,NaN,0.002882,0.002077,0.003226,0.002334,0.016837,0.004181,0.0,...,0.001647,0.003895,0.001449,0.011318,0.000000,0.003213,0.009583,0.003191,0.001014,0.002983

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-06      0.005495  0.005386  0.004012  0.001287  0.006302  0.007188
2021-02-07      0.002220  0.002946  0.002997  0.002142  0.001185  0.006244
2021-02-08      0.002045  0.002136  0.000000  0.002993  0.000845  0.003546

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-06      0.005397  0.003489  0.003078  0.002900  ...  0.000393
2021-02-07      0.001074  0.002749  0.001227  0.000578  ... -0.001178
2021-02-08      0.001609  0.001935  0.000919  0.000578  ...  0.002358

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-06      0.000000  0.000341  0.001504   0.001132  0.004349  0.000000
2021-02-07      0.000000  0.002045  0.000000  -0.000565  0.001547 -0.000504
2021-02-08      0.005357  0.003741  0.001502   0.006789  0.005868  0.002521

Province_State
Admin2         Unassigned Washakie    Weston
2021-02-06            NaN      0.0  0.001631
2021-02-07            NaN      0.0  0.003257
2021-02-08            NaN      0.0  0.003247

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-06,0.007575,0.0,NaN,0.004517,0.002178,0.006889,0.002980,0.000000,0.009236,NaN,...,0.005574,0.007431,0.002894,0.005525,0.0,0.006090,0.00000,0.009048,0.005475,0.0
2021-02-07,0.000235,0.0,NaN,0.002641,0.002964,0.003728,0.001573,0.000000,0.004992,NaN,...,0.000573,0.003573,0.001731,0.005495,0.0,0.000738,0.00000,0.004719,0.000303,0.0
2021-02-08,0.000940,0.0,NaN,0.000498,0.005910,0.004711,0.000349,0.009426,0.000000,NaN,...,0.009265,0.004069,0.001152,0.000000,0.0,0.006197,0.00045,0.000939,0.000151,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-02-06      0.013158 -0.029915  0.022727  0.019231  0.009009     0.0
2021-02-07      0.000000  0.000000  0.000000  0.000000  0.000000     0.0
2021-02-08      0.000000  0.000000  0.000000  0.000000  0.000000     0.0

Province_State                                     ... Wyoming         \
Admin2         Butler   Calhoun Chambers Cherokee  ...    Park Platte
2021-02-06        0.0  0.008197      0.0      0.0  ...     0.0    0.0
2021-02-07        0.0  0.000000      0.0      0.0  ...     0.0    0.0
2021-02-08        0.0  0.000000      0.0      0.0  ...     0.0    0.0

Province_State                                                               \
Admin2         Sheridan Sublette Sweetwater Teton Uinta Unassigned Washakie
2021-02-06          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-07          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-08          0.0      0.0        0.0   0.0   0.0        NaN      0.0

Province_State
Admin2         Weston
2021-02-06        0.0
2021-02-07        0.0
2021-02-08        0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,0.000988,0.013259,0.001183,0.003977,0.001877,0.040430,0.003892,0.001091,0.000154,0.003277,...,0.004859,0.011875,0.000757,0.0,0.003421,0.008848,0.003077,0.000953,0.020272,0.004908
2021-02-07,0.000539,0.013303,0.002704,0.004193,0.001537,0.039312,0.002871,0.000995,0.000181,0.003197,...,0.004447,0.011505,0.000714,0.0,0.003535,0.008454,0.003304,0.000477,0.019953,0.003397
2021-02-08,0.000486,0.012235,0.002383,0.003267,0.001416,0.048084,0.002737,0.000762,0.000142,0.002845,...,0.004010,0.009493,0.000761,0.0,0.003612,0.016471,0.003534,0.001179,0.017480,0.003232

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,0.000332,0.009074,0.000724,0.008223,0.002822,0.000651,0.003538,0.001654,2.504115e-16,0.003917,...,0.008441,0.010093,5.255238e-08,NaN,0.004899,2.176954e-49,0.002136,7.465386e-08,0.014899,0.011541
2021-02-07,0.000581,0.009378,0.001221,0.008874,0.001411,0.000326,0.002390,0.001308,1.252058e-16,0.003085,...,0.005895,0.014402,2.627619e-08,NaN,0.004485,1.088477e-49,0.004009,3.732693e-08,0.015793,0.009570
2021-02-08,0.000913,0.008799,0.001297,0.004437,0.000706,0.000163,0.003503,0.001617,6.260288e-17,0.002790,...,0.004425,0.014344,1.313810e-08,NaN,0.005081,5.442386e-50,0.003865,1.866347e-08,0.017275,0.009687

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-06,0.000567,0.012817,0.001329,0.005803,0.002823,0.015559,0.004873,0.001774,0.000126,0.003631,...,0.008692,0.014756,0.000681,0.0,0.003844,0.001495,0.003216,0.000375,0.021084,0.011721
2021-02-07,0.000429,0.012001,0.003100,0.005061,0.003171,0.007780,0.004385,0.001335,0.000121,0.003315,...,0.008668,0.013968,0.000547,0.0,0.004028,0.002110,0.003117,0.000188,0.023882,0.008820
2021-02-08,0.000225,0.012648,0.002748,0.006569,0.003096,0.009237,0.004220,0.001156,0.000214,0.003211,...,0.006914,0.015977,0.000544,0.0,0.003857,0.001055,0.003000,0.000094,0.025564,0.009208

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-06,0.004230,0.001987,NaN,0.004687,0.005538,0.003554,0.003905,0.002547,0.003696,1.245127e-99,...,0.003940,0.004948,0.003520,0.011368,0.001773,0.008445,0.003603,0.004579,0.002176,0.001669
2021-02-07,0.003295,0.000994,NaN,0.003335,0.003867,0.003206,0.003281,0.001273,0.006621,6.225633e-100,...,0.003578,0.004154,0.003044,0.010932,0.004357,0.007025,0.001801,0.004375,0.001726,0.000920
2021-02-08,0.002626,0.005102,NaN,0.003108,0.002972,0.003216,0.002807,0.009055,0.005401,3.112817e-100,...,0.002612,0.004025,0.002247,0.011125,0.002179,0.005119,0.005692,0.003783,0.001370,0.001952

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-06      0.005287  0.004883  0.003932  0.001699  0.006511  0.006970
2021-02-07      0.003754  0.003915  0.003464  0.001921  0.003848  0.006607
2021-02-08      0.002899  0.003026  0.001732  0.002457  0.002347  0.005077

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-06      0.004607  0.004631  0.003036  0.002349  ...  0.000104
2021-02-07      0.002840  0.003690  0.002132  0.001464  ... -0.000537
2021-02-08      0.002224  0.002813  0.001526  0.001021  ...  0.000911

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-06      0.000613  0.002005  0.003000   0.001563  0.005779  0.000559
2021-02-07      0.000307  0.002025  0.001500   0.000499  0.003663  0.000028
2021-02-08      0.002832  0.002883  0.001501   0.003644  0.004765  0.001275

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-06           -1.0  0.000308  0.001200
2021-02-07           -1.0  0.000154  0.002229
2021-02-08           -1.0  0.000077  0.002738

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-06,0.012289,0.002035,NaN,0.009108,0.004779,0.010202,0.003168,0.001951,0.019196,NaN,...,0.011489,0.009122,0.005830,0.005565,2.530768e-12,0.008446,0.003849,0.009273,0.005257,0.001479
2021-02-07,0.006262,0.001018,NaN,0.005874,0.003871,0.006965,0.002371,0.000975,0.012094,NaN,...,0.006031,0.006347,0.003781,0.005530,1.265384e-12,0.004592,0.001924,0.006996,0.002780,0.000740
2021-02-08,0.003601,0.000509,NaN,0.003186,0.004891,0.005838,0.001360,0.005201,0.006047,NaN,...,0.007648,0.005208,0.002466,0.002765,6.326920e-13,0.005394,0.001187,0.003968,0.001466,0.000370

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                   \
Admin2           Autauga  Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-06      0.020020 -0.01052  0.023293  0.009784  0.016860  0.000009
2021-02-07      0.010010 -0.00526  0.011646  0.004892  0.008430  0.000004
2021-02-08      0.005005 -0.00263  0.005823  0.002446  0.004215  0.000002

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-06      0.004167  0.009249  0.004018  0.000969  ...  0.004716
2021-02-07      0.002084  0.004625  0.002009  0.000484  ...  0.002358
2021-02-08      0.001042  0.002312  0.001004  0.000242  ...  0.001179

Province_State                                                         \
Admin2            Platte  Sheridan      Sublette Sweetwater     Teton
2021-02-06      0.000025  0.004948  2.013015e-11   0.000994  0.005258
2021-02-07      0.000012  0.002474  1.006508e-11   0.000497  0.002629
2021-02-08      0.000006  0.001237  5.032538e-12   0.000249  0.001314

Province_State
Admin2                 Uinta Unassigned  Washakie    Weston
2021-02-06      3.265615e-06  -0.501961  0.001251  0.026563
2021-02-07      1.632807e-06  -0.501961  0.000625  0.013281
2021-02-08      8.164037e-07  -0.501961  0.000313  0.006641

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210208,AK,53694,NaN,NaN,NaN,totalTestsViral,1555532,39.0,1219.0,...,53694,0,0,d85857d07675872189c4413c474e093aa816bd07,0,0,0,0,0,NaN
1,20210208,AL,473348,101577.0,1820080.0,NaN,totalTestsPeopleViral,2191851,1524.0,43383.0,...,2293428,8,378,223d07c61fa18edd15ba5b06781eeace99993064,0,0,0,0,0,NaN
2,20210208,AR,307373,62960.0,2290742.0,NaN,totalTestsViral,2535155,777.0,14099.0,...,2598115,30,33,29964941e602edf52ceb795c3a222940b57d37f7,0,0,0,0,0,NaN
3,20210208,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,74ae8e0269fb6fbd5ea923792d3795972d8a4848,0,0,0,0,0,NaN
4,20210208,AZ,782887,51100.0,2820314.0,NaN,totalTestsViral,6993662,2853.0,54713.0,...,3603201,7,56,1e61ea22f77c1ef1e936cc56410665ca7c34aed5,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210208,AK,53694.0,NaN,NaN,NaN,totalTestsViral,1555532.0,39.0,1219.0,...,53694,0,0,d85857d07675872189c4413c474e093aa816bd07,0,0,0,0,0,NaN
1,20210208,AL,473348.0,101577.0,1820080.0,NaN,totalTestsPeopleViral,2191851.0,1524.0,43383.0,...,2293428,8,378,223d07c61fa18edd15ba5b06781eeace99993064,0,0,0,0,0,NaN
2,20210208,AR,307373.0,62960.0,2290742.0,NaN,totalTestsViral,2535155.0,777.0,14099.0,...,2598115,30,33,29964941e602edf52ceb795c3a222940b57d37f7,0,0,0,0,0,NaN
3,20210208,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,74ae8e0269fb6fbd5ea923792d3795972d8a4848,0,0,0,0,0,NaN
4,20210208,AZ,782887.0,51100.0,2820314.0,NaN,totalTestsViral,6993662.0,2853.0,54713.0,...,3603201,7,56,1e61ea22f77c1ef1e936cc56410665ca7c34aed5,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-08,AK,53694,NaN,NaN,NaN,totalTestsViral,1555532,39.0,1219.0,NaN,...,53694,0,0,d85857d07675872189c4413c474e093aa816bd07,0,0,0,0,0,NaN
2021-02-08,AL,473348,101577.0,1820080.0,NaN,totalTestsPeopleViral,2191851,1524.0,43383.0,NaN,...,2293428,8,378,223d07c61fa18edd15ba5b06781eeace99993064,0,0,0,0,0,NaN
2021-02-08,AR,307373,62960.0,2290742.0,NaN,totalTestsViral,2535155,777.0,14099.0,274.0,...,2598115,30,33,29964941e602edf52ceb795c3a222940b57d37f7,0,0,0,0,0,NaN
2021-02-08,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,74ae8e0269fb6fbd5ea923792d3795972d8a4848,0,0,0,0,0,NaN
2021-02-08,AZ,782887,51100.0,2820314.0,NaN,totalTestsViral,6993662,2853.0,54713.0,828.0,...,3603201,7,56,1e61ea22f77c1ef1e936cc56410665ca7c34aed5,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-08,AK,53694.0,NaN,NaN,NaN,totalTestsViral,1555532.0,39.0,1219.0,NaN,...,53694,0,0,d85857d07675872189c4413c474e093aa816bd07,0,0,0,0,0,NaN
2021-02-08,AL,473348.0,101577.0,1820080.0,NaN,totalTestsPeopleViral,2191851.0,1524.0,43383.0,NaN,...,2293428,8,378,223d07c61fa18edd15ba5b06781eeace99993064,0,0,0,0,0,NaN
2021-02-08,AR,307373.0,62960.0,2290742.0,NaN,totalTestsViral,2535155.0,777.0,14099.0,274.0,...,2598115,30,33,29964941e602edf52ceb795c3a222940b57d37f7,0,0,0,0,0,NaN
2021-02-08,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,74ae8e0269fb6fbd5ea923792d3795972d8a4848,0,0,0,0,0,NaN
2021-02-08,AZ,782887.0,51100.0,2820314.0,NaN,totalTestsViral,6993662.0,2853.0,54713.0,828.0,...,3603201,7,56,1e61ea22f77c1ef1e936cc56410665ca7c34aed5,0,0,0,0,0,NaN