# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'10-10-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'10-10-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-10-11 04:23:46,33.93911,67.709953,39703,1473,33064,5166.0,Afghanistan,101.989962,3.710047
1,NaN,NaN,NaN,Albania,2020-10-11 04:23:46,41.15330,20.168300,15231,416,9406,5409.0,Albania,529.258461,2.731272
2,NaN,NaN,NaN,Algeria,2020-10-11 04:23:46,28.03390,1.659600,52940,1795,37170,13975.0,Algeria,120.726889,3.390631
3,NaN,NaN,NaN,Andorra,2020-10-11 04:23:46,42.50630,1.521800,2696,55,1814,827.0,Andorra,3489.290105,2.040059
4,NaN,NaN,NaN,Angola,2020-10-11 04:23:46,-11.20270,17.873900,6246,218,2716,3312.0,Angola,19.004287,3.490234

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39285,39290,39297,39341,39422,39486,39548,39616,39693,39703
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,13806,13965,14117,14266,14410,14568,14730,14899,15066,15231
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,51690,51847,51995,52136,52270,52399,52520,52658,52804,52940

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1458,1458,1462,1462,1466,1467,1469,1470,1472,1473
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,388,389,392,396,400,403,407,411,413,416
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1741,1749,1756,1760,1768,1768,1771,1783,1789,1795

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32842,32842,32842,32852,32879,32977,33045,33058,33058,33064
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8077,8342,8536,8675,8825,8965,9115,9215,9304,9406
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,36282,36385,36482,36578,36672,36763,36857,36958,37067,37170

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1798,1805,1818,1828,1831,1839,1852,1863,1882,1898
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5997,6024,6048,6073,6085,6116,6134,6141,6172,6190
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,898,902,921,921,921,923,927,927,939,942

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,28,27,27,27,27,27,27,28,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,53,53,53,53,53,55,56,64,64,65
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
632,1001.0,Autauga,Alabama,US,2020-10-11 04:23:46,32.539527,-86.644082,1898,28,0,1870.0,"Autauga, Alabama, US",3397.232812,1.475237
669,1075.0,Lamar,Alabama,US,2020-10-11 04:23:46,33.779950,-88.096680,413,3,0,410.0,"Lamar, Alabama, US",2991.669685,0.726392
670,1077.0,Lauderdale,Alabama,US,2020-10-11 04:23:46,34.901719,-87.656247,1914,37,0,1877.0,"Lauderdale, Alabama, US",2064.079199,1.933124

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                7717932  214370    3062983
India             6979423  107416    5988822
Brazil            5055888  149639    4502854

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,7717932,214370,3062983,4440579,2020-10-11 04:23:46,37.923092,-91.345036
India,6979423,107416,5988822,883185,2020-10-11 04:23:46,23.088275,81.806127
Brazil,5055888,149639,4502854,403395,2020-10-11 04:23:46,-12.669522,-48.480493
Russia,1278245,22331,1011911,244003,2020-10-11 04:23:46,54.546312,62.120860
Colombia,902747,27660,783131,91956,2020-10-11 04:23:46,5.349139,-74.190797

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         852410   16567          0
Texas              815915   16943          0
Florida            728921   15186          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,852410,16567,0,835843,2020-10-11 04:23:46,37.843962,-120.728594
Texas,815915,16943,0,798972,2020-10-11 04:23:46,31.660643,-98.653069
Florida,728921,15186,0,713735,2020-10-11 04:23:46,28.940755,-82.700744
New York,473143,33293,0,439850,2020-10-11 04:23:46,42.544151,-75.474183
Georgia,330269,7393,0,322876,2020-10-11 04:23:46,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     281165    6768          0
Florida        Miami-Dade      174112    3409          0
Illinois       Cook            153514    5298          0
Texas          Harris          150626    2675          0
Arizona        Maricopa        145847    3466          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,281165,6768,0,274397,2020-10-11 04:23:46,34.308284,-118.228241,6037.0
Florida,Miami-Dade,174112,3409,0,170703,2020-10-11 04:23:46,25.611236,-80.551706,12086.0
Illinois,Cook,153514,5298,0,148216,2020-10-11 04:23:46,41.841448,-87.816588,17031.0
Texas,Harris,150626,2675,0,147951,2020-10-11 04:23:46,29.858649,-95.393395,48201.0
Arizona,Maricopa,145847,3466,0,142381,2020-10-11 04:23:46,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,39616,14899,52658,2568,5958,111,856369,54473,27226,52057,...,564502,2226,60026,81019,1100,43256,10,2050,15301,7951
2020-10-09,39693,15066,52804,2696,6031,111,871468,55087,27244,53188,...,578390,2251,60342,81696,1105,43664,10,2051,15339,7994
2020-10-10,39703,15231,52940,2696,6246,111,883882,55736,27263,54423,...,593565,2268,60776,82453,1107,43945,10,2051,15415,8010

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,1470,411,1783,54,208,3,22710,1004,897,838,...,42682,49,496,678,35,359,1,593,335,229
2020-10-09,1472,413,1789,55,212,3,23225,1010,897,842,...,42769,49,498,684,35,367,1,593,336,229
2020-10-10,1473,416,1795,55,218,3,23581,1016,898,852,...,42850,50,502,691,35,378,1,595,337,230

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,33058,9215,36958,1715,2635,97,684844,45312,24971,41289,...,2474,1904,56837,72196,1023,36584,8,1329,14365,6446
2020-10-09,33058,9304,37067,1814,2685,97,697141,45528,24987,42039,...,2488,1917,57221,73020,1024,36922,8,1329,14439,6474
2020-10-10,33064,9406,37170,1814,2716,97,709464,45771,24987,42829,...,2495,1930,57704,73919,1024,37240,8,1329,14541,6492

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1798,1805,1818,1828,1831,1839,1852,1863,1882,1898
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,386,393,397,400,402,403,402,404,407,413
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1772,1787,1807,1815,1832,1851,1862,1880,1894,1914
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,644,647,652,652,662,676,685,689,699,711
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6043,6068,6117,6141,6156,6173,6218,6243,6268,6281

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-08,161975,9005,0,223401,90145,845270,75761,59748,21682,49,...,209447,807754,81947,1838,1324,155270,91918,17333,141830,7092
2020-10-09,163465,9182,0,224084,91312,849076,76595,60038,21827,49,...,211003,812191,83290,1846,1324,156372,92560,17707,144818,7335
2020-10-10,164526,9431,0,224978,92220,852410,77618,60038,21998,49,...,212649,815915,84644,1857,1325,157609,93035,17927,147560,7455

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-08        1863    6141     927  708   1681     619    932    3752
2020-10-09        1882    6172     939  719   1689     622    943    3803
2020-10-10        1898    6190     942  726   1704     623    952    3823

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-08         1222      654  ...     288     54      369      129
2020-10-09         1238      662  ...     304     58      389      130
2020-10-10         1242      666  ...     310     58      400      131

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-08            382   645   373          0      123     51
2020-10-09            393   656   378         10      123     54
2020-10-10            396   658   379          0      124     58

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-08,2637,60,0,5743,1503,16418,2095,4527,651,0,...,2705,16767,501,58,20,3325,2183,376,1424,54
2020-10-09,2653,60,0,5746,1530,16486,2103,4530,651,0,...,2732,16871,505,58,20,3341,2190,382,1440,54
2020-10-10,2664,60,0,5759,1552,16567,2112,4530,653,0,...,2758,16943,510,58,20,3351,2190,387,1458,54

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-08          28      64       9   12     16      16     40      45
2020-10-09          28      64       9   12     16      16     40      47
2020-10-10          28      65       9   12     16      16     40      49

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-08           43       13  ...       2      1        4        1
2020-10-09           43       13  ...       2      1        4        1
2020-10-10           43       13  ...       2      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-08              2     1     2          1        6      0
2020-10-09              2     1     2          1        6      0
2020-10-10              2     1     2          1        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,0.001719,0.011473,0.002628,0.000000,0.040699,0.027778,0.018378,0.013357,0.000735,0.023777,...,0.032087,0.009066,0.007503,0.007649,0.000910,0.009711,0.0,0.000488,0.005058,0.004041
2020-10-09,0.001944,0.011209,0.002773,0.049844,0.012252,0.000000,0.017631,0.011272,0.000661,0.021726,...,0.024602,0.011231,0.005264,0.008356,0.004545,0.009432,0.0,0.000488,0.002483,0.005408
2020-10-10,0.000252,0.010952,0.002576,0.000000,0.035649,0.000000,0.014245,0.011781,0.000697,0.023220,...,0.026237,0.007552,0.007192,0.009266,0.001810,0.006436,0.0,0.000000,0.004955,0.002002

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,0.000681,0.009828,0.006776,0.018868,-0.014218,0.0,0.021776,0.009045,0.000000,0.009639,...,0.001807,0.000000,0.010183,0.010432,0.0,0.011268,0.0,0.000000,0.000000,0.000000
2020-10-09,0.001361,0.004866,0.003365,0.018519,0.019231,0.0,0.022677,0.005976,0.000000,0.004773,...,0.002038,0.000000,0.004032,0.008850,0.0,0.022284,0.0,0.000000,0.002985,0.000000
2020-10-10,0.000679,0.007264,0.003354,0.000000,0.028302,0.0,0.015328,0.005941,0.001115,0.011876,...,0.001894,0.020408,0.008032,0.010234,0.0,0.029973,0.0,0.003373,0.002976,0.004367

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,0.000393,0.010971,0.002740,0.000000,0.014242,0.0,0.021050,0.004478,0.001283,0.019507,...,0.020206,0.007407,0.011965,0.009297,0.000000,0.017551,0.0,0.000753,0.001604,0.000776
2020-10-09,0.000000,0.009658,0.002949,0.057726,0.018975,0.0,0.017956,0.004767,0.000641,0.018165,...,0.005659,0.006828,0.006756,0.011413,0.000978,0.009239,0.0,0.000000,0.005151,0.004344
2020-10-10,0.000181,0.010963,0.002779,0.000000,0.011546,0.0,0.017676,0.005337,0.000000,0.018792,...,0.002814,0.006781,0.008441,0.012312,0.000000,0.008613,0.0,0.000000,0.007064,0.002780

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-08,0.003451,0.014305,NaN,0.003878,0.014233,0.003969,0.011509,0.006469,0.006125,0.0,...,0.009602,0.005057,0.018658,0.006021,0.001513,0.011854,0.007784,0.010671,0.022581,0.027975
2020-10-09,0.009199,0.019656,NaN,0.003057,0.012946,0.004503,0.011008,0.004854,0.006688,0.0,...,0.007429,0.005493,0.016389,0.004353,0.000000,0.007097,0.006984,0.021577,0.021067,0.034264
2020-10-10,0.006491,0.027118,NaN,0.003990,0.009944,0.003927,0.013356,0.000000,0.007834,0.0,...,0.007801,0.004585,0.016256,0.005959,0.000755,0.007911,0.005132,0.012424,0.018934,0.016360

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-08      0.005940  0.001141  0.000000  0.007112  0.004782  0.001618
2020-10-09      0.010199  0.005048  0.012945  0.015537  0.004759  0.004847
2020-10-10      0.008502  0.002916  0.003195  0.009736  0.008881  0.001608

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-08     -0.001072  0.002404  0.009083  0.004608  ...  0.014085
2020-10-09      0.011803  0.013593  0.013093  0.012232  ...  0.055556
2020-10-10      0.009544  0.005259  0.003231  0.006042  ...  0.019737

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-08      0.000000  0.048295  0.015748   0.010582  0.018957  0.013587
2020-10-09      0.074074  0.054201  0.007752   0.028796  0.017054  0.013405
2020-10-10      0.000000  0.028278  0.007692   0.007634  0.003049  0.002646

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-08            NaN  0.033613  0.020000
2020-10-09            inf  0.000000  0.058824
2020-10-10           -1.0  0.008130  0.074074

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-08,0.013841,0.016949,NaN,0.001744,0.014170,0.004897,0.004796,0.001106,0.003082,NaN,...,0.023846,0.006362,0.010081,0.0,0.0,0.007576,0.002756,0.002667,0.006360,0.018868
2020-10-09,0.006068,0.000000,NaN,0.000522,0.017964,0.004142,0.003819,0.000663,0.000000,NaN,...,0.009982,0.006203,0.007984,0.0,0.0,0.004812,0.003207,0.015957,0.011236,0.000000
2020-10-10,0.004146,0.000000,NaN,0.002262,0.014379,0.004913,0.004280,0.000000,0.003072,NaN,...,0.009517,0.004268,0.009901,0.0,0.0,0.002993,0.000000,0.013089,0.012500,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                 \
Admin2           Autauga   Baldwin   Barbour Bibb Blount Bullock Butler
2020-10-08      0.037037  0.142857  0.285714  0.2    0.0     0.0    0.0
2020-10-09      0.000000  0.000000  0.000000  0.0    0.0     0.0    0.0
2020-10-10      0.000000  0.015625  0.000000  0.0    0.0     0.0    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2020-10-08      0.000000      0.0      0.0  ...     0.0    0.0      0.0
2020-10-09      0.044444      0.0      0.0  ...     0.0    0.0      0.0
2020-10-10      0.042553      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-08          0.0        0.0   0.0   0.0        inf      0.0    NaN
2020-10-09          0.0        0.0   0.0   0.0        0.0      0.0    NaN
2020-10-10          0.0        0.0   0.0   0.0        0.0      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,0.001626,0.011190,0.002537,0.028938,0.027225,0.016768,0.018152,0.011680,0.000723,0.021468,...,0.029914,0.010149,0.006457,0.008002,0.000882,0.009971,1.711938e-34,0.000880,0.004596,0.002579
2020-10-09,0.001785,0.011199,0.002655,0.039391,0.019739,0.008384,0.017892,0.011476,0.000692,0.021597,...,0.027258,0.010690,0.005861,0.008179,0.002714,0.009702,8.559689e-35,0.000684,0.003540,0.003993
2020-10-10,0.001018,0.011076,0.002615,0.019696,0.027694,0.004192,0.016068,0.011629,0.000695,0.022408,...,0.026747,0.009121,0.006527,0.008723,0.002262,0.008069,4.279844e-35,0.000342,0.004247,0.002997

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,0.000983,0.009466,0.004295,0.009434,0.002653,5.261027e-54,0.020358,0.007301,0.000416,0.008561,...,0.001632,0.002625,0.008220,0.009806,5.787338e-13,0.016048,0.0,0.000450,0.000574,0.000551
2020-10-09,0.001172,0.007166,0.003830,0.013976,0.010942,2.630513e-54,0.021518,0.006639,0.000208,0.006667,...,0.001835,0.001313,0.006126,0.009328,2.893669e-13,0.019166,0.0,0.000225,0.001779,0.000275
2020-10-10,0.000926,0.007215,0.003592,0.006988,0.019622,1.315257e-54,0.018423,0.006290,0.000661,0.009272,...,0.001865,0.010860,0.007079,0.009781,1.446834e-13,0.024569,0.0,0.001799,0.002378,0.002321

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-08,0.001158,0.014036,0.002650,0.019375,0.012125,0.003106,0.018950,0.004093,0.001061,0.018410,...,0.011692,0.007414,0.008404,0.010752,0.000337,0.015322,1.003089e-36,0.00136,0.002253,0.001628
2020-10-09,0.000579,0.011847,0.002799,0.038550,0.015550,0.001553,0.018453,0.004430,0.000851,0.018287,...,0.008675,0.007121,0.007580,0.011082,0.000657,0.012280,5.015443e-37,0.00068,0.003702,0.002986
2020-10-10,0.000380,0.011405,0.002789,0.019275,0.013548,0.000777,0.018065,0.004884,0.000425,0.018540,...,0.005744,0.006951,0.008011,0.011697,0.000329,0.010447,2.507721e-37,0.00034,0.005383,0.002883

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-08,0.004424,0.015551,NaN,0.003333,0.011121,0.003962,0.010230,0.004995,0.005421,3.310115e-63,...,0.009572,0.005440,0.015536,0.005513,0.000654,0.007962,0.006585,0.010955,0.019358,0.024006
2020-10-09,0.006812,0.017603,NaN,0.003195,0.012034,0.004232,0.010619,0.004925,0.006054,1.655057e-63,...,0.008500,0.005467,0.015962,0.004933,0.000327,0.007529,0.006785,0.016266,0.020213,0.029135
2020-10-10,0.006651,0.022361,NaN,0.003592,0.010989,0.004079,0.011988,0.002462,0.006944,8.275286e-64,...,0.008151,0.005026,0.016109,0.005446,0.000541,0.007720,0.005958,0.014345,0.019573,0.022747

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-08      0.005728  0.002567  0.001754  0.009259  0.004251  0.002283
2020-10-09      0.007963  0.003808  0.007349  0.012398  0.004505  0.003565
2020-10-10      0.008232  0.003362  0.005272  0.011067  0.006693  0.002586

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-08      0.001153  0.003782  0.005433  0.006036  ...  0.021699
2020-10-09      0.006478  0.008688  0.009263  0.009134  ...  0.038628
2020-10-10      0.008011  0.006973  0.006247  0.007588  ...  0.029182

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-08      0.033276  0.036026  0.012871   0.014131  0.013889  0.008875
2020-10-09      0.053675  0.045113  0.010312   0.021463  0.015471  0.011140
2020-10-10      0.026837  0.036695  0.009002   0.014548  0.009260  0.006893

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-08      -0.571428  0.015218  0.042118
2020-10-09      -0.571428  0.007609  0.050471
2020-10-10      -0.999999  0.007869  0.062272

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-08,0.010098,0.013156,NaN,0.001980,0.012883,0.004760,0.003802,0.000782,0.003048,NaN,...,0.016218,0.006547,0.011691,9.586173e-22,0.000026,0.005554,0.003694,0.006568,0.008330,0.009669
2020-10-09,0.008083,0.006578,NaN,0.001251,0.015424,0.004451,0.003810,0.000722,0.001524,NaN,...,0.013100,0.006375,0.009837,4.793087e-22,0.000013,0.005183,0.003450,0.011263,0.009783,0.004834
2020-10-10,0.006114,0.003289,NaN,0.001757,0.014901,0.004682,0.004045,0.000361,0.002298,NaN,...,0.011308,0.005321,0.009869,2.396543e-22,0.000006,0.004088,0.001725,0.012176,0.011141,0.002417

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                   \
Admin2           Autauga   Baldwin   Barbour     Bibb    Blount   Bullock
2020-10-08      0.018463  0.080845  0.142857  0.09984  0.016668  0.008245
2020-10-09      0.009231  0.040422  0.071429  0.04992  0.008334  0.004122
2020-10-10      0.004616  0.028024  0.035714  0.02496  0.004167  0.002061

Province_State                                          ...       Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...          Park
2020-10-08      0.000025  0.002849  0.005952 -0.000009  ...  2.384186e-07
2020-10-09      0.000013  0.023647  0.002976 -0.000005  ...  1.192093e-07
2020-10-10      0.000006  0.033100  0.001488 -0.000002  ...  5.960464e-08

Province_State                                                       \
Admin2         Platte      Sheridan Sublette Sweetwater Teton Uinta
2020-10-08        0.0  3.576279e-07      0.0        0.0   0.0   0.0
2020-10-09        0.0  1.788139e-07      0.0        0.0   0.0   0.0
2020-10-10        0.0  8.940697e-08      0.0        0.0   0.0   0.0

Province_State
Admin2            Unassigned Washakie Weston
2020-10-08     -9.999695e-01      0.0    NaN
2020-10-09     -2.384258e-07      0.0    NaN
2020-10-10     -7.947528e-08      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201010,AK,10428,NaN,488825,NaN,499253,66.0,NaN,NaN,...,499253,0,0,eee7bb4022acc001ed148ce7b9c3f70a243c14ef,0,0,0,0,0,NaN
1,20201010,AL,164526,19625.0,1059419,NaN,1204320,792.0,18179.0,NaN,...,1223945,11,190,e670cd26d67b437b1b20006bc9fab011cc500ada,0,0,0,0,0,NaN
2,20201010,AR,92220,4472.0,1049968,NaN,1137716,554.0,5900.0,234.0,...,1142188,49,95,8b5b3cff30f56af06eebe9774843bc55b0659bd0,0,0,0,0,0,NaN
3,20201010,AS,0,NaN,1616,NaN,1616,NaN,NaN,NaN,...,1616,0,0,c0b115372b1910718c8144ba833e4796dcb7e703,0,0,0,0,0,NaN
4,20201010,AZ,224978,4892.0,1335929,NaN,1556015,685.0,20229.0,145.0,...,1560907,13,30,6ac586ebb0f6f83324cde42ca9d8685ea6b7f4ef,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201010,AK,10428.0,NaN,488825.0,NaN,499253.0,66.0,NaN,NaN,...,499253,0,0,eee7bb4022acc001ed148ce7b9c3f70a243c14ef,0,0,0,0,0,NaN
1,20201010,AL,164526.0,19625.0,1059419.0,NaN,1204320.0,792.0,18179.0,NaN,...,1223945,11,190,e670cd26d67b437b1b20006bc9fab011cc500ada,0,0,0,0,0,NaN
2,20201010,AR,92220.0,4472.0,1049968.0,NaN,1137716.0,554.0,5900.0,234.0,...,1142188,49,95,8b5b3cff30f56af06eebe9774843bc55b0659bd0,0,0,0,0,0,NaN
3,20201010,AS,0.0,NaN,1616.0,NaN,1616.0,NaN,NaN,NaN,...,1616,0,0,c0b115372b1910718c8144ba833e4796dcb7e703,0,0,0,0,0,NaN
4,20201010,AZ,224978.0,4892.0,1335929.0,NaN,1556015.0,685.0,20229.0,145.0,...,1560907,13,30,6ac586ebb0f6f83324cde42ca9d8685ea6b7f4ef,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-10,AK,10428,NaN,488825,NaN,499253,66.0,NaN,NaN,NaN,...,499253,0,0,eee7bb4022acc001ed148ce7b9c3f70a243c14ef,0,0,0,0,0,NaN
2020-10-10,AL,164526,19625.0,1059419,NaN,1204320,792.0,18179.0,NaN,1889.0,...,1223945,11,190,e670cd26d67b437b1b20006bc9fab011cc500ada,0,0,0,0,0,NaN
2020-10-10,AR,92220,4472.0,1049968,NaN,1137716,554.0,5900.0,234.0,NaN,...,1142188,49,95,8b5b3cff30f56af06eebe9774843bc55b0659bd0,0,0,0,0,0,NaN
2020-10-10,AS,0,NaN,1616,NaN,1616,NaN,NaN,NaN,NaN,...,1616,0,0,c0b115372b1910718c8144ba833e4796dcb7e703,0,0,0,0,0,NaN
2020-10-10,AZ,224978,4892.0,1335929,NaN,1556015,685.0,20229.0,145.0,NaN,...,1560907,13,30,6ac586ebb0f6f83324cde42ca9d8685ea6b7f4ef,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-10,AK,10428.0,NaN,488825.0,NaN,499253.0,66.0,NaN,NaN,NaN,...,499253,0,0,eee7bb4022acc001ed148ce7b9c3f70a243c14ef,0,0,0,0,0,NaN
2020-10-10,AL,164526.0,19625.0,1059419.0,NaN,1204320.0,792.0,18179.0,NaN,1889.0,...,1223945,11,190,e670cd26d67b437b1b20006bc9fab011cc500ada,0,0,0,0,0,NaN
2020-10-10,AR,92220.0,4472.0,1049968.0,NaN,1137716.0,554.0,5900.0,234.0,NaN,...,1142188,49,95,8b5b3cff30f56af06eebe9774843bc55b0659bd0,0,0,0,0,0,NaN
2020-10-10,AS,0.0,NaN,1616.0,NaN,1616.0,NaN,NaN,NaN,NaN,...,1616,0,0,c0b115372b1910718c8144ba833e4796dcb7e703,0,0,0,0,0,NaN
2020-10-10,AZ,224978.0,4892.0,1335929.0,NaN,1556015.0,685.0,20229.0,145.0,NaN,...,1560907,13,30,6ac586ebb0f6f83324cde42ca9d8685ea6b7f4ef,0,0,0,0,0,NaN