# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'11-19-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'11-19-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-20 05:26:28,33.93911,67.709953,44228,1650,35350,7228.0,Afghanistan,113.613884,3.730668
1,NaN,NaN,NaN,Albania,2020-11-20 05:26:28,41.15330,20.168300,30623,657,14565,15401.0,Albania,1064.111474,2.145446
2,NaN,NaN,NaN,Algeria,2020-11-20 05:26:28,28.03390,1.659600,71652,2224,46962,22466.0,Algeria,163.398622,3.103891
3,NaN,NaN,NaN,Andorra,2020-11-20 05:26:28,42.50630,1.521800,6066,76,5127,863.0,Andorra,7850.902737,1.252885
4,NaN,NaN,NaN,Angola,2020-11-20 05:26:28,-11.20270,17.873900,14134,333,7062,6739.0,Angola,43.004578,2.356021

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,42463,42609,42795,42969,43035,43240,43403,43628,43851,44228
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,25294,25801,26211,26701,27233,27830,28432,29126,29837,30623
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,63446,64257,65108,65975,66819,67679,68589,69591,70629,71652

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1577,1581,1591,1595,1605,1617,1626,1638,1645,1650
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,579,590,598,605,612,623,631,637,646,657
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2077,2093,2111,2124,2139,2154,2168,2186,2206,2224

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34954,34967,35024,35036,35067,35092,35137,35160,35295,35350
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,12353,12493,12574,12667,12767,12889,13453,13804,14216,14565
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,42626,42980,42980,43779,44199,44633,45148,45148,46326,46962

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2328,2351,2385,2417,2435,2456,2481,2506,2529,2554
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,7348,7409,7454,7523,7596,7646,7696,7772,7849,7933
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1107,1112,1113,1117,1123,1128,1130,1134,1137,1145

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,30,32,32,36,36,36,36,37,37,39
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,84,84,84,84,84,84,84,84,84,84
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,10,10

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
646,1001.0,Autauga,Alabama,US,2020-11-20 05:26:28,32.539527,-86.644082,2554,39,0,2515.0,"Autauga, Alabama, US",4571.408115,1.527016
683,1075.0,Lamar,Alabama,US,2020-11-20 05:26:28,33.779950,-88.096680,600,7,0,593.0,"Lamar, Alabama, US",4346.251358,1.166667
684,1077.0,Lauderdale,Alabama,US,2020-11-20 05:26:28,34.901719,-87.656247,3578,53,0,3525.0,"Lauderdale, Alabama, US",3858.555576,1.481274

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               11715316  252535    4410709
India             9004365  132162    8428409
Brazil            5981767  168061    5406066

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,11715316,252535,4410709,7052072,2020-11-20 05:26:28,37.936303,-91.379001
India,9004365,132162,8428409,443794,2020-11-20 05:26:28,23.088275,81.806127
Brazil,5981767,168061,5406066,407640,2020-11-20 05:26:28,-12.669522,-48.480493
France,2137096,47201,153145,1936750,2020-11-20 05:26:28,8.314863,-21.695174
Russia,1998966,34525,1514945,449496,2020-11-20 05:26:28,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
Texas             1105009   20565          0
California        1077174   18542          0
Florida            914333   17810          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
Texas,1105009,20565,0,1084444,2020-11-20 05:26:28,31.660643,-98.653069
California,1077174,18542,0,1058632,2020-11-20 05:26:28,37.843962,-120.728594
Florida,914333,17810,0,896523,2020-11-20 05:26:28,28.940755,-82.700744
Illinois,621383,11648,0,609735,2020-11-20 05:26:28,39.843618,-89.178330
New York,579382,34215,0,545167,2020-11-20 05:26:28,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     353232    7363          0
Illinois       Cook            268284    6148          0
Florida        Miami-Dade      209166    3738          0
Arizona        Maricopa        183177    3850          0
Texas          Harris          178811    2943          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,353232,7363,0,345869,2020-11-20 05:26:28,34.308284,-118.228241,6037.0
Illinois,Cook,268284,6148,0,262136,2020-11-20 05:26:28,41.841448,-87.816588,17031.0
Florida,Miami-Dade,209166,3738,0,205428,2020-11-20 05:26:28,25.611236,-80.551706,12086.0
Arizona,Maricopa,183177,3850,0,179327,2020-11-20 05:26:28,33.348359,-112.491815,4013.0
Texas,Harris,178811,2943,0,175868,2020-11-20 05:26:28,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,43628,29126,69591,5951,13818,134,1329005,118870,27777,214597,...,4208,70648,1,98050,1288,64935,10,2081,17243,8945
2020-11-18,43851,29837,70629,6018,13922,139,1339337,120459,27785,221688,...,4296,70858,1,98350,1300,66186,10,2083,17280,8981
2020-11-19,44228,30623,71652,6066,14134,139,1349434,121979,27792,228683,...,4377,70921,1,98665,1304,67296,10,2086,17350,9046

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,1638,637,2186,76,328,4,36106,1811,907,1945,...,68,599,0,858,35,580,1,607,353,260
2020-11-18,1645,646,2206,76,332,4,36347,1839,907,2054,...,68,601,0,860,35,589,1,607,356,261
2020-11-19,1650,657,2224,76,333,4,36532,1870,907,2116,...,69,601,0,863,35,598,1,608,356,265

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,35160,13804,45148,4965,6582,127,1148833,78343,25505,136487,...,3348,67927,0,93084,1124,55684,8,1410,16473,8164
2020-11-18,35295,14216,46326,5055,6623,127,1156474,80069,25507,142738,...,3404,68123,0,93390,1124,56843,8,1417,16495,8184
2020-11-19,35350,14565,46962,5127,7062,127,1167514,88388,25511,149541,...,3479,68123,0,93691,1142,57469,8,1428,16591,8195

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2328,2351,2385,2417,2435,2456,2481,2506,2529,2554
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,565,570,576,579,581,584,584,588,596,600
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,3011,3088,3140,3221,3259,3298,3360,3431,3487,3578
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1013,1028,1037,1050,1071,1076,1080,1098,1124,1152
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6952,6994,7043,7122,7181,7212,7240,7278,7331,7363

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-17,220848,25041,0,279896,135902,1052285,172044,94986,29552,49,...,320729,1078875,158957,3104,1450,206762,134121,35324,342155,24453
2020-11-18,223486,25588,0,283102,137617,1064040,176694,97028,29755,49,...,325201,1091558,162028,3161,1463,208833,135424,36266,350665,25275
2020-11-19,225910,26081,0,287225,139855,1077174,182801,99381,30153,49,...,328088,1105009,165996,3310,1469,210787,137411,37399,358113,26169

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-11-17        2506    7772    1134  1004   2594     678   1099    5702
2020-11-18        2529    7849    1137  1008   2648     678   1102    5764
2020-11-19        2554    7933    1145  1011   2683     680   1113    5814

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-17         1595      919  ...    1092    275     1409      297
2020-11-18         1620      935  ...    1119    279     1456      311
2020-11-19         1641      956  ...    1139    280     1486      335

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-17           1151  1252   796          0      253    346
2020-11-18           1224  1271   835          0      263    353
2020-11-19           1269  1298   869          0      274    355

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-17,3301,100,0,6312,2245,18347,2608,4771,739,0,...,3995,20147,732,59,23,3835,2571,598,2867,155
2020-11-18,3347,100,0,6365,2275,18453,2651,4784,742,0,...,4048,20338,740,60,23,3860,2592,612,2925,155
2020-11-19,3419,101,0,6384,2297,18542,2730,4805,742,0,...,4128,20565,756,61,23,3896,2603,623,3010,176

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-17          37      84       9   17     34      19     41      77
2020-11-18          37      84      10   18     35      19     41      95
2020-11-19          39      84      10   18     35      19     41     111

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-17           48       15  ...       4      5        9        1
2020-11-18           48       16  ...       4      5        9        1
2020-11-19           48       24  ...       4      5       10        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-17              4     2     4          0        7      0
2020-11-18              4     2     4          0        7      0
2020-11-19              6     2     4          0        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,0.005184,0.024409,0.014609,0.006256,0.014910,0.000000,0.008056,0.008347,0.000684,0.028685,...,0.025341,0.003794,0.0,0.003182,0.003897,0.016722,0.0,0.001444,0.003258,0.005395
2020-11-18,0.005111,0.024411,0.014916,0.011259,0.007526,0.037313,0.007774,0.013368,0.000288,0.033043,...,0.020913,0.002972,0.0,0.003060,0.009317,0.019265,0.0,0.000961,0.002146,0.004025
2020-11-19,0.008597,0.026343,0.014484,0.007976,0.015228,0.000000,0.007539,0.012618,0.000252,0.031553,...,0.018855,0.000889,0.0,0.003203,0.003077,0.016771,0.0,0.001440,0.004051,0.007238

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,0.007380,0.009509,0.008303,0.0,0.012346,0.0,0.010608,0.012864,0.0,0.030737,...,0.014925,0.001672,NaN,0.003509,0.0,0.013986,0.0,0.003306,0.000000,0.011673
2020-11-18,0.004274,0.014129,0.009149,0.0,0.012195,0.0,0.006675,0.015461,0.0,0.056041,...,0.000000,0.003339,NaN,0.002331,0.0,0.015517,0.0,0.000000,0.008499,0.003846
2020-11-19,0.003040,0.017028,0.008160,0.0,0.003012,0.0,0.005090,0.016857,0.0,0.030185,...,0.014706,0.000000,NaN,0.003488,0.0,0.015280,0.0,0.001647,0.000000,0.015326

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,0.000655,0.026091,0.000000,0.027950,0.009045,0.0,0.007575,0.032663,0.000235,0.052564,...,0.019488,0.004020,NaN,0.003417,0.000000,0.013302,0.0,0.002845,0.004451,0.005914
2020-11-18,0.003840,0.029846,0.026092,0.018127,0.006229,0.0,0.006651,0.022031,0.000078,0.045799,...,0.016726,0.002885,NaN,0.003287,0.000000,0.020814,0.0,0.004965,0.001336,0.002450
2020-11-19,0.001558,0.024550,0.013729,0.014243,0.066284,0.0,0.009546,0.103898,0.000157,0.047661,...,0.022033,0.000000,NaN,0.003223,0.016014,0.011013,0.0,0.007763,0.005820,0.001344

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-17,0.007371,0.026313,NaN,0.010776,0.011567,0.010171,0.025824,0.018245,0.012055,0.0,...,0.005773,0.011207,0.020401,0.031915,0.011158,0.010384,0.019683,0.025073,0.022695,0.054327
2020-11-18,0.011945,0.021844,NaN,0.011454,0.012619,0.011171,0.027028,0.021498,0.006869,0.0,...,0.013943,0.011756,0.019320,0.018363,0.008966,0.010016,0.009715,0.026667,0.024872,0.033616
2020-11-19,0.010846,0.019267,NaN,0.014564,0.016263,0.012344,0.034563,0.024251,0.013376,0.0,...,0.008878,0.012323,0.024490,0.047137,0.004101,0.009357,0.014672,0.031241,0.021240,0.035371

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-17      0.010077  0.009875  0.003540  0.011078  0.007770  0.001477
2020-11-18      0.009178  0.009907  0.002646  0.003984  0.020817  0.000000
2020-11-19      0.009885  0.010702  0.007036  0.002976  0.013218  0.002950

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-17      0.003653  0.006354  0.014631  0.007675  ...  0.033113
2020-11-18      0.002730  0.010873  0.015674  0.017410  ...  0.024725
2020-11-19      0.009982  0.008675  0.012963  0.022460  ...  0.017873

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-17      0.057692  0.066616  0.068345   0.036937  0.050336  0.047368
2020-11-18      0.014545  0.033357  0.047138   0.063423  0.015176  0.048995
2020-11-19      0.003584  0.020604  0.077170   0.036765  0.021243  0.040719

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-17            NaN  0.114537  0.023669
2020-11-18            NaN  0.039526  0.020231
2020-11-19            NaN  0.041825  0.005666

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-17,0.016005,0.020408,NaN,0.001587,0.008989,0.003226,0.011637,0.002522,0.004076,NaN,...,0.018353,0.005741,0.012448,0.000000,0.0,0.007620,0.009027,0.022222,0.037265,0.076389
2020-11-18,0.013935,0.000000,NaN,0.008397,0.013363,0.005778,0.016488,0.002725,0.004060,NaN,...,0.013267,0.009480,0.010929,0.016949,0.0,0.006519,0.008168,0.023411,0.020230,0.000000
2020-11-19,0.021512,0.010000,NaN,0.002985,0.009670,0.004823,0.029800,0.004390,0.000000,NaN,...,0.019763,0.011161,0.021622,0.016667,0.0,0.009326,0.004244,0.017974,0.029060,0.135484

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga Baldwin   Barbour      Bibb    Blount Bullock Butler
2020-11-17      0.027778     0.0  0.000000  0.000000  0.000000     0.0    0.0
2020-11-18      0.000000     0.0  0.111111  0.058824  0.029412     0.0    0.0
2020-11-19      0.054054     0.0  0.000000  0.000000  0.000000     0.0    0.0

Province_State                               ... Wyoming                   \
Admin2           Calhoun Chambers  Cherokee  ...    Park Platte  Sheridan
2020-11-17      0.000000      0.0  0.000000  ...     0.0    0.0  0.125000
2020-11-18      0.233766      0.0  0.066667  ...     0.0    0.0  0.000000
2020-11-19      0.168421      0.0  0.500000  ...     0.0    0.0  0.111111

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-17          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-11-18          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-11-19          0.0        0.5   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,0.004476,0.022759,0.013884,0.009080,0.012637,0.000952,0.007038,0.008761,0.000670,0.029090,...,0.022188,0.003236,0.0,0.003654,0.004662,0.014803,1.556998e-46,0.001463,0.002887,0.005772
2020-11-18,0.004794,0.023585,0.014400,0.010170,0.010082,0.019133,0.007406,0.011064,0.000479,0.031067,...,0.021550,0.003104,0.0,0.003357,0.006989,0.017034,7.784992e-47,0.001212,0.002517,0.004898
2020-11-19,0.006695,0.024964,0.014442,0.009073,0.012655,0.009566,0.007472,0.011841,0.000365,0.031310,...,0.020202,0.001997,0.0,0.003280,0.005033,0.016903,3.892496e-47,0.001326,0.003284,0.006068

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,0.006635,0.011773,0.007535,0.001667,0.009189,0.020833,0.008777,0.014398,5.274984e-10,0.034484,...,0.017747,0.001843,NaN,0.003907,5.263553e-25,0.013457,0.0,0.001663,0.001083,0.006117
2020-11-18,0.005454,0.012951,0.008342,0.000833,0.010692,0.010417,0.007726,0.014930,2.637492e-10,0.045263,...,0.008874,0.002591,NaN,0.003119,2.631776e-25,0.014487,0.0,0.000832,0.004791,0.004982
2020-11-19,0.004247,0.014989,0.008251,0.000417,0.006852,0.005208,0.006408,0.015893,1.318746e-10,0.037724,...,0.011790,0.001295,NaN,0.003304,1.315888e-25,0.014884,0.0,0.001239,0.002395,0.010154

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-17,0.000873,0.026179,0.005411,0.021554,0.010683,0.001657,0.008457,0.024122,0.000445,0.047234,...,0.017448,0.003488,NaN,0.003927,0.005220,0.011920,9.123037e-49,0.003602,0.006445,0.003786
2020-11-18,0.002356,0.028013,0.015751,0.019841,0.008456,0.000829,0.007554,0.023077,0.000262,0.046517,...,0.017087,0.003187,NaN,0.003607,0.002610,0.016367,4.561518e-49,0.004283,0.003890,0.003118
2020-11-19,0.001957,0.026281,0.014740,0.017042,0.037370,0.000414,0.008550,0.063487,0.000209,0.047089,...,0.019560,0.001593,NaN,0.003415,0.009312,0.013690,2.280759e-49,0.006023,0.004855,0.002231

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-17,0.007803,0.026545,NaN,0.009191,0.010948,0.009634,0.027250,0.023750,0.012904,3.010532e-75,...,0.013394,0.009397,0.019089,0.032711,0.006250,0.010148,0.017153,0.025558,0.020053,0.042692
2020-11-18,0.009874,0.024195,NaN,0.010323,0.011784,0.010403,0.027139,0.022624,0.009887,1.505266e-75,...,0.013669,0.010576,0.019204,0.025537,0.007608,0.010082,0.013434,0.026113,0.022462,0.038154
2020-11-19,0.010360,0.021731,NaN,0.012443,0.014023,0.011373,0.030851,0.023437,0.011631,7.526329e-76,...,0.011273,0.011449,0.021847,0.036337,0.005855,0.009720,0.014053,0.028677,0.021851,0.036762

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-17      0.009885  0.008485  0.003289  0.009102  0.009707  0.001545
2020-11-18      0.009532  0.009196  0.002967  0.006543  0.015262  0.000772
2020-11-19      0.009708  0.009949  0.005002  0.004760  0.014240  0.001861

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-17      0.005677  0.010140  0.009944  0.007742  ...  0.012885
2020-11-18      0.004203  0.010507  0.012809  0.012576  ...  0.018805
2020-11-19      0.007093  0.009591  0.012886  0.017518  ...  0.018339

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-17      0.043040  0.051698  0.052251   0.038564  0.035287  0.041585
2020-11-18      0.028792  0.042528  0.049695   0.050994  0.025232  0.045290
2020-11-19      0.016188  0.031566  0.063433   0.043879  0.023237  0.043004

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-17           -1.0  0.075259  0.014502
2020-11-18           -1.0  0.057392  0.017367
2020-11-19           -1.0  0.049609  0.011516

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-17,0.008938,0.011886,NaN,0.001449,0.011300,0.002376,0.011243,0.002563,0.002511,NaN,...,0.012942,0.004637,0.011178,0.000008,0.000004,0.004816,0.007753,0.016099,0.022494,0.047056
2020-11-18,0.011437,0.005943,NaN,0.004923,0.012332,0.004077,0.013865,0.002644,0.003285,NaN,...,0.013104,0.007059,0.011053,0.008479,0.000002,0.005668,0.007960,0.019755,0.021362,0.023528
2020-11-19,0.016474,0.007972,NaN,0.003954,0.011001,0.004450,0.021833,0.003517,0.001643,NaN,...,0.016434,0.009110,0.016338,0.012573,0.000001,0.007497,0.006102,0.018864,0.025211,0.079506

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-11-17      0.018308  0.000070  1.299278e-13  0.000277  0.002414
2020-11-18      0.009154  0.000035  5.555556e-02  0.029550  0.015913
2020-11-19      0.031604  0.000017  2.777778e-02  0.014775  0.007956

Province_State                                                                \
Admin2           Bullock        Butler   Calhoun      Chambers      Cherokee
2020-11-17      0.000664  5.960465e-09  0.001098  1.315569e-06  1.362414e-07
2020-11-18      0.000332  2.980232e-09  0.117432  6.577846e-07  3.333340e-02
2020-11-19      0.000166  1.490116e-09  0.142927  3.288923e-07  2.666667e-01

Province_State  ...   Wyoming                                          \
Admin2          ...      Park    Platte  Sheridan Sublette Sweetwater
2020-11-17      ...  0.020833  0.015661  0.062835      0.0   0.000061
2020-11-18      ...  0.010417  0.007830  0.031418      0.0   0.000031
2020-11-19      ...  0.005208  0.003915  0.071264      0.0   0.250015

Province_State
Admin2             Teton     Uinta Unassigned      Washakie    Weston
2020-11-17      0.000031  0.000326  -0.972376  2.425319e-12 -0.533333
2020-11-18      0.000015  0.000163  -0.972376  1.212660e-12 -0.533333
2020-11-19      0.000008  0.000081  -0.972376  6.063298e-13 -0.533333

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201119,AK,24909,NaN,873890,NaN,totalTestsViral,898799,139.0,593.0,...,898799,1,9,dd60caa3c0b65aa928204156ef405a95116f3f03,0,0,0,0,0,NaN
1,20201119,AL,225910,36449.0,1307256,NaN,totalTestsViral,1496717,1315.0,23295.0,...,1533166,72,207,087ae3543d37e84035c1fde2ac39d1cec933e88d,0,0,0,0,0,NaN
2,20201119,AR,139855,15690.0,1428285,NaN,totalTestsViral,1552450,891.0,8268.0,...,1568140,22,129,8ca359447ae7bab1f2e5eaeb289490965cf28771,0,0,0,0,0,NaN
3,20201119,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,...,1988,0,0,a3db3ea99e15c86fc55bc0d278d1825fd8df8b8b,0,0,0,0,0,NaN
4,20201119,AZ,287225,8007.0,1758070,NaN,totalTestsPeopleViral,2037288,1796.0,23871.0,...,2045295,19,398,fc27e6778ec35cea5ba9210f08a9d7bda1a31692,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201119,AK,24909.0,NaN,873890.0,NaN,totalTestsViral,898799.0,139.0,593.0,...,898799,1,9,dd60caa3c0b65aa928204156ef405a95116f3f03,0,0,0,0,0,NaN
1,20201119,AL,225910.0,36449.0,1307256.0,NaN,totalTestsViral,1496717.0,1315.0,23295.0,...,1533166,72,207,087ae3543d37e84035c1fde2ac39d1cec933e88d,0,0,0,0,0,NaN
2,20201119,AR,139855.0,15690.0,1428285.0,NaN,totalTestsViral,1552450.0,891.0,8268.0,...,1568140,22,129,8ca359447ae7bab1f2e5eaeb289490965cf28771,0,0,0,0,0,NaN
3,20201119,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,...,1988,0,0,a3db3ea99e15c86fc55bc0d278d1825fd8df8b8b,0,0,0,0,0,NaN
4,20201119,AZ,287225.0,8007.0,1758070.0,NaN,totalTestsPeopleViral,2037288.0,1796.0,23871.0,...,2045295,19,398,fc27e6778ec35cea5ba9210f08a9d7bda1a31692,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-19,AK,24909,NaN,873890,NaN,totalTestsViral,898799,139.0,593.0,NaN,...,898799,1,9,dd60caa3c0b65aa928204156ef405a95116f3f03,0,0,0,0,0,NaN
2020-11-19,AL,225910,36449.0,1307256,NaN,totalTestsViral,1496717,1315.0,23295.0,NaN,...,1533166,72,207,087ae3543d37e84035c1fde2ac39d1cec933e88d,0,0,0,0,0,NaN
2020-11-19,AR,139855,15690.0,1428285,NaN,totalTestsViral,1552450,891.0,8268.0,353.0,...,1568140,22,129,8ca359447ae7bab1f2e5eaeb289490965cf28771,0,0,0,0,0,NaN
2020-11-19,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,NaN,...,1988,0,0,a3db3ea99e15c86fc55bc0d278d1825fd8df8b8b,0,0,0,0,0,NaN
2020-11-19,AZ,287225,8007.0,1758070,NaN,totalTestsPeopleViral,2037288,1796.0,23871.0,433.0,...,2045295,19,398,fc27e6778ec35cea5ba9210f08a9d7bda1a31692,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-19,AK,24909.0,NaN,873890.0,NaN,totalTestsViral,898799.0,139.0,593.0,NaN,...,898799,1,9,dd60caa3c0b65aa928204156ef405a95116f3f03,0,0,0,0,0,NaN
2020-11-19,AL,225910.0,36449.0,1307256.0,NaN,totalTestsViral,1496717.0,1315.0,23295.0,NaN,...,1533166,72,207,087ae3543d37e84035c1fde2ac39d1cec933e88d,0,0,0,0,0,NaN
2020-11-19,AR,139855.0,15690.0,1428285.0,NaN,totalTestsViral,1552450.0,891.0,8268.0,353.0,...,1568140,22,129,8ca359447ae7bab1f2e5eaeb289490965cf28771,0,0,0,0,0,NaN
2020-11-19,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,NaN,...,1988,0,0,a3db3ea99e15c86fc55bc0d278d1825fd8df8b8b,0,0,0,0,0,NaN
2020-11-19,AZ,287225.0,8007.0,1758070.0,NaN,totalTestsPeopleViral,2037288.0,1796.0,23871.0,433.0,...,2045295,19,398,fc27e6778ec35cea5ba9210f08a9d7bda1a31692,0,0,0,0,0,NaN