# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'03-20-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'03-20-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-21 05:25:44,33.93911,67.709953,56093,2462,49681.0,3950.0,Afghanistan,144.092963,4.389139
1,NaN,NaN,NaN,Albania,2021-03-21 05:25:44,41.15330,20.168300,120541,2133,84625.0,33783.0,Albania,4188.651053,1.769522
2,NaN,NaN,NaN,Algeria,2021-03-21 05:25:44,28.03390,1.659600,116066,3055,80566.0,32445.0,Algeria,264.682416,2.632123
3,NaN,NaN,NaN,Andorra,2021-03-21 05:25:44,42.50630,1.521800,11481,113,10952.0,416.0,Andorra,14859.250631,0.984235
4,NaN,NaN,NaN,Angola,2021-03-21 05:25:44,-11.20270,17.873900,21696,526,20068.0,1102.0,Angola,66.012971,2.424410

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55917,55959,55959,55985,55985,55995,56016,56044,56069,56093
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,115442,116123,116821,117474,118017,118492,118938,119528,120022,120541
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,114851,115008,115143,115265,115410,115540,115688,115842,115970,116066

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2451,2454,2454,2457,2459,2460,2460,2462,2462,2462
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2002,2018,2030,2045,2060,2077,2092,2106,2122,2133
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3028,3031,3034,3036,3040,3045,3048,3051,3053,3055

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49499,49499,49471,49477,49481,49499,49536,49664,49681,49681
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,78259,79131,79821,80483,81061,81810,82554,83264,83954,84625
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,79556,79672,79783,79887,79994,80103,80219,80347,80455,80566

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6409,6409,6416,6426,6471,6474,6483,6495,6498,6510
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20044,20072,20091,20103,20210,20227,20263,20287,20317,20329
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2171,2175,2181,2184,2195,2198,2199,2202,2206,2212

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,95,95,95,95,95,95,96,98,98,98
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,294,294,294,294,294,294,295,296,296,296
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,52,52,53,53,53,53,54,54,54,54

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-21 05:25:44,32.539527,-86.644082,6510,98,NaN,NaN,"Autauga, Alabama, US",11652.257961,1.505376
689,1075.0,Lamar,Alabama,US,2021-03-21 05:25:44,33.779950,-88.096680,1372,33,NaN,NaN,"Lamar, Alabama, US",9938.428106,2.405248
690,1077.0,Lauderdale,Alabama,US,2021-03-21 05:25:44,34.901719,-87.656247,9019,217,NaN,NaN,"Lauderdale, Alabama, US",9726.191375,2.406032

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               29782753  541914         0.0
Brazil           11950459  292752  10476123.0
India            11599130  159755  11130288.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,29782753,541914,0.0,29240839.0,2021-03-21 05:25:44,37.936303,-91.379001
Brazil,11950459,292752,10476123.0,1181584.0,2021-03-21 05:25:44,-12.669522,-48.480493
India,11599130,159755,11130288.0,309087.0,2021-03-21 05:25:44,23.088275,81.806127
Russia,4397816,93090,4014770.0,289956.0,2021-03-21 05:25:44,54.546312,62.120860
United Kingdom,4304839,126359,12167.0,4166313.0,2021-03-21 05:25:44,28.164647,-33.966498

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3638905   57435        0.0
Texas             2752279   47298        0.0
Florida           2004362   32713        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3638905,57435,0.0,3581470.0,2021-03-21 05:25:44,37.843962,-120.728594
Texas,2752279,47298,0.0,2704981.0,2021-03-21 05:25:44,31.660643,-98.653069
Florida,2004362,32713,0.0,1971649.0,2021-03-21 05:25:44,28.940755,-82.700744
New York,1779034,49401,0.0,1729633.0,2021-03-21 05:25:44,42.544151,-75.474183
Illinois,1220326,23329,0.0,1196997.0,2021-03-21 05:25:44,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1213784   22778        0.0
Arizona        Maricopa        521072    9534        0.0
Illinois       Cook            487602    9557        0.0
Florida        Miami-Dade      433452    5724        0.0
Texas          Harris          369613    5601        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1213784,22778,0.0,1191006.0,2021-03-21 05:25:44,34.308284,-118.228241,6037.0
Arizona,Maricopa,521072,9534,0.0,511538.0,2021-03-21 05:25:44,33.348359,-112.491815,4013.0
Illinois,Cook,487602,9557,0.0,478045.0,2021-03-21 05:25:44,41.841448,-87.816588,17031.0
Florida,Miami-Dade,433452,5724,0.0,427728.0,2021-03-21 05:25:44,25.611236,-80.551706,12086.0
Texas,Harris,369613,5601,0.0,364012.0,2021-03-21 05:25:44,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,56044,119528,115842,11393,21558,1008,2226753,181165,29183,504581,...,4294328,76816,80971,3,148208,2570,218061,3126,85889,36611
2021-03-19,56069,120022,115970,11431,21642,1011,2234913,182056,29192,508096,...,4299200,78401,81095,3,149145,2571,219912,3217,86059,36652
2021-03-20,56093,120541,116066,11481,21696,1033,2241739,183127,29196,511440,...,4304839,79923,81339,3,150306,2572,221391,3278,86273,36662

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,2462,2106,3051,113,522,27,54386,3301,909,8982,...,126163,749,622,0,1467,35,2358,723,1175,1509
2021-03-19,2462,2122,3053,113,524,27,54476,3320,909,9024,...,126263,760,622,0,1475,35,2379,733,1178,1510
2021-03-20,2462,2133,3055,113,526,28,54517,3332,909,9052,...,126359,776,622,0,1483,35,2406,737,1178,1510

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,49664,83264,80347,10904,20032,598,2009877,167186,22963,465984,...,12086,64492,79533,1,139314,2198,193578,1520,82527,34226
2021-03-19,49681,83954,80455,10925,20065,598,2016729,167518,22965,468275,...,12130,65515,79631,1,139731,2198,195372,1529,82714,34249
2021-03-20,49681,84625,80566,10952,20068,685,2023664,167977,22966,470684,...,12167,66668,79812,1,140239,2198,196678,1530,83110,34257

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21,3/20/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6409,6409,6416,6426,6471,6474,6483,6495,6498,6510
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1351,1349,1351,1352,1365,1366,1367,1368,1369,1372
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8662,8670,8683,8692,8962,8973,8993,9000,9007,9019
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2869,2870,2870,2872,2903,2906,2908,2908,2910,2908
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15117,15122,15138,15147,15197,15205,15218,15231,15248,15274

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-18,510048,61019,0,834607,328045,3634807,446580,295484,91425,49,...,796624,2745694,380340,17247,2767,600550,352907,136716,627743,55479
2021-03-19,510579,61086,0,835030,328273,3637726,448362,296691,91635,49,...,798621,2749624,380787,17393,2767,602182,353792,137092,628428,55581
2021-03-20,511087,61086,0,835765,328547,3638905,449828,296691,91942,49,...,798621,2752279,381254,17555,2767,602182,354782,137478,628969,55581

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-03-18        6495   20287    2202  2519   6376    1194   2069   14148
2021-03-19        6498   20317    2206  2521   6380    1194   2071   14152
2021-03-20        6510   20329    2212  2528   6382    1194   2072   14158

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-18         3464     1792  ...    2636    604     3045      683
2021-03-19         3465     1793  ...    2641    605     3048      685
2021-03-20         3466     1793  ...    2641    605     3048      685

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-18           3912  3495  2101          0      889    631
2021-03-19           3935  3510  2103          0      889    631
2021-03-20           3935  3510  2103          0      889    631

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-18,10391,310,0,16645,5515,57200,6060,7822,1517,0,...,11681,47025,2041,217,25,10182,5168,2570,7208,693
2021-03-19,10425,310,0,16691,5529,57350,6065,7832,1522,0,...,11709,47198,2058,217,25,10092,5174,2600,7222,693
2021-03-20,10436,310,0,16733,5533,57435,6068,7832,1526,0,...,11709,47298,2060,219,25,10092,5174,2600,7240,693

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-18          98     296      54   58    130      39     66     302
2021-03-19          98     296      54   58    130      39     66     303
2021-03-20          98     296      54   58    130      39     66     303

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-18          114       42  ...      29     11       31        7
2021-03-19          114       42  ...      29     11       31        7
2021-03-20          114       42  ...      29     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-18             36     9    12          0       26      5
2021-03-19             36     9    12          0       26      5
2021-03-20             36     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,0.000500,0.004961,0.001331,0.002905,0.003211,0.016129,0.003754,0.005684,0.000583,0.006698,...,0.001477,0.022332,0.001398,0.0,0.004276,0.001169,0.009616,0.029305,0.004526,0.001614
2021-03-19,0.000446,0.004133,0.001105,0.003335,0.003896,0.002976,0.003665,0.004918,0.000308,0.006966,...,0.001135,0.020634,0.001531,0.0,0.006322,0.000389,0.008488,0.029111,0.001979,0.001120
2021-03-20,0.000428,0.004324,0.000828,0.004374,0.002495,0.021761,0.003054,0.005883,0.000137,0.006581,...,0.001312,0.019413,0.003009,0.0,0.007784,0.000389,0.006725,0.018962,0.002487,0.000273

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,0.000813,0.006692,0.000984,0.0,0.000000,0.000000,0.002858,0.005789,0.0,0.002903,...,0.000754,0.012162,0.0,NaN,0.005483,0.0,0.006402,0.014025,0.004274,0.000663
2021-03-19,0.000000,0.007597,0.000656,0.0,0.003831,0.000000,0.001655,0.005756,0.0,0.004676,...,0.000793,0.014686,0.0,NaN,0.005453,0.0,0.008906,0.013831,0.002553,0.000663
2021-03-20,0.000000,0.005184,0.000655,0.0,0.003817,0.037037,0.000753,0.003614,0.0,0.003103,...,0.000760,0.021053,0.0,NaN,0.005424,0.0,0.011349,0.005457,0.000000,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,0.002584,0.008600,0.001596,0.001930,0.000200,0.000000,0.003373,0.001636,0.000044,0.004895,...,0.002738,0.016022,0.001045,0.0,0.003407,0.0,0.009065,0.007958,0.000849,0.002637
2021-03-19,0.000342,0.008287,0.001344,0.001926,0.001647,0.000000,0.003409,0.001986,0.000087,0.004916,...,0.003641,0.015862,0.001232,0.0,0.002993,0.0,0.009268,0.005921,0.002266,0.000672
2021-03-20,0.000000,0.007992,0.001380,0.002471,0.000150,0.145485,0.003439,0.002740,0.000044,0.005144,...,0.003050,0.017599,0.002273,0.0,0.003636,0.0,0.006685,0.000654,0.004788,0.000234

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-18,0.001123,0.002547,NaN,0.000340,0.000805,0.000960,0.002789,0.003928,0.003314,0.0,...,0.000830,0.001247,0.001475,0.008243,0.0,0.003479,0.002543,0.002802,0.001089,0.000541
2021-03-19,0.001041,0.001098,NaN,0.000507,0.000695,0.000803,0.003990,0.004085,0.002297,0.0,...,0.002507,0.001431,0.001175,0.008465,0.0,0.002718,0.002508,0.002750,0.001091,0.001839
2021-03-20,0.000995,0.000000,NaN,0.000880,0.000835,0.000324,0.003270,0.000000,0.003350,0.0,...,0.000000,0.000966,0.001226,0.009314,0.0,0.000000,0.002798,0.002816,0.000861,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-18      0.001851  0.001184  0.001364  0.002787  0.000785  0.000838
2021-03-19      0.000462  0.001479  0.001817  0.000794  0.000627  0.000000
2021-03-20      0.001847  0.000591  0.002720  0.002777  0.000313  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-18      0.000000  0.000778  0.001156  0.000558  ...  0.000380
2021-03-19      0.000967  0.000283  0.000289  0.000558  ...  0.001897
2021-03-20      0.000483  0.000424  0.000289  0.000000  ...  0.000000

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-18      0.001658  0.000329  0.001466   0.000767  0.003157  0.000000
2021-03-19      0.001656  0.000985  0.002928   0.005879  0.004292  0.000952
2021-03-20      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned Washakie Weston
2021-03-18            NaN      0.0    0.0
2021-03-19            NaN      0.0    0.0
2021-03-20            NaN      0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-18,0.002702,0.009772,NaN,0.003557,0.001453,0.003738,0.001818,0.001921,0.000660,NaN,...,0.001973,0.004228,0.001964,0.000000,0.0,0.002758,0.002327,0.001949,0.000972,0.0
2021-03-19,0.003272,0.000000,NaN,0.002764,0.002539,0.002622,0.000825,0.001278,0.003296,NaN,...,0.002397,0.003679,0.008329,0.000000,0.0,-0.008839,0.001161,0.011673,0.001942,0.0
2021-03-20,0.001055,0.000000,NaN,0.002516,0.000723,0.001482,0.000495,0.000000,0.002628,NaN,...,0.000000,0.002119,0.000972,0.009217,0.0,0.000000,0.000000,0.000000,0.002492,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                 \
Admin2           Autauga  Baldwin Barbour Bibb    Blount Bullock Butler
2021-03-18      0.020833  0.00339     0.0  0.0  0.007752     0.0    0.0
2021-03-19      0.000000  0.00000     0.0  0.0  0.000000     0.0    0.0
2021-03-20      0.000000  0.00000     0.0  0.0  0.000000     0.0    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2021-03-18      0.003322  0.00885      0.0  ...     0.0    0.0      0.0
2021-03-19      0.003311  0.00000      0.0  ...     0.0    0.0      0.0
2021-03-20      0.000000  0.00000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-18          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-03-19          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-03-20          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,0.000389,0.004571,0.001278,0.003024,0.002576,0.012774,0.003612,0.004769,0.000505,0.006226,...,0.001387,0.019598,0.001300,0.000977,0.004133,0.001584,0.009908,0.025869,0.003809,0.001112
2021-03-19,0.000418,0.004352,0.001192,0.003180,0.003236,0.007875,0.003638,0.004843,0.000407,0.006596,...,0.001261,0.020116,0.001416,0.000488,0.005228,0.000987,0.009198,0.027490,0.002894,0.001116
2021-03-20,0.000423,0.004338,0.001010,0.003777,0.002866,0.014818,0.003346,0.005363,0.000272,0.006589,...,0.001286,0.019765,0.002212,0.000244,0.006506,0.000688,0.007962,0.023226,0.002690,0.000694

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,0.000556,0.007092,0.001078,0.000279,0.000372,0.002073,0.003054,0.004013,2.277480e-28,0.003070,...,0.000848,0.014073,2.343308e-14,NaN,0.005519,1.979929e-61,0.008663,0.012130,0.003665,0.000913
2021-03-19,0.000278,0.007345,0.000867,0.000140,0.002102,0.001037,0.002354,0.004885,1.138740e-28,0.003873,...,0.000820,0.014380,1.171654e-14,NaN,0.005486,9.899643e-62,0.008785,0.012981,0.003109,0.000788
2021-03-20,0.000139,0.006264,0.000761,0.000070,0.002959,0.019037,0.001554,0.004249,5.693699e-29,0.003488,...,0.000790,0.017716,5.858271e-15,NaN,0.005455,4.949821e-62,0.010067,0.009219,0.001555,0.000394

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-18,0.001528,0.008738,0.001500,0.002364,0.001306,0.002522,0.002978,0.001524,0.000063,0.004766,...,0.002581,0.015644,0.000963,0.0,0.003375,0.008318,0.009711,0.005605,0.001624,0.001738
2021-03-19,0.000935,0.008512,0.001422,0.002145,0.001477,0.001261,0.003194,0.001755,0.000075,0.004841,...,0.003111,0.015753,0.001097,0.0,0.003184,0.004159,0.009489,0.005763,0.001945,0.001205
2021-03-20,0.000468,0.008252,0.001401,0.002308,0.000813,0.073373,0.003316,0.002247,0.000059,0.004993,...,0.003081,0.016676,0.001685,0.0,0.003410,0.002080,0.008087,0.003209,0.003366,0.000719

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-18,0.001680,0.002630,NaN,0.000480,0.000871,0.000867,0.002067,0.003240,0.003216,1.132436e-111,...,0.001479,0.001489,0.001470,0.006311,0.000039,0.002817,0.002394,0.002538,0.001036,0.000969
2021-03-19,0.001360,0.001864,NaN,0.000493,0.000783,0.000835,0.003029,0.003662,0.002756,5.662181e-112,...,0.001993,0.001460,0.001323,0.007388,0.000020,0.002767,0.002451,0.002644,0.001064,0.001404
2021-03-20,0.001178,0.000932,NaN,0.000687,0.000809,0.000579,0.003149,0.001831,0.003053,2.831090e-112,...,0.000997,0.001213,0.001275,0.008351,0.000010,0.001384,0.002625,0.002730,0.000962,0.000702

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-18      0.001852  0.001532  0.001416  0.002761  0.001609  0.000889
2021-03-19      0.001157  0.001505  0.001616  0.001777  0.001118  0.000445
2021-03-20      0.001502  0.001048  0.002168  0.002277  0.000716  0.000222

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-18      0.001098  0.001144  0.001054  0.000333  ...  0.000833
2021-03-19      0.001032  0.000713  0.000671  0.000445  ...  0.001365
2021-03-20      0.000758  0.000569  0.000480  0.000223  ...  0.000682

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-18      0.001364  0.000211  0.001102   0.001848  0.003470  0.001120
2021-03-19      0.001510  0.000598  0.002015   0.003863  0.003881  0.001036
2021-03-20      0.000755  0.000299  0.001008   0.001932  0.001940  0.000518

Province_State
Admin2         Unassigned  Washakie    Weston
2021-03-18           -1.0  0.000009  0.000050
2021-03-19           -1.0  0.000005  0.000025
2021-03-20           -1.0  0.000002  0.000013

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-18,0.002181,0.005729,NaN,0.002208,0.001952,0.003515,0.001197,0.001594,0.001257,NaN,...,0.001305,0.003697,0.002091,0.003109,6.063298e-13,0.003662,0.002035,0.004388,0.001284,0.000375
2021-03-19,0.002727,0.002865,NaN,0.002486,0.002245,0.003069,0.001011,0.001436,0.002277,NaN,...,0.001851,0.003688,0.005210,0.001554,3.031649e-13,-0.002589,0.001598,0.008031,0.001613,0.000187
2021-03-20,0.001891,0.001432,NaN,0.002501,0.001484,0.002275,0.000753,0.000718,0.002452,NaN,...,0.000925,0.002903,0.003091,0.005386,1.515825e-13,-0.001294,0.000799,0.004015,0.002053,0.000094

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin   Barbour          Bibb    Blount
2021-03-18      0.013154  0.002583  0.005094 -2.029369e-06  0.003892
2021-03-19      0.006577  0.001291  0.002547 -1.014685e-06  0.001946
2021-03-20      0.003288  0.000646  0.001274 -5.073424e-07  0.000973

Province_State                                                        ...  \
Admin2           Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2021-03-18      0.000106  1.560347e-08  0.001833  0.005498  0.000074  ...
2021-03-19      0.000053  7.801737e-09  0.002572  0.002749  0.000037  ...
2021-03-20      0.000026  3.900868e-09  0.001286  0.001375  0.000018  ...

Province_State   Wyoming                                                      \
Admin2              Park        Platte  Sheridan      Sublette    Sweetwater
2021-03-18      0.000073  2.239722e-17  0.004168  1.830827e-23  6.603595e-07
2021-03-19      0.000036  1.119861e-17  0.002084  9.154133e-24  3.301797e-07
2021-03-20      0.000018  5.599305e-18  0.001042  4.577066e-24  1.650899e-07

Province_State                                                       \
Admin2                 Teton         Uinta Unassigned      Washakie
2021-03-18      5.844343e-11  2.970059e-18  -0.501961  1.137523e-15
2021-03-19      2.922171e-11  1.485030e-18  -0.501961  5.687617e-16
2021-03-20      1.461086e-11  7.425148e-19  -0.501961  2.843808e-16

Province_State
Admin2                Weston
2021-03-18      2.415845e-14
2021-03-19      1.207923e-14
2021-03-20      6.039613e-15

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN