# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'07-05-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'07-05-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-07-06 04:21:32,33.93911,67.709953,125937,5283,75314.0,45340.0,Afghanistan,323.509805,4.194955
1,NaN,NaN,NaN,Albania,2021-07-06 04:21:32,41.15330,20.168300,132537,2456,130029.0,52.0,Albania,4605.497255,1.853067
2,NaN,NaN,NaN,Algeria,2021-07-06 04:21:32,28.03390,1.659600,141966,3765,98748.0,39453.0,Algeria,323.746005,2.652043
3,NaN,NaN,NaN,Andorra,2021-07-06 04:21:32,42.50630,1.521800,13918,127,13721.0,70.0,Andorra,18013.330745,0.912487
4,NaN,NaN,NaN,Angola,2021-07-06 04:21:32,-11.20270,17.873900,39300,915,33739.0,4646.0,Angola,119.575487,2.328244

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21,7/3/21,7/4/21,7/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,111592,111592,115751,117158,118659,120216,120216,120216,120216,125937
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132509,132512,132513,132514,132521,132523,132526,132534,132535,132537
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,138113,138465,138840,139229,139626,140075,140550,141007,141471,141966

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21,7/3/21,7/4/21,7/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,4519,4519,4730,4794,4871,4962,4962,4962,4962,5283
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2456,2456,2456,2456,2456,2456,2456,2456,2456,2456
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3685,3693,3699,3708,3716,3726,3735,3745,3755,3765

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21,7/3/21,7/4/21,7/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,67483,68288,69205,70016,71012,71924,72700,73635,74480,75314
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129982,129990,129994,130002,130009,130014,130018,130023,130027,130029
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,96108,96335,96572,96815,97089,97380,97701,98031,98387,98748

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21,7/3/21,7/4/21,7/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7244,7244,7247,7247,7257,7257,7262,7262,7262,7262
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21945,21945,21985,21985,22027,22027,22043,22043,22043,22043
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2344,2344,2345,2345,2346,2346,2347,2347,2347,2347

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21,7/3/21,7/4/21,7/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,113,113,113,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,314,314,314,314,315,315,315,315,315,315
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,60,60,60,60,60,60,60,60,60,60

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-07-06 04:21:32,32.539527,-86.644082,7262,113,NaN,NaN,"Autauga, Alabama, US",12998.263796,1.556045
693,1075.0,Lamar,Alabama,US,2021-07-06 04:21:32,33.779950,-88.096680,1476,38,NaN,NaN,"Lamar, Alabama, US",10691.778341,2.574526
694,1077.0,Lauderdale,Alabama,US,2021-07-06 04:21:32,34.901719,-87.656247,9653,251,NaN,NaN,"Lauderdale, Alabama, US",10409.904129,2.600228

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33723095  605567         0.0
India            30585229  402728  29700430.0
Brazil           18792511  525112  16675561.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33723095,605567,0.0,33117528.0,2021-07-06 04:21:32,37.950547,-91.419547
India,30585229,402728,29700430.0,482071.0,2021-07-06 04:21:32,23.088275,81.806127
Brazil,18792511,525112,16675561.0,1591838.0,2021-07-06 04:21:32,-12.669522,-48.480493
France,5848973,111360,406257.0,5331356.0,2021-07-06 04:21:32,6.430808,-34.730285
Russia,5568104,136279,5024368.0,407457.0,2021-07-06 04:21:32,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3821572   63650        0.0
Texas             3005221   52482        0.0
Florida           2381148   37985        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3821572,63650,0.0,3757922.0,2021-07-06 04:21:32,37.843962,-120.728594
Texas,3005221,52482,0.0,2952739.0,2021-07-06 04:21:32,31.660643,-98.653069
Florida,2381148,37985,0.0,2343163.0,2021-07-06 04:21:32,28.940755,-82.700744
New York,2116888,53705,0.0,2063183.0,2021-07-06 04:21:32,42.544151,-75.474183
Illinois,1392552,25678,0.0,1366874.0,2021-07-06 04:21:32,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1252739   24506        0.0
Arizona        Maricopa        561596   10309        0.0
Illinois       Cook            557173   10494        0.0
Florida        Miami-Dade      511394    6472        0.0
Texas          Harris          403645    6600        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1252739,24506,0.0,1228233.0,2021-07-06 04:21:32,34.308284,-118.228241,6037.0
Arizona,Maricopa,561596,10309,0.0,551287.0,2021-07-06 04:21:32,33.348359,-112.491815,4013.0
Illinois,Cook,557173,10494,0.0,546679.0,2021-07-06 04:21:32,41.841448,-87.816588,17031.0
Florida,Miami-Dade,511394,6472,0.0,504922.0,2021-07-06 04:21:32,25.611236,-80.551706,12086.0
Texas,Harris,403645,6600,0.0,397045.0,2021-07-06 04:21:32,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,120216,132534,141007,13918,39172,1264,4526473,225464,30753,650662,...,4896272,372178,112130,4,276395,19310,314492,6926,162487,53665
2021-07-04,120216,132535,141471,13918,39230,1264,4535473,225553,30804,650737,...,4920168,372709,112597,4,277635,20261,314569,6929,164282,54474
2021-07-05,125937,132537,141966,13918,39300,1264,4552750,225606,30831,650817,...,4947274,373286,113072,4,278665,21312,314569,6929,165513,56014

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,4962,2456,3745,127,910,42,95594,4521,910,10709,...,128471,5663,745,1,3173,84,3570,1361,2397,1859
2021-07-04,4962,2456,3755,127,913,42,95904,4526,910,10709,...,128486,5689,747,1,3190,86,3573,1361,2443,1878
2021-07-05,5283,2456,3765,127,915,42,96521,4527,910,10713,...,128495,5711,751,1,3209,90,3573,1362,2492,1911

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,73635,130023,98031,13721,33514,1222,4136824,217074,23837,638167,...,15762,353902,108404,3,257720,7643,308550,4087,140880,39792
2021-07-04,74480,130027,98387,13721,33669,1222,4156006,217131,23841,638319,...,15774,355420,108764,3,258954,7819,308774,4104,143128,40239
2021-07-05,75314,130029,98748,13721,33739,1222,4175856,217198,23843,638378,...,15777,356929,109068,3,260224,8022,308774,4108,145908,41406

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21,7/3/21,7/4/21,7/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7244,7244,7247,7247,7257,7257,7262,7262,7262,7262
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1472,1472,1472,1472,1476,1476,1476,1476,1476,1476
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9632,9632,9640,9640,9645,9645,9653,9653,9653,9653
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3135,3135,3136,3136,3144,3144,3144,3144,3144,3144
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16317,16317,16319,16319,16332,16332,16343,16343,16343,16343

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-03,551298,71384,0,896518,350579,3820442,559272,349476,109846,49,...,867407,3004465,416110,24419,3895,680904,452483,164149,677859,62445
2021-07-04,551298,71384,0,896960,350579,3820921,559534,349476,109875,49,...,867407,3004684,416110,24419,3895,681072,452483,164149,677859,62445
2021-07-05,551298,71384,0,897010,351825,3821572,559704,349476,109891,49,...,867407,3005221,416110,24419,3895,681194,452483,164149,678008,62445

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-07-03        7262   22043    2347  2693   6988    1250   2264   14778
2021-07-04        7262   22043    2347  2693   6988    1250   2264   14778
2021-07-05        7262   22043    2347  2693   6988    1250   2264   14778

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-03         3738     1874  ...    2903    684     3273      797
2021-07-04         3738     1874  ...    2903    684     3273      797
2021-07-05         3738     1874  ...    2903    684     3273      797

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-03           4788  3802  2321          0      927    661
2021-07-04           4788  3802  2321          0      927    661
2021-07-05           4788  3802  2321          0      927    661

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-03,11358,377,0,17975,5913,63651,6814,8279,1695,0,...,12571,52473,2378,258,30,11423,5939,2899,8135,747
2021-07-04,11358,377,0,17979,5913,63650,6817,8279,1695,0,...,12571,52482,2378,258,30,11427,5939,2899,8135,747
2021-07-05,11358,377,0,17979,5920,63650,6817,8279,1695,0,...,12571,52482,2378,258,30,11431,5939,2899,8144,747

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-07-03         113     315      60   64    139      42     71     330
2021-07-04         113     315      60   64    139      42     71     330
2021-07-05         113     315      60   64    139      42     71     330

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-03          123       45  ...      32     13       31        7
2021-07-04          123       45  ...      32     13       31        7
2021-07-05          123       45  ...      32     13       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-03             40    11    13          0       26      6
2021-07-04             40    11    13          0       26      6
2021-07-05             40    11    13          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,0.000000,0.000060,0.003252,0.0,0.002123,0.0,0.003110,0.000555,0.000618,0.000143,...,0.005022,0.002049,0.004317,0.0,0.004324,0.065614,0.000264,0.000289,0.011668,0.019027
2021-07-04,0.000000,0.000008,0.003291,0.0,0.001481,0.0,0.001988,0.000395,0.001658,0.000115,...,0.004880,0.001427,0.004165,0.0,0.004486,0.049249,0.000245,0.000433,0.011047,0.015075
2021-07-05,0.047589,0.000015,0.003499,0.0,0.001784,0.0,0.003809,0.000235,0.000877,0.000123,...,0.005509,0.001548,0.004219,0.0,0.003710,0.051873,0.000000,0.000000,0.007493,0.028270

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,0.000000,0.0,0.002677,0.0,0.004415,0.0,0.002223,0.000664,0.0,0.000000,...,0.000140,0.003722,0.004043,0.0,0.006024,0.000000,0.00000,0.000000,0.023921,0.009777
2021-07-04,0.000000,0.0,0.002670,0.0,0.003297,0.0,0.003243,0.001106,0.0,0.000000,...,0.000117,0.004591,0.002685,0.0,0.005358,0.023810,0.00084,0.000000,0.019191,0.010221
2021-07-05,0.064692,0.0,0.002663,0.0,0.002191,0.0,0.006434,0.000221,0.0,0.000374,...,0.000070,0.003867,0.005355,0.0,0.005956,0.046512,0.00000,0.000735,0.020057,0.017572

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,0.012861,0.000038,0.003378,0.0,0.004165,0.0,0.005524,0.000355,0.000336,0.000212,...,0.000444,0.005066,0.003657,0.0,0.004831,0.033536,0.000444,0.001225,0.022210,0.005661
2021-07-04,0.011476,0.000031,0.003632,0.0,0.004625,0.0,0.004637,0.000263,0.000168,0.000238,...,0.000761,0.004289,0.003321,0.0,0.004788,0.023028,0.000726,0.004160,0.015957,0.011233
2021-07-05,0.011198,0.000015,0.003669,0.0,0.002079,0.0,0.004776,0.000309,0.000084,0.000092,...,0.000190,0.004246,0.002795,0.0,0.004904,0.025962,0.000000,0.000975,0.019423,0.029002

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-03,0.0,0.0,NaN,0.000720,0.000000,0.000204,0.000809,0.0,0.000237,0.0,...,0.0,0.000395,0.0,0.0,0.0,0.000235,0.0,0.0,0.00000,0.0
2021-07-04,0.0,0.0,NaN,0.000493,0.000000,0.000125,0.000468,0.0,0.000264,0.0,...,0.0,0.000073,0.0,0.0,0.0,0.000247,0.0,0.0,0.00000,0.0
2021-07-05,0.0,0.0,NaN,0.000056,0.003554,0.000170,0.000304,0.0,0.000146,0.0,...,0.0,0.000179,0.0,0.0,0.0,0.000179,0.0,0.0,0.00022,0.0

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-07-03         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-04         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-05         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-03          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-07-04          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-07-05          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-03            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-04            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-05            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-03,0.0,0.0,NaN,0.000779,0.000000,0.000000,0.001764,0.0,0.0,NaN,...,0.0,0.000381,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0
2021-07-04,0.0,0.0,NaN,0.000223,0.000000,-0.000016,0.000440,0.0,0.0,NaN,...,0.0,0.000172,0.0,0.0,0.0,0.00035,0.0,0.0,0.000000,0.0
2021-07-05,0.0,0.0,NaN,0.000000,0.001184,0.000000,0.000000,0.0,0.0,NaN,...,0.0,0.000000,0.0,0.0,0.0,0.00035,0.0,0.0,0.001106,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-07-03         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-04         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-05         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-03          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-07-04          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-07-05          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-03            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-04            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-05            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,0.003476,0.000042,0.003224,0.000154,0.002621,0.000099,0.003923,0.000539,0.001043,0.000131,...,0.005208,0.002404,0.004366,1.764652e-23,0.004513,0.046981,0.000354,0.000300,0.014665,0.022990
2021-07-04,0.001738,0.000025,0.003257,0.000077,0.002051,0.000049,0.002956,0.000467,0.001351,0.000123,...,0.005044,0.001915,0.004266,8.823260e-24,0.004499,0.048115,0.000300,0.000367,0.012856,0.019032
2021-07-05,0.024664,0.000020,0.003378,0.000039,0.001917,0.000025,0.003382,0.000351,0.001114,0.000123,...,0.005277,0.001732,0.004242,4.411630e-24,0.004105,0.049994,0.000150,0.000183,0.010175,0.023651

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,0.004562,1.691457e-06,0.002549,1.792842e-21,0.004063,9.966775e-16,0.004098,0.000510,1.137487e-28,0.000129,...,0.000159,0.004210,0.003802,0.0,0.006079,0.011562,0.000472,0.000028,0.027228,0.012189
2021-07-04,0.002281,8.457283e-07,0.002610,8.964212e-22,0.003680,4.983388e-16,0.003670,0.000808,5.687435e-29,0.000065,...,0.000138,0.004400,0.003243,0.0,0.005718,0.017686,0.000656,0.000014,0.023209,0.011205
2021-07-05,0.033486,4.228641e-07,0.002636,4.482106e-22,0.002935,2.491694e-16,0.005052,0.000515,2.843718e-29,0.000219,...,0.000104,0.004134,0.004299,0.0,0.005837,0.032099,0.000328,0.000374,0.021633,0.014388

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-03,0.012339,0.000039,0.003220,0.000070,0.003599,0.000102,0.005069,0.000409,0.000360,0.000209,...,0.000420,0.005181,0.004053,4.235165e-22,0.005064,0.032142,0.000447,0.001515,0.022658,0.006454
2021-07-04,0.011907,0.000035,0.003426,0.000035,0.004112,0.000051,0.004853,0.000336,0.000264,0.000224,...,0.000591,0.004735,0.003687,2.117582e-22,0.004926,0.027585,0.000586,0.002837,0.019308,0.008843
2021-07-05,0.011552,0.000025,0.003548,0.000018,0.003096,0.000026,0.004815,0.000322,0.000174,0.000158,...,0.000390,0.004490,0.003241,1.058791e-22,0.004915,0.026773,0.000293,0.001906,0.019365,0.018923

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-03,0.000220,0.000495,NaN,0.000661,0.000816,0.000235,0.000833,0.000096,0.000289,6.979176e-144,...,0.000110,0.000486,0.000557,0.000105,0.001403,0.000260,0.000456,0.000162,0.000084,0.000682
2021-07-04,0.000110,0.000248,NaN,0.000577,0.000408,0.000180,0.000651,0.000048,0.000277,3.489588e-144,...,0.000055,0.000279,0.000279,0.000052,0.000702,0.000253,0.000228,0.000081,0.000042,0.000341
2021-07-05,0.000055,0.000124,NaN,0.000316,0.001981,0.000175,0.000477,0.000024,0.000211,1.744794e-144,...,0.000028,0.000229,0.000139,0.000026,0.000351,0.000216,0.000114,0.000041,0.000131,0.000170

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-07-03      0.000265  0.000332  0.000140  0.000146  0.000165  0.000227
2021-07-04      0.000133  0.000166  0.000070  0.000073  0.000082  0.000114
2021-07-05      0.000066  0.000083  0.000035  0.000036  0.000041  0.000057

Province_State                                              ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers      Cherokee  ...      Park
2021-07-03      0.000421  0.000086  0.000173 -5.120339e-07  ... -0.000068
2021-07-04      0.000210  0.000043  0.000086 -2.560170e-07  ... -0.000034
2021-07-05      0.000105  0.000022  0.000043 -1.280085e-07  ... -0.000017

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-07-03      0.000969  0.000286 -0.000004   0.000997  0.000067  0.000177
2021-07-04      0.000485  0.000143 -0.000002   0.000498  0.000034  0.000088
2021-07-05      0.000242  0.000071 -0.000001   0.000249  0.000017  0.000044

Province_State
Admin2         Unassigned  Washakie    Weston
2021-07-03           -1.0  0.000268  0.001378
2021-07-04           -1.0  0.000134  0.000689
2021-07-05           -1.0  0.000067  0.000344

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-03,0.000214,0.000503,NaN,0.000774,0.000267,-0.000065,0.001223,0.000033,0.000152,NaN,...,0.000139,0.000629,0.000705,0.001461,1.996695e-07,0.000185,0.000395,0.000717,0.000228,0.000300
2021-07-04,0.000107,0.000251,NaN,0.000498,0.000133,-0.000041,0.000832,0.000016,0.000076,NaN,...,0.000069,0.000400,0.000353,0.000731,9.983475e-08,0.000268,0.000198,0.000358,0.000114,0.000150
2021-07-05,0.000054,0.000126,NaN,0.000249,0.000659,-0.000020,0.000416,0.000008,0.000038,NaN,...,0.000035,0.000200,0.000176,0.000365,4.991738e-08,0.000309,0.000099,0.000179,0.000610,0.000075

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                                  \
Admin2               Autauga   Baldwin   Barbour          Bibb        Blount
2021-07-03      7.597296e-11  0.000199  0.000008  5.518173e-20  6.515092e-18
2021-07-04      3.798648e-11  0.000100  0.000004  2.759087e-20  3.257546e-18
2021-07-05      1.899324e-11  0.000050  0.000002  1.379543e-20  1.628773e-18

Province_State                                                                \
Admin2               Bullock        Butler   Calhoun  Chambers      Cherokee
2021-07-03      2.166424e-17  5.361876e-14  0.000009 -0.000504  6.021871e-25
2021-07-04      1.083212e-17  2.680938e-14  0.000005 -0.000252  3.010935e-25
2021-07-05      5.416061e-18  1.340469e-14  0.000002 -0.000126  1.505468e-25

Province_State  ...   Wyoming                                        \
Admin2          ...      Park    Platte      Sheridan      Sublette
2021-07-03      ...  0.002083  0.002649  2.568429e-35  1.128334e-55
2021-07-04      ...  0.001042  0.001324  1.284215e-35  5.641670e-56
2021-07-05      ...  0.000521  0.000662  6.421073e-36  2.820835e-56

Province_State                                                       \
Admin2            Sweetwater         Teton         Uinta Unassigned
2021-07-03      4.890638e-08  6.622738e-09  3.614007e-20   0.752941
2021-07-04      2.445319e-08  3.311369e-09  1.807004e-20   0.752941
2021-07-05      1.222659e-08  1.655685e-09  9.035018e-21   0.752941

Province_State
Admin2              Washakie        Weston
2021-07-03      7.010529e-48  5.960464e-09
2021-07-04      3.505264e-48  2.980232e-09
2021-07-05      1.752632e-48  1.490116e-09

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN