# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'08-05-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'08-05-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-08-06 04:21:18,33.93911,67.709953,149361,6864,NaN,NaN,Afghanistan,383.681904,4.595577
1,NaN,NaN,NaN,Albania,2021-08-06 04:21:18,41.15330,20.168300,133442,2457,NaN,NaN,Albania,4636.944888,1.841249
2,NaN,NaN,NaN,Algeria,2021-08-06 04:21:18,28.03390,1.659600,178013,4441,NaN,NaN,Algeria,405.949295,2.494762
3,NaN,NaN,NaN,Andorra,2021-08-06 04:21:18,42.50630,1.521800,14809,128,NaN,NaN,Andorra,19166.504886,0.864339
4,NaN,NaN,NaN,Angola,2021-08-06 04:21:18,-11.20270,17.873900,43269,1032,NaN,NaN,Angola,131.651698,2.385079

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21,8/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,145008,145552,145996,146523,146523,146523,147985,148572,148933,149361
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132922,132952,132999,133036,133081,133121,133146,133211,133310,133442
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,165204,167131,168668,170189,171392,172564,173922,175229,176724,178013

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21,8/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,6515,6577,6615,6677,6677,6677,6774,6804,6836,6864
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2456,2457,2457,2457,2457,2457,2457,2457,2457,2457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,4112,4161,4189,4219,4254,4291,4329,4370,4404,4441

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21,8/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,130166,130174,130187,130205,130222,130243,130256,130291,130314,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,112050,112900,113707,114531,115276,116009,116770,117557,118409,0

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21,8/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7456,7479,7479,7479,7537,7563,7585,7615,7635,7670
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,24213,24499,24499,24499,25207,25399,25567,25860,26175,26472
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2451,2462,2462,2462,2506,2509,2520,2537,2543,2562

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21,8/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,114,114,114,114,114,114,114,114,114,114
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,326,328,328,328,329,329,329,329,329,330
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,61,61,61,61,61,61,61,61,61,61

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-08-06 04:21:18,32.539527,-86.644082,7670,114,NaN,NaN,"Autauga, Alabama, US",13728.543557,1.486310
693,1075.0,Lamar,Alabama,US,2021-08-06 04:21:18,33.779950,-88.096680,1533,38,NaN,NaN,"Lamar, Alabama, US",11104.672220,2.478800
694,1077.0,Lauderdale,Alabama,US,2021-08-06 04:21:18,34.901719,-87.656247,10429,255,NaN,NaN,"Lauderdale, Alabama, US",11246.751286,2.445105

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               35437377  615319        0.0
India            31812114  426290        0.0
Brazil           20066587  560706        0.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,35437377,615319,0.0,34822058.0,2021-08-06 04:21:18,37.950547,-91.419547
India,31812114,426290,0.0,31385824.0,2021-08-06 04:21:18,23.088275,81.806127
Brazil,20066587,560706,0.0,19505881.0,2021-08-06 04:21:18,-12.669522,-48.480493
France,6299138,112283,0.0,6186855.0,2021-08-06 04:21:18,6.430808,-34.730285
Russia,6296570,159803,0.0,6136767.0,2021-08-06 04:21:18,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        4014935   64693        0.0
Texas             3201476   53538        0.0
Florida           2634234   39079        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,4014935,64693,0.0,3950242.0,2021-08-06 04:21:18,37.843962,-120.728594
Texas,3201476,53538,0.0,3147938.0,2021-08-06 04:21:18,31.660643,-98.653069
Florida,2634234,39079,0.0,2595155.0,2021-08-06 04:21:18,28.940755,-82.700744
New York,2164850,53691,0.0,2111159.0,2021-08-06 04:21:18,42.544151,-75.474183
Illinois,1433313,25923,0.0,1407390.0,2021-08-06 04:21:18,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1315313   24739        0.0
Arizona        Maricopa        589851   10496        0.0
Illinois       Cook            567872   10585        0.0
Florida        Miami-Dade      549405    6472        0.0
Texas          Harris          431071    6739        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1315313,24739,0.0,1290574.0,2021-08-06 04:21:18,34.308284,-118.228241,6037.0
Arizona,Maricopa,589851,10496,0.0,579355.0,2021-08-06 04:21:18,33.348359,-112.491815,4013.0
Illinois,Cook,567872,10585,0.0,557287.0,2021-08-06 04:21:18,41.841448,-87.816588,17031.0
Florida,Miami-Dade,549405,6472,0.0,542933.0,2021-08-06 04:21:18,25.611236,-80.551706,12086.0
Texas,Harris,431071,6739,0.0,424332.0,2021-08-06 04:21:18,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,148572,133211,175229,14766,43070,1303,4961880,230713,35089,660262,...,5951736,381853,131978,4,308452,174461,317264,7086,197123,112435
2021-08-04,148933,133310,176724,14797,43158,1311,4975616,230993,35391,660854,...,5980887,381994,132901,4,309218,181756,317404,7096,197791,113526
2021-08-05,149361,133442,178013,14809,43269,1320,4989402,231322,35698,661359,...,6010896,382155,133852,4,309981,189066,317534,7104,198455,114489

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,6804,2457,4370,128,1022,43,106447,4621,927,10742,...,130179,5976,893,1,3637,2071,3609,1380,3422,3676
2021-08-04,6836,2457,4404,128,1026,43,106747,4625,932,10744,...,130300,5979,901,1,3649,2327,3609,1380,3430,3711
2021-08-05,6864,2457,4441,128,1032,43,107023,4632,933,10745,...,130390,5982,910,1,3666,2720,3609,1383,3447,3754

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,82586,130291,117557,14348,39389,1235,4606026,220289,24172,644038,...,24369,374044,125572,3,293672,50831,312289,4232,189341,81570
2021-08-04,82586,130314,118409,14380,39582,1239,4615834,220438,24203,644388,...,24693,374203,126377,3,294607,54332,312320,4251,189658,82994
2021-08-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21,8/3/21,8/4/21,8/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7456,7479,7479,7479,7537,7563,7585,7615,7635,7670
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1497,1499,1499,1499,1509,1510,1512,1519,1526,1533
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,10044,10083,10083,10083,10240,10255,10266,10305,10374,10429
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3211,3225,3225,3225,3257,3263,3267,3277,3280,3290
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16897,16949,16949,16949,17184,17224,17260,17336,17414,17504

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-03,592417,76532,0,933361,391623,3997767,578276,356164,111762,49,...,903095,3172919,435439,25077,4691,699342,481357,167948,690856,65704
2021-08-04,595816,76874,0,935647,394461,4003787,579366,356701,111884,49,...,906893,3185937,436489,25129,4777,701059,483389,168330,692189,65953
2021-08-05,599633,77253,0,937936,397238,4014935,580610,357345,112070,49,...,910185,3201476,437585,25219,4854,702819,486303,168733,693933,66200

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-08-03        7615   25860    2537  2928   7417    1265   2424   15498
2021-08-04        7635   26175    2543  2937   7463    1265   2436   15549
2021-08-05        7670   26472    2562  2960   7497    1267   2457   15619

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-08-03         3987     2007  ...    2994    776     3349      866
2021-08-04         4007     2017  ...    3011    780     3373      869
2021-08-05         4033     2030  ...    3022    781     3388      873

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-08-03           5026  3931  2445          0      947    689
2021-08-04           5042  3938  2464          0      949    689
2021-08-05           5048  3950  2482          0      950    690

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-03,11542,391,0,18282,6215,64598,6957,8292,1833,0,...,12766,53395,2471,260,39,11536,6136,2954,8299,786
2021-08-04,11561,393,0,18289,6230,64620,6963,8292,1833,0,...,12776,53457,2479,260,39,11541,6145,2956,8302,786
2021-08-05,11574,398,0,18300,6247,64693,6970,8296,1833,0,...,12791,53538,2486,260,40,11546,6155,2961,8305,786

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-08-03         114     329      61   65    139      42     72     334
2021-08-04         114     329      61   66    140      42     72     334
2021-08-05         114     330      61   66    140      42     72     335

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-08-03          125       48  ...      34     15       31        9
2021-08-04          125       48  ...      34     15       31        9
2021-08-05          125       48  ...      34     15       31        9

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-08-03             45    11    14          0       26      6
2021-08-04             45    11    14          0       26      6
2021-08-05             45    11    14          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,0.003967,0.000488,0.007515,0.001288,0.002327,0.000000,0.003002,0.001028,0.007263,0.000591,...,0.003686,0.000362,0.006858,0.0,0.002868,0.107640,0.000571,0.000706,0.003222,0.014253
2021-08-04,0.002430,0.000743,0.008532,0.002099,0.002043,0.006140,0.002768,0.001214,0.008607,0.000897,...,0.004898,0.000369,0.006994,0.0,0.002483,0.041815,0.000441,0.001411,0.003389,0.009703
2021-08-05,0.002874,0.000990,0.007294,0.000811,0.002572,0.006865,0.002771,0.001424,0.008675,0.000764,...,0.005017,0.000421,0.007156,0.0,0.002468,0.040219,0.000410,0.001127,0.003357,0.008483

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,0.004429,0.0,0.009471,0.0,0.003929,0.0,0.003791,0.000000,0.002162,0.000279,...,0.001077,0.000670,0.007901,0.0,0.003864,0.585758,0.0,0.001451,0.002931,0.011279
2021-08-04,0.004703,0.0,0.007780,0.0,0.003914,0.0,0.002818,0.000866,0.005394,0.000186,...,0.000929,0.000502,0.008959,0.0,0.003299,0.123612,0.0,0.000000,0.002338,0.009521
2021-08-05,0.004096,0.0,0.008401,0.0,0.005848,0.0,0.002586,0.001514,0.001073,0.000093,...,0.000691,0.000502,0.009989,0.0,0.004659,0.168887,0.0,0.002174,0.004956,0.011587

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,0.0,0.000269,0.006740,0.003637,0.026825,0.000000,0.002427,0.000709,0.001284,0.000534,...,0.076702,0.000548,0.006767,0.0,0.003777,0.177816,0.000449,0.004748,0.002069,0.027071
2021-08-04,0.0,0.000177,0.007248,0.002230,0.004900,0.003239,0.002129,0.000676,0.001282,0.000543,...,0.013296,0.000425,0.006411,0.0,0.003184,0.068875,0.000099,0.004490,0.001674,0.017457
2021-08-05,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-03,0.005614,0.003870,NaN,0.002119,0.006019,0.003474,0.001717,0.001642,0.000725,0.0,...,0.002973,0.006671,0.001675,0.001558,0.006005,0.002010,0.011507,0.001592,0.002279,0.003620
2021-08-04,0.005738,0.004469,NaN,0.002449,0.007247,0.001506,0.001885,0.001508,0.001092,0.0,...,0.004206,0.004103,0.002411,0.002074,0.018333,0.002455,0.004221,0.002275,0.001929,0.003790
2021-08-05,0.006406,0.004930,NaN,0.002446,0.007040,0.002784,0.002147,0.001805,0.001662,0.0,...,0.003630,0.004877,0.002511,0.003582,0.016119,0.002510,0.006028,0.002394,0.002520,0.003745

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-08-03      0.003955  0.011460  0.006746  0.006531  0.004741  0.000000
2021-08-04      0.002626  0.012181  0.002365  0.003074  0.006202  0.000000
2021-08-05      0.004584  0.011347  0.007471  0.007831  0.004556  0.001581

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-08-03      0.004143  0.004472  0.004788  0.006015  ...  0.001673
2021-08-04      0.004950  0.003291  0.005016  0.004983  ...  0.005678
2021-08-05      0.008621  0.004502  0.006489  0.006445  ...  0.003653

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-08-03      0.005181  0.001795  0.000000   0.001794  0.004343  0.006173
2021-08-04      0.005155  0.007166  0.003464   0.003183  0.001781  0.007771
2021-08-05      0.001282  0.004447  0.004603   0.001190  0.003047  0.007305

Province_State
Admin2         Unassigned  Washakie    Weston
2021-08-03            NaN  0.002116  0.002911
2021-08-04            NaN  0.002112  0.000000
2021-08-05            NaN  0.001054  0.001451

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-03,0.000520,0.005141,NaN,0.001644,0.002581,0.000790,0.000144,-0.000121,0.0,NaN,...,0.001333,0.001238,0.002028,0.0,0.000000,0.000173,0.001469,0.001695,0.000482,0.012887
2021-08-04,0.001646,0.005115,NaN,0.000383,0.002414,0.000341,0.000862,0.000000,0.0,NaN,...,0.000783,0.001161,0.003238,0.0,0.000000,0.000433,0.001467,0.000677,0.000361,0.000000
2021-08-05,0.001124,0.012723,NaN,0.000601,0.002729,0.001130,0.001005,0.000482,0.0,NaN,...,0.001174,0.001515,0.002824,0.0,0.025641,0.000433,0.001627,0.001691,0.000361,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga  Baldwin Barbour      Bibb    Blount Bullock Butler
2021-08-03         0.0  0.00000     0.0  0.000000  0.000000     0.0    0.0
2021-08-04         0.0  0.00000     0.0  0.015385  0.007194     0.0    0.0
2021-08-05         0.0  0.00304     0.0  0.000000  0.000000     0.0    0.0

Province_State                              ... Wyoming                     \
Admin2           Calhoun Chambers Cherokee  ...    Park    Platte Sheridan
2021-08-03      0.000000      0.0      0.0  ...     0.0  0.071429      0.0
2021-08-04      0.000000      0.0      0.0  ...     0.0  0.000000      0.0
2021-08-05      0.002994      0.0      0.0  ...     0.0  0.000000      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-08-03        0.125   0.022727   0.0   0.0        NaN      0.0    0.0
2021-08-04        0.000   0.000000   0.0   0.0        NaN      0.0    0.0
2021-08-05        0.000   0.000000   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,0.004700,0.000367,0.007609,0.001957,0.002626,0.000304,0.002532,0.000920,0.006937,0.000617,...,0.003885,0.000349,0.006823,8.217301e-33,0.002941,0.068113,0.000560,0.001045,0.002650,0.012835
2021-08-04,0.003565,0.000555,0.008070,0.002028,0.002335,0.003222,0.002650,0.001067,0.007772,0.000757,...,0.004392,0.000359,0.006908,4.108651e-33,0.002712,0.054964,0.000501,0.001228,0.003020,0.011269
2021-08-05,0.003219,0.000773,0.007682,0.001420,0.002453,0.005043,0.002710,0.001246,0.008223,0.000761,...,0.004705,0.000390,0.007032,2.054325e-33,0.002590,0.047591,0.000455,0.001178,0.003188,0.009876

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,0.006367,3.180985e-06,0.009022,0.000246,0.003541,0.000012,0.002920,0.000385,0.001273,0.000177,...,0.000724,0.000739,0.007587,0.0,0.004166,0.317064,0.000421,0.001115,0.003154,0.013201
2021-08-04,0.005535,1.590493e-06,0.008401,0.000123,0.003727,0.000006,0.002869,0.000625,0.003333,0.000181,...,0.000826,0.000620,0.008273,0.0,0.003733,0.220338,0.000210,0.000558,0.002746,0.011361
2021-08-05,0.004815,7.952463e-07,0.008401,0.000062,0.004788,0.000003,0.002727,0.001069,0.002203,0.000137,...,0.000759,0.000561,0.009131,0.0,0.004196,0.194612,0.000105,0.001366,0.003851,0.011474

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-08-03,3.534541e-09,0.000195,0.006659,0.003495,0.021949,0.000078,0.002635,0.000682,0.001111,0.000532,...,0.059309,0.000542,0.006458,1.972152e-31,0.003870,0.117260,0.000469,0.003760,0.003418,0.026229
2021-08-04,1.767270e-09,0.000186,0.006953,0.002863,0.013424,0.001658,0.002382,0.000679,0.001197,0.000538,...,0.036302,0.000484,0.006434,9.860761e-32,0.003527,0.093068,0.000284,0.004125,0.002546,0.021843
2021-08-05,-5.000000e-01,-0.499907,-0.496523,-0.498569,-0.493288,-0.499171,-0.498809,-0.499660,-0.499402,-0.499731,...,-0.481849,-0.499758,-0.496783,-5.000000e-01,-0.498237,-0.453466,-0.499858,-0.497938,-0.498727,-0.489078

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-03,0.004863,0.004734,NaN,0.002127,0.004804,0.003227,0.001934,0.001776,0.000944,3.249932e-153,...,0.003568,0.004602,0.002295,0.002388,0.005991,0.002386,0.007354,0.001885,0.001995,0.003296
2021-08-04,0.005300,0.004602,NaN,0.002288,0.006025,0.002366,0.001909,0.001642,0.001018,1.624966e-153,...,0.003887,0.004352,0.002353,0.002231,0.012162,0.002420,0.005788,0.002080,0.001962,0.003543
2021-08-05,0.005853,0.004766,NaN,0.002367,0.006533,0.002575,0.002028,0.001724,0.001340,8.124831e-154,...,0.003758,0.004615,0.002432,0.002906,0.014140,0.002465,0.005908,0.002237,0.002241,0.003644

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-08-03      0.003663  0.010304  0.005800  0.005222  0.004022  0.000218
2021-08-04      0.003145  0.011242  0.004082  0.004148  0.005112  0.000109
2021-08-05      0.003865  0.011295  0.005777  0.005989  0.004834  0.000845

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-08-03      0.003605  0.003421  0.004687  0.004520  ...  0.002246
2021-08-04      0.004278  0.003356  0.004852  0.004751  ...  0.003962
2021-08-05      0.006449  0.003929  0.005670  0.005598  ...  0.003808

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-08-03      0.004411  0.002374  0.002301   0.001984  0.003328  0.005037
2021-08-04      0.004783  0.004770  0.002883   0.002584  0.002554  0.006404
2021-08-05      0.003032  0.004609  0.003743   0.001887  0.002801  0.006855

Province_State
Admin2         Unassigned  Washakie    Weston
2021-08-03           -1.0  0.001066  0.003731
2021-08-04           -1.0  0.001589  0.001866
2021-08-05           -1.0  0.001321  0.001659

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-08-03,0.000417,0.002856,NaN,0.001004,0.003631,0.000900,0.000543,-0.000050,0.002511,NaN,...,0.001187,0.000914,0.002614,0.000121,0.014502,0.000162,0.001016,0.001159,0.000477,0.006495
2021-08-04,0.001032,0.003985,NaN,0.000693,0.003023,0.000620,0.000703,-0.000025,0.001255,NaN,...,0.000985,0.001038,0.002926,0.000060,0.007251,0.000298,0.001242,0.000918,0.000419,0.003247
2021-08-05,0.001078,0.008354,NaN,0.000647,0.002876,0.000875,0.000854,0.000229,0.000628,NaN,...,0.001080,0.001277,0.002875,0.000030,0.016446,0.000366,0.001434,0.001305,0.000390,0.001624

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour          Bibb        Blount
2021-08-03      0.000035  0.000252  0.000008  5.820766e-11  3.033826e-27
2021-08-04      0.000017  0.000126  0.000004  7.692308e-03  3.597122e-03
2021-08-05      0.000009  0.001583  0.000002  3.846154e-03  1.798561e-03

Province_State                                                                \
Admin2               Bullock        Butler   Calhoun      Chambers  Cherokee
2021-08-03      1.008820e-26  3.438600e-06  0.000377  1.972752e-06  0.000005
2021-08-04      5.044100e-27  1.719300e-06  0.000188  9.863762e-07  0.000003
2021-08-05      2.522050e-27  8.596501e-07  0.001591  4.931881e-07  0.000001

Province_State  ...   Wyoming                                               \
Admin2          ...      Park    Platte      Sheridan  Sublette Sweetwater
2021-08-03      ...  0.000118  0.035714  1.196018e-44  0.063058   0.011456
2021-08-04      ...  0.000059  0.017857  5.980090e-45  0.031529   0.005728
2021-08-05      ...  0.000030  0.008929  2.990045e-45  0.015765   0.002864

Province_State
Admin2                 Teton     Uinta Unassigned      Washakie        Weston
2021-08-03      3.083953e-18  0.000300   0.752941  3.264532e-57  2.775558e-18
2021-08-04      1.541976e-18  0.000150   0.752941  1.632266e-57  1.387779e-18
2021-08-05      7.709882e-19  0.000075   0.752941  8.161330e-58  6.938894e-19

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN