# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'09-16-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'09-16-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-17 04:22:55,33.93911,67.709953,38855,1436,32503,4916.0,Afghanistan,99.811600,3.695792
1,NaN,NaN,NaN,Albania,2020-09-17 04:22:55,41.15330,20.168300,11816,343,6733,4740.0,Albania,410.591424,2.902844
2,NaN,NaN,NaN,Algeria,2020-09-17 04:22:55,28.03390,1.659600,48966,1645,34517,12804.0,Algeria,111.664391,3.359474
3,NaN,NaN,NaN,Andorra,2020-09-17 04:22:55,42.50630,1.521800,1483,53,1054,376.0,Andorra,1919.368407,3.573837
4,NaN,NaN,NaN,Angola,2020-09-17 04:22:55,-11.20270,17.873900,3675,143,1401,2131.0,Angola,11.181677,3.891156

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38494,38520,38544,38572,38606,38641,38716,38772,38815,38855
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,10406,10553,10704,10860,11021,11185,11353,11520,11672,11816
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,46653,46938,47216,47488,47752,48007,48254,48496,48734,48966

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1415,1418,1420,1420,1420,1420,1420,1425,1426,1436
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,319,321,322,324,327,330,334,338,340,343
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1562,1571,1581,1591,1599,1605,1612,1620,1632,1645

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,30557,30715,31048,31129,31154,31234,31638,32073,32098,32503
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6186,6239,6284,6346,6443,6494,6569,6615,6668,6733
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,32985,33183,33379,33562,33723,33875,34037,34204,34385,34517

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1383,1385,1398,1413,1420,1432,1442,1447,1619,1619
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4586,4609,4639,4678,4722,4752,4781,4800,5003,5003
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,617,617,618,618,618,620,622,626,809,809

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,23,23,23,23,23,23,23,23,24,24
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,42,42,42,42,43,43,43,43,47,47
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
631,1001.0,Autauga,Alabama,US,2020-09-17 04:22:55,32.539527,-86.644082,1619,24,0,1595.0,"Autauga, Alabama, US",2897.850328,1.482397
668,1075.0,Lamar,Alabama,US,2020-09-17 04:22:55,33.779950,-88.096680,327,2,0,325.0,"Lamar, Alabama, US",2368.706990,0.611621
669,1077.0,Lauderdale,Alabama,US,2020-09-17 04:22:55,34.901719,-87.656247,1590,31,0,1559.0,"Lauderdale, Alabama, US",1714.673942,1.949686

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                6630051  196763    2525573
India             5020359   82066    3942360
Brazil            4419083  134106    3845464

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,6630051,196763,2525573,3907715,2020-09-17 04:22:55,37.923092,-91.345036
India,5020359,82066,3942360,995933,2020-09-17 04:22:55,23.088275,81.806127
Brazil,4419083,134106,3845464,439513,2020-09-17 04:22:55,-12.669522,-48.480493
Russia,1075485,18853,887457,169175,2020-09-17 04:22:55,54.546312,62.120860
Peru,738020,30927,580753,126340,2020-09-17 04:22:55,-10.637324,-75.277744

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         771321   14691          0
Texas              696807   14738          0
Florida            671201   12939          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,771321,14691,0,756630,2020-09-17 04:22:55,37.843962,-120.728594
Texas,696807,14738,0,682069,2020-09-17 04:22:55,31.660643,-98.653069
Florida,671201,12939,0,658262,2020-09-17 04:22:55,28.940755,-82.700744
New York,446366,33042,0,413324,2020-09-17 04:22:55,42.544151,-75.474183
Georgia,299056,6419,0,292637,2020-09-17 04:22:55,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     256148    6303          0
Florida        Miami-Dade      165147    2955          0
Arizona        Maricopa        138151    3197          0
Illinois       Cook            136246    5146          0
Texas          Harris          120771    2458          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,256148,6303,0,249845,2020-09-17 04:22:55,34.308284,-118.228241,6037.0
Florida,Miami-Dade,165147,2955,0,162192,2020-09-17 04:22:55,25.611236,-80.551706,12086.0
Arizona,Maricopa,138151,3197,0,134954,2020-09-17 04:22:55,33.348359,-112.491815,4013.0
Illinois,Cook,136246,5146,0,131100,2020-09-17 04:22:55,41.841448,-87.816588,17031.0
Texas,Harris,120771,2458,0,118313,2020-09-17 04:22:55,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,38772,11520,48496,1438,3439,95,565446,45969,26739,33541,...,373555,1812,47836,61569,1063,31362,10,2013,13720,7531
2020-09-15,38815,11672,48734,1438,3569,95,577338,46119,26778,34305,...,376670,1827,48429,62655,1063,32250,10,2016,13819,7576
2020-09-16,38855,11816,48966,1483,3675,95,589012,46376,26813,35073,...,380677,1856,49015,63416,1063,33006,10,2019,13887,7598

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,1425,338,1620,53,136,3,11667,919,816,757,...,41726,45,396,494,35,226,1,583,320,224
2020-09-15,1426,340,1632,53,139,3,11852,920,824,757,...,41753,45,402,502,35,229,1,583,324,224
2020-09-16,1436,343,1645,53,143,3,12116,923,832,758,...,41773,45,407,511,35,243,1,583,326,224

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,32073,6615,34204,945,1324,91,428953,41693,23577,27010,...,2152,1528,44375,49371,926,21406,8,1215,12380,5690
2020-09-15,32098,6668,34385,945,1332,91,438883,41941,23650,27354,...,2184,1545,44942,50361,931,21804,8,1219,12590,5783
2020-09-16,32503,6733,34517,1054,1401,91,448263,42069,23790,27655,...,2190,1559,45422,51274,936,22209,8,1221,12869,5823

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1383,1385,1398,1413,1420,1432,1442,1447,1619,1619
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,282,282,282,283,288,289,292,295,327,327
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1479,1485,1490,1504,1512,1518,1527,1530,1590,1590
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,505,506,510,515,526,529,532,534,573,573
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,3511,3529,3553,3560,3585,3593,3613,3622,5570,5570

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-14,139459,6343,0,208725,70627,765134,61667,54895,18937,49,...,174274,685748,58438,1696,1221,134493,80138,12830,89956,4394
2020-09-15,141087,6384,0,209209,71497,768204,62079,55031,19137,49,...,175231,692753,59000,1702,1232,135428,80465,12986,91062,4440
2020-09-16,141087,6432,0,209907,72219,771321,62666,55166,19234,49,...,177087,696807,59747,1702,1232,136269,80812,13202,92159,4566

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-14        1447    4800     626  581   1128     558    867    2790
2020-09-15        1619    5003     809  612   1487     583    901    3165
2020-09-16        1619    5003     809  612   1487     583    901    3165

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-14          864      407  ...     186     10      210       54
2020-09-15         1107      526  ...     187     12      213       62
2020-09-16         1107      526  ...     196     16      224       65

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-14            317   476   312          2      111     23
2020-09-15            317   478   312          2      111     23
2020-09-16            317   481   323          0      111     23

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-14,2355,44,0,5322,992,14439,1990,4485,617,0,...,2097,14451,436,58,19,2743,2006,278,1210,42
2020-09-15,2392,44,0,5344,1150,14594,1996,4485,618,0,...,2127,14593,436,58,19,2837,2015,283,1220,42
2020-09-16,2392,44,0,5371,1157,14691,2002,4487,619,0,...,2151,14738,437,58,19,2882,2020,293,1227,50

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-14          23      43       7    6     13      13     37      31
2020-09-15          24      47       7    9     13      14     38      38
2020-09-16          24      47       7    9     13      14     38      38

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-14           40       11  ...       1      1        1        1
2020-09-15           42       15  ...       1      1        1        1
2020-09-16           42       15  ...       1      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-14              2     1     2          0        6      0
2020-09-15              2     1     2          0        6      0
2020-09-16              2     1     2          4        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,0.001446,0.014710,0.005015,0.069940,0.015053,0.0,0.017837,0.002333,0.001761,0.011520,...,0.007077,0.002212,0.011610,0.016997,0.0,0.025774,0.0,0.000995,0.013369,0.000664
2020-09-15,0.001109,0.013194,0.004908,0.000000,0.037802,0.0,0.021031,0.003263,0.001459,0.022778,...,0.008339,0.008278,0.012397,0.017639,0.0,0.028315,0.0,0.001490,0.007216,0.005975
2020-09-16,0.001031,0.012337,0.004761,0.031293,0.029700,0.0,0.020220,0.005573,0.001307,0.022387,...,0.010638,0.015873,0.012100,0.012146,0.0,0.023442,0.0,0.001488,0.004921,0.002904

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,0.003521,0.011976,0.004963,0.0,0.014925,0.0,0.027748,0.003275,0.000000,0.001323,...,0.000216,0.0,0.015385,0.018557,0.0,0.022624,0.0,0.0,0.025641,0.0
2020-09-15,0.000702,0.005917,0.007407,0.0,0.022059,0.0,0.015857,0.001088,0.009804,0.000000,...,0.000647,0.0,0.015152,0.016194,0.0,0.013274,0.0,0.0,0.012500,0.0
2020-09-16,0.007013,0.008824,0.007966,0.0,0.028777,0.0,0.022275,0.003261,0.009709,0.001321,...,0.000479,0.0,0.012438,0.017928,0.0,0.061135,0.0,0.0,0.006173,0.0

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,0.013749,0.007003,0.004906,0.002121,0.017679,0.0,0.022502,0.000816,0.004859,0.009342,...,0.002796,0.009914,0.011604,0.014945,0.008715,0.065930,0.0,0.002475,0.009788,0.002113
2020-09-15,0.000779,0.008012,0.005292,0.000000,0.006042,0.0,0.023149,0.005948,0.003096,0.012736,...,0.014870,0.011126,0.012777,0.020052,0.005400,0.018593,0.0,0.003292,0.016963,0.016344
2020-09-16,0.012618,0.009748,0.003839,0.115344,0.051802,0.0,0.021372,0.003052,0.005920,0.011004,...,0.002747,0.009061,0.010680,0.018129,0.005371,0.018575,0.0,0.001641,0.022160,0.006917

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-14,0.005074,0.011966,NaN,0.001022,0.005810,0.004471,0.006102,0.010474,0.004669,0.0,...,0.014259,0.005665,0.009728,0.007126,0.000820,0.005615,0.003909,0.009839,0.008645,0.011045
2020-09-15,0.011674,0.006464,NaN,0.002319,0.012318,0.004012,0.006681,0.002477,0.010561,0.0,...,0.005491,0.010215,0.009617,0.003538,0.009009,0.006952,0.004080,0.012159,0.012295,0.010469
2020-09-16,0.000000,0.007519,NaN,0.003336,0.010098,0.004058,0.009456,0.002453,0.005069,0.0,...,0.010592,0.005852,0.012661,0.000000,0.000000,0.006210,0.004312,0.016633,0.012047,0.028378

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-14      0.003467  0.003974  0.006431  0.005190  0.006244  0.000000
2020-09-15      0.118867  0.042292  0.292332  0.053356  0.318262  0.044803
2020-09-16      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-14      0.001155  0.006131  0.001159  0.000000  ... -0.005348
2020-09-15      0.039216  0.134409  0.281250  0.292383  ...  0.005376
2020-09-16      0.000000  0.000000  0.000000  0.000000  ...  0.048128

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-14      0.111111  0.034483  0.000000  -0.003145  0.012766  0.003215
2020-09-15      0.200000  0.014286  0.148148   0.000000  0.004202  0.000000
2020-09-16      0.333333  0.051643  0.048387   0.000000  0.006276  0.035256

Province_State
Admin2         Unassigned Washakie Weston
2020-09-14            0.0      0.0    0.0
2020-09-15            0.0      0.0    0.0
2020-09-16           -1.0      0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-14,0.001701,0.0,NaN,0.000000,0.011213,0.004243,0.001006,0.001116,0.003252,NaN,...,0.009143,0.003193,0.006928,0.0,0.0,0.006975,0.007534,0.041199,0.000000,0.000000
2020-09-15,0.015711,0.0,NaN,0.004134,0.159274,0.010735,0.003015,0.000000,0.001621,NaN,...,0.014306,0.009826,0.000000,0.0,0.0,0.034269,0.004487,0.017986,0.008264,0.000000
2020-09-16,0.000000,0.0,NaN,0.005052,0.006087,0.006647,0.003006,0.000446,0.001618,NaN,...,0.011283,0.009936,0.002294,0.0,0.0,0.015862,0.002481,0.035336,0.005738,0.190476

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin Barbour Bibb Blount   Bullock    Butler
2020-09-14      0.000000  0.000000     0.0  0.0    0.0  0.000000  0.000000
2020-09-15      0.043478  0.093023     0.0  0.5    0.0  0.076923  0.027027
2020-09-16      0.000000  0.000000     0.0  0.0    0.0  0.000000  0.000000

Province_State                               ... Wyoming                  \
Admin2           Calhoun Chambers  Cherokee  ...    Park Platte Sheridan
2020-09-14      0.000000     0.00  0.000000  ...     0.0    0.0      0.0
2020-09-15      0.225806     0.05  0.363636  ...     0.0    0.0      0.0
2020-09-16      0.000000     0.00  0.000000  ...     0.0    0.0      3.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-14          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-09-15          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-09-16          0.0        0.0   0.0   0.0        inf      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,0.001429,0.014798,0.005179,0.037690,0.016623,2.597323e-06,0.018399,0.003134,0.001699,0.015025,...,0.008115,0.006768,0.012027,0.016545,0.00088,0.024043,2.872155e-27,0.001127,0.010447,0.002197
2020-09-15,0.001269,0.013996,0.005043,0.018845,0.027213,1.298662e-06,0.019715,0.003199,0.001579,0.018902,...,0.008227,0.007523,0.012212,0.017092,0.00044,0.026179,1.436077e-27,0.001309,0.008831,0.004086
2020-09-16,0.001150,0.013167,0.004902,0.025069,0.028456,6.493308e-07,0.019968,0.004386,0.001443,0.020645,...,0.009432,0.011698,0.012156,0.014619,0.00022,0.024810,7.180387e-28,0.001398,0.006876,0.003495

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,0.001812,0.011134,0.004733,1.119378e-12,0.014322,8.826538e-47,0.020012,0.003612,0.004125,0.002267,...,0.000194,0.000011,0.016036,0.018088,0.000010,0.031545,0.0,0.000911,0.016754,0.001227
2020-09-15,0.001257,0.008526,0.006070,5.596890e-13,0.018191,4.413269e-47,0.017934,0.002350,0.006964,0.001133,...,0.000421,0.000006,0.015594,0.017141,0.000005,0.022410,0.0,0.000456,0.014627,0.000613
2020-09-16,0.004135,0.008675,0.007018,2.798445e-13,0.023484,2.206635e-47,0.020104,0.002806,0.008337,0.001227,...,0.000450,0.000003,0.014016,0.017535,0.000002,0.041773,0.0,0.000228,0.010400,0.000307

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-14,0.010822,0.008957,0.004882,0.001496,0.013098,3.431410e-07,0.023509,0.002010,0.005044,0.009025,...,0.039377,0.008283,0.011233,0.016631,0.009200,0.040263,1.682903e-29,0.001608,0.011586,0.002629
2020-09-15,0.005801,0.008485,0.005087,0.000748,0.009570,1.715705e-07,0.023329,0.003979,0.004070,0.010881,...,0.027123,0.009704,0.012005,0.018342,0.007300,0.029428,8.414516e-30,0.002450,0.014275,0.009487
2020-09-16,0.009209,0.009116,0.004463,0.058046,0.030686,8.578526e-08,0.022351,0.003515,0.004995,0.010942,...,0.014935,0.009383,0.011343,0.018235,0.006335,0.024001,4.207258e-30,0.002045,0.018217,0.008202

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-14,0.006383,0.012448,NaN,0.001618,0.009455,0.004436,0.006201,0.005724,0.005785,5.553451e-56,...,0.010337,0.005706,0.009986,0.005685,0.003569,0.006727,0.004539,0.013803,0.012691,0.011013
2020-09-15,0.009028,0.009456,NaN,0.001968,0.010886,0.004224,0.006441,0.004101,0.008173,2.776725e-56,...,0.007914,0.007960,0.009802,0.004612,0.006289,0.006839,0.004310,0.012981,0.012493,0.010741
2020-09-16,0.004514,0.008487,NaN,0.002652,0.010492,0.004141,0.007948,0.003277,0.006621,1.388363e-56,...,0.009253,0.006906,0.011231,0.002306,0.003144,0.006525,0.004311,0.014807,0.012270,0.019560

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-14      0.005379  0.005336  0.004456  0.005064  0.006526  0.003268
2020-09-15      0.062123  0.023814  0.148394  0.029210  0.162394  0.024035
2020-09-16      0.031061  0.011907  0.074197  0.014605  0.081197  0.012018

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-14      0.001276  0.010755  0.001047  0.014815  ...  0.001171
2020-09-15      0.020246  0.072582  0.141148  0.153599  ...  0.003273
2020-09-16      0.010123  0.036291  0.070574  0.076800  ...  0.025701

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-14      0.073413  0.027548  0.007676  -0.002398  0.011389  0.002600
2020-09-15      0.136706  0.020917  0.077912  -0.001199  0.007795  0.001300
2020-09-16      0.235020  0.036280  0.063150  -0.000599  0.007036  0.018278

Province_State
Admin2         Unassigned  Washakie    Weston
2020-09-14      -0.000238  0.000023  0.012788
2020-09-15      -0.000079  0.000012  0.006394
2020-09-16      -0.571423  0.000006  0.003197

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-14,0.003030,0.004454,NaN,0.001387,0.012451,0.004997,0.000957,0.000624,0.002654,NaN,...,0.011198,0.005389,0.004568,1.608293e-14,0.007547,0.004465,0.004271,0.024657,0.002153,0.000025
2020-09-15,0.009371,0.002227,NaN,0.002761,0.085863,0.007866,0.001986,0.000312,0.002137,NaN,...,0.012752,0.007608,0.002284,8.041465e-15,0.003773,0.019367,0.004379,0.021321,0.005209,0.000013
2020-09-16,0.004685,0.001113,NaN,0.003907,0.045975,0.007256,0.002496,0.000379,0.001878,NaN,...,0.012018,0.008772,0.002289,4.020733e-15,0.001887,0.017614,0.003430,0.028329,0.005473,0.095244

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-09-14      0.000003  0.001527  1.247586e-09 -0.000028  0.010467
2020-09-15      0.021741  0.047275  6.237930e-10  0.249986  0.005234
2020-09-16      0.010870  0.023638  3.118965e-10  0.124993  0.002617

Province_State                                                            ...  \
Admin2               Bullock    Butler   Calhoun  Chambers      Cherokee  ...
2020-09-14      3.386628e-10  0.000014 -0.000002  0.000013  4.257200e-07  ...
2020-09-15      3.846154e-02  0.013520  0.112902  0.025006  1.818184e-01  ...
2020-09-16      1.923077e-02  0.006760  0.056451  0.012503  9.090920e-02  ...

Province_State Wyoming                                                   \
Admin2            Park Platte  Sheridan Sublette Sweetwater Teton Uinta
2020-09-14         0.0    0.0  0.000000      0.0        0.0   0.0   0.0
2020-09-15         0.0    0.0  0.000000      0.0        0.0   0.0   0.0
2020-09-16         0.0    0.0  1.500092      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned Washakie Weston
2020-09-14      -0.499985      0.0    NaN
2020-09-15      -0.499985      0.0    NaN
2020-09-16      -0.499985      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200916,AK,7365,401199,NaN,45.0,NaN,NaN,NaN,9.0,...,408564,0,0,ad1f0e91a77746e4f6d9ba6cc959464870a19357,0,0,0,0,0,NaN
1,20200916,AL,141087,899684,NaN,722.0,15942.0,NaN,1629.0,NaN,...,1040771,5,186,19c820c74827e1d952895482c40a6a80293f8fd1,0,0,0,0,0,NaN
2,20200916,AR,72219,773958,NaN,387.0,4840.0,189.0,NaN,65.0,...,846177,147,38,f729e5100574f9ae35c452b864c0470dcdafcbd2,0,0,0,0,0,NaN
3,20200916,AS,0,1571,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,1e432dfcc52e27d75970f4b590b1e74ec5a025a5,0,0,0,0,0,NaN
4,20200916,AZ,209907,1118554,NaN,538.0,21825.0,135.0,NaN,81.0,...,1328461,27,25,c0233f446ed3ddc417d0301d53fee8e42f2c3694,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200916,AK,7365.0,401199.0,NaN,45.0,NaN,NaN,NaN,9.0,...,408564,0,0,ad1f0e91a77746e4f6d9ba6cc959464870a19357,0,0,0,0,0,NaN
1,20200916,AL,141087.0,899684.0,NaN,722.0,15942.0,NaN,1629.0,NaN,...,1040771,5,186,19c820c74827e1d952895482c40a6a80293f8fd1,0,0,0,0,0,NaN
2,20200916,AR,72219.0,773958.0,NaN,387.0,4840.0,189.0,NaN,65.0,...,846177,147,38,f729e5100574f9ae35c452b864c0470dcdafcbd2,0,0,0,0,0,NaN
3,20200916,AS,0.0,1571.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,1e432dfcc52e27d75970f4b590b1e74ec5a025a5,0,0,0,0,0,NaN
4,20200916,AZ,209907.0,1118554.0,NaN,538.0,21825.0,135.0,NaN,81.0,...,1328461,27,25,c0233f446ed3ddc417d0301d53fee8e42f2c3694,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-16,AK,7365,401199,NaN,45.0,NaN,NaN,NaN,9.0,NaN,...,408564,0,0,ad1f0e91a77746e4f6d9ba6cc959464870a19357,0,0,0,0,0,NaN
2020-09-16,AL,141087,899684,NaN,722.0,15942.0,NaN,1629.0,NaN,901.0,...,1040771,5,186,19c820c74827e1d952895482c40a6a80293f8fd1,0,0,0,0,0,NaN
2020-09-16,AR,72219,773958,NaN,387.0,4840.0,189.0,NaN,65.0,616.0,...,846177,147,38,f729e5100574f9ae35c452b864c0470dcdafcbd2,0,0,0,0,0,NaN
2020-09-16,AS,0,1571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,1e432dfcc52e27d75970f4b590b1e74ec5a025a5,0,0,0,0,0,NaN
2020-09-16,AZ,209907,1118554,NaN,538.0,21825.0,135.0,NaN,81.0,NaN,...,1328461,27,25,c0233f446ed3ddc417d0301d53fee8e42f2c3694,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-16,AK,7365.0,401199.0,NaN,45.0,NaN,NaN,NaN,9.0,NaN,...,408564,0,0,ad1f0e91a77746e4f6d9ba6cc959464870a19357,0,0,0,0,0,NaN
2020-09-16,AL,141087.0,899684.0,NaN,722.0,15942.0,NaN,1629.0,NaN,901.0,...,1040771,5,186,19c820c74827e1d952895482c40a6a80293f8fd1,0,0,0,0,0,NaN
2020-09-16,AR,72219.0,773958.0,NaN,387.0,4840.0,189.0,NaN,65.0,616.0,...,846177,147,38,f729e5100574f9ae35c452b864c0470dcdafcbd2,0,0,0,0,0,NaN
2020-09-16,AS,0.0,1571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,1e432dfcc52e27d75970f4b590b1e74ec5a025a5,0,0,0,0,0,NaN
2020-09-16,AZ,209907.0,1118554.0,NaN,538.0,21825.0,135.0,NaN,81.0,NaN,...,1328461,27,25,c0233f446ed3ddc417d0301d53fee8e42f2c3694,0,0,0,0,0,NaN