# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'11-04-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'11-04-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-05 06:05:03,33.93911,67.709953,41814,1548,34362,5904.0,Afghanistan,107.412746,3.702109
1,NaN,NaN,NaN,Albania,2020-11-05 06:05:03,41.15330,20.168300,22300,536,11578,10186.0,Albania,774.897491,2.403587
2,NaN,NaN,NaN,Algeria,2020-11-05 06:05:03,28.03390,1.659600,59527,1999,41001,16527.0,Algeria,135.748196,3.358140
3,NaN,NaN,NaN,Andorra,2020-11-05 06:05:03,42.50630,1.521800,5045,75,3734,1236.0,Andorra,6529.476477,1.486620
4,NaN,NaN,NaN,Angola,2020-11-05 06:05:03,-11.20270,17.873900,11813,296,5266,6251.0,Angola,35.942627,2.505714

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/26/20,10/27/20,10/28/20,10/29/20,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,40937,41032,41145,41268,41334,41425,41501,41633,41728,41814
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,19445,19729,20040,20315,20634,20875,21202,21523,21904,22300
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,56419,56706,57026,57332,57651,57942,58272,58574,58979,59527

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/26/20,10/27/20,10/28/20,10/29/20,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1518,1523,1529,1532,1533,1536,1536,1541,1544,1548
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,480,487,493,499,502,509,518,527,532,536
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1922,1931,1941,1949,1956,1964,1973,1980,1980,1999

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/26/20,10/27/20,10/28/20,10/29/20,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34150,34217,34237,34239,34258,34321,34326,34342,34355,34362
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,10705,10808,10893,11007,11097,11189,11246,11367,11473,11578
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,39273,39444,39635,39635,40014,40201,40395,40577,40577,41001

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/26/20,10/27/20,10/28/20,10/29/20,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2074,2082,2103,2126,2141,2159,2173,2186,2197,2212
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,6694,6712,6743,6768,6888,6940,6966,6985,6995,7061
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1033,1042,1045,1055,1056,1060,1061,1065,1074,1079

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/26/20,10/27/20,10/28/20,10/29/20,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,31,31,31,31,31,31,31,31,31,31
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,69,69,69,69,71,71,71,71,74,77
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
634,1001.0,Autauga,Alabama,US,2020-11-05 06:05:03,32.539527,-86.644082,2212,31,0,2181.0,"Autauga, Alabama, US",3959.261845,1.401447
671,1075.0,Lamar,Alabama,US,2020-11-05 06:05:03,33.779950,-88.096680,540,7,0,533.0,"Lamar, Alabama, US",3911.626222,1.296296
672,1077.0,Lauderdale,Alabama,US,2020-11-05 06:05:03,34.901719,-87.656247,2820,44,0,2776.0,"Lauderdale, Alabama, US",3041.119822,1.560284

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                9485448  233717    3743527
India             8364086  124315    7711809
Brazil            5590025  161106    5078162

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,9485448,233717,3743527,5508204,2020-11-05 06:05:03,37.936303,-91.379001
India,8364086,124315,7711809,527962,2020-11-05 06:05:03,23.088275,81.806127
Brazil,5590025,161106,5078162,350757,2020-11-05 06:05:03,-12.669522,-48.480493
Russia,1680579,28996,1259194,392389,2020-11-05 06:05:03,54.546312,62.120860
France,1591152,38728,126195,1426229,2020-11-05 06:05:03,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
Texas              959811   18771          0
California         950920   17808          0
Florida            821123   16922          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
Texas,959811,18771,0,941040,2020-11-05 06:05:03,31.660643,-98.653069
California,950920,17808,0,933112,2020-11-05 06:05:03,37.843962,-120.728594
Florida,821123,16922,0,804201,2020-11-05 06:05:03,28.940755,-82.700744
New York,515815,33556,0,482259,2020-11-05 06:05:03,42.544151,-75.474183
Illinois,443803,10216,0,433587,2020-11-05 06:05:03,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     313526    7117          0
Illinois       Cook            201176    5541          0
Florida        Miami-Dade      189332    3670          0
Texas          Harris          164445    2841          0
Arizona        Maricopa        161588    3658          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,313526,7117,0,306409,2020-11-05 06:05:03,34.308284,-118.228241,6037.0
Illinois,Cook,201176,5541,0,195635,2020-11-05 06:05:03,41.841448,-87.816588,17031.0
Florida,Miami-Dade,189332,3670,0,185662,2020-11-05 06:05:03,25.611236,-80.551706,12086.0
Texas,Harris,164445,2841,0,161604,2020-11-05 06:05:03,29.858649,-95.393395,48201.0
Arizona,Maricopa,161588,3658,0,157930,2020-11-05 06:05:03,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,41633,21523,58574,4888,11228,128,1183131,93448,27610,114016,...,1057021,3165,67254,92705,1192,54775,10,2063,16543,8389
2020-11-03,41728,21904,58979,4910,11577,128,1195276,94776,27622,118198,...,1077099,3196,67553,93100,1202,55408,10,2063,16661,8410
2020-11-04,41814,22300,59527,5045,11813,130,1205928,97150,27630,125099,...,1102305,3245,67779,93480,1203,56090,10,2063,16698,8427

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,1541,527,1980,75,289,3,31623,1391,907,1159,...,46943,60,571,806,35,493,1,601,349,245
2020-11-03,1544,532,1980,75,291,3,32052,1413,907,1192,...,47340,61,574,810,35,501,1,601,349,246
2020-11-04,1548,536,1999,75,296,3,32520,1448,907,1227,...,47832,61,577,814,35,504,1,601,349,248

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,34342,11367,40577,3548,5172,117,998016,56466,25384,71691,...,2850,2658,64466,87547,1065,47169,8,1375,15733,7939
2020-11-03,34355,11473,40577,3627,5230,117,1009278,57599,25407,74292,...,2906,2727,64815,87941,1069,47744,8,1375,15763,7942
2020-11-04,34362,11578,41001,3734,5266,118,1017647,58811,25418,77036,...,2925,2770,65001,88326,1069,48224,8,1375,15819,7967

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/26/20,10/27/20,10/28/20,10/29/20,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2074,2082,2103,2126,2141,2159,2173,2186,2197,2212
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,506,508,516,523,525,530,534,535,533,540
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,2313,2338,2371,2405,2437,2465,2743,2765,2798,2820
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,861,869,877,885,899,916,941,946,958,968
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6550,6571,6624,6649,6669,6702,6715,6736,6749,6776

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-02,194892,17057,0,248139,113641,940411,112147,73858,25311,49,...,264587,942303,117706,2219,1376,183418,109354,25238,232295,14167
2020-11-03,195929,17448,0,249818,114519,945401,114709,74843,25426,49,...,266357,950302,119375,2237,1385,184679,110011,25596,238066,14621
2020-11-04,197777,17860,0,250633,115812,950920,117637,75373,25534,49,...,269802,959811,121485,2267,1388,185836,111480,25988,244002,15044

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-02        2186    6985    1065  883   2108     655   1026    4925
2020-11-03        2197    6995    1074  890   2162     657   1029    4951
2020-11-04        2212    7061    1079  897   2188     659   1034    5001

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-02         1397      791  ...     721    159      854      187
2020-11-03         1428      808  ...     744    172      871      194
2020-11-04         1449      823  ...     765    186      888      197

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-02            601   847   492          0      160    169
2020-11-03            621   862   510          2      167    181
2020-11-04            638   873   518          0      175    189

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-02,2973,84,0,5982,1985,17689,2292,4627,710,0,...,3379,18534,614,58,21,3658,2378,461,2050,97
2020-11-03,2987,84,0,6020,2003,17745,2311,4635,712,0,...,3454,18632,620,58,22,3666,2400,471,2102,93
2020-11-04,3006,84,0,6059,2026,17808,2333,4645,712,0,...,3478,18771,625,58,23,3677,2416,474,2156,105

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-02          31      71       9   15     25      17     41      65
2020-11-03          31      74       9   15     25      17     41      65
2020-11-04          31      77       9   15     25      17     41      65

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-02           47       15  ...       3      2        5        1
2020-11-03           47       15  ...       3      3        6        1
2020-11-04           48       15  ...       3      4        6        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-02              2     1     3         10        7      0
2020-11-03              2     2     3          0        7      0
2020-11-04              4     2     3          0        7      1

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,0.003181,0.015140,0.005183,0.013057,0.017490,0.000000,0.008179,0.012943,0.000326,0.037632,...,0.018272,0.005081,0.001459,0.004116,0.010169,0.013226,0.0,0.0,0.003823,0.001791
2020-11-03,0.002282,0.017702,0.006914,0.004501,0.031083,0.000000,0.010265,0.014211,0.000435,0.036679,...,0.018995,0.009795,0.004446,0.004261,0.008389,0.011556,0.0,0.0,0.007133,0.002503
2020-11-04,0.002061,0.018079,0.009291,0.027495,0.020385,0.015625,0.008912,0.025049,0.000290,0.058385,...,0.023402,0.015332,0.003346,0.004082,0.000832,0.012309,0.0,0.0,0.002221,0.002021

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,0.003255,0.017375,0.003548,0.0,0.010490,0.0,0.015511,0.020543,0.0,0.025664,...,0.002906,0.016949,0.001754,0.006242,0.0,0.008180,0.0,0.001667,0.0,0.008230
2020-11-03,0.001947,0.009488,0.000000,0.0,0.006920,0.0,0.013566,0.015816,0.0,0.028473,...,0.008457,0.016667,0.005254,0.004963,0.0,0.016227,0.0,0.000000,0.0,0.004082
2020-11-04,0.002591,0.007519,0.009596,0.0,0.017182,0.0,0.014601,0.024770,0.0,0.029362,...,0.010393,0.000000,0.005226,0.004938,0.0,0.005988,0.0,0.000000,0.0,0.008130

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,0.000466,0.010759,0.004506,0.021007,0.051220,0.000000,0.012889,0.011446,0.001262,0.033965,...,0.003168,0.021915,0.000000,0.004486,0.001881,0.008466,0.0,0.006589,0.000000,0.001514
2020-11-03,0.000379,0.009325,0.000000,0.022266,0.011214,0.000000,0.011284,0.020065,0.000906,0.036281,...,0.019649,0.025959,0.005414,0.004500,0.003756,0.012190,0.0,0.000000,0.001907,0.000378
2020-11-04,0.000204,0.009152,0.010449,0.029501,0.006883,0.008547,0.008292,0.021042,0.000433,0.036935,...,0.006538,0.015768,0.002870,0.004378,0.000000,0.010054,0.0,0.000000,0.003553,0.003148

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-02,0.004676,0.021072,NaN,0.002691,0.005166,0.004844,0.020353,0.037229,0.007363,0.0,...,0.012091,0.005857,0.010265,0.010474,0.000000,0.005625,0.009592,0.014267,0.015000,0.032354
2020-11-03,0.005321,0.022923,NaN,0.006766,0.007726,0.005306,0.022845,0.013336,0.004543,0.0,...,0.006690,0.008489,0.014179,0.008112,0.006541,0.006875,0.006008,0.014185,0.024843,0.032046
2020-11-04,0.009432,0.023613,NaN,0.003262,0.011291,0.005838,0.025525,0.007081,0.004248,0.0,...,0.012934,0.010006,0.017675,0.013411,0.002166,0.006265,0.013353,0.015315,0.024934,0.028931

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-02      0.005983  0.002728  0.003770  0.005695  0.006205  0.000000
2020-11-03      0.005032  0.001432  0.008451  0.007928  0.025617  0.003053
2020-11-04      0.006827  0.009435  0.004655  0.007865  0.012026  0.003044

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-02      0.001953  0.006746  0.003592  0.005083  ...  0.016925
2020-11-03      0.002924  0.005279  0.022190  0.021492  ...  0.031900
2020-11-04      0.004859  0.010099  0.014706  0.018564  ...  0.028226

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-02      0.019231  0.021531  0.000000   0.027350  0.040541  0.008197
2020-11-03      0.081761  0.019906  0.037433   0.033278  0.017710  0.036585
2020-11-04      0.081395  0.019518  0.015464   0.027375  0.012761  0.015686

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-02            NaN  0.000000  0.030488
2020-11-03            inf  0.043750  0.071006
2020-11-04           -1.0  0.047904  0.044199

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-02,0.000000,0.012048,NaN,0.000502,0.013790,0.001019,0.001748,0.002383,0.000000,NaN,...,0.007754,0.001730,0.000000,0.0,0.000000,0.000821,0.005072,0.002174,0.001466,0.114943
2020-11-03,0.004709,0.000000,NaN,0.006352,0.009068,0.003166,0.008290,0.001729,0.002817,NaN,...,0.022196,0.005288,0.009772,0.0,0.047619,0.002187,0.009251,0.021692,0.025366,-0.041237
2020-11-04,0.006361,0.000000,NaN,0.006478,0.011483,0.003550,0.009520,0.002157,0.000000,NaN,...,0.006948,0.007460,0.008065,0.0,0.045455,0.003001,0.006667,0.006369,0.025690,0.129032

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-02         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2020-11-03         0.0  0.042254     0.0  0.0    0.0     0.0    0.0     0.0
2020-11-04         0.0  0.040541     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                     ... Wyoming                              \
Admin2          Chambers Cherokee  ...    Park    Platte Sheridan Sublette
2020-11-02      0.000000      0.0  ...     0.0  0.000000     0.25      0.0
2020-11-03      0.000000      0.0  ...     0.0  0.500000     0.20      0.0
2020-11-04      0.021277      0.0  ...     0.0  0.333333     0.00      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-02            0.0   0.0   0.0        0.0      0.0    NaN
2020-11-03            0.0   1.0   0.0       -1.0      0.0    NaN
2020-11-04            1.0   0.0   0.0        NaN      0.0    inf

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,0.002596,0.014839,0.005327,0.015129,0.020097,0.002516,0.008037,0.020097,0.000307,0.043787,...,0.020775,0.008248,0.002605,0.003987,0.005572,0.011448,5.101972e-42,0.000084,0.003278,0.001425
2020-11-03,0.002439,0.016270,0.006121,0.009815,0.025590,0.001258,0.009151,0.017154,0.000371,0.040233,...,0.019885,0.009021,0.003526,0.004124,0.006981,0.011502,2.550986e-42,0.000042,0.005206,0.001964
2020-11-04,0.002250,0.017175,0.007706,0.018655,0.022988,0.008441,0.009031,0.021101,0.000330,0.049309,...,0.021643,0.012176,0.003436,0.004103,0.003906,0.011905,1.275493e-42,0.000021,0.003713,0.001993

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,0.002080,0.015971,0.003935,0.002366,0.010476,1.567908e-61,0.011216,0.020972,0.000017,0.023656,...,0.003958,0.015384,0.003862,0.005518,1.724761e-20,0.009714,0.0,0.001252,0.000185,0.004724
2020-11-03,0.002013,0.012729,0.001967,0.001183,0.008698,7.839541e-62,0.012391,0.018394,0.000009,0.026064,...,0.006207,0.016026,0.004558,0.005241,8.623805e-21,0.012970,0.0,0.000626,0.000093,0.004403
2020-11-04,0.002302,0.010124,0.005782,0.000592,0.012940,3.919770e-62,0.013496,0.021582,0.000004,0.027713,...,0.008300,0.008013,0.004892,0.005089,4.311903e-21,0.009479,0.0,0.000313,0.000046,0.006267

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-02,0.000572,0.008779,0.004784,0.018702,0.067348,0.002658,0.012921,0.012374,0.001090,0.032279,...,0.003967,0.017823,0.002166,0.004664,0.001212,0.009136,2.989437e-44,0.003349,0.001765,0.002292
2020-11-03,0.000475,0.009052,0.002392,0.020484,0.039281,0.001329,0.012102,0.016220,0.000998,0.034280,...,0.011808,0.021891,0.003790,0.004582,0.002484,0.010663,1.494718e-44,0.001674,0.001836,0.001335
2020-11-04,0.000340,0.009102,0.006421,0.024993,0.023082,0.004938,0.010197,0.018631,0.000716,0.035608,...,0.009173,0.018830,0.003330,0.004480,0.001242,0.010358,7.473592e-45,0.000837,0.002694,0.002241

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-02,0.006619,0.022510,NaN,0.004583,0.007238,0.004570,0.022188,0.020189,0.007329,9.864910e-71,...,0.008598,0.006063,0.013330,0.009533,0.001749,0.006529,0.008820,0.016356,0.017208,0.031219
2020-11-03,0.005970,0.022716,NaN,0.005675,0.007482,0.004938,0.022516,0.016763,0.005936,4.932455e-71,...,0.007644,0.007276,0.013755,0.008822,0.004145,0.006702,0.007414,0.015270,0.021026,0.031633
2020-11-04,0.007701,0.023165,NaN,0.004469,0.009386,0.005388,0.024021,0.011922,0.005092,2.466227e-71,...,0.010289,0.008641,0.015715,0.011117,0.003156,0.006483,0.010384,0.015293,0.022980,0.030282

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-02      0.006685  0.004605  0.003097  0.006070  0.009335  0.001229
2020-11-03      0.005858  0.003018  0.005774  0.006999  0.017476  0.002141
2020-11-04      0.006343  0.006227  0.005215  0.007432  0.014751  0.002593

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-02      0.001956  0.007746  0.003468  0.006903  ...  0.019308
2020-11-03      0.002440  0.006513  0.012829  0.014198  ...  0.025604
2020-11-04      0.003649  0.008306  0.013767  0.016381  ...  0.026915

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-02      0.023837  0.025197  0.012624   0.031617  0.026953  0.009957
2020-11-03      0.052799  0.022552  0.025029   0.032448  0.022331  0.023271
2020-11-04      0.067097  0.021035  0.020246   0.029911  0.017546  0.019479

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-02      -0.999999  0.004924  0.024703
2020-11-03      -0.999999  0.024337  0.047855
2020-11-04      -1.000000  0.036121  0.046027

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-02,0.002597,0.016959,NaN,0.001499,0.013672,0.001343,0.002269,0.001373,0.002915,NaN,...,0.006389,0.002623,0.005970,2.856902e-29,9.536820e-08,0.001278,0.003007,0.005225,0.008777,0.062079
2020-11-03,0.003653,0.008479,NaN,0.003926,0.011370,0.002254,0.005279,0.001551,0.002866,NaN,...,0.014293,0.003956,0.007871,1.428451e-29,2.380957e-02,0.001733,0.006129,0.013459,0.017071,0.010421
2020-11-04,0.005007,0.004240,NaN,0.005202,0.011426,0.002902,0.007399,0.001854,0.001433,NaN,...,0.010621,0.005708,0.007968,7.142256e-30,3.463206e-02,0.002367,0.006398,0.009914,0.021381,0.069727

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-11-02      0.000039  0.001813  4.257475e-09  0.000563  0.000008
2020-11-03      0.000019  0.022034  2.128737e-09  0.000281  0.000004
2020-11-04      0.000010  0.031287  1.064369e-09  0.000141  0.000002

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-11-02      1.194550e-07  0.000195  0.005245  0.000555  0.004464  ...
2020-11-03      5.972750e-08  0.000098  0.002622  0.000278  0.002232  ...
2020-11-04      2.986375e-08  0.000049  0.001311  0.010777  0.001116  ...

Province_State   Wyoming                                               \
Admin2              Park    Platte Sheridan Sublette Sweetwater Teton
2020-11-02      0.000031  0.003906  0.12500      0.0        0.0  0.00
2020-11-03      0.000015  0.251953  0.16250      0.0        0.0  0.50
2020-11-04      0.000008  0.292643  0.08125      0.0        0.5  0.25

Province_State
Admin2             Uinta Unassigned      Washakie Weston
2020-11-02      0.000244  -0.000521  7.947286e-08    NaN
2020-11-03      0.000122  -0.516251  3.973643e-08    NaN
2020-11-04      0.000061  -0.516251  1.986821e-08    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201104,AK,17860,NaN,609898,NaN,totalTestsViral,627758,95.0,NaN,...,627758,0,0,b1f3faafdb8100fd0d67eb31a3614c20da9f076c,0,0,0,0,0,NaN
1,20201104,AL,197777,29662.0,1203497,NaN,totalTestsViral,1371612,1017.0,21027.0,...,1401274,19,126,1bac7f8b3ff7ab5f7136284a077b2ab1fd62cc5b,0,0,0,0,0,NaN
2,20201104,AR,115812,9675.0,1273985,NaN,totalTestsViral,1380122,627.0,7273.0,...,1389797,23,79,917b9b4d7715a29ac1e98b713858ee3eaacf7c09,0,0,0,0,0,NaN
3,20201104,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,...,1768,0,0,29bce6ef2ed486230681913be5fe39613476031c,0,0,0,0,0,NaN
4,20201104,AZ,250633,6171.0,1567864,NaN,totalTestsPeopleViral,1812326,1065.0,21786.0,...,1818497,39,160,6c90676ac7181bde1a74ee2db2469f3d46ee2d46,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201104,AK,17860.0,NaN,609898.0,NaN,totalTestsViral,627758.0,95.0,NaN,...,627758,0,0,b1f3faafdb8100fd0d67eb31a3614c20da9f076c,0,0,0,0,0,NaN
1,20201104,AL,197777.0,29662.0,1203497.0,NaN,totalTestsViral,1371612.0,1017.0,21027.0,...,1401274,19,126,1bac7f8b3ff7ab5f7136284a077b2ab1fd62cc5b,0,0,0,0,0,NaN
2,20201104,AR,115812.0,9675.0,1273985.0,NaN,totalTestsViral,1380122.0,627.0,7273.0,...,1389797,23,79,917b9b4d7715a29ac1e98b713858ee3eaacf7c09,0,0,0,0,0,NaN
3,20201104,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,...,1768,0,0,29bce6ef2ed486230681913be5fe39613476031c,0,0,0,0,0,NaN
4,20201104,AZ,250633.0,6171.0,1567864.0,NaN,totalTestsPeopleViral,1812326.0,1065.0,21786.0,...,1818497,39,160,6c90676ac7181bde1a74ee2db2469f3d46ee2d46,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-04,AK,17860,NaN,609898,NaN,totalTestsViral,627758,95.0,NaN,NaN,...,627758,0,0,b1f3faafdb8100fd0d67eb31a3614c20da9f076c,0,0,0,0,0,NaN
2020-11-04,AL,197777,29662.0,1203497,NaN,totalTestsViral,1371612,1017.0,21027.0,NaN,...,1401274,19,126,1bac7f8b3ff7ab5f7136284a077b2ab1fd62cc5b,0,0,0,0,0,NaN
2020-11-04,AR,115812,9675.0,1273985,NaN,totalTestsViral,1380122,627.0,7273.0,234.0,...,1389797,23,79,917b9b4d7715a29ac1e98b713858ee3eaacf7c09,0,0,0,0,0,NaN
2020-11-04,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,NaN,...,1768,0,0,29bce6ef2ed486230681913be5fe39613476031c,0,0,0,0,0,NaN
2020-11-04,AZ,250633,6171.0,1567864,NaN,totalTestsPeopleViral,1812326,1065.0,21786.0,241.0,...,1818497,39,160,6c90676ac7181bde1a74ee2db2469f3d46ee2d46,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-04,AK,17860.0,NaN,609898.0,NaN,totalTestsViral,627758.0,95.0,NaN,NaN,...,627758,0,0,b1f3faafdb8100fd0d67eb31a3614c20da9f076c,0,0,0,0,0,NaN
2020-11-04,AL,197777.0,29662.0,1203497.0,NaN,totalTestsViral,1371612.0,1017.0,21027.0,NaN,...,1401274,19,126,1bac7f8b3ff7ab5f7136284a077b2ab1fd62cc5b,0,0,0,0,0,NaN
2020-11-04,AR,115812.0,9675.0,1273985.0,NaN,totalTestsViral,1380122.0,627.0,7273.0,234.0,...,1389797,23,79,917b9b4d7715a29ac1e98b713858ee3eaacf7c09,0,0,0,0,0,NaN
2020-11-04,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,NaN,...,1768,0,0,29bce6ef2ed486230681913be5fe39613476031c,0,0,0,0,0,NaN
2020-11-04,AZ,250633.0,6171.0,1567864.0,NaN,totalTestsPeopleViral,1812326.0,1065.0,21786.0,241.0,...,1818497,39,160,6c90676ac7181bde1a74ee2db2469f3d46ee2d46,0,0,0,0,0,NaN