# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-25-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-25-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-26 05:22:40,33.93911,67.709953,55680,2438,49281,3961.0,Afghanistan,143.032039,4.378592
1,NaN,NaN,NaN,Albania,2021-02-26 05:22:40,41.15330,20.168300,104313,1736,67158,35419.0,Albania,3624.748071,1.664222
2,NaN,NaN,NaN,Algeria,2021-02-26 05:22:40,28.03390,1.659600,112622,2973,77683,31966.0,Algeria,256.828555,2.639804
3,NaN,NaN,NaN,Andorra,2021-02-26 05:22:40,42.50630,1.521800,10799,110,10356,333.0,Andorra,13976.574128,1.018613
4,NaN,NaN,NaN,Angola,2021-02-26 05:22:40,-11.20270,17.873900,20695,502,19238,955.0,Angola,62.967295,2.425707

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55518,55540,55557,55575,55580,55604,55617,55646,55664,55680
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,94651,95726,96838,97909,99062,100246,101285,102306,103327,104313
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,111069,111247,111418,111600,111764,111917,112094,112279,112461,112622

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2428,2428,2430,2430,2430,2432,2433,2435,2436,2438
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1582,1600,1617,1636,1653,1666,1681,1696,1715,1736
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2945,2947,2950,2954,2958,2961,2964,2967,2970,2973

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48514,48626,48798,48803,48820,48834,48895,48967,49086,49281
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,58794,59684,60675,61605,62533,63329,64318,65403,66309,67158
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,76330,76489,76640,76797,76940,77076,77225,77382,77537,77683

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6038,6050,6071,6079,6092,6117,6121,6143,6172,6203
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,19176,19267,19324,19361,19392,19433,19461,19554,19635,19670
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2055,2053,2057,2061,2067,2070,2074,2084,2095,2099

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,84,84,84,85,85,85,85,84,85,89
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,253,253,254,262,262,262,262,263,272,274
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,48,49,49,49,50,50,50,50,50,51

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-02-26 05:22:40,32.539527,-86.644082,6203,89,0,6114.0,"Autauga, Alabama, US",11102.758238,1.434790
689,1075.0,Lamar,Alabama,US,2021-02-26 05:22:40,33.779950,-88.096680,1317,32,0,1285.0,"Lamar, Alabama, US",9540.021731,2.429765
690,1077.0,Lauderdale,Alabama,US,2021-02-26 05:22:40,34.901719,-87.656247,8581,210,0,8371.0,"Lauderdale, Alabama, US",9253.847232,2.447267

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               28411273  508127          0
India            11063491  156825   10750680
Brazil           10390461  251498    9264696

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,28411273,508127,0,27903146,2021-02-26 05:22:40,37.936303,-91.379001
India,11063491,156825,10750680,155986,2021-02-26 05:22:40,23.088275,81.806127
Brazil,10390461,251498,9264696,874267,2021-02-26 05:22:40,-12.669522,-48.480493
United Kingdom,4166727,122303,11504,4032920,2021-02-26 05:22:40,28.164647,-33.966498
Russia,4164802,83481,3725604,355717,2021-02-26 05:22:40,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3552514   51215          0
Texas             2632666   43085          0
Florida           1892301   30478          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3552514,51215,0,3501299,2021-02-26 05:22:40,37.843962,-120.728594
Texas,2632666,43085,0,2589581,2021-02-26 05:22:40,31.660643,-98.653069
Florida,1892301,30478,0,1861823,2021-02-26 05:22:40,28.940755,-82.700744
New York,1619924,47264,0,1572660,2021-02-26 05:22:40,42.544151,-75.474183
Illinois,1181144,22607,0,1158537,2021-02-26 05:22:40,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1187474   21102          0
Arizona        Maricopa        507951    9000          0
Illinois       Cook            472206    9317          0
Florida        Miami-Dade      406987    5369          0
Texas          Harris          344898    4980          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1187474,21102,0,1166372,2021-02-26 05:22:40,34.308284,-118.228241,6037.0
Arizona,Maricopa,507951,9000,0,498951,2021-02-26 05:22:40,33.348359,-112.491815,4013.0
Illinois,Cook,472206,9317,0,462889,2021-02-26 05:22:40,41.841448,-87.816588,17031.0
Florida,Miami-Dade,406987,5369,0,401618,2021-02-26 05:22:40,25.611236,-80.551706,12086.0
Texas,Harris,344898,4980,0,339918,2021-02-26 05:22:40,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,55646,102306,112279,10739,20584,636,2077228,170672,28939,448371,...,4146760,53973,79717,1,136986,2403,176377,2187,75582,35910
2021-02-24,55664,103327,112461,10775,20640,646,2085411,170945,28947,450376,...,4156707,54874,79749,1,137445,2412,177768,2221,76484,35960
2021-02-25,55680,104313,112622,10799,20695,701,2093645,171227,28957,452767,...,4166727,55695,79773,1,137871,2421,179293,2255,77171,35994

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,2435,1696,2967,110,500,14,51510,3171,909,8434,...,121536,588,622,0,1325,35,1994,620,1040,1448
2021-02-24,2436,1715,2970,110,501,14,51650,3175,909,8470,...,121979,591,622,0,1331,35,1999,624,1051,1456
2021-02-25,2438,1736,2973,110,502,14,51795,3179,909,8493,...,122303,595,622,0,1334,35,2008,625,1059,1458

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,48967,65403,77382,10285,19207,233,1877898,162329,22892,423014,...,11457,47512,78185,1,129027,1760,162757,1432,69436,32288
2021-02-24,49086,66309,77537,10319,19221,233,1882568,162517,22897,424348,...,11474,48035,78252,1,129487,1804,163795,1433,69803,32410
2021-02-25,49281,67158,77683,10356,19238,271,1886732,162984,22900,425786,...,11504,48496,78290,1,129927,1804,164557,1434,70800,32455

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6038,6050,6071,6079,6092,6117,6121,6143,6172,6203
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1283,1282,1286,1291,1292,1294,1296,1306,1316,1317
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8479,8480,8508,8513,8515,8523,8525,8541,8570,8581
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2781,2781,2787,2790,2794,2795,2798,2806,2812,2813
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,14641,14684,14729,14766,14779,14798,14809,14827,14883,14900

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-23,488973,57793,0,810658,316593,3543340,422390,276691,85228,49,...,767315,2617096,367789,14691,2589,567039,335693,130139,613419,53944
2021-02-24,490220,57970,0,811968,317396,3549090,423558,278184,85506,49,...,768946,2624852,368601,14768,2623,568946,336565,130382,614260,53988
2021-02-25,491110,58151,0,812907,318122,3552514,424677,279159,85801,49,...,770940,2632666,369433,14840,2636,570982,337653,130813,615225,54202

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-23        6143   19554    2084  2432   6058    1160   1948   13063
2021-02-24        6172   19635    2095  2437   6072    1165   1951   13090
2021-02-25        6203   19670    2099  2442   6086    1163   1951   13175

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-23         3382     1757  ...    2603    583     2999      671
2021-02-24         3393     1763  ...    2604    585     3002      672
2021-02-25         3392     1764  ...    2606    587     3015      673

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-23           3699  3333  2036          0      880    621
2021-02-24           3702  3336  2037          0      880    622
2021-02-25           3731  3342  2048          0      880    622

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-23,9660,290,0,15650,5377,49888,5907,7572,1379,0,...,11198,42521,1865,199,25,7658,4881,2274,6910,671
2021-02-24,9744,290,0,15693,5387,50972,5917,7595,1402,0,...,11266,42831,1879,201,25,7807,4912,2285,6936,671
2021-02-25,9831,290,0,15814,5397,51215,5925,7614,1406,0,...,11321,43085,1890,203,25,7963,4942,2290,6994,671

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-23          84     263      50   59    125      33     65     281
2021-02-24          85     272      50   59    125      34     65     283
2021-02-25          89     274      51   60    125      36     65     285

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-23          102       37  ...      26     11       27        7
2021-02-24          103       38  ...      26     11       27        7
2021-02-25          108       38  ...      26     11       27        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-23             34     9    12          0       26      5
2021-02-24             34     9    12          0       26      5
2021-02-25             34     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,0.000521,0.010080,0.001650,0.002521,0.001752,0.035831,0.003613,0.000974,0.000069,0.003867,...,0.002060,0.012437,0.000452,0.0,0.003230,0.004599,0.008047,0.005055,0.007397,0.001338
2021-02-24,0.000323,0.009980,0.001621,0.003352,0.002721,0.015723,0.003939,0.001600,0.000276,0.004472,...,0.002399,0.016694,0.000401,0.0,0.003351,0.003745,0.007887,0.015546,0.011934,0.001392
2021-02-25,0.000287,0.009543,0.001432,0.002227,0.002665,0.085139,0.003948,0.001650,0.000345,0.005309,...,0.002411,0.014962,0.000301,0.0,0.003099,0.003731,0.008579,0.015308,0.008982,0.000945

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,0.000822,0.008923,0.001012,0.009174,0.002004,0.0,0.002940,0.001263,0.0,0.004406,...,0.004529,0.008576,0.0,NaN,0.003788,0.0,0.004028,0.001616,0.008729,0.004858
2021-02-24,0.000411,0.011203,0.001011,0.000000,0.002000,0.0,0.002718,0.001261,0.0,0.004268,...,0.003645,0.005102,0.0,NaN,0.004528,0.0,0.002508,0.006452,0.010577,0.005525
2021-02-25,0.000821,0.012245,0.001010,0.000000,0.001996,0.0,0.002807,0.001260,0.0,0.002715,...,0.002656,0.006768,0.0,NaN,0.002254,0.0,0.004502,0.001603,0.007612,0.001374

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,0.001473,0.016869,0.002033,0.003904,0.000886,0.04955,0.003037,0.001425,0.000306,0.002852,...,0.009783,0.014238,0.000179,0.0,0.003484,0.025044,0.004518,0.000000,0.007370,0.002235
2021-02-24,0.002430,0.013853,0.002003,0.003306,0.000729,0.00000,0.002487,0.001158,0.000218,0.003154,...,0.001484,0.011008,0.000857,0.0,0.003565,0.025000,0.006378,0.000698,0.005285,0.003778
2021-02-25,0.003973,0.012804,0.001883,0.003586,0.000884,0.16309,0.002212,0.002874,0.000131,0.003389,...,0.002615,0.009597,0.000486,0.0,0.003398,0.000000,0.004652,0.000698,0.014283,0.001388

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-23,0.002980,0.000953,NaN,0.001463,0.002641,0.001808,0.002602,0.004929,0.001622,0.0,...,0.001600,0.004060,0.001951,0.005682,0.003877,0.003129,0.002182,0.002195,0.001154,0.000816
2021-02-24,0.002550,0.003063,NaN,0.001616,0.002536,0.001623,0.002765,0.005396,0.003262,0.0,...,0.002126,0.002964,0.002208,0.005241,0.013132,0.003363,0.002598,0.001867,0.001371,0.000816
2021-02-25,0.001816,0.003122,NaN,0.001156,0.002287,0.000965,0.002642,0.003505,0.003450,0.0,...,0.002593,0.002977,0.002257,0.004875,0.004956,0.003579,0.003233,0.003306,0.001571,0.003964

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-23      0.003594  0.004779  0.004822  0.006206  0.002482  0.006071
2021-02-24      0.004721  0.004142  0.005278  0.002056  0.002311  0.004310
2021-02-25      0.005023  0.001783  0.001909  0.002052  0.002306 -0.001717

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-23      0.001542  0.003534  0.004455  0.002282  ...  0.000000
2021-02-24      0.001540  0.002067  0.003253  0.003415  ...  0.000384
2021-02-25      0.000000  0.006494 -0.000295  0.000567  ...  0.000768

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-23      0.000000  0.000667  0.000000   0.003527  0.000600  0.002956
2021-02-24      0.003431  0.001000  0.001490   0.000811  0.000900  0.000491
2021-02-25      0.003419  0.004330  0.001488   0.007834  0.001799  0.005400

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-23            NaN  0.001138  0.001613
2021-02-24            NaN  0.000000  0.001610
2021-02-25            NaN  0.000000  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-23,0.007089,0.0,NaN,0.009547,0.002610,0.007004,0.002376,0.001322,0.008041,NaN,...,0.004035,0.005201,0.006476,0.005051,0.0,0.022976,0.004941,0.004861,0.005676,0.013595
2021-02-24,0.008696,0.0,NaN,0.002748,0.001860,0.021729,0.001693,0.003038,0.016679,NaN,...,0.006073,0.007291,0.007507,0.010050,0.0,0.019457,0.006351,0.004837,0.003763,0.000000
2021-02-25,0.008929,0.0,NaN,0.007710,0.001856,0.004767,0.001352,0.002502,0.002853,NaN,...,0.004882,0.005930,0.005854,0.009950,0.0,0.019982,0.006107,0.002188,0.008362,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                               \
Admin2           Autauga   Baldwin Barbour      Bibb Blount   Bullock
2021-02-23     -0.011765  0.003817    0.00  0.017241    0.0  0.000000
2021-02-24      0.011905  0.034221    0.00  0.000000    0.0  0.030303
2021-02-25      0.047059  0.007353    0.02  0.016949    0.0  0.058824

Province_State                                          ... Wyoming         \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...    Park Platte
2021-02-23      0.015625  0.010791  0.030303  0.000000  ...     0.0    0.0
2021-02-24      0.000000  0.007117  0.009804  0.027027  ...     0.0    0.0
2021-02-25      0.000000  0.007067  0.048544  0.000000  ...     0.0    0.0

Province_State                                                               \
Admin2         Sheridan Sublette Sweetwater Teton Uinta Unassigned Washakie
2021-02-23          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-24          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-25          0.0      0.0        0.0   0.0   0.0        NaN      0.0

Province_State
Admin2         Weston
2021-02-23        0.0
2021-02-24        0.0
2021-02-25        0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,0.000399,0.010551,0.001584,0.002222,0.001506,0.032563,0.003087,0.000916,0.000132,0.003685,...,0.002317,0.011778,0.000408,0.0,0.003322,0.004715,0.007370,0.004348,0.007743,0.001571
2021-02-24,0.000361,0.010265,0.001603,0.002787,0.002113,0.024143,0.003513,0.001258,0.000204,0.004078,...,0.002358,0.014236,0.000405,0.0,0.003336,0.004230,0.007628,0.009947,0.009839,0.001481
2021-02-25,0.000324,0.009904,0.001517,0.002507,0.002389,0.054641,0.003731,0.001454,0.000275,0.004694,...,0.002384,0.014599,0.000353,0.0,0.003218,0.003981,0.008103,0.012628,0.009410,0.001213

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,0.000632,0.009036,0.001042,0.009265,0.001365,0.049088,0.002798,0.001132,1.910488e-21,0.003181,...,0.003376,0.010567,1.965710e-07,NaN,0.003488,1.660884e-54,0.004105,0.001018,0.009075,0.004035
2021-02-24,0.000522,0.010119,0.001027,0.004632,0.001683,0.024544,0.002758,0.001197,9.552442e-22,0.003725,...,0.003511,0.007834,9.828548e-08,NaN,0.004008,8.304422e-55,0.003306,0.003735,0.009826,0.004780
2021-02-25,0.000671,0.011182,0.001018,0.002316,0.001839,0.012272,0.002783,0.001228,4.776221e-22,0.003220,...,0.003083,0.007301,4.914274e-08,NaN,0.003131,4.152211e-55,0.003904,0.002669,0.008719,0.003077

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-23,0.001192,0.015861,0.001966,0.003767,0.002947,0.031259,0.003023,0.001052,0.000207,0.002998,...,0.006455,0.012607,0.000248,0.0,0.003597,0.021327,0.004239,0.000014,0.010875,0.002653
2021-02-24,0.001811,0.014857,0.001984,0.003537,0.001838,0.015629,0.002755,0.001105,0.000213,0.003076,...,0.003970,0.011807,0.000552,0.0,0.003581,0.023164,0.005308,0.000356,0.008080,0.003216
2021-02-25,0.002892,0.013830,0.001934,0.003561,0.001361,0.089360,0.002483,0.001989,0.000172,0.003232,...,0.003292,0.010702,0.000519,0.0,0.003489,0.011582,0.004980,0.000527,0.011182,0.002302

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-23,0.002277,0.002198,NaN,0.001760,0.001794,0.001671,0.002289,0.004724,0.002638,9.499563e-105,...,0.001501,0.003180,0.001734,0.006966,0.002641,0.003039,0.002323,0.002099,0.001033,0.001301
2021-02-24,0.002414,0.002630,NaN,0.001688,0.002165,0.001647,0.002527,0.005060,0.002950,4.749781e-105,...,0.001813,0.003072,0.001971,0.006103,0.007887,0.003201,0.002460,0.001983,0.001202,0.001059
2021-02-25,0.002115,0.002876,NaN,0.001422,0.002226,0.001306,0.002584,0.004283,0.003200,2.374891e-105,...,0.002203,0.003024,0.002114,0.005489,0.006421,0.003390,0.002846,0.002644,0.001387,0.002511

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-23      0.002734  0.003274  0.003367  0.003512  0.001645  0.003893
2021-02-24      0.003728  0.003708  0.004323  0.002784  0.001978  0.004102
2021-02-25      0.004375  0.002745  0.003116  0.002418  0.002142  0.001192

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-23      0.001863  0.003929  0.002614  0.001236  ...  0.001030
2021-02-24      0.001702  0.002998  0.002933  0.002325  ...  0.000707
2021-02-25      0.000851  0.004746  0.001319  0.001446  ...  0.000737

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-23      0.001877  0.000979  0.000051   0.004332  0.001153  0.002179
2021-02-24      0.002654  0.000989  0.000771   0.002571  0.001027  0.001335
2021-02-25      0.003036  0.002660  0.001129   0.005203  0.001413  0.003368

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-23           -1.0  0.001233  0.001274
2021-02-24           -1.0  0.000617  0.001442
2021-02-25           -1.0  0.000308  0.000721

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-23,0.004399,0.001072,NaN,0.005739,0.002101,0.006028,0.001596,0.002160,0.004322,NaN,...,0.003115,0.004337,0.004797,0.005601,0.000005,0.020102,0.004669,0.003500,0.003255,0.006889
2021-02-24,0.006547,0.000536,NaN,0.004243,0.001980,0.013878,0.001645,0.002599,0.010501,NaN,...,0.004594,0.005814,0.006152,0.007826,0.000003,0.019780,0.005510,0.004168,0.003509,0.003445
2021-02-25,0.007738,0.000268,NaN,0.005977,0.001918,0.009323,0.001498,0.002550,0.006677,NaN,...,0.004738,0.005872,0.006003,0.008888,0.000001,0.019881,0.005809,0.003178,0.005936,0.001722

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-23     -0.005496  0.002987  0.001450  0.009184  0.001046  0.000252
2021-02-24      0.003204  0.018604  0.000725  0.004592  0.000523  0.015278
2021-02-25      0.025131  0.012978  0.010363  0.010771  0.000261  0.037051

Province_State                                              ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers      Cherokee  ...      Park
2021-02-23      0.007815  0.007135  0.015817  8.551020e-07  ...  0.000159
2021-02-24      0.003907  0.007126  0.012810  1.351394e-02  ...  0.000079
2021-02-25      0.001954  0.007097  0.030677  6.756971e-03  ...  0.000040

Province_State                                                                \
Admin2                Platte  Sheridan      Sublette    Sweetwater     Teton
2021-02-23      1.878815e-10  0.000681  1.535809e-16  9.323593e-07  0.000490
2021-02-24      9.394075e-11  0.000340  7.679043e-17  4.661796e-07  0.000245
2021-02-25      4.697038e-11  0.000170  3.839522e-17  2.330898e-07  0.000123

Province_State
Admin2                 Uinta Unassigned      Washakie        Weston
2021-02-23      2.491466e-11  -0.501961  9.542237e-09  2.026558e-07
2021-02-24      1.245733e-11  -0.501961  4.771119e-09  1.013279e-07
2021-02-25      6.228666e-12  -0.501961  2.385559e-09  5.066395e-08

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210225,AK,55886,NaN,NaN,NaN,totalTestsViral,1671043,45.0,1271.0,...,NaN,0,11,21a34ec5db88409cfbf700bde95d11af3de7f1aa,0,0,0,0,0,NaN
1,20210225,AL,491110,106470.0,1891548.0,NaN,totalTestsPeopleViral,2276188,722.0,45312.0,...,NaN,87,62,d1a5b5617ed07279c8b5423bf3b8a715d24bdef8,0,0,0,0,0,NaN
2,20210225,AR,318122,66823.0,2376434.0,NaN,totalTestsViral,2627733,522.0,14649.0,...,NaN,10,0,4db124ff0c00d16109a62605c77727f54e08f5a0,0,0,0,0,0,NaN
3,20210225,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,e26d35222b5c690bcf86ecebc03f7cf6738c3b76,0,0,0,0,0,NaN
4,20210225,AZ,812907,54730.0,2970392.0,NaN,totalTestsViral,7549777,1385.0,57390.0,...,NaN,121,234,54952cb1a4526b2c803786c01cbda548f8e39112,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210225,AK,55886.0,NaN,NaN,NaN,totalTestsViral,1671043.0,45.0,1271.0,...,NaN,0,11,21a34ec5db88409cfbf700bde95d11af3de7f1aa,0,0,0,0,0,NaN
1,20210225,AL,491110.0,106470.0,1891548.0,NaN,totalTestsPeopleViral,2276188.0,722.0,45312.0,...,NaN,87,62,d1a5b5617ed07279c8b5423bf3b8a715d24bdef8,0,0,0,0,0,NaN
2,20210225,AR,318122.0,66823.0,2376434.0,NaN,totalTestsViral,2627733.0,522.0,14649.0,...,NaN,10,0,4db124ff0c00d16109a62605c77727f54e08f5a0,0,0,0,0,0,NaN
3,20210225,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,e26d35222b5c690bcf86ecebc03f7cf6738c3b76,0,0,0,0,0,NaN
4,20210225,AZ,812907.0,54730.0,2970392.0,NaN,totalTestsViral,7549777.0,1385.0,57390.0,...,NaN,121,234,54952cb1a4526b2c803786c01cbda548f8e39112,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-25,AK,55886,NaN,NaN,NaN,totalTestsViral,1671043,45.0,1271.0,NaN,...,NaN,0,11,21a34ec5db88409cfbf700bde95d11af3de7f1aa,0,0,0,0,0,NaN
2021-02-25,AL,491110,106470.0,1891548.0,NaN,totalTestsPeopleViral,2276188,722.0,45312.0,NaN,...,NaN,87,62,d1a5b5617ed07279c8b5423bf3b8a715d24bdef8,0,0,0,0,0,NaN
2021-02-25,AR,318122,66823.0,2376434.0,NaN,totalTestsViral,2627733,522.0,14649.0,204.0,...,NaN,10,0,4db124ff0c00d16109a62605c77727f54e08f5a0,0,0,0,0,0,NaN
2021-02-25,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,e26d35222b5c690bcf86ecebc03f7cf6738c3b76,0,0,0,0,0,NaN
2021-02-25,AZ,812907,54730.0,2970392.0,NaN,totalTestsViral,7549777,1385.0,57390.0,415.0,...,NaN,121,234,54952cb1a4526b2c803786c01cbda548f8e39112,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-25,AK,55886.0,NaN,NaN,NaN,totalTestsViral,1671043.0,45.0,1271.0,NaN,...,NaN,0,11,21a34ec5db88409cfbf700bde95d11af3de7f1aa,0,0,0,0,0,NaN
2021-02-25,AL,491110.0,106470.0,1891548.0,NaN,totalTestsPeopleViral,2276188.0,722.0,45312.0,NaN,...,NaN,87,62,d1a5b5617ed07279c8b5423bf3b8a715d24bdef8,0,0,0,0,0,NaN
2021-02-25,AR,318122.0,66823.0,2376434.0,NaN,totalTestsViral,2627733.0,522.0,14649.0,204.0,...,NaN,10,0,4db124ff0c00d16109a62605c77727f54e08f5a0,0,0,0,0,0,NaN
2021-02-25,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,e26d35222b5c690bcf86ecebc03f7cf6738c3b76,0,0,0,0,0,NaN
2021-02-25,AZ,812907.0,54730.0,2970392.0,NaN,totalTestsViral,7549777.0,1385.0,57390.0,415.0,...,NaN,121,234,54952cb1a4526b2c803786c01cbda548f8e39112,0,0,0,0,0,NaN