# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-06-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-06-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-07 05:26:14,33.93911,67.709953,47306,1874,37685,7747.0,Afghanistan,121.520719,3.961443
1,NaN,NaN,NaN,Albania,2020-12-07 05:26:14,41.15330,20.168300,42988,905,21617,20466.0,Albania,1493.779971,2.105239
2,NaN,NaN,NaN,Algeria,2020-12-07 05:26:14,28.03390,1.659600,88252,2516,57146,28590.0,Algeria,201.254050,2.850927
3,NaN,NaN,NaN,Andorra,2020-12-07 05:26:14,42.50630,1.521800,7050,78,6238,734.0,Andorra,9124.441856,1.106383
4,NaN,NaN,NaN,Angola,2020-12-07 05:26:14,-11.20270,17.873900,15591,354,8338,6899.0,Angola,47.437695,2.270541

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,45723,45844,46116,46274,46516,46718,46837,46837,47072,47306
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,36245,36790,37625,38182,39014,39719,40501,41302,42148,42988
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,80168,81212,82221,83199,84152,85084,85927,86730,87502,88252

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1740,1752,1774,1795,1822,1841,1846,1846,1864,1874
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,771,787,798,810,822,839,852,870,889,905
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2372,2393,2410,2431,2447,2464,2480,2492,2501,2516

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,36295,36709,36716,36831,36946,37218,37260,37260,37393,37685
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,17755,18152,18481,18849,19384,19912,20484,20974,21286,21617
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,51946,52568,53204,53809,54405,54990,55538,56079,56617,57146

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2716,2735,2751,2780,2818,2873,2893,2945,2979,3005
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,8603,8733,8820,8890,9051,9163,9341,9501,9626,9728
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1171,1173,1175,1178,1189,1206,1214,1217,1219,1223

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,42,42,42,42,42,42,42,42,42,42
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,98,98,98,98,137,137,137,138,138,138
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,10,10,11,11,11,29,29,29,29,29

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
648,1001.0,Autauga,Alabama,US,2020-12-07 05:26:14,32.539527,-86.644082,3005,42,0,2963.0,"Autauga, Alabama, US",5378.653636,1.397671
685,1075.0,Lamar,Alabama,US,2020-12-07 05:26:14,33.779950,-88.096680,755,8,0,747.0,"Lamar, Alabama, US",5469.032959,1.059603
686,1077.0,Lauderdale,Alabama,US,2020-12-07 05:26:14,34.901719,-87.656247,4626,57,0,4569.0,"Lauderdale, Alabama, US",4988.730602,1.232166

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               14757000  282299    5624444
India             9677203  140573    9139901
Brazil            6603540  176941    5866657

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,14757000,282299,5624444,8850257,2020-12-07 05:26:14,37.936303,-91.379001
India,9677203,140573,9139901,396729,2020-12-07 05:26:14,23.088275,81.806127
Brazil,6603540,176941,5866657,559942,2020-12-07 05:26:14,-12.669522,-48.480493
Russia,2439163,42675,1920744,475744,2020-12-07 05:26:14,54.546312,62.120860
France,2345648,55247,175220,2115181,2020-12-07 05:26:14,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        1366673   19928          0
Texas             1322738   23137          0
Florida           1058074   19177          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,1366673,19928,0,1346745,2020-12-07 05:26:14,37.843962,-120.728594
Texas,1322738,23137,0,1299601,2020-12-07 05:26:14,31.660643,-98.653069
Florida,1058074,19177,0,1038897,2020-12-07 05:26:14,28.940755,-82.700744
Illinois,787573,14116,0,773457,2020-12-07 05:26:14,39.843618,-89.178330
New York,705827,34958,0,670869,2020-12-07 05:26:14,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     449851    7909          0
Illinois       Cook            329003    6951          0
Florida        Miami-Dade      243050    3913          0
Arizona        Maricopa        228312    4153          0
Texas          Harris          198961    3067          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,449851,7909,0,441942,2020-12-07 05:26:14,34.308284,-118.228241,6037.0
Illinois,Cook,329003,6951,0,322052,2020-12-07 05:26:14,41.841448,-87.816588,17031.0
Florida,Miami-Dade,243050,3913,0,239137,2020-12-07 05:26:14,25.611236,-80.551706,12086.0
Arizona,Maricopa,228312,4153,0,224159,2020-12-07 05:26:14,33.348359,-112.491815,4013.0
Texas,Harris,198961,3067,0,195894,2020-12-07 05:26:14,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,46837,41302,86730,6955,15493,144,1454631,139692,27956,297245,...,6731,73751,1,103877,1361,94676,10,2267,17857,10547
2020-12-05,47072,42148,87502,7005,15536,144,1459832,140959,27965,300689,...,6965,73751,1,104177,1365,96098,10,2304,17898,10617
2020-12-06,47306,42988,88252,7050,15591,144,1463110,141937,27972,303430,...,7303,74053,1,104442,1366,98038,10,2337,17916,10718

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,1846,870,2492,77,353,4,39512,2277,908,3651,...,80,611,0,913,35,797,1,627,364,281
2020-12-05,1864,889,2501,78,354,4,39632,2309,908,3757,...,81,611,0,916,35,812,1,633,364,291
2020-12-06,1874,905,2516,78,354,4,39770,2326,908,3840,...,82,611,0,919,35,828,1,639,364,291

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,37260,20974,56079,6130,8299,133,1281955,114990,25634,243775,...,4826,71002,1,98879,1220,70206,8,1534,17145,8802
2020-12-05,37393,21286,56617,6171,8335,133,1288785,116066,25639,249441,...,4946,71002,1,98879,1220,71236,8,1547,17168,8844
2020-12-06,37685,21617,57146,6238,8338,133,1294692,116796,25642,252765,...,5062,71315,1,99494,1220,72773,8,1549,17173,8880

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2716,2735,2751,2780,2818,2873,2893,2945,2979,3005
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,671,679,683,689,701,713,725,734,744,755
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,4004,4078,4133,4223,4267,4360,4433,4522,4593,4626
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1273,1279,1296,1316,1334,1353,1373,1399,1421,1422
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,7735,7757,7785,7814,7872,7925,8015,8071,8131,8171

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-04,264199,35325,0,352101,167137,1310307,252222,127715,38398,49,...,392608,1299469,209170,4763,1613,247380,174290,52172,432207,35677
2020-12-05,267589,36271,0,358900,169382,1337941,257347,127715,39096,49,...,397522,1311643,212844,4894,1633,251173,175793,53572,437918,35866
2020-12-06,269877,37036,0,364276,170924,1366673,260581,127715,39912,49,...,400594,1322738,215407,5015,1633,255053,177447,54997,441067,36218

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-04        2945    9501    1217  1270   3231     711   1211    6939
2020-12-05        2979    9626    1219  1283   3281     713   1225    7027
2020-12-06        3005    9728    1223  1293   3299     713   1236    7096

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-04         1891     1082  ...    1426    352     2134      489
2020-12-05         1901     1090  ...    1449    351     2153      493
2020-12-06         1906     1093  ...    1472    358     2161      496

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-04           2077  1724  1175          0      518    419
2020-12-05           2098  1739  1187          0      520    419
2020-12-06           2112  1785  1198          0      546    420

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-04,3831,142,0,6885,2586,19734,3338,5146,782,0,...,4876,22825,925,77,23,4160,2925,799,3842,266
2020-12-05,3877,143,0,6925,2620,19870,3357,5146,782,0,...,4905,23055,939,79,23,4197,2925,829,3934,266
2020-12-06,3889,143,0,6950,2660,19928,3356,5146,793,0,...,4943,23137,939,79,23,4200,2925,838,3952,266

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-04          42     138      29   38     46      20     42     126
2020-12-05          42     138      29   38     46      20     42     127
2020-12-06          42     138      29   38     46      20     42     127

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-04           54       24  ...       6      8       11        2
2020-12-05           54       24  ...       6      8       11        2
2020-12-06           54       24  ...       6      8       11        2

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-04             10     2     5          9        8      2
2020-12-05             10     2     5          9        8      2
2020-12-06             10     2     5          9        8      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,0.000000,0.019777,0.009345,0.007387,0.008593,0.0,0.004765,0.008548,0.000250,0.013001,...,0.042758,0.004358,0.0,0.003177,0.000000,0.021228,0.0,0.012506,0.007163,0.011800
2020-12-05,0.005017,0.020483,0.008901,0.007189,0.002775,0.0,0.003575,0.009070,0.000322,0.011586,...,0.034765,0.000000,0.0,0.002888,0.002939,0.015020,0.0,0.016321,0.002296,0.006637
2020-12-06,0.004971,0.019930,0.008571,0.006424,0.003540,0.0,0.002245,0.006938,0.000250,0.009116,...,0.048528,0.004095,0.0,0.002544,0.000733,0.020188,0.0,0.014323,0.001006,0.009513

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,0.000000,0.021127,0.004839,0.000000,0.002841,0.0,0.005267,0.010204,0.0,0.031939,...,0.000000,0.0,NaN,0.004400,0.0,0.021795,0.0,0.004808,0.019608,0.003571
2020-12-05,0.009751,0.021839,0.003612,0.012987,0.002833,0.0,0.003037,0.014054,0.0,0.029033,...,0.012500,0.0,NaN,0.003286,0.0,0.018821,0.0,0.009569,0.000000,0.035587
2020-12-06,0.005365,0.017998,0.005998,0.000000,0.000000,0.0,0.003482,0.007362,0.0,0.022092,...,0.012346,0.0,NaN,0.003275,0.0,0.019704,0.0,0.009479,0.000000,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,0.000000,0.023921,0.009741,0.010551,0.006672,0.0,0.005711,0.015562,0.000195,0.023718,...,0.025281,0.004101,0.0,0.003634,0.009098,0.028659,0.0,0.005902,0.002514,0.005483
2020-12-05,0.003570,0.014876,0.009594,0.006688,0.004338,0.0,0.005328,0.009357,0.000195,0.023243,...,0.024865,0.000000,0.0,0.000000,0.000000,0.014671,0.0,0.008475,0.001341,0.004772
2020-12-06,0.007809,0.015550,0.009343,0.010857,0.000360,0.0,0.004583,0.006290,0.000117,0.013326,...,0.023453,0.004408,0.0,0.006220,0.000000,0.021576,0.0,0.001293,0.000291,0.004071

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-04,0.014749,0.022047,NaN,0.016396,0.017205,0.018466,0.020278,0.012189,0.025150,0.0,...,0.011220,0.010184,0.014576,0.026066,0.015104,0.011767,0.010746,0.022479,0.013300,0.018005
2020-12-05,0.012831,0.026780,NaN,0.019310,0.013432,0.021090,0.020319,0.000000,0.018178,0.0,...,0.012516,0.009368,0.017565,0.027504,0.012399,0.015333,0.008624,0.026834,0.013214,0.005298
2020-12-06,0.008550,0.021091,NaN,0.014979,0.009104,0.021475,0.012567,0.000000,0.020872,0.0,...,0.007728,0.008459,0.012042,0.024724,0.000000,0.015448,0.009409,0.026600,0.007191,0.009814

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-04      0.017974  0.017129  0.002471  0.014377  0.023116  0.002821
2020-12-05      0.011545  0.013157  0.001643  0.010236  0.015475  0.002813
2020-12-06      0.008728  0.010596  0.003281  0.007794  0.005486  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-04      0.009167  0.019092  0.008533  0.014058  ...  0.016393
2020-12-05      0.011561  0.012682  0.005288  0.007394  ...  0.016129
2020-12-06      0.008980  0.009819  0.002630  0.002752  ...  0.015873

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-04      0.023256  0.019102  0.020877   0.026186  0.018311  0.022628
2020-12-05     -0.002841  0.008903  0.008180   0.010111  0.008701  0.010213
2020-12-06      0.019943  0.003716  0.006085   0.006673  0.026452  0.009267

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-04            NaN  0.042254  0.000000
2020-12-05            NaN  0.003861  0.000000
2020-12-06            NaN  0.050000  0.002387

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-04,0.014566,0.092308,NaN,0.009383,0.012133,0.009257,0.005422,0.006848,0.003851,NaN,...,0.019870,0.011164,0.008724,0.026667,0.0,0.003135,0.008621,0.012674,0.018288,0.0
2020-12-05,0.012007,0.007042,NaN,0.005810,0.013148,0.006892,0.005692,0.000000,0.000000,NaN,...,0.005947,0.010077,0.015135,0.025974,0.0,0.008894,0.000000,0.037547,0.023946,0.0
2020-12-06,0.003095,0.000000,NaN,0.003610,0.015267,0.002919,-0.000298,0.000000,0.014066,NaN,...,0.007747,0.003557,0.000000,0.000000,0.0,0.000715,0.000000,0.010856,0.004575,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                    \
Admin2         Autauga   Baldwin Barbour Bibb    Blount   Bullock Butler
2020-12-04         0.0  0.007299     0.0  0.0  0.022222  0.052632    0.0
2020-12-05         0.0  0.000000     0.0  0.0  0.000000  0.000000    0.0
2020-12-06         0.0  0.000000     0.0  0.0  0.000000  0.000000    0.0

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2020-12-04      0.041322  0.058824      0.0  ...     0.0    0.0      0.0
2020-12-05      0.007937  0.000000      0.0  ...     0.0    0.0      0.0
2020-12-06      0.000000  0.000000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-04          0.0        0.0   0.0   0.0        0.0      0.0    0.0
2020-12-05          0.0        0.0   0.0   0.0        0.0      0.0    0.0
2020-12-06          0.0        0.0   0.0   0.0        0.0      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,0.001756,0.019514,0.010024,0.007825,0.006183,0.002225,0.004982,0.008536,0.000333,0.013164,...,0.038464,0.002930,0.0,0.003633,0.001558,0.023838,1.187895e-51,0.010450,0.004422,0.014880
2020-12-05,0.003387,0.019999,0.009463,0.007507,0.004479,0.001113,0.004279,0.008803,0.000327,0.012375,...,0.036614,0.001465,0.0,0.003260,0.002249,0.019429,5.939477e-52,0.013386,0.003359,0.010758
2020-12-06,0.004179,0.019964,0.009017,0.006966,0.004010,0.000556,0.003262,0.007871,0.000289,0.010745,...,0.042571,0.002780,0.0,0.002902,0.001491,0.019808,2.969739e-52,0.013854,0.002182,0.010136

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,0.003574,0.018953,0.005843,0.003289,0.003169,1.589457e-07,0.004981,0.011543,0.000017,0.031874,...,0.004793,0.000225,NaN,0.004348,4.015772e-30,0.021664,0.0,0.004200,0.009804,0.004856
2020-12-05,0.006662,0.020396,0.004727,0.008138,0.003001,7.947286e-08,0.004009,0.012798,0.000009,0.030453,...,0.008647,0.000113,NaN,0.003817,2.007886e-30,0.020242,0.0,0.006885,0.004902,0.020221
2020-12-06,0.006014,0.019197,0.005363,0.004069,0.001500,3.973643e-08,0.003746,0.010080,0.000004,0.026273,...,0.010496,0.000056,NaN,0.003546,1.003943e-30,0.019973,0.0,0.008182,0.002451,0.010111

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-12-04,0.001604,0.025576,0.010132,0.011012,0.010976,0.002908,0.005280,0.014424,0.000313,0.023379,...,0.025261,0.003018,0.0,0.004087,0.007789,0.022938,6.960325e-54,0.004865,0.002053,0.007232
2020-12-05,0.002587,0.020226,0.009863,0.008850,0.007657,0.001454,0.005304,0.011891,0.000254,0.023311,...,0.025063,0.001509,0.0,0.002044,0.003894,0.018805,3.480162e-54,0.006670,0.001697,0.006002
2020-12-06,0.005198,0.017888,0.009603,0.009854,0.004008,0.000727,0.004944,0.009090,0.000185,0.018318,...,0.024258,0.002959,0.0,0.004132,0.001947,0.020190,1.740081e-54,0.003981,0.000994,0.005036

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-04,0.014156,0.021422,NaN,0.016023,0.015926,0.016940,0.020747,0.020931,0.021028,2.296853e-80,...,0.011534,0.011525,0.016177,0.031807,0.011095,0.010399,0.012536,0.022174,0.012592,0.017778
2020-12-05,0.013493,0.024101,NaN,0.017666,0.014679,0.019015,0.020533,0.010466,0.019603,1.148427e-80,...,0.012025,0.010447,0.016871,0.029655,0.011747,0.012866,0.010580,0.024504,0.012903,0.011538
2020-12-06,0.011022,0.022596,NaN,0.016323,0.011891,0.020245,0.016550,0.005233,0.020237,5.742133e-81,...,0.009877,0.009453,0.014456,0.027190,0.005874,0.014157,0.009994,0.025552,0.010047,0.010676

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-04      0.014545  0.016679  0.005394  0.014281  0.019977  0.002961
2020-12-05      0.013045  0.014918  0.003519  0.012259  0.017726  0.002887
2020-12-06      0.010886  0.012757  0.003400  0.010027  0.011606  0.001443

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-04      0.008086  0.017892  0.010524  0.011731  ...  0.019844
2020-12-05      0.009824  0.015287  0.007906  0.009562  ...  0.017986
2020-12-06      0.009402  0.012553  0.005268  0.006157  ...  0.016930

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-04      0.017147  0.017305  0.027452   0.029365  0.014988  0.023338
2020-12-05      0.007153  0.013104  0.017816   0.019738  0.011844  0.016776
2020-12-06      0.013548  0.008410  0.011951   0.013205  0.019148  0.013021

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-04           -1.0  0.036960  0.006338
2020-12-05           -1.0  0.020411  0.003169
2020-12-06           -1.0  0.035205  0.002778

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-04,0.015291,0.063309,NaN,0.009278,0.010692,0.007688,0.018076,0.006332,0.002898,NaN,...,0.017194,0.010310,0.011448,0.024027,3.225362e-11,0.004825,0.012235,0.015771,0.019488,0.035321
2020-12-05,0.013649,0.035176,NaN,0.007544,0.011920,0.007290,0.011884,0.003166,0.001449,NaN,...,0.011571,0.010193,0.013292,0.025000,1.612681e-11,0.006860,0.006117,0.026659,0.021717,0.017660
2020-12-06,0.008372,0.017588,NaN,0.005577,0.013593,0.005104,0.005793,0.001583,0.007758,NaN,...,0.009659,0.006875,0.006646,0.012500,8.063404e-12,0.003787,0.003059,0.018758,0.013146,0.008830

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-04      0.000099  0.028685  0.206109  0.142562  0.032247  0.026316
2020-12-05      0.000049  0.014342  0.103054  0.071281  0.016124  0.013158
2020-12-06      0.000025  0.007171  0.051527  0.035641  0.008062  0.006579

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-04      0.000381  0.021014  0.034472  0.000008  ...  0.000122
2020-12-05      0.000191  0.014475  0.017236  0.000004  ...  0.000061
2020-12-06      0.000095  0.007238  0.008618  0.000002  ...  0.000031

Province_State                                                        \
Admin2            Platte  Sheridan Sublette Sweetwater         Teton
2020-12-04      0.009140  0.025002   0.2500   0.166674  2.328306e-10
2020-12-05      0.004570  0.012501   0.1250   0.083337  1.164153e-10
2020-12-06      0.002285  0.006251   0.0625   0.041669  5.820766e-11

Province_State
Admin2             Uinta    Unassigned  Washakie    Weston
2020-12-04      0.062500 -8.781171e-09  0.000140  0.062531
2020-12-05      0.031250 -4.097880e-09  0.000070  0.031258
2020-12-06      0.015625 -1.982845e-09  0.000035  0.015627

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201206,AK,35720,NaN,1042056,NaN,totalTestsViral,1077776,164.0,799.0,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
1,20201206,AL,269877,45962.0,1421126,NaN,totalTestsPeopleViral,1645041,1927.0,26331.0,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2,20201206,AR,170924,22753.0,1614979,NaN,totalTestsViral,1763150,1076.0,9401.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
3,20201206,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
4,20201206,AZ,364276,12590.0,2018813,NaN,totalTestsPeopleViral,2370499,2977.0,28248.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201206,AK,35720.0,NaN,1042056.0,NaN,totalTestsViral,1077776.0,164.0,799.0,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
1,20201206,AL,269877.0,45962.0,1421126.0,NaN,totalTestsPeopleViral,1645041.0,1927.0,26331.0,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2,20201206,AR,170924.0,22753.0,1614979.0,NaN,totalTestsViral,1763150.0,1076.0,9401.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
3,20201206,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
4,20201206,AZ,364276.0,12590.0,2018813.0,NaN,totalTestsPeopleViral,2370499.0,2977.0,28248.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-06,AK,35720,NaN,1042056,NaN,totalTestsViral,1077776,164.0,799.0,NaN,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
2020-12-06,AL,269877,45962.0,1421126,NaN,totalTestsPeopleViral,1645041,1927.0,26331.0,NaN,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2020-12-06,AR,170924,22753.0,1614979,NaN,totalTestsViral,1763150,1076.0,9401.0,374.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
2020-12-06,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
2020-12-06,AZ,364276,12590.0,2018813,NaN,totalTestsPeopleViral,2370499,2977.0,28248.0,714.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-06,AK,35720.0,NaN,1042056.0,NaN,totalTestsViral,1077776.0,164.0,799.0,NaN,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
2020-12-06,AL,269877.0,45962.0,1421126.0,NaN,totalTestsPeopleViral,1645041.0,1927.0,26331.0,NaN,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2020-12-06,AR,170924.0,22753.0,1614979.0,NaN,totalTestsViral,1763150.0,1076.0,9401.0,374.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
2020-12-06,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
2020-12-06,AZ,364276.0,12590.0,2018813.0,NaN,totalTestsPeopleViral,2370499.0,2977.0,28248.0,714.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN