# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'11-10-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'11-09-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-10 05:40:07,33.93911,67.709953,42297,1574,34721,6002.0,Afghanistan,108.653487,3.721304
1,NaN,NaN,NaN,Albania,2020-11-10 05:40:07,41.15330,20.168300,24731,571,12203,11957.0,Albania,859.371742,2.308843
2,NaN,NaN,NaN,Algeria,2020-11-10 05:40:07,28.03390,1.659600,62693,2062,42325,18306.0,Algeria,142.968093,3.289043
3,NaN,NaN,NaN,Andorra,2020-11-10 05:40:07,42.50630,1.521800,5437,75,4332,1030.0,Andorra,7036.821329,1.379437
4,NaN,NaN,NaN,Angola,2020-11-10 05:40:07,-11.20270,17.873900,12680,308,5927,6445.0,Angola,38.580590,2.429022

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,41425,41501,41633,41728,41814,41935,41975,42033,42092,42297
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,20875,21202,21523,21904,22300,22721,23210,23705,24206,24731
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,57942,58272,58574,58979,59527,60169,60800,61381,62051,62693

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1536,1536,1541,1544,1548,1554,1554,1556,1558,1574
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,509,518,527,532,536,543,549,557,559,571
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1964,1973,1980,1980,1999,2011,2024,2036,2048,2062

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34321,34326,34342,34355,34362,34440,34440,34446,34458,34721
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,11189,11246,11367,11473,11578,11696,11861,12002,12092,12203
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,40201,40395,40577,40577,41001,41244,41510,41783,42037,42325

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2159,2173,2186,2197,2212,2230,2242,2267,2283,2304
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,6940,6966,6985,6995,7061,7097,7134,7188,7226,7263
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1060,1061,1065,1074,1079,1080,1090,1092,1095,1098

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,31,31,31,31,31,31,30,30,30,30
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,71,71,71,74,77,77,83,83,83,83
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
634,1001.0,Autauga,Alabama,US,2020-11-10 05:40:07,32.539527,-86.644082,2304,30,0,2274.0,"Autauga, Alabama, US",4123.932771,1.302083
671,1075.0,Lamar,Alabama,US,2020-11-10 05:40:07,33.779950,-88.096680,559,7,0,552.0,"Lamar, Alabama, US",4049.257515,1.252236
672,1077.0,Lauderdale,Alabama,US,2020-11-10 05:40:07,34.901719,-87.656247,2963,47,0,2916.0,"Lauderdale, Alabama, US",3195.332636,1.586230

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               10111077  238256    3928845
India             8591730  127059    7959406
Brazil            5675032  162628    5163226

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,10111077,238256,3928845,5943976,2020-11-10 05:40:07,37.936303,-91.379001
India,8591730,127059,7959406,505265,2020-11-10 05:40:07,23.088275,81.806127
Brazil,5675032,162628,5163226,349178,2020-11-10 05:40:07,-12.669522,-48.480493
France,1856292,41049,135216,1680027,2020-11-10 05:40:07,8.314863,-21.695174
Russia,1781997,30546,1326568,424883,2020-11-10 05:40:07,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
Texas              998027   19223          0
California         981297   18021          0
Florida            847821   17179          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
Texas,998027,19223,0,978804,2020-11-10 05:40:07,31.660643,-98.653069
California,981297,18021,0,963276,2020-11-10 05:40:07,37.843962,-120.728594
Florida,847821,17179,0,830642,2020-11-10 05:40:07,28.940755,-82.700744
New York,532180,33705,0,498475,2020-11-10 05:40:07,42.544151,-75.474183
Illinois,498560,10563,0,487997,2020-11-10 05:40:07,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     323625    7177          0
Illinois       Cook            223110    5808          0
Florida        Miami-Dade      194879    3688          0
Texas          Harris          167956    2866          0
Arizona        Maricopa        167063    3709          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,323625,7177,0,316448,2020-11-10 05:40:07,34.308284,-118.228241,6037.0
Illinois,Cook,223110,5808,0,217302,2020-11-10 05:40:07,41.841448,-87.816588,17031.0
Florida,Miami-Dade,194879,3688,0,191191,2020-11-10 05:40:07,25.611236,-80.551706,12086.0
Texas,Harris,167956,2866,0,165090,2020-11-10 05:40:07,29.858649,-95.393395,48201.0
Arizona,Maricopa,167063,3709,0,163354,2020-11-10 05:40:07,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,42033,23705,61381,5319,12335,131,1236851,104249,27658,147220,...,1174770,3441,68367,94698,1213,57657,10,2070,16908,8498
2020-11-08,42092,24206,62051,5383,12433,131,1242182,106424,27665,153153,...,1195350,3514,68730,94883,1213,58158,10,2070,16954,8531
2020-11-09,42297,24731,62693,5437,12680,131,1250499,107466,27669,158746,...,1216747,3560,69027,95149,1215,58838,10,2071,16971,8561

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,1556,557,2036,75,303,3,33348,1533,907,1377,...,48978,61,581,824,35,512,1,602,349,251
2020-11-08,1558,559,2048,75,307,3,33560,1559,907,1411,...,49134,62,585,826,35,515,1,602,349,253
2020-11-09,1574,571,2062,75,308,3,33907,1580,907,1454,...,49329,62,588,830,35,521,1,605,349,254

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,34446,12002,41783,4043,5647,122,1053313,63258,25451,88273,...,2965,2903,65550,89502,1070,49975,8,1375,15873,7995
2020-11-08,34458,12092,42037,4248,5899,122,1062911,64179,25451,91719,...,2983,2943,65971,89755,1070,50407,8,1375,15950,8005
2020-11-09,34721,12203,42325,4332,5927,122,1073577,64910,25454,94627,...,2998,2993,66194,90054,1087,50877,8,1394,16011,8023

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2159,2173,2186,2197,2212,2230,2242,2267,2283,2304
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,530,534,535,533,540,541,544,553,554,559
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,2465,2743,2765,2798,2820,2835,2874,2911,2937,2963
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,916,941,946,958,968,977,983,995,1003,1007
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6702,6715,6736,6749,6776,6812,6851,6878,6903,6926

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-07,202482,19306,0,257384,120828,969362,127967,78125,26258,49,...,278215,985061,130235,2347,1390,190873,116011,27609,277503,16597
2020-11-08,203687,19826,0,259264,121866,972713,130984,78125,26603,49,...,281851,990930,132621,2392,1405,192175,117331,28404,281910,17310
2020-11-09,204857,20300,0,259699,122811,981297,134537,81432,26908,49,...,287770,998027,134868,2415,1405,193477,118570,28805,286380,18010

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-07        2267    7188    1092  924   2286     663   1046    5153
2020-11-08        2283    7226    1095  926   2297     664   1052    5181
2020-11-09        2304    7263    1098  932   2335     664   1054    5217

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-07         1483      836  ...     911    204      959      212
2020-11-08         1485      840  ...     941    211     1015      215
2020-11-09         1489      845  ...     957    209     1047      213

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-07            692   932   544          0      185    296
2020-11-08            726   977   551          0      187    306
2020-11-09            776  1007   568          0      190    310

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-07,3082,84,0,6147,2068,17961,2389,4671,716,0,...,3590,19146,658,59,23,3704,2439,503,2301,114
2020-11-08,3084,84,0,6164,2085,17973,2394,4671,718,0,...,3595,19184,659,59,23,3707,2439,504,2312,114
2020-11-09,3084,84,0,6164,2108,18021,2408,4698,719,0,...,3610,19223,661,59,23,3713,2460,530,2329,114

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-07          30      83       9   16     26      17     41      67
2020-11-08          30      83       9   16     26      17     41      67
2020-11-09          30      83       9   16     26      17     41      67

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-07           48       15  ...       3      4        6        1
2020-11-08           48       15  ...       3      4        8        1
2020-11-09           48       15  ...       3      4        8        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-07              4     2     3          9        7      1
2020-11-08              4     2     4          0        7      0
2020-11-09              4     2     4          0        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,0.001382,0.021327,0.009556,0.035833,0.009163,0.007692,0.006540,0.024329,0.000217,0.059297,...,0.021725,0.021068,0.003346,0.004167,0.000825,0.007532,0.0,0.001451,0.005292,0.003187
2020-11-08,0.001404,0.021135,0.010915,0.012032,0.007945,0.000000,0.004310,0.020864,0.000253,0.040300,...,0.017518,0.021215,0.005310,0.001954,0.000000,0.008689,0.0,0.000000,0.002721,0.003883
2020-11-09,0.004870,0.021689,0.010346,0.010032,0.019866,0.000000,0.006695,0.009791,0.000145,0.036519,...,0.017900,0.013090,0.004321,0.002803,0.001649,0.011692,0.0,0.000483,0.001003,0.003517

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,0.001287,0.014572,0.005929,0.0,0.010000,0.0,0.006398,0.017928,0.0,0.027612,...,0.008504,0.000000,0.003454,0.003654,0.0,0.001957,0.0,0.000000,0.0,0.004000
2020-11-08,0.001285,0.003591,0.005894,0.0,0.013201,0.0,0.006357,0.016960,0.0,0.024691,...,0.003185,0.016393,0.006885,0.002427,0.0,0.005859,0.0,0.000000,0.0,0.007968
2020-11-09,0.010270,0.021467,0.006836,0.0,0.003257,0.0,0.010340,0.013470,0.0,0.030475,...,0.003969,0.000000,0.005128,0.004843,0.0,0.011650,0.0,0.004983,0.0,0.003953

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,0.000174,0.011888,0.006577,0.047952,0.003733,0.033898,0.010627,0.023890,0.000432,0.054547,...,0.004744,0.017525,0.003321,0.004523,0.000000,0.008842,0.0,0.000000,0.000693,0.001503
2020-11-08,0.000348,0.007499,0.006079,0.050705,0.044625,0.000000,0.009112,0.014559,0.000000,0.039038,...,0.006071,0.013779,0.006423,0.002827,0.000000,0.008644,0.0,0.000000,0.004851,0.001251
2020-11-09,0.007632,0.009180,0.006851,0.019774,0.004747,0.000000,0.010035,0.011390,0.000118,0.031706,...,0.005028,0.016989,0.003380,0.003331,0.015888,0.009324,0.0,0.013818,0.003824,0.002249

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-07,0.008809,0.032462,NaN,0.010284,0.013403,0.006386,0.028103,0.00000,0.008565,0.0,...,0.018565,0.008022,0.023225,0.009028,0.000000,0.011141,0.015494,0.019271,0.027857,0.011704
2020-11-08,0.005951,0.026935,NaN,0.007304,0.008591,0.003457,0.023576,0.00000,0.013139,0.0,...,0.013069,0.005958,0.018321,0.019173,0.010791,0.006821,0.011378,0.028795,0.015881,0.042960
2020-11-09,0.005744,0.023908,NaN,0.001678,0.007754,0.008825,0.027125,0.04233,0.011465,0.0,...,0.021000,0.007162,0.016943,0.009615,0.000000,0.006775,0.010560,0.014118,0.015856,0.040439

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-07      0.011151  0.007569  0.001835  0.007634  0.014647  0.001511
2020-11-08      0.007058  0.005287  0.002747  0.002165  0.004812  0.001508
2020-11-09      0.009198  0.005120  0.002740  0.006479  0.016543  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-07      0.001916  0.014969  0.009530  0.004808  ...  0.012222
2020-11-08      0.005736  0.005434  0.001349  0.004785  ...  0.032931
2020-11-09      0.001901  0.006948  0.002694  0.005952  ...  0.017003

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-07     -0.014493  0.002090  0.004739   0.016153  0.010846  0.003690
2020-11-08      0.034314  0.058394  0.014151   0.049133  0.048283  0.012868
2020-11-09     -0.009479  0.031527 -0.009302   0.068871  0.030706  0.030853

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-07            NaN -0.015957  0.006803
2020-11-08            NaN  0.010811  0.033784
2020-11-09            NaN  0.016043  0.013072

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-07,0.010823,0.0,NaN,0.006220,0.005837,0.001673,0.005471,0.00000,0.000000,NaN,...,0.013838,0.005250,0.013867,0.017241,0.0,0.005975,0.00000,0.028630,0.019947,0.085714
2020-11-08,0.000649,0.0,NaN,0.002766,0.008221,0.000668,0.002093,0.00000,0.002793,NaN,...,0.001393,0.001985,0.001520,0.000000,0.0,0.000810,0.00000,0.001988,0.004781,0.000000
2020-11-09,0.000000,0.0,NaN,0.000000,0.011031,0.002671,0.005848,0.00578,0.001393,NaN,...,0.004172,0.002033,0.003035,0.000000,0.0,0.001619,0.00861,0.051587,0.007353,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                  \
Admin2         Autauga Baldwin Barbour      Bibb Blount Bullock Butler
2020-11-07         0.0     0.0     0.0  0.066667    0.0     0.0    0.0
2020-11-08         0.0     0.0     0.0  0.000000    0.0     0.0    0.0
2020-11-09         0.0     0.0     0.0  0.000000    0.0     0.0    0.0

Province_State                            ... Wyoming                   \
Admin2         Calhoun Chambers Cherokee  ...    Park Platte  Sheridan
2020-11-07         0.0      0.0      0.0  ...     0.0    0.0  0.000000
2020-11-08         0.0      0.0      0.0  ...     0.0    0.0  0.333333
2020-11-09         0.0      0.0      0.0  ...     0.0    0.0  0.000000

Province_State
Admin2         Sublette Sweetwater Teton     Uinta Unassigned Washakie Weston
2020-11-07          0.0        0.0   0.0  0.000000        inf      0.0    0.0
2020-11-08          0.0        0.0   0.0  0.333333       -1.0      0.0   -1.0
2020-11-09          0.0        0.0   0.0  0.000000        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,0.001572,0.020551,0.009711,0.022478,0.013013,0.004901,0.007971,0.023456,0.000285,0.055417,...,0.021484,0.019130,0.003005,0.004208,0.002352,0.008995,1.594366e-43,0.001213,0.004379,0.002894
2020-11-08,0.001488,0.020843,0.010313,0.017255,0.010479,0.002451,0.006140,0.022160,0.000269,0.047859,...,0.019501,0.020172,0.004157,0.003081,0.001176,0.008842,7.971831e-44,0.000607,0.003550,0.003389
2020-11-09,0.003179,0.021266,0.010330,0.013643,0.015173,0.001225,0.006418,0.015975,0.000207,0.042189,...,0.018701,0.016631,0.004239,0.002942,0.001412,0.010267,3.985916e-44,0.000545,0.002276,0.003453

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,0.001416,0.012946,0.006054,0.000074,0.008721,4.899713e-63,0.008655,0.019160,5.401584e-07,0.035643,...,0.008118,0.001002,0.002772,0.003842,5.389878e-22,0.004632,0.0,0.000455,0.000006,0.004799
2020-11-08,0.001351,0.008269,0.005974,0.000037,0.010961,2.449856e-63,0.007506,0.018060,2.700792e-07,0.030167,...,0.005652,0.008698,0.004828,0.003134,2.694939e-22,0.005246,0.0,0.000228,0.000003,0.006384
2020-11-09,0.005810,0.014868,0.006405,0.000018,0.007109,1.224928e-63,0.008923,0.015765,1.350396e-07,0.030321,...,0.004810,0.004349,0.004978,0.003988,1.347470e-22,0.008448,0.0,0.002605,0.000001,0.005168

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-07,0.000413,0.011882,0.006444,0.031251,0.019643,0.017566,0.011059,0.023935,0.000478,0.047138,...,0.005481,0.016567,0.002866,0.004474,0.000389,0.011299,9.341990e-46,0.000105,0.001300,0.001408
2020-11-08,0.000381,0.009691,0.006262,0.040978,0.032134,0.008783,0.010086,0.019247,0.000239,0.043088,...,0.005776,0.015173,0.004644,0.003650,0.000195,0.009972,4.670995e-46,0.000052,0.003075,0.001329
2020-11-09,0.004007,0.009435,0.006556,0.030376,0.018440,0.004392,0.010060,0.015319,0.000178,0.037397,...,0.005402,0.016081,0.004012,0.003491,0.008041,0.009648,2.335497e-46,0.006935,0.003450,0.001789

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-07,0.008193,0.028546,NaN,0.008740,0.013529,0.006307,0.027789,0.007743,0.008729,3.082784e-72,...,0.012744,0.008345,0.022473,0.010386,0.000755,0.009394,0.014001,0.019321,0.025929,0.028829
2020-11-08,0.007072,0.027740,NaN,0.008022,0.011060,0.004882,0.025683,0.003872,0.010934,1.541392e-72,...,0.012907,0.007152,0.020397,0.014779,0.005773,0.008107,0.012689,0.024058,0.020905,0.035894
2020-11-09,0.006408,0.025824,NaN,0.004850,0.009407,0.006853,0.026404,0.023101,0.011199,7.706961e-73,...,0.016953,0.007157,0.018670,0.012197,0.002887,0.007441,0.011625,0.019088,0.018381,0.038167

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-07      0.008731  0.006504  0.004000  0.008896  0.014598  0.001837
2020-11-08      0.007894  0.005895  0.003374  0.005530  0.009705  0.001673
2020-11-09      0.008546  0.005508  0.003057  0.006005  0.013124  0.000836

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-07      0.003464  0.011358  0.008890  0.005967  ...  0.048767
2020-11-08      0.004600  0.008396  0.005119  0.005376  ...  0.040849
2020-11-09      0.003251  0.007672  0.003907  0.005664  ...  0.028926

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-07      0.026197  0.021352  0.020554   0.024472  0.018020  0.013078
2020-11-08      0.030256  0.039873  0.017352   0.036803  0.033152  0.012973
2020-11-09      0.010388  0.035700  0.004025   0.052837  0.031929  0.021913

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-07           -1.0  0.011963  0.130483
2020-11-08           -1.0  0.011387  0.082133
2020-11-09           -1.0  0.013715  0.047603

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-07,0.008769,0.000530,NaN,0.005242,0.007357,0.002558,0.007176,0.001333,0.000881,NaN,...,0.011641,0.006082,0.016054,0.008621,0.004329,0.003251,0.002399,0.021295,0.021914,0.051573
2020-11-08,0.004709,0.000265,NaN,0.004004,0.007789,0.001613,0.004634,0.000667,0.001837,NaN,...,0.006517,0.004034,0.008787,0.004310,0.002165,0.002030,0.001199,0.011641,0.013347,0.025786
2020-11-09,0.002355,0.000132,NaN,0.002002,0.009410,0.002142,0.005241,0.003223,0.001615,NaN,...,0.005345,0.003033,0.005911,0.002155,0.001082,0.001824,0.004905,0.031614,0.010350,0.012893

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                            \
Admin2           Autauga   Baldwin       Barbour      Bibb  Blount
2020-11-07     -0.008063  0.023391  1.330461e-10  0.033351  0.0100
2020-11-08     -0.004032  0.011696  6.652304e-11  0.016675  0.0050
2020-11-09     -0.002016  0.005848  3.326152e-11  0.008338  0.0025

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-11-07      3.732969e-09  0.000006  0.005875  0.001347  0.000140  ...
2020-11-08      1.866485e-09  0.000003  0.002937  0.000674  0.000070  ...
2020-11-09      9.332423e-10  0.000002  0.001469  0.000337  0.000035  ...

Province_State       Wyoming                                          \
Admin2                  Park    Platte  Sheridan Sublette Sweetwater
2020-11-07      9.536743e-07  0.036580  0.010156      0.0   0.062500
2020-11-08      4.768372e-07  0.018290  0.171745      0.0   0.031250
2020-11-09      2.384186e-07  0.009145  0.085872      0.0   0.015625

Province_State
Admin2             Teton     Uinta Unassigned      Washakie    Weston
2020-11-07      0.031250  0.000008  -0.516251  2.483527e-09  0.000000
2020-11-08      0.015625  0.166670  -0.972376  1.241763e-09 -0.533333
2020-11-09      0.007812  0.083335  -0.972376  6.208817e-10 -0.533333

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201109,AK,20300,NaN,747697,NaN,totalTestsViral,767997,119.0,NaN,...,767997,0,0,3870df06bb2c6e3d73dd09173187086f3135f2a3,0,0,0,0,0,NaN
1,20201109,AL,204857,31003.0,1232975,NaN,totalTestsViral,1406829,1174.0,21294.0,...,1437832,0,0,b4671c38fdf433f896e020b00e1307a374689872,0,0,0,0,0,NaN
2,20201109,AR,122811,11050.0,1324655,NaN,totalTestsViral,1436416,786.0,7496.0,...,1447466,23,62,762f8f0f6ad0d5974ee7c2b20b367bc91bd44e8f,0,0,0,0,0,NaN
3,20201109,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,...,1768,0,0,5653a1e91f418934fea926a28017d0a9d9e2f7e7,0,0,0,0,0,NaN
4,20201109,AZ,259699,6698.0,1630206,NaN,totalTestsPeopleViral,1883207,1232.0,22211.0,...,1889905,0,9,afc03be357fc8adb777bf76a115b3df127ef3471,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201109,AK,20300.0,NaN,747697.0,NaN,totalTestsViral,767997.0,119.0,NaN,...,767997,0,0,3870df06bb2c6e3d73dd09173187086f3135f2a3,0,0,0,0,0,NaN
1,20201109,AL,204857.0,31003.0,1232975.0,NaN,totalTestsViral,1406829.0,1174.0,21294.0,...,1437832,0,0,b4671c38fdf433f896e020b00e1307a374689872,0,0,0,0,0,NaN
2,20201109,AR,122811.0,11050.0,1324655.0,NaN,totalTestsViral,1436416.0,786.0,7496.0,...,1447466,23,62,762f8f0f6ad0d5974ee7c2b20b367bc91bd44e8f,0,0,0,0,0,NaN
3,20201109,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,...,1768,0,0,5653a1e91f418934fea926a28017d0a9d9e2f7e7,0,0,0,0,0,NaN
4,20201109,AZ,259699.0,6698.0,1630206.0,NaN,totalTestsPeopleViral,1883207.0,1232.0,22211.0,...,1889905,0,9,afc03be357fc8adb777bf76a115b3df127ef3471,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-09,AK,20300,NaN,747697,NaN,totalTestsViral,767997,119.0,NaN,NaN,...,767997,0,0,3870df06bb2c6e3d73dd09173187086f3135f2a3,0,0,0,0,0,NaN
2020-11-09,AL,204857,31003.0,1232975,NaN,totalTestsViral,1406829,1174.0,21294.0,NaN,...,1437832,0,0,b4671c38fdf433f896e020b00e1307a374689872,0,0,0,0,0,NaN
2020-11-09,AR,122811,11050.0,1324655,NaN,totalTestsViral,1436416,786.0,7496.0,289.0,...,1447466,23,62,762f8f0f6ad0d5974ee7c2b20b367bc91bd44e8f,0,0,0,0,0,NaN
2020-11-09,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,NaN,...,1768,0,0,5653a1e91f418934fea926a28017d0a9d9e2f7e7,0,0,0,0,0,NaN
2020-11-09,AZ,259699,6698.0,1630206,NaN,totalTestsPeopleViral,1883207,1232.0,22211.0,292.0,...,1889905,0,9,afc03be357fc8adb777bf76a115b3df127ef3471,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-09,AK,20300.0,NaN,747697.0,NaN,totalTestsViral,767997.0,119.0,NaN,NaN,...,767997,0,0,3870df06bb2c6e3d73dd09173187086f3135f2a3,0,0,0,0,0,NaN
2020-11-09,AL,204857.0,31003.0,1232975.0,NaN,totalTestsViral,1406829.0,1174.0,21294.0,NaN,...,1437832,0,0,b4671c38fdf433f896e020b00e1307a374689872,0,0,0,0,0,NaN
2020-11-09,AR,122811.0,11050.0,1324655.0,NaN,totalTestsViral,1436416.0,786.0,7496.0,289.0,...,1447466,23,62,762f8f0f6ad0d5974ee7c2b20b367bc91bd44e8f,0,0,0,0,0,NaN
2020-11-09,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,NaN,...,1768,0,0,5653a1e91f418934fea926a28017d0a9d9e2f7e7,0,0,0,0,0,NaN
2020-11-09,AZ,259699.0,6698.0,1630206.0,NaN,totalTestsPeopleViral,1883207.0,1232.0,22211.0,292.0,...,1889905,0,9,afc03be357fc8adb777bf76a115b3df127ef3471,0,0,0,0,0,NaN