# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-28-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-28-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-29 05:22:37,33.93911,67.709953,51280,2174,41441,7665.0,Afghanistan,131.729220,4.239470
1,NaN,NaN,NaN,Albania,2020-12-29 05:22:37,41.15330,20.168300,56572,1164,32122,23286.0,Albania,1965.807214,2.057555
2,NaN,NaN,NaN,Algeria,2020-12-29 05:22:37,28.03390,1.659600,98631,2737,66214,29680.0,Algeria,224.922814,2.774990
3,NaN,NaN,NaN,Andorra,2020-12-29 05:22:37,42.50630,1.521800,7875,83,7318,474.0,Andorra,10192.195690,1.053968
4,NaN,NaN,NaN,Angola,2020-12-29 05:22:37,-11.20270,17.873900,17296,403,10354,6539.0,Angola,52.625385,2.330019

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49681,49817,50013,50190,50433,50655,50810,50886,51039,51280
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,52542,53003,53425,53814,54317,54827,55380,55755,56254,56572
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,94781,95203,95659,96069,96549,97007,97441,97857,98249,98631

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2047,2067,2082,2096,2117,2126,2139,2149,2160,2174
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1074,1088,1098,1111,1117,1125,1134,1143,1153,1164
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2659,2666,2675,2687,2696,2705,2716,2722,2728,2737

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38613,39006,39508,39585,39692,40359,40444,40784,41096,41441
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,27831,28121,28752,29249,29799,30276,30790,31181,31565,32122
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,62869,63260,63644,64020,64401,64777,65144,65505,65862,66214

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3698,3741,3780,3841,3889,3942,3990,3999,4029,4065
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,11722,11827,11952,12155,12321,12521,12666,12708,12825,12962
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1330,1336,1336,1363,1383,1390,1396,1398,1406,1417

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,44,44,44,44,46,46,46,46,47,47
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,147,147,147,149,151,151,151,151,152,152
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,32,32,32,32,32,32,32,32,32,32

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-29 05:22:37,32.539527,-86.644082,4065,47,0,4018.0,"Autauga, Alabama, US",7275.949095,1.156212
686,1075.0,Lamar,Alabama,US,2020-12-29 05:22:37,33.779950,-88.096680,1017,15,0,1002.0,"Lamar, Alabama, US",7366.896052,1.474926
687,1077.0,Lauderdale,Alabama,US,2020-12-29 05:22:37,34.901719,-87.656247,6162,68,0,6094.0,"Lauderdale, Alabama, US",6645.170335,1.103538

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               19301543  334836          0
India            10224303  148153    9807569
Brazil            7504833  191570    6712757

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,19301543,334836,0,18966707,2020-12-29 05:22:37,37.936303,-91.379001
India,10224303,148153,9807569,268581,2020-12-29 05:22:37,23.088275,81.806127
Brazil,7504833,191570,6712757,600506,2020-12-29 05:22:37,-12.669522,-48.480493
Russia,3047335,54559,2446412,546364,2020-12-29 05:22:37,54.546312,62.120860
France,2619616,63235,196642,2359739,2020-12-29 05:22:37,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2192684   24419          0
Texas             1700549   27038          0
Florida           1280177   21308          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2192684,24419,0,2168265,2020-12-29 05:22:37,37.843962,-120.728594
Texas,1700549,27038,0,1673511,2020-12-29 05:22:37,31.660643,-98.653069
Florida,1280177,21308,0,1258869,2020-12-29 05:22:37,28.940755,-82.700744
Illinois,942362,17470,0,924892,2020-12-29 05:22:37,39.843618,-89.178330
New York,932552,37548,0,895004,2020-12-29 05:22:37,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     733325    9555          0
Illinois       Cook            386469    8137          0
Arizona        Maricopa        309737    4948          0
Florida        Miami-Dade      290363    4155          0
Texas          Harris          233330    3332          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,733325,9555,0,723770,2020-12-29 05:22:37,34.308284,-118.228241,6037.0
Illinois,Cook,386469,8137,0,378332,2020-12-29 05:22:37,41.841448,-87.816588,17031.0
Arizona,Maricopa,309737,4948,0,304789,2020-12-29 05:22:37,33.348359,-112.491815,4013.0
Florida,Miami-Dade,290363,4155,0,286208,2020-12-29 05:22:37,25.611236,-80.551706,12086.0
Texas,Harris,233330,3332,0,229998,2020-12-29 05:22:37,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,50886,55755,97857,7806,17149,155,1578267,157349,28308,350484,...,2262735,16218,76666,1,111951,1440,131904,2092,19671,12963
2020-12-27,51039,56254,98249,7821,17240,155,1583297,157834,28337,351892,...,2295228,16728,76751,1,112316,1441,133093,2094,19834,13077
2020-12-28,51280,56572,98631,7875,17296,158,1590513,157948,28349,353484,...,2336688,17306,76832,1,112636,1451,134310,2096,19943,13148

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,2149,1143,2722,83,399,5,42501,2752,908,5843,...,70513,147,612,0,1013,35,1281,606,382,341
2020-12-27,2160,1153,2728,83,399,5,42650,2768,909,5881,...,70860,158,613,0,1014,35,1309,607,383,349
2020-12-28,2174,1164,2737,83,403,5,42868,2775,909,5931,...,71217,160,613,0,1018,35,1332,607,384,354

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,40784,31181,65505,7252,9976,146,1402227,138669,25730,320753,...,4910,10847,74291,1,106105,1303,108118,1384,18200,10519
2020-12-27,41096,31565,65862,7288,10354,146,1407926,139113,25733,323002,...,5093,11366,74291,1,106453,1303,109377,1384,18210,10593
2020-12-28,41441,32122,66214,7318,10354,147,1414680,139675,25748,326768,...,5102,11966,74439,1,106737,1303,110927,1384,18296,10705

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3698,3741,3780,3841,3889,3942,3990,3999,4029,4065
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,941,946,966,979,986,997,1007,1009,1012,1017
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,5531,5582,5644,5722,5859,5996,6048,6039,6117,6162
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1739,1757,1783,1819,1859,1907,1921,1924,1939,1958
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,9283,9337,9372,9490,9609,9715,9779,9800,9856,9928

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-26,343458,45479,0,493041,213969,2120610,323619,172743,54473,49,...,560892,1668138,264078,6966,1979,329577,236719,80177,506022,43146
2020-12-27,345628,45781,0,494337,214877,2156389,325018,172743,55057,49,...,564080,1690986,264874,7029,1979,333576,236719,80710,508580,43200
2020-12-28,347897,45909,0,504423,216528,2192684,326668,181200,55488,49,...,567792,1700549,266590,7120,1979,336175,238672,81436,510137,43704

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-26        3999   12708    1398  1739   4446     825   1446    9198
2020-12-27        4029   12825    1406  1746   4465     827   1452    9232
2020-12-28        4065   12962    1417  1762   4483     830   1457    9286

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-26         2203     1368  ...    1898    420     2458      582
2020-12-27         2214     1369  ...    1899    420     2463      582
2020-12-28         2229     1372  ...    1939    421     2491      586

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-26           2845  2080  1495          0      751    461
2020-12-27           2854  2080  1497          0      747    466
2020-12-28           2921  2108  1507          0      763    467

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-26,4685,200,0,8424,3441,24218,4592,5791,895,0,...,6443,26916,1212,121,23,4840,3184,1253,5029,373
2020-12-27,4691,200,0,8427,3482,24282,4610,5791,897,0,...,6512,26966,1214,127,23,4854,3184,1254,5039,373
2020-12-28,4712,200,0,8469,3537,24419,4631,5904,898,0,...,6588,27038,1219,129,23,4861,3195,1263,5060,405

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-26          46     151      32   42     58      20     45     149
2020-12-27          47     152      32   42     58      20     45     149
2020-12-28          47     152      32   42     58      20     45     149

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-26           61       23  ...       7      8       15        5
2020-12-27           61       23  ...       7      8       15        5
2020-12-28           61       23  ...       7      8       16        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-26             15     2     7          0       12      2
2020-12-27             15     2     7          0       12      2
2020-12-28             15     3     7          0       16      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,0.001496,0.006771,0.004269,0.006447,0.002924,0.000000,0.002358,0.003738,0.000389,0.004094,...,0.015614,0.023347,0.001280,0.0,0.003118,0.000695,0.010000,0.000000,0.005110,0.006444
2020-12-27,0.003007,0.008950,0.004006,0.001922,0.005306,0.000000,0.003187,0.003082,0.001024,0.004017,...,0.014360,0.031447,0.001109,0.0,0.003260,0.000694,0.009014,0.000956,0.008286,0.008794
2020-12-28,0.004722,0.005653,0.003888,0.006904,0.003248,0.019355,0.004558,0.000722,0.000423,0.004524,...,0.018064,0.034553,0.001055,0.0,0.002849,0.006940,0.009144,0.000955,0.005496,0.005429

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,0.004675,0.007937,0.002209,0.0,0.007576,0.0,0.001862,0.006952,0.000000,0.010375,...,0.003001,0.027972,0.000000,NaN,0.002970,0.0,0.016667,0.00000,0.002625,0.000000
2020-12-27,0.005119,0.008749,0.002204,0.0,0.000000,0.0,0.003506,0.005814,0.001101,0.006504,...,0.004921,0.074830,0.001634,NaN,0.000987,0.0,0.021858,0.00165,0.002618,0.023460
2020-12-28,0.006481,0.009540,0.003299,0.0,0.010025,0.0,0.005111,0.002529,0.000000,0.008502,...,0.005038,0.012658,0.000000,NaN,0.003945,0.0,0.017571,0.00000,0.002611,0.014327

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,0.008407,0.012699,0.005542,0.006803,0.005544,0.000000,0.012967,0.006197,0.000117,0.008169,...,0.018250,0.035118,0.005141,0.0,0.002845,0.0,0.013119,0.0,0.004027,0.004872
2020-12-27,0.007650,0.012315,0.005450,0.004964,0.037891,0.000000,0.004064,0.003202,0.000117,0.007012,...,0.037271,0.047847,0.000000,0.0,0.003280,0.0,0.011645,0.0,0.000549,0.007035
2020-12-28,0.008395,0.017646,0.005345,0.004116,0.000000,0.006849,0.004797,0.004040,0.000583,0.011659,...,0.001767,0.052789,0.001992,0.0,0.002668,0.0,0.014171,0.0,0.004723,0.010573

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-26,0.003014,0.008314,NaN,0.012540,0.003292,0.029024,0.004438,0.000000,0.015283,0.0,...,0.026340,0.003256,0.013389,0.027282,0.0,0.004829,0.015556,0.017010,0.001340,0.011298
2020-12-27,0.006318,0.006640,NaN,0.002629,0.004244,0.016872,0.004323,0.000000,0.010721,0.0,...,0.005684,0.013697,0.003014,0.009044,0.0,0.012134,0.000000,0.006648,0.005055,0.001252
2020-12-28,0.006565,0.002796,NaN,0.020403,0.007683,0.016831,0.005077,0.048957,0.007828,0.0,...,0.006581,0.005655,0.006479,0.012946,0.0,0.007791,0.008250,0.008995,0.003061,0.011667

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-26      0.002256  0.003316  0.001433  0.008116  0.001126  0.061776
2020-12-27      0.007502  0.009207  0.005722  0.004025  0.004274  0.002424
2020-12-28      0.008935  0.010682  0.007824  0.009164  0.004031  0.003628

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-26     -0.001381  0.003382  0.001364  0.000000  ...  0.020430
2020-12-27      0.004149  0.003696  0.004993  0.000731  ...  0.000527
2020-12-28      0.003444  0.005849  0.006775  0.002191  ...  0.021064

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-26      0.004785  0.010691  0.005181   0.008865  0.020108  0.013559
2020-12-27      0.000000  0.002034  0.000000   0.003163  0.000000  0.001338
2020-12-28      0.002381  0.011368  0.006873   0.023476  0.013462  0.006680

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-26            NaN  0.034435  0.002174
2020-12-27            NaN -0.005326  0.010846
2020-12-28            NaN  0.021419  0.002146

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-26,0.001068,0.005025,NaN,0.001784,0.000873,0.010852,0.001308,0.000000,0.004489,NaN,...,0.001866,0.000744,0.006645,0.008333,0.0,0.004149,0.000000,0.004812,0.000796,0.000000
2020-12-27,0.001281,0.000000,NaN,0.000356,0.011915,0.002643,0.003920,0.000000,0.002235,NaN,...,0.010709,0.001858,0.001650,0.049587,0.0,0.002893,0.000000,0.000798,0.001988,0.000000
2020-12-28,0.004477,0.000000,NaN,0.004984,0.015796,0.005642,0.004555,0.019513,0.001115,NaN,...,0.011671,0.002670,0.004119,0.015748,0.0,0.001442,0.003455,0.007177,0.004167,0.085791

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-26      0.000000  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2020-12-27      0.021739  0.006623     0.0  0.0    0.0     0.0    0.0     0.0
2020-12-28      0.000000  0.000000     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                            \
Admin2         Chambers Cherokee  ...    Park Platte  Sheridan Sublette
2020-12-26          0.0      0.0  ...     0.0    0.0  0.000000      0.0
2020-12-27          0.0      0.0  ...     0.0    0.0  0.000000      0.0
2020-12-28          0.0      0.0  ...     0.0    0.0  0.066667      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned  Washakie Weston
2020-12-26            0.0   0.0   0.0        NaN  0.000000    0.0
2020-12-27            0.0   0.0   0.0        NaN  0.000000    0.0
2020-12-28            0.0   0.5   0.0        NaN  0.333333    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,0.002582,0.008177,0.004437,0.006098,0.003991,0.002106,0.003510,0.003981,0.000555,0.005135,...,0.016039,0.029921,0.001452,0.0,0.002921,0.002745,0.011314,0.000300,0.008759,0.007532
2020-12-27,0.002794,0.008564,0.004222,0.004010,0.004649,0.001053,0.003349,0.003532,0.000790,0.004576,...,0.015199,0.030684,0.001280,0.0,0.003091,0.001720,0.010164,0.000628,0.008523,0.008163
2020-12-28,0.003758,0.007108,0.004055,0.005457,0.003948,0.010204,0.003953,0.002127,0.000607,0.004550,...,0.016632,0.032618,0.001168,0.0,0.002970,0.004330,0.009654,0.000792,0.007009,0.006796

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,0.005476,0.007892,0.002991,0.002033,0.006127,0.000015,0.001950,0.007172,4.107266e-12,0.011388,...,0.005735,0.040724,2.502714e-08,NaN,0.003567,9.574347e-37,0.016430,-1.036458e-07,0.002247,0.006233
2020-12-27,0.005297,0.008320,0.002598,0.001017,0.003064,0.000008,0.002728,0.006493,5.506608e-04,0.008946,...,0.005328,0.057777,8.170060e-04,NaN,0.002277,4.787173e-37,0.019144,8.250307e-04,0.002432,0.014847
2020-12-28,0.005889,0.008930,0.002948,0.000508,0.006544,0.000004,0.003920,0.004511,2.753304e-04,0.008724,...,0.005183,0.035218,4.085030e-04,NaN,0.003111,2.393587e-37,0.018357,4.125153e-04,0.002522,0.014587

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-26,0.007353,0.014879,0.005666,0.006315,0.008154,0.001208,0.006942,0.007045,0.000116,0.008390,...,0.016624,0.040513,0.003608,0.0,0.002822,0.004613,0.014944,-1.132089e-07,0.004215,0.007837
2020-12-27,0.007502,0.013597,0.005558,0.005640,0.023023,0.000604,0.005503,0.005124,0.000116,0.007701,...,0.026948,0.044180,0.001804,0.0,0.003051,0.002307,0.013294,-5.660445e-08,0.002382,0.007436
2020-12-28,0.007948,0.015622,0.005451,0.004878,0.011511,0.003727,0.005150,0.004582,0.000350,0.009680,...,0.014357,0.048485,0.001898,0.0,0.002859,0.001153,0.013733,-2.830222e-08,0.003552,0.009005

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-26,0.007434,0.005913,NaN,0.013253,0.007546,0.022059,0.006582,0.002938,0.013944,5.476125e-87,...,0.016118,0.004455,0.009280,0.017040,0.003463,0.009120,0.010525,0.017917,0.003025,0.006530
2020-12-27,0.006876,0.006277,NaN,0.007941,0.005895,0.019465,0.005452,0.001469,0.012333,2.738063e-87,...,0.010901,0.009076,0.006147,0.013042,0.001732,0.010627,0.005263,0.012282,0.004040,0.003891
2020-12-28,0.006720,0.004536,NaN,0.014172,0.006789,0.018148,0.005265,0.025213,0.010080,1.369031e-87,...,0.008741,0.007366,0.006313,0.012994,0.000866,0.009209,0.006756,0.010639,0.003551,0.007779

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-26      0.007550  0.008317  0.004076  0.009998  0.005316  0.034719
2020-12-27      0.007526  0.008762  0.004899  0.007012  0.004795  0.018572
2020-12-28      0.008230  0.009722  0.006362  0.008088  0.004413  0.011100

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-26      0.003531  0.007436  0.003583  0.007409  ...  0.011739
2020-12-27      0.003840  0.005566  0.004288  0.004070  ...  0.006133
2020-12-28      0.003642  0.005708  0.005532  0.003131  ...  0.013598

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-26      0.003264  0.005753  0.003594   0.005921  0.010663  0.008187
2020-12-27      0.001632  0.003894  0.001797   0.004542  0.005332  0.004762
2020-12-28      0.002006  0.007631  0.004335   0.014009  0.009397  0.005721

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-26           -1.0  0.018521  0.002452
2020-12-27           -1.0  0.006597  0.006649
2020-12-28           -1.0  0.014008  0.004397

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-26,0.005645,0.006492,NaN,0.007291,0.005516,0.009585,0.006575,0.002000,0.005679,NaN,...,0.004109,0.004650,0.005929,0.010772,7.689862e-18,0.005575,0.001783,0.012481,0.004349,0.002034
2020-12-27,0.003463,0.003246,NaN,0.003823,0.008716,0.006114,0.005247,0.001000,0.003957,NaN,...,0.007409,0.003254,0.003789,0.030179,3.844931e-18,0.004234,0.000891,0.006640,0.003169,0.001017
2020-12-28,0.003970,0.001623,NaN,0.004404,0.012256,0.005878,0.004901,0.010256,0.002536,NaN,...,0.009540,0.002962,0.003954,0.022964,1.922465e-18,0.002838,0.002173,0.006908,0.003668,0.043404

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-26      0.002898  0.001318  0.000261  0.000032  0.005875
2020-12-27      0.012318  0.003970  0.000130  0.000016  0.002937
2020-12-28      0.006159  0.001985  0.000065  0.000008  0.001469

Province_State                                                      ...  \
Admin2               Bullock    Butler Calhoun  Chambers  Cherokee  ...
2020-12-26      6.274174e-09  0.000045  0.0064  0.000674 -0.000081  ...
2020-12-27      3.137087e-09  0.000023  0.0032  0.000337 -0.000041  ...
2020-12-28      1.568544e-09  0.000011  0.0016  0.000168 -0.000020  ...

Province_State       Wyoming                                               \
Admin2                  Park        Platte  Sheridan  Sublette Sweetwater
2020-12-26      1.589749e-07  2.179212e-09  0.000151  0.000006   0.000019
2020-12-27      7.948743e-08  1.089606e-09  0.000075  0.000003   0.000010
2020-12-28      3.974372e-08  5.448031e-10  0.033371  0.000001   0.000005

Province_State
Admin2                 Teton         Uinta Unassigned  Washakie        Weston
2020-12-26      5.551115e-17  8.414189e-07  -0.501961  0.002842  1.490116e-08
2020-12-27      2.775558e-17  4.207095e-07  -0.501961  0.001421  7.450580e-09
2020-12-28      2.500000e-01  2.103547e-07  -0.501961  0.167377  3.725290e-09

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201228,AK,44406,NaN,1209991,NaN,totalTestsViral,1254397,78.0,994.0,...,1254397,0,2,627391353829c413fe5aedd1a119acd974cc248a,0,0,0,0,0,NaN
1,20201228,AL,347897,65978.0,1566198,NaN,totalTestsPeopleViral,1848117,2802.0,32999.0,...,1914095,21,884,5d1c2b5c91d724d967ea194e229a82dd343260ce,0,0,0,0,0,NaN
2,20201228,AR,216528,35350.0,1835968,NaN,totalTestsViral,2017146,1155.0,11062.0,...,2052496,55,53,c7467f3dcef71089c6d21da0754e041410442504,0,0,0,0,0,NaN
3,20201228,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,4ad83b9edaa01c56e9b174057d843e3379cdde5a,0,0,0,0,0,NaN
4,20201228,AZ,504423,23000.0,2301332,NaN,totalTestsViral,4934488,4390.0,35630.0,...,2805755,42,240,2e00f213c06f32c81321cbaadabf2f196fcbf63b,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201228,AK,44406.0,NaN,1209991.0,NaN,totalTestsViral,1254397.0,78.0,994.0,...,1254397,0,2,627391353829c413fe5aedd1a119acd974cc248a,0,0,0,0,0,NaN
1,20201228,AL,347897.0,65978.0,1566198.0,NaN,totalTestsPeopleViral,1848117.0,2802.0,32999.0,...,1914095,21,884,5d1c2b5c91d724d967ea194e229a82dd343260ce,0,0,0,0,0,NaN
2,20201228,AR,216528.0,35350.0,1835968.0,NaN,totalTestsViral,2017146.0,1155.0,11062.0,...,2052496,55,53,c7467f3dcef71089c6d21da0754e041410442504,0,0,0,0,0,NaN
3,20201228,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,4ad83b9edaa01c56e9b174057d843e3379cdde5a,0,0,0,0,0,NaN
4,20201228,AZ,504423.0,23000.0,2301332.0,NaN,totalTestsViral,4934488.0,4390.0,35630.0,...,2805755,42,240,2e00f213c06f32c81321cbaadabf2f196fcbf63b,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-28,AK,44406,NaN,1209991,NaN,totalTestsViral,1254397,78.0,994.0,NaN,...,1254397,0,2,627391353829c413fe5aedd1a119acd974cc248a,0,0,0,0,0,NaN
2020-12-28,AL,347897,65978.0,1566198,NaN,totalTestsPeopleViral,1848117,2802.0,32999.0,NaN,...,1914095,21,884,5d1c2b5c91d724d967ea194e229a82dd343260ce,0,0,0,0,0,NaN
2020-12-28,AR,216528,35350.0,1835968,NaN,totalTestsViral,2017146,1155.0,11062.0,380.0,...,2052496,55,53,c7467f3dcef71089c6d21da0754e041410442504,0,0,0,0,0,NaN
2020-12-28,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,4ad83b9edaa01c56e9b174057d843e3379cdde5a,0,0,0,0,0,NaN
2020-12-28,AZ,504423,23000.0,2301332,NaN,totalTestsViral,4934488,4390.0,35630.0,1007.0,...,2805755,42,240,2e00f213c06f32c81321cbaadabf2f196fcbf63b,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-28,AK,44406.0,NaN,1209991.0,NaN,totalTestsViral,1254397.0,78.0,994.0,NaN,...,1254397,0,2,627391353829c413fe5aedd1a119acd974cc248a,0,0,0,0,0,NaN
2020-12-28,AL,347897.0,65978.0,1566198.0,NaN,totalTestsPeopleViral,1848117.0,2802.0,32999.0,NaN,...,1914095,21,884,5d1c2b5c91d724d967ea194e229a82dd343260ce,0,0,0,0,0,NaN
2020-12-28,AR,216528.0,35350.0,1835968.0,NaN,totalTestsViral,2017146.0,1155.0,11062.0,380.0,...,2052496,55,53,c7467f3dcef71089c6d21da0754e041410442504,0,0,0,0,0,NaN
2020-12-28,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,4ad83b9edaa01c56e9b174057d843e3379cdde5a,0,0,0,0,0,NaN
2020-12-28,AZ,504423.0,23000.0,2301332.0,NaN,totalTestsViral,4934488.0,4390.0,35630.0,1007.0,...,2805755,42,240,2e00f213c06f32c81321cbaadabf2f196fcbf63b,0,0,0,0,0,NaN