# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'05-25-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'05-25-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-05-26 04:20:35,33.93911,67.709953,66903,2836,56518.0,7549.0,Afghanistan,171.861935,4.238973
1,NaN,NaN,NaN,Albania,2021-05-26 04:20:35,41.15330,20.168300,132229,2447,128907.0,875.0,Albania,4594.794635,1.850577
2,NaN,NaN,NaN,Algeria,2021-05-26 04:20:35,28.03390,1.659600,127361,3433,88672.0,35256.0,Algeria,290.440070,2.695488
3,NaN,NaN,NaN,Andorra,2021-05-26 04:20:35,42.50630,1.521800,13664,127,13263.0,274.0,Andorra,17684.591989,0.929450
4,NaN,NaN,NaN,Angola,2021-05-26 04:20:35,-11.20270,17.873900,32933,735,27204.0,4994.0,Angola,100.203041,2.231804

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,63484,63598,63819,64122,64575,65080,65486,65728,66275,66903
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132015,132032,132071,132095,132118,132153,132176,132209,132215,132229
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,125311,125485,125693,125896,126156,126434,126651,126860,127107,127361

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2742,2745,2751,2762,2772,2782,2792,2802,2812,2836
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2432,2435,2436,2438,2440,2441,2442,2444,2445,2447
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3374,3381,3388,3395,3401,3405,3411,3418,3426,3433

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,54686,55010,55118,55529,55687,55790,55889,56035,56295,56518
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,124312,125419,126405,127240,127869,128425,128601,128732,128826,128907
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,87359,87476,87609,87746,87902,88066,88208,88346,88497,88672

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7005,7010,7015,7017,7049,7106,7113,7118,7118,7126
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21411,21422,21444,21467,21489,21511,21535,21546,21554,21578
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2320,2320,2322,2324,2326,2327,2328,2328,2328,2331

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,108,108,108,108,109,109,110,110,110,110
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,310,310,310,310,310,310,310,310,310,310
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,56,56,56,56,58,58,58,58,58,58

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-05-26 04:20:35,32.539527,-86.644082,7126,110,NaN,NaN,"Autauga, Alabama, US",12754.837208,1.543643
689,1075.0,Lamar,Alabama,US,2021-05-26 04:20:35,33.779950,-88.096680,1444,37,NaN,NaN,"Lamar, Alabama, US",10459.978269,2.562327
690,1077.0,Lauderdale,Alabama,US,2021-05-26 04:20:35,34.901719,-87.656247,9502,245,NaN,NaN,"Lauderdale, Alabama, US",10247.064025,2.578405

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33165820  590925         0.0
India            26948874  307231  24054861.0
Brazil           16194209  452031  14231991.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33165820,590925,0.0,32574895.0,2021-05-26 04:20:35,37.950547,-91.419547
India,26948874,307231,24054861.0,2586782.0,2021-05-26 04:20:35,23.088275,81.806127
Brazil,16194209,452031,14231991.0,1510187.0,2021-05-26 04:20:35,-12.669522,-48.480493
France,5670486,109040,386798.0,5174648.0,2021-05-26 04:20:35,6.430808,-34.730285
Turkey,5203385,46621,5045508.0,111256.0,2021-05-26 04:20:35,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3779400   62970        0.0
Texas             2946793   51288        0.0
Florida           2313815   36581        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3779400,62970,0.0,3716430.0,2021-05-26 04:20:35,37.843962,-120.728594
Texas,2946793,51288,0.0,2895505.0,2021-05-26 04:20:35,31.660643,-98.653069
Florida,2313815,36581,0.0,2277234.0,2021-05-26 04:20:35,28.940755,-82.700744
New York,2097200,53181,0.0,2044019.0,2021-05-26 04:20:35,42.544151,-75.474183
Illinois,1377165,25029,0.0,1352136.0,2021-05-26 04:20:35,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1239093   24201        0.0
Illinois       Cook            551609   10241        0.0
Arizona        Maricopa        548006   10022        0.0
Florida        Miami-Dade      499201    6399        0.0
Texas          Harris          399155    6405        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1239093,24201,0.0,1214892.0,2021-05-26 04:20:35,34.308284,-118.228241,6037.0
Illinois,Cook,551609,10241,0.0,541368.0,2021-05-26 04:20:35,41.841448,-87.816588,17031.0
Arizona,Maricopa,548006,10022,0.0,537984.0,2021-05-26 04:20:35,33.348359,-112.491815,4013.0
Florida,Miami-Dade,499201,6399,0.0,492802.0,2021-05-26 04:20:35,25.611236,-80.551706,12086.0
Texas,Harris,399155,6405,0.0,392750.0,2021-05-26 04:20:35,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,65728,132209,126860,13569,32441,1257,3539484,221948,30019,641380,...,4478390,265098,98451,4,223345,5275,305201,6658,93201,38682
2021-05-24,66275,132215,127107,13569,32623,1258,3562135,221982,30029,641740,...,4480760,267888,98657,4,224819,5404,305777,6662,93279,38696
2021-05-25,66903,132229,127361,13664,32933,1258,3586736,222139,30046,642138,...,4483177,271859,98849,4,226136,5931,306334,6670,93428,38706

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,2802,2444,3418,127,725,42,74063,4392,910,10546,...,127983,3871,680,1,2513,43,3459,1307,1268,1586
2021-05-24,2812,2445,3426,127,731,42,74480,4394,910,10547,...,127986,3922,680,1,2528,44,3470,1310,1271,1586
2021-05-25,2836,2447,3433,127,735,42,75056,4400,910,10551,...,128001,3973,682,1,2544,44,3480,1311,1271,1587

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,56035,128732,88346,13234,26778,1192,3106949,211057,23549,622889,...,15427,227531,93930,3,206921,2721,297201,3245,91156,36453
2021-05-24,56295,128826,88497,13234,27087,1200,3133183,211375,23557,623668,...,15445,230641,94143,3,208218,2794,298502,3260,91200,36471
2021-05-25,56518,128907,88672,13263,27204,1200,3157660,211634,23560,624549,...,15453,233629,94385,3,209495,2794,299024,3273,91221,36517

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7005,7010,7015,7017,7049,7106,7113,7118,7118,7126
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1433,1433,1434,1440,1440,1441,1441,1441,1442,1444
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9460,9465,9474,9481,9487,9494,9495,9496,9500,9502
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3030,3036,3041,3045,3051,3053,3059,3063,3064,3070
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15993,15997,16005,16011,16017,16034,16040,16049,16049,16060

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-23,542124,69902,0,876732,340137,3777077,537401,346325,108365,49,...,860084,2941389,404477,24106,3308,673029,427494,159735,672422,59661
2021-05-24,542256,69999,0,877182,340186,3778555,537858,346711,108409,49,...,860966,2944265,404625,24127,3383,673105,429499,160354,672591,59797
2021-05-25,542562,70052,0,877682,340515,3779400,539261,346892,108409,49,...,861313,2946793,404810,24136,3383,673759,430415,160587,673023,59870

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-05-23        7118   21546    2328  2658   6832    1233   2202   14606
2021-05-24        7118   21554    2328  2659   6832    1233   2202   14608
2021-05-25        7126   21578    2331  2660   6847    1233   2210   14606

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-23         3640     1858  ...    2801    636     3191      791
2021-05-24         3641     1858  ...    2807    640     3193      792
2021-05-25         3653     1859  ...    2809    643     3198      791

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-23           4421  3776  2246          0      921    652
2021-05-24           4441  3780  2252          0      921    652
2021-05-25           4445  3780  2261          0      921    652

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-23,11112,369,0,17555,5817,62933,6505,8212,1659,0,...,12380,51225,2290,255,27,11106,5702,2772,7748,713
2021-05-24,11112,369,0,17555,5820,62949,6509,8219,1659,0,...,12393,51249,2292,255,27,11116,5709,2775,7749,713
2021-05-25,11124,369,0,17569,5824,62970,6520,8221,1659,0,...,12400,51288,2292,255,27,11137,5722,2782,7760,719

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-23         110     310      58   64    139      42     70     322
2021-05-24         110     310      58   64    139      42     70     322
2021-05-25         110     310      58   64    139      42     70     323

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-23          123       45  ...      30     11       31        7
2021-05-24          123       45  ...      30     11       31        7
2021-05-25          123       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-23             39     9    13          0       26      5
2021-05-24             39     9    13          0       26      5
2021-05-25             39     9    13          0       26      5

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,0.003695,0.000250,0.001650,0.000000,0.009083,0.000000,0.007056,0.000306,0.000400,0.000786,...,0.000468,0.011790,0.002924,0.0,0.005823,0.030475,0.000000,0.001354,0.001020,0.000078
2021-05-24,0.008322,0.000045,0.001947,0.000000,0.005610,0.000796,0.006400,0.000153,0.000333,0.000561,...,0.000529,0.010524,0.002092,0.0,0.006600,0.024455,0.001887,0.000601,0.000837,0.000362
2021-05-25,0.009476,0.000106,0.001998,0.007001,0.009502,0.000000,0.006906,0.000707,0.000566,0.000620,...,0.000539,0.014823,0.001946,0.0,0.005858,0.097520,0.001822,0.001201,0.001597,0.000258

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,0.003582,0.000819,0.002052,0.0,0.013986,0.0,0.005089,0.001368,0.0,0.000474,...,0.000039,0.015744,0.000000,0.0,0.005602,0.023810,0.000000,0.002301,0.000789,0.000000
2021-05-24,0.003569,0.000409,0.002341,0.0,0.008276,0.0,0.005630,0.000455,0.0,0.000095,...,0.000023,0.013175,0.000000,0.0,0.005969,0.023256,0.003180,0.002295,0.002366,0.000000
2021-05-25,0.008535,0.000818,0.002043,0.0,0.005472,0.0,0.007734,0.001365,0.0,0.000379,...,0.000117,0.013004,0.002941,0.0,0.006329,0.000000,0.002882,0.000763,0.000000,0.000631

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,0.002612,0.001019,0.001564,0.000000,0.000112,0.000000,0.007671,0.001053,0.000425,0.001432,...,0.000000,0.012207,0.003172,0.0,0.006547,0.000000,0.000000,0.013746,0.000593,0.000220
2021-05-24,0.004640,0.000730,0.001709,0.000000,0.011539,0.006711,0.008444,0.001507,0.000340,0.001251,...,0.001167,0.013668,0.002268,0.0,0.006268,0.026828,0.004378,0.004622,0.000483,0.000494
2021-05-25,0.003961,0.000629,0.001977,0.002191,0.004319,0.000000,0.007812,0.001225,0.000127,0.001413,...,0.000518,0.012955,0.002571,0.0,0.006133,0.000000,0.001749,0.003988,0.000230,0.001261

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-23,0.000362,0.000000,NaN,0.000366,0.000285,0.000194,0.000805,0.000000,0.000785,0.0,...,0.000000,0.000241,0.000571,0.000913,0.000000,0.000351,0.000000,0.000000,0.000232,0.000000
2021-05-24,0.000243,0.001388,NaN,0.000513,0.000144,0.000391,0.000850,0.001115,0.000406,0.0,...,0.001025,0.000978,0.000366,0.000871,0.022672,0.000113,0.004690,0.003875,0.000251,0.002280
2021-05-25,0.000564,0.000757,NaN,0.000570,0.000967,0.000224,0.002608,0.000522,0.000000,0.0,...,0.000403,0.000859,0.000457,0.000373,0.000000,0.000972,0.002133,0.001453,0.000642,0.001221

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-05-23      0.000703  0.000511  0.000000  0.000753  0.000439     0.0
2021-05-24      0.000000  0.000371  0.000000  0.000376  0.000000     0.0
2021-05-25      0.001124  0.001113  0.001289  0.000376  0.002196     0.0

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-05-23      0.000454  0.000754  0.001100  0.002157  ...  0.000000
2021-05-24      0.000000  0.000137  0.000275  0.000000  ...  0.002142
2021-05-25      0.003633 -0.000137  0.003296  0.000538  ...  0.000713

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-05-23      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-05-24      0.006289  0.000627  0.001264   0.004524  0.001059  0.002671
2021-05-25      0.004687  0.001566 -0.001263   0.000901  0.000000  0.003996

Province_State
Admin2         Unassigned Washakie Weston
2021-05-23            NaN      0.0    0.0
2021-05-24            NaN      0.0    0.0
2021-05-25            NaN      0.0    0.0

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-23,0.00000,0.0,NaN,0.000456,0.000172,0.000350,0.000308,0.000000,0.0,NaN,...,0.000000,0.000312,0.000000,0.0,0.0,0.000811,0.000000,0.000000,0.000000,0.000000
2021-05-24,0.00000,0.0,NaN,0.000000,0.000516,0.000254,0.000615,0.000852,0.0,NaN,...,0.001050,0.000469,0.000873,0.0,0.0,0.000900,0.001228,0.001082,0.000129,0.000000
2021-05-25,0.00108,0.0,NaN,0.000797,0.000687,0.000334,0.001690,0.000243,0.0,NaN,...,0.000565,0.000761,0.000000,0.0,0.0,0.001889,0.002277,0.002523,0.001420,0.008415

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler   Calhoun
2021-05-23         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.000000
2021-05-24         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.000000
2021-05-25         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.003106

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-23          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-24          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-05-25          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-23            0.0   0.0   0.0        NaN      0.0    0.0
2021-05-24            0.0   0.0   0.0        NaN      0.0    0.0
2021-05-25            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,0.005059,0.000226,0.001755,0.000046,0.008486,0.000638,0.008431,0.000547,0.000269,0.000881,...,0.000502,0.013454,0.002957,3.880511e-11,0.005375,0.031405,0.000429,0.001983,0.001371,0.000296
2021-05-24,0.006691,0.000136,0.001851,0.000023,0.007048,0.000717,0.007415,0.000350,0.000301,0.000721,...,0.000516,0.011989,0.002525,1.940255e-11,0.005988,0.027930,0.001158,0.001292,0.001104,0.000329
2021-05-25,0.008083,0.000121,0.001925,0.003512,0.008275,0.000358,0.007161,0.000529,0.000434,0.000671,...,0.000528,0.013406,0.002236,9.701277e-12,0.005923,0.062725,0.001490,0.001246,0.001351,0.000294

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,0.003555,0.000664,0.001853,3.942502e-09,0.011660,0.002192,0.005597,0.002007,2.501361e-16,0.000666,...,0.000046,0.015534,0.001464,0.0,0.006263,0.027955,0.000792,0.001884,0.000822,0.000169
2021-05-24,0.003562,0.000537,0.002097,1.971251e-09,0.009968,0.001096,0.005614,0.001231,1.250680e-16,0.000380,...,0.000035,0.014354,0.000732,0.0,0.006116,0.025606,0.001986,0.002090,0.001594,0.000084
2021-05-25,0.006048,0.000677,0.002070,9.856255e-10,0.007720,0.000548,0.006674,0.001298,6.253401e-17,0.000380,...,0.000076,0.013679,0.001836,0.0,0.006223,0.012803,0.002434,0.001427,0.000797,0.000357

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-23,0.002473,0.002174,0.001623,0.000066,0.003375,0.001131,0.007680,0.001498,0.000357,0.001572,...,0.000533,0.012248,0.003064,9.313226e-10,0.005752,0.003194,0.001049,0.010885,0.000660,0.000280
2021-05-24,0.003557,0.001452,0.001666,0.000033,0.007457,0.003921,0.008062,0.001503,0.000349,0.001411,...,0.000850,0.012958,0.002666,4.656613e-10,0.006010,0.015011,0.002713,0.007754,0.000571,0.000387
2021-05-25,0.003759,0.001040,0.001822,0.001112,0.005888,0.001961,0.007937,0.001364,0.000238,0.001412,...,0.000684,0.012957,0.002618,2.328306e-10,0.006072,0.007506,0.002231,0.005871,0.000401,0.000824

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-23,0.000489,0.000266,NaN,0.000530,0.000436,0.000234,0.001214,0.000140,0.001120,1.534737e-131,...,0.000125,0.000348,0.000634,0.001059,0.000486,0.000523,0.000736,0.000439,0.000432,0.000451
2021-05-24,0.000366,0.000827,NaN,0.000522,0.000290,0.000313,0.001032,0.000627,0.000763,7.673686e-132,...,0.000575,0.000663,0.000500,0.000965,0.011579,0.000318,0.002713,0.002157,0.000342,0.001365
2021-05-25,0.000465,0.000792,NaN,0.000546,0.000629,0.000268,0.001820,0.000575,0.000382,3.836843e-132,...,0.000489,0.000761,0.000479,0.000669,0.005789,0.000645,0.002423,0.001805,0.000492,0.001293

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-05-23      0.001935  0.000798  0.000258  0.000477  0.000713  0.000011
2021-05-24      0.000968  0.000585  0.000129  0.000427  0.000356  0.000005
2021-05-25      0.001046  0.000849  0.000709  0.000401  0.001276  0.000003

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-05-23      0.000827  0.000520  0.001344  0.001446  ...  0.000776
2021-05-24      0.000413  0.000329  0.000810  0.000723  ...  0.001459
2021-05-25      0.002023  0.000096  0.002053  0.000631  ...  0.001086

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-05-23      0.000237  0.000205  0.000011   0.000671  0.000122 -0.000181
2021-05-24      0.003263  0.000416  0.000638   0.002597  0.000590  0.001245
2021-05-25      0.003975  0.000991 -0.000313   0.001749  0.000295  0.002621

Province_State
Admin2         Unassigned  Washakie    Weston
2021-05-23           -1.0  0.000164  0.000192
2021-05-24           -1.0  0.000082  0.000096
2021-05-25           -1.0  0.000041  0.000048

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-23,0.000955,0.000502,NaN,0.000704,0.000429,0.000543,0.000914,0.000143,0.000929,NaN,...,0.000279,0.000570,0.000915,0.000249,1.119378e-12,0.00116,0.000624,0.000245,0.000347,0.000022
2021-05-24,0.000477,0.000251,NaN,0.000352,0.000472,0.000399,0.000764,0.000498,0.000465,NaN,...,0.000664,0.000519,0.000894,0.000125,5.596891e-13,0.00103,0.000926,0.000663,0.000238,0.000011
2021-05-25,0.000779,0.000126,NaN,0.000575,0.000580,0.000366,0.001227,0.000371,0.000232,NaN,...,0.000615,0.000640,0.000447,0.000062,2.798445e-13,0.00146,0.001602,0.001593,0.000829,0.004213

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin   Barbour          Bibb    Blount
2021-05-23      0.002872  0.000007  0.002228  1.213459e-07  0.000014
2021-05-24      0.001436  0.000004  0.001114  6.067296e-08  0.000007
2021-05-25      0.000718  0.000002  0.000557  3.033648e-08  0.000004

Province_State                                                            ...  \
Admin2           Bullock    Butler   Calhoun      Chambers      Cherokee  ...
2021-05-23      0.000048  0.003623  0.001182  1.467817e-09  1.324223e-12  ...
2021-05-24      0.000024  0.001812  0.000591  7.339087e-10  6.621117e-13  ...
2021-05-25      0.000012  0.000906  0.001848  3.669544e-10  3.310558e-13  ...

Province_State       Wyoming                                            \
Admin2                  Park        Platte      Sheridan      Sublette
2021-05-23      7.478241e-21  3.035389e-37  5.648035e-23  2.481233e-43
2021-05-24      3.739120e-21  1.517695e-37  2.824018e-23  1.240616e-43
2021-05-25      1.869560e-21  7.588474e-38  1.412009e-23  6.203082e-44

Province_State                                                    \
Admin2         Sweetwater         Teton         Uinta Unassigned
2021-05-23       0.000822  7.920561e-31  7.947286e-08       -1.0
2021-05-24       0.000411  3.960281e-31  3.973643e-08       -1.0
2021-05-25       0.000206  1.980140e-31  1.986821e-08       -1.0

Province_State
Admin2              Washakie        Weston
2021-05-23      1.541632e-35  3.274081e-34
2021-05-24      7.708158e-36  1.637040e-34
2021-05-25      3.854079e-36  8.185202e-35

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN