# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'03-19-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'03-18-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-19 05:26:09,33.93911,67.709953,56044,2462,49664.0,3918.0,Afghanistan,143.967091,4.392977
1,NaN,NaN,NaN,Albania,2021-03-19 05:26:09,41.15330,20.168300,119528,2106,83264.0,34158.0,Albania,4153.450553,1.761930
2,NaN,NaN,NaN,Algeria,2021-03-19 05:26:09,28.03390,1.659600,115842,3051,80347.0,32444.0,Algeria,264.171596,2.633760
3,NaN,NaN,NaN,Andorra,2021-03-19 05:26:09,42.50630,1.521800,11393,113,10904.0,376.0,Andorra,14745.356889,0.991837
4,NaN,NaN,NaN,Angola,2021-03-19 05:26:09,-11.20270,17.873900,21558,522,20032.0,1004.0,Angola,65.593088,2.421375

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55876,55894,55917,55959,55959,55985,55985,55995,56016,56044
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,114209,114840,115442,116123,116821,117474,118017,118492,118938,119528
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,114543,114681,114851,115008,115143,115265,115410,115540,115688,115842

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2451,2451,2451,2454,2454,2457,2459,2460,2460,2462
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1969,1986,2002,2018,2030,2045,2060,2077,2092,2106
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3022,3026,3028,3031,3034,3036,3040,3045,3048,3051

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49409,49499,49499,49499,49471,49477,49481,49499,49536,49664
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,76784,77498,78259,79131,79821,80483,81061,81810,82554,83264
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,79319,79428,79556,79672,79783,79887,79994,80103,80219,80347

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6371,6400,6409,6409,6416,6426,6471,6474,6483,6495
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,19962,20012,20044,20072,20091,20103,20210,20227,20263,20287
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2147,2161,2171,2175,2181,2184,2195,2198,2199,2202

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,92,93,95,95,95,95,95,95,96,98
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,290,293,294,294,294,294,294,294,295,296
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,51,51,52,52,53,53,53,53,54,54

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-19 05:26:09,32.539527,-86.644082,6495,98,NaN,NaN,"Autauga, Alabama, US",11625.409440,1.508853
689,1075.0,Lamar,Alabama,US,2021-03-19 05:26:09,33.779950,-88.096680,1368,33,NaN,NaN,"Lamar, Alabama, US",9909.453097,2.412281
690,1077.0,Lauderdale,Alabama,US,2021-03-19 05:26:09,34.901719,-87.656247,9000,216,NaN,NaN,"Lauderdale, Alabama, US",9705.701560,2.400000

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               29665679  539698         0.0
Brazil           11780820  287499  10383496.0
India            11514331  159370  11083679.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,29665679,539698,0.0,29125981.0,2021-03-19 05:26:09,37.936303,-91.379001
Brazil,11780820,287499,10383496.0,1109825.0,2021-03-19 05:26:09,-12.669522,-48.480493
India,11514331,159370,11083679.0,271282.0,2021-03-19 05:26:09,23.088275,81.806127
Russia,4378656,92266,3991385.0,295005.0,2021-03-19 05:26:09,54.546312,62.120860
United Kingdom,4294328,126163,12086.0,4156079.0,2021-03-19 05:26:09,28.164647,-33.966498

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3633181   57200        0.0
Texas             2745694   47025        0.0
Florida           1994117   32598        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3633181,57200,0.0,3575981.0,2021-03-19 05:26:09,37.843962,-120.728594
Texas,2745694,47025,0.0,2698669.0,2021-03-19 05:26:09,31.660643,-98.653069
Florida,1994117,32598,0.0,1961519.0,2021-03-19 05:26:09,28.940755,-82.700744
New York,1767290,49262,0.0,1718028.0,2021-03-19 05:26:09,42.544151,-75.474183
Illinois,1215992,23287,0.0,1192705.0,2021-03-19 05:26:09,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1212586   22666        0.0
Arizona        Maricopa        520784    9488        0.0
Illinois       Cook            485771    9544        0.0
Florida        Miami-Dade      430942    5710        0.0
Texas          Harris          368213    5562        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1212586,22666,0.0,1189920.0,2021-03-19 05:26:09,34.308284,-118.228241,6037.0
Arizona,Maricopa,520784,9488,0.0,511296.0,2021-03-19 05:26:09,33.348359,-112.491815,4013.0
Illinois,Cook,485771,9544,0.0,476227.0,2021-03-19 05:26:09,41.841448,-87.816588,17031.0
Florida,Miami-Dade,430942,5710,0.0,425232.0,2021-03-19 05:26:09,25.611236,-80.551706,12086.0
Texas,Harris,368213,5562,0.0,362651.0,2021-03-19 05:26:09,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,55995,118492,115540,11319,21446,992,2210121,179287,29154,497889,...,4282203,73770,80743,3,147028,2560,213791,2969,85240,36535
2021-03-17,56016,118938,115688,11360,21489,992,2218425,180141,29166,501224,...,4287996,75138,80858,3,147577,2567,215984,3037,85502,36552
2021-03-18,56044,119528,115842,11393,21558,1008,2226753,181165,29183,504581,...,4294328,76816,80971,3,148208,2570,218061,3126,85889,36611

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,2460,2077,3045,113,522,27,54036,3277,909,8925,...,125927,725,622,0,1451,35,2314,707,1167,1507
2021-03-17,2460,2092,3048,113,522,27,54231,3282,909,8956,...,126068,740,622,0,1459,35,2343,713,1170,1508
2021-03-18,2462,2106,3051,113,522,27,54386,3301,909,8982,...,126163,749,622,0,1467,35,2358,723,1175,1509

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,49499,81810,80103,10861,19971,598,1998594,166702,22960,461659,...,12013,62584,79371,1,138411,2158,189759,1507,82432,34124
2021-03-17,49536,82554,80219,10883,20028,598,2003121,166913,22962,463714,...,12053,63475,79450,1,138841,2198,191839,1508,82457,34136
2021-03-18,49664,83264,80347,10904,20032,598,2009877,167186,22963,465984,...,12086,64492,79533,1,139314,2198,193578,1520,82527,34226

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6371,6400,6409,6409,6416,6426,6471,6474,6483,6495
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1340,1349,1351,1349,1351,1352,1365,1366,1367,1368
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8636,8651,8662,8670,8683,8692,8962,8973,8993,9000
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2865,2864,2869,2870,2870,2872,2903,2906,2908,2908
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15087,15108,15117,15122,15138,15147,15197,15205,15218,15231

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-16,508717,60691,0,833878,327456,3628171,444712,293955,90751,49,...,794137,2737763,379081,17047,2767,597141,351109,136019,626364,55352
2021-03-17,509476,60864,0,834323,327781,3631320,445338,294328,91123,49,...,795963,2742274,379780,17106,2767,598468,352012,136334,627060,55449
2021-03-18,510048,61019,0,834607,328045,3633181,446580,295484,91425,49,...,796624,2745694,380340,17247,2767,600550,352907,136716,627743,55479

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-03-16        6474   20227    2198  2508   6361    1193   2068   14112
2021-03-17        6483   20263    2199  2512   6371    1193   2069   14137
2021-03-18        6495   20287    2202  2519   6376    1194   2069   14148

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-16         3458     1792  ...    2630    603     3044      681
2021-03-17         3460     1791  ...    2635    603     3044      682
2021-03-18         3464     1792  ...    2636    604     3045      683

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-16           3893  3470  2094          0      889    631
2021-03-17           3909  3484  2101          0      889    631
2021-03-18           3912  3495  2101          0      889    631

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-16,10337,306,0,16574,5493,56796,6048,7799,1514,0,...,11650,46651,2032,215,25,10104,5149,2546,7182,693
2021-03-17,10363,307,0,16586,5507,56987,6049,7807,1516,0,...,11658,46827,2037,217,25,10154,5156,2565,7201,693
2021-03-18,10391,310,0,16645,5515,57200,6060,7822,1517,0,...,11681,47025,2041,217,25,10182,5168,2570,7208,693

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-16          95     294      53   58    129      39     66     301
2021-03-17          96     295      54   58    129      39     66     301
2021-03-18          98     296      54   58    130      39     66     302

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-16          113       42  ...      29     11       31        7
2021-03-17          113       42  ...      29     11       31        7
2021-03-18          114       42  ...      29     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-16             36     9    12          0       26      5
2021-03-17             36     9    12          0       26      5
2021-03-18             36     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,0.000179,0.004025,0.001126,0.002657,0.001822,0.030114,0.003740,0.003274,0.000583,0.004894,...,0.001254,0.012462,0.000806,0.0,0.003686,0.001173,0.010345,0.020977,0.003414,0.000849
2021-03-17,0.000375,0.003764,0.001281,0.003622,0.002005,0.000000,0.003757,0.004763,0.000412,0.006698,...,0.001353,0.018544,0.001424,0.0,0.003734,0.002734,0.010258,0.022903,0.003074,0.000465
2021-03-18,0.000500,0.004961,0.001331,0.002905,0.003211,0.016129,0.003754,0.005684,0.000583,0.006698,...,0.001477,0.022332,0.001398,0.0,0.004276,0.001169,0.009616,0.029305,0.004526,0.001614

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,0.000407,0.008252,0.001645,0.0,0.001919,0.0,0.003715,0.003675,0.0,0.003711,...,0.000874,0.011158,0.0,NaN,0.004848,0.0,0.009158,0.012894,0.002577,0.001995
2021-03-17,0.000000,0.007222,0.000985,0.0,0.000000,0.0,0.003609,0.001526,0.0,0.003473,...,0.001120,0.020690,0.0,NaN,0.005513,0.0,0.012532,0.008487,0.002571,0.000664
2021-03-18,0.000813,0.006692,0.000984,0.0,0.000000,0.0,0.002858,0.005789,0.0,0.002903,...,0.000754,0.012162,0.0,NaN,0.005483,0.0,0.006402,0.014025,0.004274,0.000663

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,0.000364,0.009240,0.001363,0.006114,0.001153,0.0,0.002699,0.001755,0.000087,0.005162,...,0.001334,0.015826,0.000504,0.0,0.003356,0.020331,0.011325,0.004667,0.000692,0.002144
2021-03-17,0.000747,0.009094,0.001448,0.002026,0.002854,0.0,0.002265,0.001266,0.000087,0.004451,...,0.003330,0.014237,0.000995,0.0,0.003107,0.018536,0.010961,0.000664,0.000303,0.000352
2021-03-18,0.002584,0.008600,0.001596,0.001930,0.000200,0.0,0.003373,0.001636,0.000044,0.004895,...,0.002738,0.016022,0.001045,0.0,0.003407,0.000000,0.009065,0.007958,0.000849,0.002637

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-16,0.000960,0.001650,NaN,0.000596,0.001211,0.000591,0.000725,0.002910,0.001512,0.0,...,0.001693,0.002178,0.001270,0.003237,0.0,0.002141,0.001720,0.002513,0.001077,0.000452
2021-03-17,0.001492,0.002851,NaN,0.000534,0.000992,0.000868,0.001408,0.001269,0.004099,0.0,...,0.002299,0.001648,0.001844,0.003461,0.0,0.002222,0.002572,0.002316,0.001111,0.001752
2021-03-18,0.001123,0.002547,NaN,0.000340,0.000805,0.000512,0.002789,0.003928,0.003314,0.0,...,0.000830,0.001247,0.001475,0.008243,0.0,0.003479,0.002543,0.002802,0.001089,0.000541

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-16      0.000464  0.000841  0.001367  0.003601  0.001259  0.000000
2021-03-17      0.001390  0.001780  0.000455  0.001595  0.001572  0.000000
2021-03-18      0.001851  0.001184  0.001364  0.002787  0.000785  0.000838

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-16      0.000968  0.000496  0.000289  0.000558  ...  0.000000
2021-03-17      0.000484  0.001772  0.000578 -0.000558  ...  0.001901
2021-03-18      0.000000  0.000778  0.001156  0.000558  ...  0.000380

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-16      0.000000  0.000000  0.000000   0.001029  0.000865  0.001435
2021-03-17      0.000000  0.000000  0.001468   0.004110  0.004035  0.003343
2021-03-18      0.001658  0.000329  0.001466   0.000767  0.003157  0.000000

Province_State
Admin2         Unassigned Washakie Weston
2021-03-16            NaN      0.0    0.0
2021-03-17            NaN      0.0    0.0
2021-03-18            NaN      0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-16,0.000775,0.000000,NaN,0.001269,0.002189,0.002153,0.001325,0.001412,0.001985,NaN,...,0.001031,0.002838,0.002467,0.004673,0.0,0.004374,0.002726,0.005927,0.000697,0.002894
2021-03-17,0.002515,0.003268,NaN,0.000724,0.002549,0.003363,0.000165,0.001026,0.001321,NaN,...,0.000687,0.003773,0.002461,0.009302,0.0,0.004949,0.001359,0.007463,0.002646,0.000000
2021-03-18,0.002702,0.009772,NaN,0.003557,0.001453,0.003738,0.001818,0.001921,0.000660,NaN,...,0.001973,0.004228,0.001964,0.000000,0.0,0.002758,0.002327,0.001949,0.000972,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour Bibb    Blount Bullock Butler
2021-03-16      0.000000  0.000000  0.000000  0.0  0.000000     0.0    0.0
2021-03-17      0.010526  0.003401  0.018868  0.0  0.000000     0.0    0.0
2021-03-18      0.020833  0.003390  0.000000  0.0  0.007752     0.0    0.0

Province_State                               ... Wyoming                   \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte  Sheridan
2021-03-16      0.000000  0.008929      0.0  ...     0.0    0.0  0.033333
2021-03-17      0.000000  0.000000      0.0  ...     0.0    0.0  0.000000
2021-03-18      0.003322  0.008850      0.0  ...     0.0    0.0  0.000000

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-16          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-03-17          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-03-18          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,0.000181,0.004599,0.001169,0.002663,0.001876,0.018839,0.003184,0.002943,0.000443,0.004809,...,0.001243,0.015185,0.000980,0.003906,0.004248,0.001266,0.010140,0.021961,0.003111,0.000753
2021-03-17,0.000278,0.004182,0.001225,0.003142,0.001940,0.009420,0.003470,0.003853,0.000427,0.005754,...,0.001298,0.016864,0.001202,0.001953,0.003991,0.002000,0.010199,0.022432,0.003092,0.000609
2021-03-18,0.000389,0.004571,0.001278,0.003024,0.002576,0.012774,0.003612,0.004769,0.000505,0.006226,...,0.001387,0.019598,0.001300,0.000977,0.004133,0.001584,0.009908,0.025869,0.003809,0.001112

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,0.000600,0.007763,0.001358,0.001117,0.001488,0.008293,0.002892,0.002949,9.109919e-28,0.003001,...,0.000766,0.011277,9.373233e-14,NaN,0.005598,7.919714e-61,0.009317,0.011984,0.003542,0.001664
2021-03-17,0.000300,0.007492,0.001172,0.000559,0.000744,0.004147,0.003250,0.002237,4.554959e-28,0.003237,...,0.000943,0.015983,4.686617e-14,NaN,0.005556,3.959857e-61,0.010925,0.010235,0.003056,0.001164
2021-03-18,0.000556,0.007092,0.001078,0.000279,0.000372,0.002073,0.003054,0.004013,2.277480e-28,0.003070,...,0.000848,0.014073,2.343308e-14,NaN,0.005519,1.979929e-61,0.008663,0.012130,0.003665,0.000913

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-16,0.000198,0.008657,0.001360,0.003570,0.001970,0.010089,0.002903,0.001559,0.000079,0.004823,...,0.001519,0.016295,0.000765,0.0,0.003578,0.014737,0.009752,0.005841,0.004493,0.001326
2021-03-17,0.000473,0.008876,0.001404,0.002798,0.002412,0.005045,0.002584,0.001413,0.000083,0.004637,...,0.002425,0.015266,0.000880,0.0,0.003342,0.016636,0.010357,0.003252,0.002398,0.000839
2021-03-18,0.001528,0.008738,0.001500,0.002364,0.001306,0.002522,0.002978,0.001524,0.000063,0.004766,...,0.002581,0.015644,0.000963,0.0,0.003375,0.008318,0.009711,0.005605,0.001624,0.001738

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-16,0.002981,0.002575,NaN,0.000705,0.000880,0.000678,0.001281,0.003835,0.002135,4.529745e-111,...,0.001957,0.001816,0.001087,0.005296,0.000157,0.002086,0.001920,0.002232,0.000854,0.001042
2021-03-17,0.002237,0.002713,NaN,0.000619,0.000936,0.000773,0.001344,0.002552,0.003117,2.264872e-111,...,0.002128,0.001732,0.001465,0.004378,0.000079,0.002154,0.002246,0.002274,0.000983,0.001397
2021-03-18,0.001680,0.002630,NaN,0.000480,0.000871,0.000643,0.002067,0.003240,0.003216,1.132436e-111,...,0.001479,0.001489,0.001470,0.006311,0.000039,0.002817,0.002394,0.002538,0.001036,0.000969

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-16      0.002315  0.001980  0.002480  0.003875  0.003296  0.001881
2021-03-17      0.001853  0.001880  0.001467  0.002735  0.002434  0.000941
2021-03-18      0.001852  0.001532  0.001416  0.002761  0.001609  0.000889

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-16      0.003909  0.001247  0.001325  0.000773  ...  0.000672
2021-03-17      0.002196  0.001509  0.000952  0.000108  ...  0.001287
2021-03-18      0.001098  0.001144  0.001054  0.000333  ...  0.000833

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-16      0.002141  0.000186  0.000006   0.001746  0.003529  0.001137
2021-03-17      0.001071  0.000093  0.000737   0.002928  0.003782  0.002240
2021-03-18      0.001364  0.000211  0.001102   0.001848  0.003470  0.001120

Province_State
Admin2         Unassigned  Washakie    Weston
2021-03-16           -1.0  0.000038  0.000201
2021-03-17           -1.0  0.000019  0.000100
2021-03-18           -1.0  0.000009  0.000050

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-16,0.000807,0.000105,NaN,0.000995,0.002355,0.003222,0.000987,0.001507,0.002389,NaN,...,0.000587,0.002560,0.001978,0.003133,2.425319e-12,0.004183,0.002124,0.006191,0.000545,0.001499
2021-03-17,0.001661,0.001686,NaN,0.000859,0.002452,0.003292,0.000576,0.001267,0.001855,NaN,...,0.000637,0.003166,0.002219,0.006218,1.212660e-12,0.004566,0.001742,0.006827,0.001595,0.000750
2021-03-18,0.002181,0.005729,NaN,0.002208,0.001952,0.003515,0.001197,0.001594,0.001257,NaN,...,0.001305,0.003697,0.002091,0.003109,6.063298e-13,0.003662,0.002035,0.004388,0.001284,0.000375

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-16      0.000422  0.000150  0.001508 -0.000008  0.000063  0.000423
2021-03-17      0.005474  0.001776  0.010188 -0.000004  0.000032  0.000211
2021-03-18      0.013154  0.002583  0.005094 -0.000002  0.003892  0.000106

Province_State                                              ...   Wyoming  \
Admin2                Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-16      6.241389e-08  0.000688  0.004293  0.000295  ...  0.000291
2021-03-17      3.120695e-08  0.000344  0.002147  0.000148  ...  0.000145
2021-03-18      1.560347e-08  0.001833  0.005498  0.000074  ...  0.000073

Province_State                                                      \
Admin2                Platte  Sheridan      Sublette    Sweetwater
2021-03-16      8.958888e-17  0.016670  7.323306e-23  2.641438e-06
2021-03-17      4.479444e-17  0.008335  3.661653e-23  1.320719e-06
2021-03-18      2.239722e-17  0.004168  1.830827e-23  6.603595e-07

Province_State                                                       \
Admin2                 Teton         Uinta Unassigned      Washakie
2021-03-16      2.337737e-10  1.188024e-17  -0.501961  4.550093e-15
2021-03-17      1.168869e-10  5.940118e-18  -0.501961  2.275047e-15
2021-03-18      5.844343e-11  2.970059e-18  -0.501961  1.137523e-15

Province_State
Admin2                Weston
2021-03-16      9.663381e-14
2021-03-17      4.831691e-14
2021-03-18      2.415845e-14

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN