# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'09-27-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'09-27-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-28 04:23:36,33.93911,67.709953,39227,1453,32642,5132.0,Afghanistan,100.767202,3.704081
1,NaN,NaN,NaN,Albania,2020-09-28 04:23:36,41.15330,20.168300,13259,377,7397,5485.0,Albania,460.733894,2.843352
2,NaN,NaN,NaN,Algeria,2020-09-28 04:23:36,28.03390,1.659600,51067,1714,35860,13493.0,Algeria,116.455611,3.356375
3,NaN,NaN,NaN,Andorra,2020-09-28 04:23:36,42.50630,1.521800,1836,53,1263,520.0,Andorra,2376.237624,2.886710
4,NaN,NaN,NaN,Angola,2020-09-28 04:23:36,-11.20270,17.873900,4718,174,1707,2837.0,Angola,14.355144,3.688003

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38883,38919,39044,39074,39096,39145,39170,39186,39192,39227
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,12073,12226,12385,12535,12666,12787,12921,13045,13153,13259
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,49413,49623,49826,50023,50214,50400,50579,50754,50914,51067

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1437,1437,1441,1444,1445,1446,1451,1451,1453,1453
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,353,358,362,364,367,370,370,373,375,377
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1659,1665,1672,1679,1689,1698,1703,1707,1711,1714

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32576,32576,32576,32576,32576,32610,32619,32619,32635,32642
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6831,6888,6940,6995,7042,7139,7239,7309,7397,7397
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,34818,34923,35047,35180,35307,35428,35544,35654,35756,35860

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1664,1673,1690,1691,1714,1715,1738,1757,1764,1773
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5033,5047,5061,5087,5124,5141,5165,5456,5477,5526
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,824,830,835,838,848,851,857,873,882,885

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,24,24,24,24,25,25,25,25,25,25
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,48,49,49,49,49,49,50,50,50,50
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
632,1001.0,Autauga,Alabama,US,2020-09-28 04:23:36,32.539527,-86.644082,1773,25,0,1748.0,"Autauga, Alabama, US",3173.495140,1.410039
669,1075.0,Lamar,Alabama,US,2020-09-28 04:23:36,33.779950,-88.096680,370,2,0,368.0,"Lamar, Alabama, US",2680.188338,0.540541
670,1077.0,Lauderdale,Alabama,US,2020-09-28 04:23:36,34.901719,-87.656247,1723,33,0,1690.0,"Lauderdale, Alabama, US",1858.102643,1.915264

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                7115008  204756    2766280
India             5992532   94503    4941627
Brazil            4732309  141741    4172711

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,7115008,204756,2766280,4143972,2020-09-28 04:23:36,37.923092,-91.345036
India,5992532,94503,4941627,956402,2020-09-28 04:23:36,23.088275,81.806127
Brazil,4732309,141741,4172711,417857,2020-09-28 04:23:36,-12.669522,-48.480493
Russia,1146273,20239,939921,186113,2020-09-28 04:23:36,54.546312,62.120860
Colombia,813056,25488,711472,76096,2020-09-28 04:23:36,5.349139,-74.190797

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         809890   15606          0
Texas              758756   15745          0
Florida            700564   14032          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,809890,15606,0,794284,2020-09-28 04:23:36,37.843962,-120.728594
Texas,758756,15745,0,743011,2020-09-28 04:23:36,31.660643,-98.653069
Florida,700564,14032,0,686532,2020-09-28 04:23:36,28.940755,-82.700744
New York,455626,33131,0,422495,2020-09-28 04:23:36,42.544151,-75.474183
Georgia,314685,6946,0,307739,2020-09-28 04:23:36,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     267801    6514          0
Florida        Miami-Dade      169426    3231          0
Illinois       Cook            143634    5210          0
Texas          Harris          141353    2576          0
Arizona        Maricopa        141211    3363          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,267801,6514,0,261287,2020-09-28 04:23:36,34.308284,-118.228241,6037.0
Florida,Miami-Dade,169426,3231,0,166195,2020-09-28 04:23:36,25.611236,-80.551706,12086.0
Illinois,Cook,143634,5210,0,138424,2020-09-28 04:23:36,41.841448,-87.816588,17031.0
Texas,Harris,141353,2576,0,138777,2020-09-28 04:23:36,29.858649,-95.393395,48201.0
Arizona,Maricopa,141211,3363,0,137848,2020-09-28 04:23:36,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,39186,13045,50754,1836,4590,98,691235,48643,27016,41500,...,425767,1967,54392,71273,1069,37963,10,2029,14515,7787
2020-09-26,39192,13153,50914,1836,4672,98,702484,49072,27040,42214,...,431817,1998,54819,71940,1069,38253,10,2030,14612,7803
2020-09-27,39227,13259,51067,1836,4718,101,711325,49400,27044,42876,...,437517,2008,55320,72691,1074,38703,10,2030,14641,7812

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,1451,373,1707,53,167,3,15208,947,870,786,...,42025,47,449,591,35,278,1,587,332,227
2020-09-26,1453,375,1711,53,171,3,15543,948,872,787,...,42060,47,452,600,35,285,1,587,332,227
2020-09-27,1453,377,1714,53,174,3,15749,951,875,787,...,42077,47,458,606,35,291,1,587,332,227

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,32619,7309,35654,1263,1554,92,546924,43401,24521,32301,...,2303,1710,50879,60709,999,27183,8,1255,13643,6057
2020-09-26,32635,7397,35756,1263,1639,92,556489,43576,24571,33154,...,2333,1716,51322,61528,999,27704,8,1260,13727,6067
2020-09-27,32642,7397,35860,1263,1707,92,565935,43613,24631,33589,...,2339,1728,51829,62427,999,29068,8,1266,13784,6106

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1664,1673,1690,1691,1714,1715,1738,1757,1764,1773
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,337,345,346,353,355,357,363,366,367,370
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1616,1641,1646,1653,1662,1673,1682,1698,1713,1723
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,578,582,585,592,603,605,609,616,620,621
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,5603,5705,5713,5751,5765,5792,5829,5887,5897,5927

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-25,150658,7254,0,216367,79946,803660,67905,56587,20085,49,...,189454,751068,68530,1731,1296,144294,85226,14962,110828,5420
2020-09-26,151591,7367,0,216826,80755,807451,68489,56587,20156,49,...,190891,754311,69547,1739,1317,145267,85830,15167,113645,5465
2020-09-27,152321,7481,0,217237,81242,809890,69058,56587,20260,49,...,192995,758756,70615,1742,1317,146001,86269,15351,115862,5633

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-25        1757    5456     873  652   1608     599    916    3499
2020-09-26        1764    5477     882  654   1611     604    912    3515
2020-09-27        1773    5526     885  656   1617     606    913    3534

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-25         1161      603  ...     227     27      272       95
2020-09-26         1164      608  ...     230     28      275       98
2020-09-27         1168      612  ...     236     28      289       97

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-25            332   532   348          0      114     35
2020-09-26            332   536   350          0      114     36
2020-09-27            335   554   352          0      115     36

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-25,2491,52,0,5587,1266,15516,2034,4501,631,0,...,2352,15610,448,58,19,3134,2100,335,1274,50
2020-09-26,2501,52,0,5622,1285,15583,2040,4501,633,0,...,2374,15707,448,58,19,3142,2100,337,1281,50
2020-09-27,2501,56,0,5623,1308,15606,2041,4501,633,0,...,2377,15745,453,58,19,3157,2100,339,1281,50

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-25          25      50       7   10     15      14     39      42
2020-09-26          25      50       7   10     15      14     39      44
2020-09-27          25      50       7   10     15      14     39      44

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-25           42       13  ...       2      1        4        1
2020-09-26           42       13  ...       2      1        4        1
2020-09-27           42       13  ...       2      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-25              2     1     2          0        6      0
2020-09-26              2     1     2          0        6      0
2020-09-27              2     1     2          0        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,0.000408,0.009597,0.003460,0.047347,0.025698,0.010309,0.019121,0.008124,0.000593,0.016758,...,0.01642,0.004084,0.010365,0.012314,0.000000,0.009896,0.0,0.000000,0.001656,0.004515
2020-09-26,0.000153,0.008279,0.003152,0.000000,0.017865,0.000000,0.016274,0.008819,0.000888,0.017205,...,0.01421,0.015760,0.007850,0.009358,0.000000,0.007639,0.0,0.000493,0.006683,0.002055
2020-09-27,0.000893,0.008059,0.003005,0.000000,0.009846,0.030612,0.012585,0.006684,0.000148,0.015682,...,0.01320,0.005005,0.009139,0.010439,0.004677,0.011764,0.0,0.000000,0.001985,0.001153

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,0.000000,0.008108,0.002349,0.0,0.030864,0.0,0.029934,0.002116,0.001151,0.003831,...,0.000810,0.0,0.006726,0.017212,0.0,0.014599,0.0,0.001706,0.0,0.0
2020-09-26,0.001378,0.005362,0.002343,0.0,0.023952,0.0,0.022028,0.001056,0.002299,0.001272,...,0.000833,0.0,0.006682,0.015228,0.0,0.025180,0.0,0.000000,0.0,0.0
2020-09-27,0.000000,0.005333,0.001753,0.0,0.017544,0.0,0.013254,0.003165,0.003440,0.000000,...,0.000404,0.0,0.013274,0.010000,0.0,0.021053,0.0,0.000000,0.0,0.0

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,0.000000,0.00967,0.003095,0.049875,0.033932,0.0,0.019261,0.003120,0.000000,0.020214,...,0.009202,0.018463,0.012921,0.016135,0.008073,0.009245,0.0,0.004000,0.000000,0.002317
2020-09-26,0.000491,0.01204,0.002861,0.000000,0.054698,0.0,0.017489,0.004032,0.002039,0.026408,...,0.013026,0.003509,0.008707,0.013491,0.000000,0.019166,0.0,0.003984,0.006157,0.001651
2020-09-27,0.000214,0.00000,0.002909,0.000000,0.041489,0.0,0.016974,0.000849,0.002442,0.013121,...,0.002572,0.006993,0.009879,0.014611,0.000000,0.049235,0.0,0.004762,0.004152,0.006428

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-25,0.016545,0.017106,NaN,0.002386,0.011347,0.005183,0.010551,0.002036,0.006918,0.0,...,0.009398,0.004953,0.021022,0.004060,0.004651,0.006536,0.011729,0.016509,0.023116,0.021678
2020-09-26,0.006193,0.015578,NaN,0.002121,0.010119,0.004717,0.008600,0.000000,0.003535,0.0,...,0.007585,0.004318,0.014840,0.004622,0.016204,0.006743,0.007087,0.013701,0.025418,0.008303
2020-09-27,0.004816,0.015474,NaN,0.001896,0.006031,0.003021,0.008308,0.000000,0.005160,0.0,...,0.011022,0.005893,0.015357,0.001725,0.000000,0.005053,0.005115,0.012132,0.019508,0.030741

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-25      0.010932  0.056341  0.018670  0.015576  0.008783  0.001672
2020-09-26      0.003984  0.003849  0.010309  0.003067  0.001866  0.008347
2020-09-27      0.005102  0.008947  0.003401  0.003058  0.003724  0.003311

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-25      0.003286  0.009521  0.008688  0.020305  ...  0.041284
2020-09-26     -0.004367  0.004573  0.002584  0.008292  ...  0.013216
2020-09-27      0.001096  0.005405  0.003436  0.006579  ...  0.026087

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-25      0.080000  0.007407  0.055556   0.012195  0.005671  0.002882
2020-09-26      0.037037  0.011029  0.031579   0.000000  0.007519  0.005747
2020-09-27      0.000000  0.050909 -0.010204   0.009036  0.033582  0.005714

Province_State
Admin2         Unassigned  Washakie    Weston
2020-09-25            NaN  0.008850  0.296296
2020-09-26            NaN  0.000000  0.028571
2020-09-27            NaN  0.008772  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-25,-0.005986,0.130435,NaN,0.005037,0.016051,0.007991,0.000492,0.000445,0.001587,NaN,...,0.017301,0.006447,0.009009,0.0,0.0,0.007393,0.009615,0.021341,0.007115,0.0
2020-09-26,0.004014,0.000000,NaN,0.006265,0.015008,0.004318,0.002950,0.000000,0.003170,NaN,...,0.009354,0.006214,0.000000,0.0,0.0,0.002553,0.000000,0.005970,0.005495,0.0
2020-09-27,0.000000,0.076923,NaN,0.000178,0.017899,0.001476,0.000490,0.000000,0.000000,NaN,...,0.001264,0.002419,0.011161,0.0,0.0,0.004774,0.000000,0.005935,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler   Calhoun
2020-09-25         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.024390
2020-09-26         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.047619
2020-09-27         0.0     0.0     0.0  0.0    0.0     0.0    0.0  0.000000

Province_State                     ... Wyoming                           \
Admin2         Chambers  Cherokee  ...    Park Platte Sheridan Sublette
2020-09-25          0.0 -0.133333  ...     0.0    0.0      0.0      0.0
2020-09-26          0.0  0.000000  ...     0.0    0.0      0.0      0.0
2020-09-27          0.0  0.000000  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-25            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-26            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-27            0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,0.000641,0.010035,0.003576,0.031628,0.026453,0.006539,0.019142,0.006970,0.000645,0.017856,...,0.015582,0.005115,0.010615,0.013114,0.000130,0.011844,1.402419e-30,0.000110,0.003309,0.003657
2020-09-26,0.000397,0.009157,0.003364,0.015814,0.022159,0.003269,0.017708,0.007895,0.000767,0.017530,...,0.014896,0.010438,0.009233,0.011236,0.000065,0.009742,7.012097e-31,0.000301,0.004996,0.002856
2020-09-27,0.000645,0.008608,0.003185,0.007907,0.016002,0.016941,0.015147,0.007289,0.000457,0.016606,...,0.014048,0.007721,0.009186,0.010838,0.002371,0.010753,3.506048e-31,0.000151,0.003490,0.002005

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,0.001114,0.006156,0.003210,5.465713e-16,0.024864,4.309833e-50,0.029308,0.002787,0.003809,0.005255,...,0.000833,0.002761,0.006540,0.015850,4.740987e-09,0.012668,0.0,0.000887,0.000552,0.000866
2020-09-26,0.001246,0.005759,0.002777,2.732857e-16,0.024408,2.154917e-50,0.025668,0.001922,0.003054,0.003264,...,0.000833,0.001380,0.006611,0.015539,2.370493e-09,0.018924,0.0,0.000444,0.000276,0.000433
2020-09-27,0.000623,0.005546,0.002265,1.366428e-16,0.020976,1.077458e-50,0.019461,0.002543,0.003247,0.001632,...,0.000619,0.000690,0.009943,0.012770,1.185247e-09,0.019988,0.0,0.000222,0.000138,0.000217

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-25,0.000226,0.010968,0.003251,0.026815,0.023827,0.000043,0.019959,0.004140,0.002053,0.020868,...,0.009395,0.014058,0.012492,0.016509,0.009336,0.018784,8.217301e-33,0.004046,0.001081,0.003940
2020-09-26,0.000358,0.011504,0.003056,0.013408,0.039262,0.000021,0.018724,0.004086,0.002046,0.023638,...,0.011211,0.008783,0.010599,0.015000,0.004668,0.018975,4.108651e-33,0.004015,0.003619,0.002795
2020-09-27,0.000286,0.005752,0.002982,0.006704,0.040376,0.000011,0.017849,0.002468,0.002244,0.018379,...,0.006891,0.007888,0.010239,0.014805,0.002334,0.034105,2.054325e-33,0.004388,0.003886,0.004612

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-25,0.011277,0.015495,NaN,0.002416,0.011845,0.004616,0.009643,0.002516,0.005989,2.711646e-59,...,0.007711,0.005944,0.018164,0.002613,0.004167,0.006084,0.008809,0.014470,0.021350,0.023109
2020-09-26,0.008735,0.015536,NaN,0.002269,0.010982,0.004667,0.009122,0.001258,0.004762,1.355823e-59,...,0.007648,0.005131,0.016502,0.003617,0.010186,0.006414,0.007948,0.014085,0.023384,0.015706
2020-09-27,0.006775,0.015505,NaN,0.002082,0.008506,0.003844,0.008715,0.000629,0.004961,6.779115e-60,...,0.009335,0.005512,0.015929,0.002671,0.005093,0.005733,0.006531,0.013109,0.021446,0.023224

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-25      0.010176  0.030491  0.012905  0.010343  0.008421  0.002628
2020-09-26      0.007080  0.017170  0.011607  0.006705  0.005144  0.005488
2020-09-27      0.006091  0.013058  0.007504  0.004882  0.004434  0.004399

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-25      0.002353  0.011041  0.007260  0.017028  ...  0.029824
2020-09-26     -0.001007  0.007807  0.004922  0.012660  ...  0.021520
2020-09-27      0.000045  0.006606  0.004179  0.009619  ...  0.023803

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-25      0.078728  0.017752  0.056153   0.008883  0.012249  0.007363
2020-09-26      0.057883  0.014391  0.043866   0.004441  0.009884  0.006555
2020-09-27      0.028941  0.032650  0.016831   0.006739  0.021733  0.006135

Province_State
Admin2         Unassigned  Washakie    Weston
2020-09-25      -0.571428  0.004477  0.171499
2020-09-26      -0.571428  0.002239  0.100035
2020-09-27      -0.571428  0.005505  0.050018

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-25,0.000970,0.070864,NaN,0.005008,0.014783,0.007254,0.001241,0.000401,0.001814,NaN,...,0.014551,0.007296,0.005199,7.852993e-18,3.685022e-06,0.008032,0.006205,0.017761,0.006020,0.002698
2020-09-26,0.002492,0.035432,NaN,0.005636,0.014896,0.005786,0.002095,0.000200,0.002492,NaN,...,0.011952,0.006755,0.002600,3.926497e-18,1.842511e-06,0.005292,0.003103,0.011865,0.005757,0.001349
2020-09-27,0.001246,0.056178,NaN,0.002907,0.016397,0.003631,0.001293,0.000100,0.001246,NaN,...,0.006608,0.004587,0.006880,1.963248e-18,9.212555e-07,0.005033,0.001551,0.008900,0.002879,0.000674

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-09-25      0.002647  0.005398  6.091728e-13  0.000922  0.009234
2020-09-26      0.001323  0.002699  3.045864e-13  0.000461  0.004617
2020-09-27      0.000662  0.001349  1.522932e-13  0.000231  0.002309

Province_State                                                    ...  \
Admin2           Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-09-25      0.000075  0.003316  0.020320  0.000049 -0.073994  ...
2020-09-26      0.000038  0.001658  0.033969  0.000024 -0.036997  ...
2020-09-27      0.000019  0.000829  0.016985  0.000012 -0.018498  ...

Province_State   Wyoming                                                   \
Admin2              Park Platte  Sheridan Sublette Sweetwater Teton Uinta
2020-09-25      0.001953    0.0  0.002930      0.0        0.0   0.0   0.0
2020-09-26      0.000977    0.0  0.001465      0.0        0.0   0.0   0.0
2020-09-27      0.000488    0.0  0.000732      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned Washakie Weston
2020-09-25      -0.999969      0.0    NaN
2020-09-26      -0.999969      0.0    NaN
2020-09-27      -0.999969      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200927,AK,8431,434554,NaN,442869,43.0,NaN,NaN,NaN,...,442985,4,0,0e31d4ec1f53f08bad068d6295b2cede60fd0b6b,0,0,0,0,0,NaN
1,20200927,AL,152321,975685,NaN,1111239,741.0,16852.0,NaN,1791.0,...,1128006,0,0,9caeb5e62982ebd77096043a91075390c6e5e7f3,0,0,0,0,0,NaN
2,20200927,AR,81242,861892,NaN,940627,452.0,5235.0,211.0,NaN,...,943134,23,33,1383566a86c446fbab10499d61477c713a6d853a,0,0,0,0,0,NaN
3,20200927,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,...,1571,0,0,2153f0c1fadb4040be5775010cabe901a40e4ee7,0,0,0,0,0,NaN
4,20200927,AZ,217237,1230608,NaN,1443323,483.0,22015.0,116.0,NaN,...,1447845,1,10,d32d753876065a384f715e9774370ea8d39803df,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200927,AK,8431.0,434554.0,NaN,442869.0,43.0,NaN,NaN,NaN,...,442985,4,0,0e31d4ec1f53f08bad068d6295b2cede60fd0b6b,0,0,0,0,0,NaN
1,20200927,AL,152321.0,975685.0,NaN,1111239.0,741.0,16852.0,NaN,1791.0,...,1128006,0,0,9caeb5e62982ebd77096043a91075390c6e5e7f3,0,0,0,0,0,NaN
2,20200927,AR,81242.0,861892.0,NaN,940627.0,452.0,5235.0,211.0,NaN,...,943134,23,33,1383566a86c446fbab10499d61477c713a6d853a,0,0,0,0,0,NaN
3,20200927,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,...,1571,0,0,2153f0c1fadb4040be5775010cabe901a40e4ee7,0,0,0,0,0,NaN
4,20200927,AZ,217237.0,1230608.0,NaN,1443323.0,483.0,22015.0,116.0,NaN,...,1447845,1,10,d32d753876065a384f715e9774370ea8d39803df,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-27,AK,8431,434554,NaN,442869,43.0,NaN,NaN,NaN,14.0,...,442985,4,0,0e31d4ec1f53f08bad068d6295b2cede60fd0b6b,0,0,0,0,0,NaN
2020-09-27,AL,152321,975685,NaN,1111239,741.0,16852.0,NaN,1791.0,NaN,...,1128006,0,0,9caeb5e62982ebd77096043a91075390c6e5e7f3,0,0,0,0,0,NaN
2020-09-27,AR,81242,861892,NaN,940627,452.0,5235.0,211.0,NaN,86.0,...,943134,23,33,1383566a86c446fbab10499d61477c713a6d853a,0,0,0,0,0,NaN
2020-09-27,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,2153f0c1fadb4040be5775010cabe901a40e4ee7,0,0,0,0,0,NaN
2020-09-27,AZ,217237,1230608,NaN,1443323,483.0,22015.0,116.0,NaN,59.0,...,1447845,1,10,d32d753876065a384f715e9774370ea8d39803df,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-27,AK,8431.0,434554.0,NaN,442869.0,43.0,NaN,NaN,NaN,14.0,...,442985,4,0,0e31d4ec1f53f08bad068d6295b2cede60fd0b6b,0,0,0,0,0,NaN
2020-09-27,AL,152321.0,975685.0,NaN,1111239.0,741.0,16852.0,NaN,1791.0,NaN,...,1128006,0,0,9caeb5e62982ebd77096043a91075390c6e5e7f3,0,0,0,0,0,NaN
2020-09-27,AR,81242.0,861892.0,NaN,940627.0,452.0,5235.0,211.0,NaN,86.0,...,943134,23,33,1383566a86c446fbab10499d61477c713a6d853a,0,0,0,0,0,NaN
2020-09-27,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,2153f0c1fadb4040be5775010cabe901a40e4ee7,0,0,0,0,0,NaN
2020-09-27,AZ,217237.0,1230608.0,NaN,1443323.0,483.0,22015.0,116.0,NaN,59.0,...,1447845,1,10,d32d753876065a384f715e9774370ea8d39803df,0,0,0,0,0,NaN