# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'07-29-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'07-29-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-07-30 04:21:34,33.93911,67.709953,145996,6615,82586.0,56795.0,Afghanistan,375.037816,4.530946
1,NaN,NaN,NaN,Albania,2021-07-30 04:21:34,41.15330,20.168300,132999,2457,130187.0,355.0,Albania,4621.551185,1.847382
2,NaN,NaN,NaN,Algeria,2021-07-30 04:21:34,28.03390,1.659600,168668,4189,113707.0,50772.0,Algeria,384.638514,2.483577
3,NaN,NaN,NaN,Andorra,2021-07-30 04:21:34,42.50630,1.521800,14655,127,14180.0,348.0,Andorra,18967.190837,0.866598
4,NaN,NaN,NaN,Angola,2021-07-30 04:21:34,-11.20270,17.873900,42486,1003,36025.0,5458.0,Angola,129.269316,2.360778

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,142414,142414,143183,143439,143439,143439,144285,145008,145552,145996
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132740,132763,132797,132828,132853,132875,132891,132922,132952,132999
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,155784,157005,158213,159563,160868,162155,163660,165204,167131,168668

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,6266,6266,6325,6357,6357,6357,6477,6515,6577,6615
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2456,2456,2456,2456,2456,2456,2456,2456,2457,2457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3979,3994,4008,4026,4042,4063,4087,4112,4161,4189

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,82586
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,130086,130097,130109,130118,130125,130139,130152,130166,130174,130187
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,107041,107776,108537,109349,109951,110577,111322,112050,112900,113707

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7365,7375,7388,7394,7402,7419,7435,7456,7479,7479
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,23032,23184,23319,23487,23668,23810,23922,24213,24499,24499
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2411,2415,2418,2422,2431,2434,2437,2451,2462,2462

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,113,113,113,113,114,114,114
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,324,324,324,324,325,325,325,326,328,328
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,60,60,60,60,61,61,61,61,61,61

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-07-30 04:21:34,32.539527,-86.644082,7479,114,NaN,NaN,"Autauga, Alabama, US",13386.672394,1.524268
693,1075.0,Lamar,Alabama,US,2021-07-30 04:21:34,33.779950,-88.096680,1499,38,NaN,NaN,"Lamar, Alabama, US",10858.384643,2.535023
694,1077.0,Lauderdale,Alabama,US,2021-07-30 04:21:34,34.901719,-87.656247,10083,254,NaN,NaN,"Lauderdale, Alabama, US",10873.620982,2.519092

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               34750860  612122         0.0
India            31528114  422662  30701612.0
Brazil           19839369  554497  17771228.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,34750860,612122,0.0,34138738.0,2021-07-30 04:21:34,37.950547,-91.419547
India,31528114,422662,30701612.0,403840.0,2021-07-30 04:21:34,23.088275,81.806127
Brazil,19839369,554497,17771228.0,1513644.0,2021-07-30 04:21:34,-12.669522,-48.480493
France,6142282,111951,412373.0,5617958.0,2021-07-30 04:21:34,6.430808,-34.730285
Russia,6138969,154404,5500409.0,484156.0,2021-07-30 04:21:34,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3944933   64386        0.0
Texas             3119924   53186        0.0
Florida           2523510   38670        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3944933,64386,0.0,3880547.0,2021-07-30 04:21:34,37.843962,-120.728594
Texas,3119924,53186,0.0,3066738.0,2021-07-30 04:21:34,31.660643,-98.653069
Florida,2523510,38670,0.0,2484840.0,2021-07-30 04:21:34,28.940755,-82.700744
New York,2144741,53625,0.0,2091116.0,2021-07-30 04:21:34,42.544151,-75.474183
Illinois,1417263,25865,0.0,1391398.0,2021-07-30 04:21:34,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1293583   24677        0.0
Arizona        Maricopa        579331   10435        0.0
Illinois       Cook            563452   10564        0.0
Florida        Miami-Dade      533821    6472        0.0
Texas          Harris          418911    6703        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1293583,24677,0.0,1268906.0,2021-07-30 04:21:34,34.308284,-118.228241,6037.0
Arizona,Maricopa,579331,10435,0.0,568896.0,2021-07-30 04:21:34,33.348359,-112.491815,4013.0
Illinois,Cook,563452,10564,0.0,552888.0,2021-07-30 04:21:34,41.841448,-87.816588,17031.0
Florida,Miami-Dade,533821,6472,0.0,527349.0,2021-07-30 04:21:34,25.611236,-80.551706,12086.0
Texas,Harris,418911,6703,0.0,412208.0,2021-07-30 04:21:34,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,145008,132922,165204,14586,42110,1288,4875927,229090,33473,656949,...,5771732,380793,125784,4,301979,117121,316189,7022,192956,101711
2021-07-28,145552,132952,167131,14586,42288,1288,4891810,229370,33726,657501,...,5797445,380976,126627,4,302988,123640,316328,7027,193432,103567
2021-07-29,145996,132999,168668,14655,42486,1295,4905925,229603,33909,658004,...,5828316,381187,127506,4,303797,133405,316487,7042,194140,105656

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,6515,2456,4112,127,994,43,104352,4597,921,10737,...,129591,5941,845,1,3524,524,3600,1374,3316,3280
2021-07-28,6577,2457,4161,127,1000,43,104822,4597,923,10737,...,129718,5950,853,1,3542,630,3601,1374,3338,3340
2021-07-29,6615,2457,4189,127,1003,43,105113,4604,923,10737,...,129809,5953,859,1,3558,1022,3601,1374,3355,3421

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,82586,130166,112050,14113,35742,1229,4519922,219280,24013,641541,...,18908,372448,120320,3,285776,22946,311560,4168,183534,70496
2021-07-28,82586,130174,112900,14113,35964,1229,4529259,219379,24022,641880,...,19724,372721,121145,3,286795,27457,311622,4168,183957,71383
2021-07-29,82586,130187,113707,14180,36025,1235,4542904,219502,24036,642229,...,20638,373007,121718,3,287720,31780,311714,4171,185210,73394

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7365,7375,7388,7394,7402,7419,7435,7456,7479,7479
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1486,1489,1491,1491,1494,1495,1495,1497,1499,1499
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9830,9872,9883,9918,9968,9991,10009,10044,10083,10083
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3165,3170,3176,3183,3188,3192,3197,3211,3225,3225
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16630,16666,16691,16722,16753,16801,16828,16897,16949,16949

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-27,574737,74383,0,920084,378023,3927901,571958,353114,110943,49,...,886519,3095920,429300,24760,4450,691018,470333,166297,684119,64623
2021-07-28,577463,74911,0,921445,379726,3935590,572854,353505,111016,49,...,888745,3105208,430143,24804,4497,692105,471489,166493,685018,64623
2021-07-29,577463,74911,0,923204,382569,3944933,573907,353844,111129,49,...,891331,3119924,431256,24830,4514,693206,472362,166748,686013,64955

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-07-27        7456   24213    2451  2829   7233    1260   2376   15210
2021-07-28        7479   24499    2462  2845   7266    1261   2382   15252
2021-07-29        7479   24499    2462  2845   7266    1261   2382   15252

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-27         3880     1945  ...    2955    752     3306      849
2021-07-28         3898     1963  ...    2955    752     3306      849
2021-07-29         3898     1963  ...    2968    762     3321      857

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-27           4968  3883  2384          0      945    679
2021-07-28           4968  3883  2384          0      945    679
2021-07-29           4990  3897  2401          0      945    681

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-27,11492,384,0,18183,6087,64292,6922,8288,1698,0,...,12703,53078,2441,259,36,11515,6097,2936,8184,776
2021-07-28,11510,386,0,18185,6099,64341,6924,8288,1698,0,...,12715,53149,2447,259,36,11522,6100,2939,8282,776
2021-07-29,11510,386,0,18200,6110,64386,6935,8293,1700,0,...,12723,53186,2450,259,36,11525,6119,2944,8287,776

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-07-27         114     326      61   65    139      42     72     332
2021-07-28         114     328      61   65    139      42     72     332
2021-07-29         114     328      61   65    139      42     72     332

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-27          125       48  ...      34     14       31        8
2021-07-28          125       48  ...      34     14       31        8
2021-07-29          125       48  ...      34     14       31        8

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-27             44    11    14          0       26      6
2021-07-28             44    11    14          0       26      6
2021-07-29             44    11    14          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,0.005011,0.000233,0.009434,0.000617,0.005516,0.006250,0.003449,0.000786,0.006223,0.000559,...,0.004071,0.000549,0.006312,0.0,0.003523,0.101310,0.000320,0.001426,0.003328,0.017680
2021-07-28,0.003752,0.000226,0.011664,0.000000,0.004227,0.000000,0.003257,0.001222,0.007558,0.000840,...,0.004455,0.000481,0.006702,0.0,0.003341,0.055660,0.000440,0.000712,0.002467,0.018248
2021-07-29,0.003050,0.000354,0.009196,0.004731,0.004682,0.005435,0.002885,0.001016,0.005426,0.000765,...,0.005325,0.000554,0.006942,0.0,0.002670,0.078979,0.000503,0.002135,0.003660,0.020171

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,0.005867,0.000000,0.006117,0.0,0.003027,0.0,0.002373,0.001525,-0.001085,0.000466,...,0.001012,0.000842,0.007151,0.0,0.004275,0.000000,0.000278,0.000728,0.006373,0.033722
2021-07-28,0.009517,0.000407,0.011916,0.0,0.006036,0.0,0.004504,0.000000,0.002172,0.000000,...,0.000980,0.001515,0.009467,0.0,0.005108,0.202290,0.000278,0.000000,0.006634,0.018293
2021-07-29,0.005778,0.000000,0.006729,0.0,0.003000,0.0,0.002776,0.001523,0.000000,0.000000,...,0.000702,0.000504,0.007034,0.0,0.004517,0.622222,0.000000,0.000000,0.005093,0.024251

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,0.0,0.000108,0.006540,0.002557,0.001569,0.000000,0.002614,0.000511,0.000208,0.000497,...,0.019519,0.000717,0.007292,0.0,0.004715,0.075056,0.000109,0.00048,0.004757,0.039350
2021-07-28,0.0,0.000061,0.007586,0.000000,0.006211,0.000000,0.002066,0.000451,0.000375,0.000528,...,0.043156,0.000733,0.006857,0.0,0.003566,0.196592,0.000199,0.00000,0.002305,0.012582
2021-07-29,0.0,0.000100,0.007148,0.004747,0.001696,0.004882,0.003013,0.000561,0.000583,0.000544,...,0.046339,0.000767,0.004730,0.0,0.003225,0.157446,0.000295,0.00072,0.006811,0.028172

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-27,0.004662,0.000000,NaN,0.001606,0.005458,0.002627,0.001525,0.001384,0.000731,0.0,...,0.002377,0.004071,0.001430,0.000485,0.010675,0.001210,0.002184,0.001138,0.001578,0.002669
2021-07-28,0.004743,0.007098,NaN,0.001479,0.004505,0.001958,0.001567,0.001107,0.000658,0.0,...,0.002511,0.003000,0.001964,0.001777,0.010562,0.001573,0.002458,0.001179,0.001314,0.000000
2021-07-29,0.000000,0.000000,NaN,0.001909,0.007487,0.002374,0.001838,0.000959,0.001018,0.0,...,0.002910,0.004739,0.002588,0.001048,0.003780,0.001591,0.001852,0.001532,0.001453,0.005137

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-07-27      0.002824  0.012165  0.005745  0.005330  0.005281  0.003185
2021-07-28      0.003085  0.011812  0.004488  0.005656  0.004562  0.000794
2021-07-29      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-07-27      0.004651  0.003431  0.005963  0.003094  ...  0.003055
2021-07-28      0.002525  0.002761  0.004639  0.009254  ...  0.000000
2021-07-29      0.000000  0.000000  0.000000  0.000000  ...  0.004399

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-07-27      0.013477  0.002730  0.008314   0.002624  0.000515  0.000840
2021-07-28      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-07-29      0.013298  0.004537  0.009423   0.004428  0.003605  0.007131

Province_State
Admin2         Unassigned  Washakie    Weston
2021-07-27            NaN  0.001059  0.002954
2021-07-28            NaN  0.000000  0.000000
2021-07-29            NaN  0.000000  0.002946

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-27,0.000784,0.000000,NaN,0.000660,0.001646,0.000389,-0.000289,0.000000,0.000000,NaN,...,0.001577,0.000773,0.002876,0.0,0.028571,0.000782,0.001314,0.000000,-0.008361,0.013055
2021-07-28,0.001566,0.005208,NaN,0.000110,0.001971,0.000762,0.000289,0.000000,0.000000,NaN,...,0.000945,0.001338,0.002458,0.0,0.000000,0.000608,0.000492,0.001022,0.011975,0.000000
2021-07-29,0.000000,0.000000,NaN,0.000825,0.001804,0.000699,0.001589,0.000603,0.001178,NaN,...,0.000629,0.000696,0.001226,0.0,0.000000,0.000260,0.003115,0.001701,0.000604,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State  Alabama                                                       \
Admin2          Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-07-27      0.00885  0.003077     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-28      0.00000  0.006135     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-29      0.00000  0.000000     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ...   Wyoming                            \
Admin2         Chambers Cherokee  ...      Park Platte Sheridan  Sublette
2021-07-27          0.0      0.0  ...  0.030303    0.0      0.0  0.142857
2021-07-28          0.0      0.0  ...  0.000000    0.0      0.0  0.000000
2021-07-29          0.0      0.0  ...  0.000000    0.0      0.0  0.000000

Province_State
Admin2         Sweetwater Teton     Uinta Unassigned Washakie Weston
2021-07-27       0.023256   0.0  0.076923        NaN      0.0    0.0
2021-07-28       0.000000   0.0  0.000000        NaN      0.0    0.0
2021-07-29       0.000000   0.0  0.000000        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,0.004200,0.000194,0.009059,0.001855,0.003935,0.003307,0.002901,0.000733,0.005749,0.000533,...,0.004549,0.000483,0.006073,1.051815e-30,0.003634,0.083788,0.000220,0.000858,0.002966,0.017507
2021-07-28,0.003976,0.000210,0.010362,0.000928,0.004081,0.001654,0.003079,0.000978,0.006654,0.000687,...,0.004502,0.000482,0.006388,5.259073e-31,0.003488,0.069724,0.000330,0.000785,0.002716,0.017877
2021-07-29,0.003513,0.000282,0.009779,0.002829,0.004382,0.003544,0.002982,0.000997,0.006040,0.000726,...,0.004913,0.000518,0.006665,2.629536e-31,0.003079,0.074352,0.000416,0.001460,0.003188,0.019024

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,0.008070,1.008187e-13,0.005697,1.068617e-28,0.003861,0.001488,0.002601,0.001118,0.000704,0.000264,...,0.000637,0.000874,0.007489,0.0,0.004719,0.105725,0.000292,0.000428,0.006896,0.028605
2021-07-28,0.008793,2.035831e-04,0.008806,5.343086e-29,0.004948,0.000744,0.003552,0.000559,0.001438,0.000132,...,0.000808,0.001195,0.008478,0.0,0.004914,0.154008,0.000285,0.000214,0.006765,0.023449
2021-07-29,0.007285,1.017915e-04,0.007768,2.671543e-29,0.003974,0.000372,0.003164,0.001041,0.000719,0.000066,...,0.000755,0.000849,0.007756,0.0,0.004715,0.388115,0.000143,0.000107,0.005929,0.023850

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-27,4.524212e-07,0.000100,0.006458,0.002952,0.002989,0.000206,0.002910,0.000511,0.000231,0.000451,...,0.017711,0.000859,0.006743,2.524355e-29,0.004455,0.091590,0.000165,0.000295,0.005621,0.032737
2021-07-28,2.262106e-07,0.000081,0.007022,0.001476,0.004600,0.000103,0.002488,0.000481,0.000303,0.000490,...,0.030433,0.000796,0.006800,1.262177e-29,0.004011,0.144091,0.000182,0.000148,0.003963,0.022660
2021-07-29,1.131053e-07,0.000090,0.007085,0.003112,0.003148,0.002493,0.002750,0.000521,0.000443,0.000517,...,0.038386,0.000782,0.005765,6.310887e-30,0.003618,0.150769,0.000239,0.000434,0.005387,0.025416

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-27,0.003668,0.002194,NaN,0.001596,0.004135,0.002367,0.001626,0.001152,0.000675,4.159913e-151,...,0.002319,0.002803,0.002104,0.001043,0.007939,0.001353,0.002875,0.001239,0.001184,0.002236
2021-07-28,0.004205,0.004646,NaN,0.001538,0.004320,0.002162,0.001597,0.001130,0.000666,2.079957e-151,...,0.002415,0.002902,0.002034,0.001410,0.009250,0.001463,0.002667,0.001209,0.001249,0.001118
2021-07-29,0.002103,0.002323,NaN,0.001723,0.005904,0.002268,0.001717,0.001044,0.000842,1.039978e-151,...,0.002662,0.003820,0.002311,0.001229,0.006515,0.001527,0.002259,0.001370,0.001351,0.003128

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-07-27      0.002380  0.008897  0.003681  0.004714  0.003368  0.001699
2021-07-28      0.002732  0.010355  0.004085  0.005185  0.003965  0.001246
2021-07-29      0.001366  0.005177  0.002042  0.002592  0.001983  0.000623

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-07-27      0.003543  0.002725  0.004031  0.002101  ...  0.002086
2021-07-28      0.003034  0.002743  0.004335  0.005678  ...  0.001043
2021-07-29      0.001517  0.001372  0.002168  0.002839  ...  0.002721

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-07-27      0.008267  0.001909  0.005629   0.002209  0.001191  0.001630
2021-07-28      0.004134  0.000955  0.002815   0.001105  0.000595  0.000815
2021-07-29      0.008716  0.002746  0.006119   0.002767  0.002100  0.003973

Province_State
Admin2         Unassigned  Washakie    Weston
2021-07-27           -1.0  0.001016  0.003480
2021-07-28           -1.0  0.000508  0.001740
2021-07-29           -1.0  0.000254  0.002343

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-27,0.000478,0.000184,NaN,0.000453,0.002061,0.000348,0.000426,0.000068,0.000019,NaN,...,0.001211,0.000578,0.002395,0.000008,0.015355,0.000549,0.001259,0.000099,-0.003742,0.006559
2021-07-28,0.001022,0.002696,NaN,0.000281,0.002016,0.000555,0.000357,0.000034,0.000009,NaN,...,0.001078,0.000958,0.002426,0.000004,0.007677,0.000578,0.000876,0.000561,0.004117,0.003279
2021-07-29,0.000511,0.001348,NaN,0.000553,0.001910,0.000627,0.000973,0.000319,0.000594,NaN,...,0.000853,0.000827,0.001826,0.000002,0.003839,0.000419,0.001995,0.001131,0.002360,0.001640

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour          Bibb        Blount
2021-07-27      0.004425  0.001745  0.001042  7.450581e-09  3.883298e-25
2021-07-28      0.002212  0.003940  0.000521  3.725290e-09  1.941649e-25
2021-07-29      0.001106  0.001970  0.000260  1.862645e-09  9.708244e-26

Province_State                                                       ...  \
Admin2               Bullock   Butler   Calhoun  Chambers  Cherokee  ...
2021-07-27      1.291290e-24  0.00044  0.000012  0.000253  0.000665  ...
2021-07-28      6.456448e-25  0.00022  0.000006  0.000126  0.000332  ...
2021-07-29      3.228224e-25  0.00011  0.000003  0.000063  0.000166  ...

Province_State   Wyoming                                                   \
Admin2              Park        Platte      Sheridan  Sublette Sweetwater
2021-07-27      0.015152  2.347664e-06  1.530903e-42  0.071429   0.011819
2021-07-28      0.007576  1.173832e-06  7.654515e-43  0.035714   0.005910
2021-07-29      0.003788  5.869160e-07  3.827258e-43  0.017857   0.002955

Province_State
Admin2                 Teton     Uinta Unassigned      Washakie        Weston
2021-07-27      3.947460e-16  0.038462   0.752941  4.178601e-55  3.552714e-16
2021-07-28      1.973730e-16  0.019231   0.752941  2.089300e-55  1.776357e-16
2021-07-29      9.868649e-17  0.009615   0.752941  1.044650e-55  8.881784e-17

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN