# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'07-02-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'07-02-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-07-03 04:21:37,33.93911,67.709953,120216,4962,72700.0,42554.0,Afghanistan,308.813571,4.127570
1,NaN,NaN,NaN,Albania,2021-07-03 04:21:37,41.15330,20.168300,132526,2456,130018.0,52.0,Albania,4605.115018,1.853221
2,NaN,NaN,NaN,Algeria,2021-07-03 04:21:37,28.03390,1.659600,140550,3735,97701.0,39114.0,Algeria,320.516892,2.657417
3,NaN,NaN,NaN,Andorra,2021-07-03 04:21:37,42.50630,1.521800,13918,127,13721.0,70.0,Andorra,18013.330745,0.912487
4,NaN,NaN,NaN,Angola,2021-07-03 04:21:37,-11.20270,17.873900,39089,906,33375.0,4808.0,Angola,118.933491,2.317788

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,107957,109532,111592,111592,111592,115751,117158,118659,120216,120216
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132497,132499,132506,132509,132512,132513,132514,132521,132523,132526
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,137049,137403,137772,138113,138465,138840,139229,139626,140075,140550

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,4366,4452,4519,4519,4519,4730,4794,4871,4962,4962
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2455,2455,2455,2456,2456,2456,2456,2456,2456,2456
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3660,3669,3678,3685,3693,3699,3708,3716,3726,3735

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,66102,66799,67183,67483,68288,69205,70016,71012,71924,72700
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129955,129966,129975,129982,129990,129994,130002,130009,130014,130018
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,95331,95599,95878,96108,96335,96572,96815,97089,97380,97701

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7244,7244,7244,7244,7244,7247,7247,7257,7257,7262
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21921,21921,21945,21945,21945,21985,21985,22027,22027,22043
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2344,2344,2344,2344,2344,2345,2345,2346,2346,2347

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,113,113,113,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,314,314,314,314,314,314,314,315,315,315
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,60,60,60,60,60,60,60,60,60,60

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-07-03 04:21:37,32.539527,-86.644082,7262,113,NaN,NaN,"Autauga, Alabama, US",12998.263796,1.556045
693,1075.0,Lamar,Alabama,US,2021-07-03 04:21:37,33.779950,-88.096680,1476,38,NaN,NaN,"Lamar, Alabama, US",10691.778341,2.574526
694,1077.0,Lauderdale,Alabama,US,2021-07-03 04:21:37,34.901719,-87.656247,9653,251,NaN,NaN,"Lauderdale, Alabama, US",10409.904129,2.600228

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33709131  605524         0.0
India            30458251  400312  29548302.0
Brazil           18687469  521952  16509821.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33709131,605524,0.0,33103607.0,2021-07-03 04:21:37,37.950547,-91.419547
India,30458251,400312,29548302.0,509637.0,2021-07-03 04:21:37,23.088275,81.806127
Brazil,18687469,521952,16509821.0,1655696.0,2021-07-03 04:21:37,-12.669522,-48.480493
France,5842616,111297,405854.0,5325465.0,2021-07-03 04:21:37,6.430808,-34.730285
Russia,5495513,134302,4976901.0,384310.0,2021-07-03 04:21:37,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3819662   63762        0.0
Texas             3003278   52453        0.0
Florida           2381148   37985        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3819662,63762,0.0,3755900.0,2021-07-03 04:21:37,37.843962,-120.728594
Texas,3003278,52453,0.0,2950825.0,2021-07-03 04:21:37,31.660643,-98.653069
Florida,2381148,37985,0.0,2343163.0,2021-07-03 04:21:37,28.940755,-82.700744
New York,2115880,53692,0.0,2062188.0,2021-07-03 04:21:37,42.544151,-75.474183
Illinois,1392552,25678,0.0,1366874.0,2021-07-03 04:21:37,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1251259   24506        0.0
Arizona        Maricopa        560728   10294        0.0
Illinois       Cook            557173   10494        0.0
Florida        Miami-Dade      511394    6472        0.0
Texas          Harris          403240    6595        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1251259,24506,0.0,1226753.0,2021-07-03 04:21:37,34.308284,-118.228241,6037.0
Arizona,Maricopa,560728,10294,0.0,550434.0,2021-07-03 04:21:37,33.348359,-112.491815,4013.0
Illinois,Cook,557173,10494,0.0,546679.0,2021-07-03 04:21:37,41.841448,-87.816588,17031.0
Florida,Miami-Dade,511394,6472,0.0,504922.0,2021-07-03 04:21:37,25.611236,-80.551706,12086.0
Texas,Harris,403240,6595,0.0,396645.0,2021-07-03 04:21:37,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,118659,132521,139626,13911,38849,1263,4470374,225095,30643,650412,...,4817298,369350,110677,4,272712,17052,314167,6920,154948,49864
2021-07-01,120216,132523,140075,13918,38965,1264,4491551,225221,30684,650474,...,4844944,370600,111153,4,274024,17727,314288,6923,157832,51221
2021-07-02,120216,132526,140550,13918,39089,1264,4512439,225339,30734,650569,...,4871807,371417,111648,4,275205,18121,314409,6924,160613,52663

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,4871,2456,3716,127,900,42,94304,4514,910,10702,...,128404,5593,736,1,3119,81,3563,1361,2199,1789
2021-07-01,4962,2456,3726,127,903,42,94772,4517,910,10706,...,128426,5619,740,1,3136,81,3565,1361,2271,1808
2021-07-02,4962,2456,3735,127,906,42,95382,4518,910,10709,...,128453,5642,742,1,3154,84,3570,1361,2341,1841

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,71012,130009,97089,13720,33242,1221,4076921,216778,23811,637751,...,15736,348489,107063,3,253946,6840,308186,4068,131792,39121
2021-07-01,71924,130014,97380,13721,33271,1222,4092053,216882,23819,637909,...,15753,350291,107696,3,255256,7247,308303,4081,134419,39411
2021-07-02,72700,130018,97701,13721,33375,1222,4114096,216997,23829,638032,...,15755,352118,108009,3,256481,7395,308413,4082,137819,39568

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7244,7244,7244,7244,7244,7247,7247,7257,7257,7262
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1472,1472,1472,1472,1472,1472,1472,1476,1476,1476
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9621,9621,9632,9632,9632,9640,9640,9645,9645,9653
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3135,3135,3135,3135,3135,3136,3136,3144,3144,3144
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16301,16301,16317,16317,16317,16319,16319,16332,16332,16343

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-30,550983,71275,0,894875,349385,3816659,557791,349352,109744,49,...,866964,3000069,415139,24410,3858,680340,451595,164041,677622,62290
2021-07-01,550983,71275,0,895347,350085,3818326,558321,349387,109770,49,...,867157,3001682,415679,24412,3895,680564,452072,164097,677740,62353
2021-07-02,551298,71384,0,895873,350579,3819662,558820,349476,109820,49,...,867407,3003278,416110,24419,3895,680744,452483,164149,677859,62445

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-06-30        7257   22027    2346  2693   6987    1249   2262   14776
2021-07-01        7257   22027    2346  2693   6987    1249   2262   14776
2021-07-02        7262   22043    2347  2693   6988    1250   2264   14778

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-30         3736     1874  ...    2904    681     3270      797
2021-07-01         3736     1874  ...    2904    682     3270      797
2021-07-02         3738     1874  ...    2903    684     3273      797

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-30           4771  3801  2320          0      926    657
2021-07-01           4780  3801  2320          0      926    658
2021-07-02           4788  3802  2321          0      927    661

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-30,11352,377,0,17936,5909,63647,6794,8278,1694,0,...,12562,52337,2371,256,30,11415,5930,2891,8128,747
2021-07-01,11352,377,0,17939,5909,63712,6798,8279,1694,0,...,12568,52410,2375,257,30,11419,5938,2897,8134,747
2021-07-02,11358,377,0,17961,5913,63762,6802,8279,1695,0,...,12571,52453,2378,258,30,11423,5939,2899,8135,747

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-30         113     315      60   64    139      42     71     330
2021-07-01         113     315      60   64    139      42     71     330
2021-07-02         113     315      60   64    139      42     71     330

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-30          123       45  ...      32     13       31        7
2021-07-01          123       45  ...      32     13       31        7
2021-07-02          123       45  ...      32     13       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-30             40    11    13          0       26      6
2021-07-01             40    11    13          0       26      6
2021-07-02             40    11    13          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,0.012812,0.000053,0.002851,0.000791,0.004317,0.000000,0.005098,0.000569,0.001340,0.000091,...,0.005357,0.003183,0.004420,0.0,0.007604,0.033016,0.001007,0.000289,0.019019,0.027425
2021-07-01,0.013122,0.000015,0.003216,0.000503,0.002986,0.000792,0.004737,0.000560,0.001338,0.000095,...,0.005739,0.003384,0.004301,0.0,0.004811,0.039585,0.000385,0.000434,0.018613,0.027214
2021-07-02,0.000000,0.000023,0.003391,0.000000,0.003182,0.000000,0.004651,0.000524,0.001630,0.000146,...,0.005545,0.002205,0.004453,0.0,0.004310,0.022226,0.000385,0.000144,0.017620,0.028153

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,0.016062,0.0,0.002157,0.0,0.006711,0.0,0.006790,0.000000,0.0,0.000187,...,0.000109,0.006297,0.004093,0.0,0.011349,0.012500,0.000562,0.0,0.028531,0.015900
2021-07-01,0.018682,0.0,0.002691,0.0,0.003333,0.0,0.004963,0.000665,0.0,0.000374,...,0.000171,0.004649,0.005435,0.0,0.005450,0.000000,0.000561,0.0,0.032742,0.010620
2021-07-02,0.000000,0.0,0.002415,0.0,0.003322,0.0,0.006437,0.000221,0.0,0.000280,...,0.000210,0.004093,0.002703,0.0,0.005740,0.037037,0.001403,0.0,0.030823,0.018252

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,0.014225,0.000054,0.002830,0.000219,0.004928,0.000000,0.003613,0.000277,0.000210,0.000216,...,0.000127,0.004705,0.006080,0.0,0.009376,0.011236,0.000955,0.003206,0.027121,0.020823
2021-07-01,0.012843,0.000038,0.002997,0.000073,0.000872,0.000819,0.003712,0.000480,0.000336,0.000248,...,0.001080,0.005171,0.005912,0.0,0.005159,0.059503,0.000380,0.003196,0.019933,0.007413
2021-07-02,0.010789,0.000031,0.003296,0.000000,0.003126,0.000000,0.005387,0.000530,0.000420,0.000193,...,0.000127,0.005216,0.002906,0.0,0.004799,0.020422,0.000357,0.000245,0.025294,0.003984

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-30,0.000966,0.001236,NaN,0.000860,0.001967,-0.000431,0.000797,0.000146,0.000292,0.0,...,0.000142,0.000918,0.001385,0.000164,0.00000,0.000404,0.000769,0.000299,0.000134,0.001527
2021-07-01,0.000000,0.000000,NaN,0.000527,0.002004,0.000437,0.000950,0.000100,0.000237,0.0,...,0.000223,0.000538,0.001301,0.000082,0.00959,0.000329,0.001056,0.000341,0.000174,0.001011
2021-07-02,0.000572,0.001529,NaN,0.000587,0.001411,0.000350,0.000894,0.000255,0.000455,0.0,...,0.000288,0.000532,0.001037,0.000287,0.00000,0.000264,0.000909,0.000317,0.000176,0.001475

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-30      0.001380  0.001910  0.000426  0.002233  0.001720  0.000000
2021-07-01      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2021-07-02      0.000689  0.000726  0.000426  0.000000  0.000143  0.000801

Province_State                                         ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers Cherokee  ...      Park
2021-06-30      0.003104  0.000677  0.000536      0.0  ...  0.000000
2021-07-01      0.000000  0.000000  0.000000      0.0  ...  0.000000
2021-07-02      0.000884  0.000135  0.000535      0.0  ... -0.000344

Province_State                                                              \
Admin2            Platte  Sheridan Sublette Sweetwater     Teton     Uinta
2021-06-30      0.000000  0.000612      0.0   0.002943  0.000000  0.000431
2021-07-01      0.001468  0.000000      0.0   0.001886  0.000000  0.000000
2021-07-02      0.002933  0.000917      0.0   0.001674  0.000263  0.000431

Province_State
Admin2         Unassigned Washakie    Weston
2021-06-30            NaN  0.00000  0.000000
2021-07-01            NaN  0.00000  0.001522
2021-07-02            NaN  0.00108  0.004559

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-30,0.001235,0.008021,NaN,0.000335,0.000677,0.000409,0.000884,0.000242,0.00000,NaN,...,-0.000159,0.000554,0.001267,0.000000,0.0,0.000263,0.001689,0.004168,0.000246,0.0
2021-07-01,0.000000,0.000000,NaN,0.000167,0.000000,0.001021,0.000589,0.000121,0.00000,NaN,...,0.000478,0.001395,0.001687,0.003906,0.0,0.000350,0.001349,0.002075,0.000738,0.0
2021-07-02,0.000529,0.000000,NaN,0.001226,0.000677,0.000785,0.000588,0.000000,0.00059,NaN,...,0.000239,0.000820,0.001263,0.003891,0.0,0.000350,0.000168,0.000690,0.000123,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-06-30         0.0  0.003185     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-01         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2021-07-02         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                     ... Wyoming                           \
Admin2          Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-06-30     -0.008065      0.0  ...     0.0    0.0      0.0      0.0
2021-07-01      0.000000      0.0  ...     0.0    0.0      0.0      0.0
2021-07-02      0.000000      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-06-30            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-01            0.0   0.0   0.0        NaN      0.0    0.0
2021-07-02            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,0.014684,0.000032,0.002785,0.000732,0.003121,9.281721e-12,0.004906,0.000489,0.001274,0.000088,...,0.004752,0.003240,0.004454,1.411722e-22,0.005374,0.029350,0.000623,0.000524,0.016797,0.024291
2021-07-01,0.013903,0.000024,0.003000,0.000618,0.003054,3.958828e-04,0.004822,0.000524,0.001306,0.000092,...,0.005245,0.003312,0.004377,7.058608e-23,0.005092,0.034467,0.000504,0.000479,0.017705,0.025752
2021-07-02,0.006951,0.000023,0.003196,0.000309,0.003118,1.979414e-04,0.004736,0.000524,0.001468,0.000119,...,0.005395,0.002758,0.004415,3.529304e-23,0.004701,0.028347,0.000444,0.000312,0.017662,0.026952

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,0.017818,0.000014,0.002163,1.434274e-20,0.004866,7.973420e-15,0.006055,0.000318,9.099897e-28,0.000099,...,0.000118,0.005953,0.003403,0.0,0.007607,0.018423,0.000410,0.000225,0.027746,0.011282
2021-07-01,0.018250,0.000007,0.002427,7.171369e-21,0.004100,3.986710e-15,0.005509,0.000491,4.549948e-28,0.000236,...,0.000145,0.005301,0.004419,0.0,0.006529,0.009211,0.000486,0.000113,0.030244,0.010951
2021-07-02,0.009125,0.000003,0.002421,3.585685e-21,0.003711,1.993355e-15,0.005973,0.000356,2.274974e-28,0.000258,...,0.000177,0.004697,0.003561,0.0,0.006134,0.023124,0.000944,0.000056,0.030534,0.014602

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-06-30,0.012843,0.000054,0.002662,0.000489,0.005012,3.519417e-07,0.003970,0.000316,0.000363,0.000194,...,0.000247,0.005582,0.006073,3.388132e-21,0.006434,0.022640,0.000705,0.003534,0.021906,0.013603
2021-07-01,0.012843,0.000046,0.002830,0.000281,0.002942,4.096764e-04,0.003841,0.000398,0.000350,0.000221,...,0.000664,0.005376,0.005993,1.694066e-21,0.005796,0.041072,0.000542,0.003365,0.020919,0.010508
2021-07-02,0.011816,0.000039,0.003063,0.000140,0.003034,2.048382e-04,0.004614,0.000464,0.000385,0.000207,...,0.000395,0.005296,0.004450,8.470329e-22,0.005298,0.030747,0.000450,0.001805,0.023107,0.007246

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-30,0.000620,0.000901,NaN,0.000708,0.001705,-0.000071,0.000687,0.000162,0.000219,5.583341e-143,...,0.000084,0.000703,0.001084,0.000182,0.001635,0.000279,0.000773,0.000325,0.000148,0.001493
2021-07-01,0.000310,0.000451,NaN,0.000617,0.001854,0.000183,0.000819,0.000131,0.000228,2.791671e-143,...,0.000153,0.000620,0.001192,0.000132,0.005612,0.000304,0.000915,0.000333,0.000161,0.001252
2021-07-02,0.000441,0.000990,NaN,0.000602,0.001633,0.000266,0.000856,0.000193,0.000342,1.395835e-143,...,0.000221,0.000576,0.001115,0.000209,0.002806,0.000284,0.000912,0.000325,0.000168,0.001364

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-06-30      0.000743  0.001205  0.000265  0.001165  0.001031  0.000218
2021-07-01      0.000372  0.000603  0.000132  0.000582  0.000515  0.000109
2021-07-02      0.000530  0.000665  0.000279  0.000291  0.000329  0.000455

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-06-30      0.001596  0.000420  0.000313 -0.000004  ...  0.000145
2021-07-01      0.000798  0.000210  0.000156 -0.000002  ...  0.000073
2021-07-02      0.000841  0.000173  0.000346 -0.000001  ... -0.000136

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-06-30      0.000421  0.000453 -0.000034   0.002740  0.000013  0.000554
2021-07-01      0.000945  0.000226 -0.000017   0.002313  0.000006  0.000277
2021-07-02      0.001939  0.000572 -0.000009   0.001993  0.000135  0.000354

Province_State
Admin2         Unassigned  Washakie    Weston
2021-06-30           -1.0 -0.000015  0.000381
2021-07-01           -1.0 -0.000007  0.000952
2021-07-02           -1.0  0.000536  0.002755

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-06-30,0.000657,0.004021,NaN,0.000452,0.000780,0.000371,0.000963,0.000141,0.000033,NaN,...,0.000153,0.000469,0.001427,2.921887e-11,1.597356e-06,0.000432,0.001474,0.002276,0.000837,0.002397
2021-07-01,0.000329,0.002011,NaN,0.000310,0.000390,0.000696,0.000776,0.000131,0.000017,NaN,...,0.000315,0.000932,0.001557,1.953125e-03,7.986780e-07,0.000391,0.001412,0.002176,0.000788,0.001198
2021-07-02,0.000429,0.001005,NaN,0.000768,0.000533,0.000740,0.000682,0.000065,0.000303,NaN,...,0.000277,0.000876,0.001410,2.922088e-03,3.993390e-07,0.000371,0.000790,0.001433,0.000455,0.000599

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                                  \
Admin2               Autauga   Baldwin   Barbour          Bibb        Blount
2021-06-30      6.077837e-10  0.001593  0.000066  4.414539e-19  5.212074e-17
2021-07-01      3.038918e-10  0.000796  0.000033  2.207269e-19  2.606037e-17
2021-07-02      1.519459e-10  0.000398  0.000017  1.103635e-19  1.303018e-17

Province_State                                                                \
Admin2               Bullock        Butler   Calhoun  Chambers      Cherokee
2021-06-30      1.733139e-16  4.289501e-13  0.000072 -0.004032  4.817496e-24
2021-07-01      8.665697e-17  2.144750e-13  0.000036 -0.002016  2.408748e-24
2021-07-02      4.332849e-17  1.072375e-13  0.000018 -0.001008  1.204374e-24

Province_State  ...   Wyoming                                        \
Admin2          ...      Park    Platte      Sheridan      Sublette
2021-06-30      ...  0.016667  0.021188  2.054743e-34  9.026672e-55
2021-07-01      ...  0.008333  0.010594  1.027372e-34  4.513336e-55
2021-07-02      ...  0.004167  0.005297  5.136858e-35  2.256668e-55

Province_State                                                       \
Admin2            Sweetwater         Teton         Uinta Unassigned
2021-06-30      3.912510e-07  5.298191e-08  2.891206e-19   0.752941
2021-07-01      1.956255e-07  2.649095e-08  1.445603e-19   0.752941
2021-07-02      9.781275e-08  1.324548e-08  7.228014e-20   0.752941

Province_State
Admin2              Washakie        Weston
2021-06-30      5.608423e-47  4.768372e-08
2021-07-01      2.804212e-47  2.384186e-08
2021-07-02      1.402106e-47  1.192093e-08

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN