# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'09-14-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'09-14-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-15 03:22:50,33.93911,67.709953,38772,1425,32073,5274.0,Afghanistan,99.598388,3.675333
1,NaN,NaN,NaN,Albania,2020-09-15 03:22:50,41.15330,20.168300,11520,338,6615,4567.0,Albania,400.305789,2.934028
2,NaN,NaN,NaN,Algeria,2020-09-15 03:22:50,28.03390,1.659600,48496,1620,34204,12672.0,Algeria,110.592580,3.340482
3,NaN,NaN,NaN,Andorra,2020-09-15 03:22:50,42.50630,1.521800,1438,53,945,440.0,Andorra,1861.127289,3.685675
4,NaN,NaN,NaN,Angola,2020-09-15 03:22:50,-11.20270,17.873900,3439,136,1324,1979.0,Angola,10.463616,3.954638

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38324,38398,38494,38520,38544,38572,38606,38641,38716,38772
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,10102,10255,10406,10553,10704,10860,11021,11185,11353,11520
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,46071,46364,46653,46938,47216,47488,47752,48007,48254,48496

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1409,1412,1415,1418,1420,1420,1420,1420,1420,1425
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,312,316,319,321,322,324,327,330,334,338
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1549,1556,1562,1571,1581,1591,1599,1605,1612,1620

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,30082,30537,30557,30715,31048,31129,31154,31234,31638,32073
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,5976,6106,6186,6239,6284,6346,6443,6494,6569,6615
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,32481,32745,32985,33183,33379,33562,33723,33875,34037,34204

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1371,1377,1383,1385,1398,1413,1420,1432,1442,1447
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4542,4569,4586,4609,4639,4678,4722,4752,4781,4800
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,616,616,617,617,618,618,618,620,622,626

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,23,23,23,23,23,23,23,23,23,23
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,42,42,42,42,42,42,43,43,43,43
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
631,1001.0,Autauga,Alabama,US,2020-09-15 03:22:50,32.539527,-86.644082,1447,23,0,1424.0,"Autauga, Alabama, US",2589.987292,1.589496
668,1075.0,Lamar,Alabama,US,2020-09-15 03:22:50,33.779950,-88.096680,295,2,0,293.0,"Lamar, Alabama, US",2136.906918,0.677966
669,1077.0,Lauderdale,Alabama,US,2020-09-15 03:22:50,34.901719,-87.656247,1530,30,0,1500.0,"Lauderdale, Alabama, US",1649.969265,1.960784

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                6553399  194489    2474570
India             4846427   79722    3780107
Brazil            4345610  132006    3770138

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,6553399,194489,2474570,3884340,2020-09-15 03:22:50,37.923092,-91.345036
India,4846427,79722,3780107,986598,2020-09-15 03:22:50,23.088275,81.806127
Brazil,4345610,132006,3770138,443466,2020-09-15 03:22:50,-12.669522,-48.480493
Russia,1064438,18573,876152,169713,2020-09-15 03:22:50,54.546312,62.120860
Peru,729619,30710,566796,132113,2020-09-15 03:22:50,-10.637324,-75.277744

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         765134   14439          0
Texas              685748   14451          0
Florida            665730   12642          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,765134,14439,0,750695,2020-09-15 03:22:50,37.843962,-120.728594
Texas,685748,14451,0,671297,2020-09-15 03:22:50,31.660643,-98.653069
Florida,665730,12642,0,653088,2020-09-15 03:22:50,28.940755,-82.700744
New York,444948,33030,0,411918,2020-09-15 03:22:50,42.544151,-75.474183
Georgia,295337,6353,0,288984,2020-09-15 03:22:50,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     254656    6231          0
Florida        Miami-Dade      164299    2894          0
Arizona        Maricopa        137589    3154          0
Illinois       Cook            135274    5134          0
Texas          Harris          117568    2423          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,254656,6231,0,248425,2020-09-15 03:22:50,34.308284,-118.228241,6037.0
Florida,Miami-Dade,164299,2894,0,161405,2020-09-15 03:22:50,25.611236,-80.551706,12086.0
Arizona,Maricopa,137589,3154,0,134435,2020-09-15 03:22:50,33.348359,-112.491815,4013.0
Illinois,Cook,135274,5134,0,130140,2020-09-15 03:22:50,41.841448,-87.816588,17031.0
Texas,Harris,117568,2423,0,115145,2020-09-15 03:22:50,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,38641,11185,48007,1344,3335,95,546481,45675,26651,32696,...,367592,1780,46721,59630,1060,29906,10,2009,13466,7508
2020-09-13,38716,11353,48254,1344,3388,95,555537,45862,26692,33159,...,370930,1808,47287,60540,1063,30574,10,2011,13539,7526
2020-09-14,38772,11520,48496,1438,3439,95,565446,45969,26739,33541,...,373555,1812,47836,61569,1063,31362,10,2013,13720,7531

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,1420,330,1605,53,132,3,11263,911,810,754,...,41712,45,384,477,35,210,1,582,312,224
2020-09-13,1420,334,1612,53,134,3,11352,916,816,756,...,41717,45,390,485,35,221,1,583,312,224
2020-09-14,1425,338,1620,53,136,3,11667,919,816,757,...,41726,45,396,494,35,226,1,583,320,224

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,31234,6494,33875,943,1289,91,409771,41605,23338,26579,...,1880,1502,43359,47729,910,19979,8,1211,12007,5675
2020-09-13,31638,6569,34037,943,1301,91,419513,41659,23463,26760,...,2146,1513,43866,48644,918,20082,8,1212,12260,5678
2020-09-14,32073,6615,34204,945,1324,91,428953,41693,23577,27010,...,2152,1528,44375,49371,926,21406,8,1215,12380,5690

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1371,1377,1383,1385,1398,1413,1420,1432,1442,1447
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,280,282,282,282,282,283,288,289,292,295
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1467,1470,1479,1485,1490,1504,1512,1518,1527,1530
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,501,502,505,506,510,515,526,529,532,534
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,3466,3488,3511,3529,3553,3560,3585,3593,3613,3622

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-12,137646,6207,0,208128,69710,758933,60876,54326,18726,49,...,170891,677625,57247,1677,1211,132868,79476,12528,87603,4297
2020-09-13,138755,6268,0,208512,70219,761728,61293,54326,18849,49,...,171824,681885,57875,1684,1220,133742,79826,12705,89185,4346
2020-09-14,139459,6343,0,208725,70627,765134,61667,54895,18937,49,...,174274,685748,58438,1696,1221,134493,80138,12830,89956,4394

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-12        1432    4752     620  576   1114     552    865    2728
2020-09-13        1442    4781     622  578   1121     558    866    2773
2020-09-14        1447    4800     626  581   1128     558    867    2790

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-12          863      392  ...     187      9      199       53
2020-09-13          863      407  ...     187      9      203       54
2020-09-14          864      407  ...     186     10      210       54

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-12            320   465   310          0      111     23
2020-09-13            318   470   311          2      111     23
2020-09-14            317   476   312          2      111     23

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-12,2350,44,0,5315,969,14327,1988,4480,613,0,...,2064,14332,433,58,19,2722,1991,266,1209,42
2020-09-13,2351,44,0,5322,981,14378,1988,4480,615,0,...,2078,14405,433,58,19,2724,1991,267,1210,42
2020-09-14,2355,44,0,5322,992,14439,1990,4485,617,0,...,2097,14451,436,58,19,2743,2006,278,1210,42

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-12          23      43       7    6     13      13     37      31
2020-09-13          23      43       7    6     13      13     37      31
2020-09-14          23      43       7    6     13      13     37      31

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-12           40       11  ...       1      1        1        1
2020-09-13           40       11  ...       1      1        1        1
2020-09-14           40       11  ...       1      1        1        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-12              2     1     2          0        6      0
2020-09-13              2     1     2          0        6      0
2020-09-14              2     1     2          0        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,0.000907,0.014881,0.005340,0.00000,0.017078,0.0,0.020116,0.003780,0.001654,0.027304,...,0.009624,0.003948,0.012153,0.016484,0.00000,0.022218,0.0,0.000997,0.010733,0.003878
2020-09-13,0.001941,0.015020,0.005145,0.00000,0.015892,0.0,0.016571,0.004094,0.001538,0.014161,...,0.009081,0.015730,0.012114,0.015261,0.00283,0.022337,0.0,0.000996,0.005421,0.002397
2020-09-14,0.001446,0.014710,0.005015,0.06994,0.015053,0.0,0.017837,0.002333,0.001761,0.011520,...,0.007077,0.002212,0.011610,0.016997,0.00000,0.025774,0.0,0.000995,0.013369,0.000664

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,0.000000,0.009174,0.003752,0.0,0.007634,0.0,0.010316,0.002200,0.008717,0.005333,...,0.000216,0.0,0.018568,0.019231,0.0,0.029412,0.0,0.000000,0.019608,0.0
2020-09-13,0.000000,0.012121,0.004361,0.0,0.015152,0.0,0.007902,0.005488,0.007407,0.002653,...,0.000120,0.0,0.015625,0.016771,0.0,0.052381,0.0,0.001718,0.000000,0.0
2020-09-14,0.003521,0.011976,0.004963,0.0,0.014925,0.0,0.027748,0.003275,0.000000,0.001323,...,0.000216,0.0,0.015385,0.018557,0.0,0.022624,0.0,0.000000,0.025641,0.0

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,0.002568,0.007916,0.004507,0.000000,0.000776,0.0,0.024118,0.004127,0.000472,0.012263,...,0.017316,0.008054,0.011713,0.016376,0.008869,0.009652,0.0,0.000000,0.009076,0.002650
2020-09-13,0.012935,0.011549,0.004782,0.000000,0.009310,0.0,0.023774,0.001298,0.005356,0.006810,...,0.141489,0.007324,0.011693,0.019171,0.008791,0.005155,0.0,0.000826,0.021071,0.000529
2020-09-14,0.013749,0.007003,0.004906,0.002121,0.017679,0.0,0.022502,0.000816,0.004859,0.009342,...,0.002796,0.009914,0.011604,0.014945,0.008715,0.065930,0.0,0.002475,0.009788,0.002113

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-12,0.006898,0.016874,NaN,0.002915,0.026491,0.005336,0.006847,0.000000,0.008998,0.0,...,0.006076,0.003974,0.010093,0.005396,0.008326,0.009858,0.005885,0.028825,0.015687,0.007739
2020-09-13,0.008057,0.009828,NaN,0.001845,0.007302,0.003683,0.006850,0.000000,0.006568,0.0,...,0.005460,0.006287,0.010970,0.004174,0.007432,0.006578,0.004404,0.014128,0.018059,0.011403
2020-09-14,0.005074,0.011966,NaN,0.001022,0.005810,0.004471,0.006102,0.010474,0.004669,0.0,...,0.014259,0.005665,0.009728,0.007126,0.000820,0.005615,0.003909,0.009839,0.008645,0.011045

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-12      0.008451  0.006353  0.003236  0.003484  0.004509  0.001815
2020-09-13      0.006983  0.006103  0.003226  0.003472  0.006284  0.010870
2020-09-14      0.003467  0.003974  0.006431  0.005190  0.006244  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-12      0.002317  0.018290  0.001160  0.031579  ...  0.016304
2020-09-13      0.001156  0.016496  0.000000  0.038265  ...  0.000000
2020-09-14      0.001155  0.006131  0.001159  0.000000  ... -0.005348

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-12      0.000000  0.010152  0.000000   0.000000  0.006494  0.000000
2020-09-13      0.000000  0.020101  0.018868  -0.006250  0.010753  0.003226
2020-09-14      0.111111  0.034483  0.000000  -0.003145  0.012766  0.003215

Province_State
Admin2         Unassigned Washakie    Weston
2020-09-12            NaN      0.0  0.095238
2020-09-13            inf      0.0  0.000000
2020-09-14            0.0      0.0  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-12,0.007287,0.023256,NaN,0.005106,0.016789,0.006817,0.001511,0.000000,0.000000,NaN,...,0.019259,0.007380,0.004640,0.0,0.055556,0.004058,0.000000,0.007576,0.010025,0.0
2020-09-13,0.000426,0.000000,NaN,0.001317,0.012384,0.003560,0.000000,0.000000,0.003263,NaN,...,0.006783,0.005093,0.000000,0.0,0.000000,0.000735,0.000000,0.003759,0.000827,0.0
2020-09-14,0.001701,0.000000,NaN,0.000000,0.011213,0.004243,0.001006,0.001116,0.003252,NaN,...,0.009143,0.003193,0.006928,0.0,0.000000,0.006975,0.007534,0.041199,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                        \
Admin2         Autauga Baldwin Barbour Bibb    Blount Bullock Butler Calhoun
2020-09-12         0.0     0.0     0.0  0.0  0.083333     0.0    0.0     0.0
2020-09-13         0.0     0.0     0.0  0.0  0.000000     0.0    0.0     0.0
2020-09-14         0.0     0.0     0.0  0.0  0.000000     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-12          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-09-13          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-09-14          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-12            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-13            0.0   0.0   0.0        NaN      0.0    NaN
2020-09-14            0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,0.000884,0.014753,0.005541,0.010877,0.020496,0.000010,0.021350,0.003777,0.001735,0.022901,...,0.009227,0.006916,0.012774,0.016924,0.000689,0.022287,1.148862e-26,0.001525,0.009628,0.005063
2020-09-13,0.001412,0.014887,0.005343,0.005439,0.018194,0.000005,0.018961,0.003936,0.001637,0.018531,...,0.009154,0.011323,0.012444,0.016092,0.001759,0.022312,5.744310e-27,0.001260,0.007524,0.003730
2020-09-14,0.001429,0.014798,0.005179,0.037690,0.016623,0.000003,0.018399,0.003134,0.001699,0.015025,...,0.008115,0.006768,0.012027,0.016545,0.000880,0.024043,2.872155e-27,0.001127,0.010447,0.002197

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,0.000206,0.008462,0.004644,4.477512e-12,0.012287,3.530615e-46,0.016648,0.002411,0.009092,0.003769,...,0.000225,0.000045,0.017750,0.018466,0.000039,0.028550,0.0,0.001928,0.015734,0.004907
2020-09-13,0.000103,0.010292,0.004503,2.238756e-12,0.013719,1.765308e-46,0.012275,0.003950,0.008250,0.003211,...,0.000173,0.000023,0.016687,0.017619,0.000019,0.040466,0.0,0.001823,0.007867,0.002453
2020-09-14,0.001812,0.011134,0.004733,1.119378e-12,0.014322,8.826538e-47,0.020012,0.003612,0.004125,0.002267,...,0.000194,0.000011,0.016036,0.018088,0.000010,0.031545,0.0,0.000911,0.016754,0.001227

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-12,0.002854,0.010273,0.004931,0.001744,0.007726,1.372564e-06,0.025257,0.005108,0.005103,0.010606,...,0.010427,0.005979,0.010030,0.017463,0.010580,0.024038,6.731613e-29,0.000655,0.005698,0.005760
2020-09-13,0.007894,0.010911,0.004857,0.000872,0.008518,6.862821e-07,0.024516,0.003203,0.005230,0.008708,...,0.075958,0.006651,0.010862,0.018317,0.009686,0.014597,3.365807e-29,0.000740,0.013384,0.003144
2020-09-14,0.010822,0.008957,0.004882,0.001496,0.013098,3.431410e-07,0.023509,0.002010,0.005044,0.009025,...,0.039377,0.008283,0.011233,0.016631,0.009200,0.040263,1.682903e-29,0.001608,0.011586,0.002629

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-12,0.007326,0.016035,NaN,0.002584,0.018896,0.005118,0.005750,0.001950,0.007233,2.221380e-55,...,0.007369,0.005206,0.009519,0.004316,0.005203,0.009098,0.005936,0.021407,0.015417,0.010558
2020-09-13,0.007692,0.012931,NaN,0.002214,0.013099,0.004400,0.006300,0.000975,0.006901,1.110690e-55,...,0.006414,0.005746,0.010245,0.004245,0.006317,0.007838,0.005170,0.017768,0.016738,0.010981
2020-09-14,0.006383,0.012448,NaN,0.001618,0.009455,0.004436,0.006201,0.005724,0.005785,5.553451e-56,...,0.010337,0.005706,0.009986,0.005685,0.003569,0.006727,0.004539,0.013803,0.012691,0.011013

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-12      0.007597  0.007293  0.001738  0.006404  0.007333  0.002202
2020-09-13      0.007290  0.006698  0.002482  0.004938  0.006808  0.006536
2020-09-14      0.005379  0.005336  0.004456  0.005064  0.006526  0.003268

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-12      0.001638  0.014262  0.001869  0.020996  ...  0.015377
2020-09-13      0.001397  0.015379  0.000934  0.029630  ...  0.007689
2020-09-14      0.001276  0.010755  0.001047  0.014815  ...  0.001171

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-12      0.071429  0.021128  0.011835   0.002949  0.009273  0.000744
2020-09-13      0.035714  0.020614  0.015351  -0.001650  0.010013  0.001985
2020-09-14      0.073413  0.027548  0.007676  -0.002398  0.011389  0.002600

Province_State
Admin2         Unassigned  Washakie    Weston
2020-09-12      -0.495957  0.000093  0.051151
2020-09-13      -0.495957  0.000047  0.025575
2020-09-14      -0.000238  0.000023  0.012788

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-12,0.008292,0.017814,NaN,0.004233,0.014995,0.007945,0.001814,0.000266,0.000848,NaN,...,0.019721,0.010076,0.004415,6.433172e-14,0.030188,0.003176,0.002015,0.012472,0.007784,0.000100
2020-09-13,0.004359,0.008907,NaN,0.002775,0.013690,0.005752,0.000907,0.000133,0.002055,NaN,...,0.013252,0.007585,0.002208,3.216586e-14,0.015094,0.001955,0.001008,0.008116,0.004305,0.000050
2020-09-14,0.003030,0.004454,NaN,0.001387,0.012451,0.004997,0.000957,0.000624,0.002654,NaN,...,0.011198,0.005389,0.004568,1.608293e-14,0.007547,0.004465,0.004271,0.024657,0.002153,0.000025

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-09-12      0.000011  0.006110  4.990344e-09 -0.000114  0.041868
2020-09-13      0.000006  0.003055  2.495172e-09 -0.000057  0.020934
2020-09-14      0.000003  0.001527  1.247586e-09 -0.000028  0.010467

Province_State                                                            ...  \
Admin2               Bullock    Butler   Calhoun  Chambers      Cherokee  ...
2020-09-12      1.354651e-09  0.000054 -0.000007  0.000050  1.702880e-06  ...
2020-09-13      6.773255e-10  0.000027 -0.000003  0.000025  8.514400e-07  ...
2020-09-14      3.386628e-10  0.000014 -0.000002  0.000013  4.257200e-07  ...

Province_State Wyoming                                                  \
Admin2            Park Platte Sheridan Sublette Sweetwater Teton Uinta
2020-09-12         0.0    0.0      0.0      0.0        0.0   0.0   0.0
2020-09-13         0.0    0.0      0.0      0.0        0.0   0.0   0.0
2020-09-14         0.0    0.0      0.0      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned Washakie Weston
2020-09-12      -0.499985      0.0    NaN
2020-09-13      -0.499985      0.0    NaN
2020-09-14      -0.499985      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200914,AK,7270,396143,NaN,37.0,NaN,NaN,NaN,8.0,...,403413,0,0,c47ba6fdd7b2d5856a69b861c773b64ba0dfcb76,0,0,0,0,0,NaN
1,20200914,AL,139459,888092,NaN,792.0,15756.0,NaN,1611.0,NaN,...,1027551,4,229,a852a907f21a1d2ec711d522217d2fa536b912e5,0,0,0,0,0,NaN
2,20200914,AR,70627,757640,NaN,378.0,4736.0,175.0,NaN,76.0,...,828267,11,17,ca2f4e7d88ac2334155d572a28bde6974977f350,0,0,0,0,0,NaN
3,20200914,AS,0,1571,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,174cf78dc9ab5615d074020dde4ce99fcd28e6de,0,0,0,0,0,NaN
4,20200914,AZ,208725,1091939,NaN,489.0,21774.0,168.0,NaN,81.0,...,1300664,0,1,5c59164f45421ebc88de32c4d8eb56950a4bd7a6,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200914,AK,7270.0,396143.0,NaN,37.0,NaN,NaN,NaN,8.0,...,403413,0,0,c47ba6fdd7b2d5856a69b861c773b64ba0dfcb76,0,0,0,0,0,NaN
1,20200914,AL,139459.0,888092.0,NaN,792.0,15756.0,NaN,1611.0,NaN,...,1027551,4,229,a852a907f21a1d2ec711d522217d2fa536b912e5,0,0,0,0,0,NaN
2,20200914,AR,70627.0,757640.0,NaN,378.0,4736.0,175.0,NaN,76.0,...,828267,11,17,ca2f4e7d88ac2334155d572a28bde6974977f350,0,0,0,0,0,NaN
3,20200914,AS,0.0,1571.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,174cf78dc9ab5615d074020dde4ce99fcd28e6de,0,0,0,0,0,NaN
4,20200914,AZ,208725.0,1091939.0,NaN,489.0,21774.0,168.0,NaN,81.0,...,1300664,0,1,5c59164f45421ebc88de32c4d8eb56950a4bd7a6,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-14,AK,7270,396143,NaN,37.0,NaN,NaN,NaN,8.0,NaN,...,403413,0,0,c47ba6fdd7b2d5856a69b861c773b64ba0dfcb76,0,0,0,0,0,NaN
2020-09-14,AL,139459,888092,NaN,792.0,15756.0,NaN,1611.0,NaN,892.0,...,1027551,4,229,a852a907f21a1d2ec711d522217d2fa536b912e5,0,0,0,0,0,NaN
2020-09-14,AR,70627,757640,NaN,378.0,4736.0,175.0,NaN,76.0,603.0,...,828267,11,17,ca2f4e7d88ac2334155d572a28bde6974977f350,0,0,0,0,0,NaN
2020-09-14,AS,0,1571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,174cf78dc9ab5615d074020dde4ce99fcd28e6de,0,0,0,0,0,NaN
2020-09-14,AZ,208725,1091939,NaN,489.0,21774.0,168.0,NaN,81.0,NaN,...,1300664,0,1,5c59164f45421ebc88de32c4d8eb56950a4bd7a6,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-14,AK,7270.0,396143.0,NaN,37.0,NaN,NaN,NaN,8.0,NaN,...,403413,0,0,c47ba6fdd7b2d5856a69b861c773b64ba0dfcb76,0,0,0,0,0,NaN
2020-09-14,AL,139459.0,888092.0,NaN,792.0,15756.0,NaN,1611.0,NaN,892.0,...,1027551,4,229,a852a907f21a1d2ec711d522217d2fa536b912e5,0,0,0,0,0,NaN
2020-09-14,AR,70627.0,757640.0,NaN,378.0,4736.0,175.0,NaN,76.0,603.0,...,828267,11,17,ca2f4e7d88ac2334155d572a28bde6974977f350,0,0,0,0,0,NaN
2020-09-14,AS,0.0,1571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,174cf78dc9ab5615d074020dde4ce99fcd28e6de,0,0,0,0,0,NaN
2020-09-14,AZ,208725.0,1091939.0,NaN,489.0,21774.0,168.0,NaN,81.0,NaN,...,1300664,0,1,5c59164f45421ebc88de32c4d8eb56950a4bd7a6,0,0,0,0,0,NaN