# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'04-24-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'04-24-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-04-25 04:20:32,33.93911,67.709953,58730,2572,52392.0,3766.0,Afghanistan,150.866948,4.379363
1,NaN,NaN,NaN,Albania,2021-04-25 04:20:32,41.15330,20.168300,130409,2372,105016.0,23021.0,Albania,4531.551880,1.818893
2,NaN,NaN,NaN,Algeria,2021-04-25 04:20:32,28.03390,1.659600,120736,3198,84167.0,33371.0,Algeria,275.332106,2.648754
3,NaN,NaN,NaN,Andorra,2021-04-25 04:20:32,42.50630,1.521800,13024,124,12458.0,442.0,Andorra,16856.273863,0.952088
4,NaN,NaN,NaN,Angola,2021-04-25 04:20:32,-11.20270,17.873900,25492,577,23092.0,1823.0,Angola,77.562807,2.263455

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21,4/23/21,4/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,57534,57612,57721,57793,57898,58037,58214,58312,58542,58730
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129128,129307,129456,129594,129694,129842,129980,130114,130270,130409
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,119142,119323,119486,119642,119805,119992,120174,120363,120562,120736

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21,4/23/21,4/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2533,2535,2539,2539,2546,2549,2557,2561,2565,2572
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2335,2337,2340,2342,2347,2353,2358,2364,2367,2372
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3144,3148,3152,3155,3160,3165,3172,3181,3190,3198

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21,4/23/21,4/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,52083,52105,52116,52168,52244,52272,52301,52348,52363,52392
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,100013,100600,101142,101584,102171,102601,103066,103582,104278,105016
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,83048,83169,83286,83397,83514,83636,83765,83900,84038,84167

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21,4/23/21,4/24/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6748,6750,6760,6763,6763,6773,6793,6819,6835,6876
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20674,20701,20714,20723,20730,20764,20787,20815,20833,20838
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2262,2264,2271,2271,2271,2275,2284,2289,2292,2296

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21,4/23/21,4/24/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,103,103,106,106,106,106,107,107,107,107
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,302,302,302,302,302,302,302,303,303,305
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,55,55,55,55,55,55,55,56,56,56

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-04-25 04:20:32,32.539527,-86.644082,6876,107,NaN,NaN,"Autauga, Alabama, US",12307.361864,1.556137
689,1075.0,Lamar,Alabama,US,2021-04-25 04:20:32,33.779950,-88.096680,1403,34,NaN,NaN,"Lamar, Alabama, US",10162.984426,2.423378
690,1077.0,Lauderdale,Alabama,US,2021-04-25 04:20:32,34.901719,-87.656247,9317,236,NaN,NaN,"Lauderdale, Alabama, US",10047.557938,2.533004

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               32044974  571920         0.0
India            16610481  189544  13867997.0
Brazil           14308215  389492  12606011.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,32044974,571920,0.0,31473054.0,2021-04-25 04:20:32,37.950547,-91.419547
India,16610481,189544,13867997.0,2552940.0,2021-04-25 04:20:32,23.088275,81.806127
Brazil,14308215,389492,12606011.0,1312712.0,2021-04-25 04:20:32,-12.669522,-48.480493
France,5534656,102872,337667.0,5094117.0,2021-04-25 04:20:32,6.430808,-34.730285
Russia,4699988,106108,4330610.0,263270.0,2021-04-25 04:20:32,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3731006   61444        0.0
Texas             2872756   49921        0.0
Florida           2203913   34812        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3731006,61444,0.0,3669562.0,2021-04-25 04:20:32,37.843962,-120.728594
Texas,2872756,49921,0.0,2822835.0,2021-04-25 04:20:32,31.660643,-98.653069
Florida,2203913,34812,0.0,2169101.0,2021-04-25 04:20:32,28.940755,-82.700744
New York,2027029,51951,0.0,1975078.0,2021-04-25 04:20:32,42.544151,-75.474183
Illinois,1318887,24114,0.0,1294773.0,2021-04-25 04:20:32,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1231163   23785        0.0
Arizona        Maricopa        533916    9829        0.0
Illinois       Cook            528337    9878        0.0
Florida        Miami-Dade      477782    6097        0.0
Texas          Harris          389731    6144        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1231163,23785,0.0,1207378.0,2021-04-25 04:20:32,34.308284,-118.228241,6037.0
Arizona,Maricopa,533916,9829,0.0,524087.0,2021-04-25 04:20:32,33.348359,-112.491815,4013.0
Illinois,Cook,528337,9878,0.0,518459.0,2021-04-25 04:20:32,41.841448,-87.816588,17031.0
Florida,Miami-Dade,477782,6097,0.0,471685.0,2021-04-25 04:20:32,25.611236,-80.551706,12086.0
Texas,Harris,389731,6144,0.0,383587.0,2021-04-25 04:20:32,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,58312,130114,120363,12942,25051,1217,2796768,211399,29638,602494,...,4413834,175891,87935,4,188063,2824,287680,6020,91189,38018
2021-04-23,58542,130270,120562,13007,25279,1222,2824652,212114,29653,604823,...,4416588,179537,88280,4,189381,2830,289120,6056,91251,38045
2021-04-24,58730,130409,120736,13024,25492,1227,2845872,212878,29663,606954,...,4418710,182326,88679,4,190523,2833,290259,6105,91317,38064

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,2561,2364,3181,123,572,31,60620,3969,910,10026,...,127597,2160,640,1,1987,35,3115,1157,1240,1555
2021-04-23,2565,2367,3190,123,574,31,61176,3984,910,10055,...,127638,2227,641,1,2009,35,3138,1165,1245,1556
2021-04-24,2572,2372,3198,124,577,31,61474,4001,910,10070,...,127670,2283,642,1,2028,35,3151,1175,1245,1556

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,52348,103582,83900,12375,22901,995,2449793,191158,23183,565513,...,14195,145464,85007,1,171043,2490,256559,2393,89117,35073
2021-04-23,52363,104278,84038,12423,23089,995,2474514,192281,23191,568213,...,14281,148561,85232,3,172035,2490,259105,2454,89256,35094
2021-04-24,52392,105016,84167,12458,23092,1002,2496277,193360,23195,570684,...,14388,151669,85536,3,173097,2490,260650,2486,89403,35101

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21,4/23/21,4/24/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6748,6750,6760,6763,6763,6773,6793,6819,6835,6876
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1396,1397,1397,1399,1400,1400,1398,1398,1399,1403
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9254,9265,9271,9276,9280,9286,9293,9301,9310,9317
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2953,2959,2962,2964,2963,2969,2976,2977,2982,2982
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15567,15589,15614,15631,15638,15642,15670,15694,15709,15722

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-22,525049,66909,0,856451,334222,3727913,496882,333732,102267,49,...,839841,2867748,394334,22325,3068,650981,391839,150288,654510,57613
2021-04-23,525477,67059,0,857347,334458,3729116,498758,334766,102593,49,...,841049,2870407,394678,22416,3068,652321,393594,150693,655410,57696
2021-04-24,525898,67059,0,858076,334642,3731006,500675,334766,102927,49,...,841049,2872756,395150,22479,3068,653326,395312,151068,656061,57696

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-04-22        6819   20815    2289  2573   6563    1223   2143   14391
2021-04-23        6835   20833    2292  2578   6570    1222   2146   14399
2021-04-24        6876   20838    2296  2582   6570    1223   2146   14400

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-04-22         3527     1832  ...    2668    618     3112      757
2021-04-23         3529     1832  ...    2670    619     3112      765
2021-04-24         3529     1833  ...    2670    619     3112      765

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-04-22           4151  3715  2157          0      898    647
2021-04-23           4159  3719  2158          0      898    648
2021-04-24           4159  3719  2158          0      898    648

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-22,10824,334,0,17221,5711,61309,6225,8039,1604,0,...,12130,49818,2178,243,27,10653,5428,2808,7438,705
2021-04-23,10840,334,0,17238,5716,61401,6231,8047,1609,0,...,12142,49877,2179,243,27,10666,5434,2813,7452,705
2021-04-24,10851,334,0,17260,5717,61444,6249,8047,1615,0,...,12142,49921,2180,244,27,10675,5434,2817,7474,705

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-04-22         107     303      56   62    133      40     68     313
2021-04-23         107     303      56   62    134      40     68     313
2021-04-24         107     305      56   62    134      40     69     312

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-04-22          121       45  ...      30     11       31        7
2021-04-23          121       45  ...      30     11       31        7
2021-04-24          121       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-04-22             37     9    12          0       26      5
2021-04-23             37     9    12          0       26      5
2021-04-24             37     9    12          0       26      5

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,0.001683,0.001031,0.001573,0.001935,0.006752,0.000000,0.009827,0.004185,0.001487,0.004008,...,0.000627,0.019061,0.004386,0.0,0.007058,0.004267,0.005776,0.010067,0.000768,0.001001
2021-04-23,0.003944,0.001199,0.001653,0.005022,0.009101,0.004108,0.009970,0.003382,0.000506,0.003866,...,0.000624,0.020729,0.003923,0.0,0.007008,0.002125,0.005006,0.005980,0.000680,0.000710
2021-04-24,0.003211,0.001067,0.001443,0.001307,0.008426,0.004092,0.007512,0.003602,0.000337,0.003523,...,0.000480,0.015534,0.004520,0.0,0.006030,0.001060,0.003940,0.008091,0.000723,0.000499

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,0.001564,0.002545,0.002837,0.00000,0.003509,0.0,0.008938,0.006339,0.0,0.002901,...,0.000157,0.036966,0.000000,0.0,0.011196,0.0,0.006137,0.008718,0.001616,0.000000
2021-04-23,0.001562,0.001269,0.002829,0.00000,0.003497,0.0,0.009172,0.003779,0.0,0.002892,...,0.000321,0.031019,0.001562,0.0,0.011072,0.0,0.007384,0.006914,0.004032,0.000643
2021-04-24,0.002729,0.002112,0.002508,0.00813,0.005226,0.0,0.004871,0.004267,0.0,0.001492,...,0.000251,0.025146,0.001560,0.0,0.009457,0.0,0.004143,0.008584,0.000000,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,0.000899,0.005007,0.001612,0.003324,0.000830,0.000000,0.010359,0.004662,0.000086,0.004007,...,0.006452,0.020449,0.003423,0.0,0.008003,0.0,0.009284,0.036379,0.001810,0.000228
2021-04-23,0.000287,0.006719,0.001645,0.003879,0.008209,0.000000,0.010091,0.005875,0.000345,0.004774,...,0.006058,0.021290,0.002647,2.0,0.005800,0.0,0.009924,0.025491,0.001560,0.000599
2021-04-24,0.000554,0.007077,0.001535,0.002817,0.000130,0.007035,0.008795,0.005612,0.000172,0.004349,...,0.007492,0.020921,0.003567,0.0,0.006173,0.0,0.005963,0.013040,0.001647,0.000199

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-22,0.001301,0.003434,NaN,0.000756,0.000482,0.000758,0.004774,0.002213,0.002686,0.0,...,0.002397,0.001197,0.001198,0.003912,0.008879,0.002114,0.004164,0.002669,0.001285,0.001652
2021-04-23,0.000815,0.002242,NaN,0.001046,0.000706,0.000323,0.003776,0.003098,0.003188,0.0,...,0.001438,0.000927,0.000872,0.004076,0.000000,0.002058,0.004479,0.002695,0.001375,0.001441
2021-04-24,0.000801,0.000000,NaN,0.000850,0.000550,0.000507,0.003844,0.000000,0.003256,0.0,...,0.000000,0.000818,0.001196,0.002810,0.000000,0.001541,0.004365,0.002489,0.000993,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-04-22      0.003827  0.001347  0.002189  0.001557  0.001068  0.001638
2021-04-23      0.002346  0.000865  0.001311  0.001943  0.001067 -0.000818
2021-04-24      0.005999  0.000240  0.001745  0.001552  0.000000  0.000818

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-04-22      0.001402  0.001113  0.000284  0.001640  ...  0.000375
2021-04-23      0.001400  0.000556  0.000567  0.000000  ...  0.000750
2021-04-24      0.000000  0.000069  0.000000  0.000546  ...  0.000000

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-04-22      0.000000  0.000643  0.000000   0.001689  0.001078  0.001393
2021-04-23      0.001618  0.000000  0.010568   0.001927  0.001077  0.000464
2021-04-24      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned Washakie    Weston
2021-04-22            NaN      0.0  0.000000
2021-04-23            NaN      0.0  0.001546
2021-04-24            NaN      0.0  0.000000

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-22,0.001573,0.0,NaN,0.001279,0.000526,0.001896,0.001609,0.001495,0.000624,NaN,...,0.001569,0.001407,0.000459,0.000000,0.0,0.001222,0.001107,0.002857,0.001077,0.0
2021-04-23,0.001478,0.0,NaN,0.000987,0.000876,0.001501,0.000964,0.000995,0.003117,NaN,...,0.000989,0.001184,0.000459,0.000000,0.0,0.001220,0.001105,0.001781,0.001882,0.0
2021-04-24,0.001015,0.0,NaN,0.001276,0.000175,0.000700,0.002889,0.000000,0.003729,NaN,...,0.000000,0.000882,0.000459,0.004115,0.0,0.000844,0.000000,0.001422,0.002952,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                  \
Admin2         Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-04-22         0.0  0.003311  0.018182  0.016393  0.000000     0.0
2021-04-23         0.0  0.000000  0.000000  0.000000  0.007519     0.0
2021-04-24         0.0  0.006601  0.000000  0.000000  0.000000     0.0

Province_State                                         ... Wyoming         \
Admin2            Butler   Calhoun  Chambers Cherokee  ...    Park Platte
2021-04-22      0.000000  0.000000 -0.008197      0.0  ...     0.0    0.0
2021-04-23      0.000000  0.000000  0.000000      0.0  ...     0.0    0.0
2021-04-24      0.014706 -0.003195  0.000000      0.0  ...     0.0    0.0

Province_State                                                               \
Admin2         Sheridan Sublette Sweetwater Teton Uinta Unassigned Washakie
2021-04-22          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-04-23          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-04-24          0.0      0.0        0.0   0.0   0.0        NaN      0.0

Province_State
Admin2         Weston
2021-04-22        0.0
2021-04-23        0.0
2021-04-24        0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,0.002107,0.001046,0.001531,0.002686,0.007012,0.000146,0.009557,0.004034,0.001062,0.003939,...,0.000597,0.018016,0.003922,0.083333,0.006579,0.003934,0.005960,0.009146,0.000822,0.001569
2021-04-23,0.003026,0.001122,0.001592,0.003854,0.008057,0.002127,0.009764,0.003708,0.000784,0.003902,...,0.000611,0.019373,0.003922,0.041667,0.006794,0.003029,0.005483,0.007563,0.000751,0.001140
2021-04-24,0.003119,0.001095,0.001518,0.002581,0.008241,0.003110,0.008638,0.003655,0.000561,0.003713,...,0.000546,0.017454,0.004221,0.020833,0.006412,0.002045,0.004711,0.007827,0.000737,0.000820

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,0.001923,0.002325,0.002336,0.000134,0.004717,0.000035,0.006732,0.006141,5.371631e-07,0.003204,...,0.000164,0.033476,0.000722,0.0,0.010774,5.762350e-72,0.007024,0.007850,0.001325,0.000290
2021-04-23,0.001742,0.001797,0.002583,0.000067,0.004107,0.000017,0.007952,0.004960,2.685815e-07,0.003048,...,0.000243,0.032247,0.001142,0.0,0.010923,2.881175e-72,0.007204,0.007382,0.002679,0.000467
2021-04-24,0.002236,0.001955,0.002545,0.004098,0.004667,0.000009,0.006412,0.004614,1.342908e-07,0.002270,...,0.000247,0.028697,0.001351,0.0,0.010190,1.440588e-72,0.005673,0.007983,0.001339,0.000233

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-22,0.000789,0.004835,0.001548,0.003775,0.003593,0.001210,0.009187,0.004263,0.000166,0.004458,...,0.004646,0.021829,0.002934,0.0,0.007935,0.000953,0.009332,0.023979,0.001323,0.000313
2021-04-23,0.000538,0.005777,0.001596,0.003827,0.005901,0.000605,0.009639,0.005069,0.000256,0.004616,...,0.005352,0.021560,0.002790,1.0,0.006867,0.000476,0.009628,0.024735,0.001441,0.000456
2021-04-24,0.000546,0.006427,0.001566,0.003322,0.003015,0.003820,0.009217,0.005340,0.000214,0.004483,...,0.006422,0.021240,0.003178,0.5,0.006520,0.000238,0.007795,0.018888,0.001544,0.000328

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-22,0.001250,0.003150,NaN,0.000768,0.000616,0.000654,0.003934,0.002525,0.002733,3.295823e-122,...,0.002116,0.001341,0.001161,0.004013,0.004752,0.002016,0.003986,0.002591,0.001235,0.001405
2021-04-23,0.001033,0.002696,NaN,0.000907,0.000661,0.000488,0.003855,0.002812,0.002960,1.647911e-122,...,0.001777,0.001134,0.001016,0.004045,0.002376,0.002037,0.004232,0.002643,0.001305,0.001423
2021-04-24,0.000917,0.001348,NaN,0.000879,0.000606,0.000498,0.003849,0.001406,0.003108,8.239557e-123,...,0.000888,0.000976,0.001106,0.003428,0.001188,0.001789,0.004299,0.002566,0.001149,0.000711

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-04-22      0.002884  0.001214  0.002374  0.000990  0.001201  0.000997
2021-04-23      0.002615  0.001039  0.001842  0.001467  0.001134  0.000090
2021-04-24      0.004307  0.000640  0.001794  0.001509  0.000567  0.000454

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-04-22      0.001325  0.000838  0.000553  0.001114  ...  0.000435
2021-04-23      0.001362  0.000697  0.000560  0.000557  ...  0.000592
2021-04-24      0.000681  0.000383  0.000280  0.000551  ...  0.000296

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-04-22      0.000226  0.000693  0.000902   0.001778  0.001120  0.000734
2021-04-23      0.000922  0.000347  0.005735   0.001853  0.001098  0.000599
2021-04-24      0.000461  0.000173  0.002867   0.000926  0.000549  0.000299

Province_State
Admin2         Unassigned      Washakie    Weston
2021-04-22           -1.0  1.400621e-06  0.000111
2021-04-23           -1.0  7.003103e-07  0.000828
2021-04-24           -1.0  3.501552e-07  0.000414

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-22,0.001169,0.000250,NaN,0.001039,0.000584,0.001472,0.001265,0.001221,0.000474,NaN,...,0.001427,0.001310,0.001105,0.001186,0.002404,0.001499,0.001750,0.002712,0.000774,0.000358
2021-04-23,0.001324,0.000125,NaN,0.001013,0.000730,0.001486,0.001115,0.001108,0.001795,NaN,...,0.001208,0.001247,0.000782,0.000593,0.001202,0.001360,0.001428,0.002246,0.001328,0.000179
2021-04-24,0.001169,0.000063,NaN,0.001145,0.000452,0.001093,0.002002,0.000554,0.002762,NaN,...,0.000604,0.001065,0.000620,0.002354,0.000601,0.001102,0.000714,0.001834,0.002140,0.000090

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2021-04-22      0.002814  0.001682  0.009091  0.008743 -0.000144
2021-04-23      0.001407  0.000841  0.004545  0.004372  0.003687
2021-04-24      0.000703  0.003721  0.002273  0.002186  0.001844

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2021-04-22      3.056652e-09  0.000263  0.001608 -0.004098  0.002844  ...
2021-04-23      1.528326e-09  0.000131  0.000804 -0.002049  0.001422  ...
2021-04-24      7.641629e-10  0.007419 -0.001195 -0.001025  0.000711  ...

Province_State       Wyoming                                            \
Admin2                  Park        Platte      Sheridan      Sublette
2021-04-22      1.605940e-11  6.518449e-28  1.212906e-13  5.328407e-34
2021-04-23      8.029700e-12  3.259225e-28  6.064532e-14  2.664203e-34
2021-04-24      4.014850e-12  1.629612e-28  3.032266e-14  1.332102e-34

Province_State                                                       \
Admin2            Sweetwater         Teton         Uinta Unassigned
2021-04-22      3.311369e-09  1.700928e-21  8.644010e-29  -0.501961
2021-04-23      1.655685e-09  8.504638e-22  4.322005e-29  -0.501961
2021-04-24      8.278423e-10  4.252319e-22  2.161002e-29  -0.501961

Province_State
Admin2              Washakie        Weston
2021-04-22      3.310629e-26  7.031035e-25
2021-04-23      1.655314e-26  3.515518e-25
2021-04-24      8.276572e-27  1.757759e-25

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN