# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'10-18-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'10-18-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-10-19 04:24:16,33.93911,67.709953,40200,1492,33614,5094.0,Afghanistan,103.266666,3.711443
1,NaN,NaN,NaN,Albania,2020-10-19 04:24:16,41.15330,20.168300,17055,451,10071,6533.0,Albania,592.640211,2.644386
2,NaN,NaN,NaN,Algeria,2020-10-19 04:24:16,28.03390,1.659600,54402,1856,38088,14458.0,Algeria,124.060903,3.411639
3,NaN,NaN,NaN,Andorra,2020-10-19 04:24:16,42.50630,1.521800,3377,59,2057,1261.0,Andorra,4370.672361,1.747113
4,NaN,NaN,NaN,Angola,2020-10-19 04:24:16,-11.20270,17.873900,7622,247,3030,4345.0,Angola,23.190951,3.240619

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39693,39703,39799,39870,39928,39994,40026,40073,40141,40200
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,15066,15231,15399,15570,15752,15955,16212,16501,16774,17055
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,52804,52940,53072,53325,53399,53584,53777,53998,54203,54402

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1472,1473,1477,1479,1480,1481,1481,1485,1488,1492
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,413,416,420,424,429,434,439,443,448,451
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1789,1795,1801,1809,1818,1827,1827,1841,1846,1856

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,33058,33064,33114,33118,33308,33354,33447,33516,33561,33614
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,9304,9406,9500,9585,9675,9762,9864,9957,10001,10071
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,37067,37170,37170,37382,37492,37603,37603,37856,37971,38088

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1882,1898,1905,1911,1924,1928,1949,1966,1983,1989
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,6172,6190,6203,6220,6248,6270,6285,6333,6350,6369
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,939,942,942,944,951,950,965,968,977,981

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,28,28,28,28,28,28,28,28,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,64,65,65,65,65,66,66,67,67,67
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
633,1001.0,Autauga,Alabama,US,2020-10-19 04:24:16,32.539527,-86.644082,1989,28,0,1961.0,"Autauga, Alabama, US",3560.113838,1.407743
670,1075.0,Lamar,Alabama,US,2020-10-19 04:24:16,33.779950,-88.096680,455,5,0,450.0,"Lamar, Alabama, US",3295.907280,1.098901
671,1077.0,Lauderdale,Alabama,US,2020-10-19 04:24:16,34.901719,-87.656247,2043,40,0,2003.0,"Lauderdale, Alabama, US",2203.194254,1.957905

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                8154594  219674    3234138
India             7494551  114031    6597209
Brazil            5224362  153675    4526393

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,8154594,219674,3234138,4700782,2020-10-19 04:24:16,37.929846,-91.358765
India,7494551,114031,6597209,783311,2020-10-19 04:24:16,23.088275,81.806127
Brazil,5224362,153675,4526393,544294,2020-10-19 04:24:16,-12.669522,-48.480493
Russia,1390824,24039,1065608,301177,2020-10-19 04:24:16,54.546312,62.120860
Argentina,989680,26267,803965,159448,2020-10-19 04:24:16,-38.416100,-63.616700

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         875692   16979          0
Texas              854006   17465          0
Florida            755020   15967          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,875692,16979,0,858713,2020-10-19 04:24:16,37.843962,-120.728594
Texas,854006,17465,0,836541,2020-10-19 04:24:16,31.660643,-98.653069
Florida,755020,15967,0,739053,2020-10-19 04:24:16,28.940755,-82.700744
New York,484281,33357,0,450924,2020-10-19 04:24:16,42.544151,-75.474183
Illinois,347631,9474,0,338157,2020-10-19 04:24:16,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     288451    6876          0
Florida        Miami-Dade      178354    3540          0
Illinois       Cook            163912    5357          0
Texas          Harris          154367    2728          0
Arizona        Maricopa        149720    3510          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,288451,6876,0,281575,2020-10-19 04:24:16,34.308284,-118.228241,6037.0
Florida,Miami-Dade,178354,3540,0,174814,2020-10-19 04:24:16,25.611236,-80.551706,12086.0
Illinois,Cook,163912,5357,0,158555,2020-10-19 04:24:16,41.841448,-87.816588,17031.0
Texas,Harris,154367,2728,0,151639,2020-10-19 04:24:16,29.858649,-95.393395,48201.0
Arizona,Maricopa,149720,3510,0,146210,2020-10-19 04:24:16,33.348359,-112.491815,4013.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,40073,16501,53998,3377,7222,112,965609,61460,27378,61387,...,692112,2450,62588,85758,1124,46434,10,2055,15659,8099
2020-10-17,40141,16774,54203,3377,7462,119,979119,63000,27390,63134,...,708298,2501,62809,86289,1126,46746,10,2055,15789,8110
2020-10-18,40200,17055,54402,3377,7622,119,989680,64694,27399,64806,...,725292,2531,63124,86636,1134,47135,10,2056,15853,8147

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,1485,443,1841,59,234,3,25723,1056,904,882,...,43519,51,520,725,35,402,1,596,346,231
2020-10-17,1488,448,1846,59,241,3,26107,1067,904,889,...,43669,51,522,731,35,402,1,596,346,231
2020-10-18,1492,451,1856,59,247,3,26267,1081,905,893,...,43736,51,525,736,35,408,1,597,346,231

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,33516,9957,37856,2057,3012,100,778501,47541,25097,47618,...,2565,2042,59624,78294,1031,39921,8,1335,14899,7673
2020-10-17,33561,10001,37971,2057,3022,101,791174,47925,25098,48771,...,2572,2052,59756,78847,1031,40162,8,1336,14927,7673
2020-10-18,33614,10071,38088,2057,3030,101,803965,48104,25108,49561,...,2589,2105,60080,79694,1031,40498,8,1338,15005,7678

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1882,1898,1905,1911,1924,1928,1949,1966,1983,1989
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,407,413,420,423,424,426,429,441,446,455
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1894,1914,1918,1935,1944,1950,1974,1994,2029,2043
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,699,711,716,729,741,748,759,772,782,788
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6268,6281,6292,6325,6335,6346,6367,6400,6421,6430

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-16,170374,10549,0,229486,97539,871253,83207,62830,22724,49,...,223493,843487,91957,1915,1329,163710,96894,19586,166186,8665
2020-10-17,171662,10760,0,230459,98422,873614,84346,62830,22942,49,...,226139,848442,93297,1926,1335,164795,97671,19805,166186,8816
2020-10-18,172626,10980,0,231149,99066,875692,85279,62830,23093,49,...,228744,854006,94394,1937,1335,165676,98201,20081,166186,9025

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-16        1966    6333     968  771   1783     631    988    4003
2020-10-17        1983    6350     977  775   1807     634    990    4066
2020-10-18        1989    6369     981  785   1827     634    996    4084

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-16         1263      702  ...     406     81      474      142
2020-10-17         1266      713  ...     414     81      493      142
2020-10-18         1266      714  ...     440     82      497      142

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-16            410   692   392          0      133     81
2020-10-17            411   692   401          0      133     88
2020-10-18            415   700   401          0      134     93

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-16,2786,66,0,5806,1665,16910,2172,4542,662,0,...,2871,17375,537,58,21,3405,2239,398,1574,57
2020-10-17,2788,67,0,5824,1684,16956,2176,4542,664,0,...,2903,17440,540,58,21,3419,2239,401,1574,57
2020-10-18,2788,67,0,5827,1704,16979,2176,4542,665,0,...,2909,17465,543,58,21,3430,2239,402,1574,57

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-16          28      67       9   13     23      17     40      59
2020-10-17          28      67       9   13     23      17     40      59
2020-10-18          28      67       9   13     23      17     40      59

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-16           43       14  ...       2      1        4        1
2020-10-17           43       14  ...       2      1        4        1
2020-10-18           43       14  ...       2      1        4        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-16              2     1     2          0        7      0
2020-10-17              2     1     2          0        7      0
2020-10-18              2     1     2          0        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,0.001174,0.017826,0.004110,0.058621,0.017756,0.0000,0.017434,0.024419,0.000256,0.019311,...,0.023146,0.013653,0.004978,0.003381,0.000000,0.007245,0.0,0.000974,0.000000,0.002972
2020-10-17,0.001697,0.016544,0.003796,0.000000,0.033232,0.0625,0.013991,0.025057,0.000438,0.028459,...,0.023386,0.020816,0.003531,0.006192,0.001779,0.006719,0.0,0.000000,0.008302,0.001358
2020-10-18,0.001470,0.016752,0.003671,0.000000,0.021442,0.0000,0.010786,0.026889,0.000329,0.026483,...,0.023993,0.011995,0.005015,0.004021,0.007105,0.008322,0.0,0.000487,0.004053,0.004562

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,0.002701,0.009112,0.007663,0.0,0.026316,0.0,0.015034,0.009560,0.000000,0.005701,...,0.003135,0.0,0.003861,0.006944,0.0,0.002494,0.0,0.000000,0.0,0.0
2020-10-17,0.002020,0.011287,0.002716,0.0,0.029915,0.0,0.014928,0.010417,0.000000,0.007937,...,0.003447,0.0,0.003846,0.008276,0.0,0.000000,0.0,0.000000,0.0,0.0
2020-10-18,0.002688,0.006696,0.005417,0.0,0.024896,0.0,0.006129,0.013121,0.001106,0.004499,...,0.001534,0.0,0.005747,0.006840,0.0,0.014925,0.0,0.001678,0.0,0.0

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,0.002063,0.009428,0.006728,0.022874,0.028689,0.00,0.017836,0.008956,0.001397,0.017522,...,0.001562,0.008395,0.005616,0.007787,0.000971,0.008488,0.0,0.004515,0.000000,0.000522
2020-10-17,0.001343,0.004419,0.003038,0.000000,0.003320,0.01,0.016279,0.008077,0.000040,0.024214,...,0.002729,0.004897,0.002214,0.007063,0.000000,0.006037,0.0,0.000749,0.001879,0.000000
2020-10-18,0.001579,0.006999,0.003081,0.000000,0.002647,0.00,0.016167,0.003735,0.000398,0.016198,...,0.006610,0.025828,0.005422,0.010742,0.000000,0.008366,0.0,0.001497,0.005225,0.000652

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-16,0.007165,0.021893,NaN,0.003226,0.010516,0.003577,0.016021,0.01293,0.007270,0.0,...,0.002989,0.007069,0.016538,0.006306,0.000000,0.007211,0.007371,0.026305,0.023786,0.034627
2020-10-17,0.007560,0.020002,NaN,0.004240,0.009053,0.002710,0.013689,0.00000,0.009593,0.0,...,0.011839,0.005874,0.014572,0.005744,0.004515,0.006628,0.008019,0.011181,0.000000,0.017426
2020-10-18,0.005616,0.020446,NaN,0.002994,0.006543,0.002379,0.011062,0.00000,0.006582,0.0,...,0.011519,0.006558,0.011758,0.005711,0.000000,0.005346,0.005426,0.013936,0.000000,0.023707

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-16      0.008722  0.007637  0.003109  0.013141  0.008484  0.004777
2020-10-17      0.008647  0.002684  0.009298  0.005188  0.013460  0.004754
2020-10-18      0.003026  0.002992  0.004094  0.012903  0.011068  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-16      0.006110  0.013674  0.002381  0.008621  ...  0.051813
2020-10-17      0.002024  0.015738  0.002375  0.015670  ...  0.019704
2020-10-18      0.006061  0.004427  0.000000  0.001403  ...  0.062802

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-16      0.051948  0.030435  0.051852   0.009852  0.007278  0.010309
2020-10-17      0.000000  0.040084  0.000000   0.002439  0.000000  0.022959
2020-10-18      0.012346  0.008114  0.000000   0.009732  0.011561  0.000000

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-16            NaN  0.007576  0.140845
2020-10-17            NaN  0.000000  0.086420
2020-10-18            NaN  0.007519  0.056818

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-16,0.010885,0.015385,NaN,0.002937,0.012158,0.004634,0.004625,0.000441,0.001513,NaN,...,0.002444,0.005323,0.015123,0.0,0.0,0.005908,0.003136,0.007595,0.013522,0.0
2020-10-17,0.000718,0.015152,NaN,0.003100,0.011411,0.002720,0.001842,0.000000,0.003021,NaN,...,0.011146,0.003741,0.005587,0.0,0.0,0.004112,0.000000,0.007538,0.000000,0.0
2020-10-18,0.000000,0.000000,NaN,0.000515,0.011876,0.001356,0.000000,0.000000,0.001506,NaN,...,0.002067,0.001433,0.005556,0.0,0.0,0.003217,0.000000,0.002494,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-10-16         0.0  0.015152     0.0  0.0    0.0     0.0    0.0     0.0
2020-10-17         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2020-10-18         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-10-16          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-10-17          0.0      0.0  ...     0.0    0.0      0.0      0.0
2020-10-18          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-10-16            0.0   0.0   0.0        NaN      0.0    NaN
2020-10-17            0.0   0.0   0.0        NaN      0.0    NaN
2020-10-18            0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,0.001194,0.015974,0.003704,0.041222,0.024295,0.001192,0.017025,0.021760,0.000461,0.021505,...,0.025884,0.013819,0.005064,0.004937,0.001717,0.008555,6.687257e-37,0.000531,0.001368,0.002607
2020-10-17,0.001446,0.016259,0.003750,0.020611,0.028764,0.031846,0.015508,0.023408,0.000450,0.024982,...,0.024635,0.017318,0.004298,0.005565,0.001748,0.007637,3.343628e-37,0.000265,0.004835,0.001983
2020-10-18,0.001458,0.016506,0.003711,0.010306,0.025103,0.015923,0.013147,0.025149,0.000389,0.025733,...,0.024314,0.014657,0.004656,0.004793,0.004427,0.007979,1.671814e-37,0.000376,0.004444,0.003272

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,0.001576,0.010190,0.005008,0.005632,0.018381,2.055089e-56,0.015408,0.008021,0.000393,0.006593,...,0.003060,0.000795,0.005307,0.007412,2.260679e-15,0.008621,0.0,0.000081,0.001504,0.000580
2020-10-17,0.001798,0.010739,0.003862,0.002816,0.024148,1.027544e-56,0.015168,0.009219,0.000196,0.007265,...,0.003253,0.000397,0.004577,0.007844,1.130339e-15,0.004311,0.0,0.000040,0.000752,0.000290
2020-10-18,0.002243,0.008718,0.004640,0.001408,0.024522,5.137721e-57,0.010648,0.011170,0.000651,0.005882,...,0.002394,0.000199,0.005162,0.007342,5.651697e-16,0.009618,0.0,0.000859,0.000376,0.000145

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-10-16,0.002293,0.009651,0.004140,0.019083,0.028256,0.003878,0.016836,0.008438,0.000946,0.018660,...,0.003387,0.009218,0.005652,0.009934,0.001252,0.009217,3.918315e-39,0.002263,0.002145,0.006851
2020-10-17,0.001818,0.007035,0.003589,0.009542,0.015788,0.006939,0.016557,0.008258,0.000493,0.021437,...,0.003058,0.007058,0.003933,0.008499,0.000626,0.007627,1.959157e-39,0.001506,0.002012,0.003426
2020-10-18,0.001699,0.007017,0.003335,0.004771,0.009218,0.003470,0.016362,0.005996,0.000446,0.018817,...,0.004834,0.016443,0.004677,0.009621,0.000313,0.007997,9.795786e-40,0.001501,0.003619,0.002039

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-16,0.006673,0.018821,NaN,0.003685,0.010995,0.003666,0.014037,0.008533,0.005809,1.293013e-65,...,0.006106,0.006543,0.015650,0.005849,0.000338,0.007075,0.007685,0.020014,0.022641,0.029475
2020-10-17,0.007116,0.019412,NaN,0.003962,0.010024,0.003188,0.013863,0.004267,0.007701,6.465067e-66,...,0.008972,0.006209,0.015111,0.005797,0.002426,0.006851,0.007852,0.015598,0.011320,0.023450
2020-10-18,0.006366,0.019929,NaN,0.003478,0.008284,0.002783,0.012462,0.002133,0.007142,3.232534e-66,...,0.010246,0.006383,0.013435,0.005754,0.001213,0.006099,0.006639,0.014767,0.005660,0.023579

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-16      0.008054  0.005309  0.005983  0.013264  0.008465  0.003003
2020-10-17      0.008350  0.003997  0.007640  0.009226  0.010963  0.003879
2020-10-18      0.005688  0.003494  0.005867  0.011065  0.011015  0.001939

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-10-16      0.006241  0.010288  0.002811  0.009190  ...  0.047812
2020-10-17      0.004132  0.013013  0.002593  0.012430  ...  0.033758
2020-10-18      0.005097  0.008720  0.001297  0.006916  ...  0.048280

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-10-16      0.049589  0.029376  0.030065   0.008984  0.006516  0.008151
2020-10-17      0.024794  0.034730  0.015032   0.005712  0.003258  0.015555
2020-10-18      0.018570  0.021422  0.007516   0.007722  0.007409  0.007778

Province_State
Admin2         Unassigned  Washakie    Weston
2020-10-16      -0.999999  0.009704  0.102710
2020-10-17      -0.999999  0.004852  0.094565
2020-10-18      -0.999999  0.006185  0.075691

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-10-16,0.012092,0.019983,NaN,0.002427,0.011274,0.004811,0.004158,0.000529,0.001766,NaN,...,0.006615,0.005307,0.010378,3.744599e-24,0.012500,0.004121,0.003998,0.006706,0.013732,0.003510
2020-10-17,0.006405,0.017567,NaN,0.002764,0.011343,0.003766,0.003000,0.000265,0.002394,NaN,...,0.008880,0.004524,0.007983,1.872299e-24,0.006250,0.004117,0.001999,0.007122,0.006866,0.001755
2020-10-18,0.003203,0.008784,NaN,0.001639,0.011610,0.002561,0.001500,0.000132,0.001950,NaN,...,0.005474,0.002979,0.006769,9.361497e-25,0.003125,0.003667,0.000999,0.004808,0.003433,0.000877

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-10-16      0.000072  0.009937  0.000558  0.010807  0.054753  0.015657
2020-10-17      0.000036  0.004968  0.000279  0.005403  0.027376  0.007829
2020-10-18      0.000018  0.002484  0.000140  0.002702  0.013688  0.003914

Province_State                                              ...       Wyoming  \
Admin2                Butler   Calhoun  Chambers  Cherokee  ...          Park
2020-10-16      9.939388e-08  0.029697  0.000023  0.009615  ...  9.313226e-10
2020-10-17      4.969694e-08  0.014849  0.000012  0.004808  ...  4.656613e-10
2020-10-18      2.484847e-08  0.007424  0.000006  0.002404  ...  2.328306e-10

Province_State                                                       \
Admin2         Platte      Sheridan Sublette Sweetwater Teton Uinta
2020-10-16        0.0  1.396984e-09      0.0        0.0   0.0   0.0
2020-10-17        0.0  6.984919e-10      0.0        0.0   0.0   0.0
2020-10-18        0.0  3.492460e-10      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned  Washakie Weston
2020-10-16      -0.533333  0.010417    NaN
2020-10-17      -0.533333  0.005208    NaN
2020-10-18      -0.533333  0.002604    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201018,AK,12016,NaN,520695,NaN,totalTestsViral,532711,73.0,NaN,...,532711,0,0,5027a691aeb0aa29ef550e6a6d15d41dbf37d81a,0,0,0,0,0,NaN
1,20201018,AL,172626,21099.0,1102369,NaN,totalTestsViral,1253896,823.0,18855.0,...,1274995,0,0,6015046b58daf7f3f92674fc2e2a65aed168f167,0,0,0,0,0,NaN
2,20201018,AR,99066,5710.0,1122588,NaN,totalTestsViral,1215944,565.0,6315.0,...,1221654,20,37,faf6c3b79d1555bdaff60a71dcf20de5d683ec98,0,0,0,0,0,NaN
3,20201018,AS,0,NaN,1616,NaN,totalTestsViral,1616,NaN,NaN,...,1616,0,0,2ee7040e54b51a60278e45cd1d0899bc8e3cfbfa,0,0,0,0,0,NaN
4,20201018,AZ,231149,5187.0,1405061,NaN,totalTestsPeopleViral,1631023,714.0,20640.0,...,1636210,3,22,91fb6db6ed6645e83167a164443a398333e6dc9d,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201018,AK,12016.0,NaN,520695.0,NaN,totalTestsViral,532711.0,73.0,NaN,...,532711,0,0,5027a691aeb0aa29ef550e6a6d15d41dbf37d81a,0,0,0,0,0,NaN
1,20201018,AL,172626.0,21099.0,1102369.0,NaN,totalTestsViral,1253896.0,823.0,18855.0,...,1274995,0,0,6015046b58daf7f3f92674fc2e2a65aed168f167,0,0,0,0,0,NaN
2,20201018,AR,99066.0,5710.0,1122588.0,NaN,totalTestsViral,1215944.0,565.0,6315.0,...,1221654,20,37,faf6c3b79d1555bdaff60a71dcf20de5d683ec98,0,0,0,0,0,NaN
3,20201018,AS,0.0,NaN,1616.0,NaN,totalTestsViral,1616.0,NaN,NaN,...,1616,0,0,2ee7040e54b51a60278e45cd1d0899bc8e3cfbfa,0,0,0,0,0,NaN
4,20201018,AZ,231149.0,5187.0,1405061.0,NaN,totalTestsPeopleViral,1631023.0,714.0,20640.0,...,1636210,3,22,91fb6db6ed6645e83167a164443a398333e6dc9d,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-18,AK,12016,NaN,520695,NaN,totalTestsViral,532711,73.0,NaN,NaN,...,532711,0,0,5027a691aeb0aa29ef550e6a6d15d41dbf37d81a,0,0,0,0,0,NaN
2020-10-18,AL,172626,21099.0,1102369,NaN,totalTestsViral,1253896,823.0,18855.0,NaN,...,1274995,0,0,6015046b58daf7f3f92674fc2e2a65aed168f167,0,0,0,0,0,NaN
2020-10-18,AR,99066,5710.0,1122588,NaN,totalTestsViral,1215944,565.0,6315.0,241.0,...,1221654,20,37,faf6c3b79d1555bdaff60a71dcf20de5d683ec98,0,0,0,0,0,NaN
2020-10-18,AS,0,NaN,1616,NaN,totalTestsViral,1616,NaN,NaN,NaN,...,1616,0,0,2ee7040e54b51a60278e45cd1d0899bc8e3cfbfa,0,0,0,0,0,NaN
2020-10-18,AZ,231149,5187.0,1405061,NaN,totalTestsPeopleViral,1631023,714.0,20640.0,176.0,...,1636210,3,22,91fb6db6ed6645e83167a164443a398333e6dc9d,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-10-18,AK,12016.0,NaN,520695.0,NaN,totalTestsViral,532711.0,73.0,NaN,NaN,...,532711,0,0,5027a691aeb0aa29ef550e6a6d15d41dbf37d81a,0,0,0,0,0,NaN
2020-10-18,AL,172626.0,21099.0,1102369.0,NaN,totalTestsViral,1253896.0,823.0,18855.0,NaN,...,1274995,0,0,6015046b58daf7f3f92674fc2e2a65aed168f167,0,0,0,0,0,NaN
2020-10-18,AR,99066.0,5710.0,1122588.0,NaN,totalTestsViral,1215944.0,565.0,6315.0,241.0,...,1221654,20,37,faf6c3b79d1555bdaff60a71dcf20de5d683ec98,0,0,0,0,0,NaN
2020-10-18,AS,0.0,NaN,1616.0,NaN,totalTestsViral,1616.0,NaN,NaN,NaN,...,1616,0,0,2ee7040e54b51a60278e45cd1d0899bc8e3cfbfa,0,0,0,0,0,NaN
2020-10-18,AZ,231149.0,5187.0,1405061.0,NaN,totalTestsPeopleViral,1631023.0,714.0,20640.0,176.0,...,1636210,3,22,91fb6db6ed6645e83167a164443a398333e6dc9d,0,0,0,0,0,NaN