# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'01-31-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'01-31-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-01 05:22:53,33.93911,67.709953,55023,2400,47679,4944.0,Afghanistan,141.344323,4.361812
1,NaN,NaN,NaN,Albania,2021-02-01 05:22:53,41.15330,20.168300,78127,1380,47424,29323.0,Albania,2714.816874,1.766355
2,NaN,NaN,NaN,Algeria,2021-02-01 05:22:53,28.03390,1.659600,107339,2891,73344,31104.0,Algeria,244.780951,2.693336
3,NaN,NaN,NaN,Andorra,2021-02-01 05:22:53,42.50630,1.521800,9937,101,9093,743.0,Andorra,12860.933152,1.016403
4,NaN,NaN,NaN,Angola,2021-02-01 05:22:53,-11.20270,17.873900,19796,466,18035,1295.0,Angola,60.231968,2.354011

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/22/21,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,54483,54559,54595,54672,54750,54854,54891,54939,55008,55023
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,70655,71441,72274,72812,73691,74567,75454,76350,77251,78127
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,105124,105369,105596,105854,106097,106359,106610,106887,107122,107339

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/22/21,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2370,2373,2378,2385,2389,2389,2397,2399,2400,2400
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1303,1310,1315,1324,1332,1339,1350,1358,1369,1380
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2856,2861,2863,2866,2871,2877,2881,2884,2888,2891

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/22/21,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,46912,46943,47298,47365,47459,47549,47583,47606,47609,47679
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,42895,43384,43890,44291,44880,45383,45906,46420,46927,47424
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,71552,71755,71945,72143,72336,72538,72745,72956,73152,73344

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/22/21,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5327,5358,5376,5407,5440,5499,5554,5596,5596,5669
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,16981,17128,17256,17333,17496,17629,17779,17922,17922,18126
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1793,1805,1827,1834,1882,1898,1920,1931,1931,1951

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/22/21,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,61,62,62,62,65,67,69,69,69,69
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,188,189,189,189,216,217,225,224,224,224
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,37,38,38,38,40,40,40,40,40,40

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
651,1001.0,Autauga,Alabama,US,2021-02-01 05:22:53,32.539527,-86.644082,5669,69,0,5600.0,"Autauga, Alabama, US",10146.950903,1.217146
688,1075.0,Lamar,Alabama,US,2021-02-01 05:22:53,33.779950,-88.096680,1248,28,0,1220.0,"Lamar, Alabama, US",9040.202825,2.243590
689,1077.0,Lauderdale,Alabama,US,2021-02-01 05:22:53,34.901719,-87.656247,8180,156,0,8024.0,"Lauderdale, Alabama, US",8821.404307,1.907090

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               26185355  441319          0
India            10757610  154392   10434983
Brazil            9204731  224504    8176373

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,26185355,441319,0,25744036,2021-02-01 05:22:53,37.936303,-91.379001
India,10757610,154392,10434983,168235,2021-02-01 05:22:53,23.088275,81.806127
Brazil,9204731,224504,8176373,803854,2021-02-01 05:22:53,-12.669522,-48.480493
United Kingdom,3828183,106367,9652,3712164,2021-02-01 05:22:53,30.744028,-35.367255
Russia,3808348,72029,3264611,471708,2021-02-01 05:22:53,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3322838   40923          0
Texas             2376344   37074          0
Florida           1721377   26479          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3322838,40923,0,3281915,2021-02-01 05:22:53,37.843962,-120.728594
Texas,2376344,37074,0,2339270,2021-02-01 05:22:53,31.660643,-98.653069
Florida,1721377,26479,0,1694898,2021-02-01 05:22:53,28.940755,-82.700744
New York,1419907,43634,0,1376273,2021-02-01 05:22:53,42.544151,-75.474183
Illinois,1126301,21253,0,1105048,2021-02-01 05:22:53,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1116892   16770          0
Arizona        Maricopa        472760    7462          0
Illinois       Cook            453634    9420          0
Florida        Miami-Dade      372120    4874          0
Texas          Harris          317654    4257          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1116892,16770,0,1100122,2021-02-01 05:22:53,34.308284,-118.228241,6037.0
Arizona,Maricopa,472760,7462,0,465298,2021-02-01 05:22:53,33.348359,-112.491815,4013.0
Illinois,Cook,453634,9420,0,444214,2021-02-01 05:22:53,41.841448,-87.816588,17031.0
Florida,Miami-Dade,372120,4874,0,367246,2021-02-01 05:22:53,25.611236,-80.551706,12086.0
Texas,Harris,317654,4257,0,313397,2021-02-01 05:22:53,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,54939,76350,106887,9837,19723,218,1915362,166728,28806,411730,...,3783593,40529,78602,1,125776,1657,158168,2120,51624,32952
2021-01-30,55008,77251,107122,9885,19782,218,1922264,166901,28811,413208,...,3806993,41181,78711,1,126323,1767,158559,2120,53352,33273
2021-01-31,55023,78127,107339,9937,19796,234,1927239,167026,28818,414398,...,3828183,41738,78711,1,126927,1817,158962,2121,54217,33388

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,2399,1358,2884,100,464,6,47775,3069,909,7658,...,104572,425,621,0,1177,35,1823,615,728,1178
2021-01-30,2400,1369,2888,101,464,7,47931,3071,909,7703,...,105777,431,621,0,1183,35,1831,615,745,1193
2021-01-31,2400,1380,2891,101,466,7,47974,3080,909,7721,...,106367,436,621,0,1189,35,1833,615,763,1217

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,47606,46420,72956,8986,17918,175,1703459,156910,26045,389476,...,9404,33146,77084,1,117867,1448,148140,1425,44133,24872
2021-01-30,47609,46927,73152,9045,18015,175,1712868,157314,26057,391076,...,9580,33914,77191,1,118385,1456,148583,1426,45443,25361
2021-01-31,47679,47424,73344,9093,18035,177,1721650,157519,26061,392497,...,9652,34683,77191,1,118887,1457,148993,1426,48000,26044

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/22/21,1/23/21,1/24/21,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5327,5358,5376,5407,5440,5499,5554,5596,5596,5669
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1197,1199,1202,1206,1213,1220,1230,1235,1235,1248
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,7798,7847,7871,7946,7986,8049,8088,8134,8134,8180
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2507,2533,2541,2558,2569,2597,2616,2628,2628,2647
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,13036,13137,13205,13261,13378,13482,13602,13679,13679,13829

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-29,455582,54062,0,748260,292563,3293531,393459,250023,76935,49,...,722491,2348188,343962,11658,2398,497912,309801,119467,589384,51690
2021-01-30,455582,54216,0,753379,294387,3310949,395019,250023,77551,49,...,724742,2363266,345430,11831,2398,502221,311597,120340,590997,51704
2021-01-31,459639,54351,0,758404,295268,3322838,396185,250023,78071,49,...,727861,2376344,346624,11965,2398,504779,311597,121001,592140,51912

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-01-29        5596   17922    1931  2284   5655    1075   1800   11918
2021-01-30        5596   17922    1931  2284   5655    1075   1800   11918
2021-01-31        5669   18126    1951  2307   5713    1086   1812   12011

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-29         3174     1688  ...    2532    552     2868      649
2021-01-30         3174     1688  ...    2527    553     2869      649
2021-01-31         3203     1704  ...    2541    557     2884      650

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-29           3464  3078  1959          0      864    610
2021-01-30           3472  3078  1960          0      864    610
2021-01-31           3486  3116  1963          0      866    610

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-29,7566,262,0,13022,4831,40238,5594,7046,1078,0,...,9461,36650,1655,172,24,6379,4285,2006,6390,596
2021-01-30,7566,262,0,13098,4838,40702,5620,7046,1081,0,...,9574,36924,1663,173,24,6449,4285,2015,6430,596
2021-01-31,7688,262,0,13120,4868,40923,5640,7046,1090,0,...,9650,37074,1665,174,24,6464,4285,2024,6434,596

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-01-29          69     224      40   51     98      29     60     232
2021-01-30          69     224      40   51     98      29     60     232
2021-01-31          69     224      40   52    100      29     60     232

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-01-29           76       35  ...      20     11       19        7
2021-01-30           76       35  ...      20     11       19        7
2021-01-31           76       35  ...      20     11       19        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-29             32     6    12          0       25      4
2021-01-30             32     6    12          0       25      4
2021-01-31             32     6    12          0       25      4

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,0.000874,0.011875,0.002598,0.005931,0.002593,0.013953,0.005163,0.000354,0.000243,0.003656,...,0.007763,0.016095,0.000586,0.0,0.003286,0.003634,0.003649,0.000000,0.025935,0.009373
2021-01-30,0.001256,0.011801,0.002199,0.004880,0.002991,0.000000,0.003603,0.001038,0.000174,0.003590,...,0.006185,0.016087,0.001387,0.0,0.004349,0.066385,0.002472,0.000000,0.033473,0.009741
2021-01-31,0.000273,0.011340,0.002026,0.005260,0.000708,0.073394,0.002588,0.000749,0.000243,0.002880,...,0.005566,0.013526,0.000000,0.0,0.004781,0.028297,0.002542,0.000472,0.016213,0.003456

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,0.000834,0.005926,0.001041,0.00,0.00000,0.000000,0.003655,0.000652,0.0,0.006704,...,0.012079,0.024096,0.0,NaN,0.005124,0.0,0.006071,0.0,0.032624,0.015517
2021-01-30,0.000417,0.008100,0.001387,0.01,0.00000,0.166667,0.003265,0.000652,0.0,0.005876,...,0.011523,0.014118,0.0,NaN,0.005098,0.0,0.004388,0.0,0.023352,0.012733
2021-01-31,0.000000,0.008035,0.001039,0.00,0.00431,0.000000,0.000897,0.002931,0.0,0.002337,...,0.005578,0.011601,0.0,NaN,0.005072,0.0,0.001092,0.0,0.024161,0.020117

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,0.000483,0.011197,0.002901,0.004921,0.012774,0.005747,0.006091,0.001692,0.000423,0.004355,...,0.005883,0.026001,0.000480,0.0,0.003576,0.012587,0.003523,0.000000,0.031844,0.018551
2021-01-30,0.000063,0.010922,0.002687,0.006566,0.005414,0.000000,0.005523,0.002575,0.000461,0.004108,...,0.018715,0.023170,0.001388,0.0,0.004395,0.005525,0.002990,0.000702,0.029683,0.019661
2021-01-31,0.001470,0.010591,0.002625,0.005307,0.001110,0.011429,0.005127,0.001303,0.000154,0.003634,...,0.007516,0.022675,0.000000,0.0,0.004240,0.000687,0.002759,0.000000,0.056268,0.026931

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-29,0.006291,0.003434,NaN,0.006765,0.005869,0.005995,0.004396,0.005057,0.005752,0.0,...,0.006840,0.007688,0.004430,0.011716,0.005872,0.008585,0.006472,0.007633,0.003070,0.005055
2021-01-30,0.000000,0.002849,NaN,0.006841,0.006235,0.005289,0.003965,0.000000,0.008007,0.0,...,0.003116,0.006421,0.004268,0.014840,0.000000,0.008654,0.005797,0.007307,0.002737,0.000271
2021-01-31,0.008905,0.002490,NaN,0.006670,0.002993,0.003591,0.002952,0.000000,0.006705,0.0,...,0.004304,0.005534,0.003457,0.011326,0.000000,0.005093,0.000000,0.005493,0.001934,0.004023

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-29      0.007562  0.008043  0.005729  0.005724  0.007662 -0.003707
2021-01-30      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2021-01-31      0.013045  0.011383  0.010357  0.010070  0.010256  0.010233

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-29      0.006711  0.007183  0.004748  0.003567  ...  0.002772
2021-01-30      0.000000  0.000000  0.000000  0.000000  ... -0.001975
2021-01-31      0.006667  0.007803  0.009137  0.009479  ...  0.005540

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-29      0.005464  0.002447  0.001543   0.006977  0.016513  0.001022
2021-01-30      0.001812  0.000349  0.000000   0.002309  0.000000  0.000510
2021-01-31      0.007233  0.005228  0.001541   0.004032  0.012346  0.001531

Province_State
Admin2         Unassigned  Washakie Weston
2021-01-29            NaN  0.000000    0.0
2021-01-30            NaN  0.000000    0.0
2021-01-31            NaN  0.002315    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-29,0.030790,0.0,NaN,0.015836,0.009824,0.016779,0.004489,0.003704,0.002791,NaN,...,0.004672,0.009864,0.021605,0.000000,0.0,0.011256,0.009899,0.011599,0.008841,0.0
2021-01-30,0.000000,0.0,NaN,0.005836,0.001449,0.011531,0.004648,0.000000,0.002783,NaN,...,0.011944,0.007476,0.004834,0.005814,0.0,0.010974,0.000000,0.004487,0.006260,0.0
2021-01-31,0.016125,0.0,NaN,0.001680,0.006201,0.005430,0.003559,0.000000,0.008326,NaN,...,0.007938,0.004062,0.001203,0.005780,0.0,0.002326,0.000000,0.004467,0.000622,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour      Bibb    Blount Bullock Butler
2021-01-29         0.0 -0.004444     0.0  0.000000  0.000000     0.0    0.0
2021-01-30         0.0  0.000000     0.0  0.000000  0.000000     0.0    0.0
2021-01-31         0.0  0.000000     0.0  0.019608  0.020408     0.0    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2021-01-29      0.004329      0.0      0.0  ...     0.0    0.0      0.0
2021-01-30      0.000000      0.0      0.0  ...     0.0    0.0      0.0
2021-01-31      0.000000      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-01-29          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-01-30          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-01-31          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,0.001012,0.011731,0.002489,0.006227,0.003116,0.016484,0.005148,0.000782,0.000225,0.003629,...,0.007494,0.015752,0.000578,0.0,0.003323,0.017866,0.003644,0.000095,0.026823,0.009974
2021-01-30,0.001134,0.011766,0.002344,0.005553,0.003054,0.008242,0.004376,0.000910,0.000199,0.003609,...,0.006839,0.015920,0.000982,0.0,0.003836,0.042126,0.003058,0.000047,0.030148,0.009858
2021-01-31,0.000703,0.011553,0.002185,0.005407,0.001881,0.040818,0.003482,0.000829,0.000221,0.003245,...,0.006203,0.014723,0.000491,0.0,0.004309,0.035211,0.002800,0.000260,0.023181,0.006657

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,0.001518,0.006403,0.001306,0.006997,0.001573,0.000003,0.003703,0.001631,6.410535e-14,0.006438,...,0.012773,0.022511,0.000013,NaN,0.005100,5.573003e-47,0.004445,0.000019,0.028310,0.023182
2021-01-30,0.000967,0.007251,0.001346,0.008499,0.000786,0.083335,0.003484,0.001141,3.205268e-14,0.006157,...,0.012148,0.018314,0.000007,NaN,0.005099,2.786502e-47,0.004417,0.000010,0.025831,0.017958
2021-01-31,0.000484,0.007643,0.001193,0.004249,0.002548,0.041667,0.002191,0.002036,1.602634e-14,0.004247,...,0.008863,0.014958,0.000003,NaN,0.005085,1.393251e-47,0.002754,0.000005,0.024996,0.019038

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-01-29,0.000967,0.011357,0.002852,0.006974,0.009619,0.007319,0.005903,0.002596,0.000359,0.004113,...,0.008516,0.024872,0.000618,0.0,0.003396,0.006837,0.004070,0.000111,0.034403,0.021996
2021-01-30,0.000515,0.011139,0.002769,0.006770,0.007516,0.003659,0.005713,0.002585,0.000410,0.004110,...,0.013616,0.024021,0.001003,0.0,0.003896,0.006181,0.003530,0.000406,0.032043,0.020828
2021-01-31,0.000993,0.010865,0.002697,0.006038,0.004313,0.007544,0.005420,0.001944,0.000282,0.003872,...,0.010566,0.023348,0.000501,0.0,0.004068,0.003434,0.003145,0.000203,0.044156,0.023880

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-29,0.006785,0.003383,NaN,0.006938,0.006130,0.006277,0.004069,0.006372,0.006420,3.187524e-97,...,0.005037,0.008168,0.004757,0.011509,0.004941,0.009572,0.006629,0.007319,0.003036,0.003699
2021-01-30,0.003393,0.003116,NaN,0.006889,0.006183,0.005783,0.004017,0.003186,0.007213,1.593762e-97,...,0.004076,0.007294,0.004512,0.013174,0.002471,0.009113,0.006213,0.007313,0.002886,0.001985
2021-01-31,0.006149,0.002803,NaN,0.006780,0.004588,0.004687,0.003484,0.001593,0.006959,7.968811e-98,...,0.004190,0.006414,0.003984,0.012250,0.001235,0.007103,0.003107,0.006403,0.002410,0.003004

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-29      0.008355  0.008087  0.008892  0.005421  0.007505  0.002419
2021-01-30      0.004177  0.004043  0.004446  0.002710  0.003753  0.001209
2021-01-31      0.008611  0.007713  0.007402  0.006390  0.007005  0.005721

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-29      0.007617  0.007504  0.007197  0.003791  ...  0.001788
2021-01-30      0.003808  0.003752  0.003598  0.001896  ... -0.000093
2021-01-31      0.005238  0.005778  0.006368  0.005687  ...  0.002723

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-01-29      0.003806  0.002677  0.002076   0.004903  0.011256  0.003934
2021-01-30      0.002809  0.001513  0.001038   0.003606  0.005628  0.002222
2021-01-31      0.005021  0.003370  0.001289   0.003819  0.008987  0.001876

Province_State
Admin2         Unassigned  Washakie    Weston
2021-01-29           -1.0  0.000521  0.000142
2021-01-30           -1.0  0.000260  0.000071
2021-01-31           -1.0  0.001288  0.000036

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-01-29,0.028795,0.001942,NaN,0.014766,0.009611,0.016975,0.004024,0.004866,0.004264,NaN,...,0.009071,0.010445,0.012304,0.001032,6.478766e-10,0.011086,0.008828,0.012593,0.007290,0.002912
2021-01-30,0.014397,0.000971,NaN,0.010301,0.005530,0.014253,0.004336,0.002433,0.003524,NaN,...,0.010507,0.008960,0.008569,0.003423,3.239383e-10,0.011030,0.004414,0.008540,0.006775,0.001456
2021-01-31,0.015261,0.000485,NaN,0.005990,0.005865,0.009841,0.003947,0.001216,0.005925,NaN,...,0.009223,0.006511,0.004886,0.004602,1.619691e-10,0.006678,0.002207,0.006503,0.003699,0.000728

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-01-29      0.014674  0.016595  0.003610  0.003947  0.015110  0.002232
2021-01-30      0.007337  0.008298  0.001805  0.001974  0.007555  0.001116
2021-01-31      0.003669  0.004149  0.000902  0.010791  0.013982  0.000558

Province_State                                         ...   Wyoming  \
Admin2           Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-01-29      0.00020  0.012193  0.007813  0.019446  ...  0.007205
2021-01-30      0.00010  0.006096  0.003906  0.009723  ...  0.003603
2021-01-31      0.00005  0.003048  0.001953  0.004861  ...  0.001801

Province_State                                                         \
Admin2            Platte  Sheridan      Sublette Sweetwater     Teton
2021-01-29      0.006304  0.003501  5.153319e-09   0.004484  0.012622
2021-01-30      0.003152  0.001750  2.576659e-09   0.002242  0.006311
2021-01-31      0.001576  0.000875  1.288330e-09   0.001121  0.003156

Province_State
Admin2             Uinta Unassigned  Washakie        Weston
2021-01-29      0.000836  -0.501961  0.000184  5.463759e-08
2021-01-30      0.000418  -0.501961  0.000092  2.731880e-08
2021-01-31      0.000209  -0.501961  0.000046  1.365940e-08

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210131,AK,52598,NaN,NaN,NaN,totalTestsViral,1500325,42.0,1205.0,...,52598,0,0,2c9df40e6a6badde8ef3dbaac00a4e41ea974812,0,0,0,0,0,NaN
1,20210131,AL,459639,97320.0,1778386.0,NaN,totalTestsPeopleViral,2140705,1884.0,41859.0,...,2238025,122,0,bbe404f3443289ccc0b967256c79f1e596c80481,0,0,0,0,0,NaN
2,20210131,AR,295268,59600.0,2195870.0,NaN,totalTestsViral,2431538,913.0,13610.0,...,2491138,30,11,186991f833efc5b85d0dbea4e66a5c4d2bef84ea,0,0,0,0,0,NaN
3,20210131,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,994fe93a9b24055a7d4c3307e255eff027a13f3b,0,0,0,0,0,NaN
4,20210131,AZ,758404,48131.0,2747043.0,NaN,totalTestsViral,6698752,3664.0,52764.0,...,3505447,22,758,796ea9c7385912a268d5fb71d48b1159636a6c12,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210131,AK,52598.0,NaN,NaN,NaN,totalTestsViral,1500325.0,42.0,1205.0,...,52598,0,0,2c9df40e6a6badde8ef3dbaac00a4e41ea974812,0,0,0,0,0,NaN
1,20210131,AL,459639.0,97320.0,1778386.0,NaN,totalTestsPeopleViral,2140705.0,1884.0,41859.0,...,2238025,122,0,bbe404f3443289ccc0b967256c79f1e596c80481,0,0,0,0,0,NaN
2,20210131,AR,295268.0,59600.0,2195870.0,NaN,totalTestsViral,2431538.0,913.0,13610.0,...,2491138,30,11,186991f833efc5b85d0dbea4e66a5c4d2bef84ea,0,0,0,0,0,NaN
3,20210131,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,994fe93a9b24055a7d4c3307e255eff027a13f3b,0,0,0,0,0,NaN
4,20210131,AZ,758404.0,48131.0,2747043.0,NaN,totalTestsViral,6698752.0,3664.0,52764.0,...,3505447,22,758,796ea9c7385912a268d5fb71d48b1159636a6c12,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-31,AK,52598,NaN,NaN,NaN,totalTestsViral,1500325,42.0,1205.0,NaN,...,52598,0,0,2c9df40e6a6badde8ef3dbaac00a4e41ea974812,0,0,0,0,0,NaN
2021-01-31,AL,459639,97320.0,1778386.0,NaN,totalTestsPeopleViral,2140705,1884.0,41859.0,NaN,...,2238025,122,0,bbe404f3443289ccc0b967256c79f1e596c80481,0,0,0,0,0,NaN
2021-01-31,AR,295268,59600.0,2195870.0,NaN,totalTestsViral,2431538,913.0,13610.0,272.0,...,2491138,30,11,186991f833efc5b85d0dbea4e66a5c4d2bef84ea,0,0,0,0,0,NaN
2021-01-31,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,994fe93a9b24055a7d4c3307e255eff027a13f3b,0,0,0,0,0,NaN
2021-01-31,AZ,758404,48131.0,2747043.0,NaN,totalTestsViral,6698752,3664.0,52764.0,979.0,...,3505447,22,758,796ea9c7385912a268d5fb71d48b1159636a6c12,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-01-31,AK,52598.0,NaN,NaN,NaN,totalTestsViral,1500325.0,42.0,1205.0,NaN,...,52598,0,0,2c9df40e6a6badde8ef3dbaac00a4e41ea974812,0,0,0,0,0,NaN
2021-01-31,AL,459639.0,97320.0,1778386.0,NaN,totalTestsPeopleViral,2140705.0,1884.0,41859.0,NaN,...,2238025,122,0,bbe404f3443289ccc0b967256c79f1e596c80481,0,0,0,0,0,NaN
2021-01-31,AR,295268.0,59600.0,2195870.0,NaN,totalTestsViral,2431538.0,913.0,13610.0,272.0,...,2491138,30,11,186991f833efc5b85d0dbea4e66a5c4d2bef84ea,0,0,0,0,0,NaN
2021-01-31,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,994fe93a9b24055a7d4c3307e255eff027a13f3b,0,0,0,0,0,NaN
2021-01-31,AZ,758404.0,48131.0,2747043.0,NaN,totalTestsViral,6698752.0,3664.0,52764.0,979.0,...,3505447,22,758,796ea9c7385912a268d5fb71d48b1159636a6c12,0,0,0,0,0,NaN