# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-24-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-24-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-25 05:22:48,33.93911,67.709953,50655,2126,40359,8170.0,Afghanistan,130.123706,4.197019
1,NaN,NaN,NaN,Albania,2020-12-25 05:22:48,41.15330,20.168300,54827,1125,30276,23426.0,Albania,1905.170616,2.051909
2,NaN,NaN,NaN,Algeria,2020-12-25 05:22:48,28.03390,1.659600,97007,2705,64777,29525.0,Algeria,221.219368,2.788459
3,NaN,NaN,NaN,Andorra,2020-12-25 05:22:48,42.50630,1.521800,7699,83,7171,445.0,Andorra,9964.408206,1.078062
4,NaN,NaN,NaN,Angola,2020-12-25 05:22:48,-11.20270,17.873900,17029,393,9729,6907.0,Angola,51.813002,2.307828

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48952,49161,49378,49621,49681,49817,50013,50190,50433,50655
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,50000,50637,51424,52004,52542,53003,53425,53814,54317,54827
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,93065,93507,93933,94371,94781,95203,95659,96069,96549,97007

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1995,2011,2025,2030,2047,2067,2082,2096,2117,2126
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1028,1040,1055,1066,1074,1088,1098,1111,1117,1125
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2623,2631,2640,2647,2659,2666,2675,2687,2696,2705

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38336,38475,38505,38540,38613,39006,39508,39585,39692,40359
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,25876,26381,26898,27426,27831,28121,28752,29249,29799,30276
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,61307,61700,62089,62487,62869,63260,63644,64020,64401,64777

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3426,3510,3570,3647,3698,3741,3780,3841,3889,3942
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,11061,11212,11364,11556,11722,11827,11952,12155,12321,12521
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1292,1296,1309,1318,1330,1336,1336,1363,1383,1390

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,43,43,43,44,44,44,44,44,46,46
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,141,145,145,146,147,147,147,149,151,151
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,30,30,30,30,32,32,32,32,32,32

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-25 05:22:48,32.539527,-86.644082,3942,46,0,3896.0,"Autauga, Alabama, US",7055.791226,1.166920
686,1075.0,Lamar,Alabama,US,2020-12-25 05:22:48,33.779950,-88.096680,997,15,0,982.0,"Lamar, Alabama, US",7222.021007,1.504514
687,1077.0,Lauderdale,Alabama,US,2020-12-25 05:22:48,34.901719,-87.656247,5996,68,0,5928.0,"Lauderdale, Alabama, US",6466.154062,1.134089

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               18650454  329023          0
India            10146845  147092    9717834
Brazil            7423945  189982    6512717

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,18650454,329023,0,18321431,2020-12-25 05:22:48,37.936303,-91.379001
India,10146845,147092,9717834,281919,2020-12-25 05:22:48,23.088275,81.806127
Brazil,7423945,189982,6512717,721246,2020-12-25 05:22:48,-12.669522,-48.480493
Russia,2934695,52434,2347700,534561,2020-12-25 05:22:48,54.546312,62.120860
France,2584333,62389,194559,2327385,2020-12-25 05:22:48,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2040188   23881          0
Texas             1659409   26707          0
Florida           1247546   20995          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2040188,23881,0,2016307,2020-12-25 05:22:48,37.843962,-120.728594
Texas,1659409,26707,0,1632702,2020-12-25 05:22:48,31.660643,-98.653069
Florida,1247546,20995,0,1226551,2020-12-25 05:22:48,28.940755,-82.700744
Illinois,925107,16960,0,908147,2020-12-25 05:22:48,39.843618,-89.178330
New York,891270,37028,0,854242,2020-12-25 05:22:48,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     677299    9299          0
Illinois       Cook            380096    7954          0
Arizona        Maricopa        291778    4833          0
Florida        Miami-Dade      283285    4108          0
Texas          Harris          225102    3306          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,677299,9299,0,668000,2020-12-25 05:22:48,34.308284,-118.228241,6037.0
Illinois,Cook,380096,7954,0,372142,2020-12-25 05:22:48,41.841448,-87.816588,17031.0
Arizona,Maricopa,291778,4833,0,286945,2020-12-25 05:22:48,33.348359,-112.491815,4013.0
Florida,Miami-Dade,283285,4108,0,279177,2020-12-25 05:22:48,25.611236,-80.551706,12086.0
Texas,Harris,225102,3306,0,221796,2020-12-25 05:22:48,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,50190,53814,96069,7633,16802,153,1555279,154602,28237,342226,...,2116609,14001,76180,1,110828,1420,125506,2087,18881,12544
2020-12-23,50433,54317,96549,7669,16931,154,1563865,155440,28262,344357,...,2155996,14710,76315,1,111024,1421,127376,2087,19122,12656
2020-12-24,50655,54827,97007,7699,17029,154,1563865,156142,28274,347204,...,2195144,15457,76456,1,111245,1432,129080,2092,19234,12786

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,2096,1111,2687,82,393,5,42254,2673,908,5540,...,68409,120,612,0,997,35,1198,606,379,326
2020-12-23,2117,1117,2696,82,393,5,42314,2691,908,5654,...,69157,128,612,0,1002,35,1226,606,380,330
2020-12-24,2126,1125,2705,83,393,5,42314,2714,908,5745,...,69732,135,612,0,1006,35,1243,606,381,339

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,39585,29249,64020,7073,9729,144,1379726,134586,25718,309595,...,4409,9127,73460,1,104799,1281,101355,1384,17890,10159
2020-12-23,39692,29799,64401,7106,9729,146,1384277,135638,25722,312921,...,4723,9574,73589,1,105249,1281,102942,1384,17969,10259
2020-12-24,40359,30276,64777,7171,9729,146,1384277,136766,25724,315952,...,4821,10040,73746,1,105479,1281,105233,1384,18036,10314

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3426,3510,3570,3647,3698,3741,3780,3841,3889,3942
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,870,889,912,925,941,946,966,979,986,997
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,5200,5243,5346,5428,5531,5582,5644,5722,5859,5996
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1617,1635,1672,1708,1739,1757,1783,1819,1859,1907
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,8857,8966,9055,9188,9283,9337,9372,9490,9609,9715

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-22,329811,44463,0,467215,205048,1958508,313552,168960,51623,49,...,534019,1626614,255085,6608,1934,314481,227887,74737,497380,42379
2020-12-23,334569,44828,0,473273,207941,2002494,316500,170705,52235,49,...,541240,1648569,257697,6680,1950,319133,230202,75936,500443,42664
2020-12-24,338801,45104,0,473997,211145,2040188,319530,172743,53015,49,...,546497,1659409,260589,6781,1967,323915,233093,77239,503706,42664

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-22        3841   12155    1363  1660   4313     760   1412    8856
2020-12-23        3889   12321    1383  1683   4367     765   1423    8968
2020-12-24        3942   12521    1390  1711   4405     770   1434    9071

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-22         2161     1314  ...    1842    415     2426      575
2020-12-23         2176     1329  ...    1860    418     2432      579
2020-12-24         2191     1343  ...    1860    418     2432      579

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-22           2780  2033  1460          0      720    455
2020-12-23           2820  2039  1475          0      726    460
2020-12-24           2820  2039  1475          0      726    460

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-22,4452,194,0,8125,3338,23239,4369,5703,872,0,...,6269,26117,1173,112,23,4705,3131,1171,4879,373
2020-12-23,4587,197,0,8179,3376,23558,4462,5736,872,0,...,6380,26406,1196,117,23,4760,3162,1194,4953,373
2020-12-24,4676,199,0,8294,3406,23881,4550,5791,888,0,...,6431,26707,1204,120,23,4791,3184,1228,5019,373

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-22          44     149      32   42     54      20     45     141
2020-12-23          46     151      32   42     57      20     45     145
2020-12-24          46     151      32   42     58      20     45     148

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-22           61       23  ...       7      8       15        5
2020-12-23           61       23  ...       7      8       15        5
2020-12-24           61       23  ...       7      8       15        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-22             15     2     7          0       12      2
2020-12-23             15     2     7          0       12      2
2020-12-24             15     2     7          0       12      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,0.003539,0.007281,0.004286,0.004078,0.006952,0.000000,0.005262,0.003486,0.000638,0.005444,...,0.017758,0.038881,0.001736,0.0,0.002850,0.004243,0.012594,0.000000,0.006021,0.009821
2020-12-23,0.004842,0.009347,0.004996,0.004716,0.007678,0.006536,0.005521,0.005420,0.000885,0.006227,...,0.018609,0.050639,0.001772,0.0,0.001769,0.000704,0.014900,0.000000,0.012764,0.008929
2020-12-24,0.004402,0.009389,0.004744,0.003912,0.005788,0.000000,0.000000,0.004516,0.000425,0.008268,...,0.018158,0.050782,0.001848,0.0,0.001991,0.007741,0.013378,0.002396,0.005857,0.010272

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,0.006724,0.011840,0.004486,0.012346,0.007692,0.0,0.006119,0.006401,0.0,0.019319,...,0.010204,0.008403,0.0,NaN,0.004028,0.0,0.024808,0.0,0.010667,0.012422
2020-12-23,0.010019,0.005401,0.003349,0.000000,0.000000,0.0,0.001420,0.006734,0.0,0.020578,...,0.010934,0.066667,0.0,NaN,0.005015,0.0,0.023372,0.0,0.002639,0.012270
2020-12-24,0.004251,0.007162,0.003338,0.012195,0.000000,0.0,0.000000,0.008547,0.0,0.016095,...,0.008314,0.054688,0.0,NaN,0.003992,0.0,0.013866,0.0,0.002632,0.027273

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,0.001949,0.017286,0.005908,0.006403,0.003507,0.006993,0.003874,0.010587,0.000078,0.012880,...,0.005244,0.050529,0.001650,0.0,0.000000,0.009456,0.018162,0.0,0.004041,0.004648
2020-12-23,0.002703,0.018804,0.005951,0.004666,0.000000,0.013889,0.003298,0.007817,0.000156,0.010743,...,0.071218,0.048976,0.001756,0.0,0.004294,0.000000,0.015658,0.0,0.004416,0.009843
2020-12-24,0.016804,0.016007,0.005838,0.009147,0.000000,0.000000,0.000000,0.008316,0.000078,0.009686,...,0.020750,0.048673,0.002133,0.0,0.002185,0.000000,0.022255,0.0,0.003729,0.005361

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-22,0.015328,0.009995,NaN,0.012724,0.009557,0.017995,0.008089,0.009458,0.011105,0.0,...,0.008386,0.013472,0.009107,0.011325,0.006767,0.011551,0.005524,0.019090,0.006123,0.006197
2020-12-23,0.014426,0.008209,NaN,0.012966,0.014109,0.022459,0.009402,0.010328,0.011855,0.0,...,0.013522,0.013497,0.010240,0.010896,0.008273,0.014793,0.010159,0.016043,0.006158,0.006725
2020-12-24,0.012649,0.006157,NaN,0.001530,0.015408,0.018824,0.009573,0.011939,0.014933,0.0,...,0.009713,0.006575,0.011222,0.015120,0.008718,0.014984,0.012559,0.017159,0.006520,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-22      0.016138  0.016985  0.020210  0.019656  0.018658  0.007958
2020-12-23      0.012497  0.013657  0.014674  0.013855  0.012520  0.006579
2020-12-24      0.013628  0.016232  0.005061  0.016637  0.008702  0.006536

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-22      0.004982  0.019807  0.013127  0.015456  ...  0.016556
2020-12-23      0.007790  0.012647  0.006941  0.011416  ...  0.009772
2020-12-24      0.007730  0.011485  0.006893  0.010534  ...  0.000000

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-22      0.007282  0.002479  0.014109   0.006517  0.006934  0.009682
2020-12-23      0.007229  0.002473  0.006957   0.014388  0.002951  0.010274
2020-12-24      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-22            NaN  0.009818  0.017897
2020-12-23            NaN  0.008333  0.010989
2020-12-24            NaN  0.000000  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-22,0.014354,0.054348,NaN,0.019192,0.013050,0.017603,-0.002056,0.004757,0.001148,NaN,...,0.021675,0.006979,0.010336,0.009009,0.0,0.010958,0.008049,0.037201,0.026942,0.062678
2020-12-23,0.030323,0.015464,NaN,0.006646,0.011384,0.013727,0.021286,0.005786,0.000000,NaN,...,0.017706,0.011066,0.019608,0.044643,0.0,0.011690,0.009901,0.019641,0.015167,0.000000
2020-12-24,0.019403,0.010152,NaN,0.014060,0.008886,0.013711,0.019722,0.009589,0.018349,NaN,...,0.007994,0.011399,0.006689,0.025641,0.0,0.006513,0.006958,0.028476,0.013325,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin Barbour Bibb    Blount Bullock Butler
2020-12-22      0.000000  0.013605     0.0  0.0  0.000000     0.0    0.0
2020-12-23      0.045455  0.013423     0.0  0.0  0.055556     0.0    0.0
2020-12-24      0.000000  0.000000     0.0  0.0  0.017544     0.0    0.0

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2020-12-22      0.007143  0.016667      0.0  ...     0.0    0.0      0.0
2020-12-23      0.028369  0.000000      0.0  ...     0.0    0.0      0.0
2020-12-24      0.020690  0.000000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned  Washakie Weston
2020-12-22          0.0        0.0   0.0   0.0        NaN  0.090909    0.0
2020-12-23          0.0        0.0   0.0   0.0        NaN  0.000000    0.0
2020-12-24          0.0        0.0   0.0   0.0        NaN  0.000000    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,0.003462,0.008194,0.004464,0.003842,0.004766,0.001193,0.004437,0.003430,0.000786,0.005322,...,0.017009,0.038574,0.001666,0.0,0.003163,0.002629,0.012331,0.000015,0.004707,0.010078
2020-12-23,0.004152,0.008771,0.004730,0.004279,0.006222,0.003864,0.004979,0.004425,0.000836,0.005775,...,0.017809,0.044606,0.001719,0.0,0.002466,0.001667,0.013615,0.000007,0.008736,0.009503
2020-12-24,0.004277,0.009080,0.004737,0.004095,0.006005,0.001932,0.002489,0.004471,0.000630,0.007021,...,0.017983,0.047694,0.001783,0.0,0.002228,0.004704,0.013496,0.001202,0.007296,0.009888

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,0.007236,0.011057,0.003899,0.008143,0.006892,0.000244,0.004678,0.007312,6.571626e-11,0.019977,...,0.007488,0.014730,4.004343e-07,NaN,0.004399,1.531896e-35,0.023731,-1.658332e-06,0.007049,0.009310
2020-12-23,0.008627,0.008229,0.003624,0.004072,0.003446,0.000122,0.003049,0.007023,3.285813e-11,0.020278,...,0.009211,0.040698,2.002171e-07,NaN,0.004707,7.659478e-36,0.023552,-8.291660e-07,0.004844,0.010790
2020-12-24,0.006439,0.007695,0.003481,0.008133,0.001723,0.000061,0.001525,0.007785,1.642906e-11,0.018186,...,0.008763,0.047693,1.001086e-07,NaN,0.004350,3.829739e-36,0.018709,-4.145830e-07,0.003738,0.019031

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-22,0.005663,0.017747,0.006036,0.005808,0.007182,0.005441,0.004038,0.008021,0.000147,0.010900,...,0.006447,0.046050,0.001630,0.0,0.001404,0.00512,0.017539,-1.811342e-06,0.003162,0.006127
2020-12-23,0.004183,0.018276,0.005994,0.005237,0.003591,0.009665,0.003668,0.007919,0.000151,0.010821,...,0.038833,0.047513,0.001693,0.0,0.002849,0.00256,0.016599,-9.056712e-07,0.003789,0.007985
2020-12-24,0.010494,0.017141,0.005916,0.007192,0.001796,0.004833,0.001834,0.008118,0.000115,0.010254,...,0.029791,0.048093,0.001913,0.0,0.002517,0.00128,0.019427,-4.528356e-07,0.003759,0.006673

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-22,0.012311,0.007566,NaN,0.013890,0.009283,0.020234,0.007969,0.012800,0.010986,8.761800e-86,...,0.014223,0.010599,0.008690,0.013241,0.005301,0.012168,0.008682,0.017523,0.005463,0.007369
2020-12-23,0.013369,0.007888,NaN,0.013428,0.011696,0.021347,0.008686,0.011564,0.011421,4.380900e-86,...,0.013872,0.012048,0.009465,0.012068,0.006787,0.013480,0.009420,0.016783,0.005811,0.007047
2020-12-24,0.013009,0.007022,NaN,0.007479,0.013552,0.020085,0.009130,0.011751,0.013177,2.190450e-86,...,0.011793,0.009312,0.010344,0.013594,0.007752,0.014232,0.010990,0.016971,0.006165,0.003524

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-22      0.014290  0.014103  0.011698  0.015182  0.013428  0.005288
2020-12-23      0.013393  0.013880  0.013186  0.014519  0.012974  0.005933
2020-12-24      0.013511  0.015056  0.009124  0.015578  0.010838  0.006235

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-22      0.005248  0.013972  0.009265  0.011606  ...  0.014609
2020-12-23      0.006519  0.013310  0.008103  0.011511  ...  0.012190
2020-12-24      0.007125  0.012397  0.007498  0.011022  ...  0.006095

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-22      0.006715  0.004054  0.009098   0.009424  0.006799  0.012247
2020-12-23      0.006972  0.003263  0.008027   0.011906  0.004875  0.011260
2020-12-24      0.003486  0.001632  0.004014   0.005953  0.002437  0.005630

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-22           -1.0  0.012513  0.010853
2020-12-23           -1.0  0.010423  0.010921
2020-12-24           -1.0  0.005212  0.005461

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-22,0.009216,0.027909,NaN,0.012152,0.014546,0.012501,0.002356,0.007034,0.004739,NaN,...,0.017125,0.006288,0.008719,0.009759,1.230378e-16,0.007086,0.004711,0.022723,0.016610,0.032541
2020-12-23,0.019770,0.021686,NaN,0.009399,0.012965,0.013114,0.011821,0.006410,0.002370,NaN,...,0.017415,0.008677,0.014163,0.027201,6.151889e-17,0.009388,0.007306,0.021182,0.015889,0.016271
2020-12-24,0.019586,0.015919,NaN,0.011730,0.010926,0.013412,0.015772,0.007999,0.010359,NaN,...,0.012705,0.010038,0.010426,0.026421,3.075945e-17,0.007950,0.007132,0.024829,0.014607,0.008135

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-22      0.000906  0.007669  0.004169  0.000507  0.003356
2020-12-23      0.023180  0.010546  0.002084  0.000254  0.029456
2020-12-24      0.011590  0.005273  0.001042  0.000127  0.023500

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-12-22      1.003868e-07  0.000722  0.005618  0.010782 -0.001302  ...
2020-12-23      5.019339e-08  0.000361  0.016994  0.005391 -0.000651  ...
2020-12-24      2.509670e-08  0.000180  0.018842  0.002695 -0.000326  ...

Province_State       Wyoming                                               \
Admin2                  Park        Platte  Sheridan  Sublette Sweetwater
2020-12-22      2.543598e-06  3.486740e-08  0.002410  0.000090   0.000311
2020-12-23      1.271799e-06  1.743370e-08  0.001205  0.000045   0.000156
2020-12-24      6.358994e-07  8.716850e-09  0.000603  0.000022   0.000078

Province_State
Admin2                 Teton     Uinta Unassigned  Washakie        Weston
2020-12-22      8.881784e-16  0.000013  -0.501961  0.045464  2.384186e-07
2020-12-23      4.440892e-16  0.000007  -0.501961  0.022732  1.192093e-07
2020-12-24      2.220446e-16  0.000003  -0.501961  0.011366  5.960464e-08

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201224,AK,43629,NaN,1184106,NaN,totalTestsViral,1227735,105.0,983.0,...,1227735,2,22,41d63a08930a174fa10be5aa15a52952ac1ebe0b,0,0,0,0,0,NaN
1,20201224,AL,338801,64122.0,1550002,NaN,totalTestsPeopleViral,1824681,2542.0,31954.0,...,1888803,89,303,d44f2262ce6e7f389b93865039b3ff0953f4933d,0,0,0,0,0,NaN
2,20201224,AR,211145,34005.0,1811933,NaN,totalTestsViral,1989073,1093.0,10879.0,...,2023078,30,53,35a2ddb7fb653ae0c2d708ebc777c344fa47c248,0,0,0,0,0,NaN
3,20201224,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,98f96f14b2da4485c6a47f2d5f7fabaf69c1d235,0,0,0,0,0,NaN
4,20201224,AZ,480319,21317.0,2261515,NaN,totalTestsViral,4787230,4221.0,34520.0,...,2741834,115,408,297a55a7d7299ed94d7ea1af57dea603d6e97b6c,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201224,AK,43629.0,NaN,1184106.0,NaN,totalTestsViral,1227735.0,105.0,983.0,...,1227735,2,22,41d63a08930a174fa10be5aa15a52952ac1ebe0b,0,0,0,0,0,NaN
1,20201224,AL,338801.0,64122.0,1550002.0,NaN,totalTestsPeopleViral,1824681.0,2542.0,31954.0,...,1888803,89,303,d44f2262ce6e7f389b93865039b3ff0953f4933d,0,0,0,0,0,NaN
2,20201224,AR,211145.0,34005.0,1811933.0,NaN,totalTestsViral,1989073.0,1093.0,10879.0,...,2023078,30,53,35a2ddb7fb653ae0c2d708ebc777c344fa47c248,0,0,0,0,0,NaN
3,20201224,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,98f96f14b2da4485c6a47f2d5f7fabaf69c1d235,0,0,0,0,0,NaN
4,20201224,AZ,480319.0,21317.0,2261515.0,NaN,totalTestsViral,4787230.0,4221.0,34520.0,...,2741834,115,408,297a55a7d7299ed94d7ea1af57dea603d6e97b6c,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-24,AK,43629,NaN,1184106,NaN,totalTestsViral,1227735,105.0,983.0,NaN,...,1227735,2,22,41d63a08930a174fa10be5aa15a52952ac1ebe0b,0,0,0,0,0,NaN
2020-12-24,AL,338801,64122.0,1550002,NaN,totalTestsPeopleViral,1824681,2542.0,31954.0,NaN,...,1888803,89,303,d44f2262ce6e7f389b93865039b3ff0953f4933d,0,0,0,0,0,NaN
2020-12-24,AR,211145,34005.0,1811933,NaN,totalTestsViral,1989073,1093.0,10879.0,360.0,...,2023078,30,53,35a2ddb7fb653ae0c2d708ebc777c344fa47c248,0,0,0,0,0,NaN
2020-12-24,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,98f96f14b2da4485c6a47f2d5f7fabaf69c1d235,0,0,0,0,0,NaN
2020-12-24,AZ,480319,21317.0,2261515,NaN,totalTestsViral,4787230,4221.0,34520.0,965.0,...,2741834,115,408,297a55a7d7299ed94d7ea1af57dea603d6e97b6c,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-24,AK,43629.0,NaN,1184106.0,NaN,totalTestsViral,1227735.0,105.0,983.0,NaN,...,1227735,2,22,41d63a08930a174fa10be5aa15a52952ac1ebe0b,0,0,0,0,0,NaN
2020-12-24,AL,338801.0,64122.0,1550002.0,NaN,totalTestsPeopleViral,1824681.0,2542.0,31954.0,NaN,...,1888803,89,303,d44f2262ce6e7f389b93865039b3ff0953f4933d,0,0,0,0,0,NaN
2020-12-24,AR,211145.0,34005.0,1811933.0,NaN,totalTestsViral,1989073.0,1093.0,10879.0,360.0,...,2023078,30,53,35a2ddb7fb653ae0c2d708ebc777c344fa47c248,0,0,0,0,0,NaN
2020-12-24,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,98f96f14b2da4485c6a47f2d5f7fabaf69c1d235,0,0,0,0,0,NaN
2020-12-24,AZ,480319.0,21317.0,2261515.0,NaN,totalTestsViral,4787230.0,4221.0,34520.0,965.0,...,2741834,115,408,297a55a7d7299ed94d7ea1af57dea603d6e97b6c,0,0,0,0,0,NaN