# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-23-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-23-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-24 05:23:04,33.93911,67.709953,50433,2117,39692,8624.0,Afghanistan,129.553427,4.197648
1,NaN,NaN,NaN,Albania,2020-12-24 05:23:04,41.15330,20.168300,54317,1117,29799,23401.0,Albania,1887.448746,2.056446
2,NaN,NaN,NaN,Algeria,2020-12-24 05:23:04,28.03390,1.659600,96549,2696,64401,29452.0,Algeria,220.174923,2.792364
3,NaN,NaN,NaN,Andorra,2020-12-24 05:23:04,42.50630,1.521800,7669,82,7106,481.0,Andorra,9925.580793,1.069240
4,NaN,NaN,NaN,Angola,2020-12-24 05:23:04,-11.20270,17.873900,16931,393,9729,6809.0,Angola,51.514824,2.321186

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48718,48952,49161,49378,49621,49681,49817,50013,50190,50433
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,49191,50000,50637,51424,52004,52542,53003,53425,53814,54317
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,92597,93065,93507,93933,94371,94781,95203,95659,96069,96549

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1969,1995,2011,2025,2030,2047,2067,2082,2096,2117
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1016,1028,1040,1055,1066,1074,1088,1098,1111,1117
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2609,2623,2631,2640,2647,2659,2666,2675,2687,2696

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38252,38336,38475,38505,38540,38613,39006,39508,39585,39692
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,24820,25876,26381,26898,27426,27831,28121,28752,29249,29799
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,60888,61307,61700,62089,62487,62869,63260,63644,64020,64401

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3329,3426,3510,3570,3647,3698,3741,3780,3841,3889
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,10898,11061,11212,11364,11556,11722,11827,11952,12155,12321
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1275,1292,1296,1309,1318,1330,1336,1336,1363,1383

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,41,43,43,43,44,44,44,44,44,46
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,141,141,145,145,146,147,147,147,149,151
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,30,30,30,30,30,32,32,32,32,32

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-24 05:23:04,32.539527,-86.644082,3889,46,0,3843.0,"Autauga, Alabama, US",6960.926453,1.182823
686,1075.0,Lamar,Alabama,US,2020-12-24 05:23:04,33.779950,-88.096680,986,15,0,971.0,"Lamar, Alabama, US",7142.339732,1.521298
687,1077.0,Lauderdale,Alabama,US,2020-12-24 05:23:04,34.901719,-87.656247,5859,68,0,5791.0,"Lauderdale, Alabama, US",6318.411716,1.160608

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               18458373  326124          0
India            10123778  146756    9693173
Brazil            7365517  189220    6512717

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,18458373,326124,0,18132249,2020-12-24 05:23:04,37.936303,-91.379001
India,10123778,146756,9693173,283849,2020-12-24 05:23:04,23.088275,81.806127
Brazil,7365517,189220,6512717,663580,2020-12-24 05:23:04,-12.669522,-48.480493
Russia,2905196,51810,2321362,532024,2020-12-24 05:23:04,54.546312,62.120860
France,2562615,62098,193192,2307325,2020-12-24 05:23:04,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2002494   23558          0
Texas             1648569   26406          0
Florida           1234399   20874          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2002494,23558,0,1978936,2020-12-24 05:23:04,37.843962,-120.728594
Texas,1648569,26406,0,1622163,2020-12-24 05:23:04,31.660643,-98.653069
Florida,1234399,20874,0,1213525,2020-12-24 05:23:04,28.940755,-82.700744
Illinois,918070,16842,0,901228,2020-12-24 05:23:04,39.843618,-89.178330
New York,878702,36876,0,841826,2020-12-24 05:23:04,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     663954    9153          0
Illinois       Cook            377709    7908          0
Arizona        Maricopa        291412    4781          0
Florida        Miami-Dade      280982    4096          0
Texas          Harris          224245    3283          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,663954,9153,0,654801,2020-12-24 05:23:04,34.308284,-118.228241,6037.0
Illinois,Cook,377709,7908,0,369801,2020-12-24 05:23:04,41.841448,-87.816588,17031.0
Arizona,Maricopa,291412,4781,0,286631,2020-12-24 05:23:04,33.348359,-112.491815,4013.0
Florida,Miami-Dade,280982,4096,0,276886,2020-12-24 05:23:04,25.611236,-80.551706,12086.0
Texas,Harris,224245,3283,0,220962,2020-12-24 05:23:04,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,50013,53425,95659,7602,16686,153,1547138,154065,28219,340373,...,2079678,13477,76048,1,110513,1414,123945,2087,18768,12422
2020-12-22,50190,53814,96069,7633,16802,153,1555279,154602,28237,342226,...,2116609,14001,76180,1,110828,1420,125506,2087,18881,12544
2020-12-23,50433,54317,96549,7669,16931,154,1563865,155440,28262,344357,...,2155996,14710,76315,1,111024,1421,127376,2087,19122,12656

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,2082,1098,2675,81,390,5,41997,2656,908,5435,...,67718,119,612,0,993,35,1169,606,375,322
2020-12-22,2096,1111,2687,82,393,5,42254,2673,908,5540,...,68409,120,612,0,997,35,1198,606,379,326
2020-12-23,2117,1117,2696,82,393,5,42314,2691,908,5654,...,69157,128,612,0,1002,35,1226,606,380,330

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,39508,28752,63644,7028,9695,143,1374401,133176,25716,305658,...,4386,8688,73339,1,104799,1269,99547,1384,17818,10112
2020-12-22,39585,29249,64020,7073,9729,144,1379726,134586,25718,309595,...,4409,9127,73460,1,104799,1281,101355,1384,17890,10159
2020-12-23,39692,29799,64401,7106,9729,146,1384277,135638,25722,312921,...,4723,9574,73589,1,105249,1281,102942,1384,17969,10259

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3329,3426,3510,3570,3647,3698,3741,3780,3841,3889
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,858,870,889,912,925,941,946,966,979,986
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,5125,5200,5243,5346,5428,5531,5582,5644,5722,5859
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1596,1617,1635,1672,1708,1739,1757,1783,1819,1859
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,8788,8857,8966,9055,9188,9283,9337,9372,9490,9609

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-21,324832,44023,0,461345,203107,1923887,311036,167377,51056,49,...,529578,1604991,252783,6534,1921,310890,226635,73337,494353,42118
2020-12-22,329811,44463,0,467215,205048,1958508,313552,168960,51623,49,...,534019,1626614,255085,6608,1934,314481,227887,74737,497380,42379
2020-12-23,334569,44828,0,473273,207941,2002494,316500,170705,52235,49,...,541240,1648569,257697,6680,1950,319133,230202,75936,500443,42664

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-21        3780   11952    1336  1628   4234     754   1405    8684
2020-12-22        3841   12155    1363  1660   4313     760   1412    8856
2020-12-23        3889   12321    1383  1683   4367     765   1423    8968

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-21         2133     1294  ...    1812    412     2420      567
2020-12-22         2161     1314  ...    1842    415     2426      575
2020-12-23         2176     1329  ...    1860    418     2432      579

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-21           2762  2019  1446          0      713    447
2020-12-22           2780  2033  1460          0      720    455
2020-12-23           2820  2039  1475          0      726    460

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-21,4389,184,0,7972,3295,22837,4378,5676,871,0,...,6136,25936,1161,111,23,4654,3106,1129,4751,351
2020-12-22,4452,194,0,8125,3338,23239,4369,5703,872,0,...,6269,26117,1173,112,23,4705,3131,1171,4879,373
2020-12-23,4587,197,0,8179,3376,23558,4462,5736,872,0,...,6380,26406,1196,117,23,4760,3162,1194,4953,373

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-21          44     147      32   42     54      20     45     140
2020-12-22          44     149      32   42     54      20     45     141
2020-12-23          46     151      32   42     57      20     45     145

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-21           60       23  ...       7      8       15        5
2020-12-22           61       23  ...       7      8       15        5
2020-12-23           61       23  ...       7      8       15        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-21             15     2     7          0       11      2
2020-12-22             15     2     7          0       12      2
2020-12-23             15     2     7          0       12      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,0.003934,0.007962,0.004790,0.003299,0.002523,0.000000,0.003797,0.001560,0.000745,0.004483,...,0.016380,0.032879,0.001514,0.0,0.003979,0.000708,0.010616,0.0,0.002778,0.007870
2020-12-22,0.003539,0.007281,0.004286,0.004078,0.006952,0.000000,0.005262,0.003486,0.000638,0.005444,...,0.017758,0.038881,0.001736,0.0,0.002850,0.004243,0.012594,0.0,0.006021,0.009821
2020-12-23,0.004842,0.009347,0.004996,0.004716,0.007678,0.006536,0.005521,0.005420,0.000885,0.006227,...,0.018609,0.050639,0.001772,0.0,0.001769,0.000704,0.014900,0.0,0.012764,0.008929

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,0.007257,0.009191,0.003376,0.000000,0.007752,0.0,0.004401,0.009886,0.0,0.015698,...,0.003185,0.000000,0.0,NaN,0.005061,0.0,0.024540,0.0,0.005362,0.006250
2020-12-22,0.006724,0.011840,0.004486,0.012346,0.007692,0.0,0.006119,0.006401,0.0,0.019319,...,0.010204,0.008403,0.0,NaN,0.004028,0.0,0.024808,0.0,0.010667,0.012422
2020-12-23,0.010019,0.005401,0.003349,0.000000,0.000000,0.0,0.001420,0.006734,0.0,0.020578,...,0.010934,0.066667,0.0,NaN,0.005015,0.0,0.023372,0.0,0.002639,0.012270

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,0.012870,0.022439,0.006070,0.004430,0.010738,0.000000,0.004425,0.004859,0.000272,0.008064,...,0.002514,0.043353,0.001324,0.0,0.003226,0.000000,0.016003,0.0,0.003153,0.008779
2020-12-22,0.001949,0.017286,0.005908,0.006403,0.003507,0.006993,0.003874,0.010587,0.000078,0.012880,...,0.005244,0.050529,0.001650,0.0,0.000000,0.009456,0.018162,0.0,0.004041,0.004648
2020-12-23,0.002703,0.018804,0.005951,0.004666,0.000000,0.013889,0.003298,0.007817,0.000156,0.010743,...,0.071218,0.048976,0.001756,0.0,0.004294,0.000000,0.015658,0.0,0.004416,0.009843

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-21,0.007381,0.003465,NaN,0.017081,0.007225,0.021154,0.006947,0.028228,0.008693,0.0,...,0.019033,0.007230,0.007248,0.014124,0.000000,0.013173,0.018127,0.013754,0.003306,0.010945
2020-12-22,0.015328,0.009995,NaN,0.012724,0.009557,0.017995,0.008089,0.009458,0.011105,0.0,...,0.008386,0.013472,0.009107,0.011325,0.006767,0.011551,0.005524,0.019090,0.006123,0.006197
2020-12-23,0.014426,0.008209,NaN,0.012966,0.014109,0.022459,0.009402,0.010328,0.011855,0.0,...,0.013522,0.013497,0.010240,0.010896,0.008273,0.014793,0.010159,0.016043,0.006158,0.006725

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-21      0.010425  0.010569  0.000000  0.009299  0.003793  0.001328
2020-12-22      0.016138  0.016985  0.020210  0.019656  0.018658  0.007958
2020-12-23      0.012497  0.013657  0.014674  0.013855  0.012520  0.006579

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-21      0.004289  0.004163  0.003765  0.005439  ...  0.015695
2020-12-22      0.004982  0.019807  0.013127  0.015456  ...  0.016556
2020-12-23      0.007790  0.012647  0.006941  0.011416  ...  0.009772

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-21      0.004878  0.007913  0.003540   0.016188  0.008492  0.021186
2020-12-22      0.007282  0.002479  0.014109   0.006517  0.006934  0.009682
2020-12-23      0.007229  0.002473  0.006957   0.014388  0.002951  0.010274

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-21            NaN  0.020029  0.002242
2020-12-22            NaN  0.009818  0.017897
2020-12-23            NaN  0.008333  0.010989

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-21,0.000000,0.000000,NaN,0.000125,0.017918,0.007144,0.002289,0.017022,0.010441,NaN,...,0.010707,0.004220,0.005195,0.000000,0.0,0.000860,0.000644,0.000887,0.001687,0.000000
2020-12-22,0.014354,0.054348,NaN,0.019192,0.013050,0.017603,-0.002056,0.004757,0.001148,NaN,...,0.021675,0.006979,0.010336,0.009009,0.0,0.010958,0.008049,0.037201,0.026942,0.062678
2020-12-23,0.030323,0.015464,NaN,0.006646,0.011384,0.013727,0.021286,0.005786,0.000000,NaN,...,0.017706,0.011066,0.019608,0.044643,0.0,0.011690,0.009901,0.019641,0.015167,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin Barbour Bibb    Blount Bullock Butler
2020-12-21      0.000000  0.000000     0.0  0.0  0.000000     0.0    0.0
2020-12-22      0.000000  0.013605     0.0  0.0  0.000000     0.0    0.0
2020-12-23      0.045455  0.013423     0.0  0.0  0.055556     0.0    0.0

Province_State                               ... Wyoming                  \
Admin2           Calhoun  Chambers Cherokee  ...    Park Platte Sheridan
2020-12-21      0.000000  0.000000      0.0  ...     0.0    0.0      0.0
2020-12-22      0.007143  0.016667      0.0  ...     0.0    0.0      0.0
2020-12-23      0.028369  0.000000      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned  Washakie Weston
2020-12-21          0.0        0.0   0.0   0.0        NaN  0.000000    0.0
2020-12-22          0.0        0.0   0.0   0.0        NaN  0.090909    0.0
2020-12-23          0.0        0.0   0.0   0.0        NaN  0.000000    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,0.003385,0.009107,0.004641,0.003606,0.002580,0.002386,0.003612,0.003374,0.000935,0.005201,...,0.016259,0.038266,0.001597,0.0,0.003476,0.001015,0.012067,0.000030,0.003394,0.010335
2020-12-22,0.003462,0.008194,0.004464,0.003842,0.004766,0.001193,0.004437,0.003430,0.000786,0.005322,...,0.017009,0.038574,0.001666,0.0,0.003163,0.002629,0.012331,0.000015,0.004707,0.010078
2020-12-23,0.004152,0.008771,0.004730,0.004279,0.006222,0.003864,0.004979,0.004425,0.000836,0.005775,...,0.017809,0.044606,0.001719,0.0,0.002466,0.001667,0.013615,0.000007,0.008736,0.009503

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,0.007747,0.010274,0.003311,0.003941,0.006091,0.000488,0.003237,0.008224,1.314325e-10,0.020636,...,0.004771,0.021056,8.008686e-07,NaN,0.004770,3.063791e-35,0.022655,-3.316664e-06,0.003432,0.006197
2020-12-22,0.007236,0.011057,0.003899,0.008143,0.006892,0.000244,0.004678,0.007312,6.571626e-11,0.019977,...,0.007488,0.014730,4.004343e-07,NaN,0.004399,1.531896e-35,0.023731,-1.658332e-06,0.007049,0.009310
2020-12-23,0.008627,0.008229,0.003624,0.004072,0.003446,0.000122,0.003049,0.007023,3.285813e-11,0.020278,...,0.009211,0.040698,2.002171e-07,NaN,0.004707,7.659478e-36,0.023552,-8.291660e-07,0.004844,0.010790

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-21,0.009377,0.018208,0.006164,0.005213,0.010858,0.003890,0.004202,0.005455,0.000217,0.008919,...,0.007650,0.041571,0.001610,0.0,0.002807,0.000783,0.016916,-3.622685e-06,0.002284,0.007607
2020-12-22,0.005663,0.017747,0.006036,0.005808,0.007182,0.005441,0.004038,0.008021,0.000147,0.010900,...,0.006447,0.046050,0.001630,0.0,0.001404,0.005120,0.017539,-1.811342e-06,0.003162,0.006127
2020-12-23,0.004183,0.018276,0.005994,0.005237,0.003591,0.009665,0.003668,0.007919,0.000151,0.010821,...,0.038833,0.047513,0.001693,0.0,0.002849,0.002560,0.016599,-9.056712e-07,0.003789,0.007985

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-21,0.009295,0.005137,NaN,0.015056,0.009009,0.022473,0.007850,0.016142,0.010866,1.752360e-85,...,0.020059,0.007726,0.008274,0.015156,0.003835,0.012785,0.011841,0.015957,0.004803,0.008542
2020-12-22,0.012311,0.007566,NaN,0.013890,0.009283,0.020234,0.007969,0.012800,0.010986,8.761800e-86,...,0.014223,0.010599,0.008690,0.013241,0.005301,0.012168,0.008682,0.017523,0.005463,0.007369
2020-12-23,0.013369,0.007888,NaN,0.013428,0.011696,0.021347,0.008686,0.011564,0.011421,4.380900e-86,...,0.013872,0.012048,0.009465,0.012068,0.006787,0.013480,0.009420,0.016783,0.005811,0.007047

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-21      0.012443  0.011222  0.003186  0.010709  0.008198  0.002618
2020-12-22      0.014290  0.014103  0.011698  0.015182  0.013428  0.005288
2020-12-23      0.013393  0.013880  0.013186  0.014519  0.012974  0.005933

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-21      0.005514  0.008138  0.005403  0.007756  ...  0.012661
2020-12-22      0.005248  0.013972  0.009265  0.011606  ...  0.014609
2020-12-23      0.006519  0.013310  0.008103  0.011511  ...  0.012190

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-21      0.006148  0.005628  0.004087   0.012331  0.006663  0.014812
2020-12-22      0.006715  0.004054  0.009098   0.009424  0.006799  0.012247
2020-12-23      0.006972  0.003263  0.008027   0.011906  0.004875  0.011260

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-21           -1.0  0.015209  0.003809
2020-12-22           -1.0  0.012513  0.010853
2020-12-23           -1.0  0.010423  0.010921

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-21,0.004078,0.001469,NaN,0.005113,0.016041,0.007399,0.006768,0.009310,0.008330,NaN,...,0.012574,0.005597,0.007102,0.010508,2.460756e-16,0.003213,0.001372,0.008245,0.006278,0.002405
2020-12-22,0.009216,0.027909,NaN,0.012152,0.014546,0.012501,0.002356,0.007034,0.004739,NaN,...,0.017125,0.006288,0.008719,0.009759,1.230378e-16,0.007086,0.004711,0.022723,0.016610,0.032541
2020-12-23,0.019770,0.021686,NaN,0.009399,0.012965,0.013114,0.011821,0.006410,0.002370,NaN,...,0.017415,0.008677,0.014163,0.027201,6.151889e-17,0.009388,0.007306,0.021182,0.015889,0.016271

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-21      0.001811  0.001732  0.008337  0.001015  0.006712
2020-12-22      0.000906  0.007669  0.004169  0.000507  0.003356
2020-12-23      0.023180  0.010546  0.002084  0.000254  0.029456

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-12-21      2.007736e-07  0.001444  0.004094  0.004897 -0.002604  ...
2020-12-22      1.003868e-07  0.000722  0.005618  0.010782 -0.001302  ...
2020-12-23      5.019339e-08  0.000361  0.016994  0.005391 -0.000651  ...

Province_State   Wyoming                                               \
Admin2              Park        Platte  Sheridan  Sublette Sweetwater
2020-12-21      0.000005  6.973480e-08  0.004821  0.000180   0.000622
2020-12-22      0.000003  3.486740e-08  0.002410  0.000090   0.000311
2020-12-23      0.000001  1.743370e-08  0.001205  0.000045   0.000156

Province_State
Admin2                 Teton     Uinta Unassigned  Washakie        Weston
2020-12-21      1.776357e-15  0.000027  -0.501961  0.000020  4.768371e-07
2020-12-22      8.881784e-16  0.000013  -0.501961  0.045464  2.384186e-07
2020-12-23      4.440892e-16  0.000007  -0.501961  0.022732  1.192093e-07

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201223,AK,43361,NaN,1178666,NaN,totalTestsViral,1222027,111.0,961.0,...,1222027,3,13,559dd0f20fea1e35ee86562d47dc2b1046727e3a,0,0,0,0,0,NaN
1,20201223,AL,334569,63069.0,1541851,NaN,totalTestsPeopleViral,1813351,2535.0,31651.0,...,1876420,135,346,d85060ab13b60f2892c20931bf6e591d6e2b5a07,0,0,0,0,0,NaN
2,20201223,AR,207941,33159.0,1796073,NaN,totalTestsViral,1970855,1110.0,10826.0,...,2004014,38,175,30864915452a345704d1443402e78c994e09b500,0,0,0,0,0,NaN
3,20201223,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,8b32df828088b491e78c344badad174f0a85e865,0,0,0,0,0,NaN
4,20201223,AZ,473273,20593.0,2245335,NaN,totalTestsViral,4732267,4163.0,34112.0,...,2718608,54,493,461a7832dbcacc7f6a3c3efbd53a1567a3359ec5,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201223,AK,43361.0,NaN,1178666.0,NaN,totalTestsViral,1222027.0,111.0,961.0,...,1222027,3,13,559dd0f20fea1e35ee86562d47dc2b1046727e3a,0,0,0,0,0,NaN
1,20201223,AL,334569.0,63069.0,1541851.0,NaN,totalTestsPeopleViral,1813351.0,2535.0,31651.0,...,1876420,135,346,d85060ab13b60f2892c20931bf6e591d6e2b5a07,0,0,0,0,0,NaN
2,20201223,AR,207941.0,33159.0,1796073.0,NaN,totalTestsViral,1970855.0,1110.0,10826.0,...,2004014,38,175,30864915452a345704d1443402e78c994e09b500,0,0,0,0,0,NaN
3,20201223,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,8b32df828088b491e78c344badad174f0a85e865,0,0,0,0,0,NaN
4,20201223,AZ,473273.0,20593.0,2245335.0,NaN,totalTestsViral,4732267.0,4163.0,34112.0,...,2718608,54,493,461a7832dbcacc7f6a3c3efbd53a1567a3359ec5,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-23,AK,43361,NaN,1178666,NaN,totalTestsViral,1222027,111.0,961.0,NaN,...,1222027,3,13,559dd0f20fea1e35ee86562d47dc2b1046727e3a,0,0,0,0,0,NaN
2020-12-23,AL,334569,63069.0,1541851,NaN,totalTestsPeopleViral,1813351,2535.0,31651.0,NaN,...,1876420,135,346,d85060ab13b60f2892c20931bf6e591d6e2b5a07,0,0,0,0,0,NaN
2020-12-23,AR,207941,33159.0,1796073,NaN,totalTestsViral,1970855,1110.0,10826.0,340.0,...,2004014,38,175,30864915452a345704d1443402e78c994e09b500,0,0,0,0,0,NaN
2020-12-23,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,8b32df828088b491e78c344badad174f0a85e865,0,0,0,0,0,NaN
2020-12-23,AZ,473273,20593.0,2245335,NaN,totalTestsViral,4732267,4163.0,34112.0,972.0,...,2718608,54,493,461a7832dbcacc7f6a3c3efbd53a1567a3359ec5,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-23,AK,43361.0,NaN,1178666.0,NaN,totalTestsViral,1222027.0,111.0,961.0,NaN,...,1222027,3,13,559dd0f20fea1e35ee86562d47dc2b1046727e3a,0,0,0,0,0,NaN
2020-12-23,AL,334569.0,63069.0,1541851.0,NaN,totalTestsPeopleViral,1813351.0,2535.0,31651.0,NaN,...,1876420,135,346,d85060ab13b60f2892c20931bf6e591d6e2b5a07,0,0,0,0,0,NaN
2020-12-23,AR,207941.0,33159.0,1796073.0,NaN,totalTestsViral,1970855.0,1110.0,10826.0,340.0,...,2004014,38,175,30864915452a345704d1443402e78c994e09b500,0,0,0,0,0,NaN
2020-12-23,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,8b32df828088b491e78c344badad174f0a85e865,0,0,0,0,0,NaN
2020-12-23,AZ,473273.0,20593.0,2245335.0,NaN,totalTestsViral,4732267.0,4163.0,34112.0,972.0,...,2718608,54,493,461a7832dbcacc7f6a3c3efbd53a1567a3359ec5,0,0,0,0,0,NaN