# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'03-30-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'03-30-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-31 04:26:25,33.93911,67.709953,56384,2476,51473.0,2435.0,Afghanistan,144.840490,4.391317
1,NaN,NaN,NaN,Albania,2021-03-31 04:26:25,41.15330,20.168300,124723,2227,90617.0,31879.0,Albania,4333.970394,1.785557
2,NaN,NaN,NaN,Algeria,2021-03-31 04:26:25,28.03390,1.659600,117061,3089,81442.0,32530.0,Algeria,266.951461,2.638795
3,NaN,NaN,NaN,Andorra,2021-03-31 04:26:25,42.50630,1.521800,11944,115,11276.0,553.0,Andorra,15458.487025,0.962827
4,NaN,NaN,NaN,Angola,2021-03-31 04:26:25,-11.20270,17.873900,22182,536,20446.0,1200.0,Angola,67.491691,2.416374

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56103,56153,56177,56192,56226,56254,56290,56294,56322,56384
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,121200,121544,121847,122295,122767,123216,123641,124134,124419,124723
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,116157,116255,116349,116438,116543,116657,116750,116836,116946,117061

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2463,2464,2466,2466,2467,2467,2469,2470,2472,2476
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2137,2145,2156,2171,2184,2192,2204,2210,2216,2227
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3057,3061,3066,3069,3071,3074,3077,3080,3084,3089

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49737,49743,49752,49802,49937,49994,49994,50013,50666,51473
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,85147,85846,86497,87193,87760,88349,88899,89456,90024,90617
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,80659,80887,80981,81065,81065,81160,81242,81316,81349,81442

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6513,6517,6525,6533,6540,6543,6562,6570,6577,6580
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20347,20361,20354,20395,20417,20423,20453,20473,20487,20492
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2212,2213,2213,2216,2218,2221,2224,2226,2226,2227

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,98,98,99,99,99,99,99,99,99,99
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,296,296,297,300,300,301,301,301,301,301
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,54,54,54,54,54,54,54,54,54,54

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-31 04:26:25,32.539527,-86.644082,6580,99,NaN,NaN,"Autauga, Alabama, US",11777.551057,1.504559
689,1075.0,Lamar,Alabama,US,2021-03-31 04:26:25,33.779950,-88.096680,1384,33,NaN,NaN,"Lamar, Alabama, US",10025.353133,2.384393
690,1077.0,Lauderdale,Alabama,US,2021-03-31 04:26:25,34.901719,-87.656247,9116,218,NaN,NaN,"Lauderdale, Alabama, US",9830.797269,2.391400

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               30393001  550967         0.0
Brazil           12658109  317646  11085369.0
India            12095855  162468  11434301.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,30393001,550967,0.0,29842034.0,2021-03-31 04:26:25,37.936303,-91.379001
Brazil,12658109,317646,11085369.0,1255094.0,2021-03-31 04:26:25,-12.669522,-48.480493
India,12095855,162468,11434301.0,499086.0,2021-03-31 04:26:25,23.088275,81.806127
France,4646014,95495,299625.0,4250894.0,2021-03-31 04:26:25,6.430808,-34.730285
Russia,4486078,96817,4108726.0,280535.0,2021-03-31 04:26:25,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3665566   59099        0.0
Texas             2789428   48242        0.0
Florida           2052441   33338        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3665566,59099,0.0,3606467.0,2021-03-31 04:26:25,37.843962,-120.728594
Texas,2789428,48242,0.0,2741186.0,2021-03-31 04:26:25,31.660643,-98.653069
Florida,2052441,33338,0.0,2019103.0,2021-03-31 04:26:25,28.940755,-82.700744
New York,1865349,50212,0.0,1815137.0,2021-03-31 04:26:25,42.544151,-75.474183
Illinois,1241903,23542,0.0,1218361.0,2021-03-31 04:26:25,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1218958   23110        0.0
Arizona        Maricopa        524077    9657        0.0
Illinois       Cook            496856    9645        0.0
Florida        Miami-Dade      444487    5845        0.0
Texas          Harris          376577    5778        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1218958,23110,0.0,1195848.0,2021-03-31 04:26:25,34.308284,-118.228241,6037.0
Arizona,Maricopa,524077,9657,0.0,514420.0,2021-03-31 04:26:25,33.348359,-112.491815,4013.0
Illinois,Cook,496856,9645,0.0,487211.0,2021-03-31 04:26:25,41.841448,-87.816588,17031.0
Florida,Miami-Dade,444487,5845,0.0,438642.0,2021-03-31 04:26:25,25.611236,-80.551706,12086.0
Texas,Harris,376577,5778,0.0,370799.0,2021-03-31 04:26:25,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,56294,124134,116836,11850,22063,1128,2308597,190317,29276,536465,...,4347013,97406,82340,3,156655,2591,236462,4033,87872,36822
2021-03-29,56322,124419,116946,11888,22132,1136,2322611,190741,29296,539541,...,4351796,99584,82536,3,157943,2594,238248,4115,88012,36839
2021-03-30,56384,124723,117061,11944,22182,1136,2332765,191491,29304,542542,...,4355867,102461,82682,3,159149,2594,240065,4247,88199,36839

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,2470,2210,3080,115,533,28,55449,3464,909,9256,...,126834,915,626,0,1565,35,2581,851,1200,1520
2021-03-29,2472,2216,3084,115,534,28,55611,3476,909,9275,...,126857,928,626,0,1577,35,2599,863,1200,1520
2021-03-30,2476,2227,3089,115,536,28,55736,3497,909,9308,...,126912,953,628,0,1589,35,2614,882,1202,1520

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,50013,89456,81316,11204,20289,784,2079515,171506,23004,491619,...,12774,77567,80523,1,145293,2308,210340,1606,84347,34603
2021-03-29,50666,90024,81349,11244,20380,820,2088256,172096,23005,494377,...,12868,79410,80667,1,146196,2308,211521,1657,84464,34617
2021-03-30,51473,90617,81442,11276,20446,820,2095853,172605,23005,497816,...,12930,81438,80799,1,147163,2359,213590,1667,84519,34617

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6513,6517,6525,6533,6540,6543,6562,6570,6577,6580
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1372,1373,1372,1378,1378,1382,1384,1384,1384,1384
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9024,9034,9034,9065,9070,9076,9089,9100,9102,9116
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2910,2910,2910,2911,2912,2914,2917,2918,2922,2926
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15282,15290,15292,15333,15355,15371,15381,15389,15394,15397

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-28,514391,62161,0,839888,329929,3660713,458554,305210,94062,49,...,806792,2782735,384562,18820,2907,615366,361115,140613,634133,56046
2021-03-29,514619,62161,0,840492,330008,3663913,459361,308439,94402,49,...,809692,2786219,384756,19002,2907,616509,362385,140991,634453,56190
2021-03-30,514980,62797,0,841078,330186,3665566,460318,310056,94573,49,...,810529,2789428,385127,19109,2907,617941,363235,141322,635314,56236

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-03-28        6570   20473    2226  2536   6424    1204   2096   14199
2021-03-29        6577   20487    2226  2536   6426    1204   2097   14206
2021-03-30        6580   20492    2227  2537   6443    1206   2098   14216

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-28         3485     1804  ...    2643    607     3064      693
2021-03-29         3485     1804  ...    2644    608     3074      700
2021-03-30         3487     1806  ...    2642    610     3078      703

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-28           3990  3562  2119          0      890    632
2021-03-29           4002  3593  2123          0      891    632
2021-03-30           4006  3593  2125          0      891    632

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-28,10526,313,0,16918,5595,58949,6092,7865,1544,0,...,11816,48093,2114,225,26,10198,5218,2634,7274,695
2021-03-29,10526,313,0,16918,5601,59030,6092,7883,1552,0,...,11866,48134,2114,225,26,10219,5226,2638,7277,695
2021-03-30,10527,313,0,16941,5616,59099,6099,7885,1559,0,...,11894,48242,2118,225,26,10242,5237,2640,7292,695

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-28          99     301      54   58    131      39     66     304
2021-03-29          99     301      54   58    131      39     66     304
2021-03-30          99     301      54   58    131      39     66     304

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-28          116       43  ...      30     11       31        7
2021-03-29          116       43  ...      30     11       31        7
2021-03-30          116       43  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-28             36     9    12          0       26      5
2021-03-29             36     9    12          0       26      5
2021-03-30             36     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,0.000071,0.003987,0.000737,0.003472,0.001452,0.005348,0.003132,0.004099,0.000581,0.005019,...,0.000909,0.022335,0.002362,0.0,0.006373,0.001933,0.007301,0.016125,0.003300,0.000109
2021-03-29,0.000497,0.002296,0.000941,0.003207,0.003127,0.007092,0.006070,0.002228,0.000683,0.005734,...,0.001100,0.022360,0.002380,0.0,0.008222,0.001158,0.007553,0.020332,0.001593,0.000462
2021-03-30,0.001101,0.002443,0.000983,0.004711,0.002259,0.000000,0.004372,0.003932,0.000273,0.005562,...,0.000935,0.028890,0.001769,0.0,0.007636,0.000000,0.007627,0.032078,0.002125,0.000000

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,0.000405,0.002722,0.000975,0.0,0.000000,0.0,0.001463,0.004058,0.0,0.002708,...,0.000166,0.015538,0.001600,NaN,0.006431,0.0,0.009386,0.022837,0.001669,0.000658
2021-03-29,0.000810,0.002715,0.001299,0.0,0.001876,0.0,0.002922,0.003464,0.0,0.002053,...,0.000181,0.014208,0.000000,NaN,0.007668,0.0,0.006974,0.014101,0.000000,0.000000
2021-03-30,0.001618,0.004964,0.001621,0.0,0.003745,0.0,0.002248,0.006041,0.0,0.003558,...,0.000434,0.026940,0.003195,NaN,0.007609,0.0,0.005771,0.022016,0.001667,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,0.000380,0.006266,0.000911,0.002864,0.000987,0.000000,0.003517,0.003528,0.000348,0.005430,...,0.004877,0.020216,0.002028,0.0,0.007377,0.000000,0.007974,0.010063,0.000985,0.000810
2021-03-29,0.013057,0.006349,0.000406,0.003570,0.004485,0.045918,0.004203,0.003440,0.000043,0.005610,...,0.007359,0.023760,0.001788,0.0,0.006215,0.000000,0.005615,0.031756,0.001387,0.000405
2021-03-30,0.015928,0.006587,0.001143,0.002846,0.003238,0.000000,0.003638,0.002958,0.000000,0.006956,...,0.004818,0.025538,0.001636,0.0,0.006614,0.022097,0.009782,0.006035,0.000651,0.000000

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-28,0.000621,0.000000,NaN,0.000660,0.000209,0.000546,0.002091,0.000000,0.003853,0.0,...,0.000000,0.001177,0.001013,0.010578,0.002068,0.002267,0.000000,0.002117,0.000742,0.000000
2021-03-29,0.000443,0.000000,NaN,0.000719,0.000239,0.000874,0.001760,0.010580,0.003615,0.0,...,0.003594,0.001252,0.000504,0.009671,0.000000,0.001857,0.003517,0.002688,0.000505,0.002569
2021-03-30,0.000701,0.010231,NaN,0.000697,0.000539,0.000451,0.002083,0.005243,0.001811,0.0,...,0.001034,0.001152,0.000964,0.005631,0.000000,0.002323,0.002346,0.002348,0.001357,0.000819

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-28      0.001219  0.000978  0.000899  0.000394  0.000623  0.001664
2021-03-29      0.001065  0.000684  0.000000  0.000000  0.000311  0.000000
2021-03-30      0.000456  0.000244  0.000449  0.000394  0.002646  0.001661

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-28      0.001433  0.000141  0.000287  0.000000  ...  0.000000
2021-03-29      0.000477  0.000493  0.000000  0.000000  ...  0.000378
2021-03-30      0.000477  0.000704  0.000574  0.001109  ... -0.000756

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-28      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-03-29      0.001647  0.003264  0.010101   0.003008  0.008703  0.001888
2021-03-30      0.003289  0.001301  0.004286   0.001000  0.000000  0.000942

Province_State
Admin2         Unassigned  Washakie Weston
2021-03-28            NaN  0.000000    0.0
2021-03-29            NaN  0.001124    0.0
2021-03-30            NaN  0.000000    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-28,0.000000,0.0,NaN,0.000355,0.000894,0.002278,0.000493,0.000000,0.000000,NaN,...,0.000000,0.001124,0.006188,0.004464,0.0,0.001965,0.000000,0.001140,0.000000,0.0
2021-03-29,0.000000,0.0,NaN,0.000000,0.001072,0.001374,0.000000,0.002289,0.005181,NaN,...,0.004232,0.000853,0.000000,0.000000,0.0,0.002059,0.001533,0.001519,0.000412,0.0
2021-03-30,0.000095,0.0,NaN,0.001359,0.002678,0.001169,0.001149,0.000254,0.004510,NaN,...,0.002360,0.002244,0.001892,0.000000,0.0,0.002251,0.002105,0.000758,0.002061,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-28         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-03-29         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0
2021-03-30         0.0     0.0     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-28          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-03-29          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-03-30          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-28            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-29            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-30            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,0.000320,0.003769,0.000796,0.004356,0.002142,0.006627,0.003853,0.004913,0.000444,0.005841,...,0.001030,0.025716,0.002137,9.536743e-07,0.005671,0.001403,0.006855,0.018840,0.002410,0.000332
2021-03-29,0.000409,0.003032,0.000869,0.003781,0.002635,0.006860,0.004962,0.003570,0.000564,0.005787,...,0.001065,0.024038,0.002259,4.768372e-07,0.006947,0.001280,0.007204,0.019586,0.002002,0.000397
2021-03-30,0.000755,0.002738,0.000926,0.004246,0.002447,0.003430,0.004667,0.003751,0.000418,0.005675,...,0.001000,0.026464,0.002014,2.384186e-07,0.007291,0.000640,0.007415,0.025832,0.002063,0.000198

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,0.000449,0.003920,0.000966,0.002470,0.000651,0.000074,0.001964,0.004488,2.224101e-31,0.002874,...,0.000342,0.020186,0.001326,NaN,0.006904,1.933524e-64,0.008547,0.018600,0.002319,0.000614
2021-03-29,0.000629,0.003318,0.001132,0.001235,0.001264,0.000037,0.002443,0.003976,1.112051e-31,0.002464,...,0.000261,0.017197,0.000663,NaN,0.007286,9.667620e-65,0.007761,0.016351,0.001160,0.000307
2021-03-30,0.001124,0.004141,0.001377,0.000617,0.002505,0.000019,0.002345,0.005009,5.560253e-32,0.003011,...,0.000348,0.022068,0.001929,NaN,0.007448,4.833810e-65,0.006766,0.019183,0.001413,0.000153

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-28,0.000544,0.006425,0.000937,0.002726,0.001286,0.009682,0.003590,0.003400,0.000235,0.005581,...,0.006484,0.020517,0.001649,0.0,0.006039,0.005234,0.008223,0.006604,0.001723,0.000732
2021-03-29,0.006800,0.006387,0.000671,0.003148,0.002886,0.027800,0.003897,0.003420,0.000139,0.005596,...,0.006921,0.022139,0.001718,0.0,0.006127,0.002617,0.006919,0.019180,0.001555,0.000568
2021-03-30,0.011364,0.006487,0.000907,0.002997,0.003062,0.013900,0.003767,0.003189,0.000070,0.006276,...,0.005870,0.023839,0.001677,0.0,0.006371,0.012357,0.008350,0.012607,0.001103,0.000284

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-28,0.000778,0.000725,NaN,0.000698,0.000402,0.000625,0.002488,0.001292,0.003607,1.105895e-114,...,0.000355,0.001340,0.001113,0.009934,0.003890,0.002583,0.001716,0.002875,0.000985,0.000411
2021-03-29,0.000611,0.000362,NaN,0.000709,0.000321,0.000749,0.002124,0.005936,0.003611,5.529473e-115,...,0.001975,0.001296,0.000809,0.009802,0.001945,0.002220,0.002616,0.002781,0.000745,0.001490
2021-03-30,0.000656,0.005297,NaN,0.000703,0.000430,0.000600,0.002104,0.005589,0.002711,2.764737e-115,...,0.001504,0.001224,0.000887,0.007717,0.000973,0.002272,0.002481,0.002565,0.001051,0.001154

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-28      0.001530  0.001031  0.001067  0.000300  0.000781  0.001367
2021-03-29      0.001298  0.000857  0.000534  0.000150  0.000546  0.000684
2021-03-30      0.000877  0.000551  0.000491  0.000272  0.001596  0.001172

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-28      0.001957  0.000257  0.000615  0.000715  ...  0.000100
2021-03-29      0.001217  0.000375  0.000307  0.000358  ...  0.000239
2021-03-30      0.000847  0.000540  0.000441  0.000733  ... -0.000259

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-28      0.000119  0.000351  0.000378   0.001105  0.000687  0.000364
2021-03-29      0.000883  0.001808  0.005239   0.002056  0.004695  0.001126
2021-03-30      0.002086  0.001554  0.004763   0.001528  0.002347  0.001034

Province_State
Admin2         Unassigned  Washakie    Weston
2021-03-28           -1.0  0.000035  0.000025
2021-03-29           -1.0  0.000579  0.000012
2021-03-30           -1.0  0.000290  0.000006

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-28,0.000538,0.000307,NaN,0.000825,0.001252,0.002999,0.000531,0.000175,0.001411,NaN,...,0.000404,0.001708,0.004854,0.003451,0.00500,0.001728,0.000386,0.001286,0.000314,0.000045
2021-03-29,0.000269,0.000153,NaN,0.000412,0.001162,0.002187,0.000266,0.001232,0.003296,NaN,...,0.002318,0.001280,0.002427,0.001725,0.00250,0.001894,0.000960,0.001402,0.000363,0.000023
2021-03-30,0.000182,0.000077,NaN,0.000886,0.001920,0.001678,0.000707,0.000743,0.003903,NaN,...,0.002339,0.001762,0.002160,0.000863,0.00125,0.002072,0.001532,0.001080,0.001212,0.000011

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin   Barbour          Bibb    Blount
2021-03-28      0.000172  0.000788  0.000005 -1.981806e-09  0.000244
2021-03-29      0.000086  0.000394  0.000002 -9.909030e-10  0.000122
2021-03-30      0.000043  0.000197  0.000001 -4.954515e-10  0.000061

Province_State                                                            ...  \
Admin2               Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2021-03-28      1.031925e-07  1.523777e-11  0.000057  0.000823  0.001488  ...
2021-03-29      5.159627e-08  7.618884e-12  0.000028  0.000411  0.000744  ...
2021-03-30      2.579814e-08  3.809442e-12  0.000014  0.000206  0.000372  ...

Province_State   Wyoming                                                      \
Admin2              Park        Platte  Sheridan      Sublette    Sweetwater
2021-03-28      0.000539  2.187229e-20  0.000004  1.787917e-26  6.448823e-10
2021-03-29      0.000269  1.093614e-20  0.000002  8.939583e-27  3.224411e-10
2021-03-30      0.000135  5.468071e-21  0.000001  4.469791e-27  1.612206e-10

Province_State                                                       \
Admin2                 Teton         Uinta Unassigned      Washakie
2021-03-28      5.707366e-14  2.900448e-21  -0.501961  1.110863e-18
2021-03-29      2.853683e-14  1.450224e-21  -0.501961  5.554313e-19
2021-03-30      1.426841e-14  7.251121e-22  -0.501961  2.777157e-19

Province_State
Admin2                Weston
2021-03-28      2.359224e-17
2021-03-29      1.179612e-17
2021-03-30      5.898060e-18

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN