# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'09-15-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'09-15-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-16 04:22:53,33.93911,67.709953,38815,1426,32098,5291.0,Afghanistan,99.708847,3.673837
1,NaN,NaN,NaN,Albania,2020-09-16 04:22:53,41.15330,20.168300,11672,340,6668,4664.0,Albania,405.587602,2.912954
2,NaN,NaN,NaN,Algeria,2020-09-16 04:22:53,28.03390,1.659600,48734,1632,34385,12717.0,Algeria,111.135327,3.348791
3,NaN,NaN,NaN,Andorra,2020-09-16 04:22:53,42.50630,1.521800,1438,53,945,440.0,Andorra,1861.127289,3.685675
4,NaN,NaN,NaN,Angola,2020-09-16 04:22:53,-11.20270,17.873900,3569,139,1332,2098.0,Angola,10.859158,3.894648

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38398,38494,38520,38544,38572,38606,38641,38716,38772,38815
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,10255,10406,10553,10704,10860,11021,11185,11353,11520,11672
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,46364,46653,46938,47216,47488,47752,48007,48254,48496,48734

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1412,1415,1418,1420,1420,1420,1420,1420,1425,1426
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,316,319,321,322,324,327,330,334,338,340
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1556,1562,1571,1581,1591,1599,1605,1612,1620,1632

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,30537,30557,30715,31048,31129,31154,31234,31638,32073,32098
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6106,6186,6239,6284,6346,6443,6494,6569,6615,6668
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,32745,32985,33183,33379,33562,33723,33875,34037,34204,34385

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1377,1383,1385,1398,1413,1420,1432,1442,1447,1601
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4569,4586,4609,4639,4678,4722,4752,4781,4800,4992
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,616,617,617,618,618,618,620,622,626,806

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,23,23,23,23,23,23,23,23,23,24
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,42,42,42,42,42,43,43,43,43,47
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
631,1001.0,Autauga,Alabama,US,2020-09-16 04:22:53,32.539527,-86.644082,1601,24,0,1577.0,"Autauga, Alabama, US",2865.632104,1.499063
668,1075.0,Lamar,Alabama,US,2020-09-16 04:22:53,33.779950,-88.096680,323,2,0,321.0,"Lamar, Alabama, US",2339.731981,0.619195
669,1077.0,Lauderdale,Alabama,US,2020-09-16 04:22:53,34.901719,-87.656247,1576,31,0,1545.0,"Lauderdale, Alabama, US",1699.576184,1.967005

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                6605733  195915    2495127
India             5020359   82066    3942360
Brazil            4382263  133119    3811505

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,6605733,195915,2495127,3914691,2020-09-16 04:22:53,37.923092,-91.345036
India,5020359,82066,3942360,995933,2020-09-16 04:22:53,23.088275,81.806127
Brazil,4382263,133119,3811505,437639,2020-09-16 04:22:53,-12.669522,-48.480493
Russia,1069873,18723,881693,169457,2020-09-16 04:22:53,54.546312,62.120860
Peru,733860,30812,573364,129684,2020-09-16 04:22:53,-10.637324,-75.277744

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         768204   14594          0
Texas              692753   14593          0
Florida            668846   12787          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,768204,14594,0,753610,2020-09-16 04:22:53,37.843962,-120.728594
Texas,692753,14593,0,678160,2020-09-16 04:22:53,31.660643,-98.653069
Florida,668846,12787,0,656059,2020-09-16 04:22:53,28.940755,-82.700744
New York,445714,33038,0,412676,2020-09-16 04:22:53,42.544151,-75.474183
Georgia,296994,6397,0,290597,2020-09-16 04:22:53,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     255049    6273          0
Florida        Miami-Dade      164688    2923          0
Arizona        Maricopa        137870    3172          0
Illinois       Cook            135690    5137          0
Texas          Harris          120336    2440          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,255049,6273,0,248776,2020-09-16 04:22:53,34.308284,-118.228241,6037.0
Florida,Miami-Dade,164688,2923,0,161765,2020-09-16 04:22:53,25.611236,-80.551706,12086.0
Arizona,Maricopa,137870,3172,0,134698,2020-09-16 04:22:53,33.348359,-112.491815,4013.0
Illinois,Cook,135690,5137,0,130553,2020-09-16 04:22:53,41.841448,-87.816588,17031.0
Texas,Harris,120336,2440,0,117896,2020-09-16 04:22:53,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,38716,11353,48254,1344,3388,95,555537,45862,26692,33159,...,370930,1808,47287,60540,1063,30574,10,2011,13539,7526
2020-09-14,38772,11520,48496,1438,3439,95,565446,45969,26739,33541,...,373555,1812,47836,61569,1063,31362,10,2013,13720,7531
2020-09-15,38815,11672,48734,1438,3569,95,577338,46119,26778,34305,...,376670,1827,48429,62655,1063,32250,10,2016,13819,7576

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,1420,334,1612,53,134,3,11352,916,816,756,...,41717,45,390,485,35,221,1,583,312,224
2020-09-14,1425,338,1620,53,136,3,11667,919,816,757,...,41726,45,396,494,35,226,1,583,320,224
2020-09-15,1426,340,1632,53,139,3,11852,920,824,757,...,41753,45,402,502,35,229,1,583,324,224

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,31638,6569,34037,943,1301,91,419513,41659,23463,26760,...,2146,1513,43866,48644,918,20082,8,1212,12260,5678
2020-09-14,32073,6615,34204,945,1324,91,428953,41693,23577,27010,...,2152,1528,44375,49371,926,21406,8,1215,12380,5690
2020-09-15,32098,6668,34385,945,1332,91,438883,41941,23650,27354,...,2184,1545,44942,50361,931,21804,8,1219,12590,5783

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1377,1383,1385,1398,1413,1420,1432,1442,1447,1601
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,282,282,282,282,283,288,289,292,295,323
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1470,1479,1485,1490,1504,1512,1518,1527,1530,1576
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,502,505,506,510,515,526,529,532,534,568
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,3488,3511,3529,3553,3560,3585,3593,3613,3622,5541

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-13,138755,6268,0,208512,70219,761728,61293,54326,18849,49,...,171824,681885,57875,1684,1220,133742,79826,12705,89185,4346
2020-09-14,139459,6343,0,208725,70627,765134,61667,54895,18937,49,...,174274,685748,58438,1696,1221,134493,80138,12830,89956,4394
2020-09-15,153551,6384,0,209209,71497,768204,62079,55031,19137,49,...,175231,692753,59000,1702,1232,135428,80465,12986,91062,4440

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-13        1442    4781     622  578   1121     558    866    2773
2020-09-14        1447    4800     626  581   1128     558    867    2790
2020-09-15        1601    4992     806  611   1475     581    901    3127

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-13          863      407  ...     187      9      203       54
2020-09-14          864      407  ...     186     10      210       54
2020-09-15         1102      521  ...     187     12      213       62

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-13            318   470   311          2      111     23
2020-09-14            317   476   312          2      111     23
2020-09-15            317   478   312          2      111     23

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-13,2351,44,0,5322,981,14378,1988,4480,615,0,...,2078,14405,433,58,19,2724,1991,267,1210,42
2020-09-14,2355,44,0,5322,992,14439,1990,4485,617,0,...,2097,14451,436,58,19,2743,2006,278,1210,42
2020-09-15,2521,44,0,5344,1150,14594,1996,4485,618,0,...,2127,14593,436,58,19,2837,2015,283,1220,42

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-09-13          23      43       7    6     13      13     37      31
2020-09-14          23      43       7    6     13      13     37      31
2020-09-15          24      47       7    9     13      14     38      38

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-09-13           40       11  ...       1      1        1        1
2020-09-14           40       11  ...       1      1        1        1
2020-09-15           42       15  ...       1      1        1        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-13              2     1     2          0        6      0
2020-09-14              2     1     2          0        6      0
2020-09-15              2     1     2          0        6      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,0.001941,0.015020,0.005145,0.00000,0.015892,0.0,0.016571,0.004094,0.001538,0.014161,...,0.009081,0.015730,0.012114,0.015261,0.00283,0.022337,0.0,0.000996,0.005421,0.002397
2020-09-14,0.001446,0.014710,0.005015,0.06994,0.015053,0.0,0.017837,0.002333,0.001761,0.011520,...,0.007077,0.002212,0.011610,0.016997,0.00000,0.025774,0.0,0.000995,0.013369,0.000664
2020-09-15,0.001109,0.013194,0.004908,0.00000,0.037802,0.0,0.021031,0.003263,0.001459,0.022778,...,0.008339,0.008278,0.012397,0.017639,0.00000,0.028315,0.0,0.001490,0.007216,0.005975

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,0.000000,0.012121,0.004361,0.0,0.015152,0.0,0.007902,0.005488,0.007407,0.002653,...,0.000120,0.0,0.015625,0.016771,0.0,0.052381,0.0,0.001718,0.000000,0.0
2020-09-14,0.003521,0.011976,0.004963,0.0,0.014925,0.0,0.027748,0.003275,0.000000,0.001323,...,0.000216,0.0,0.015385,0.018557,0.0,0.022624,0.0,0.000000,0.025641,0.0
2020-09-15,0.000702,0.005917,0.007407,0.0,0.022059,0.0,0.015857,0.001088,0.009804,0.000000,...,0.000647,0.0,0.015152,0.016194,0.0,0.013274,0.0,0.000000,0.012500,0.0

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,0.012935,0.011549,0.004782,0.000000,0.009310,0.0,0.023774,0.001298,0.005356,0.006810,...,0.141489,0.007324,0.011693,0.019171,0.008791,0.005155,0.0,0.000826,0.021071,0.000529
2020-09-14,0.013749,0.007003,0.004906,0.002121,0.017679,0.0,0.022502,0.000816,0.004859,0.009342,...,0.002796,0.009914,0.011604,0.014945,0.008715,0.065930,0.0,0.002475,0.009788,0.002113
2020-09-15,0.000779,0.008012,0.005292,0.000000,0.006042,0.0,0.023149,0.005948,0.003096,0.012736,...,0.014870,0.011126,0.012777,0.020052,0.005400,0.018593,0.0,0.003292,0.016963,0.016344

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-13,0.008057,0.009828,NaN,0.001845,0.007302,0.003683,0.006850,0.000000,0.006568,0.0,...,0.005460,0.006287,0.010970,0.004174,0.007432,0.006578,0.004404,0.014128,0.018059,0.011403
2020-09-14,0.005074,0.011966,NaN,0.001022,0.005810,0.004471,0.006102,0.010474,0.004669,0.0,...,0.014259,0.005665,0.009728,0.007126,0.000820,0.005615,0.003909,0.009839,0.008645,0.011045
2020-09-15,0.101048,0.006464,NaN,0.002319,0.012318,0.004012,0.006681,0.002477,0.010561,0.0,...,0.005491,0.010215,0.009617,0.003538,0.009009,0.006952,0.004080,0.012159,0.012295,0.010469

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-13      0.006983  0.006103  0.003226  0.003472  0.006284  0.010870
2020-09-14      0.003467  0.003974  0.006431  0.005190  0.006244  0.000000
2020-09-15      0.106427  0.040000  0.287540  0.051635  0.307624  0.041219

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-13      0.001156  0.016496  0.000000  0.038265  ...  0.000000
2020-09-14      0.001155  0.006131  0.001159  0.000000  ... -0.005348
2020-09-15      0.039216  0.120789  0.275463  0.280098  ...  0.005376

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-13      0.000000  0.020101  0.018868  -0.006250  0.010753  0.003226
2020-09-14      0.111111  0.034483  0.000000  -0.003145  0.012766  0.003215
2020-09-15      0.200000  0.014286  0.148148   0.000000  0.004202  0.000000

Province_State
Admin2         Unassigned Washakie Weston
2020-09-13            inf      0.0    0.0
2020-09-14            0.0      0.0    0.0
2020-09-15            0.0      0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-13,0.000426,0.0,NaN,0.001317,0.012384,0.003560,0.000000,0.000000,0.003263,NaN,...,0.006783,0.005093,0.000000,0.0,0.0,0.000735,0.000000,0.003759,0.000827,0.0
2020-09-14,0.001701,0.0,NaN,0.000000,0.011213,0.004243,0.001006,0.001116,0.003252,NaN,...,0.009143,0.003193,0.006928,0.0,0.0,0.006975,0.007534,0.041199,0.000000,0.0
2020-09-15,0.070488,0.0,NaN,0.004134,0.159274,0.010735,0.003015,0.000000,0.001621,NaN,...,0.014306,0.009826,0.000000,0.0,0.0,0.034269,0.004487,0.017986,0.008264,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin Barbour Bibb Blount   Bullock    Butler
2020-09-13      0.000000  0.000000     0.0  0.0    0.0  0.000000  0.000000
2020-09-14      0.000000  0.000000     0.0  0.0    0.0  0.000000  0.000000
2020-09-15      0.043478  0.093023     0.0  0.5    0.0  0.076923  0.027027

Province_State                               ... Wyoming                  \
Admin2           Calhoun Chambers  Cherokee  ...    Park Platte Sheridan
2020-09-13      0.000000     0.00  0.000000  ...     0.0    0.0      0.0
2020-09-14      0.000000     0.00  0.000000  ...     0.0    0.0      0.0
2020-09-15      0.225806     0.05  0.363636  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-09-13          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-09-14          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-09-15          0.0        0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,0.001412,0.014887,0.005343,0.005439,0.018194,0.000005,0.018961,0.003936,0.001637,0.018531,...,0.009154,0.011323,0.012444,0.016092,0.001759,0.022312,5.744310e-27,0.001260,0.007524,0.003730
2020-09-14,0.001429,0.014798,0.005179,0.037690,0.016623,0.000003,0.018399,0.003134,0.001699,0.015025,...,0.008115,0.006768,0.012027,0.016545,0.000880,0.024043,2.872155e-27,0.001127,0.010447,0.002197
2020-09-15,0.001269,0.013996,0.005043,0.018845,0.027213,0.000001,0.019715,0.003199,0.001579,0.018902,...,0.008227,0.007523,0.012212,0.017092,0.000440,0.026179,1.436077e-27,0.001309,0.008831,0.004086

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,0.000103,0.010292,0.004503,2.238756e-12,0.013719,1.765308e-46,0.012275,0.003950,0.008250,0.003211,...,0.000173,0.000023,0.016687,0.017619,0.000019,0.040466,0.0,0.001823,0.007867,0.002453
2020-09-14,0.001812,0.011134,0.004733,1.119378e-12,0.014322,8.826538e-47,0.020012,0.003612,0.004125,0.002267,...,0.000194,0.000011,0.016036,0.018088,0.000010,0.031545,0.0,0.000911,0.016754,0.001227
2020-09-15,0.001257,0.008526,0.006070,5.596890e-13,0.018191,4.413269e-47,0.017934,0.002350,0.006964,0.001133,...,0.000421,0.000006,0.015594,0.017141,0.000005,0.022410,0.0,0.000456,0.014627,0.000613

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-09-13,0.007894,0.010911,0.004857,0.000872,0.008518,6.862821e-07,0.024516,0.003203,0.005230,0.008708,...,0.075958,0.006651,0.010862,0.018317,0.009686,0.014597,3.365807e-29,0.000740,0.013384,0.003144
2020-09-14,0.010822,0.008957,0.004882,0.001496,0.013098,3.431410e-07,0.023509,0.002010,0.005044,0.009025,...,0.039377,0.008283,0.011233,0.016631,0.009200,0.040263,1.682903e-29,0.001608,0.011586,0.002629
2020-09-15,0.005801,0.008485,0.005087,0.000748,0.009570,1.715705e-07,0.023329,0.003979,0.004070,0.010881,...,0.027123,0.009704,0.012005,0.018342,0.007300,0.029428,8.414516e-30,0.002450,0.014275,0.009487

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-13,0.007692,0.012931,NaN,0.002214,0.013099,0.004400,0.006300,0.000975,0.006901,1.110690e-55,...,0.006414,0.005746,0.010245,0.004245,0.006317,0.007838,0.005170,0.017768,0.016738,0.010981
2020-09-14,0.006383,0.012448,NaN,0.001618,0.009455,0.004436,0.006201,0.005724,0.005785,5.553451e-56,...,0.010337,0.005706,0.009986,0.005685,0.003569,0.006727,0.004539,0.013803,0.012691,0.011013
2020-09-15,0.053715,0.009456,NaN,0.001968,0.010886,0.004224,0.006441,0.004101,0.008173,2.776725e-56,...,0.007914,0.007960,0.009802,0.004612,0.006289,0.006839,0.004310,0.012981,0.012493,0.010741

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-09-13      0.007290  0.006698  0.002482  0.004938  0.006808  0.006536
2020-09-14      0.005379  0.005336  0.004456  0.005064  0.006526  0.003268
2020-09-15      0.055903  0.022668  0.145998  0.028350  0.157075  0.022243

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-09-13      0.001397  0.015379  0.000934  0.029630  ...  0.007689
2020-09-14      0.001276  0.010755  0.001047  0.014815  ...  0.001171
2020-09-15      0.020246  0.065772  0.138255  0.147457  ...  0.003273

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-09-13      0.035714  0.020614  0.015351  -0.001650  0.010013  0.001985
2020-09-14      0.073413  0.027548  0.007676  -0.002398  0.011389  0.002600
2020-09-15      0.136706  0.020917  0.077912  -0.001199  0.007795  0.001300

Province_State
Admin2         Unassigned  Washakie    Weston
2020-09-13      -0.495957  0.000047  0.025575
2020-09-14      -0.000238  0.000023  0.012788
2020-09-15      -0.000079  0.000012  0.006394

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-09-13,0.004359,0.008907,NaN,0.002775,0.013690,0.005752,0.000907,0.000133,0.002055,NaN,...,0.013252,0.007585,0.002208,3.216586e-14,0.015094,0.001955,0.001008,0.008116,0.004305,0.000050
2020-09-14,0.003030,0.004454,NaN,0.001387,0.012451,0.004997,0.000957,0.000624,0.002654,NaN,...,0.011198,0.005389,0.004568,1.608293e-14,0.007547,0.004465,0.004271,0.024657,0.002153,0.000025
2020-09-15,0.036759,0.002227,NaN,0.002761,0.085863,0.007866,0.001986,0.000312,0.002137,NaN,...,0.012752,0.007608,0.002284,8.041465e-15,0.003773,0.019367,0.004379,0.021321,0.005209,0.000013

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-09-13      0.000006  0.003055  2.495172e-09 -0.000057  0.020934
2020-09-14      0.000003  0.001527  1.247586e-09 -0.000028  0.010467
2020-09-15      0.021741  0.047275  6.237930e-10  0.249986  0.005234

Province_State                                                            ...  \
Admin2               Bullock    Butler   Calhoun  Chambers      Cherokee  ...
2020-09-13      6.773255e-10  0.000027 -0.000003  0.000025  8.514400e-07  ...
2020-09-14      3.386628e-10  0.000014 -0.000002  0.000013  4.257200e-07  ...
2020-09-15      3.846154e-02  0.013520  0.112902  0.025006  1.818184e-01  ...

Province_State Wyoming                                                  \
Admin2            Park Platte Sheridan Sublette Sweetwater Teton Uinta
2020-09-13         0.0    0.0      0.0      0.0        0.0   0.0   0.0
2020-09-14         0.0    0.0      0.0      0.0        0.0   0.0   0.0
2020-09-15         0.0    0.0      0.0      0.0        0.0   0.0   0.0

Province_State
Admin2         Unassigned Washakie Weston
2020-09-13      -0.499985      0.0    NaN
2020-09-14      -0.499985      0.0    NaN
2020-09-15      -0.499985      0.0    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200915,AK,7313,399811,NaN,44.0,NaN,NaN,NaN,8.0,...,407124,0,0,b7d286bbeacaeef7cbaed188fba49cfe43c44450,0,0,0,0,0,NaN
1,20200915,AL,140160,892810,NaN,716.0,15756.0,NaN,1622.0,NaN,...,1032970,32,0,0f70ad393cc6c32f0b4ea5e8269035c8c655cc6d,0,0,0,0,0,NaN
2,20200915,AR,71357,800759,NaN,389.0,4802.0,180.0,NaN,68.0,...,872116,18,66,3c3d2a4b173a248c09b398dd4d84ce105b3dc5e5,0,0,0,0,0,NaN
3,20200915,AS,0,1571,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,2b445be74daf156f41869a55052b390e3d37ee0e,0,0,0,0,0,NaN
4,20200915,AZ,209209,1103095,NaN,550.0,21800.0,138.0,NaN,76.0,...,1312304,22,26,12706e8bed3827289b96f196a727314b5d94f3fd,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200915,AK,7313.0,399811.0,NaN,44.0,NaN,NaN,NaN,8.0,...,407124,0,0,b7d286bbeacaeef7cbaed188fba49cfe43c44450,0,0,0,0,0,NaN
1,20200915,AL,140160.0,892810.0,NaN,716.0,15756.0,NaN,1622.0,NaN,...,1032970,32,0,0f70ad393cc6c32f0b4ea5e8269035c8c655cc6d,0,0,0,0,0,NaN
2,20200915,AR,71357.0,800759.0,NaN,389.0,4802.0,180.0,NaN,68.0,...,872116,18,66,3c3d2a4b173a248c09b398dd4d84ce105b3dc5e5,0,0,0,0,0,NaN
3,20200915,AS,0.0,1571.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,2b445be74daf156f41869a55052b390e3d37ee0e,0,0,0,0,0,NaN
4,20200915,AZ,209209.0,1103095.0,NaN,550.0,21800.0,138.0,NaN,76.0,...,1312304,22,26,12706e8bed3827289b96f196a727314b5d94f3fd,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-15,AK,7313,399811,NaN,44.0,NaN,NaN,NaN,8.0,NaN,...,407124,0,0,b7d286bbeacaeef7cbaed188fba49cfe43c44450,0,0,0,0,0,NaN
2020-09-15,AL,140160,892810,NaN,716.0,15756.0,NaN,1622.0,NaN,898.0,...,1032970,32,0,0f70ad393cc6c32f0b4ea5e8269035c8c655cc6d,0,0,0,0,0,NaN
2020-09-15,AR,71357,800759,NaN,389.0,4802.0,180.0,NaN,68.0,606.0,...,872116,18,66,3c3d2a4b173a248c09b398dd4d84ce105b3dc5e5,0,0,0,0,0,NaN
2020-09-15,AS,0,1571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,2b445be74daf156f41869a55052b390e3d37ee0e,0,0,0,0,0,NaN
2020-09-15,AZ,209209,1103095,NaN,550.0,21800.0,138.0,NaN,76.0,NaN,...,1312304,22,26,12706e8bed3827289b96f196a727314b5d94f3fd,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-09-15,AK,7313.0,399811.0,NaN,44.0,NaN,NaN,NaN,8.0,NaN,...,407124,0,0,b7d286bbeacaeef7cbaed188fba49cfe43c44450,0,0,0,0,0,NaN
2020-09-15,AL,140160.0,892810.0,NaN,716.0,15756.0,NaN,1622.0,NaN,898.0,...,1032970,32,0,0f70ad393cc6c32f0b4ea5e8269035c8c655cc6d,0,0,0,0,0,NaN
2020-09-15,AR,71357.0,800759.0,NaN,389.0,4802.0,180.0,NaN,68.0,606.0,...,872116,18,66,3c3d2a4b173a248c09b398dd4d84ce105b3dc5e5,0,0,0,0,0,NaN
2020-09-15,AS,0.0,1571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1571,0,0,2b445be74daf156f41869a55052b390e3d37ee0e,0,0,0,0,0,NaN
2020-09-15,AZ,209209.0,1103095.0,NaN,550.0,21800.0,138.0,NaN,76.0,NaN,...,1312304,22,26,12706e8bed3827289b96f196a727314b5d94f3fd,0,0,0,0,0,NaN