# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-13-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-12-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-13 05:22:12,33.93911,67.709953,55445,2424,48390,4631.0,Afghanistan,142.428366,4.371900
1,NaN,NaN,NaN,Albania,2021-02-13 05:22:12,41.15330,20.168300,90835,1531,55243,34061.0,Albania,3156.404198,1.685474
2,NaN,NaN,NaN,Algeria,2021-02-13 05:22:12,28.03390,1.659600,110303,2932,75628,31743.0,Algeria,251.540197,2.658133
3,NaN,NaN,NaN,Andorra,2021-02-13 05:22:12,42.50630,1.521800,10427,106,9833,488.0,Andorra,13495.114217,1.016592
4,NaN,NaN,NaN,Angola,2021-02-13 05:22:12,-11.20270,17.873900,20294,490,18786,1018.0,Angola,61.747199,2.414507

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55174,55231,55265,55330,55335,55359,55384,55402,55420,55445
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,80941,81993,83082,84212,85336,86289,87528,88671,89776,90835
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,108116,108381,108629,108629,109088,109313,109559,109782,110049,110303

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2406,2407,2407,2408,2410,2413,2414,2418,2419,2424
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1404,1418,1433,1446,1460,1472,1488,1503,1517,1531
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2900,2904,2909,2909,2914,2918,2924,2926,2930,2932

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,47982,47995,48018,48027,48041,48042,48109,48133,48279,48390
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,48958,49543,50219,50875,51444,52128,52933,53616,54362,55243
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,73940,74136,74330,74330,74692,74871,75057,75243,75436,75628

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5753,5811,5824,5856,5869,5881,5910,5930,5970,5984
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,18418,18494,18568,18668,18723,18763,18824,18888,18960,18994
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1981,1989,1994,2002,2008,2008,2019,2024,2030,2036

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,71,74,76,77,77,77,77,79,81,84
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,228,233,234,227,227,227,228,239,240,251
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,42,43,44,45,45,45,45,46,46,48

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
651,1001.0,Autauga,Alabama,US,2021-02-13 05:22:12,32.539527,-86.644082,5984,84,0,5900.0,"Autauga, Alabama, US",10710.769837,1.403743
688,1075.0,Lamar,Alabama,US,2021-02-13 05:22:12,33.779950,-88.096680,1275,32,0,1243.0,"Lamar, Alabama, US",9235.784136,2.509804
689,1077.0,Lauderdale,Alabama,US,2021-02-13 05:22:12,34.901719,-87.656247,8442,201,0,8241.0,"Lauderdale, Alabama, US",9103.948064,2.380952

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               27492023  480887          0
India            10892746  155550   10600625
Brazil            9765455  237489    8691664

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,27492023,480887,0,27011136,2021-02-13 05:22:12,37.936303,-91.379001
India,10892746,155550,10600625,136571,2021-02-13 05:22:12,23.088275,81.806127
Brazil,9765455,237489,8691664,836302,2021-02-13 05:22:12,-12.669522,-48.480493
United Kingdom,4025574,116507,10655,3898412,2021-02-13 05:22:12,30.744028,-35.367255
Russia,3997898,77911,3519689,400298,2021-02-13 05:22:12,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3471311   46466          0
Texas             2554842   40901          0
Florida           1814422   28565          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3471311,46466,0,3424845,2021-02-13 05:22:12,37.843962,-120.728594
Texas,2554842,40901,0,2513941,2021-02-13 05:22:12,31.660643,-98.653069
Florida,1814422,28565,0,1785857,2021-02-13 05:22:12,28.940755,-82.700744
New York,1522785,45597,0,1477188,2021-02-13 05:22:12,42.544151,-75.474183
Illinois,1158431,22027,0,1136404,2021-02-13 05:22:12,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1161926   18804          0
Arizona        Maricopa        496037    8414          0
Illinois       Cook            464573    9114          0
Florida        Miami-Dade      391162    5121          0
Texas          Harris          333279    4702          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1161926,18804,0,1143122,2021-02-13 05:22:12,34.308284,-118.228241,6037.0
Arizona,Maricopa,496037,8414,0,487623,2021-02-13 05:22:12,33.348359,-112.491815,4013.0
Illinois,Cook,464573,9114,0,455459,2021-02-13 05:22:12,41.841448,-87.816588,17031.0
Florida,Miami-Dade,391162,5121,0,386041,2021-02-13 05:22:12,25.611236,-80.551706,12086.0
Texas,Harris,333279,4702,0,328577,2021-02-13 05:22:12,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,55402,88671,109782,10352,20210,350,2001034,168496,28879,427562,...,3996833,46778,79237,1,131476,2091,164736,2133,65573,34864
2021-02-11,55420,89776,110049,10391,20261,381,2008345,168676,28887,429139,...,4010376,47254,79303,1,131828,2140,165535,2134,66598,34864
2021-02-12,55445,90835,110303,10427,20294,419,2015496,168830,28892,430870,...,4025574,47828,79340,1,132259,2142,166200,2136,67681,35045

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,2418,1503,2926,106,487,9,49674,3130,909,8114,...,115068,516,621,0,1253,35,1909,616,901,1364
2021-02-11,2419,1517,2930,106,487,9,49874,3135,909,8138,...,115748,524,622,0,1260,35,1910,616,914,1364
2021-02-12,2424,1531,2932,106,490,9,50029,3138,909,8170,...,116507,527,622,0,1267,35,1918,616,931,1393

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,48133,53616,75243,9732,18687,190,1798120,160405,26108,405921,...,10495,40769,77648,1,123411,1480,154260,1428,58875,29471
2021-02-11,48279,54362,75436,9781,18710,197,1806260,160670,26112,407155,...,10598,41426,77726,1,123811,1528,154727,1428,59989,29471
2021-02-12,48390,55243,75628,9833,18786,199,1814160,160838,26116,408426,...,10655,41966,77780,1,124253,1529,155362,1430,61302,29959

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5753,5811,5824,5856,5869,5881,5910,5930,5970,5984
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1253,1260,1264,1267,1269,1272,1275,1275,1275,1275
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8255,8298,8332,8350,8366,8380,8399,8411,8432,8442
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2682,2699,2708,2717,2723,2729,2734,2746,2755,2762
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,14048,14149,14197,14277,14337,14361,14391,14443,14491,14524

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-10,476067,56097,0,789245,309940,3451176,407961,265496,81461,49,...,750409,2531060,357339,13122,2485,537319,324706,125951,603255,52874
2021-02-11,477570,56251,0,791106,311043,3461753,409683,266499,81875,49,...,752033,2543236,358581,13249,2505,541018,326159,126420,604683,52979
2021-02-12,478667,56405,0,793532,311608,3471311,411774,267337,82263,49,...,754279,2554842,359641,13415,2524,544209,327167,126887,605785,53086

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-10        5930   18888    2024  2368   5937    1131   1882   12498
2021-02-11        5970   18960    2030  2377   5955    1136   1886   12539
2021-02-12        5984   18994    2036  2385   5953    1137   1892   12577

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-10         3291     1738  ...    2551    561     2957      668
2021-02-11         3305     1738  ...    2555    563     2961      669
2021-02-12         3313     1739  ...    2560    563     2963      669

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-10           3571  3249  1995          0      871    617
2021-02-11           3586  3256  1992          0      872    617
2021-02-12           3594  3267  1994          0      873    617

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-10,8888,280,0,14462,5174,45496,5770,7326,1245,0,...,10731,40148,1765,187,24,6932,4603,2175,6705,647
2021-02-11,9021,280,0,14662,5199,46022,5781,7354,1262,0,...,10812,40535,1774,188,25,6958,4633,2187,6723,647
2021-02-12,9180,282,0,14834,5212,46466,5790,7381,1269,0,...,10893,40901,1785,189,25,6966,4675,2200,6734,647

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-10          79     239      46   54    116      31     64     257
2021-02-11          81     240      46   54    116      32     64     257
2021-02-12          84     251      48   57    121      32     64     262

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-10           89       37  ...      25     11       23        7
2021-02-11           92       37  ...      25     11       23        7
2021-02-12           94       37  ...      25     11       23        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-10             34     8    12          0       26      5
2021-02-11             34     8    12          0       26      5
2021-02-12             34     8    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,0.000325,0.013059,0.002035,0.003879,0.002331,0.107595,0.003883,0.001165,0.000277,0.003448,...,0.003283,0.013542,0.000417,0.0,0.002899,0.013081,0.004641,0.000939,0.014905,0.002386
2021-02-11,0.000325,0.012462,0.002432,0.003767,0.002524,0.088571,0.003654,0.001068,0.000277,0.003688,...,0.003388,0.010176,0.000833,0.0,0.002677,0.023434,0.004850,0.000469,0.015631,0.000000
2021-02-12,0.000451,0.011796,0.002308,0.003465,0.001629,0.099738,0.003561,0.000913,0.000173,0.004034,...,0.003790,0.012147,0.000467,0.0,0.003269,0.000935,0.004017,0.000937,0.016262,0.005192

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,0.001657,0.010081,0.000684,0.0,0.018828,0.125,0.002179,0.001280,0.0,0.005328,...,0.008784,0.019763,0.00000,NaN,0.004812,0.0,0.006326,0.001626,0.022701,0.008130
2021-02-11,0.000414,0.009315,0.001367,0.0,0.000000,0.000,0.004026,0.001597,0.0,0.002958,...,0.005910,0.015504,0.00161,NaN,0.005587,0.0,0.000524,0.000000,0.014428,0.000000
2021-02-12,0.002067,0.009229,0.000683,0.0,0.006160,0.000,0.003108,0.000957,0.0,0.003932,...,0.006557,0.005725,0.00000,NaN,0.005556,0.0,0.004188,0.000000,0.018600,0.021261

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,0.000499,0.012903,0.002478,0.005995,0.003437,0.005291,0.003235,0.001473,0.000115,0.003077,...,0.006522,0.012341,0.000503,0.0,0.003415,0.005435,0.003761,0.000000,0.009534,0.006214
2021-02-11,0.003033,0.013914,0.002565,0.005035,0.001231,0.036842,0.004527,0.001652,0.000153,0.003040,...,0.009814,0.016115,0.001005,0.0,0.003241,0.032432,0.003027,0.000000,0.018921,0.000000
2021-02-12,0.002299,0.016206,0.002545,0.005316,0.004062,0.010152,0.004374,0.001046,0.000153,0.003122,...,0.005378,0.013035,0.000695,0.0,0.003570,0.000654,0.004104,0.001401,0.021887,0.016559

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-10,0.002952,0.003650,NaN,0.002511,0.003536,0.002470,0.001844,0.003356,0.003091,0.0,...,0.003943,0.005054,0.003648,0.001297,0.000000,0.005997,0.002102,0.003418,0.001659,0.000833
2021-02-11,0.003157,0.002745,NaN,0.002358,0.003559,0.003065,0.004221,0.003778,0.005082,0.0,...,0.002164,0.004811,0.003476,0.009678,0.008048,0.006884,0.004475,0.003724,0.002367,0.001986
2021-02-12,0.002297,0.002738,NaN,0.003067,0.001816,0.002761,0.005104,0.003144,0.004739,0.0,...,0.002987,0.004563,0.002956,0.012529,0.007585,0.005898,0.003091,0.003694,0.001822,0.002020

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-10      0.003384  0.003400  0.002476  0.002540  0.001349 -0.000883
2021-02-11      0.006745  0.003812  0.002964  0.003801  0.003032  0.004421
2021-02-12      0.002345  0.001793  0.002956  0.003366 -0.000336  0.000880

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-10      0.005342  0.001683  0.002437  0.001729  ... -0.000392
2021-02-11      0.002125  0.003281  0.004254  0.000000  ...  0.001568
2021-02-12      0.003181  0.003031  0.002421  0.000575  ...  0.001957

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-10     -0.001779  0.001016  0.001499   0.002808 -0.005205  0.000502
2021-02-11      0.003565  0.001353  0.001497   0.004201  0.002155 -0.001504
2021-02-12      0.000000  0.000675  0.000000   0.002231  0.003378  0.001004

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-10            NaN  0.001149 -0.001618
2021-02-11            NaN  0.001148  0.000000
2021-02-12            NaN  0.001147  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-10,0.036018,0.000000,NaN,0.012320,0.005051,0.010820,0.004177,0.003837,0.000000,NaN,...,0.009406,0.008769,0.009725,0.005376,0.000000,0.004929,0.009873,0.011628,0.006303,0.0
2021-02-11,0.014964,0.000000,NaN,0.013829,0.004832,0.011561,0.001906,0.003822,0.013655,NaN,...,0.007548,0.009639,0.005099,0.005348,0.041667,0.003751,0.006517,0.005517,0.002685,0.0
2021-02-12,0.017626,0.007143,NaN,0.011731,0.002500,0.009648,0.001557,0.003671,0.005547,NaN,...,0.007492,0.009029,0.006201,0.005319,0.000000,0.001150,0.009065,0.005944,0.001636,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-10      0.025974  0.048246  0.022222  0.018868  0.026549  0.068966
2021-02-11      0.025316  0.004184  0.000000  0.000000  0.000000  0.032258
2021-02-12      0.037037  0.045833  0.043478  0.055556  0.043103  0.000000

Province_State                                         ... Wyoming         \
Admin2            Butler   Calhoun  Chambers Cherokee  ...    Park Platte
2021-02-10      0.032258  0.040486  0.059524      0.0  ...     0.0    0.0
2021-02-11      0.000000  0.000000  0.033708      0.0  ...     0.0    0.0
2021-02-12      0.000000  0.019455  0.021739      0.0  ...     0.0    0.0

Province_State                                                          \
Admin2         Sheridan Sublette Sweetwater     Teton Uinta Unassigned
2021-02-10          0.0      0.0        0.0 -0.111111   0.0        NaN
2021-02-11          0.0      0.0        0.0  0.000000   0.0        NaN
2021-02-12          0.0      0.0        0.0  0.000000   0.0        NaN

Province_State
Admin2         Washakie Weston
2021-02-10          0.0    0.0
2021-02-11          0.0    0.0
2021-02-12          0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,0.000397,0.013178,0.002176,0.003657,0.002153,0.065819,0.003607,0.000956,0.000269,0.003139,...,0.003427,0.011899,0.000531,0.0,0.003309,0.012366,0.004371,0.000764,0.015900,0.002888
2021-02-11,0.000361,0.012820,0.002304,0.003712,0.002338,0.077195,0.003630,0.001012,0.000273,0.003414,...,0.003408,0.011037,0.000682,0.0,0.002993,0.017900,0.004611,0.000616,0.015766,0.001444
2021-02-12,0.000406,0.012308,0.002306,0.003588,0.001984,0.088466,0.003595,0.000962,0.000223,0.003724,...,0.003599,0.011592,0.000574,0.0,0.003131,0.009417,0.004314,0.000777,0.016014,0.003318

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,0.001160,0.009957,0.001180,0.001109,0.011170,0.098255,0.002816,0.001284,1.565072e-17,0.004575,...,0.007826,0.017995,3.284524e-09,NaN,0.005087,1.360597e-50,0.005321,0.000813,0.019122,0.009101
2021-02-11,0.000787,0.009636,0.001274,0.000555,0.005585,0.049127,0.003421,0.001441,7.825361e-18,0.003767,...,0.006868,0.016749,8.051546e-04,NaN,0.005337,6.802983e-51,0.002922,0.000407,0.016775,0.004550
2021-02-12,0.001427,0.009432,0.000978,0.000277,0.005872,0.024564,0.003264,0.001199,3.912680e-18,0.003849,...,0.006712,0.011237,4.025773e-04,NaN,0.005446,3.401491e-51,0.003555,0.000203,0.017687,0.012906

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-10,0.000654,0.013474,0.002547,0.006305,0.002855,0.004955,0.003532,0.001484,0.000187,0.003193,...,0.007508,0.013914,0.000532,0.0,0.003610,0.002981,0.003714,0.000023,0.019990,0.009433
2021-02-11,0.001844,0.013694,0.002556,0.005670,0.002043,0.020898,0.004030,0.001568,0.000170,0.003116,...,0.008661,0.015014,0.000768,0.0,0.003426,0.017707,0.003371,0.000012,0.019456,0.004717
2021-02-12,0.002071,0.014950,0.002551,0.005493,0.003052,0.015525,0.004202,0.001307,0.000162,0.003119,...,0.007020,0.014025,0.000732,0.0,0.003498,0.009181,0.003737,0.000706,0.020672,0.010638

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-10,0.002828,0.003661,NaN,0.003432,0.003710,0.002923,0.002199,0.004765,0.003757,7.782042e-101,...,0.003173,0.004906,0.003032,0.004561,0.002471,0.005828,0.003101,0.003486,0.001531,0.001122
2021-02-11,0.002993,0.003203,NaN,0.002895,0.003635,0.002994,0.003210,0.004272,0.004420,3.891021e-101,...,0.002668,0.004858,0.003254,0.007119,0.005260,0.006356,0.003788,0.003605,0.001949,0.001554
2021-02-12,0.002645,0.002970,NaN,0.002981,0.002726,0.002877,0.004157,0.003708,0.004579,1.945510e-101,...,0.002828,0.004711,0.003105,0.009824,0.006422,0.006127,0.003439,0.003649,0.001886,0.001787

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-10      0.003650  0.003269  0.003041  0.003589  0.001641  0.000827
2021-02-11      0.005197  0.003541  0.003003  0.003695  0.002337  0.002624
2021-02-12      0.003771  0.002667  0.002979  0.003530  0.001000  0.001752

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-10      0.003762  0.002571  0.002901  0.001697  ...  0.000228
2021-02-11      0.002944  0.002926  0.003578  0.000849  ...  0.000898
2021-02-12      0.003063  0.002978  0.002999  0.000712  ...  0.001427

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-10     -0.000626  0.001483  0.001125   0.002456 -0.000720  0.001324
2021-02-11      0.001470  0.001418  0.001311   0.003328  0.000717 -0.000090
2021-02-12      0.000735  0.001047  0.000655   0.002779  0.002048  0.000457

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-10           -1.0  0.000594 -0.000125
2021-02-11           -1.0  0.000871 -0.000062
2021-02-12           -1.0  0.001009 -0.000031

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-10,0.020552,0.001023,NaN,0.011065,0.005804,0.010134,0.002995,0.003768,0.000700,NaN,...,0.008153,0.007694,0.006918,0.007478,1.581730e-13,0.006672,0.011243,0.009035,0.005370,0.009307
2021-02-11,0.017758,0.000512,NaN,0.012447,0.005318,0.010848,0.002451,0.003795,0.007177,NaN,...,0.007851,0.008667,0.006008,0.006413,2.083333e-02,0.005212,0.008880,0.007276,0.004027,0.004654
2021-02-12,0.017692,0.003827,NaN,0.012089,0.003909,0.010248,0.002004,0.003733,0.006362,NaN,...,0.007671,0.008848,0.006105,0.005866,1.041667e-02,0.003181,0.008973,0.006610,0.002832,0.002327

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-10      0.014238  0.024567  0.012567  0.010045  0.016560  0.034483
2021-02-11      0.019777  0.014375  0.006283  0.005023  0.008280  0.033371
2021-02-12      0.028407  0.030104  0.024881  0.030289  0.025692  0.016685

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-10      0.016389  0.021837  0.039272  0.007005  ...  0.022034
2021-02-11      0.008195  0.010919  0.036490  0.003502  ...  0.011017
2021-02-12      0.004097  0.015187  0.029115  0.001751  ...  0.005508

Province_State                                                             \
Admin2                Platte  Sheridan      Sublette Sweetwater     Teton
2021-02-10      1.539125e-06  0.011673  1.258134e-12   0.007638  0.016202
2021-02-11      7.695626e-07  0.005836  6.290672e-13   0.003819  0.008101
2021-02-12      3.847813e-07  0.002918  3.145336e-13   0.001909  0.004050

Province_State
Admin2                 Uinta Unassigned  Washakie    Weston
2021-02-10      2.041009e-07  -0.501961  0.000078  0.001660
2021-02-11      1.020505e-07  -0.501961  0.000039  0.000830
2021-02-12      5.102523e-08  -0.501961  0.000020  0.000415

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210213,AK,54282,NaN,NaN,NaN,totalTestsViral,1584548,35.0,1230.0,...,54282,0,0,f4a8ddf8b0d4a35e0fe6d52d07d81d51a2309288,0,0,0,0,0,NaN
1,20210213,AL,479856,103398.0,1848558.0,NaN,totalTestsPeopleViral,2225016,1140.0,44148.0,...,2328414,62,0,0704b3a472d42f000baadb4d09797361e69649aa,0,0,0,0,0,NaN
2,20210213,AR,312562,64915.0,2330865.0,NaN,totalTestsViral,2578512,690.0,14298.0,...,2643427,40,20,89135ea7038911b1fd8d28f3a04f96e8ab92aeca,0,0,0,0,0,NaN
3,20210213,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,2b7aaf0442f251d5f677812b5c4d03fcf856a881,0,0,0,0,0,NaN
4,20210213,AZ,795323,53357.0,2874760.0,NaN,totalTestsViral,7179670,2300.0,55559.0,...,3670083,114,146,ef03bdb4b70a10b1b0bc2325fd5c7b4cdf599185,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210213,AK,54282.0,NaN,NaN,NaN,totalTestsViral,1584548.0,35.0,1230.0,...,54282,0,0,f4a8ddf8b0d4a35e0fe6d52d07d81d51a2309288,0,0,0,0,0,NaN
1,20210213,AL,479856.0,103398.0,1848558.0,NaN,totalTestsPeopleViral,2225016.0,1140.0,44148.0,...,2328414,62,0,0704b3a472d42f000baadb4d09797361e69649aa,0,0,0,0,0,NaN
2,20210213,AR,312562.0,64915.0,2330865.0,NaN,totalTestsViral,2578512.0,690.0,14298.0,...,2643427,40,20,89135ea7038911b1fd8d28f3a04f96e8ab92aeca,0,0,0,0,0,NaN
3,20210213,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,2b7aaf0442f251d5f677812b5c4d03fcf856a881,0,0,0,0,0,NaN
4,20210213,AZ,795323.0,53357.0,2874760.0,NaN,totalTestsViral,7179670.0,2300.0,55559.0,...,3670083,114,146,ef03bdb4b70a10b1b0bc2325fd5c7b4cdf599185,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-13,AK,54282,NaN,NaN,NaN,totalTestsViral,1584548,35.0,1230.0,NaN,...,54282,0,0,f4a8ddf8b0d4a35e0fe6d52d07d81d51a2309288,0,0,0,0,0,NaN
2021-02-13,AL,479856,103398.0,1848558.0,NaN,totalTestsPeopleViral,2225016,1140.0,44148.0,NaN,...,2328414,62,0,0704b3a472d42f000baadb4d09797361e69649aa,0,0,0,0,0,NaN
2021-02-13,AR,312562,64915.0,2330865.0,NaN,totalTestsViral,2578512,690.0,14298.0,256.0,...,2643427,40,20,89135ea7038911b1fd8d28f3a04f96e8ab92aeca,0,0,0,0,0,NaN
2021-02-13,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,2b7aaf0442f251d5f677812b5c4d03fcf856a881,0,0,0,0,0,NaN
2021-02-13,AZ,795323,53357.0,2874760.0,NaN,totalTestsViral,7179670,2300.0,55559.0,701.0,...,3670083,114,146,ef03bdb4b70a10b1b0bc2325fd5c7b4cdf599185,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-13,AK,54282.0,NaN,NaN,NaN,totalTestsViral,1584548.0,35.0,1230.0,NaN,...,54282,0,0,f4a8ddf8b0d4a35e0fe6d52d07d81d51a2309288,0,0,0,0,0,NaN
2021-02-13,AL,479856.0,103398.0,1848558.0,NaN,totalTestsPeopleViral,2225016.0,1140.0,44148.0,NaN,...,2328414,62,0,0704b3a472d42f000baadb4d09797361e69649aa,0,0,0,0,0,NaN
2021-02-13,AR,312562.0,64915.0,2330865.0,NaN,totalTestsViral,2578512.0,690.0,14298.0,256.0,...,2643427,40,20,89135ea7038911b1fd8d28f3a04f96e8ab92aeca,0,0,0,0,0,NaN
2021-02-13,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,2b7aaf0442f251d5f677812b5c4d03fcf856a881,0,0,0,0,0,NaN
2021-02-13,AZ,795323.0,53357.0,2874760.0,NaN,totalTestsViral,7179670.0,2300.0,55559.0,701.0,...,3670083,114,146,ef03bdb4b70a10b1b0bc2325fd5c7b4cdf599185,0,0,0,0,0,NaN