# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-31-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-31-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-01 05:23:07,33.93911,67.709953,51526,2191,41727,0.0,Afghanistan,0.000000,4.252222
1,NaN,NaN,NaN,Albania,2021-01-01 05:23:07,41.15330,20.168300,58316,1181,33634,23501.0,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-01 05:23:07,28.03390,1.659600,99610,2756,67127,29727.0,Algeria,227.155372,2.766790
3,NaN,NaN,NaN,Andorra,2021-01-01 05:23:07,42.50630,1.521800,8049,84,7432,533.0,Andorra,10417.394681,1.043608
4,NaN,NaN,NaN,Angola,2021-01-01 05:23:07,-11.20270,17.873900,17553,405,11044,6104.0,Angola,53.407342,2.307298

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,50190,50433,50655,50810,50886,51039,51280,51350,51405,51526
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,53814,54317,54827,55380,55755,56254,56572,57146,57727,58316
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,96069,96549,97007,97441,97857,98249,98631,98988,99311,99610

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2096,2117,2126,2139,2149,2160,2174,2179,2181,2191
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1111,1117,1125,1134,1143,1153,1164,1170,1174,1181
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2687,2696,2705,2716,2722,2728,2737,2745,2751,2756

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39585,39692,40359,40444,40784,41096,41441,41543,41612,41727
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,29249,29799,30276,30790,31181,31565,32122,32700,33185,33634
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,64020,64401,64777,65144,65505,65862,66214,66550,66855,67127

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3841,3889,3942,3990,3999,4029,4065,4105,4164,4190
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,12155,12321,12521,12666,12708,12825,12962,13172,13392,13601
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1363,1383,1390,1396,1398,1406,1417,1462,1492,1514

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,44,46,46,46,46,47,47,47,48,48
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,149,151,151,151,151,152,152,156,160,161
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,32,32,32,32,32,32,32,32,32,32

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2021-01-01 05:23:07,32.539527,-86.644082,4190,48,0,4142.0,"Autauga, Alabama, US",7499.686767,1.145585
686,1075.0,Lamar,Alabama,US,2021-01-01 05:23:07,33.779950,-88.096680,1056,15,0,1041.0,"Lamar, Alabama, US",7649.402390,1.420455
687,1077.0,Lauderdale,Alabama,US,2021-01-01 05:23:07,34.901719,-87.656247,6478,70,0,6408.0,"Lauderdale, Alabama, US",6985.948301,1.080580

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               19968087  345737          0
India            10266674  148738    9860280
Brazil            7675973  194949    6848844

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,19968087,345737,0,19622350,2021-01-01 05:23:07,37.936303,-91.379001
India,10266674,148738,9860280,257656,2021-01-01 05:23:07,23.088275,81.806127
Brazil,7675973,194949,6848844,632180,2021-01-01 05:23:07,-12.669522,-48.480493
Russia,3127347,56271,2527722,543354,2021-01-01 05:23:07,54.546312,62.120860
France,2677666,64759,200142,2412765,2021-01-01 05:23:07,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        2291007   25897          0
Texas             1766307   27944          0
Florida           1323315   21673          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,2291007,25897,0,2265110,2021-01-01 05:23:07,37.843962,-120.728594
Texas,1766307,27944,0,1738363,2021-01-01 05:23:07,31.660643,-98.653069
Florida,1323315,21673,0,1301642,2021-01-01 05:23:07,28.940755,-82.700744
New York,978783,37983,0,940800,2021-01-01 05:23:07,42.544151,-75.474183
Illinois,963389,17978,0,945411,2021-01-01 05:23:07,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     770602   10345          0
Illinois       Cook            393652    8285          0
Arizona        Maricopa        318827    5110          0
Florida        Miami-Dade      298873    4188          0
Texas          Harris          237727    3402          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,770602,10345,0,760257,2021-01-01 05:23:07,34.308284,-118.228241,6037.0
Illinois,Cook,393652,8285,0,385367,2021-01-01 05:23:07,41.841448,-87.816588,17031.0
Arizona,Maricopa,318827,5110,0,313717,2021-01-01 05:23:07,33.348359,-112.491815,4013.0
Florida,Miami-Dade,298873,4188,0,294685,2021-01-01 05:23:07,25.611236,-80.551706,12086.0
Texas,Harris,237727,3402,0,234325,2021-01-01 05:23:07,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,51350,57146,98988,7919,17371,158,1602163,158296,28381,355352,...,2389963,17962,76907,1,112861,1454,135459,2096,20177,13325
2020-12-30,51405,57727,99311,7983,17433,158,1613928,158878,28405,357902,...,2440202,18480,76985,1,113121,1456,136736,2097,20462,13625
2020-12-31,51526,58316,99610,8049,17553,159,1625514,159409,28425,360815,...,2496231,19119,77060,1,113558,1465,138004,2099,20725,13867

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,2179,1170,2745,84,403,5,43018,2797,909,6059,...,71675,168,613,0,1021,35,1351,610,385,359
2020-12-30,2181,1174,2751,84,405,5,43163,2807,909,6149,...,72657,174,614,0,1025,35,1371,610,386,360
2020-12-31,2191,1181,2756,84,405,5,43245,2823,909,6222,...,73622,181,614,0,1028,35,1400,610,388,363

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,41543,32700,66550,7360,10627,147,1420885,140942,25754,328974,...,5294,12506,74626,1,106958,1319,113082,1387,18380,11067
2020-12-30,41612,33185,66855,7384,10859,148,1426676,141844,25761,330990,...,5414,12996,74789,1,107203,1323,115127,1392,18530,11154
2020-12-31,41727,33634,67127,7432,11044,148,1426676,142801,25762,332952,...,5479,13468,74943,1,107583,1325,117183,1394,18660,11250

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3841,3889,3942,3990,3999,4029,4065,4105,4164,4190
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,979,986,997,1007,1009,1012,1017,1025,1037,1056
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,5722,5859,5996,6048,6039,6117,6162,6230,6371,6478
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1819,1859,1907,1921,1924,1939,1958,1978,2005,2044
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,9490,9609,9715,9779,9800,9856,9928,10047,10159,10320

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-29,351804,46092,0,507222,219246,2228332,328408,181967,56189,49,...,572589,1730084,269326,7202,1979,340297,240846,82773,513056,43923
2020-12-30,356820,46483,0,512489,222430,2261035,330859,183663,56596,49,...,580809,1750250,271940,7276,2010,344345,242330,84225,516226,44133
2020-12-31,361226,46986,0,520207,225138,2291007,334097,185708,57456,49,...,586802,1766307,276612,7412,2031,349584,246752,85334,520438,44409

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-29        4105   13172    1462  1792   4535     834   1482    9345
2020-12-30        4164   13392    1492  1817   4584     846   1493    9428
2020-12-31        4190   13601    1514  1834   4641     859   1508    9494

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-29         2275     1393  ...    1971    425     2507      590
2020-12-30         2310     1403  ...    1985    434     2521      592
2020-12-31         2341     1414  ...    2021    440     2543      597

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-29           2929  2112  1521          0      764    471
2020-12-30           2943  2121  1540          0      768    475
2020-12-31           2966  2138  1558          0      781    476

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-29,4737,201,0,8640,3603,24917,4687,5924,898,0,...,6710,27282,1235,130,23,4920,3369,1284,5152,405
2020-12-30,4774,203,0,8718,3637,25334,4750,5964,921,0,...,6810,27600,1256,134,23,4984,3420,1318,5192,405
2020-12-31,4827,206,0,8864,3676,25897,4814,5995,926,0,...,6907,27944,1269,136,23,5032,3461,1338,5242,438

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-29          47     156      32   42     58      20     45     149
2020-12-30          48     160      32   46     63      20     45     155
2020-12-31          48     161      32   46     63      22     45     156

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-29           61       23  ...       7      8       16        5
2020-12-30           62       22  ...       7      8       16        5
2020-12-31           63       22  ...      10      8       17        6

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-29             15     3     7          0       16      2
2020-12-30             15     3     7          0       16      2
2020-12-31             16     4     7          0       19      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,0.001365,0.010146,0.003620,0.005587,0.004336,0.000000,0.007325,0.002203,0.001129,0.005285,...,0.022799,0.037906,0.000976,0.0,0.001998,0.002068,0.008555,0.000000,0.011733,0.013462
2020-12-30,0.001071,0.010167,0.003263,0.008082,0.003569,0.000000,0.007343,0.003677,0.000846,0.007176,...,0.021021,0.028839,0.001014,0.0,0.002304,0.001376,0.009427,0.000477,0.014125,0.022514
2020-12-31,0.002354,0.010203,0.003011,0.008268,0.006883,0.006329,0.007179,0.003342,0.000704,0.008139,...,0.022961,0.034578,0.000974,0.0,0.003863,0.006181,0.009273,0.000954,0.012853,0.017761

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,0.002300,0.005155,0.002923,0.012048,0.000000,0.0,0.003499,0.007928,0.0,0.021582,...,0.006431,0.050000,0.000000,NaN,0.002947,0.0,0.014264,0.004942,0.002604,0.014124
2020-12-30,0.000918,0.003419,0.002186,0.000000,0.004963,0.0,0.003371,0.003575,0.0,0.014854,...,0.013701,0.035714,0.001631,NaN,0.003918,0.0,0.014804,0.000000,0.002597,0.002786
2020-12-31,0.004585,0.005963,0.001818,0.000000,0.000000,0.0,0.001900,0.005700,0.0,0.011872,...,0.013282,0.040230,0.000000,NaN,0.002927,0.0,0.021152,0.000000,0.005181,0.008333

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,0.002461,0.017994,0.005074,0.005739,0.026367,0.000000,0.004386,0.009071,0.000233,0.006751,...,0.037632,0.045128,0.002512,0.0,0.002071,0.012279,0.019427,0.002168,0.004591,0.033816
2020-12-30,0.001661,0.014832,0.004583,0.003261,0.021831,0.006803,0.004076,0.006400,0.000272,0.006128,...,0.022667,0.039181,0.002184,0.0,0.002291,0.003033,0.018084,0.003605,0.008161,0.007861
2020-12-31,0.002764,0.013530,0.004069,0.006501,0.017037,0.000000,0.000000,0.006747,0.000039,0.005928,...,0.012006,0.036319,0.002059,0.0,0.003545,0.001512,0.017859,0.001437,0.007016,0.008607

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-29,0.011230,0.003986,NaN,0.005549,0.012553,0.016258,0.005327,0.004233,0.012633,0.0,...,0.008449,0.017368,0.010263,0.011517,0.000000,0.012261,0.009109,0.016418,0.005722,0.005011
2020-12-30,0.014258,0.008483,NaN,0.010384,0.014522,0.014676,0.007463,0.009320,0.007243,0.0,...,0.014356,0.011656,0.009706,0.010275,0.015664,0.011895,0.006162,0.017542,0.006179,0.004781
2020-12-31,0.012348,0.010821,NaN,0.015060,0.012175,0.013256,0.009787,0.011135,0.015195,0.0,...,0.010318,0.009174,0.017180,0.018692,0.010448,0.015214,0.018248,0.013167,0.008159,0.006254

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-29      0.009840  0.016201  0.031757  0.017026  0.011599  0.004819
2020-12-30      0.014373  0.016702  0.020520  0.013951  0.010805  0.014388
2020-12-31      0.006244  0.015606  0.014745  0.009356  0.012435  0.015366

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-29      0.017159  0.006354  0.020637  0.015306  ...  0.016503
2020-12-30      0.007422  0.008882  0.015385  0.007179  ...  0.007103
2020-12-31      0.010047  0.007000  0.013420  0.007840  ...  0.018136

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-29      0.009501  0.006423  0.006826   0.002739  0.001898  0.009290
2020-12-30      0.021176  0.005584  0.003390   0.004780  0.004261  0.012492
2020-12-31      0.013825  0.008727  0.008446   0.007815  0.008015  0.011688

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-29            NaN  0.001311  0.008565
2020-12-30            NaN  0.005236  0.008493
2020-12-31            NaN  0.016927  0.002105

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-29,0.005306,0.005000,NaN,0.020191,0.018660,0.020394,0.012092,0.003388,0.000000,NaN,...,0.018519,0.009024,0.013126,0.007752,0.0,0.012137,0.054460,0.016627,0.018182,0.000000
2020-12-30,0.007811,0.009950,NaN,0.009028,0.009437,0.016736,0.013441,0.006752,0.025612,NaN,...,0.014903,0.011656,0.017004,0.030769,0.0,0.013008,0.015138,0.026480,0.007764,0.000000
2020-12-31,0.011102,0.014778,NaN,0.016747,0.010723,0.022223,0.013474,0.005198,0.005429,NaN,...,0.014244,0.012464,0.010350,0.014925,0.0,0.009631,0.011988,0.015175,0.009630,0.081481

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga   Baldwin Barbour      Bibb    Blount Bullock Butler
2020-12-29      0.000000  0.026316     0.0  0.000000  0.000000     0.0    0.0
2020-12-30      0.021277  0.025641     0.0  0.095238  0.086207     0.0    0.0
2020-12-31      0.000000  0.006250     0.0  0.000000  0.000000     0.1    0.0

Province_State                                ...   Wyoming                  \
Admin2           Calhoun  Chambers  Cherokee  ...      Park Platte Sheridan
2020-12-29      0.000000  0.000000  0.000000  ...  0.000000    0.0   0.0000
2020-12-30      0.040268  0.016393 -0.043478  ...  0.000000    0.0   0.0000
2020-12-31      0.006452  0.016129  0.000000  ...  0.428571    0.0   0.0625

Province_State
Admin2         Sublette Sweetwater     Teton Uinta Unassigned Washakie Weston
2020-12-29          0.0   0.000000  0.000000   0.0        NaN   0.0000    0.0
2020-12-30          0.0   0.000000  0.000000   0.0        NaN   0.0000    0.0
2020-12-31          0.2   0.066667  0.333333   0.0        NaN   0.1875    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,0.002562,0.008627,0.003837,0.005522,0.004142,0.005102,0.005639,0.002165,0.000868,0.004917,...,0.019715,0.035262,0.001072,0.0,0.002484,0.003199,0.009104,0.000396,0.009371,0.010129
2020-12-30,0.001816,0.009397,0.003550,0.006802,0.003856,0.002551,0.006491,0.002921,0.000857,0.006047,...,0.020368,0.032050,0.001043,0.0,0.002394,0.002287,0.009266,0.000436,0.011748,0.016322
2020-12-31,0.002085,0.009800,0.003280,0.007535,0.005370,0.004440,0.006835,0.003132,0.000780,0.007093,...,0.021664,0.033314,0.001009,0.0,0.003128,0.004234,0.009270,0.000695,0.012301,0.017042

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,0.004095,0.007043,0.002936,0.006278,0.003272,1.907349e-06,0.003709,0.006219,0.000138,0.015153,...,0.005807,0.042609,0.000204,NaN,0.003029,1.196793e-37,0.016311,0.002677,0.002563,0.014355
2020-12-30,0.002506,0.005231,0.002561,0.003139,0.004117,9.536743e-07,0.003540,0.004897,0.000069,0.015003,...,0.009754,0.039162,0.000918,NaN,0.003473,5.983967e-38,0.015557,0.001339,0.002580,0.008570
2020-12-31,0.003546,0.005597,0.002189,0.001570,0.002059,4.768372e-07,0.002720,0.005299,0.000034,0.013438,...,0.011518,0.039696,0.000459,NaN,0.003200,2.991983e-38,0.018355,0.000669,0.003881,0.008452

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-29,0.005205,0.016808,0.005263,0.005309,0.018939,0.001863,0.004768,0.006826,0.000291,0.008216,...,0.025995,0.046806,0.002205,0.0,0.002465,0.006716,0.016580,0.001084,0.004072,0.021410
2020-12-30,0.003433,0.015820,0.004923,0.004285,0.020385,0.004333,0.004422,0.006613,0.000282,0.007172,...,0.024331,0.042994,0.002195,0.0,0.002378,0.004874,0.017332,0.002344,0.006116,0.014636
2020-12-31,0.003098,0.014675,0.004496,0.005393,0.018711,0.002167,0.002211,0.006680,0.000160,0.006550,...,0.018168,0.039656,0.002127,0.0,0.002961,0.003193,0.017595,0.001891,0.006566,0.011621

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-29,0.008975,0.004261,NaN,0.009860,0.009671,0.017203,0.005296,0.014723,0.011357,6.845156e-88,...,0.008595,0.012367,0.008288,0.012255,0.000433,0.010735,0.007933,0.013528,0.004636,0.006395
2020-12-30,0.011617,0.006372,NaN,0.010122,0.012097,0.015940,0.006379,0.012022,0.009300,3.422578e-88,...,0.011475,0.012011,0.008997,0.011265,0.008049,0.011315,0.007047,0.015535,0.005407,0.005588
2020-12-31,0.011982,0.008597,NaN,0.012591,0.012136,0.014598,0.008083,0.011578,0.012248,1.711289e-88,...,0.010897,0.010593,0.013089,0.014978,0.009248,0.013265,0.012647,0.014351,0.006783,0.005921

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-29      0.009035  0.012962  0.019059  0.012557  0.008006  0.007959
2020-12-30      0.011704  0.014832  0.019790  0.013254  0.009406  0.011174
2020-12-31      0.008974  0.015219  0.017267  0.011305  0.010920  0.013270

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-29      0.010400  0.006031  0.013084  0.009218  ...  0.015051
2020-12-30      0.008911  0.007456  0.014234  0.008199  ...  0.011077
2020-12-31      0.009479  0.007228  0.013827  0.008019  ...  0.014606

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-29      0.005754  0.007027  0.005580   0.008374  0.005647  0.007506
2020-12-30      0.013465  0.006306  0.004485   0.006577  0.004954  0.009999
2020-12-31      0.013645  0.007516  0.006466   0.007196  0.006485  0.010844

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-29           -1.0  0.007659  0.006481
2020-12-30           -1.0  0.006447  0.007487
2020-12-31           -1.0  0.011687  0.004796

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-29,0.004638,0.003312,NaN,0.012297,0.015458,0.013136,0.008497,0.006822,0.001268,NaN,...,0.014029,0.005993,0.008540,0.015358,9.612327e-19,0.007488,0.028317,0.011768,0.010925,0.021702
2020-12-30,0.006224,0.006631,NaN,0.010663,0.012447,0.014936,0.010969,0.006787,0.013440,NaN,...,0.014466,0.008825,0.012772,0.023064,4.806164e-19,0.010248,0.021727,0.019124,0.009344,0.010851
2020-12-31,0.008663,0.010705,NaN,0.013705,0.011585,0.018579,0.012221,0.005992,0.009435,NaN,...,0.014355,0.010644,0.011561,0.018994,2.403082e-19,0.009939,0.016858,0.017149,0.009487,0.046166

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-29      0.003080  0.014150  0.000033  0.000004  0.000734
2020-12-30      0.012178  0.019896  0.000016  0.047621  0.043471
2020-12-31      0.006089  0.013073  0.000008  0.023811  0.021735

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-12-29      7.842718e-10  0.000006  0.000800  0.000084 -0.000010  ...
2020-12-30      3.921359e-10  0.000003  0.020534  0.008239 -0.021744  ...
2020-12-31      5.000000e-02  0.000001  0.013493  0.012184 -0.010872  ...

Province_State       Wyoming                                                   \
Admin2                  Park        Platte  Sheridan      Sublette Sweetwater
2020-12-29      1.987186e-08  2.724016e-10  0.016685  7.028381e-07   0.000002
2020-12-30      9.935929e-09  1.362008e-10  0.008343  3.514191e-07   0.000001
2020-12-31      2.142857e-01  6.810039e-11  0.035421  1.000002e-01   0.033334

Province_State
Admin2             Teton         Uinta Unassigned  Washakie        Weston
2020-12-29      0.125000  1.051774e-07  -0.501961  0.083689  1.862645e-09
2020-12-30      0.062500  5.258868e-08  -0.501961  0.041844  9.313225e-10
2020-12-31      0.197917  2.629434e-08  -0.501961  0.114672  4.656612e-10

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201231,AK,45461,NaN,1230289,NaN,totalTestsViral,1275750,79.0,1023.0,...,1275750,3,6,2d506c6593cc8e3c2dab997a6f7f7ccf9177dada,0,0,0,0,0,NaN
1,20201231,AL,361226,70645.0,1583419,NaN,totalTestsPeopleViral,1874000,2815.0,34184.0,...,1944645,53,353,a17ffe782c7fd51cf4be33f9ae0db8db947ba5b3,0,0,0,0,0,NaN
2,20201231,AR,225138,38354.0,1864704,NaN,totalTestsViral,2051488,1195.0,11358.0,...,2089842,39,87,d6f915bf5e5024227e5c521761c7e90ce32ac630,0,0,0,0,0,NaN
3,20201231,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,c5042b2efa5f61b3df3f1c1d7d5e3486378585ed,0,0,0,0,0,NaN
4,20201231,AZ,520207,25090.0,2339635,NaN,totalTestsViral,5059770,4564.0,37257.0,...,2859842,146,473,ce04d99c7cab00bc30cd802a849226695cad2803,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201231,AK,45461.0,NaN,1230289.0,NaN,totalTestsViral,1275750.0,79.0,1023.0,...,1275750,3,6,2d506c6593cc8e3c2dab997a6f7f7ccf9177dada,0,0,0,0,0,NaN
1,20201231,AL,361226.0,70645.0,1583419.0,NaN,totalTestsPeopleViral,1874000.0,2815.0,34184.0,...,1944645,53,353,a17ffe782c7fd51cf4be33f9ae0db8db947ba5b3,0,0,0,0,0,NaN
2,20201231,AR,225138.0,38354.0,1864704.0,NaN,totalTestsViral,2051488.0,1195.0,11358.0,...,2089842,39,87,d6f915bf5e5024227e5c521761c7e90ce32ac630,0,0,0,0,0,NaN
3,20201231,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,c5042b2efa5f61b3df3f1c1d7d5e3486378585ed,0,0,0,0,0,NaN
4,20201231,AZ,520207.0,25090.0,2339635.0,NaN,totalTestsViral,5059770.0,4564.0,37257.0,...,2859842,146,473,ce04d99c7cab00bc30cd802a849226695cad2803,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,AK,45461,NaN,1230289,NaN,totalTestsViral,1275750,79.0,1023.0,NaN,...,1275750,3,6,2d506c6593cc8e3c2dab997a6f7f7ccf9177dada,0,0,0,0,0,NaN
2020-12-31,AL,361226,70645.0,1583419,NaN,totalTestsPeopleViral,1874000,2815.0,34184.0,NaN,...,1944645,53,353,a17ffe782c7fd51cf4be33f9ae0db8db947ba5b3,0,0,0,0,0,NaN
2020-12-31,AR,225138,38354.0,1864704,NaN,totalTestsViral,2051488,1195.0,11358.0,396.0,...,2089842,39,87,d6f915bf5e5024227e5c521761c7e90ce32ac630,0,0,0,0,0,NaN
2020-12-31,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,c5042b2efa5f61b3df3f1c1d7d5e3486378585ed,0,0,0,0,0,NaN
2020-12-31,AZ,520207,25090.0,2339635,NaN,totalTestsViral,5059770,4564.0,37257.0,1028.0,...,2859842,146,473,ce04d99c7cab00bc30cd802a849226695cad2803,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,AK,45461.0,NaN,1230289.0,NaN,totalTestsViral,1275750.0,79.0,1023.0,NaN,...,1275750,3,6,2d506c6593cc8e3c2dab997a6f7f7ccf9177dada,0,0,0,0,0,NaN
2020-12-31,AL,361226.0,70645.0,1583419.0,NaN,totalTestsPeopleViral,1874000.0,2815.0,34184.0,NaN,...,1944645,53,353,a17ffe782c7fd51cf4be33f9ae0db8db947ba5b3,0,0,0,0,0,NaN
2020-12-31,AR,225138.0,38354.0,1864704.0,NaN,totalTestsViral,2051488.0,1195.0,11358.0,396.0,...,2089842,39,87,d6f915bf5e5024227e5c521761c7e90ce32ac630,0,0,0,0,0,NaN
2020-12-31,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,c5042b2efa5f61b3df3f1c1d7d5e3486378585ed,0,0,0,0,0,NaN
2020-12-31,AZ,520207.0,25090.0,2339635.0,NaN,totalTestsViral,5059770.0,4564.0,37257.0,1028.0,...,2859842,146,473,ce04d99c7cab00bc30cd802a849226695cad2803,0,0,0,0,0,NaN