# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'11-12-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'11-12-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-13 05:25:30,33.93911,67.709953,42795,1591,35024,6180.0,Afghanistan,109.932761,3.717724
1,NaN,NaN,NaN,Albania,2020-11-13 05:25:30,41.15330,20.168300,26211,598,12574,13039.0,Albania,910.799917,2.281485
2,NaN,NaN,NaN,Algeria,2020-11-13 05:25:30,28.03390,1.659600,65108,2111,42980,20017.0,Algeria,148.475374,3.242305
3,NaN,NaN,NaN,Andorra,2020-11-13 05:25:30,42.50630,1.521800,5616,75,4585,956.0,Andorra,7268.491555,1.335470
4,NaN,NaN,NaN,Angola,2020-11-13 05:25:30,-11.20270,17.873900,13053,315,6250,6488.0,Angola,39.715492,2.413238

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,41728,41814,41935,41975,42033,42092,42297,42463,42609,42795
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,21904,22300,22721,23210,23705,24206,24731,25294,25801,26211
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,58979,59527,60169,60800,61381,62051,62693,63446,64257,65108

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1544,1548,1554,1554,1556,1558,1574,1577,1581,1591
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,532,536,543,549,557,559,571,579,590,598
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1980,1999,2011,2024,2036,2048,2062,2077,2093,2111

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34355,34362,34440,34440,34446,34458,34721,34954,34967,35024
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,11473,11578,11696,11861,12002,12092,12203,12353,12493,12574
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,40577,41001,41244,41510,41783,42037,42325,42626,42980,42980

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2197,2212,2230,2242,2267,2283,2304,2328,2351,2385
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,6995,7061,7097,7134,7188,7226,7263,7348,7409,7454
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1074,1079,1080,1090,1092,1095,1098,1107,1112,1113

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,31,31,31,30,30,30,30,30,32,32
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,74,77,77,83,83,83,83,84,84,84
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,9,9,9,9,9,9,9,9

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
647,1001.0,Autauga,Alabama,US,2020-11-13 05:25:30,32.539527,-86.644082,2385,32,0,2353.0,"Autauga, Alabama, US",4268.914783,1.341719
684,1075.0,Lamar,Alabama,US,2020-11-13 05:25:30,33.779950,-88.096680,576,7,0,569.0,"Lamar, Alabama, US",4172.401304,1.215278
685,1077.0,Lauderdale,Alabama,US,2020-11-13 05:25:30,34.901719,-87.656247,3140,49,0,3091.0,"Lauderdale, Alabama, US",3386.211433,1.560510

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               10552821  242423    4051256
India             8728795  128668    8115580
Brazil            5781582  164281    5254457

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,10552821,242423,4051256,6259142,2020-11-13 05:25:30,37.936303,-91.379001
India,8728795,128668,8115580,484547,2020-11-13 05:25:30,23.088275,81.806127
Brazil,5781582,164281,5254457,362844,2020-11-13 05:25:30,-12.669522,-48.480493
France,1915282,42599,139212,1733471,2020-11-13 05:25:30,8.314863,-21.695174
Russia,1843678,31755,1378463,433460,2020-11-13 05:25:30,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
Texas             1024073   19474          0
California        1004116   18135          0
Florida            863619   17372          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
Texas,1024073,19474,0,1004599,2020-11-13 05:25:30,31.660643,-98.653069
California,1004116,18135,0,985981,2020-11-13 05:25:30,37.843962,-120.728594
Florida,863619,17372,0,846247,2020-11-13 05:25:30,28.940755,-82.700744
New York,545762,33975,0,511787,2020-11-13 05:25:30,42.544151,-75.474183
Illinois,536542,10846,0,525696,2020-11-13 05:25:30,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     330450    7221          0
Illinois       Cook            236717    5889          0
Florida        Miami-Dade      197196    3701          0
Arizona        Maricopa        170842    3759          0
Texas          Harris          170835    2877          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,330450,7221,0,323229,2020-11-13 05:25:30,34.308284,-118.228241,6037.0
Illinois,Cook,236717,5889,0,230828,2020-11-13 05:25:30,41.841448,-87.816588,17031.0
Florida,Miami-Dade,197196,3701,0,193495,2020-11-13 05:25:30,25.611236,-80.551706,12086.0
Arizona,Maricopa,170842,3759,0,167083,2020-11-13 05:25:30,33.348359,-112.491815,4013.0
Texas,Harris,170835,2877,0,167958,2020-11-13 05:25:30,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,42463,25294,63446,5477,12816,131,1262476,108687,27671,164866,...,3620,69027,1,95445,1226,59422,10,2071,16997,8610
2020-11-11,42609,25801,64257,5567,12953,131,1273356,110548,27675,172380,...,3700,69397,1,95750,1252,60065,10,2071,17036,8667
2020-11-12,42795,26211,65108,5616,13053,131,1284519,112680,27676,181642,...,3795,69560,1,96140,1253,60784,10,2071,17056,8696

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,1577,579,2077,75,308,3,34183,1609,907,1499,...,62,588,0,834,35,533,1,605,350,255
2020-11-11,1581,590,2093,75,312,3,34531,1636,907,1564,...,63,591,0,838,35,538,1,605,350,255
2020-11-12,1591,598,2111,75,315,3,34782,1668,907,1608,...,63,593,0,841,35,542,1,605,350,255

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,34954,12353,42626,4405,6036,122,1081897,66835,25454,98663,...,3034,66194,0,90359,1087,51425,8,1394,16019,8040
2020-11-11,34967,12493,42980,4488,6125,124,1081897,68336,25455,103759,...,3078,66672,0,90743,1087,52226,8,1394,16070,8046
2020-11-12,35024,12574,42980,4585,6250,124,1100180,70130,25459,107875,...,3103,66814,0,91141,1093,52861,8,1394,16102,8060

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2197,2212,2230,2242,2267,2283,2304,2328,2351,2385
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,533,540,541,544,553,554,559,565,570,576
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,2798,2820,2835,2874,2911,2937,2963,3011,3088,3140
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,958,968,977,983,995,1003,1007,1014,1028,1037
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,6749,6776,6812,6851,6878,6903,6926,6952,6994,7043

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-10,206567,20832,0,263133,124235,989432,138427,82953,27112,49,...,289749,1010364,137385,2462,1413,194912,120011,29316,293812,19242
2020-11-11,208637,21331,0,265163,126197,995575,142402,84741,27342,49,...,293381,1022336,139720,2535,1413,196506,120011,30201,301349,19374
2020-11-12,210637,21812,0,266562,128006,1004116,147599,85899,27546,49,...,296725,1024073,143639,2651,1413,198027,123356,30897,309572,20479

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-10        2328    7348    1107  948   2378     665   1061    5254
2020-11-11        2351    7409    1112  961   2400     668   1062    5282
2020-11-12        2385    7454    1113  966   2429     669   1062    5345

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-10         1507      857  ...     998    220     1094      222
2020-11-11         1508      865  ...    1001    226     1099      226
2020-11-12         1514      870  ...    1042    231     1171      239

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-10            852  1022   614          0      197    321
2020-11-11            869  1025   627          0      199    323
2020-11-12            944  1066   664          0      203    321

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-10,3120,92,0,6192,2112,18066,2427,4707,722,0,...,3672,19337,672,59,23,3726,2482,546,2613,127
2020-11-11,3201,96,0,6228,2126,18108,2443,4716,724,0,...,3761,19469,678,59,23,3741,2482,553,2621,127
2020-11-12,3213,96,0,6240,2144,18135,2468,4726,732,0,...,3788,19474,687,59,23,3758,2507,555,2621,127

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-10          30      84       9   17     26      18     41      68
2020-11-11          32      84       9   17     34      19     41      77
2020-11-12          32      84       9   17     34      19     41      77

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-10           48       15  ...       3      4        8        1
2020-11-11           48       15  ...       3      4        8        1
2020-11-12           48       15  ...       3      4        8        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-10              4     2     4          0        7      0
2020-11-11              4     2     4          0        7      0
2020-11-12              4     2     4          0        7      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,0.003925,0.022765,0.012011,0.007357,0.010726,0.0,0.009578,0.011362,0.000072,0.038552,...,0.016854,0.000000,inf,0.003111,0.009053,0.009926,0.0,0.0,0.001532,0.005724
2020-11-11,0.003438,0.020044,0.012783,0.016432,0.010690,0.0,0.008618,0.017123,0.000145,0.045576,...,0.022099,0.005360,0.0,0.003196,0.021207,0.010821,0.0,0.0,0.002295,0.006620
2020-11-12,0.004365,0.015891,0.013244,0.008802,0.007720,0.0,0.008767,0.019286,0.000036,0.053730,...,0.025676,0.002349,0.0,0.004073,0.000799,0.011970,0.0,0.0,0.001174,0.003346

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,0.001906,0.014011,0.007274,0.0,0.000000,0.0,0.008140,0.018354,0.0,0.030949,...,0.000000,0.000000,NaN,0.004819,0.0,0.023033,0.0,0.0,0.002865,0.003937
2020-11-11,0.002536,0.018998,0.007703,0.0,0.012987,0.0,0.010180,0.016781,0.0,0.043362,...,0.016129,0.005102,NaN,0.004796,0.0,0.009381,0.0,0.0,0.000000,0.000000
2020-11-12,0.006325,0.013559,0.008600,0.0,0.009615,0.0,0.007269,0.019560,0.0,0.028133,...,0.000000,0.003384,NaN,0.003580,0.0,0.007435,0.0,0.0,0.000000,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,0.006711,0.012292,0.007112,0.016851,0.018390,0.000000,0.007750,0.029656,0.000000,0.042652,...,0.013699,0.000000,NaN,0.003387,0.00000,0.010771,0.0,0.0,0.000500,0.002119
2020-11-11,0.000372,0.011333,0.008305,0.018842,0.014745,0.016393,0.000000,0.022458,0.000039,0.051651,...,0.014502,0.007221,NaN,0.004250,0.00000,0.015576,0.0,0.0,0.003184,0.000746
2020-11-12,0.001630,0.006484,0.000000,0.021613,0.020408,0.000000,0.016899,0.026253,0.000157,0.039669,...,0.008122,0.002130,NaN,0.004386,0.00552,0.012159,0.0,0.0,0.001991,0.001740

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-10,0.008347,0.026207,NaN,0.013223,0.011595,0.008290,0.028914,0.018678,0.007581,0.0,...,0.006877,0.012361,0.018663,0.019462,0.005694,0.007417,0.012153,0.017740,0.025952,0.068406
2020-11-11,0.010021,0.023954,NaN,0.007715,0.015793,0.006209,0.028715,0.021554,0.008483,0.0,...,0.012535,0.011849,0.016996,0.029651,0.000000,0.008178,0.000000,0.030188,0.025652,0.006860
2020-11-12,0.009586,0.022549,NaN,0.005276,0.014335,0.008579,0.036495,0.013665,0.007461,0.0,...,0.011398,0.001699,0.028049,0.045759,0.000000,0.007740,0.027872,0.023046,0.027287,0.057035

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-10      0.010417  0.011703  0.008197  0.017167  0.018415  0.001506
2020-11-11      0.009880  0.008302  0.004517  0.013713  0.009251  0.004511
2020-11-12      0.014462  0.006074  0.000899  0.005203  0.012083  0.001497

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-10      0.006641  0.007092  0.012089  0.014201  ...  0.042842
2020-11-11      0.000943  0.005329  0.000664  0.009335  ...  0.003006
2020-11-12      0.000000  0.011927  0.003979  0.005780  ...  0.040959

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-10      0.052632  0.044890  0.042254   0.097938  0.014896  0.080986
2020-11-11      0.027273  0.004570  0.018018   0.019953  0.002935  0.021173
2020-11-12      0.022124  0.065514  0.057522   0.086306  0.040000  0.059011

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-10            NaN  0.036842  0.035484
2020-11-11            NaN  0.010152  0.006231
2020-11-12            NaN  0.020101 -0.006192

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-10,0.011673,0.095238,NaN,0.004543,0.001898,0.002497,0.007890,0.001916,0.004172,NaN,...,0.017175,0.005930,0.016641,0.0,0.0,0.003501,0.008943,0.030189,0.006936,0.114035
2020-11-11,0.025962,0.043478,NaN,0.005814,0.006629,0.002325,0.006593,0.001912,0.002770,NaN,...,0.024237,0.006826,0.008929,0.0,0.0,0.004026,0.000000,0.012821,0.003062,0.000000
2020-11-12,0.003749,0.000000,NaN,0.001927,0.008467,0.001491,0.010233,0.002120,0.011050,NaN,...,0.007179,0.000257,0.013274,0.0,0.0,0.004544,0.010073,0.003617,0.000000,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga   Baldwin Barbour    Bibb    Blount   Bullock Butler
2020-11-10      0.000000  0.012048     0.0  0.0625  0.000000  0.058824    0.0
2020-11-11      0.066667  0.000000     0.0  0.0000  0.307692  0.055556    0.0
2020-11-12      0.000000  0.000000     0.0  0.0000  0.000000  0.000000    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2020-11-10      0.014925      0.0      0.0  ...     0.0    0.0      0.0
2020-11-11      0.132353      0.0      0.0  ...     0.0    0.0      0.0
2020-11-12      0.000000      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-10          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-11-11          0.0        0.0   0.0   0.0        NaN      0.0    NaN
2020-11-12          0.0        0.0   0.0   0.0        NaN      0.0    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,0.003552,0.022015,0.011170,0.010500,0.012949,0.000613,0.007998,0.013669,0.000140,0.040370,...,0.016743,0.002120,NaN,0.003027,0.005233,0.010096,1.992958e-44,0.000272,0.001904,0.004588
2020-11-11,0.003495,0.021030,0.011976,0.013466,0.011819,0.000306,0.008308,0.015396,0.000142,0.042973,...,0.019421,0.003740,0.0,0.003111,0.013220,0.010459,9.964789e-45,0.000136,0.002099,0.005604
2020-11-12,0.003930,0.018460,0.012610,0.011134,0.009770,0.000153,0.008537,0.017341,0.000089,0.048352,...,0.022548,0.003044,0.0,0.003592,0.007009,0.011215,4.982395e-45,0.000068,0.001637,0.004475

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,0.003858,0.014439,0.006840,0.000009,0.003555,6.124641e-64,0.008531,0.01706,6.751980e-08,0.030635,...,0.002174,0.002489,NaN,0.004404,6.737348e-23,0.015740,0.0,0.001303,0.001433,0.004553
2020-11-11,0.003197,0.016719,0.007272,0.000005,0.008271,3.062321e-64,0.009356,0.01692,3.375990e-08,0.036999,...,0.009152,0.003796,NaN,0.004600,3.368674e-23,0.012561,0.0,0.000651,0.000717,0.002276
2020-11-12,0.004761,0.015139,0.007936,0.000002,0.008943,1.531160e-64,0.008312,0.01824,1.687995e-08,0.032566,...,0.004576,0.003590,NaN,0.004090,1.684337e-23,0.009998,0.0,0.000326,0.000358,0.001138

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-10,0.005359,0.010864,0.006834,0.023614,0.018415,0.002196,0.008905,0.022488,0.000089,0.040024,...,0.014890,0.002006,NaN,0.003439,0.004021,0.010209,1.167749e-46,0.003468,0.001975,0.001954
2020-11-11,0.002865,0.011098,0.007569,0.021228,0.016580,0.009295,0.004452,0.022473,0.000064,0.045837,...,0.014696,0.004614,NaN,0.003844,0.002010,0.012893,5.838744e-47,0.001734,0.002579,0.001350
2020-11-12,0.002248,0.008791,0.003785,0.021421,0.018494,0.004647,0.010676,0.024363,0.000111,0.042753,...,0.011409,0.003372,NaN,0.004115,0.003765,0.012526,2.919372e-47,0.000867,0.002285,0.001545

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-10,0.007378,0.026016,NaN,0.009036,0.010501,0.007572,0.027659,0.020889,0.009390,3.853480e-73,...,0.011915,0.009759,0.018666,0.01583,0.004290,0.007429,0.011889,0.018414,0.022166,0.053287
2020-11-11,0.008699,0.024985,NaN,0.008376,0.013147,0.006890,0.028187,0.021222,0.008937,1.926740e-73,...,0.012225,0.010804,0.017831,0.02274,0.002145,0.007804,0.005944,0.024301,0.023909,0.030073
2020-11-12,0.009143,0.023767,NaN,0.006826,0.013741,0.007735,0.032341,0.017444,0.008199,9.633701e-74,...,0.011812,0.006252,0.022940,0.03425,0.001073,0.007772,0.016908,0.023673,0.025598,0.043554

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-10      0.009482  0.008605  0.005627  0.011586  0.015770  0.001171
2020-11-11      0.009681  0.008454  0.005072  0.012650  0.012511  0.002841
2020-11-12      0.012071  0.007264  0.002985  0.008926  0.012297  0.002169

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-10      0.004946  0.007382  0.007998  0.009933  ...  0.035884
2020-11-11      0.002944  0.006356  0.004331  0.009634  ...  0.019445
2020-11-12      0.001472  0.009142  0.004155  0.007707  ...  0.030202

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-10      0.031510  0.040295  0.023139   0.075387  0.023412  0.051449
2020-11-11      0.029391  0.022433  0.020579   0.047670  0.013174  0.036311
2020-11-12      0.025758  0.043973  0.039050   0.066988  0.026587  0.047661

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-10           -1.0  0.025279  0.041543
2020-11-11           -1.0  0.017715  0.023887
2020-11-12           -1.0  0.018908  0.008847

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-10,0.007014,0.047685,NaN,0.003272,0.005654,0.002319,0.006566,0.002570,0.002894,NaN,...,0.011260,0.004482,0.011276,0.001078,0.000541,0.002663,0.006924,0.030901,0.008299,0.063464
2020-11-11,0.016488,0.045582,NaN,0.004543,0.006141,0.002322,0.006579,0.002241,0.002832,NaN,...,0.017749,0.005654,0.010102,0.000539,0.000271,0.003344,0.003462,0.021861,0.005680,0.031732
2020-11-12,0.010118,0.022791,NaN,0.003235,0.007304,0.001907,0.008406,0.002181,0.006941,NaN,...,0.012464,0.002955,0.011688,0.000269,0.000135,0.003944,0.006767,0.012739,0.002840,0.015866

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2020-11-10     -0.001008  0.008948  1.663076e-11  0.035419  0.001250
2020-11-11      0.032829  0.004474  8.315380e-12  0.017709  0.154471
2020-11-12      0.016415  0.002237  4.157690e-12  0.008855  0.077236

Province_State                                                        ...  \
Admin2           Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2020-11-10      0.029412  7.629395e-07  0.008197  0.000168  0.000017  ...
2020-11-11      0.042484  3.814697e-07  0.070275  0.000084  0.000009  ...
2020-11-12      0.021242  1.907349e-07  0.035137  0.000042  0.000004  ...

Province_State       Wyoming                                          \
Admin2                  Park    Platte  Sheridan Sublette Sweetwater
2020-11-10      1.192093e-07  0.004573  0.042936      0.0   0.007812
2020-11-11      5.960464e-08  0.002286  0.021468      0.0   0.003906
2020-11-12      2.980232e-08  0.001143  0.010734      0.0   0.001953

Province_State
Admin2             Teton     Uinta Unassigned      Washakie    Weston
2020-11-10      0.003906  0.041668  -0.972376  3.104409e-10 -0.533333
2020-11-11      0.001953  0.020834  -0.972376  1.552204e-10 -0.533333
2020-11-12      0.000977  0.010417  -0.972376  7.761021e-11 -0.533333

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201112,AK,21812,NaN,822854,NaN,totalTestsViral,844666,113.0,NaN,...,844666,0,0,2c772acf835fff91e738a3f76f364ac71c87ccdb,0,0,0,0,0,NaN
1,20201112,AL,210637,32624.0,1245235,NaN,totalTestsViral,1421590,1233.0,22190.0,...,1455872,12,304,07bd1e646198a90027ff4e8ec58d054a2374af19,0,0,0,0,0,NaN
2,20201112,AR,128006,12778.0,1354919,NaN,totalTestsViral,1470147,805.0,7715.0,...,1482925,18,80,7955ae5cf9f692fd7fa06efd2bcb4470d081308c,0,0,0,0,0,NaN
3,20201112,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,...,1768,0,0,13c5e0294f2a73b277f7fb3505ed1f09d891bcf9,0,0,0,0,0,NaN
4,20201112,AZ,266562,7034.0,1663978,NaN,totalTestsPeopleViral,1923506,1368.0,22576.0,...,1930540,12,82,9a48dc11d21bdf86e58fd3fdb82feb484100eefe,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201112,AK,21812.0,NaN,822854.0,NaN,totalTestsViral,844666.0,113.0,NaN,...,844666,0,0,2c772acf835fff91e738a3f76f364ac71c87ccdb,0,0,0,0,0,NaN
1,20201112,AL,210637.0,32624.0,1245235.0,NaN,totalTestsViral,1421590.0,1233.0,22190.0,...,1455872,12,304,07bd1e646198a90027ff4e8ec58d054a2374af19,0,0,0,0,0,NaN
2,20201112,AR,128006.0,12778.0,1354919.0,NaN,totalTestsViral,1470147.0,805.0,7715.0,...,1482925,18,80,7955ae5cf9f692fd7fa06efd2bcb4470d081308c,0,0,0,0,0,NaN
3,20201112,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,...,1768,0,0,13c5e0294f2a73b277f7fb3505ed1f09d891bcf9,0,0,0,0,0,NaN
4,20201112,AZ,266562.0,7034.0,1663978.0,NaN,totalTestsPeopleViral,1923506.0,1368.0,22576.0,...,1930540,12,82,9a48dc11d21bdf86e58fd3fdb82feb484100eefe,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-12,AK,21812,NaN,822854,NaN,totalTestsViral,844666,113.0,NaN,NaN,...,844666,0,0,2c772acf835fff91e738a3f76f364ac71c87ccdb,0,0,0,0,0,NaN
2020-11-12,AL,210637,32624.0,1245235,NaN,totalTestsViral,1421590,1233.0,22190.0,NaN,...,1455872,12,304,07bd1e646198a90027ff4e8ec58d054a2374af19,0,0,0,0,0,NaN
2020-11-12,AR,128006,12778.0,1354919,NaN,totalTestsViral,1470147,805.0,7715.0,295.0,...,1482925,18,80,7955ae5cf9f692fd7fa06efd2bcb4470d081308c,0,0,0,0,0,NaN
2020-11-12,AS,0,NaN,1768,NaN,totalTestsViral,1768,NaN,NaN,NaN,...,1768,0,0,13c5e0294f2a73b277f7fb3505ed1f09d891bcf9,0,0,0,0,0,NaN
2020-11-12,AZ,266562,7034.0,1663978,NaN,totalTestsPeopleViral,1923506,1368.0,22576.0,331.0,...,1930540,12,82,9a48dc11d21bdf86e58fd3fdb82feb484100eefe,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-12,AK,21812.0,NaN,822854.0,NaN,totalTestsViral,844666.0,113.0,NaN,NaN,...,844666,0,0,2c772acf835fff91e738a3f76f364ac71c87ccdb,0,0,0,0,0,NaN
2020-11-12,AL,210637.0,32624.0,1245235.0,NaN,totalTestsViral,1421590.0,1233.0,22190.0,NaN,...,1455872,12,304,07bd1e646198a90027ff4e8ec58d054a2374af19,0,0,0,0,0,NaN
2020-11-12,AR,128006.0,12778.0,1354919.0,NaN,totalTestsViral,1470147.0,805.0,7715.0,295.0,...,1482925,18,80,7955ae5cf9f692fd7fa06efd2bcb4470d081308c,0,0,0,0,0,NaN
2020-11-12,AS,0.0,NaN,1768.0,NaN,totalTestsViral,1768.0,NaN,NaN,NaN,...,1768,0,0,13c5e0294f2a73b277f7fb3505ed1f09d891bcf9,0,0,0,0,0,NaN
2020-11-12,AZ,266562.0,7034.0,1663978.0,NaN,totalTestsPeopleViral,1923506.0,1368.0,22576.0,331.0,...,1930540,12,82,9a48dc11d21bdf86e58fd3fdb82feb484100eefe,0,0,0,0,0,NaN