# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-17-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-16-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-17 05:23:10,33.93911,67.709953,55518,2428,48514,4576.0,Afghanistan,142.615890,4.373356
1,NaN,NaN,NaN,Albania,2021-02-17 05:23:10,41.15330,20.168300,94651,1582,58794,34275.0,Albania,3289.005490,1.671403
2,NaN,NaN,NaN,Algeria,2021-02-17 05:23:10,28.03390,1.659600,111069,2945,76330,31794.0,Algeria,253.287020,2.651505
3,NaN,NaN,NaN,Andorra,2021-02-17 05:23:10,42.50630,1.521800,10555,107,10022,426.0,Andorra,13660.777842,1.013738
4,NaN,NaN,NaN,Angola,2021-02-17 05:23:10,-11.20270,17.873900,20389,494,18929,966.0,Angola,62.036249,2.422875

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55335,55359,55384,55402,55420,55445,55473,55492,55514,55518
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,85336,86289,87528,88671,89776,90835,91987,93075,93850,94651
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,109088,109313,109559,109782,110049,110303,110513,110711,110894,111069

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2410,2413,2414,2418,2419,2424,2427,2427,2427,2428
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1460,1472,1488,1503,1517,1531,1543,1555,1567,1582
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2914,2918,2924,2926,2930,2932,2935,2939,2943,2945

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48041,48042,48109,48133,48279,48390,48392,48395,48433,48514
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,51444,52128,52933,53616,54362,55243,55983,56764,57736,58794
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,74692,74871,75057,75243,75436,75628,75816,75999,76168,76330

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5869,5881,5910,5930,5970,5984,6002,6023,6024,6038
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,18723,18763,18824,18888,18960,18994,19051,19105,19136,19176
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2008,2008,2019,2024,2030,2036,2040,2042,2044,2055

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,77,77,77,79,81,84,84,84,84,84
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,227,227,228,239,240,251,252,252,252,253
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,45,45,45,46,46,48,48,48,48,48

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
651,1001.0,Autauga,Alabama,US,2021-02-17 05:23:10,32.539527,-86.644082,6038,84,0,5954.0,"Autauga, Alabama, US",10807.424511,1.391189
688,1075.0,Lamar,Alabama,US,2021-02-17 05:23:10,33.779950,-88.096680,1283,32,0,1251.0,"Lamar, Alabama, US",9293.734154,2.494154
689,1077.0,Lauderdale,Alabama,US,2021-02-17 05:23:10,34.901719,-87.656247,8479,201,0,8278.0,"Lauderdale, Alabama, US",9143.849281,2.370563

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               27756624  488081          0
India            10937320  155913   10644858
Brazil            9921981  240940    8847264

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,27756624,488081,0,27268543,2021-02-17 05:23:10,37.936303,-91.379001
India,10937320,155913,10644858,136549,2021-02-17 05:23:10,23.088275,81.806127
Brazil,9921981,240940,8847264,833777,2021-02-17 05:23:10,-12.669522,-48.480493
United Kingdom,4070332,118421,11022,3940889,2021-02-17 05:23:10,30.744028,-35.367255
Russia,4053535,79659,3584477,389399,2021-02-17 05:23:10,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3499871   47510          0
Texas             2570958   41386          0
Florida           1837285   29154          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3499871,47510,0,3452361,2021-02-17 05:23:10,37.843962,-120.728594
Texas,2570958,41386,0,2529572,2021-02-17 05:23:10,31.660643,-98.653069
Florida,1837285,29154,0,1808131,2021-02-17 05:23:10,28.940755,-82.700744
New York,1553117,46141,0,1506976,2021-02-17 05:23:10,42.544151,-75.474183
Illinois,1164922,22199,0,1142723,2021-02-17 05:23:10,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1169688   19216          0
Arizona        Maricopa        499865    8505          0
Illinois       Cook            466870    9183          0
Florida        Miami-Dade      395828    5207          0
Texas          Harris          338284    4760          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1169688,19216,0,1150472,2021-02-17 05:23:10,34.308284,-118.228241,6037.0
Arizona,Maricopa,499865,8505,0,491360,2021-02-17 05:23:10,33.348359,-112.491815,4013.0
Illinois,Cook,466870,9183,0,457687,2021-02-17 05:23:10,41.841448,-87.816588,17031.0
Florida,Miami-Dade,395828,5207,0,390621,2021-02-17 05:23:10,25.611236,-80.551706,12086.0
Texas,Harris,338284,4760,0,333524,2021-02-17 05:23:10,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,55492,93075,110711,10503,20366,427,2025798,169167,28900,433487,...,4049920,48909,79416,1,133218,2228,167604,2145,69437,35172
2021-02-15,55514,93850,110894,10538,20381,443,2029057,169255,28905,434712,...,4059696,49360,79442,1,133577,2269,168444,2145,70248,35222
2021-02-16,55518,94651,111069,10555,20389,443,2033060,169391,28911,436139,...,4070332,49725,79461,1,133927,2311,169487,2148,70823,35315

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,2427,1555,2939,107,492,9,50236,3141,909,8211,...,117387,535,622,0,1279,35,1933,617,951,1400
2021-02-15,2427,1567,2943,107,493,9,50327,3147,909,8221,...,117622,541,622,0,1285,35,1936,617,959,1410
2021-02-16,2428,1582,2945,107,494,9,50432,3150,909,8260,...,118421,546,622,0,1292,35,1942,618,974,1414

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,48395,56764,75999,9911,18795,199,1827118,161015,26126,411199,...,10914,42889,77928,1,125179,1532,156472,1430,62870,30601
2021-02-15,48433,57736,76168,9965,18884,205,1833442,161105,26128,412457,...,10959,43486,77928,1,125565,1541,157205,1430,63262,30759
2021-02-16,48514,58794,76330,10022,18929,205,1838291,161348,26133,413908,...,11022,44060,77969,1,125924,1573,157982,1431,63609,30979

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5869,5881,5910,5930,5970,5984,6002,6023,6024,6038
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1269,1272,1275,1275,1275,1275,1277,1281,1281,1283
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8366,8380,8399,8411,8432,8442,8460,8471,8476,8479
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2723,2729,2734,2746,2755,2762,2771,2777,2780,2781
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,14337,14361,14391,14443,14491,14524,14563,14608,14622,14641

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-14,480931,56405,0,797270,313028,3485841,413836,267337,83003,49,...,757418,2565258,361294,13677,2524,549999,328047,127588,607213,53136
2021-02-15,481605,56405,0,798608,313348,3491392,414369,270242,83239,49,...,758561,2568044,361756,13862,2542,551538,328047,127889,607639,53136
2021-02-16,482488,56905,0,799740,313525,3499871,415037,270822,83369,49,...,759523,2570958,362347,13917,2542,553308,329746,128117,608418,53351

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-14        6023   19105    2042  2395   5961    1142   1902   12700
2021-02-15        6024   19136    2044  2397   5973    1142   1905   12725
2021-02-16        6038   19176    2055  2400   5987    1145   1910   12756

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-14         3321     1744  ...    2568    564     2968      668
2021-02-15         3325     1745  ...    2568    564     2968      668
2021-02-16         3336     1750  ...    2581    567     2978      669

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-14           3595  3278  1994          0      873    617
2021-02-15           3595  3278  1994          0      873    617
2021-02-16           3609  3297  2007          0      874    617

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-14,9242,282,0,14978,5265,47057,5824,7381,1283,0,...,10933,41273,1794,189,25,7012,4675,2210,6745,647
2021-02-15,9244,282,0,14978,5275,47119,5826,7447,1283,0,...,10937,41336,1796,190,25,7016,4675,2212,6749,647
2021-02-16,9257,287,0,14981,5287,47510,5828,7449,1291,0,...,10954,41386,1797,191,25,7037,4709,2216,6788,662

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-14          84     252      48   57    121      32     64     263
2021-02-15          84     252      48   57    121      32     64     263
2021-02-16          84     253      48   57    121      32     64     263

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-14           94       37  ...      25     11       23        7
2021-02-15           94       37  ...      25     11       23        7
2021-02-16           94       37  ...      26     11       27        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-14             34     8    12          0       26      5
2021-02-15             34     8    12          0       26      5
2021-02-16             34     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,0.000343,0.011828,0.001792,0.003823,0.001820,0.000000,0.002100,0.000858,0.000069,0.002739,...,0.002721,0.009286,0.000441,0.0,0.003578,0.015034,0.004820,0.004213,0.014360,0.001937
2021-02-15,0.000396,0.008327,0.001653,0.003332,0.000737,0.037471,0.001609,0.000520,0.000173,0.002826,...,0.002414,0.009221,0.000327,0.0,0.002695,0.018402,0.005012,0.000000,0.011680,0.001422
2021-02-16,0.000072,0.008535,0.001578,0.001613,0.000393,0.000000,0.001973,0.000804,0.000208,0.003283,...,0.002620,0.007395,0.000239,0.0,0.002620,0.018510,0.006192,0.001399,0.008185,0.002640

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,0.000000,0.007777,0.001363,0.0,0.002037,0.0,0.000956,0.000318,0.0,0.001952,...,0.002211,0.003752,0.0,NaN,0.004713,0.0,0.001554,0.001623,0.011702,0.001431
2021-02-15,0.000000,0.007717,0.001361,0.0,0.002033,0.0,0.001811,0.001910,0.0,0.001218,...,0.002002,0.011215,0.0,NaN,0.004691,0.0,0.001552,0.000000,0.008412,0.007143
2021-02-16,0.000412,0.009572,0.000680,0.0,0.002028,0.0,0.002086,0.000953,0.0,0.004744,...,0.006793,0.009242,0.0,NaN,0.005447,0.0,0.003099,0.001621,0.015641,0.002837

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,0.000062,0.013951,0.002414,0.004358,0.000266,0.000000,0.003379,0.000454,0.000230,0.003225,...,0.005899,0.009034,0.000488,0.0,0.003568,0.001962,0.003347,0.000000,0.004714,0.017016
2021-02-15,0.000785,0.017124,0.002224,0.005448,0.004735,0.030151,0.003461,0.000559,0.000077,0.003059,...,0.004123,0.013920,0.000000,0.0,0.003084,0.005875,0.004685,0.000000,0.006235,0.005163
2021-02-16,0.001672,0.018325,0.002127,0.005720,0.002383,0.000000,0.002645,0.001508,0.000191,0.003518,...,0.005749,0.013200,0.000526,0.0,0.002859,0.020766,0.004943,0.000699,0.005485,0.007152

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-14,0.002240,0.000000,NaN,0.002448,0.001491,0.001613,0.002065,0.000000,0.004004,0.0,...,0.001782,0.001900,0.001969,0.008554,0.000000,0.004704,0.000000,0.002404,0.000926,0.000942
2021-02-15,0.001401,0.000000,NaN,0.001678,0.001022,0.001592,0.001288,0.010866,0.002843,0.0,...,0.001509,0.001086,0.001279,0.013526,0.007132,0.002798,0.000000,0.002359,0.000702,0.000000
2021-02-16,0.001833,0.008864,NaN,0.001417,0.000565,0.002429,0.001612,0.002146,0.001562,0.0,...,0.001268,0.001135,0.001634,0.003968,0.000000,0.003209,0.005179,0.001783,0.001282,0.004046

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-14      0.003499  0.002834  0.000980  0.000836  0.000671  0.002634
2021-02-15      0.000166  0.001623  0.000979  0.000835  0.002013  0.000000
2021-02-16      0.002324  0.002090  0.005382  0.001252  0.002344  0.002627

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-14      0.002107  0.005622  0.000904  0.001148  ...  0.003125
2021-02-15      0.001577  0.001969  0.001204  0.000573  ...  0.000000
2021-02-16      0.002625  0.002436  0.003308  0.002865  ...  0.005062

Province_State                                                              \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton    Uinta
2021-02-14      0.001776  0.001687 -0.001495   0.000278  0.003367  0.00000
2021-02-15      0.000000  0.000000  0.000000   0.000000  0.000000  0.00000
2021-02-16      0.005319  0.003369  0.001497   0.003894  0.005796  0.00652

Province_State
Admin2         Unassigned  Washakie Weston
2021-02-14            NaN  0.000000    0.0
2021-02-15            NaN  0.000000    0.0
2021-02-16            NaN  0.001145    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-14,0.000000,0.00000,NaN,0.002007,0.002475,0.003904,0.001720,0.000000,0.000780,NaN,...,0.002844,0.003013,0.002235,0.000000,0.0,0.002287,0.000000,0.004089,0.000148,0.000000
2021-02-15,0.000216,0.00000,NaN,0.000000,0.001899,0.001318,0.000343,0.008942,0.000000,NaN,...,0.000366,0.001526,0.001115,0.005291,0.0,0.000570,0.000000,0.000905,0.000593,0.000000
2021-02-16,0.001406,0.01773,NaN,0.000200,0.002275,0.008298,0.000343,0.000269,0.006235,NaN,...,0.001554,0.001210,0.000557,0.005263,0.0,0.002993,0.007273,0.001808,0.005779,0.023184

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-14         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2021-02-15         0.0  0.000000     0.0  0.0    0.0     0.0    0.0     0.0
2021-02-16         0.0  0.003968     0.0  0.0    0.0     0.0    0.0     0.0

Province_State                    ... Wyoming                            \
Admin2         Chambers Cherokee  ...    Park Platte  Sheridan Sublette
2021-02-14          0.0      0.0  ...    0.00    0.0  0.000000      0.0
2021-02-15          0.0      0.0  ...    0.00    0.0  0.000000      0.0
2021-02-16          0.0      0.0  ...    0.04    0.0  0.173913      0.0

Province_State
Admin2         Sweetwater  Teton Uinta Unassigned Washakie Weston
2021-02-14            0.0  0.000   0.0        NaN      0.0    0.0
2021-02-15            0.0  0.000   0.0        NaN      0.0    0.0
2021-02-16            0.0  0.125   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,0.000399,0.012161,0.001948,0.003672,0.001837,0.02689,0.002700,0.000954,0.000142,0.003132,...,0.003090,0.010839,0.000493,0.0,0.003487,0.016057,0.004391,0.002301,0.014039,0.002219
2021-02-15,0.000398,0.010244,0.001801,0.003502,0.001287,0.03218,0.002154,0.000737,0.000158,0.002979,...,0.002752,0.010030,0.000410,0.0,0.003091,0.017230,0.004701,0.001150,0.012859,0.001820
2021-02-16,0.000235,0.009389,0.001689,0.002558,0.000840,0.01609,0.002064,0.000770,0.000183,0.003131,...,0.002686,0.008712,0.000325,0.0,0.002856,0.017870,0.005447,0.001275,0.010522,0.002230

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,0.000666,0.008206,0.001182,0.002428,0.002997,0.006141,0.002089,0.000618,9.781701e-19,0.002704,...,0.004116,0.007532,0.000101,NaN,0.004902,8.503728e-52,0.003230,0.000863,0.012690,0.004839
2021-02-15,0.000333,0.007962,0.001271,0.001214,0.002515,0.003070,0.001950,0.001264,4.890850e-19,0.001961,...,0.003059,0.009373,0.000050,NaN,0.004797,4.251864e-52,0.002391,0.000431,0.010551,0.005991
2021-02-16,0.000373,0.008767,0.000975,0.000607,0.002271,0.001535,0.002018,0.001109,2.445425e-19,0.003352,...,0.004926,0.009308,0.000025,NaN,0.005122,2.125932e-52,0.002745,0.001026,0.013096,0.004414

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-14,0.000559,0.014062,0.002466,0.004442,0.000949,0.003881,0.003678,0.000715,0.000194,0.003281,...,0.009280,0.011234,0.000780,0.0,0.003626,0.003276,0.003554,0.000177,0.012717,0.012252
2021-02-15,0.000672,0.015593,0.002345,0.004945,0.002842,0.017016,0.003569,0.000637,0.000135,0.003170,...,0.006701,0.012577,0.000390,0.0,0.003355,0.004575,0.004119,0.000088,0.009476,0.008708
2021-02-16,0.001172,0.016959,0.002236,0.005333,0.002613,0.008508,0.003107,0.001073,0.000163,0.003344,...,0.006225,0.012888,0.000458,0.0,0.003107,0.012671,0.004531,0.000394,0.007480,0.007930

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-14,0.002402,0.000743,NaN,0.002533,0.002192,0.002168,0.002806,0.000927,0.004390,4.863776e-102,...,0.002192,0.002671,0.002416,0.009454,0.001606,0.005361,0.001532,0.002893,0.001292,0.000918
2021-02-15,0.001902,0.000371,NaN,0.002106,0.001607,0.001880,0.002047,0.005897,0.003616,2.431888e-102,...,0.001850,0.001879,0.001848,0.011490,0.004369,0.004079,0.000766,0.002626,0.000997,0.000459
2021-02-16,0.001868,0.004618,NaN,0.001762,0.001086,0.002154,0.001830,0.004021,0.002589,1.215944e-102,...,0.001559,0.001507,0.001741,0.007729,0.002184,0.003644,0.002973,0.002204,0.001139,0.002253

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-14      0.003444  0.002834  0.001726  0.002139  0.000754  0.002195
2021-02-15      0.001805  0.002228  0.001353  0.001487  0.001383  0.001097
2021-02-16      0.002065  0.002159  0.003367  0.001369  0.001864  0.001862

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-14      0.002612  0.004589  0.001579  0.001183  ...  0.001919
2021-02-15      0.002095  0.003279  0.001392  0.000878  ...  0.000960
2021-02-16      0.002360  0.002857  0.002350  0.001872  ...  0.003011

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-14      0.001072  0.001105 -0.000584   0.000834  0.002195  0.000114
2021-02-15      0.000536  0.000553 -0.000292   0.000417  0.001098  0.000057
2021-02-16      0.002928  0.001961  0.000603   0.002156  0.003447  0.003288

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-14           -1.0  0.000252 -0.000008
2021-02-15           -1.0  0.000126 -0.000004
2021-02-16           -1.0  0.000636 -0.000002

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-14,0.006111,0.000957,NaN,0.005947,0.004134,0.006709,0.002397,0.000933,0.004542,NaN,...,0.003546,0.005235,0.003344,0.001466,0.002604,0.003015,0.002243,0.003811,0.001153,0.000582
2021-02-15,0.003164,0.000478,NaN,0.002974,0.003016,0.004013,0.001370,0.004938,0.002271,NaN,...,0.001956,0.003380,0.002229,0.003379,0.001302,0.001793,0.001122,0.002358,0.000873,0.000291
2021-02-16,0.002285,0.009104,NaN,0.001587,0.002646,0.006156,0.000857,0.002603,0.004253,NaN,...,0.001755,0.002295,0.001393,0.004321,0.000651,0.002393,0.004197,0.002083,0.003326,0.011737

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-14      0.007102  0.008522  0.006220  0.007572  0.006423  0.004171
2021-02-15      0.003551  0.004261  0.003110  0.003786  0.003211  0.002086
2021-02-16      0.001775  0.004115  0.001555  0.001893  0.001606  0.001043

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-14      0.001024  0.004751  0.007279  0.000438  ...  0.001377
2021-02-15      0.000512  0.002375  0.003639  0.000219  ...  0.000689
2021-02-16      0.000256  0.001188  0.001820  0.000109  ...  0.020344

Province_State                                                             \
Admin2                Platte  Sheridan      Sublette Sweetwater     Teton
2021-02-14      9.619533e-08  0.000730  7.863340e-14   0.000477  0.001013
2021-02-15      4.809767e-08  0.000365  3.931670e-14   0.000239  0.000506
2021-02-16      2.404883e-08  0.087139  1.965835e-14   0.000119  0.062753

Province_State
Admin2                 Uinta Unassigned  Washakie    Weston
2021-02-14      1.275631e-08  -0.501961  0.000005  0.000104
2021-02-15      6.378154e-09  -0.501961  0.000002  0.000052
2021-02-16      3.189077e-09  -0.501961  0.000001  0.000026

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210217,AK,54799,NaN,NaN,NaN,totalTestsViral,1611971,32.0,1238.0,...,NaN,1,5,c002b868e44913a74a70528d3fa75e7e3e5b4191,0,0,0,0,0,NaN
1,20210217,AL,483167,104382.0,1859516.0,NaN,totalTestsPeopleViral,2238301,1030.0,44541.0,...,NaN,89,0,3d4a8eef551e9cf3e5ab585388add5a45719e97b,0,0,0,0,0,NaN
2,20210217,AR,314192,65337.0,2344576.0,NaN,totalTestsViral,2593431,638.0,14392.0,...,NaN,26,0,1de895ab8fa94a2d14163418fea02180332cea5f,0,0,0,0,0,NaN
3,20210217,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,2857f0702fbfc1243e77e13a044b5830f3bea397,0,0,0,0,0,NaN
4,20210217,AZ,801055,53685.0,2901236.0,NaN,totalTestsViral,7281277,1941.0,55983.0,...,NaN,82,118,7f4d3ca6991968ec0fb4227de7d9ced82b0d1ccf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210217,AK,54799.0,NaN,NaN,NaN,totalTestsViral,1611971.0,32.0,1238.0,...,NaN,1,5,c002b868e44913a74a70528d3fa75e7e3e5b4191,0,0,0,0,0,NaN
1,20210217,AL,483167.0,104382.0,1859516.0,NaN,totalTestsPeopleViral,2238301.0,1030.0,44541.0,...,NaN,89,0,3d4a8eef551e9cf3e5ab585388add5a45719e97b,0,0,0,0,0,NaN
2,20210217,AR,314192.0,65337.0,2344576.0,NaN,totalTestsViral,2593431.0,638.0,14392.0,...,NaN,26,0,1de895ab8fa94a2d14163418fea02180332cea5f,0,0,0,0,0,NaN
3,20210217,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,2857f0702fbfc1243e77e13a044b5830f3bea397,0,0,0,0,0,NaN
4,20210217,AZ,801055.0,53685.0,2901236.0,NaN,totalTestsViral,7281277.0,1941.0,55983.0,...,NaN,82,118,7f4d3ca6991968ec0fb4227de7d9ced82b0d1ccf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-17,AK,54799,NaN,NaN,NaN,totalTestsViral,1611971,32.0,1238.0,NaN,...,NaN,1,5,c002b868e44913a74a70528d3fa75e7e3e5b4191,0,0,0,0,0,NaN
2021-02-17,AL,483167,104382.0,1859516.0,NaN,totalTestsPeopleViral,2238301,1030.0,44541.0,NaN,...,NaN,89,0,3d4a8eef551e9cf3e5ab585388add5a45719e97b,0,0,0,0,0,NaN
2021-02-17,AR,314192,65337.0,2344576.0,NaN,totalTestsViral,2593431,638.0,14392.0,250.0,...,NaN,26,0,1de895ab8fa94a2d14163418fea02180332cea5f,0,0,0,0,0,NaN
2021-02-17,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,2857f0702fbfc1243e77e13a044b5830f3bea397,0,0,0,0,0,NaN
2021-02-17,AZ,801055,53685.0,2901236.0,NaN,totalTestsViral,7281277,1941.0,55983.0,593.0,...,NaN,82,118,7f4d3ca6991968ec0fb4227de7d9ced82b0d1ccf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-17,AK,54799.0,NaN,NaN,NaN,totalTestsViral,1611971.0,32.0,1238.0,NaN,...,NaN,1,5,c002b868e44913a74a70528d3fa75e7e3e5b4191,0,0,0,0,0,NaN
2021-02-17,AL,483167.0,104382.0,1859516.0,NaN,totalTestsPeopleViral,2238301.0,1030.0,44541.0,NaN,...,NaN,89,0,3d4a8eef551e9cf3e5ab585388add5a45719e97b,0,0,0,0,0,NaN
2021-02-17,AR,314192.0,65337.0,2344576.0,NaN,totalTestsViral,2593431.0,638.0,14392.0,250.0,...,NaN,26,0,1de895ab8fa94a2d14163418fea02180332cea5f,0,0,0,0,0,NaN
2021-02-17,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,2857f0702fbfc1243e77e13a044b5830f3bea397,0,0,0,0,0,NaN
2021-02-17,AZ,801055.0,53685.0,2901236.0,NaN,totalTestsViral,7281277.0,1941.0,55983.0,593.0,...,NaN,82,118,7f4d3ca6991968ec0fb4227de7d9ced82b0d1ccf,0,0,0,0,0,NaN