# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'12-20-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'12-20-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-21 05:27:58,33.93911,67.709953,49817,2067,39006,8744.0,Afghanistan,127.971033,4.149186
1,NaN,NaN,NaN,Albania,2020-12-21 05:27:58,41.15330,20.168300,53003,1088,28121,23794.0,Albania,1841.788866,2.052714
2,NaN,NaN,NaN,Algeria,2020-12-21 05:27:58,28.03390,1.659600,95203,2666,63260,29277.0,Algeria,217.105440,2.800332
3,NaN,NaN,NaN,Andorra,2020-12-21 05:27:58,42.50630,1.521800,7577,81,6997,499.0,Andorra,9806.510063,1.069025
4,NaN,NaN,NaN,Angola,2020-12-21 05:27:58,-11.20270,17.873900,16644,387,9592,6665.0,Angola,50.641588,2.325162

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48116,48229,48527,48718,48952,49161,49378,49621,49681,49817
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,46863,47742,48530,49191,50000,50637,51424,52004,52542,53003
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,91121,91638,92102,92597,93065,93507,93933,94371,94781,95203

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1945,1956,1965,1969,1995,2011,2025,2030,2047,2067
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,977,989,1003,1016,1028,1040,1055,1066,1074,1088
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2575,2584,2596,2609,2623,2631,2640,2647,2659,2666

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38141,38200,38250,38252,38336,38475,38505,38540,38613,39006
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,24136,24520,24820,24820,25876,26381,26898,27426,27831,28121
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,59590,60028,60457,60888,61307,61700,62089,62487,62869,63260

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3233,3258,3300,3329,3426,3510,3570,3647,3698,3741
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,10489,10665,10806,10898,11061,11212,11364,11556,11722,11827
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1264,1269,1272,1275,1292,1296,1309,1318,1330,1336

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,42,41,41,41,43,43,43,44,44,44
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,141,141,141,141,141,145,145,146,147,147
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,30,30,30,30,30,30,30,30,32,32

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2020-12-21 05:27:58,32.539527,-86.644082,3741,44,0,3697.0,"Autauga, Alabama, US",6696.021049,1.176156
686,1075.0,Lamar,Alabama,US,2020-12-21 05:27:58,33.779950,-88.096680,946,12,0,934.0,"Lamar, Alabama, US",6852.589641,1.268499
687,1077.0,Lauderdale,Alabama,US,2020-12-21 05:27:58,34.901719,-87.656247,5582,64,0,5518.0,"Lauderdale, Alabama, US",6019.691790,1.146542

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               17844690  317668          0
India            10055560  145810    9606111
Brazil            7238600  186764    6408517

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,17844690,317668,0,17527022,2020-12-21 05:27:58,37.936303,-91.379001
India,10055560,145810,9606111,303639,2020-12-21 05:27:58,23.088275,81.806127
Brazil,7238600,186764,6408517,643319,2020-12-21 05:27:58,-12.669522,-48.480493
Russia,2821125,50242,2253826,517057,2020-12-21 05:27:58,54.546312,62.120860
France,2529756,60665,189638,2279453,2020-12-21 05:27:58,8.314863,-21.695174

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        1884033   22675          0
Texas             1593471   25827          0
Florida           1201566   20568          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,1884033,22675,0,1861358,2020-12-21 05:27:58,37.843962,-120.728594
Texas,1593471,25827,0,1567644,2020-12-21 05:27:58,31.660643,-98.653069
Florida,1201566,20568,0,1180998,2020-12-21 05:27:58,28.940755,-82.700744
Illinois,900370,16407,0,883963,2020-12-21 05:27:58,39.843618,-89.178330
New York,848042,36431,0,811611,2020-12-21 05:27:58,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     623670    8875          0
Illinois       Cook            371088    7724          0
Arizona        Maricopa        279885    4684          0
Florida        Miami-Dade      274117    4066          0
Texas          Harris          219265    3242          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,623670,8875,0,614795,2020-12-21 05:27:58,34.308284,-118.228241,6037.0
Illinois,Cook,371088,7724,0,363364,2020-12-21 05:27:58,41.841448,-87.816588,17031.0
Arizona,Maricopa,279885,4684,0,275201,2020-12-21 05:27:58,33.348359,-112.491815,4013.0
Florida,Miami-Dade,274117,4066,0,270051,2020-12-21 05:27:58,25.611236,-80.551706,12086.0
Texas,Harris,219265,3242,0,216023,2020-12-21 05:27:58,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,49621,52004,94371,7519,16562,152,1531374,152253,28126,334913,...,1982828,11950,75675,1,109395,1410,119612,2087,18575,12047
2020-12-19,49681,52542,94781,7560,16626,152,1537169,153173,28168,337209,...,2010077,12557,75806,1,109781,1411,121216,2087,18620,12151
2020-12-20,49817,53003,95203,7577,16644,153,1541285,153825,28198,338854,...,2046161,13048,75933,1,110075,1413,122643,2087,18716,12325

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,2030,1066,2647,80,384,5,41672,2596,908,5127,...,66640,109,612,0,979,35,1097,606,373,316
2020-12-19,2047,1074,2659,80,386,5,41763,2616,908,5209,...,67177,114,612,0,984,35,1117,606,373,318
2020-12-20,2067,1088,2666,81,387,5,41813,2630,908,5351,...,67503,119,612,0,988,35,1141,606,373,320

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,38540,27426,62487,6919,9345,141,1356755,131213,25700,297424,...,4264,7699,72961,1,103975,1266,94556,1384,17729,9894
2020-12-19,38613,27831,62869,6963,9518,141,1362617,131931,25704,300611,...,4354,8002,73099,1,104208,1269,96461,1384,17756,9984
2020-12-20,39006,28121,63260,6997,9592,143,1368346,132532,25709,303213,...,4375,8327,73242,1,104462,1269,97979,1384,17762,10024

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,3233,3258,3300,3329,3426,3510,3570,3647,3698,3741
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,830,841,855,858,870,889,912,925,941,946
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,4970,5005,5078,5125,5200,5243,5346,5428,5531,5582
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1541,1569,1585,1596,1617,1635,1672,1708,1739,1757
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,8595,8675,8744,8788,8857,8966,9055,9188,9283,9337

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-18,315683,43352,0,442671,197421,1802195,304107,162782,49109,49,...,503651,1569032,246562,6243,1900,299388,220268,69751,486364,41359
2020-12-19,319904,43688,0,448231,200114,1842557,306598,162782,50136,49,...,503651,1584207,248970,6343,1910,302972,222600,71215,490679,41488
2020-12-20,322452,43871,0,453597,201650,1884033,308890,162782,50616,49,...,519687,1593471,250964,6443,1921,306848,222600,72342,492724,41662

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-12-18        3647   11556    1318  1577   4118     747   1384    8459
2020-12-19        3698   11722    1330  1601   4191     752   1393    8594
2020-12-20        3741   11827    1336  1613   4218     753   1399    8648

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-18         2090     1265  ...    1762    406     2390      562
2020-12-19         2116     1278  ...    1771    407     2394      563
2020-12-20         2125     1287  ...    1784    410     2401      565

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-18           2696  1990  1399          0      690    443
2020-12-19           2702  1992  1406          0      695    443
2020-12-20           2718  2002  1416          0      699    446

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-18,4296,183,0,7819,3139,22370,4259,5581,854,0,...,5960,25522,1140,107,23,4598,3104,1091,4632,351
2020-12-19,4389,184,0,7937,3191,22582,4339,5581,858,0,...,5960,25714,1148,108,23,4643,3104,1122,4722,351
2020-12-20,4389,184,0,7971,3237,22675,4368,5581,862,0,...,6071,25827,1155,111,23,4650,3104,1128,4743,351

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-12-18          44     146      30   42     52      20     45     137
2020-12-19          44     147      32   42     54      20     45     140
2020-12-20          44     147      32   42     54      20     45     140

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-12-18           58       23  ...       7      8       15        5
2020-12-19           60       23  ...       7      8       15        5
2020-12-20           60       23  ...       7      8       15        5

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-18             15     2     7          0       11      2
2020-12-19             15     2     7          0       11      2
2020-12-20             15     2     7          0       11      2

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,0.004921,0.011279,0.004663,0.007099,0.004732,0.006623,0.004593,0.005687,0.001175,0.006264,...,0.014614,0.044946,0.001814,0.0,0.002879,0.002132,0.015770,0.0,0.003837,0.015254
2020-12-19,0.001209,0.010345,0.004345,0.005453,0.003864,0.000000,0.003784,0.006043,0.001493,0.006856,...,0.013742,0.050795,0.001731,0.0,0.003528,0.000709,0.013410,0.0,0.002423,0.008633
2020-12-20,0.002737,0.008774,0.004452,0.002249,0.001083,0.006579,0.002678,0.004257,0.001065,0.004878,...,0.017952,0.039102,0.001675,0.0,0.002678,0.001417,0.011772,0.0,0.005156,0.014320

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,0.002469,0.010427,0.002652,0.012658,0.005236,0.0,0.003323,0.005812,0.0,0.029105,...,0.007407,0.038095,0.0,NaN,0.004103,0.0,0.017625,0.0,0.01084,0.006369
2020-12-19,0.008374,0.007505,0.004533,0.000000,0.005208,0.0,0.002184,0.007704,0.0,0.015994,...,0.008058,0.045872,0.0,NaN,0.005107,0.0,0.018232,0.0,0.00000,0.006329
2020-12-20,0.009770,0.013035,0.002633,0.012500,0.002591,0.0,0.001197,0.005352,0.0,0.027261,...,0.004853,0.043860,0.0,NaN,0.004065,0.0,0.021486,0.0,0.00000,0.006289

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,0.000909,0.019630,0.006410,0.006400,0.008526,0.000000,0.003104,0.009408,0.000039,0.010564,...,0.034198,0.039563,0.002074,0.0,0.002256,0.002375,0.016961,0.0,0.002771,0.005897
2020-12-19,0.001894,0.014767,0.006113,0.006359,0.018513,0.000000,0.004321,0.005472,0.000156,0.010715,...,0.021107,0.039356,0.001891,0.0,0.002241,0.002370,0.020147,0.0,0.001523,0.009096
2020-12-20,0.010178,0.010420,0.006219,0.004883,0.007775,0.014184,0.004204,0.004555,0.000195,0.008656,...,0.004823,0.040615,0.001956,0.0,0.002437,0.000000,0.015737,0.0,0.000338,0.004006

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-18,0.017233,0.011574,NaN,0.017550,0.014794,0.027492,0.012293,0.016739,0.006992,0.0,...,0.021128,0.011138,0.010840,0.015287,0.011715,0.011128,0.014102,0.018486,0.008127,0.018870
2020-12-19,0.013371,0.007751,NaN,0.012560,0.013641,0.022396,0.008191,0.000000,0.020913,0.0,...,0.000000,0.009672,0.009766,0.016018,0.005263,0.011971,0.010587,0.020989,0.008872,0.003119
2020-12-20,0.007965,0.004189,NaN,0.011972,0.007676,0.022510,0.007476,0.000000,0.009574,0.0,...,0.031840,0.005848,0.008009,0.015765,0.005759,0.012793,0.000000,0.015825,0.004168,0.004194

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-18      0.021569  0.016895  0.006875  0.018734  0.020317  0.006739
2020-12-19      0.013984  0.014365  0.009105  0.015219  0.017727  0.006693
2020-12-20      0.011628  0.008958  0.004511  0.007495  0.006442  0.001330

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-18      0.011696  0.020386  0.006744  0.019339  ...  0.023229
2020-12-19      0.006503  0.015959  0.012440  0.010277  ...  0.005108
2020-12-20      0.004307  0.006283  0.004253  0.007042  ...  0.007340

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-18      0.020101  0.005469  0.014440   0.017743  0.008105  0.019679
2020-12-19      0.002463  0.001674  0.001779   0.002226  0.001005  0.005004
2020-12-20      0.007371  0.002924  0.003552   0.005922  0.005020  0.007112

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-18            NaN  0.037594  0.011416
2020-12-19            NaN  0.007246  0.000000
2020-12-20            NaN  0.005755  0.006772

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-18,0.009873,0.000000,NaN,0.018497,0.008676,0.012492,0.007809,0.005223,0.010651,NaN,...,0.019675,0.013703,0.012433,0.019048,0.0,0.009884,-0.004171,0.018674,0.015567,0.0
2020-12-19,0.021648,0.005464,NaN,0.015091,0.016566,0.009477,0.018784,0.000000,0.004684,NaN,...,0.000000,0.007523,0.007018,0.009346,0.0,0.009787,0.000000,0.028414,0.019430,0.0
2020-12-20,0.000000,0.000000,NaN,0.004284,0.014416,0.004118,0.006684,0.000000,0.004662,NaN,...,0.018624,0.004394,0.006098,0.027778,0.0,0.001508,0.000000,0.005348,0.004447,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga   Baldwin   Barbour Bibb    Blount Bullock    Butler
2020-12-18      0.023256  0.006897  0.000000  0.0  0.000000     0.0  0.022727
2020-12-19      0.000000  0.006849  0.066667  0.0  0.038462     0.0  0.000000
2020-12-20      0.000000  0.000000  0.000000  0.0  0.000000     0.0  0.000000

Province_State                                ... Wyoming                  \
Admin2           Calhoun  Chambers  Cherokee  ...    Park Platte Sheridan
2020-12-18      0.007353  0.000000 -0.041667  ...     0.0    0.0      0.0
2020-12-19      0.021898  0.034483  0.000000  ...     0.0    0.0      0.0
2020-12-20      0.000000  0.000000  0.000000  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-12-18          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2020-12-19          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2020-12-20          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,0.004656,0.013115,0.004721,0.005699,0.004513,0.005928,0.004565,0.006195,0.000875,0.007065,...,0.014908,0.045616,0.001634,0.0,0.003008,0.001742,0.017120,0.000238,0.003301,0.013929
2020-12-19,0.002933,0.011730,0.004533,0.005576,0.004189,0.002964,0.004175,0.006119,0.001184,0.006960,...,0.014325,0.048205,0.001683,0.0,0.003268,0.001226,0.015265,0.000119,0.002862,0.011281
2020-12-20,0.002835,0.010252,0.004492,0.003912,0.002636,0.004772,0.003426,0.005188,0.001125,0.005919,...,0.016138,0.043654,0.001679,0.0,0.002973,0.001322,0.013519,0.000060,0.004009,0.012800

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,0.005032,0.011848,0.003189,0.006530,0.007332,0.003906,0.003715,0.007840,1.051460e-09,0.031779,...,0.007668,0.034856,0.000006,NaN,0.004678,2.451033e-34,0.021874,-0.000027,0.006005,0.005667
2020-12-19,0.006703,0.009676,0.003861,0.003265,0.006270,0.001953,0.002949,0.007772,5.257301e-10,0.023886,...,0.007863,0.040364,0.000003,NaN,0.004893,1.225516e-34,0.020053,-0.000013,0.003003,0.005998
2020-12-20,0.008237,0.011356,0.003247,0.007883,0.004430,0.000977,0.002073,0.006562,2.628650e-10,0.025573,...,0.006358,0.042112,0.000002,NaN,0.004479,6.127582e-35,0.020769,-0.000007,0.001501,0.006144

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2020-12-18,0.001288,0.020303,0.006476,0.007854,0.009847,0.002749,0.003187,0.009618,0.000100,0.011073,...,0.020392,0.038569,0.001779,0.0,0.002438,0.003892,0.019695,-0.000029,0.003458,0.008631
2020-12-19,0.001591,0.017535,0.006295,0.007107,0.014180,0.001374,0.003754,0.007545,0.000128,0.010894,...,0.020749,0.038962,0.001835,0.0,0.002339,0.003131,0.019921,-0.000014,0.002491,0.008864
2020-12-20,0.005884,0.013978,0.006257,0.005995,0.010977,0.007779,0.003979,0.006050,0.000161,0.009775,...,0.012786,0.039789,0.001896,0.0,0.002388,0.001566,0.017829,-0.000007,0.001414,0.006435

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-18,0.015532,0.01111,NaN,0.015622,0.014176,0.027756,0.011866,0.016227,0.012099,1.401888e-84,...,0.020666,0.011527,0.011413,0.017204,0.013895,0.012028,0.011631,0.019998,0.007991,0.013047
2020-12-19,0.014451,0.00943,NaN,0.014091,0.013908,0.025076,0.010028,0.008113,0.016506,7.009440e-85,...,0.010333,0.010599,0.010590,0.016611,0.009579,0.012000,0.011109,0.020494,0.008432,0.008083
2020-12-20,0.011208,0.00681,NaN,0.013031,0.010792,0.023793,0.008752,0.004057,0.013040,3.504720e-85,...,0.021086,0.008223,0.009299,0.016188,0.007669,0.012396,0.005554,0.018159,0.006300,0.006139

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-12-18      0.020603  0.015221  0.007358  0.018262  0.019802  0.006277
2020-12-19      0.017294  0.014793  0.008231  0.016740  0.018764  0.006485
2020-12-20      0.014461  0.011875  0.006371  0.012118  0.012603  0.003907

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-12-18      0.011843  0.019930  0.007220  0.015928  ...  0.018720
2020-12-19      0.009173  0.017945  0.009830  0.013102  ...  0.011914
2020-12-20      0.006740  0.012114  0.007042  0.010072  ...  0.009627

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-12-18      0.012465  0.005851  0.009656   0.019825  0.008293  0.014518
2020-12-19      0.007464  0.003762  0.005718   0.011025  0.004649  0.009761
2020-12-20      0.007417  0.003343  0.004635   0.008473  0.004834  0.008437

Province_State
Admin2         Unassigned  Washakie    Weston
2020-12-18           -1.0  0.022798  0.007962
2020-12-19           -1.0  0.015022  0.003981
2020-12-20           -1.0  0.010389  0.005376

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-12-18,0.010974,0.006291,NaN,0.016741,0.011261,0.012903,0.012839,0.006395,0.010869,NaN,...,0.020516,0.011585,0.016825,0.019163,1.968605e-15,0.009459,0.008399,0.023305,0.015156,0.019238
2020-12-19,0.016311,0.005878,NaN,0.015916,0.013913,0.011190,0.015811,0.003198,0.007776,NaN,...,0.010258,0.009554,0.011921,0.014255,9.843023e-16,0.009623,0.004200,0.025860,0.017293,0.009619
2020-12-20,0.008155,0.002939,NaN,0.010100,0.014164,0.007654,0.011247,0.001599,0.006219,NaN,...,0.014441,0.006974,0.009009,0.021016,4.921512e-16,0.005565,0.002100,0.015604,0.010870,0.004809

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                          \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount
2020-12-18      0.014491  0.007007  0.000029  0.008118  0.015234
2020-12-19      0.007245  0.006928  0.033348  0.004059  0.026848
2020-12-20      0.003623  0.003464  0.016674  0.002030  0.013424

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2020-12-18      1.606189e-06  0.011550  0.010853  0.004690 -0.020833  ...
2020-12-19      8.030943e-07  0.005775  0.016375  0.019587 -0.010417  ...
2020-12-20      4.015472e-07  0.002887  0.008188  0.009793 -0.005208  ...

Province_State   Wyoming                                               \
Admin2              Park        Platte  Sheridan  Sublette Sweetwater
2020-12-18      0.000041  5.578784e-07  0.038567  0.001439   0.004977
2020-12-19      0.000020  2.789392e-07  0.019283  0.000720   0.002488
2020-12-20      0.000010  1.394696e-07  0.009642  0.000360   0.001244

Province_State
Admin2                 Teton     Uinta Unassigned  Washakie        Weston
2020-12-18      1.421085e-14  0.000215  -0.501961  0.000159  3.814697e-06
2020-12-19      7.105427e-15  0.000108  -0.501961  0.000079  1.907348e-06
2020-12-20      3.552714e-15  0.000054  -0.501961  0.000040  9.536742e-07

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201220,AK,42413,NaN,1154093,NaN,totalTestsViral,1196506,127.0,935.0,...,1196506,0,0,917c7ec3b76448ce380bc3f82f5cf0c4a1bb29dc,0,0,0,0,0,NaN
1,20201220,AL,322452,59854.0,1521292,NaN,totalTestsPeopleViral,1783890,2337.0,30224.0,...,1843744,0,0,1de3900b555ddafba629f8136c79cf8c755ce62a,0,0,0,0,0,NaN
2,20201220,AR,201650,31047.0,1769637,NaN,totalTestsViral,1940240,1061.0,10502.0,...,1971287,46,15,499ffc202f17643ad72e417e7b0d1b07e5adacdd,0,0,0,0,0,NaN
3,20201220,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,710428ebd55254b2a505ca3ec1002fb7a6dd361c,0,0,0,0,0,NaN
4,20201220,AZ,453597,19248.0,2214639,NaN,totalTestsViral,4620819,3899.0,33037.0,...,2668236,34,361,2736677e1dd351b3794e400bee894c92bbcdb97f,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

/Users/Brian/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (15,16,17,18,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201220,AK,42413.0,NaN,1154093.0,NaN,totalTestsViral,1196506.0,127.0,935.0,...,1196506,0,0,917c7ec3b76448ce380bc3f82f5cf0c4a1bb29dc,0,0,0,0,0,NaN
1,20201220,AL,322452.0,59854.0,1521292.0,NaN,totalTestsPeopleViral,1783890.0,2337.0,30224.0,...,1843744,0,0,1de3900b555ddafba629f8136c79cf8c755ce62a,0,0,0,0,0,NaN
2,20201220,AR,201650.0,31047.0,1769637.0,NaN,totalTestsViral,1940240.0,1061.0,10502.0,...,1971287,46,15,499ffc202f17643ad72e417e7b0d1b07e5adacdd,0,0,0,0,0,NaN
3,20201220,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,710428ebd55254b2a505ca3ec1002fb7a6dd361c,0,0,0,0,0,NaN
4,20201220,AZ,453597.0,19248.0,2214639.0,NaN,totalTestsViral,4620819.0,3899.0,33037.0,...,2668236,34,361,2736677e1dd351b3794e400bee894c92bbcdb97f,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-20,AK,42413,NaN,1154093,NaN,totalTestsViral,1196506,127.0,935.0,NaN,...,1196506,0,0,917c7ec3b76448ce380bc3f82f5cf0c4a1bb29dc,0,0,0,0,0,NaN
2020-12-20,AL,322452,59854.0,1521292,NaN,totalTestsPeopleViral,1783890,2337.0,30224.0,NaN,...,1843744,0,0,1de3900b555ddafba629f8136c79cf8c755ce62a,0,0,0,0,0,NaN
2020-12-20,AR,201650,31047.0,1769637,NaN,totalTestsViral,1940240,1061.0,10502.0,345.0,...,1971287,46,15,499ffc202f17643ad72e417e7b0d1b07e5adacdd,0,0,0,0,0,NaN
2020-12-20,AS,0,NaN,2140,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,710428ebd55254b2a505ca3ec1002fb7a6dd361c,0,0,0,0,0,NaN
2020-12-20,AZ,453597,19248.0,2214639,NaN,totalTestsViral,4620819,3899.0,33037.0,885.0,...,2668236,34,361,2736677e1dd351b3794e400bee894c92bbcdb97f,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-20,AK,42413.0,NaN,1154093.0,NaN,totalTestsViral,1196506.0,127.0,935.0,NaN,...,1196506,0,0,917c7ec3b76448ce380bc3f82f5cf0c4a1bb29dc,0,0,0,0,0,NaN
2020-12-20,AL,322452.0,59854.0,1521292.0,NaN,totalTestsPeopleViral,1783890.0,2337.0,30224.0,NaN,...,1843744,0,0,1de3900b555ddafba629f8136c79cf8c755ce62a,0,0,0,0,0,NaN
2020-12-20,AR,201650.0,31047.0,1769637.0,NaN,totalTestsViral,1940240.0,1061.0,10502.0,345.0,...,1971287,46,15,499ffc202f17643ad72e417e7b0d1b07e5adacdd,0,0,0,0,0,NaN
2020-12-20,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,710428ebd55254b2a505ca3ec1002fb7a6dd361c,0,0,0,0,0,NaN
2020-12-20,AZ,453597.0,19248.0,2214639.0,NaN,totalTestsViral,4620819.0,3899.0,33037.0,885.0,...,2668236,34,361,2736677e1dd351b3794e400bee894c92bbcdb97f,0,0,0,0,0,NaN