# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-21-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-21-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-22 05:24:21,33.93911,67.709953,55604,2432,48834,4338.0,Afghanistan,142.836809,4.373786
1,NaN,NaN,NaN,Albania,2021-02-22 05:24:21,41.15330,20.168300,100246,1666,63329,35251.0,Albania,3483.424838,1.661912
2,NaN,NaN,NaN,Algeria,2021-02-22 05:24:21,28.03390,1.659600,111917,2961,77076,31880.0,Algeria,255.220839,2.645711
3,NaN,NaN,NaN,Andorra,2021-02-22 05:24:21,42.50630,1.521800,10699,107,10206,386.0,Andorra,13847.149421,1.000093
4,NaN,NaN,NaN,Angola,2021-02-22 05:24:21,-11.20270,17.873900,20519,499,19013,1007.0,Angola,62.431792,2.431892

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55445,55473,55492,55514,55518,55540,55557,55575,55580,55604
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,90835,91987,93075,93850,94651,95726,96838,97909,99062,100246
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,110303,110513,110711,110894,111069,111247,111418,111600,111764,111917

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2424,2427,2427,2427,2428,2428,2430,2430,2430,2432
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1531,1543,1555,1567,1582,1600,1617,1636,1653,1666
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2932,2935,2939,2943,2945,2947,2950,2954,2958,2961

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48390,48392,48395,48433,48514,48626,48798,48803,48820,48834
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,55243,55983,56764,57736,58794,59684,60675,61605,62533,63329
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,75628,75816,75999,76168,76330,76489,76640,76797,76940,77076

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5984,6002,6023,6024,6038,6050,6071,6079,6092,6117
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,18994,19051,19105,19136,19176,19267,19324,19361,19392,19433
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2036,2040,2042,2044,2055,2053,2057,2061,2067,2070

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,84,84,84,84,84,84,84,85,85,85
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,251,252,252,252,253,253,254,262,262,262
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,48,48,48,48,48,49,49,49,50,50

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-02-22 05:24:21,32.539527,-86.644082,6117,85,0,6032.0,"Autauga, Alabama, US",10948.826720,1.389570
689,1075.0,Lamar,Alabama,US,2021-02-22 05:24:21,33.779950,-88.096680,1294,32,0,1262.0,"Lamar, Alabama, US",9373.415429,2.472952
690,1077.0,Lauderdale,Alabama,US,2021-02-22 05:24:21,34.901719,-87.656247,8523,208,0,8315.0,"Lauderdale, Alabama, US",9191.299378,2.440455

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               28133699  498883          0
India            11005850  156385   10699410
Brazil           10168174  246504    9095692

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,28133699,498883,0,27634816,2021-02-22 05:24:21,37.936303,-91.379001
India,11005850,156385,10699410,150055,2021-02-22 05:24:21,23.088275,81.806127
Brazil,10168174,246504,9095692,825978,2021-02-22 05:24:21,-12.669522,-48.480493
United Kingdom,4127574,120810,11311,3995453,2021-02-22 05:24:21,30.744028,-35.367255
Russia,4117992,81926,3672084,363982,2021-02-22 05:24:21,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3531430   49331          0
Texas             2600660   42162          0
Florida           1868772   29906          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3531430,49331,0,3482099,2021-02-22 05:24:21,37.843962,-120.728594
Texas,2600660,42162,0,2558498,2021-02-22 05:24:21,31.660643,-98.653069
Florida,1868772,29906,0,1838866,2021-02-22 05:24:21,28.940755,-82.700744
New York,1591672,46812,0,1544860,2021-02-22 05:24:21,42.544151,-75.474183
Illinois,1174330,22466,0,1151864,2021-02-22 05:24:21,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1180485   19885          0
Arizona        Maricopa        504992    8835          0
Illinois       Cook            469935    9254          0
Florida        Miami-Dade      402265    5290          0
Texas          Harris          342309    4851          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1180485,19885,0,1160600,2021-02-22 05:24:21,34.308284,-118.228241,6037.0
Arizona,Maricopa,504992,8835,0,496157,2021-02-22 05:24:21,33.348359,-112.491815,4013.0
Illinois,Cook,469935,9254,0,460681,2021-02-22 05:24:21,41.841448,-87.816588,17031.0
Florida,Miami-Dade,402265,5290,0,396975,2021-02-22 05:24:21,25.611236,-80.551706,12086.0
Texas,Harris,342309,4851,0,337458,2021-02-22 05:24:21,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,55575,97909,111600,10645,20478,548,2054681,170011,28920,441659,...,4107286,51377,79598,1,135114,2362,171717,2157,73203,35710
2021-02-20,55580,99062,111764,10672,20499,598,2060625,170234,28926,443536,...,4117739,52163,79632,1,135603,2368,172315,2157,73894,35768
2021-02-21,55604,100246,111917,10699,20519,598,2064334,170402,28930,445374,...,4127574,52815,79654,1,136068,2383,173635,2165,74503,35796

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,2430,1636,2954,107,498,10,51000,3158,909,8348,...,120147,563,622,0,1308,35,1961,618,1002,1430
2021-02-20,2430,1653,2958,107,498,11,51122,3159,909,8368,...,120593,569,622,0,1312,35,1971,618,1016,1432
2021-02-21,2432,1666,2961,107,499,13,51198,3164,909,8386,...,120810,574,622,0,1316,35,1976,619,1020,1436

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,48803,61605,76797,10146,18991,214,1855645,161790,22879,417654,...,11250,45398,78100,1,127143,1627,160172,1432,66013,31972
2021-02-20,48820,62533,76940,10170,19005,217,1861433,161903,22881,419283,...,11293,45881,78127,1,127598,1627,160763,1432,66943,32096
2021-02-21,48834,63329,77076,10206,19013,218,1866501,161994,22882,420509,...,11311,46265,78152,1,128088,1702,161410,1432,67944,32125

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5984,6002,6023,6024,6038,6050,6071,6079,6092,6117
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1275,1277,1281,1281,1283,1282,1286,1291,1292,1294
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8442,8460,8471,8476,8479,8480,8508,8513,8515,8523
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2762,2771,2777,2780,2781,2781,2787,2790,2794,2795
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,14524,14563,14608,14622,14641,14684,14729,14766,14779,14798

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-19,485212,57393,0,804116,314713,3521225,418695,273101,84181,49,...,762673,2587712,365256,14251,2575,559930,332904,129055,610974,53683
2021-02-20,485986,57393,0,806163,315230,3527338,419812,273101,84531,49,...,764008,2593816,366034,14359,2575,561812,333794,129364,611789,53683
2021-02-21,486843,57393,0,807967,315514,3531430,420614,273101,84732,49,...,765137,2600660,366735,14493,2575,564115,333794,129616,612240,53795

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-19        6079   19361    2061  2411   6021    1147   1934   12860
2021-02-20        6092   19392    2067  2414   6040    1149   1938   12915
2021-02-21        6117   19433    2070  2416   6042    1151   1940   12940

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-19         3358     1751  ...    2590    580     2988      671
2021-02-20         3364     1753  ...    2590    580     2988      671
2021-02-21         3367     1753  ...    2597    580     2992      671

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-19           3645  3318  2024          0      877    619
2021-02-20           3645  3318  2024          0      877    619
2021-02-21           3660  3326  2027          0      877    619

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-19,9573,289,0,15421,5336,48836,5878,7523,1366,0,...,11064,41832,1834,193,25,7098,4822,2248,6852,662
2021-02-20,9590,289,0,15480,5348,49120,5887,7523,1366,0,...,11115,42041,1842,196,25,7197,4822,2254,6871,662
2021-02-21,9592,289,0,15505,5357,49331,5892,7523,1367,0,...,11133,42162,1852,197,25,7331,4822,2261,6871,662

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-19          85     262      49   58    125      33     64     277
2021-02-20          85     262      50   58    125      33     64     278
2021-02-21          85     262      50   58    125      33     64     278

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-19           99       37  ...      26     11       27        7
2021-02-20           99       37  ...      26     11       27        7
2021-02-21           99       37  ...      26     11       27        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-19             34     9    12          0       26      5
2021-02-20             34     9    12          0       26      5
2021-02-21             34     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,0.000324,0.011060,0.001633,0.003299,0.001271,0.000000,0.003853,0.001125,0.000069,0.004133,...,0.002954,0.012315,0.000629,0.0,0.002471,0.006391,0.003289,0.001393,0.010156,0.004699
2021-02-20,0.000090,0.011776,0.001470,0.002536,0.001025,0.091241,0.002893,0.001312,0.000207,0.004250,...,0.002545,0.015299,0.000427,0.0,0.003619,0.002540,0.003482,0.000000,0.009440,0.001624
2021-02-21,0.000432,0.011952,0.001369,0.002530,0.000976,0.000000,0.001800,0.000987,0.000138,0.004144,...,0.002388,0.012499,0.000276,0.0,0.003429,0.006334,0.007660,0.003709,0.008242,0.000783

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,0.000000,0.011750,0.001356,0.0,0.000000,0.000000,0.002812,0.000634,0.0,0.004331,...,0.004456,0.008961,0.0,NaN,0.003837,0.0,0.002556,0.000000,0.011100,0.007042
2021-02-20,0.000000,0.010391,0.001354,0.0,0.000000,0.100000,0.002392,0.000317,0.0,0.002396,...,0.003712,0.010657,0.0,NaN,0.003058,0.0,0.005099,0.000000,0.013972,0.001399
2021-02-21,0.000823,0.007864,0.001014,0.0,0.002008,0.181818,0.001487,0.001583,0.0,0.002151,...,0.001799,0.008787,0.0,NaN,0.003049,0.0,0.002537,0.001618,0.003937,0.002793

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,0.000102,0.015328,0.002049,0.004455,0.001001,0.000000,0.003349,0.001318,0.000219,0.002937,...,0.008065,0.009383,0.000525,0.0,0.002768,0.013707,0.005039,0.0,0.014788,0.004745
2021-02-20,0.000348,0.015064,0.001862,0.002365,0.000737,0.014019,0.003119,0.000698,0.000087,0.003900,...,0.003822,0.010639,0.000346,0.0,0.003579,0.000000,0.003690,0.0,0.014088,0.003878
2021-02-21,0.000287,0.012729,0.001768,0.003540,0.000421,0.004608,0.002723,0.000562,0.000044,0.002924,...,0.001594,0.008369,0.000320,0.0,0.003840,0.046097,0.004025,0.0,0.014953,0.000904

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-19,0.001749,0.00369,NaN,0.002391,0.000852,0.002602,0.003066,0.004406,0.003924,0.0,...,0.001725,0.002169,0.002352,0.007209,0.006646,0.003646,0.002702,0.002291,0.001506,0.002839
2021-02-20,0.001595,0.00000,NaN,0.002546,0.001643,0.001736,0.002668,0.000000,0.004158,0.0,...,0.001750,0.002359,0.002130,0.007578,0.000000,0.003361,0.002673,0.002394,0.001334,0.000000
2021-02-21,0.001763,0.00000,NaN,0.002238,0.000901,0.001160,0.001910,0.000000,0.002378,0.0,...,0.001478,0.002639,0.001915,0.009332,0.000000,0.004099,0.000000,0.001948,0.000737,0.002086

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-19      0.001318  0.001915  0.001945  0.002495  0.002164  0.002622
2021-02-20      0.002139  0.001601  0.002911  0.001244  0.003156  0.001744
2021-02-21      0.004104  0.002114  0.001451  0.000829  0.000331  0.001741

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-19      0.002073  0.002104  0.002987  0.000000  ...  0.002322
2021-02-20      0.002068  0.004277  0.001787  0.001142  ...  0.000000
2021-02-21      0.001032  0.001936  0.000892  0.000000  ...  0.002703

Province_State                                                              \
Admin2            Platte  Sheridan Sublette Sweetwater     Teton     Uinta
2021-02-19      0.013986  0.000335      0.0   0.007463  0.003326  0.001484
2021-02-20      0.000000  0.000000      0.0   0.000000  0.000000  0.000000
2021-02-21      0.000000  0.001339      0.0   0.004115  0.002411  0.001482

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-19            NaN  0.002286  0.001618
2021-02-20            NaN  0.000000  0.000000
2021-02-21            NaN  0.000000  0.000000

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-19,0.015811,0.003472,NaN,0.009492,0.002442,0.011956,0.002387,0.003602,0.000000,NaN,...,0.000633,0.004852,0.011583,0.000000,0.0,0.001128,0.003956,0.005367,0.005282,0.0
2021-02-20,0.001776,0.000000,NaN,0.003826,0.002249,0.005815,0.001531,0.000000,0.000000,NaN,...,0.004610,0.004996,0.004362,0.015544,0.0,0.013948,0.000000,0.002669,0.002773,0.0
2021-02-21,0.000209,0.000000,NaN,0.001615,0.001683,0.004296,0.000849,0.000000,0.000732,NaN,...,0.001619,0.002878,0.005429,0.005102,0.0,0.018619,0.000000,0.003106,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-02-19      0.011905  0.031496  0.000000  0.017544  0.033058     0.0
2021-02-20      0.000000  0.000000  0.020408  0.000000  0.000000     0.0
2021-02-21      0.000000  0.000000  0.000000  0.000000  0.000000     0.0

Province_State                                      ... Wyoming         \
Admin2         Butler   Calhoun  Chambers Cherokee  ...    Park Platte
2021-02-19        0.0  0.045283  0.010204      0.0  ...     0.0    0.0
2021-02-20        0.0  0.003610  0.000000      0.0  ...     0.0    0.0
2021-02-21        0.0  0.000000  0.000000      0.0  ...     0.0    0.0

Province_State                                                               \
Admin2         Sheridan Sublette Sweetwater Teton Uinta Unassigned Washakie
2021-02-19          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-20          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-02-21          0.0      0.0        0.0   0.0   0.0        NaN      0.0

Province_State
Admin2         Weston
2021-02-19        0.0
2021-02-20        0.0
2021-02-21        0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,0.000317,0.011027,0.001613,0.002939,0.001445,0.036101,0.003498,0.001139,0.000114,0.004078,...,0.002945,0.011169,0.000572,0.0,0.002818,0.008335,0.004012,0.001379,0.010656,0.003857
2021-02-20,0.000204,0.011402,0.001541,0.002737,0.001235,0.063671,0.003195,0.001226,0.000161,0.004164,...,0.002745,0.013234,0.000500,0.0,0.003219,0.005438,0.003747,0.000689,0.010048,0.002741
2021-02-21,0.000318,0.011677,0.001455,0.002634,0.001106,0.031836,0.002498,0.001106,0.000149,0.004154,...,0.002567,0.012867,0.000388,0.0,0.003324,0.005886,0.005704,0.002199,0.009145,0.001762

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,0.000252,0.011049,0.001139,0.000076,0.001798,0.014081,0.003305,0.000733,3.056781e-20,0.003702,...,0.004577,0.009507,3.145135e-06,NaN,0.004199,2.657415e-53,0.003034,0.000128,0.010377,0.004779
2021-02-20,0.000126,0.010720,0.001247,0.000038,0.000899,0.057040,0.002848,0.000525,1.528391e-20,0.003049,...,0.004145,0.010082,1.572568e-06,NaN,0.003629,1.328708e-53,0.004067,0.000064,0.012174,0.003089
2021-02-21,0.000475,0.009292,0.001130,0.000019,0.001454,0.119429,0.002168,0.001054,7.641954e-21,0.002600,...,0.002972,0.009435,7.862838e-07,NaN,0.003339,6.643538e-54,0.003302,0.000841,0.008056,0.002941

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-19,0.001371,0.015827,0.002058,0.004312,0.001250,0.007115,0.003267,0.001049,0.000168,0.003011,...,0.007058,0.010279,0.000570,0.0,0.003078,0.013441,0.004701,0.000224,0.013123,0.007559
2021-02-20,0.000859,0.015445,0.001960,0.003339,0.000993,0.010567,0.003193,0.000874,0.000128,0.003456,...,0.005440,0.010459,0.000458,0.0,0.003328,0.006720,0.004195,0.000112,0.013606,0.005719
2021-02-21,0.000573,0.014087,0.001864,0.003439,0.000707,0.007588,0.002958,0.000718,0.000086,0.003190,...,0.003517,0.009414,0.000389,0.0,0.003584,0.026409,0.004110,0.000056,0.014279,0.003311

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-19,0.001904,0.003500,NaN,0.001978,0.001029,0.002209,0.002850,0.003456,0.003414,1.519930e-103,...,0.001533,0.001758,0.002496,0.008013,0.005020,0.003831,0.003032,0.002393,0.001409,0.002312
2021-02-20,0.001749,0.001750,NaN,0.002262,0.001336,0.001972,0.002759,0.001728,0.003786,7.599650e-104,...,0.001642,0.002059,0.002313,0.007796,0.002510,0.003596,0.002852,0.002394,0.001372,0.001156
2021-02-21,0.001756,0.000875,NaN,0.002250,0.001118,0.001566,0.002335,0.000864,0.003082,3.799825e-104,...,0.001560,0.002349,0.002114,0.008564,0.001255,0.003848,0.001426,0.002171,0.001054,0.001621

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-19      0.002033  0.002560  0.001759  0.001992  0.001982  0.001544
2021-02-20      0.002086  0.002081  0.002335  0.001618  0.002569  0.001644
2021-02-21      0.003095  0.002097  0.001893  0.001223  0.001450  0.001692

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-19      0.003027  0.002642  0.002611  0.000377  ...  0.001828
2021-02-20      0.002548  0.003459  0.002199  0.000760  ...  0.000914
2021-02-21      0.001790  0.002698  0.001545  0.000380  ...  0.001808

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-19      0.009340  0.000958  0.000823   0.004451  0.002814  0.002334
2021-02-20      0.004670  0.000479  0.000411   0.002225  0.001407  0.001167
2021-02-21      0.002335  0.000909  0.000206   0.003170  0.001909  0.001325

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-19           -1.0  0.001508  0.001011
2021-02-20           -1.0  0.000754  0.000506
2021-02-21           -1.0  0.000377  0.000253

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-19,0.011479,0.003310,NaN,0.009164,0.002637,0.009553,0.002629,0.003248,0.000441,NaN,...,0.002528,0.003853,0.007561,0.003158,0.000081,0.002068,0.006141,0.004687,0.003903,0.001467
2021-02-20,0.006628,0.001655,NaN,0.006495,0.002443,0.007684,0.002080,0.001624,0.000221,NaN,...,0.003569,0.004424,0.005961,0.009351,0.000041,0.008008,0.003071,0.003678,0.003338,0.000734
2021-02-21,0.003418,0.000827,NaN,0.004055,0.002063,0.005990,0.001465,0.000812,0.000476,NaN,...,0.002594,0.003651,0.005695,0.007227,0.000020,0.013313,0.001535,0.003392,0.001669,0.000367

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-19      0.006174  0.017251  0.002799  0.009009  0.016730  0.004037
2021-02-20      0.003087  0.008625  0.011603  0.004504  0.008365  0.002018
2021-02-21      0.001544  0.004313  0.005802  0.002252  0.004182  0.001009

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-19      0.000032  0.024212  0.010649  0.000014  ...  0.002543
2021-02-20      0.000016  0.013911  0.005324  0.000007  ...  0.001272
2021-02-21      0.000008  0.006956  0.002662  0.000003  ...  0.000636

Province_State                                                             \
Admin2                Platte  Sheridan      Sublette Sweetwater     Teton
2021-02-19      3.006104e-09  0.010892  2.457294e-15   0.000015  0.007844
2021-02-20      1.503052e-09  0.005446  1.228647e-15   0.000007  0.003922
2021-02-21      7.515260e-10  0.002723  6.143234e-16   0.000004  0.001961

Province_State
Admin2                 Uinta Unassigned      Washakie        Weston
2021-02-19      3.986346e-10  -0.501961  1.526758e-07  3.242493e-06
2021-02-20      1.993173e-10  -0.501961  7.633790e-08  1.621246e-06
2021-02-21      9.965865e-11  -0.501961  3.816895e-08  8.106232e-07

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210221,AK,55198,NaN,NaN,NaN,totalTestsViral,1629829,34.0,1243.0,...,NaN,0,0,a361b157956b23f2afbfc4e57964e0e42a9a295a,0,0,0,0,0,NaN
1,20210221,AL,486843,104997.0,1875829.0,NaN,totalTestsPeopleViral,2257675,867.0,44767.0,...,NaN,2,0,11af864059164f9af8169f1be577beb4e8bfbe81,0,0,0,0,0,NaN
2,20210221,AR,315514,65862.0,2352972.0,NaN,totalTestsViral,2602624,577.0,14540.0,...,NaN,9,14,c86bf93f731585ffdedc35fc6145b9576f1de6ae,0,0,0,0,0,NaN
3,20210221,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,27ba17a19598d0db0b1df4e1b3753ad6aa2b05ca,0,0,0,0,0,NaN
4,20210221,AZ,807967,54387.0,2940237.0,NaN,totalTestsViral,7433448,1598.0,56946.0,...,NaN,25,74,5d5003aadb8d831ab1498f2ba9d899308e52e1fa,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210221,AK,55198.0,NaN,NaN,NaN,totalTestsViral,1629829.0,34.0,1243.0,...,NaN,0,0,a361b157956b23f2afbfc4e57964e0e42a9a295a,0,0,0,0,0,NaN
1,20210221,AL,486843.0,104997.0,1875829.0,NaN,totalTestsPeopleViral,2257675.0,867.0,44767.0,...,NaN,2,0,11af864059164f9af8169f1be577beb4e8bfbe81,0,0,0,0,0,NaN
2,20210221,AR,315514.0,65862.0,2352972.0,NaN,totalTestsViral,2602624.0,577.0,14540.0,...,NaN,9,14,c86bf93f731585ffdedc35fc6145b9576f1de6ae,0,0,0,0,0,NaN
3,20210221,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,27ba17a19598d0db0b1df4e1b3753ad6aa2b05ca,0,0,0,0,0,NaN
4,20210221,AZ,807967.0,54387.0,2940237.0,NaN,totalTestsViral,7433448.0,1598.0,56946.0,...,NaN,25,74,5d5003aadb8d831ab1498f2ba9d899308e52e1fa,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-21,AK,55198,NaN,NaN,NaN,totalTestsViral,1629829,34.0,1243.0,NaN,...,NaN,0,0,a361b157956b23f2afbfc4e57964e0e42a9a295a,0,0,0,0,0,NaN
2021-02-21,AL,486843,104997.0,1875829.0,NaN,totalTestsPeopleViral,2257675,867.0,44767.0,NaN,...,NaN,2,0,11af864059164f9af8169f1be577beb4e8bfbe81,0,0,0,0,0,NaN
2021-02-21,AR,315514,65862.0,2352972.0,NaN,totalTestsViral,2602624,577.0,14540.0,219.0,...,NaN,9,14,c86bf93f731585ffdedc35fc6145b9576f1de6ae,0,0,0,0,0,NaN
2021-02-21,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,27ba17a19598d0db0b1df4e1b3753ad6aa2b05ca,0,0,0,0,0,NaN
2021-02-21,AZ,807967,54387.0,2940237.0,NaN,totalTestsViral,7433448,1598.0,56946.0,501.0,...,NaN,25,74,5d5003aadb8d831ab1498f2ba9d899308e52e1fa,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-21,AK,55198.0,NaN,NaN,NaN,totalTestsViral,1629829.0,34.0,1243.0,NaN,...,NaN,0,0,a361b157956b23f2afbfc4e57964e0e42a9a295a,0,0,0,0,0,NaN
2021-02-21,AL,486843.0,104997.0,1875829.0,NaN,totalTestsPeopleViral,2257675.0,867.0,44767.0,NaN,...,NaN,2,0,11af864059164f9af8169f1be577beb4e8bfbe81,0,0,0,0,0,NaN
2021-02-21,AR,315514.0,65862.0,2352972.0,NaN,totalTestsViral,2602624.0,577.0,14540.0,219.0,...,NaN,9,14,c86bf93f731585ffdedc35fc6145b9576f1de6ae,0,0,0,0,0,NaN
2021-02-21,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,27ba17a19598d0db0b1df4e1b3753ad6aa2b05ca,0,0,0,0,0,NaN
2021-02-21,AZ,807967.0,54387.0,2940237.0,NaN,totalTestsViral,7433448.0,1598.0,56946.0,501.0,...,NaN,25,74,5d5003aadb8d831ab1498f2ba9d899308e52e1fa,0,0,0,0,0,NaN