# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'03-15-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'03-14-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-15 05:25:51,33.93911,67.709953,55985,2457,49477.0,4051.0,Afghanistan,143.815530,4.388676
1,NaN,NaN,NaN,Albania,2021-03-15 05:25:51,41.15330,20.168300,117474,2045,80483.0,34946.0,Albania,4082.076586,1.740811
2,NaN,NaN,NaN,Algeria,2021-03-15 05:25:51,28.03390,1.659600,115265,3036,79887.0,32342.0,Algeria,262.855777,2.633931
3,NaN,NaN,NaN,Andorra,2021-03-15 05:25:51,42.50630,1.521800,11266,113,10796.0,357.0,Andorra,14580.987511,1.003018
4,NaN,NaN,NaN,Angola,2021-03-15 05:25:51,-11.20270,17.873900,21380,521,19850.0,1009.0,Angola,65.051499,2.436857

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/5/21,3/6/21,3/7/21,3/8/21,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55827,55840,55847,55876,55876,55894,55917,55959,55959,55985
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,111301,112078,112897,113580,114209,114840,115442,116123,116821,117474
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,113948,114104,114234,114382,114543,114681,114851,115008,115143,115265

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/5/21,3/6/21,3/7/21,3/8/21,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2449,2449,2449,2451,2451,2451,2451,2454,2454,2457
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1897,1918,1939,1956,1969,1986,2002,2018,2030,2045
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3007,3010,3013,3018,3022,3026,3028,3031,3034,3036

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/5/21,3/6/21,3/7/21,3/8/21,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49362,49369,49378,49402,49409,49499,49499,49499,49471,49477
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,73610,74352,75190,75887,76784,77498,78259,79131,79821,80483
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,78824,78946,79064,79187,79319,79428,79556,79672,79783,79887

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/5/21,3/6/21,3/7/21,3/8/21,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6333,6344,6347,6364,6371,6400,6409,6409,6416,6426
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,19890,19915,19935,19942,19962,20012,20044,20072,20091,20103
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2139,2138,2139,2143,2147,2161,2171,2175,2181,2184

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/5/21,3/6/21,3/7/21,3/8/21,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,92,92,92,92,92,93,95,95,95,95
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,289,289,289,289,290,293,294,294,294,294
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,51,51,51,51,51,51,52,52,53,53

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-15 05:25:51,32.539527,-86.644082,6426,95,NaN,NaN,"Autauga, Alabama, US",11501.906245,1.478369
689,1075.0,Lamar,Alabama,US,2021-03-15 05:25:51,33.779950,-88.096680,1352,33,NaN,NaN,"Lamar, Alabama, US",9793.553060,2.440828
690,1077.0,Lauderdale,Alabama,US,2021-03-15 05:25:51,34.901719,-87.656247,8692,216,NaN,NaN,"Lauderdale, Alabama, US",9373.550885,2.485044

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               29438775  534888         0.0
Brazil           11483370  278229  10113487.0
India            11385339  158725  11007352.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,29438775,534888,0.0,28903887.0,2021-03-15 05:25:51,37.936303,-91.379001
Brazil,11483370,278229,10113487.0,1091654.0,2021-03-15 05:25:51,-12.669522,-48.480493
India,11385339,158725,11007352.0,219262.0,2021-03-15 05:25:51,23.088275,81.806127
Russia,4341381,90558,3949891.0,300932.0,2021-03-15 05:25:51,54.546312,62.120860
United Kingdom,4271710,125753,11972.0,4133985.0,2021-03-15 05:25:51,28.164647,-33.966498

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3623063   56573        0.0
Texas             2727462   46423        0.0
Florida           1976808   32255        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3623063,56573,0.0,3566490.0,2021-03-15 05:25:51,37.843962,-120.728594
Texas,2727462,46423,0.0,2681039.0,2021-03-15 05:25:51,31.660643,-98.653069
Florida,1976808,32255,0.0,1944553.0,2021-03-15 05:25:51,28.940755,-82.700744
New York,1741363,48953,0.0,1692410.0,2021-03-15 05:25:51,42.544151,-75.474183
Illinois,1209245,23207,0.0,1186038.0,2021-03-15 05:25:51,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1210270   22474        0.0
Arizona        Maricopa        520487    9437        0.0
Illinois       Cook            482973    9514        0.0
Florida        Miami-Dade      426900    5660        0.0
Texas          Harris          365338    5487        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1210270,22474,0.0,1187796.0,2021-03-15 05:25:51,34.308284,-118.228241,6037.0
Arizona,Maricopa,520487,9437,0.0,511050.0,2021-03-15 05:25:51,33.348359,-112.491815,4013.0
Illinois,Cook,482973,9514,0.0,473459.0,2021-03-15 05:25:51,41.841448,-87.816588,17031.0
Florida,Miami-Dade,426900,5660,0.0,421240.0,2021-03-15 05:25:51,25.611236,-80.551706,12086.0
Texas,Harris,365338,5487,0.0,359851.0,2021-03-15 05:25:51,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,55959,116123,115008,11199,21265,945,2185747,177104,29112,488042,...,4261398,69074,80392,3,144786,2550,205652,2729,84240,36423
2021-03-13,55959,116821,115143,11228,21323,962,2192025,177899,29117,491065,...,4267015,70133,80481,3,145379,2553,207436,2771,84474,36471
2021-03-14,55985,117474,115265,11266,21380,963,2195722,178385,29130,493568,...,4271710,71691,80567,3,145379,2554,209304,2836,84797,36484

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,2454,2018,3031,112,519,25,53578,3243,909,8831,...,125579,689,622,0,1422,35,2228,679,1149,1496
2021-03-13,2454,2030,3034,112,520,27,53646,3253,909,8856,...,125701,698,622,0,1430,35,2255,683,1153,1501
2021-03-14,2457,2045,3036,113,521,27,53670,3255,909,8873,...,125753,712,622,0,1430,35,2268,689,1158,1503

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,49499,79131,79672,10754,19835,569,1974866,165718,22952,453078,...,11947,58627,79077,1,136710,2086,183003,1469,80462,33996
2021-03-13,49471,79821,79783,10775,19848,592,1981157,165975,22957,455271,...,11949,59539,79145,1,137141,2086,184487,1472,80599,34011
2021-03-14,49477,80483,79887,10796,19850,598,1986903,166180,22957,457266,...,11972,60517,79242,1,137141,2086,186278,1491,81756,34043

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/5/21,3/6/21,3/7/21,3/8/21,3/9/21,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6333,6344,6347,6364,6371,6400,6409,6409,6416,6426
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1339,1339,1339,1339,1340,1349,1351,1349,1351,1352
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8618,8628,8630,8631,8636,8651,8662,8670,8683,8692
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2853,2857,2862,2863,2865,2864,2869,2870,2870,2872
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15057,15070,15083,15084,15087,15108,15117,15122,15138,15147

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-12,502711,60207,0,831832,326499,3618777,441511,290577,89911,49,...,789652,2721511,377492,16623,2767,592214,348516,134842,624508,55163
2021-03-13,503305,60207,0,832094,326813,3620890,442753,290577,90156,49,...,789652,2724607,377983,16698,2767,593562,349425,135149,625045,55163
2021-03-14,503673,60207,0,832743,326943,3623063,443968,290577,90381,49,...,789652,2727462,378379,16890,2767,594735,349425,135468,625359,55163

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-03-12        6409   20072    2175  2475   6282    1183   2037   14034
2021-03-13        6416   20091    2181  2479   6288    1185   2038   14055
2021-03-14        6426   20103    2184  2481   6291    1185   2041   14064

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-12         3439     1787  ...    2623    598     3042      681
2021-03-13         3441     1788  ...    2623    598     3042      681
2021-03-14         3442     1788  ...    2623    598     3042      681

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-12           3871  3427  2088          0      889    631
2021-03-13           3871  3427  2088          0      889    631
2021-03-14           3871  3427  2088          0      889    631

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-12,10299,306,0,16519,5437,55517,6024,7765,1496,0,...,11639,46229,2017,212,25,9961,5123,2511,7164,691
2021-03-13,10327,306,0,16546,5455,56426,6036,7765,1504,0,...,11639,46366,2021,214,25,9985,5123,2519,7178,691
2021-03-14,10327,306,0,16553,5474,56573,6038,7765,1507,0,...,11639,46423,2027,214,25,10019,5123,2530,7176,691

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-12          95     294      52   58    129      39     66     299
2021-03-13          95     294      53   58    129      39     66     301
2021-03-14          95     294      53   58    129      39     66     301

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-12          112       42  ...      29     11       30        7
2021-03-13          112       42  ...      29     11       30        7
2021-03-14          112       42  ...      29     11       30        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-12             36     9    12          0       26      5
2021-03-13             36     9    12          0       26      5
2021-03-14             36     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,0.000751,0.005899,0.001367,0.006199,0.002830,0.071429,0.003604,0.004640,0.000344,0.006446,...,0.001571,0.020039,0.000000,0.0,0.003528,0.006711,0.009736,0.023247,0.003897,0.001265
2021-03-13,0.000000,0.006011,0.001174,0.002590,0.002727,0.017989,0.002872,0.004489,0.000172,0.006194,...,0.001318,0.015331,0.001107,0.0,0.004096,0.001176,0.008675,0.015390,0.002778,0.001318
2021-03-14,0.000465,0.005590,0.001060,0.003384,0.002673,0.001040,0.001687,0.002732,0.000446,0.005097,...,0.001100,0.022215,0.001069,0.0,0.000000,0.000392,0.009005,0.023457,0.003824,0.000356

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,0.001224,0.007992,0.000991,0.000000,0.003868,0.086957,0.001589,0.001235,0.0,0.003751,...,0.001403,0.008785,0.0,NaN,0.004947,0.0,0.007689,0.017991,0.000871,0.002681
2021-03-13,0.000000,0.005946,0.000990,0.000000,0.001927,0.080000,0.001269,0.003084,0.0,0.002831,...,0.000972,0.013062,0.0,NaN,0.005626,0.0,0.012118,0.005891,0.003481,0.003342
2021-03-14,0.001222,0.007389,0.000659,0.008929,0.001923,0.000000,0.000447,0.000615,0.0,0.001920,...,0.000414,0.020057,0.0,NaN,0.000000,0.0,0.005765,0.008785,0.004337,0.001332

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,0.000000,0.011142,0.001458,0.004296,0.000403,0.163599,0.003253,0.001674,0.000131,0.004915,...,0.000251,0.014782,0.000000,0.0,0.003236,0.018555,0.008548,0.003415,0.005436,0.000706
2021-03-13,-0.000566,0.008720,0.001393,0.001953,0.000655,0.040422,0.003186,0.001551,0.000218,0.004840,...,0.000167,0.015556,0.000860,0.0,0.003153,0.000000,0.008109,0.002042,0.001703,0.000441
2021-03-14,0.000121,0.008294,0.001304,0.001949,0.000101,0.010135,0.002900,0.001235,0.000000,0.004382,...,0.001925,0.016426,0.001226,0.0,0.000000,0.000000,0.009708,0.012908,0.014355,0.000941

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-12,0.000892,0.001797,NaN,0.001417,0.001408,0.001086,0.002933,0.004095,0.002576,0.0,...,0.001958,0.002032,0.001377,0.007455,0.002173,0.002690,0.001817,0.002573,0.001133,0.000925
2021-03-13,0.001182,0.000000,NaN,0.000315,0.000962,0.000584,0.002813,0.000000,0.002725,0.0,...,0.000000,0.001138,0.001301,0.004512,0.000000,0.002276,0.002608,0.002277,0.000860,0.000000
2021-03-14,0.000731,0.000000,NaN,0.000780,0.000398,0.000600,0.002744,0.000000,0.002496,0.0,...,0.000000,0.001048,0.001048,0.011498,0.000000,0.001976,0.000000,0.002360,0.000502,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-12      0.000000  0.001397  0.001842  0.000404  0.001275  0.001693
2021-03-13      0.001092  0.000947  0.002759  0.001616  0.000955  0.001691
2021-03-14      0.001559  0.000597  0.001376  0.000807  0.000477  0.000000

Province_State                                         ... Wyoming            \
Admin2            Butler   Calhoun  Chambers Cherokee  ...    Park    Platte
2021-03-12      0.000983  0.001928  0.000291  0.00112  ...     0.0  0.001675
2021-03-13      0.000491  0.001496  0.000582  0.00056  ...     0.0  0.000000
2021-03-14      0.001472  0.000640  0.000291  0.00000  ...     0.0  0.000000

Province_State                                                              \
Admin2         Sheridan Sublette Sweetwater     Teton     Uinta Unassigned
2021-03-12          0.0      0.0   0.000258  0.002633  0.000479        NaN
2021-03-13          0.0      0.0   0.000000  0.000000  0.000000        NaN
2021-03-14          0.0      0.0   0.000000  0.000000  0.000000        NaN

Province_State
Admin2          Washakie Weston
2021-03-12      0.001126    0.0
2021-03-13      0.000000    0.0
2021-03-14      0.000000    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-12,0.002433,0.003279,NaN,0.003523,0.004991,0.006472,0.000498,0.000515,0.001339,NaN,...,0.001377,0.004825,0.000993,0.004739,0.0,0.005958,0.003133,0.073995,0.000559,0.0
2021-03-13,0.002719,0.000000,NaN,0.001634,0.003311,0.016373,0.001992,0.000000,0.005348,NaN,...,0.000000,0.002964,0.001983,0.009434,0.0,0.002409,0.000000,0.003186,0.001954,0.0
2021-03-14,0.000000,0.000000,NaN,0.000423,0.003483,0.002605,0.000331,0.000000,0.001995,NaN,...,0.000000,0.001229,0.002969,0.000000,0.0,0.003405,0.000000,0.004367,-0.000279,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                         \
Admin2         Autauga Baldwin   Barbour Bibb Blount Bullock Butler   Calhoun
2021-03-12         0.0     0.0  0.000000  0.0    0.0     0.0    0.0  0.006734
2021-03-13         0.0     0.0  0.019231  0.0    0.0     0.0    0.0  0.006689
2021-03-14         0.0     0.0  0.000000  0.0    0.0     0.0    0.0  0.000000

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-12     -0.00885      0.0  ...     0.0    0.0      0.0      0.0
2021-03-13      0.00000      0.0  ...     0.0    0.0      0.0      0.0
2021-03-14      0.00000      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-12            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-13            0.0   0.0   0.0        NaN      0.0    0.0
2021-03-14            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,0.000543,0.005713,0.001374,0.003817,0.002314,0.040448,0.003544,0.003833,0.000398,0.006035,...,0.001530,0.018161,0.000475,0.062500,0.003871,0.004212,0.008880,0.019710,0.004819,0.001033
2021-03-13,0.000272,0.005862,0.001274,0.003203,0.002521,0.029219,0.003208,0.004161,0.000285,0.006115,...,0.001424,0.016746,0.000791,0.031250,0.003983,0.002694,0.008777,0.017550,0.003798,0.001176
2021-03-14,0.000368,0.005726,0.001167,0.003294,0.002597,0.015129,0.002447,0.003446,0.000366,0.005606,...,0.001262,0.019481,0.000930,0.015625,0.001992,0.001543,0.008891,0.020504,0.003811,0.000766

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,0.000643,0.008123,0.000997,0.000018,0.002684,0.052691,0.002010,0.001173,1.457587e-26,0.003096,...,0.001422,0.009906,1.499717e-12,NaN,0.005994,1.267154e-59,0.008064,0.012877,0.003177,0.001991
2021-03-13,0.000321,0.007035,0.000994,0.000009,0.002305,0.066346,0.001640,0.002128,7.287935e-27,0.002963,...,0.001197,0.011484,7.498587e-13,NaN,0.005810,6.335771e-60,0.010091,0.009384,0.003329,0.002667
2021-03-14,0.000772,0.007212,0.000826,0.004469,0.002114,0.033173,0.001043,0.001372,3.643967e-27,0.002442,...,0.000805,0.015771,3.749293e-13,NaN,0.002905,3.167886e-60,0.007928,0.009084,0.003833,0.002000

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-12,0.000256,0.010556,0.001507,0.002728,0.001687,0.100734,0.003164,0.001357,0.000177,0.004578,...,0.001272,0.013530,0.000410,0.0,0.003710,0.017532,0.008790,0.004125,0.005656,0.000809
2021-03-13,-0.000155,0.009638,0.001450,0.002340,0.001171,0.070578,0.003175,0.001454,0.000197,0.004709,...,0.000720,0.014543,0.000635,0.0,0.003431,0.008766,0.008449,0.003084,0.003679,0.000625
2021-03-14,-0.000017,0.008966,0.001377,0.002145,0.000636,0.040357,0.003038,0.001344,0.000099,0.004546,...,0.001322,0.015485,0.000930,0.0,0.001716,0.004383,0.009079,0.007996,0.009017,0.000783

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-12,0.001193,0.002492,NaN,0.001575,0.001211,0.001061,0.002601,0.003318,0.004043,7.247591e-110,...,0.001851,0.002018,0.001492,0.007170,0.002517,0.002423,0.001977,0.002401,0.001066,0.001172
2021-03-13,0.001187,0.001246,NaN,0.000945,0.001086,0.000822,0.002707,0.001659,0.003384,3.623796e-110,...,0.000926,0.001578,0.001397,0.005841,0.001259,0.002350,0.002292,0.002339,0.000963,0.000586
2021-03-14,0.000959,0.000623,NaN,0.000862,0.000742,0.000711,0.002726,0.000829,0.002940,1.811898e-110,...,0.000463,0.001313,0.001222,0.008670,0.000629,0.002163,0.001146,0.002350,0.000733,0.000293

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-12      0.001108  0.001520  0.003089  0.000938  0.001333  0.001404
2021-03-13      0.001100  0.001233  0.002924  0.001277  0.001144  0.001547
2021-03-14      0.001329  0.000915  0.002150  0.001042  0.000811  0.000774

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-12      0.002364  0.001545  0.000290  0.000631  ...  0.000084
2021-03-13      0.001428  0.001521  0.000436  0.000595  ...  0.000042
2021-03-14      0.001450  0.001081  0.000363  0.000298  ...  0.000021

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-12      0.000812  0.000339  0.000097   0.001103  0.002856  0.000969
2021-03-13      0.000406  0.000170  0.000049   0.000551  0.001428  0.000484
2021-03-14      0.000203  0.000085  0.000024   0.000276  0.000714  0.000242

Province_State
Admin2         Unassigned  Washakie    Weston
2021-03-12           -1.0  0.000603  0.003211
2021-03-13           -1.0  0.000302  0.001606
2021-03-14           -1.0  0.000151  0.000803

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-12,0.003214,0.00168,NaN,0.003288,0.004780,0.005598,0.001219,0.000970,0.002384,NaN,...,0.001479,0.004560,0.003989,0.003318,3.880511e-11,0.006352,0.002807,0.038147,0.001188,0.000833
2021-03-13,0.002967,0.00084,NaN,0.002461,0.004045,0.010986,0.001606,0.000485,0.003866,NaN,...,0.000740,0.003762,0.002986,0.006376,1.940255e-11,0.004381,0.001404,0.020667,0.001571,0.000416
2021-03-14,0.001483,0.00042,NaN,0.001442,0.003764,0.006796,0.000968,0.000242,0.002930,NaN,...,0.000370,0.002496,0.002978,0.003188,9.701277e-12,0.003893,0.000702,0.012517,0.000646,0.000208

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-12      0.006758  0.002397  0.004902 -0.000130  0.001008  0.006763
2021-03-13      0.003379  0.001199  0.012067 -0.000065  0.000504  0.003381
2021-03-14      0.001690  0.000599  0.006033 -0.000032  0.000252  0.001691

Province_State                                              ...   Wyoming  \
Admin2                Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-12      9.986223e-07  0.004318 -0.002739  0.004724  ...  0.004648
2021-03-13      4.993112e-07  0.005503 -0.001370  0.002362  ...  0.002324
2021-03-14      2.496556e-07  0.002752 -0.000685  0.001181  ...  0.001162

Province_State                                                                 \
Admin2                Platte  Sheridan      Sublette Sweetwater         Teton
2021-03-12      1.433422e-15  0.000054  1.171729e-21   0.000042  3.740379e-09
2021-03-13      7.167111e-16  0.000027  5.858645e-22   0.000021  1.870190e-09
2021-03-14      3.583555e-16  0.000014  2.929322e-22   0.000011  9.350948e-10

Province_State
Admin2                 Uinta Unassigned      Washakie        Weston
2021-03-12      1.900838e-16  -0.501961  7.280149e-14  1.546141e-12
2021-03-13      9.504189e-17  -0.501961  3.640075e-14  7.730705e-13
2021-03-14      4.752095e-17  -0.501961  1.820037e-14  3.865353e-13

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN