# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'08-31-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'08-31-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-01 04:28:31,33.93911,67.709953,38165,1402,29089,7674.0,Afghanistan,98.039112,3.673523
1,NaN,NaN,NaN,Albania,2020-09-01 04:28:31,41.15330,20.168300,9513,284,5214,4015.0,Albania,330.565015,2.985388
2,NaN,NaN,NaN,Algeria,2020-09-01 04:28:31,28.03390,1.659600,44494,1510,31244,11740.0,Algeria,101.466230,3.393716
3,NaN,NaN,NaN,Andorra,2020-09-01 04:28:31,42.50630,1.521800,1176,53,908,215.0,Andorra,1522.034556,4.506803
4,NaN,NaN,NaN,Angola,2020-09-01 04:28:31,-11.20270,17.873900,2654,108,1071,1475.0,Angola,8.075149,4.069329

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37953,37999,38054,38070,38113,38129,38140,38143,38162,38165
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8275,8427,8605,8759,8927,9083,9195,9279,9380,9513
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,41068,41460,41858,42228,42619,43016,43403,43781,44146,44494

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1385,1387,1389,1397,1401,1401,1402,1402,1402,1402
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,245,250,254,259,263,266,271,275,280,284
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1424,1435,1446,1456,1465,1475,1483,1491,1501,1510

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,28016,28180,28360,28440,29042,29046,29059,29063,29089,29089
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,4184,4332,4413,4530,4633,4791,4923,5020,5139,5214
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,28874,29142,29369,29587,29886,30157,30436,30717,30978,31244

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1264,1266,1286,1286,1281,1284,1296,1309,1345,1348
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4037,4069,4083,4100,4166,4199,4230,4307,4402,4422
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,626,629,633,628,616,614,620,624,628,628

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,22,22,22,22,22,22,22,22,22,22
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,32,32,32,32,33,34,35,36,36,38
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
631,1001.0,Autauga,Alabama,US,2020-09-01 04:28:31,32.539527,-86.644082,1348,22,0,1326.0,"Autauga, Alabama, US",2412.787055,1.632047
668,1075.0,Lamar,Alabama,US,2020-09-01 04:28:31,33.779950,-88.096680,273,2,0,271.0,"Lamar, Alabama, US",1977.544368,0.732601
669,1077.0,Lauderdale,Alabama,US,2020-09-01 04:28:31,34.901719,-87.656247,1411,23,0,1388.0,"Lauderdale, Alabama, US",1521.638322,1.630050

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US                6030587  183597    2184825
Brazil            3908272  121381    3268591
India             3691166   65288    2839882

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,6030587,183597,2184825,3662165,2020-09-01 04:28:31,37.923092,-91.345036
Brazil,3908272,121381,3268591,518300,2020-09-01 04:28:31,-12.669522,-48.480493
India,3691166,65288,2839882,785996,2020-09-01 04:28:31,23.088275,81.806127
Russia,992402,17128,807339,167935,2020-09-01 04:28:31,54.546312,62.120860
Peru,647166,28788,455457,162921,2020-09-01 04:28:31,-10.637324,-75.277744

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California         712475   13022          0
Texas              632739   12779          0
Florida            623471   11187          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,712475,13022,0,699453,2020-09-01 04:28:31,37.843962,-120.728594
Texas,632739,12779,0,619960,2020-09-01 04:28:31,31.660643,-98.653069
Florida,623471,11187,0,612284,2020-09-01 04:28:31,28.940755,-82.700744
New York,434756,32957,0,401799,2020-09-01 04:28:31,42.544151,-75.474183
Georgia,270471,5633,0,264838,2020-09-01 04:28:31,32.808532,-83.577430

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     241768    5784          0
Florida        Miami-Dade      156910    2437          0
Arizona        Maricopa        133728    2961          0
Illinois       Cook            126577    5058          0
Texas          Harris          106595    2192          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,241768,5784,0,235984,2020-09-01 04:28:31,34.308284,-118.228241,6037.0
Florida,Miami-Dade,156910,2437,0,154473,2020-09-01 04:28:31,25.611236,-80.551706,12086.0
Arizona,Maricopa,133728,2961,0,130767,2020-09-01 04:28:31,33.348359,-112.491815,4013.0
Illinois,Cook,126577,5058,0,121519,2020-09-01 04:28:31,41.841448,-87.816588,17031.0
Texas,Harris,106595,2192,0,104403,2020-09-01 04:28:31,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,38143,9279,43781,1124,2551,94,401239,43626,25670,26985,...,334916,1570,41067,44946,1040,21668,10,1946,11902,6406
2020-08-30,38162,9380,44146,1124,2624,94,408426,43750,25746,27166,...,336668,1585,41424,45868,1040,22204,10,1953,12025,6412
2020-08-31,38165,9513,44494,1176,2654,94,417735,43781,25819,27438,...,338083,1595,41893,46728,1044,22729,10,1958,12097,6497

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,1402,275,1491,53,107,3,8353,872,611,733,...,41585,44,307,375,32,147,1,563,284,196
2020-08-30,1402,280,1501,53,107,3,8457,877,652,733,...,41586,44,313,381,32,152,1,564,287,196
2020-08-31,1402,284,1510,53,108,3,8660,879,657,733,...,41589,44,320,386,34,152,1,566,288,202

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,29063,5020,30717,902,1041,89,287220,37563,20858,22866,...,1622,1364,38250,36175,677,14631,8,1113,11092,5056
2020-08-30,29089,5139,30978,902,1063,91,294007,37650,21114,23070,...,1624,1378,38655,37091,695,14787,8,1123,11454,5061
2020-08-31,29089,5214,31244,908,1071,91,301195,37722,21348,23226,...,1682,1409,39275,38112,707,15056,8,1131,11469,5221

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1264,1266,1286,1286,1281,1284,1296,1309,1345,1348
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,259,260,261,264,266,266,266,268,271,273
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,1320,1329,1339,1353,1364,1373,1384,1398,1405,1411
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,396,402,411,419,427,432,433,442,459,463
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,2916,2930,2940,2946,3006,3031,3091,3200,3247,3348

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-29,123889,5182,0,201287,60378,702038,57020,52495,17349,49,...,152280,626751,51406,1605,1118,118794,73879,9970,74800,3795
2020-08-30,125235,5226,0,201661,60856,705951,57203,52495,17343,49,...,153115,629570,51854,1616,1129,119729,74320,10109,75337,3829
2020-08-31,126058,5263,0,201835,61224,712475,57404,52879,17429,49,...,154933,632739,52107,1624,1134,120575,74635,10249,75603,3850

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-08-29        1309    4307     624  523   1004     535    827    2316
2020-08-30        1345    4402     628  533   1025     536    835    2346
2020-08-31        1348    4422     628  535   1034     537    837    2377

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-08-29          867      341  ...     159      7      147       48
2020-08-30          868      345  ...     160      7      148       48
2020-08-31          873      346  ...     164      7      149       48

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-08-29            296   425   292         73      108     11
2020-08-30            301   429   295         73      108     11
2020-08-31            302   430   298         73      108     11

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-29,2152,37,0,5007,772,12894,1942,4465,604,0,...,1725,12607,407,58,14,2568,1905,215,1119,37
2020-08-30,2162,37,0,5030,784,12937,1942,4465,604,0,...,1747,12683,407,58,14,2569,1905,214,1122,37
2020-08-31,2182,37,0,5029,797,13022,1945,4465,605,0,...,1754,12779,407,58,14,2580,1915,215,1122,37

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-08-29          22      36       7    6      9      13     36      29
2020-08-30          22      36       7    6     10      13     36      29
2020-08-31          22      38       7    7     11      13     36      30

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-08-29           39       11  ...       0      0        0        0
2020-08-30           39       11  ...       0      0        0        0
2020-08-31           39       11  ...       0      0        0        0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-08-29              0     0     0         36        0      0
2020-08-30              0     0     0         36        0      0
2020-08-31              0     0     0         36        0      0

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,0.000079,0.009135,0.008709,0.000000,0.032376,0.0,0.023545,0.004028,0.004815,0.014855,...,0.003325,0.008997,0.008522,0.024317,0.001927,0.019623,0.0,0.001544,0.010442,0.002818
2020-08-30,0.000498,0.010885,0.008337,0.000000,0.028616,0.0,0.017912,0.002842,0.002961,0.006707,...,0.005231,0.009554,0.008693,0.020514,0.000000,0.024737,0.0,0.003597,0.010334,0.000937
2020-08-31,0.000079,0.014179,0.007883,0.046263,0.011433,0.0,0.022792,0.000709,0.002835,0.010013,...,0.004203,0.006309,0.011322,0.018749,0.003846,0.023644,0.0,0.002560,0.005988,0.013256

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,0.0,0.014760,0.005394,0.0,0.009434,0.0,0.009914,0.003452,0.018333,0.0,...,0.000289,0.023256,0.016556,0.024590,0.066667,0.013793,0.0,0.000000,0.003534,0.005128
2020-08-30,0.0,0.018182,0.006707,0.0,0.000000,0.0,0.012451,0.005734,0.067103,0.0,...,0.000024,0.000000,0.019544,0.016000,0.000000,0.034014,0.0,0.001776,0.010563,0.000000
2020-08-31,0.0,0.014286,0.005996,0.0,0.009346,0.0,0.024004,0.002281,0.007669,0.0,...,0.000072,0.000000,0.022364,0.013123,0.062500,0.000000,0.0,0.003546,0.003484,0.030612

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,0.000138,0.019703,0.009232,0.000000,0.012646,0.000000,0.025182,0.008024,0.011003,0.012039,...,0.004334,0.008876,0.009954,0.034399,0.021116,0.023791,0.0,0.005420,0.013431,0.002578
2020-08-30,0.000895,0.023705,0.008497,0.000000,0.021134,0.022472,0.023630,0.002316,0.012273,0.008922,...,0.001233,0.010264,0.010588,0.025321,0.026588,0.010662,0.0,0.008985,0.032636,0.000989
2020-08-31,0.000000,0.014594,0.008587,0.006652,0.007526,0.000000,0.024448,0.001912,0.011083,0.006762,...,0.035714,0.022496,0.016039,0.027527,0.017266,0.018192,0.0,0.007124,0.001310,0.031614

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-29,0.013946,0.017675,NaN,0.003135,0.013343,0.006672,0.004705,0.000000,0.015571,0.0,...,0.009714,0.011943,0.008990,0.010069,0.040000,0.010342,0.007885,0.014655,0.011070,-0.002104
2020-08-30,0.010865,0.008491,NaN,0.001858,0.007917,0.005574,0.003209,0.000000,-0.000346,0.0,...,0.005483,0.004498,0.008715,0.006854,0.009839,0.007871,0.005969,0.013942,0.007179,0.008959
2020-08-31,0.006572,0.007080,NaN,0.000863,0.006047,0.009241,0.003514,0.007315,0.004959,0.0,...,0.011873,0.005034,0.004879,0.004950,0.004429,0.007066,0.004238,0.013849,0.003531,0.005484

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-08-29      0.010031  0.018203  0.006452  0.011605  0.021363  0.009434
2020-08-30      0.027502  0.022057  0.006410  0.019120  0.020916  0.001869
2020-08-31      0.002230  0.004543  0.000000  0.003752  0.008780  0.001866

Province_State                                          ...   Wyoming         \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park Platte
2020-08-29      0.015971  0.027051  0.004635  0.014881  ... -0.006250    0.0
2020-08-30      0.009674  0.012953  0.001153  0.011730  ...  0.006289    0.0
2020-08-31      0.002395  0.013214  0.005760  0.002899  ...  0.025000    0.0

Province_State                                                               \
Admin2          Sheridan Sublette Sweetwater     Teton     Uinta Unassigned
2020-08-29      0.042553      0.0   0.000000  0.002358  0.000000   0.377358
2020-08-30      0.006803      0.0   0.016892  0.009412  0.010274   0.000000
2020-08-31      0.006757      0.0   0.003322  0.002331  0.010169   0.000000

Province_State
Admin2         Washakie Weston
2020-08-29          0.0    0.0
2020-08-30          0.0    0.0
2020-08-31          0.0    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-29,0.021357,0.0,NaN,0.005826,0.021164,0.006950,0.002581,0.0,0.000000,NaN,...,0.014109,0.005583,0.0,0.0,0.0,0.007059,0.000000,0.069652,0.005391,0.0
2020-08-30,0.004647,0.0,NaN,0.004594,0.015544,0.003335,0.000000,0.0,0.000000,NaN,...,0.012754,0.006028,0.0,0.0,0.0,0.000389,0.000000,-0.004651,0.002681,0.0
2020-08-31,0.009251,0.0,NaN,-0.000199,0.016582,0.006570,0.001545,0.0,0.001656,NaN,...,0.004007,0.007569,0.0,0.0,0.0,0.004282,0.005249,0.004673,0.000000,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                       \
Admin2         Autauga   Baldwin Barbour      Bibb    Blount Bullock Butler
2020-08-29         0.0  0.028571     0.0  0.200000  0.000000     0.0    0.0
2020-08-30         0.0  0.000000     0.0  0.000000  0.111111     0.0    0.0
2020-08-31         0.0  0.055556     0.0  0.166667  0.100000     0.0    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2020-08-29      0.074074      0.0      0.0  ...     NaN    NaN      NaN
2020-08-30      0.000000      0.0      0.0  ...     NaN    NaN      NaN
2020-08-31      0.034483      0.0      0.0  ...     NaN    NaN      NaN

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2020-08-29          NaN        NaN   NaN   NaN        0.0      NaN    NaN
2020-08-30          NaN        NaN   NaN   NaN        0.0      NaN    NaN
2020-08-31          NaN        NaN   NaN   NaN        0.0      NaN    NaN

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,0.000295,0.012217,0.008927,0.008436,0.029317,0.000005,0.026212,0.003995,0.004668,0.012535,...,0.003652,0.006435,0.008551,0.023101,0.002358,0.022851,1.882295e-22,0.002658,0.012853,0.007789
2020-08-30,0.000396,0.011551,0.008632,0.004218,0.028967,0.000003,0.022062,0.003419,0.003814,0.009621,...,0.004442,0.007995,0.008622,0.021807,0.001179,0.023794,9.411477e-23,0.003128,0.011594,0.004363
2020-08-31,0.000238,0.012865,0.008257,0.025241,0.020200,0.000001,0.022427,0.002064,0.003325,0.009817,...,0.004322,0.007152,0.009972,0.020278,0.002513,0.023719,4.705739e-23,0.002844,0.008791,0.008810

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,0.000579,0.015619,0.005729,7.335956e-08,0.011631,5.784560e-42,0.019509,0.004087,0.023624,0.000035,...,0.000277,0.012451,0.017410,0.023075,0.040736,0.020484,0.0,0.001537,0.002985,0.024791
2020-08-30,0.000289,0.016901,0.006218,3.667978e-08,0.005815,2.892280e-42,0.015980,0.004911,0.045364,0.000018,...,0.000151,0.006225,0.018477,0.019537,0.020368,0.027249,0.0,0.001657,0.006774,0.012395
2020-08-31,0.000145,0.015593,0.006107,1.833989e-08,0.007581,1.446140e-42,0.019992,0.003596,0.026516,0.000009,...,0.000111,0.003113,0.020421,0.016330,0.041434,0.013624,0.0,0.002601,0.005129,0.021504

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-08-29,0.001797,0.023986,0.009203,0.003700,-0.000323,0.000016,0.023239,0.007661,0.012035,0.011340,...,0.011459,0.010384,0.013941,0.031887,0.027031,0.023718,1.102907e-24,0.005490,0.014004,0.004638
2020-08-30,0.001346,0.023846,0.008850,0.001850,0.010405,0.011244,0.023435,0.004989,0.012154,0.010131,...,0.006346,0.010324,0.012265,0.028604,0.026810,0.017190,5.514537e-25,0.007237,0.023320,0.002814
2020-08-31,0.000673,0.019220,0.008718,0.004251,0.008966,0.005622,0.023942,0.003450,0.011618,0.008447,...,0.021030,0.016410,0.014152,0.028066,0.022038,0.017691,2.757269e-25,0.007181,0.012315,0.017214

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-29,0.012772,0.018144,NaN,0.002901,0.012995,0.007301,0.005669,0.001393,0.009515,3.639509e-51,...,0.010409,0.009934,0.008341,0.006691,0.031156,0.009502,0.007680,0.014989,0.011126,0.006783
2020-08-30,0.011819,0.013317,NaN,0.002380,0.010456,0.006437,0.004439,0.000697,0.004585,1.819755e-51,...,0.007946,0.007216,0.008528,0.006772,0.020497,0.008686,0.006825,0.014465,0.009152,0.007871
2020-08-31,0.009195,0.010199,NaN,0.001621,0.008251,0.007839,0.003976,0.004006,0.004772,9.098773e-52,...,0.009910,0.006125,0.006703,0.005861,0.012463,0.007876,0.005532,0.014157,0.006342,0.006678

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-08-29      0.007718  0.013261  0.004010  0.007744  0.014178  0.006287
2020-08-30      0.017610  0.017659  0.005210  0.013432  0.017547  0.004078
2020-08-31      0.009920  0.011101  0.002605  0.008592  0.013164  0.002972

Province_State                                          ...  Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...     Park
2020-08-29      0.009316  0.018989  0.002616  0.008972  ... -0.00217
2020-08-30      0.009495  0.015971  0.001884  0.010351  ...  0.00206
2020-08-31      0.005945  0.014593  0.003822  0.006625  ...  0.01353

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-08-29      0.000042  0.052184  0.000672   0.001447  0.006558  0.003930
2020-08-30      0.000021  0.029493  0.000336   0.009170  0.007985  0.007102
2020-08-31      0.000011  0.018125  0.000168   0.006246  0.005158  0.008636

Province_State
Admin2         Unassigned  Washakie    Weston
2020-08-29       0.251572  0.000150 -0.000704
2020-08-30       0.107817  0.000075 -0.000352
2020-08-31       0.050314  0.000037 -0.000176

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-08-29,0.016918,0.006102,NaN,0.007842,0.020568,0.008805,0.002507,0.000078,0.000174,NaN,...,0.015079,0.010453,0.004554,1.054011e-09,0.014147,0.007350,0.003037,0.046571,0.005180,0.000238
2020-08-30,0.010782,0.003051,NaN,0.006218,0.018056,0.006070,0.001254,0.000039,0.000087,NaN,...,0.013916,0.008241,0.002277,5.270055e-10,0.007074,0.003870,0.001518,0.020960,0.003931,0.000119
2020-08-31,0.010016,0.001525,NaN,0.003009,0.017319,0.006320,0.001399,0.000020,0.000871,NaN,...,0.008962,0.007905,0.001139,2.635027e-10,0.003537,0.004076,0.003384,0.012816,0.001965,0.000059

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State       Alabama                                          \
Admin2               Autauga   Baldwin   Barbour      Bibb    Blount
2020-08-29      9.231625e-08  0.027484  0.000082  0.089779  0.082236
2020-08-30      4.615812e-08  0.013742  0.000041  0.044889  0.096674
2020-08-31      2.307906e-08  0.034649  0.000020  0.105778  0.098337

Province_State                                                        ...  \
Admin2           Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2020-08-29      0.000022  6.813812e-09  0.055652  0.006579  0.027900  ...
2020-08-30      0.000011  3.406906e-09  0.027826  0.003289  0.013950  ...
2020-08-31      0.000006  1.703453e-09  0.031154  0.001645  0.006975  ...

Province_State Wyoming                                                  \
Admin2            Park Platte Sheridan Sublette Sweetwater Teton Uinta
2020-08-29         NaN    NaN      NaN      NaN        NaN   NaN   NaN
2020-08-30         NaN    NaN      NaN      NaN        NaN   NaN   NaN
2020-08-31         NaN    NaN      NaN      NaN        NaN   NaN   NaN

Province_State
Admin2         Unassigned Washakie Weston
2020-08-29       0.000245      NaN    NaN
2020-08-30       0.000123      NaN    NaN
2020-08-31       0.000061      NaN    NaN

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200831,AK,6125,342505,NaN,39.0,NaN,NaN,NaN,8.0,...,348630,0,0,cf39874094a3ac9c4c3b69e94b68927b52a862eb,0,0,0,0,0,NaN
1,20200831,AL,126058,859229,NaN,1004.0,14267.0,NaN,1474.0,NaN,...,985287,20,0,7547348e99fc537845e193fe2c58d552b40036cb,0,0,0,0,0,NaN
2,20200831,AR,61224,665811,NaN,420.0,4213.0,NaN,NaN,87.0,...,727035,13,31,6a343a185910575b6b3dc7204110439160baf877,0,0,0,0,0,NaN
3,20200831,AS,0,1514,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,8f3c57405a00039abce1cf8f2f71703761321707,0,0,0,0,0,NaN
4,20200831,AZ,201835,1002594,NaN,768.0,21405.0,256.0,NaN,152.0,...,1204429,-1,-16,3410711ea86edea436f3bf920d6fef2b765a927c,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200831,AK,6125.0,342505.0,NaN,39.0,NaN,NaN,NaN,8.0,...,348630,0,0,cf39874094a3ac9c4c3b69e94b68927b52a862eb,0,0,0,0,0,NaN
1,20200831,AL,126058.0,859229.0,NaN,1004.0,14267.0,NaN,1474.0,NaN,...,985287,20,0,7547348e99fc537845e193fe2c58d552b40036cb,0,0,0,0,0,NaN
2,20200831,AR,61224.0,665811.0,NaN,420.0,4213.0,NaN,NaN,87.0,...,727035,13,31,6a343a185910575b6b3dc7204110439160baf877,0,0,0,0,0,NaN
3,20200831,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,8f3c57405a00039abce1cf8f2f71703761321707,0,0,0,0,0,NaN
4,20200831,AZ,201835.0,1002594.0,NaN,768.0,21405.0,256.0,NaN,152.0,...,1204429,-1,-16,3410711ea86edea436f3bf920d6fef2b765a927c,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,AK,6125,342505,NaN,39.0,NaN,NaN,NaN,8.0,NaN,...,348630,0,0,cf39874094a3ac9c4c3b69e94b68927b52a862eb,0,0,0,0,0,NaN
2020-08-31,AL,126058,859229,NaN,1004.0,14267.0,NaN,1474.0,NaN,807.0,...,985287,20,0,7547348e99fc537845e193fe2c58d552b40036cb,0,0,0,0,0,NaN
2020-08-31,AR,61224,665811,NaN,420.0,4213.0,NaN,NaN,87.0,542.0,...,727035,13,31,6a343a185910575b6b3dc7204110439160baf877,0,0,0,0,0,NaN
2020-08-31,AS,0,1514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,8f3c57405a00039abce1cf8f2f71703761321707,0,0,0,0,0,NaN
2020-08-31,AZ,201835,1002594,NaN,768.0,21405.0,256.0,NaN,152.0,NaN,...,1204429,-1,-16,3410711ea86edea436f3bf920d6fef2b765a927c,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,AK,6125.0,342505.0,NaN,39.0,NaN,NaN,NaN,8.0,NaN,...,348630,0,0,cf39874094a3ac9c4c3b69e94b68927b52a862eb,0,0,0,0,0,NaN
2020-08-31,AL,126058.0,859229.0,NaN,1004.0,14267.0,NaN,1474.0,NaN,807.0,...,985287,20,0,7547348e99fc537845e193fe2c58d552b40036cb,0,0,0,0,0,NaN
2020-08-31,AR,61224.0,665811.0,NaN,420.0,4213.0,NaN,NaN,87.0,542.0,...,727035,13,31,6a343a185910575b6b3dc7204110439160baf877,0,0,0,0,0,NaN
2020-08-31,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,8f3c57405a00039abce1cf8f2f71703761321707,0,0,0,0,0,NaN
2020-08-31,AZ,201835.0,1002594.0,NaN,768.0,21405.0,256.0,NaN,152.0,NaN,...,1204429,-1,-16,3410711ea86edea436f3bf920d6fef2b765a927c,0,0,0,0,0,NaN

# TODO - CONTINUE FROM HERE