# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'11-25-2020'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'11-25-2020'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-26 05:27:44,33.93911,67.709953,45490,1725,36145,7620.0,Afghanistan,116.855738,3.792042
1,NaN,NaN,NaN,Albania,2020-11-26 05:27:44,41.15330,20.168300,34944,743,17031,17170.0,Albania,1214.260894,2.126259
2,NaN,NaN,NaN,Algeria,2020-11-26 05:27:44,28.03390,1.659600,78025,2329,50712,24984.0,Algeria,177.931914,2.984941
3,NaN,NaN,NaN,Andorra,2020-11-26 05:27:44,42.50630,1.521800,6428,76,5542,810.0,Andorra,8319.420177,1.182327
4,NaN,NaN,NaN,Angola,2020-11-26 05:27:44,-11.20270,17.873900,14821,340,7517,6964.0,Angola,45.094867,2.294042

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,43403,43628,43851,44228,44443,44503,44706,44988,45280,45490
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,28432,29126,29837,30623,31459,32196,32761,33556,34300,34944
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,68589,69591,70629,71652,72755,73774,74862,75867,77000,78025

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1626,1638,1645,1650,1661,1675,1687,1695,1712,1725
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,631,637,646,657,672,685,699,716,735,743
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2168,2186,2206,2224,2236,2255,2272,2294,2309,2329

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,35137,35160,35295,35350,35370,35422,35934,35976,36122,36145
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,13453,13804,14216,14565,15055,15469,15842,16230,16666,17031
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,45148,45148,46326,46962,47581,48183,48794,49421,50070,50712

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2481,2506,2529,2554,2580,2597,2617,2634,2661,2686
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,7696,7772,7849,7933,8038,8131,8199,8269,8376,8473
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1130,1134,1137,1145,1151,1157,1160,1161,1167,1170

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,36,37,37,39,39,39,39,39,39,41
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,84,84,84,84,84,84,84,84,84,98
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,9,9,10,10,10,10,10,10,10,10

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
648,1001.0,Autauga,Alabama,US,2020-11-26 05:27:44,32.539527,-86.644082,2686,41,0,2645.0,"Autauga, Alabama, US",4807.675097,1.526433
685,1075.0,Lamar,Alabama,US,2020-11-26 05:27:44,33.779950,-88.096680,650,8,0,642.0,"Lamar, Alabama, US",4708.438971,1.230769
686,1077.0,Lauderdale,Alabama,US,2020-11-26 05:27:44,34.901719,-87.656247,3936,53,0,3883.0,"Lauderdale, Alabama, US",4244.626816,1.346545

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               12772653  262222    4835956
India             9266705  135223    8679138
Brazil            6166606  170769    5534010

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,12772653,262222,4835956,7674475,2020-11-26 05:27:44,37.936303,-91.379001
India,9266705,135223,8679138,452344,2020-11-26 05:27:44,23.088275,81.806127
Brazil,6166606,170769,5534010,461827,2020-11-26 05:27:44,-12.669522,-48.480493
France,2221874,50700,162130,2009044,2020-11-26 05:27:44,8.314863,-21.695174
Russia,2144229,37173,1646737,460319,2020-11-26 05:27:44,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
Texas             1196711   21454          0
California        1160940   18968          0
Florida            961676   18254          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
Texas,1196711,21454,0,1175257,2020-11-26 05:27:44,31.660643,-98.653069
California,1160940,18968,0,1141972,2020-11-26 05:27:44,37.843962,-120.728594
Florida,961676,18254,0,943422,2020-11-26 05:27:44,28.940755,-82.700744
Illinois,685467,12439,0,673028,2020-11-26 05:27:44,39.843618,-89.178330
New York,613266,34388,0,578878,2020-11-26 05:27:44,42.544151,-75.474183

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles     378323    7543          0
Illinois       Cook            291312    6414          0
Florida        Miami-Dade      220414    3792          0
Arizona        Maricopa        196849    3927          0
Texas          Harris          187163    2984          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,378323,7543,0,370780,2020-11-26 05:27:44,34.308284,-118.228241,6037.0
Illinois,Cook,291312,6414,0,284898,2020-11-26 05:27:44,41.841448,-87.816588,17031.0
Florida,Miami-Dade,220414,3792,0,216622,2020-11-26 05:27:44,25.611236,-80.551706,12086.0
Arizona,Maricopa,196849,3927,0,192922,2020-11-26 05:27:44,33.348359,-112.491815,4013.0
Texas,Harris,187163,2984,0,184179,2020-11-26 05:27:44,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,44988,33556,75867,6304,14634,139,1374631,126709,27843,250333,...,4763,71774,1,100143,1312,73196,10,2107,17454,9308
2020-11-24,45280,34300,77000,6351,14742,139,1381795,127522,27853,254710,...,4870,71985,1,100498,1316,75007,10,2114,17466,9398
2020-11-25,45490,34944,78025,6428,14821,140,1390388,129085,27865,260512,...,4988,72227,1,100817,1321,76727,10,2124,17535,9508

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,1695,716,2294,76,337,4,37122,1976,907,2459,...,71,604,0,873,35,645,1,609,357,273
2020-11-24,1712,735,2309,76,338,4,37432,2002,907,2577,...,72,604,0,876,35,656,1,609,357,274
2020-11-25,1725,743,2329,76,340,4,37714,2040,907,2667,...,73,606,0,880,35,665,1,611,357,274

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,35976,16230,49421,5405,7351,128,1203800,95099,25533,175527,...,3764,69054,0,94985,1151,59538,8,1459,16701,8288
2020-11-24,36122,16666,50070,5503,7444,128,1210634,98944,25539,182620,...,3827,69240,0,95344,1153,60009,8,1467,16707,8297
2020-11-25,36145,17031,50712,5542,7517,129,1217284,100913,25547,189059,...,3923,69477,0,95669,1153,60499,8,1474,16755,8336

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2481,2506,2529,2554,2580,2597,2617,2634,2661,2686
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,584,588,596,600,601,609,622,626,633,650
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,3360,3431,3487,3578,3653,3712,3783,3829,3872,3936
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,1080,1098,1124,1152,1179,1201,1214,1224,1239,1248
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,7240,7278,7331,7363,7421,7478,7504,7539,7597,7644

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-23,234080,28273,0,302324,146190,1128219,202289,106740,32211,49,...,344550,1162052,179420,3714,1507,221038,147537,41114,379693,29431
2020-11-24,236865,28863,0,306868,148312,1145209,206439,107280,32664,49,...,345916,1181533,182121,3762,1521,223582,151019,42083,386441,29959
2020-11-25,239318,29543,0,310850,150277,1160940,210630,109152,32995,49,...,347972,1196711,183902,3827,1521,226300,153906,43050,392438,30761

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2020-11-23        2634    8269    1161  1142   2763     690   1137    5997
2020-11-24        2661    8376    1167  1157   2822     690   1143    6049
2020-11-25        2686    8473    1170  1162   2855     691   1144    6112

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-23         1680      989  ...    1199    298     1751      383
2020-11-24         1714      996  ...    1219    303     1791      405
2020-11-25         1737     1008  ...    1239    307     1821      412

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-23           1548  1433   950          0      325    372
2020-11-24           1563  1442   982          0      339    383
2020-11-25           1598  1476  1016          0      395    386

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-23,3459,103,0,6464,2387,18753,2810,4871,752,0,...,4301,21049,797,63,23,3942,2655,667,3158,202
2020-11-24,3472,116,0,6515,2405,18862,2860,4881,757,0,...,4372,21245,808,64,23,3979,2690,682,3272,202
2020-11-25,3532,116,0,6524,2425,18968,2906,4926,760,0,...,4466,21454,834,64,23,4008,2704,695,3343,215

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2020-11-23          39      84      10   17     36      19     41     113
2020-11-24          39      84      10   17     36      19     41     113
2020-11-25          41      98      10   17     39      19     41     115

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2020-11-23           48       24  ...       6      6       10        1
2020-11-24           48       24  ...       6      6       10        1
2020-11-25           49       24  ...       6      7       10        1

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2020-11-23              6     2     4          0        7      1
2020-11-24              6     2     4          0        7      1
2020-11-25              6     2     4          0        8      1

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,0.006308,0.024267,0.013425,0.007673,0.009729,0.000000,0.003112,0.003842,0.000323,0.012723,...,0.013620,0.002192,0.0,0.003085,0.003826,0.021663,0.0,0.003811,0.001722,0.009544
2020-11-24,0.006491,0.022172,0.014934,0.007456,0.007380,0.000000,0.005212,0.006416,0.000359,0.017485,...,0.022465,0.002940,0.0,0.003545,0.003049,0.024742,0.0,0.003322,0.000688,0.009669
2020-11-25,0.004638,0.018776,0.013312,0.012124,0.005359,0.007194,0.006219,0.012257,0.000431,0.022779,...,0.024230,0.003362,0.0,0.003174,0.003799,0.022931,0.0,0.004730,0.003951,0.011705

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,0.004742,0.024320,0.009683,0.0,0.000000,0.0,0.003243,0.012295,0.0,0.029732,...,0.000000,0.001658,NaN,0.002296,0.0,0.014151,0.0,0.001645,0.0,0.018657
2020-11-24,0.010029,0.026536,0.006539,0.0,0.002967,0.0,0.008351,0.013158,0.0,0.047987,...,0.014085,0.000000,NaN,0.003436,0.0,0.017054,0.0,0.000000,0.0,0.003663
2020-11-25,0.007593,0.010884,0.008662,0.0,0.005917,0.0,0.007534,0.018981,0.0,0.034924,...,0.013889,0.003311,NaN,0.004566,0.0,0.013720,0.0,0.003284,0.0,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,0.001169,0.024492,0.012850,0.008772,0.000681,0.000000,0.006949,0.010724,0.000235,0.037026,...,0.023104,0.003298,NaN,0.006677,0.007881,0.008760,0.0,0.007597,0.000000,0.004606
2020-11-24,0.004058,0.026864,0.013132,0.018131,0.012651,0.000000,0.005677,0.040432,0.000235,0.040410,...,0.016738,0.002694,NaN,0.003780,0.001738,0.007911,0.0,0.005483,0.000359,0.001086
2020-11-25,0.000637,0.021901,0.012822,0.007087,0.009807,0.007812,0.005493,0.019900,0.000313,0.035259,...,0.025085,0.003423,NaN,0.003409,0.000000,0.008165,0.0,0.004772,0.002873,0.004700

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-23,0.006770,0.018003,NaN,0.008873,0.007005,0.012288,0.018575,0.051947,0.012670,0.0,...,0.011966,0.007389,0.012665,0.023422,0.001995,0.014885,0.044436,0.015712,0.009183,0.044801
2020-11-24,0.011898,0.020868,NaN,0.015030,0.014515,0.015059,0.020515,0.005059,0.014064,0.0,...,0.003965,0.016764,0.015054,0.012924,0.009290,0.011509,0.023601,0.023569,0.017772,0.017940
2020-11-25,0.010356,0.023560,NaN,0.012976,0.013249,0.013736,0.020301,0.017450,0.010133,0.0,...,0.005944,0.012846,0.009779,0.017278,0.000000,0.012157,0.019117,0.022978,0.015519,0.026770

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-23      0.006496  0.008538  0.000862  0.005282  0.003268  0.001451
2020-11-24      0.010251  0.012940  0.005168  0.013135  0.021354  0.000000
2020-11-25      0.009395  0.011581  0.002571  0.004322  0.011694  0.001449

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-23      0.003530  0.005533  0.002985  0.004061  ...  0.026541
2020-11-24      0.005277  0.008671  0.020238  0.007078  ...  0.016681
2020-11-25      0.000875  0.010415  0.013419  0.012048  ...  0.016407

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-23      0.024055  0.059927  0.024064   0.089374  0.045222  0.032609
2020-11-24      0.016779  0.022844  0.057441   0.009690  0.006281  0.033684
2020-11-25      0.013201  0.016750  0.017284   0.022393  0.023578  0.034623

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-23            NaN  0.031746  0.000000
2020-11-24            NaN  0.043077  0.029570
2020-11-25            NaN  0.165192  0.007833

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-23,0.000579,0.000000,NaN,0.000000,0.012728,0.001442,0.001426,0.008906,0.005348,NaN,...,0.008204,0.001713,0.005044,0.000000,0.0,0.001016,0.013746,0.007553,0.002540,0.147727
2020-11-24,0.003758,0.126214,NaN,0.007890,0.007541,0.005812,0.017794,0.002053,0.006649,NaN,...,0.016508,0.009312,0.013802,0.015873,0.0,0.009386,0.013183,0.022489,0.036099,0.000000
2020-11-25,0.017281,0.000000,NaN,0.001381,0.008316,0.005620,0.016084,0.009219,0.003963,NaN,...,0.021500,0.009838,0.032178,0.000000,0.0,0.007288,0.005204,0.019062,0.021699,0.064356

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin Barbour Bibb    Blount Bullock Butler
2020-11-23      0.000000  0.000000     0.0  0.0  0.000000     0.0    0.0
2020-11-24      0.000000  0.000000     0.0  0.0  0.000000     0.0    0.0
2020-11-25      0.051282  0.166667     0.0  0.0  0.083333     0.0    0.0

Province_State                               ... Wyoming                     \
Admin2           Calhoun  Chambers Cherokee  ...    Park    Platte Sheridan
2020-11-23      0.000000  0.000000      0.0  ...     0.5  0.200000      0.0
2020-11-24      0.000000  0.000000      0.0  ...     0.0  0.000000      0.0
2020-11-25      0.017699  0.020833      0.0  ...     0.0  0.166667      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned  Washakie Weston
2020-11-23          0.0        0.0   0.0   0.0        NaN  0.000000    inf
2020-11-24          0.0        0.0   0.0   0.0        NaN  0.000000    0.0
2020-11-25          0.0        0.0   0.0   0.0        NaN  0.142857    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,0.005185,0.022715,0.014015,0.008483,0.008910,0.000598,0.003891,0.007495,0.000400,0.019052,...,0.019324,0.002516,0.0,0.003504,0.002562,0.020902,2.432810e-48,0.003004,0.001731,0.007684
2020-11-24,0.005838,0.022444,0.014474,0.007969,0.008145,0.000299,0.004551,0.006956,0.000380,0.018268,...,0.020895,0.002728,0.0,0.003524,0.002806,0.022822,1.216405e-48,0.003163,0.001209,0.008676
2020-11-25,0.005238,0.020610,0.013893,0.010047,0.006752,0.003747,0.005385,0.009606,0.000405,0.020524,...,0.022562,0.003045,0.0,0.003349,0.003303,0.022877,6.082025e-49,0.003947,0.002580,0.010191

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,0.005898,0.022052,0.008641,0.000026,0.002108,0.000326,0.003521,0.012902,8.242163e-12,0.032702,...,0.007983,0.001118,NaN,0.002580,8.224301e-27,0.018181,0.0,0.000900,0.000852,0.012793
2020-11-24,0.007964,0.024294,0.007590,0.000013,0.002538,0.000163,0.005936,0.013030,4.121082e-12,0.040345,...,0.011034,0.000559,NaN,0.003008,4.112151e-27,0.017618,0.0,0.000450,0.000426,0.008228
2020-11-25,0.007779,0.017589,0.008126,0.000007,0.004228,0.000081,0.006735,0.016005,2.060541e-12,0.037634,...,0.012461,0.001935,NaN,0.003787,2.056075e-27,0.015669,0.0,0.001867,0.000213,0.004114

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-11-23,0.004539,0.025457,0.012922,0.011247,0.008412,0.001010,0.007318,0.017257,0.000209,0.039363,...,0.020608,0.003041,NaN,0.004199,0.004522,0.009502,1.425475e-50,0.006262,0.001389,0.003248
2020-11-24,0.004299,0.026160,0.013027,0.014689,0.010532,0.000505,0.006498,0.028844,0.000222,0.039886,...,0.018673,0.002867,NaN,0.003989,0.003130,0.008706,7.127373e-51,0.005873,0.000874,0.002167
2020-11-25,0.002468,0.024031,0.012924,0.010888,0.010169,0.004159,0.005995,0.024372,0.000268,0.037573,...,0.021879,0.003145,NaN,0.003699,0.001565,0.008436,3.563686e-51,0.005322,0.001874,0.003434

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-23,0.007940,0.019713,NaN,0.011412,0.009328,0.011439,0.022274,0.028751,0.014372,4.703956e-77,...,0.012401,0.008422,0.016507,0.025791,0.004855,0.012634,0.025604,0.020643,0.012298,0.035208
2020-11-24,0.009919,0.020290,NaN,0.013221,0.011922,0.013249,0.021395,0.016905,0.014218,2.351978e-77,...,0.008183,0.012593,0.015781,0.019358,0.007073,0.012072,0.024602,0.022106,0.015035,0.026574
2020-11-25,0.010138,0.021925,NaN,0.013099,0.012585,0.013493,0.020848,0.017177,0.012176,1.175989e-77,...,0.007063,0.012720,0.012780,0.018318,0.003536,0.012114,0.021860,0.022542,0.015277,0.026672

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2020-11-23      0.007240  0.009255  0.002371  0.029338  0.006183  0.002304
2020-11-24      0.008745  0.011097  0.003769  0.021236  0.013768  0.001152
2020-11-25      0.009070  0.011339  0.003170  0.012779  0.012731  0.001301

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2020-11-23      0.004162  0.006529  0.004486  0.007461  ...  0.017290
2020-11-24      0.004719  0.007600  0.012362  0.007269  ...  0.016986
2020-11-25      0.002797  0.009008  0.012890  0.009659  ...  0.016696

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2020-11-23      0.020534  0.045565  0.029159   0.061677  0.030161  0.027041
2020-11-24      0.018656  0.034204  0.043300   0.035684  0.018221  0.030363
2020-11-25      0.015929  0.025477  0.030292   0.029038  0.020900  0.032493

Province_State
Admin2         Unassigned  Washakie    Weston
2020-11-23           -1.0  0.040333  0.007089
2020-11-24           -1.0  0.041705  0.018330
2020-11-25           -1.0  0.103448  0.013081

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2020-11-23,0.002121,0.004187,NaN,0.001523,0.010706,0.002267,0.006038,0.004972,0.003784,NaN,...,0.009783,0.004222,0.009118,0.003827,6.605541e-08,0.002064,0.007638,0.011797,0.007187,0.078833
2020-11-24,0.002940,0.065200,NaN,0.004706,0.009123,0.004040,0.011916,0.003513,0.005216,NaN,...,0.013145,0.006767,0.011460,0.009850,3.302770e-08,0.005725,0.010411,0.017143,0.021643,0.039416
2020-11-25,0.010110,0.032600,NaN,0.003044,0.008720,0.004830,0.014000,0.006366,0.004590,NaN,...,0.017323,0.008302,0.021819,0.004925,1.651385e-08,0.006507,0.007807,0.018102,0.021671,0.051886

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga       Baldwin   Barbour      Bibb    Blount
2020-11-23      0.001975  1.092288e-06  0.001736 -0.006021  0.004069
2020-11-24      0.000988  5.461439e-07  0.000868 -0.003011  0.002034
2020-11-25      0.026135  8.333361e-02  0.000434 -0.001505  0.042684

Province_State                                                            ...  \
Admin2           Bullock        Butler   Calhoun      Chambers  Cherokee  ...
2020-11-23      0.000010  9.313226e-11  0.010059  2.055577e-08  0.016667  ...
2020-11-24      0.000005  4.656613e-11  0.005030  1.027788e-08  0.008333  ...
2020-11-25      0.000003  2.328306e-11  0.011364  1.041667e-02  0.004167  ...

Province_State   Wyoming                                          \
Admin2              Park    Platte  Sheridan Sublette Sweetwater
2020-11-23      0.250326  0.100245  0.004454      0.0   0.015626
2020-11-24      0.125163  0.050122  0.002227      0.0   0.007813
2020-11-25      0.062581  0.108395  0.001114      0.0   0.003906

Province_State
Admin2                 Teton     Uinta Unassigned      Washakie    Weston
2020-11-23      4.768372e-07  0.000005  -0.972376  3.789561e-14 -0.533333
2020-11-24      2.384186e-07  0.000003  -0.972376  1.894781e-14 -0.000015
2020-11-25      1.192093e-07  0.000001  -0.972376  7.142857e-02 -0.000005

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201125,AK,28339,NaN,925937,NaN,totalTestsViral,954276,145.0,663.0,...,954276,0,32,e4015d41f79fe8f9552517702ee27996c0d86b6a,0,0,0,0,0,NaN
1,20201125,AL,239318,39692.0,1353961,NaN,totalTestsViral,1553587,1483.0,24376.0,...,1593279,60,216,cfbf3932514b39bd3f684d0fc235d8daa8009616,0,0,0,0,0,NaN
2,20201125,AR,150277,18028.0,1500257,NaN,totalTestsViral,1632506,1028.0,8711.0,...,1650534,20,91,44d679a91541ebd3efe3fbdb6a2edd0c0dd73198,0,0,0,0,0,NaN
3,20201125,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,...,1988,0,0,51001ca806666f079fe2c62f8c37f031e018ceee,0,0,0,0,0,NaN
4,20201125,AZ,310850,9113.0,1855402,NaN,totalTestsPeopleViral,2157139,2217.0,24952.0,...,2166252,9,286,d9a1592f9475efabe4afdc65d5369d969bd86d4f,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201125,AK,28339.0,NaN,925937.0,NaN,totalTestsViral,954276.0,145.0,663.0,...,954276,0,32,e4015d41f79fe8f9552517702ee27996c0d86b6a,0,0,0,0,0,NaN
1,20201125,AL,239318.0,39692.0,1353961.0,NaN,totalTestsViral,1553587.0,1483.0,24376.0,...,1593279,60,216,cfbf3932514b39bd3f684d0fc235d8daa8009616,0,0,0,0,0,NaN
2,20201125,AR,150277.0,18028.0,1500257.0,NaN,totalTestsViral,1632506.0,1028.0,8711.0,...,1650534,20,91,44d679a91541ebd3efe3fbdb6a2edd0c0dd73198,0,0,0,0,0,NaN
3,20201125,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,...,1988,0,0,51001ca806666f079fe2c62f8c37f031e018ceee,0,0,0,0,0,NaN
4,20201125,AZ,310850.0,9113.0,1855402.0,NaN,totalTestsPeopleViral,2157139.0,2217.0,24952.0,...,2166252,9,286,d9a1592f9475efabe4afdc65d5369d969bd86d4f,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-25,AK,28339,NaN,925937,NaN,totalTestsViral,954276,145.0,663.0,NaN,...,954276,0,32,e4015d41f79fe8f9552517702ee27996c0d86b6a,0,0,0,0,0,NaN
2020-11-25,AL,239318,39692.0,1353961,NaN,totalTestsViral,1553587,1483.0,24376.0,NaN,...,1593279,60,216,cfbf3932514b39bd3f684d0fc235d8daa8009616,0,0,0,0,0,NaN
2020-11-25,AR,150277,18028.0,1500257,NaN,totalTestsViral,1632506,1028.0,8711.0,400.0,...,1650534,20,91,44d679a91541ebd3efe3fbdb6a2edd0c0dd73198,0,0,0,0,0,NaN
2020-11-25,AS,0,NaN,1988,NaN,totalTestsViral,1988,NaN,NaN,NaN,...,1988,0,0,51001ca806666f079fe2c62f8c37f031e018ceee,0,0,0,0,0,NaN
2020-11-25,AZ,310850,9113.0,1855402,NaN,totalTestsPeopleViral,2157139,2217.0,24952.0,531.0,...,2166252,9,286,d9a1592f9475efabe4afdc65d5369d969bd86d4f,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-11-25,AK,28339.0,NaN,925937.0,NaN,totalTestsViral,954276.0,145.0,663.0,NaN,...,954276,0,32,e4015d41f79fe8f9552517702ee27996c0d86b6a,0,0,0,0,0,NaN
2020-11-25,AL,239318.0,39692.0,1353961.0,NaN,totalTestsViral,1553587.0,1483.0,24376.0,NaN,...,1593279,60,216,cfbf3932514b39bd3f684d0fc235d8daa8009616,0,0,0,0,0,NaN
2020-11-25,AR,150277.0,18028.0,1500257.0,NaN,totalTestsViral,1632506.0,1028.0,8711.0,400.0,...,1650534,20,91,44d679a91541ebd3efe3fbdb6a2edd0c0dd73198,0,0,0,0,0,NaN
2020-11-25,AS,0.0,NaN,1988.0,NaN,totalTestsViral,1988.0,NaN,NaN,NaN,...,1988,0,0,51001ca806666f079fe2c62f8c37f031e018ceee,0,0,0,0,0,NaN
2020-11-25,AZ,310850.0,9113.0,1855402.0,NaN,totalTestsPeopleViral,2157139.0,2217.0,24952.0,531.0,...,2166252,9,286,d9a1592f9475efabe4afdc65d5369d969bd86d4f,0,0,0,0,0,NaN