# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'02-04-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'02-03-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-02-04 05:22:26,33.93911,67.709953,55174,2406,47982,4786.0,Afghanistan,141.732215,4.360750
1,NaN,NaN,NaN,Albania,2021-02-04 05:22:26,41.15330,20.168300,80941,1404,48958,30579.0,Albania,2812.599903,1.734597
2,NaN,NaN,NaN,Algeria,2021-02-04 05:22:26,28.03390,1.659600,108116,2900,73940,31276.0,Algeria,246.552859,2.682304
3,NaN,NaN,NaN,Andorra,2021-02-04 05:22:26,42.50630,1.521800,10070,103,9313,654.0,Andorra,13033.068013,1.022840
4,NaN,NaN,NaN,Angola,2021-02-04 05:22:26,-11.20270,17.873900,19937,470,18335,1132.0,Angola,60.660979,2.357426

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,54672,54750,54854,54891,54939,55008,55023,55059,55121,55174
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,72812,73691,74567,75454,76350,77251,78127,78992,79934,80941
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,105854,106097,106359,106610,106887,107122,107339,107578,107841,108116

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2389,2389,2397,2399,2400,2400,2404,2405,2406,2407
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1332,1339,1350,1358,1369,1380,1393,1398,1404,1418
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2871,2877,2881,2884,2888,2891,2894,2898,2900,2904

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,47459,47549,47583,47606,47609,47679,47723,47798,47982,47995
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,44880,45383,45906,46420,46927,47424,47922,48377,48958,49543
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,72336,72538,72745,72956,73152,73344,73530,73732,73940,74136

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5407,5440,5499,5554,5596,5596,5669,5683,5723,5753
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,17333,17496,17629,17779,17922,17922,18126,18211,18344,18418
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1834,1882,1898,1920,1931,1931,1951,1956,1966,1981

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,65,67,69,69,69,69,69,70,71,74
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,216,217,225,224,224,224,224,228,228,233
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,40,40,40,40,40,40,40,40,42,43

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
651,1001.0,Autauga,Alabama,US,2021-02-04 05:22:26,32.539527,-86.644082,5753,71,0,5682.0,"Autauga, Alabama, US",10297.302619,1.234139
688,1075.0,Lamar,Alabama,US,2021-02-04 05:22:26,33.779950,-88.096680,1253,29,0,1224.0,"Lamar, Alabama, US",9076.421586,2.314445
689,1077.0,Lauderdale,Alabama,US,2021-02-04 05:22:26,34.901719,-87.656247,8255,174,0,8081.0,"Lauderdale, Alabama, US",8902.285154,2.107813

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               26557026  450797          0
India            10790183  154703   10480455
Brazil            9339420  227563    8311881

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,26557026,450797,0,26106229,2021-02-04 05:22:26,37.936303,-91.379001
India,10790183,154703,10480455,155025,2021-02-04 05:22:26,23.088275,81.806127
Brazil,9339420,227563,8311881,799976,2021-02-04 05:22:26,-12.669522,-48.480493
United Kingdom,3882972,109547,9936,3763489,2021-02-04 05:22:26,30.744028,-35.367255
Russia,3858367,73497,3328696,456174,2021-02-04 05:22:26,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3368281   42484          0
Texas             2449535   38039          0
Florida           1744619   27019          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3368281,42484,0,3325797,2021-02-04 05:22:26,37.843962,-120.728594
Texas,2449535,38039,0,2411496,2021-02-04 05:22:26,31.660643,-98.653069
Florida,1744619,27019,0,1717600,2021-02-04 05:22:26,28.940755,-82.700744
New York,1443942,44148,0,1399794,2021-02-04 05:22:26,42.544151,-75.474183
Illinois,1134231,21420,0,1112811,2021-02-04 05:22:26,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1129730   17324          0
Arizona        Maricopa        478354    7672          0
Illinois       Cook            456144    8926          0
Florida        Miami-Dade      376552    4919          0
Texas          Harris          323408    4356          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1129730,17324,0,1112406,2021-02-04 05:22:26,34.308284,-118.228241,6037.0
Arizona,Maricopa,478354,7672,0,470682,2021-02-04 05:22:26,33.348359,-112.491815,4013.0
Illinois,Cook,456144,8926,0,447218,2021-02-04 05:22:26,41.841448,-87.816588,17031.0
Florida,Miami-Dade,376552,4919,0,371633,2021-02-04 05:22:26,25.611236,-80.551706,12086.0
Texas,Harris,323408,4356,0,319052,2021-02-04 05:22:26,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,55059,78992,107578,9972,19829,234,1933853,167088,28823,415522,...,3846851,42128,78755,1,127346,1850,159443,2122,55042,33548
2021-02-02,55121,79934,107841,10017,19900,249,1943548,167231,28829,416763,...,3863757,42667,78801,1,127752,1882,159956,2122,56233,33814
2021-02-03,55174,80941,108116,10070,19937,249,1952744,167421,28838,418283,...,3882972,43215,78859,1,128315,1948,160426,2122,57489,33964

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,2404,1393,2894,101,466,7,48249,3084,909,7778,...,106774,444,621,0,1196,35,1840,615,780,1234
2021-02-02,2405,1398,2898,102,468,7,48426,3089,909,7847,...,108225,453,621,0,1202,35,1849,615,794,1254
2021-02-03,2406,1404,2900,103,470,7,48539,3096,909,7902,...,109547,464,621,0,1209,35,1857,615,804,1269

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,47723,47922,73530,9206,18180,177,1729999,157800,26064,393747,...,9735,35535,77221,1,119291,1460,149621,1426,49394,26583
2021-02-02,47798,48377,73732,9252,18232,179,1738768,158335,26070,395316,...,9818,36178,77286,1,119677,1460,150123,1427,49696,26794
2021-02-03,47982,48958,73940,9313,18335,179,1745208,158693,26079,396709,...,9936,36820,77333,1,120204,1461,150663,1427,50479,27391

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/25/21,1/26/21,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5407,5440,5499,5554,5596,5596,5669,5683,5723,5753
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1206,1213,1220,1230,1235,1235,1248,1249,1251,1253
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,7946,7986,8049,8088,8134,8134,8180,8191,8216,8255
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2558,2569,2597,2616,2628,2628,2647,2654,2665,2682
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,13261,13378,13482,13602,13679,13679,13829,13878,13958,14048

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-01,460860,54459,0,762145,296494,3342647,397101,253954,78495,49,...,729187,2412627,347208,12083,2421,507640,313335,121425,592921,52057
2021-02-02,462938,54594,0,765083,298004,3355781,398037,256522,78696,49,...,731360,2431687,348409,12196,2426,510380,314692,121935,594217,52128
2021-02-03,465056,54820,0,767379,300430,3368281,399267,257004,78982,49,...,733216,2449535,350000,12329,2430,513339,316294,122470,595756,52288

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-02-01        5683   18211    1956  2309   5720    1089   1827   12062
2021-02-02        5723   18344    1966  2319   5745    1087   1833   12102
2021-02-03        5753   18418    1981  2321   5768    1093   1838   12179

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-01         3210     1707  ...    2543    562     2886      654
2021-02-02         3219     1714  ...    2543    559     2903      655
2021-02-03         3233     1718  ...    2549    560     2905      659

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-01           3503  3146  1968          0      866    609
2021-02-02           3510  3151  1975          0      868    611
2021-02-03           3519  3161  1981          0      869    612

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-01,7688,262,0,13124,4895,41402,5641,7119,1101,0,...,9753,37245,1668,175,24,6474,4318,2028,6436,596
2021-02-02,7894,279,0,13362,4939,41902,5650,7133,1108,0,...,9900,37619,1685,176,24,6517,4316,2031,6480,624
2021-02-03,8203,279,0,13576,4985,42484,5664,7157,1130,0,...,10033,38039,1697,179,24,6575,4388,2058,6496,624

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-02-01          69     224      40   52    100      29     60     232
2021-02-02          70     228      40   52    101      29     60     235
2021-02-03          71     228      42   52    105      29     60     239

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-02-01           76       35  ...      20     11       19        7
2021-02-02           78       36  ...      23     11       22        7
2021-02-03           80       36  ...      23     11       22        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-02-01             32     6    12          0       25      4
2021-02-02             33     7    12          0       26      5
2021-02-03             33     7    12          0       26      4

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,0.000654,0.011072,0.002227,0.003522,0.001667,0.000000,0.003432,0.000371,0.000174,0.002712,...,0.004876,0.009344,0.000559,0.0,0.003301,0.018162,0.003026,0.000471,0.015217,0.004792
2021-02-02,0.001126,0.011925,0.002445,0.004513,0.003581,0.064103,0.005013,0.000856,0.000208,0.002987,...,0.004395,0.012794,0.000584,0.0,0.003188,0.017297,0.003217,0.000000,0.021638,0.007929
2021-02-03,0.000962,0.012598,0.002550,0.005291,0.001859,0.000000,0.004732,0.001136,0.000312,0.003647,...,0.004973,0.012844,0.000736,0.0,0.004407,0.035069,0.002938,0.000000,0.022336,0.004436

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,0.001667,0.009420,0.001038,0.000000,0.000000,0.0,0.005732,0.001299,0.0,0.007382,...,0.003826,0.018349,0.0,NaN,0.005887,0.0,0.003819,0.0,0.022280,0.013969
2021-02-02,0.000416,0.003589,0.001382,0.009901,0.004292,0.0,0.003668,0.001621,0.0,0.008871,...,0.013589,0.020270,0.0,NaN,0.005017,0.0,0.004891,0.0,0.017949,0.016207
2021-02-03,0.000416,0.004292,0.000690,0.009804,0.004274,0.0,0.002333,0.002266,0.0,0.007009,...,0.012215,0.024283,0.0,NaN,0.005824,0.0,0.004327,0.0,0.012594,0.011962

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,0.000923,0.010501,0.002536,0.012427,0.008040,0.000000,0.004849,0.001784,0.000115,0.003185,...,0.008599,0.024565,0.000389,0.0,0.003398,0.002059,0.004215,0.000000,0.029042,0.020696
2021-02-02,0.001572,0.009495,0.002747,0.004997,0.002860,0.011299,0.005069,0.003390,0.000230,0.003985,...,0.008526,0.018095,0.000842,0.0,0.003236,0.000000,0.003355,0.000701,0.006114,0.007937
2021-02-03,0.003850,0.012010,0.002821,0.006593,0.005649,0.000000,0.003704,0.002261,0.000345,0.003524,...,0.012019,0.017746,0.000608,0.0,0.004404,0.000685,0.003597,0.000000,0.015756,0.022281

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-01,0.002656,0.001987,NaN,0.004933,0.004152,0.005530,0.002312,0.015723,0.005431,0.0,...,0.001822,0.015268,0.001685,0.009862,0.009591,0.005668,0.005578,0.003504,0.001319,0.002793
2021-02-02,0.004509,0.002479,NaN,0.003855,0.005093,0.003929,0.002357,0.010112,0.002561,0.0,...,0.002980,0.007900,0.003459,0.009352,0.002065,0.005398,0.004331,0.004200,0.002186,0.001364
2021-02-03,0.004575,0.004140,NaN,0.003001,0.008141,0.003725,0.003090,0.001879,0.003634,0.0,...,0.002538,0.007340,0.004566,0.010905,0.001649,0.005798,0.005091,0.004388,0.002590,0.003069

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-01      0.002470  0.004689  0.002563  0.000867  0.001225  0.002762
2021-02-02      0.007039  0.007303  0.005112  0.004331  0.004371 -0.001837
2021-02-03      0.005242  0.004034  0.007630  0.000862  0.004003  0.005520

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-01      0.008278  0.004246  0.002185  0.001761  ...  0.000787
2021-02-02      0.003284  0.003316  0.002804  0.004101  ...  0.000000
2021-02-03      0.002728  0.006363  0.004349  0.002334  ...  0.002359

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-01      0.008977  0.000693  0.006154   0.004877  0.009628  0.002547
2021-02-02     -0.005338  0.005891  0.001529   0.001998  0.001589  0.003557
2021-02-03      0.001789  0.000689  0.006107   0.002564  0.003174  0.003038

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-01            NaN  0.000000 -0.001639
2021-02-02            NaN  0.002309  0.003284
2021-02-03            NaN  0.001152  0.001637

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-01,0.000000,0.000000,NaN,0.000305,0.005546,0.011581,0.000177,0.010360,0.010092,NaN,...,0.010674,0.004612,0.001802,0.005747,0.0,0.001547,0.007701,0.001976,0.000311,0.00000
2021-02-02,0.026795,0.064885,NaN,0.018135,0.008989,0.012077,0.001595,0.001967,0.006358,NaN,...,0.015072,0.010042,0.010192,0.005714,0.0,0.006642,-0.000463,0.001479,0.006837,0.04698
2021-02-03,0.039144,0.000000,NaN,0.016016,0.009314,0.013890,0.002478,0.003365,0.019856,NaN,...,0.013434,0.011165,0.007122,0.017045,0.0,0.008900,0.016682,0.013294,0.002469,0.00000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin Barbour Bibb    Blount Bullock Butler
2021-02-01      0.000000  0.000000    0.00  0.0  0.000000     0.0    0.0
2021-02-02      0.014493  0.017857    0.00  0.0  0.010000     0.0    0.0
2021-02-03      0.014286  0.000000    0.05  0.0  0.039604     0.0    0.0

Province_State                                ... Wyoming                   \
Admin2           Calhoun  Chambers  Cherokee  ...    Park Platte  Sheridan
2021-02-01      0.000000  0.000000  0.000000  ...    0.00    0.0  0.000000
2021-02-02      0.012931  0.026316  0.028571  ...    0.15    0.0  0.157895
2021-02-03      0.017021  0.025641  0.000000  ...    0.00    0.0  0.000000

Province_State
Admin2         Sublette Sweetwater     Teton Uinta Unassigned Washakie Weston
2021-02-01          0.0    0.00000  0.000000   0.0        NaN     0.00   0.00
2021-02-02          0.0    0.03125  0.166667   0.0        NaN     0.04   0.25
2021-02-03          0.0    0.00000  0.000000   0.0        NaN     0.00  -0.20

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,0.000679,0.011312,0.002206,0.004465,0.001774,0.020409,0.003457,0.000600,0.000197,0.002979,...,0.005540,0.012033,0.000525,0.0,0.003805,0.026686,0.002913,0.000365,0.019199,0.005725
2021-02-02,0.000902,0.011619,0.002325,0.004489,0.002677,0.042256,0.004235,0.000728,0.000203,0.002983,...,0.004967,0.012414,0.000555,0.0,0.003497,0.021992,0.003065,0.000183,0.020418,0.006827
2021-02-03,0.000932,0.012108,0.002438,0.004890,0.002268,0.021128,0.004483,0.000932,0.000257,0.003315,...,0.004970,0.012629,0.000645,0.0,0.003952,0.028530,0.003002,0.000091,0.021377,0.005631

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,0.001075,0.008532,0.001115,0.002125,0.001274,0.020834,0.003962,0.001667,8.013169e-15,0.005815,...,0.006345,0.016653,1.681676e-06,NaN,0.005486,6.966254e-48,0.003287,2.388924e-06,0.023638,0.016503
2021-02-02,0.000746,0.006061,0.001249,0.006013,0.002783,0.010417,0.003815,0.001644,4.006585e-15,0.007343,...,0.009967,0.018462,8.408381e-07,NaN,0.005252,3.483127e-48,0.004089,1.194462e-06,0.020793,0.016355
2021-02-03,0.000581,0.005176,0.000969,0.007908,0.003528,0.005208,0.003074,0.001955,2.003292e-15,0.007176,...,0.011091,0.021372,4.204190e-07,NaN,0.005538,1.741564e-48,0.004208,5.972309e-07,0.016694,0.014159

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-02-01,0.000958,0.010683,0.002617,0.009233,0.006177,0.003772,0.005135,0.001864,0.000198,0.003528,...,0.009582,0.023957,0.000445,0.0,0.003733,0.002746,0.003680,0.000102,0.036599,0.022288
2021-02-02,0.001265,0.010089,0.002682,0.007115,0.004518,0.007536,0.005102,0.002627,0.000214,0.003757,...,0.009054,0.021026,0.000643,0.0,0.003484,0.001373,0.003518,0.000401,0.021356,0.015113
2021-02-03,0.002557,0.011049,0.002751,0.006854,0.005084,0.003768,0.004403,0.002444,0.000280,0.003640,...,0.010536,0.019386,0.000626,0.0,0.003944,0.001029,0.003557,0.000201,0.018556,0.018697

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-01,0.004403,0.002395,NaN,0.005856,0.004370,0.005216,0.002898,0.008658,0.006195,3.984405e-98,...,0.003006,0.010841,0.002835,0.011056,0.005413,0.006386,0.004342,0.004954,0.001865,0.002898
2021-02-02,0.004456,0.002437,NaN,0.004856,0.004731,0.004573,0.002628,0.009385,0.004378,1.992203e-98,...,0.002993,0.009371,0.003147,0.010204,0.003739,0.005892,0.004336,0.004577,0.002025,0.002131
2021-02-03,0.004515,0.003288,NaN,0.003928,0.006436,0.004149,0.002859,0.005632,0.004006,9.961014e-99,...,0.002765,0.008355,0.003857,0.010555,0.002694,0.005845,0.004714,0.004482,0.002308,0.002600

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-01      0.005540  0.006201  0.004982  0.003629  0.004115  0.004242
2021-02-02      0.006289  0.006752  0.005047  0.003980  0.004243  0.001203
2021-02-03      0.005766  0.005393  0.006339  0.002421  0.004123  0.003361

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-01      0.006758  0.005012  0.004277  0.003724  ...  0.001755
2021-02-02      0.005021  0.004164  0.003540  0.003912  ...  0.000878
2021-02-03      0.003874  0.005263  0.003945  0.003123  ...  0.001619

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-02-01      0.006999  0.002032  0.003722   0.004348  0.009307  0.002212
2021-02-02      0.000830  0.003961  0.002625   0.003173  0.005448  0.002884
2021-02-03      0.001310  0.002325  0.004366   0.002869  0.004311  0.002961

Province_State
Admin2         Unassigned  Washakie    Weston
2021-02-01           -1.0  0.000644 -0.000802
2021-02-02           -1.0  0.001477  0.001241
2021-02-03           -1.0  0.001314  0.001439

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-02-01,0.007631,0.000243,NaN,0.003148,0.005706,0.010742,0.002062,0.005788,0.008008,NaN,...,0.009948,0.005562,0.003344,0.005174,8.098457e-11,0.004112,0.004954,0.004240,0.002005,0.000364
2021-02-02,0.017213,0.032564,NaN,0.010641,0.007347,0.011409,0.001829,0.003878,0.007183,NaN,...,0.012510,0.007802,0.006768,0.005444,4.049229e-11,0.005377,0.002245,0.002859,0.004421,0.023672
2021-02-03,0.028178,0.016282,NaN,0.013328,0.008330,0.012649,0.002153,0.003621,0.013519,NaN,...,0.012972,0.009483,0.006945,0.011245,2.024614e-11,0.007138,0.009464,0.008077,0.003445,0.011836

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-02-01      0.001834  0.002074  0.000451  0.005395  0.006991  0.000279
2021-02-02      0.008164  0.009966  0.000226  0.002698  0.008495  0.000140
2021-02-03      0.011225  0.004983  0.025113  0.001349  0.024050  0.000070

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-02-01      0.000025  0.001524  0.000977  0.002431  ...  0.000901
2021-02-02      0.000013  0.007228  0.013646  0.015501  ...  0.075450
2021-02-03      0.000006  0.012124  0.019644  0.007751  ...  0.037725

Province_State                                                         \
Admin2            Platte  Sheridan      Sublette Sweetwater     Teton
2021-02-01      0.000788  0.000438  6.441648e-10   0.000560  0.001578
2021-02-02      0.000394  0.079166  3.220824e-10   0.015905  0.084122
2021-02-03      0.000197  0.039583  1.610412e-10   0.007953  0.042061

Province_State
Admin2             Uinta Unassigned  Washakie        Weston
2021-02-01      0.000104  -0.501961  0.000023  6.829699e-09
2021-02-02      0.000052  -0.501961  0.020012  1.250000e-01
2021-02-03      0.000026  -0.501961  0.010006 -3.750000e-02

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210204,AK,53114,NaN,NaN,NaN,totalTestsViral,1529566,43.0,1214.0,...,53114,0,1,a4f46f2a553c068cf7ec3257ae879a845ad85445,0,0,0,0,0,NaN
1,20210204,AL,467823,100050.0,1781911.0,NaN,totalTestsPeopleViral,2149684,1666.0,42811.0,...,2249734,162,84,a467b2e05149c3438d6ecb6b049700bfa4f3dfce,0,0,0,0,0,NaN
2,20210204,AR,302899,61940.0,2255554.0,NaN,totalTestsViral,2496513,815.0,13902.0,...,2558453,24,89,7a6011ce2800a23f23f61a7feb75ace59c972e03,0,0,0,0,0,NaN
3,20210204,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,2140,0,0,2a8898a98294c2280900bcfc8255cfcb166e49c5,0,0,0,0,0,NaN
4,20210204,AZ,771796,49544.0,2781628.0,NaN,totalTestsViral,6841912,3303.0,54091.0,...,3553424,176,659,887882001db8f5cd2639129f875e2dfdead2fdc0,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210204,AK,53114.0,NaN,NaN,NaN,totalTestsViral,1529566.0,43.0,1214.0,...,53114,0,1,a4f46f2a553c068cf7ec3257ae879a845ad85445,0,0,0,0,0,NaN
1,20210204,AL,467823.0,100050.0,1781911.0,NaN,totalTestsPeopleViral,2149684.0,1666.0,42811.0,...,2249734,162,84,a467b2e05149c3438d6ecb6b049700bfa4f3dfce,0,0,0,0,0,NaN
2,20210204,AR,302899.0,61940.0,2255554.0,NaN,totalTestsViral,2496513.0,815.0,13902.0,...,2558453,24,89,7a6011ce2800a23f23f61a7feb75ace59c972e03,0,0,0,0,0,NaN
3,20210204,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,2a8898a98294c2280900bcfc8255cfcb166e49c5,0,0,0,0,0,NaN
4,20210204,AZ,771796.0,49544.0,2781628.0,NaN,totalTestsViral,6841912.0,3303.0,54091.0,...,3553424,176,659,887882001db8f5cd2639129f875e2dfdead2fdc0,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-04,AK,53114,NaN,NaN,NaN,totalTestsViral,1529566,43.0,1214.0,NaN,...,53114,0,1,a4f46f2a553c068cf7ec3257ae879a845ad85445,0,0,0,0,0,NaN
2021-02-04,AL,467823,100050.0,1781911.0,NaN,totalTestsPeopleViral,2149684,1666.0,42811.0,NaN,...,2249734,162,84,a467b2e05149c3438d6ecb6b049700bfa4f3dfce,0,0,0,0,0,NaN
2021-02-04,AR,302899,61940.0,2255554.0,NaN,totalTestsViral,2496513,815.0,13902.0,308.0,...,2558453,24,89,7a6011ce2800a23f23f61a7feb75ace59c972e03,0,0,0,0,0,NaN
2021-02-04,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,2140,0,0,2a8898a98294c2280900bcfc8255cfcb166e49c5,0,0,0,0,0,NaN
2021-02-04,AZ,771796,49544.0,2781628.0,NaN,totalTestsViral,6841912,3303.0,54091.0,946.0,...,3553424,176,659,887882001db8f5cd2639129f875e2dfdead2fdc0,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-02-04,AK,53114.0,NaN,NaN,NaN,totalTestsViral,1529566.0,43.0,1214.0,NaN,...,53114,0,1,a4f46f2a553c068cf7ec3257ae879a845ad85445,0,0,0,0,0,NaN
2021-02-04,AL,467823.0,100050.0,1781911.0,NaN,totalTestsPeopleViral,2149684.0,1666.0,42811.0,NaN,...,2249734,162,84,a467b2e05149c3438d6ecb6b049700bfa4f3dfce,0,0,0,0,0,NaN
2021-02-04,AR,302899.0,61940.0,2255554.0,NaN,totalTestsViral,2496513.0,815.0,13902.0,308.0,...,2558453,24,89,7a6011ce2800a23f23f61a7feb75ace59c972e03,0,0,0,0,0,NaN
2021-02-04,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,2a8898a98294c2280900bcfc8255cfcb166e49c5,0,0,0,0,0,NaN
2021-02-04,AZ,771796.0,49544.0,2781628.0,NaN,totalTestsViral,6841912.0,3303.0,54091.0,946.0,...,3553424,176,659,887882001db8f5cd2639129f875e2dfdead2fdc0,0,0,0,0,0,NaN