# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'04-15-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'04-15-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-04-16 04:20:46,33.93911,67.709953,57534,2533,52083.0,2918.0,Afghanistan,147.794636,4.402614
1,NaN,NaN,NaN,Albania,2021-04-16 04:20:46,41.15330,20.168300,129128,2335,100013.0,26780.0,Albania,4487.038710,1.808283
2,NaN,NaN,NaN,Algeria,2021-04-16 04:20:46,28.03390,1.659600,119142,3144,83048.0,32950.0,Algeria,271.697072,2.638868
3,NaN,NaN,NaN,Andorra,2021-04-16 04:20:46,42.50630,1.521800,12641,121,11989.0,531.0,Andorra,16360.577234,0.957203
4,NaN,NaN,NaN,Angola,2021-04-16 04:20:46,-11.20270,17.873900,23951,557,22175.0,1219.0,Angola,72.874109,2.325581

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56779,56873,56943,57019,57144,57160,57242,57364,57492,57534
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,126936,127192,127509,127795,128155,128393,128518,128752,128959,129128
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,117879,118004,118116,118251,118378,118516,118645,118799,118975,119142

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2512,2512,2516,2521,2521,2521,2529,2529,2532,2533
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2283,2291,2297,2304,2310,2317,2321,2326,2331,2335
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3112,3116,3119,3123,3126,3130,3134,3137,3141,3144

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,51928,51940,51956,51961,51962,51989,52005,52013,52022,52083
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,95035,95600,96129,96672,97206,97723,98269,98903,99441,100013
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,82096,82192,82289,82392,82493,82600,82704,82813,82929,83048

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6644,6675,6702,6710,6715,6723,6727,6734,6740,6748
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20551,20573,20588,20600,20617,20631,20638,20652,20670,20674
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2238,2239,2244,2245,2247,2247,2249,2252,2257,2262

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,102,102,103,103,103,103,103,103,103,103
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,301,301,300,300,300,300,300,300,300,302
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,55,55,55,55,55,55,55,55,55,55

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-04-16 04:20:46,32.539527,-86.644082,6748,103,NaN,NaN,"Autauga, Alabama, US",12078.254488,1.526378
689,1075.0,Lamar,Alabama,US,2021-04-16 04:20:46,33.779950,-88.096680,1396,34,NaN,NaN,"Lamar, Alabama, US",10112.278160,2.435530
690,1077.0,Lauderdale,Alabama,US,2021-04-16 04:20:46,34.901719,-87.656247,9254,228,NaN,NaN,"Lauderdale, Alabama, US",9979.618027,2.463799

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               31495164  565283         0.0
India            14074564  173123  12429564.0
Brazil           13746681  365444  12084851.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,31495164,565283,0.0,30929881.0,2021-04-16 04:20:46,37.950547,-91.419547
India,14074564,173123,12429564.0,1471877.0,2021-04-16 04:20:46,23.088275,81.806127
Brazil,13746681,365444,12084851.0,1296386.0,2021-04-16 04:20:46,-12.669522,-48.480493
France,5248853,100232,323865.0,4824756.0,2021-04-16 04:20:46,6.430808,-34.730285
Russia,4622464,102667,4252526.0,267271.0,2021-04-16 04:20:46,54.546312,62.120860

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3711238   60802        0.0
Texas             2843929   49441        0.0
Florida           2148448   34238        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3711238,60802,0.0,3650436.0,2021-04-16 04:20:46,37.843962,-120.728594
Texas,2843929,49441,0.0,2794488.0,2021-04-16 04:20:46,31.660643,-98.653069
Florida,2148448,34238,0.0,2114210.0,2021-04-16 04:20:46,28.940755,-82.700744
New York,1980337,51418,0.0,1928919.0,2021-04-16 04:20:46,42.544151,-75.474183
Illinois,1292421,23896,0.0,1268525.0,2021-04-16 04:20:46,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1227514   23579        0.0
Arizona        Maricopa        529722    9750        0.0
Illinois       Cook            517808    9802        0.0
Florida        Miami-Dade      466000    6014        0.0
Texas          Harris          384934    6024        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1227514,23579,0.0,1203935.0,2021-04-16 04:20:46,34.308284,-118.228241,6037.0
Arizona,Maricopa,529722,9750,0.0,519972.0,2021-04-16 04:20:46,33.348359,-112.491815,4013.0
Illinois,Cook,517808,9802,0.0,508006.0,2021-04-16 04:20:46,41.841448,-87.816588,17031.0
Florida,Miami-Dade,466000,6014,0.0,459986.0,2021-04-16 04:20:46,25.611236,-80.551706,12086.0
Texas,Harris,384934,6024,0.0,378910.0,2021-04-16 04:20:46,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,57364,128752,118799,12614,23697,1201,2579000,204053,29450,581263,...,4390801,149430,85291,3,176972,2714,272767,5507,90218,37330
2021-04-14,57492,128959,118975,12641,23841,1201,2604157,205128,29469,584205,...,4393330,152089,85503,3,178094,2733,274690,5582,90389,37369
2021-04-15,57534,129128,119142,12641,23951,1209,2629156,206142,29484,586883,...,4396096,156499,85730,3,179365,2758,276407,5657,90532,37422

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,2529,2326,3137,121,554,31,58174,3775,910,9748,...,127369,1595,634,0,1815,35,2901,1073,1229,1543
2021-04-14,2532,2331,3141,121,557,31,58542,3794,910,9779,...,127407,1647,634,0,1834,35,2923,1083,1229,1548
2021-04-15,2533,2335,3144,121,557,31,58925,3817,910,9813,...,127438,1726,634,0,1853,35,2937,1097,1230,1550

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,52013,98903,82813,11932,22115,947,2262875,183660,23104,541786,...,13660,116533,83089,1,159547,2445,237046,2070,88144,34932
2021-04-14,52022,99441,82929,11989,22144,947,2278486,184243,23108,544989,...,13675,119388,83264,1,160620,2445,239291,2128,88241,34946
2021-04-15,52083,100013,83048,11989,22175,947,2300232,185125,23114,547604,...,13854,122637,83462,1,161820,2445,241343,2178,88283,34961

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6644,6675,6702,6710,6715,6723,6727,6734,6740,6748
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1392,1392,1392,1392,1392,1392,1393,1393,1394,1396
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9165,9178,9188,9196,9208,9215,9218,9223,9247,9254
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2938,2947,2950,2950,2952,2953,2953,2953,2953,2953
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15468,15468,15480,15491,15510,15524,15524,15541,15552,15567

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-13,520503,65336,0,850846,332446,3706629,481494,325689,99135,49,...,826371,2837160,390647,21388,3005,638910,379056,146790,647091,57070
2021-04-14,520780,65536,0,851265,332666,3708716,483820,327298,99515,49,...,827579,2840869,391177,21488,3005,640211,380339,147203,648094,57127
2021-04-15,521201,65730,0,851725,332949,3711238,485318,328000,99915,49,...,829114,2843929,391633,21664,3022,641626,381725,147596,649178,57203

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-04-13        6734   20652    2252  2564   6497    1213   2125   14301
2021-04-14        6740   20670    2257  2559   6507    1214   2127   14318
2021-04-15        6748   20674    2262  2560   6511    1215   2128   14330

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-04-13         3503     1821  ...    2658    612     3093      746
2021-04-14         3507     1823  ...    2659    615     3095      746
2021-04-15         3513     1825  ...    2660    617     3098      750

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-04-13           4107  3675  2153          0      898    642
2021-04-14           4115  3684  2153          0      898    646
2021-04-15           4119  3689  2155          0      898    646

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-13,10722,314,0,17105,5673,60547,6168,7974,1587,0,...,12022,49289,2161,233,26,10506,5340,2747,7394,703
2021-04-14,10728,314,0,17109,5680,60717,6173,7984,1591,0,...,12032,49359,2161,237,26,10510,5357,2756,7402,703
2021-04-15,10736,334,0,17123,5686,60802,6177,7990,1595,0,...,12041,49441,2162,240,26,10529,5362,2772,7406,703

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-04-13         103     300      55   59    135      40     66     311
2021-04-14         103     300      55   59    135      40     67     311
2021-04-15         103     302      55   59    134      40     67     311

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-04-13          122       44  ...      30     11       31        7
2021-04-14          122       44  ...      30     11       31        7
2021-04-15          122       44  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-04-13             37     9    12          0       26      5
2021-04-14             37     9    12          0       26      5
2021-04-15             37     9    12          0       26      5

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,0.002131,0.001821,0.001298,0.002623,0.006285,0.002504,0.010580,0.003571,0.000714,0.003995,...,0.000571,0.015336,0.002080,0.0,0.006598,0.003327,0.007055,0.011201,0.001710,0.000617
2021-04-14,0.002231,0.001608,0.001481,0.002140,0.006077,0.000000,0.009755,0.005268,0.000645,0.005061,...,0.000576,0.017794,0.002486,0.0,0.006340,0.007001,0.007050,0.013619,0.001895,0.001045
2021-04-15,0.000731,0.001310,0.001404,0.000000,0.004614,0.006661,0.009600,0.004943,0.000509,0.004584,...,0.000630,0.028996,0.002655,0.0,0.007137,0.009147,0.006251,0.013436,0.001582,0.001418

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,0.000000,0.002154,0.000957,0.0,0.000000,0.033333,0.003744,0.005862,0.0,0.004327,...,0.000181,0.040444,0.0,NaN,0.011142,0.0,0.006243,0.004682,0.001630,0.000649
2021-04-14,0.001186,0.002150,0.001275,0.0,0.005415,0.000000,0.006326,0.005033,0.0,0.003180,...,0.000298,0.032602,0.0,NaN,0.010468,0.0,0.007584,0.009320,0.000000,0.003240
2021-04-15,0.000395,0.001716,0.000955,0.0,0.000000,0.000000,0.006542,0.006062,0.0,0.003477,...,0.000243,0.047966,0.0,NaN,0.010360,0.0,0.004790,0.012927,0.000814,0.001292

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,0.000154,0.006452,0.001318,0.003532,0.000996,0.009595,0.007009,0.004507,0.000736,0.005899,...,0.003821,0.030126,0.001760,0.0,0.007248,0.0,0.010004,0.005342,0.000761,0.000888
2021-04-14,0.000173,0.005440,0.001401,0.004777,0.001311,0.000000,0.006899,0.003174,0.000173,0.005912,...,0.001098,0.024499,0.002106,0.0,0.006725,0.0,0.009471,0.028019,0.001100,0.000401
2021-04-15,0.001173,0.005752,0.001435,0.000000,0.001400,0.000000,0.009544,0.004787,0.000260,0.004798,...,0.013090,0.027214,0.002378,0.0,0.007471,0.0,0.008575,0.023496,0.000476,0.000429

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-13,0.002759,0.002393,NaN,0.000717,0.000674,0.000691,0.003970,0.003445,0.002123,0.0,...,0.001766,0.001832,0.000917,0.004556,0.002335,0.003216,0.002921,0.002239,0.001745,0.001439
2021-04-14,0.000532,0.003061,NaN,0.000492,0.000662,0.000563,0.004831,0.004940,0.003833,0.0,...,0.001462,0.001307,0.001357,0.004676,0.000000,0.002036,0.003385,0.002814,0.001550,0.000999
2021-04-15,0.000808,0.002960,NaN,0.000540,0.000851,0.000680,0.003096,0.002145,0.004019,0.0,...,0.001855,0.001077,0.001166,0.008191,0.005657,0.002210,0.003644,0.002670,0.001673,0.001330

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-04-13      0.001041  0.000678  0.001334  0.000000  0.001387  0.000000
2021-04-14      0.000891  0.000872  0.002220 -0.001950  0.001539  0.000824
2021-04-15      0.001187  0.000194  0.002215  0.000391  0.000615  0.000824

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-04-13      0.000942  0.001050  0.000857  0.000549  ...  0.001130
2021-04-14      0.000941  0.001189  0.001142  0.001098  ...  0.000376
2021-04-15      0.000470  0.000838  0.001711  0.001097  ...  0.000376

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-04-13      0.000000  0.000971  0.005391   0.000731  0.002729  0.003730
2021-04-14      0.004902  0.000647  0.000000   0.001948  0.002449  0.000000
2021-04-15      0.003252  0.000969  0.005362   0.000972  0.001357  0.000929

Province_State
Admin2         Unassigned  Washakie    Weston
2021-04-13            NaN  0.001115  0.001560
2021-04-14            NaN  0.000000  0.006231
2021-04-15            NaN  0.000000  0.000000

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-13,0.000934,0.000000,NaN,0.001112,0.001412,0.000860,0.001787,0.002136,0.003795,NaN,...,0.000583,0.001178,0.000926,0.000000,0.0,0.001907,0.002064,0.000729,0.001490,0.002853
2021-04-14,0.000560,0.000000,NaN,0.000234,0.001234,0.002808,0.000811,0.001254,0.002520,NaN,...,0.000832,0.001420,0.000000,0.017167,0.0,0.000381,0.003184,0.003276,0.001082,0.000000
2021-04-15,0.000746,0.063694,NaN,0.000818,0.001056,0.001400,0.000648,0.000752,0.002514,NaN,...,0.000748,0.001661,0.000463,0.012658,0.0,0.001808,0.000933,0.005806,0.000540,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                \
Admin2         Autauga   Baldwin Barbour      Bibb    Blount Bullock
2021-04-13         0.0  0.000000     0.0  0.017241  0.000000     0.0
2021-04-14         0.0  0.000000     0.0  0.000000  0.000000     0.0
2021-04-15         0.0  0.006667     0.0  0.000000 -0.007407     0.0

Province_State                                      ... Wyoming         \
Admin2            Butler Calhoun Chambers Cherokee  ...    Park Platte
2021-04-13      0.000000     0.0      0.0      0.0  ...     0.0    0.0
2021-04-14      0.015152     0.0      0.0      0.0  ...     0.0    0.0
2021-04-15      0.000000     0.0      0.0      0.0  ...     0.0    0.0

Province_State                                                               \
Admin2         Sheridan Sublette Sweetwater Teton Uinta Unassigned Washakie
2021-04-13          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-04-14          0.0      0.0        0.0   0.0   0.0        NaN      0.0
2021-04-15          0.0      0.0        0.0   0.0   0.0        NaN      0.0

Province_State
Admin2         Weston
2021-04-13        0.0
2021-04-14        0.0
2021-04-15        0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,0.001678,0.001701,0.001201,0.002945,0.005370,0.002284,0.009033,0.003456,0.000534,0.003976,...,0.000570,0.019121,0.002187,1.455192e-11,0.006323,0.003320,0.00809,0.013326,0.001338,0.000815
2021-04-14,0.001955,0.001654,0.001341,0.002543,0.005724,0.001142,0.009394,0.004362,0.000590,0.004519,...,0.000573,0.018458,0.002336,7.275958e-12,0.006332,0.005160,0.00757,0.013472,0.001617,0.000930
2021-04-15,0.001343,0.001482,0.001372,0.001271,0.005169,0.003902,0.009497,0.004653,0.000549,0.004551,...,0.000601,0.023727,0.002496,3.637979e-12,0.006734,0.007154,0.00691,0.013454,0.001599,0.001174

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,0.000897,0.002244,0.001092,0.002355,0.001343,0.017814,0.003508,0.005415,0.000275,0.003464,...,0.000172,0.042212,0.000045,NaN,0.010640,2.950323e-69,0.007288,0.010662,0.001072,0.001184
2021-04-14,0.001042,0.002197,0.001184,0.001177,0.003379,0.008907,0.004917,0.005224,0.000138,0.003322,...,0.000235,0.037407,0.000023,NaN,0.010554,1.475162e-69,0.007436,0.009991,0.000536,0.002212
2021-04-15,0.000718,0.001956,0.001069,0.000589,0.001690,0.004454,0.005730,0.005643,0.000069,0.003399,...,0.000239,0.042686,0.000011,NaN,0.010457,7.375809e-70,0.006113,0.011459,0.000675,0.001752

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-04-13,0.000235,0.005993,0.001288,0.004198,0.002866,0.006930,0.006723,0.004674,0.000435,0.005819,...,0.004328,0.030355,0.001958,0.0,0.006561,0.001709,0.008648,0.007865,0.003266,0.000769
2021-04-14,0.000204,0.005716,0.001345,0.004488,0.002089,0.003465,0.006811,0.003924,0.000304,0.005865,...,0.002713,0.027427,0.002032,0.0,0.006643,0.000855,0.009060,0.017942,0.002183,0.000585
2021-04-15,0.000688,0.005734,0.001390,0.002244,0.001744,0.001732,0.008177,0.004356,0.000282,0.005332,...,0.007901,0.027321,0.002205,0.0,0.007057,0.000427,0.008817,0.020719,0.001330,0.000507

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-13,0.001621,0.002959,NaN,0.000770,0.000494,0.000816,0.003217,0.004327,0.002917,1.687461e-119,...,0.001842,0.001562,0.000826,0.005665,0.003603,0.002693,0.003071,0.002361,0.001365,0.001313
2021-04-14,0.001077,0.003010,NaN,0.000631,0.000578,0.000689,0.004024,0.004634,0.003375,8.437307e-120,...,0.001652,0.001435,0.001091,0.005170,0.001801,0.002365,0.003228,0.002587,0.001457,0.001156
2021-04-15,0.000943,0.002985,NaN,0.000586,0.000714,0.000685,0.003560,0.003389,0.003697,4.218653e-120,...,0.001753,0.001256,0.001129,0.006680,0.003729,0.002287,0.003436,0.002628,0.001565,0.001243

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-04-13      0.001018  0.000601  0.001009  0.000280  0.001025  0.000040
2021-04-14      0.000954  0.000736  0.001615 -0.000835  0.001282  0.000432
2021-04-15      0.001071  0.000465  0.001915 -0.000222  0.000948  0.000628

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-04-13      0.000738  0.000683  0.000580  0.000374  ...  0.000821
2021-04-14      0.000840  0.000936  0.000861  0.000736  ...  0.000598
2021-04-15      0.000655  0.000887  0.001286  0.000917  ...  0.000487

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-04-13      0.000410  0.000899  0.005764   0.001649  0.001825  0.002261
2021-04-14      0.002656  0.000773  0.002882   0.001799  0.002137  0.001130
2021-04-15      0.002954  0.000871  0.004122   0.001385  0.001747  0.001030

Province_State
Admin2         Unassigned  Washakie    Weston
2021-04-13           -1.0  0.000717  0.001272
2021-04-14           -1.0  0.000359  0.003751
2021-04-15           -1.0  0.000179  0.001876

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-04-13,0.000693,0.000799,NaN,0.000678,0.000899,0.000992,0.001038,0.001516,0.002725,NaN,...,0.000642,0.000957,0.000727,0.002338,7.629395e-08,0.001610,0.001450,0.000776,0.000961,0.001433
2021-04-14,0.000626,0.000399,NaN,0.000456,0.001066,0.001900,0.000924,0.001385,0.002623,NaN,...,0.000737,0.001189,0.000364,0.009753,3.814697e-08,0.000996,0.002317,0.002026,0.001022,0.000716
2021-04-15,0.000686,0.032047,NaN,0.000637,0.001061,0.001650,0.000786,0.001068,0.002568,NaN,...,0.000742,0.001425,0.000413,0.011206,1.907349e-08,0.001402,0.001625,0.003916,0.000781,0.000358

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin       Barbour      Bibb    Blount
2021-04-13      0.000168 -0.000052  1.130357e-06  0.008621  0.000645
2021-04-14      0.000084 -0.000026  5.651783e-07  0.004310  0.000322
2021-04-15      0.000042  0.003320  2.825891e-07  0.002155 -0.003542

Province_State                                                            ...  \
Admin2               Bullock        Butler   Calhoun  Chambers  Cherokee  ...
2021-04-13      1.565006e-06  2.325099e-16  0.000105  0.000170  0.001454  ...
2021-04-14      7.825028e-07  7.575758e-03  0.000053  0.000085  0.000727  ...
2021-04-15      3.912514e-07  3.787879e-03  0.000026  0.000043  0.000363  ...

Province_State       Wyoming                                            \
Admin2                  Park        Platte      Sheridan      Sublette
2021-04-13      8.222413e-09  3.337446e-25  6.210080e-11  2.728144e-31
2021-04-14      4.111206e-09  1.668723e-25  3.105040e-11  1.364072e-31
2021-04-15      2.055603e-09  8.343615e-26  1.552520e-11  6.820360e-32

Province_State                                                       \
Admin2            Sweetwater         Teton         Uinta Unassigned
2021-04-13      1.695421e-06  8.708749e-19  4.425733e-26  -0.501961
2021-04-14      8.477105e-07  4.354375e-19  2.212867e-26  -0.501961
2021-04-15      4.238553e-07  2.177187e-19  1.106433e-26  -0.501961

Province_State
Admin2              Washakie        Weston
2021-04-13      1.695042e-23  3.599890e-22
2021-04-14      8.475209e-24  1.799945e-22
2021-04-15      4.237605e-24  8.999725e-23

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN