# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'05-13-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'05-13-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-05-14 04:20:41,33.93911,67.709953,63045,2721,54619.0,5705.0,Afghanistan,161.951417,4.315965
1,NaN,NaN,NaN,Albania,2021-05-14 04:20:41,41.15330,20.168300,131890,2426,121122.0,8342.0,Albania,4583.014803,1.839412
2,NaN,NaN,NaN,Algeria,2021-05-14 04:20:41,28.03390,1.659600,124889,3355,87003.0,34531.0,Algeria,284.802804,2.686386
3,NaN,NaN,NaN,Andorra,2021-05-14 04:20:41,42.50630,1.521800,13470,127,13104.0,239.0,Andorra,17433.508057,0.942836
4,NaN,NaN,NaN,Angola,2021-05-14 04:20:41,-11.20270,17.873900,29695,649,25629.0,3417.0,Angola,90.350995,2.185553

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/4/21,5/5/21,5/6/21,5/7/21,5/8/21,5/9/21,5/10/21,5/11/21,5/12/21,5/13/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,60563,60797,61162,61455,61755,61842,62063,62403,62718,63045
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,131327,131419,131510,131577,131666,131723,131753,131803,131845,131890
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,122999,123272,123473,123692,123900,124104,124288,124483,124682,124889

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/4/21,5/5/21,5/6/21,5/7/21,5/8/21,5/9/21,5/10/21,5/11/21,5/12/21,5/13/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2648,2654,2664,2673,2683,2686,2698,2710,2713,2721
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2402,2403,2406,2408,2411,2412,2416,2420,2423,2426
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3289,3299,3307,3315,3321,3328,3335,3343,3350,3355

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/4/21,5/5/21,5/6/21,5/7/21,5/8/21,5/9/21,5/10/21,5/11/21,5/12/21,5/13/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,53694,53750,53961,54019,54040,54222,54382,54503,54534,54619
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,112626,113468,114362,115253,116126,117089,118041,119061,120072,121122
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,85693,85869,86007,86149,86280,86420,86554,86703,86857,87003

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/4/21,5/5/21,5/6/21,5/7/21,5/8/21,5/9/21,5/10/21,5/11/21,5/12/21,5/13/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6910,6914,6914,6918,6918,6920,6920,6926,6928,6938
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20993,21035,21093,21107,21123,21131,21135,21154,21170,21191
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2302,2307,2307,2307,2307,2308,2308,2310,2314,2317

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/4/21,5/5/21,5/6/21,5/7/21,5/8/21,5/9/21,5/10/21,5/11/21,5/12/21,5/13/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,107,108,108,108,108,108,108,108,108,108
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,306,307,307,307,308,308,308,308,309,309
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,56,56,57,57,57,57,57,57,56,56

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-05-14 04:20:41,32.539527,-86.644082,6938,108,NaN,NaN,"Autauga, Alabama, US",12418.335750,1.556645
689,1075.0,Lamar,Alabama,US,2021-05-14 04:20:41,33.779950,-88.096680,1429,35,NaN,NaN,"Lamar, Alabama, US",10351.321985,2.449265
690,1077.0,Lauderdale,Alabama,US,2021-05-14 04:20:41,34.901719,-87.656247,9441,242,NaN,NaN,"Lauderdale, Alabama, US",10181.280937,2.563288

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               32852871  584487         0.0
India            23703665  258317  19734823.0
Brazil           15433989  430417  13662690.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,32852871,584487,0.0,32268384.0,2021-05-14 04:20:41,37.950547,-91.419547
India,23703665,258317,19734823.0,3710525.0,2021-05-14 04:20:41,23.088275,81.806127
Brazil,15433989,430417,13662690.0,1340882.0,2021-05-14 04:20:41,-12.669522,-48.480493
France,5902343,107411,376532.0,5418400.0,2021-05-14 04:20:41,6.430808,-34.730285
Turkey,5083996,44059,4856763.0,183174.0,2021-05-14 04:20:41,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3764405   62573        0.0
Texas             2924766   50840        0.0
Florida           2282613   35929        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3764405,62573,0.0,3701832.0,2021-05-14 04:20:41,37.843962,-120.728594
Texas,2924766,50840,0.0,2873926.0,2021-05-14 04:20:41,31.660643,-98.653069
Florida,2282613,35929,0.0,2246684.0,2021-05-14 04:20:41,28.940755,-82.700744
New York,2079749,52866,0.0,2026883.0,2021-05-14 04:20:41,42.544151,-75.474183
Illinois,1361569,24671,0.0,1336898.0,2021-05-14 04:20:41,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1236456   24067        0.0
Illinois       Cook            545041   10100        0.0
Arizona        Maricopa        543198    9940        0.0
Florida        Miami-Dade      493007    6278        0.0
Texas          Harris          395975    6313        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1236456,24067,0.0,1212389.0,2021-05-14 04:20:41,34.308284,-118.228241,6037.0
Illinois,Cook,545041,10100,0.0,534941.0,2021-05-14 04:20:41,41.841448,-87.816588,17031.0
Arizona,Maricopa,543198,9940,0.0,533258.0,2021-05-14 04:20:41,33.348359,-112.491815,4013.0
Florida,Miami-Dade,493007,6278,0.0,486729.0,2021-05-14 04:20:41,25.611236,-80.551706,12086.0
Texas,Harris,395975,6313,0.0,389662.0,2021-05-14 04:20:41,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,62403,131803,124483,13447,29146,1238,3191097,219596,29946,632766,...,4455446,225847,95072,4,210116,3571,302777,6492,92152,38448
2021-05-12,62718,131845,124682,13470,29405,1240,3215572,219950,29955,633960,...,4457742,228102,95467,4,210948,3658,303270,6498,92211,38466
2021-05-13,63045,131890,124889,13470,29695,1240,3242103,220217,29957,634893,...,4460405,231901,95826,4,211838,3740,303270,6507,92262,38491

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,2710,2420,3343,127,639,32,68311,4256,910,10413,...,127890,3208,664,1,2320,35,3393,1276,1258,1579
2021-05-12,2713,2423,3350,127,645,32,68807,4272,910,10428,...,127901,3252,666,1,2337,35,3401,1277,1259,1579
2021-05-13,2721,2426,3355,127,649,32,69254,4291,910,10444,...,127912,3318,667,1,2352,35,3401,1278,1260,1582

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,54503,119061,86703,13070,25145,1178,2854364,205675,23466,607712,...,15147,197085,90664,3,193089,2618,287932,3003,90539,36221
2021-05-12,54534,120072,86857,13104,25187,1179,2869341,206078,23474,609666,...,15158,198922,90976,3,194166,2636,288891,3003,90574,36277
2021-05-13,54619,121122,87003,13104,25629,1179,2891435,206752,23484,611254,...,15201,201367,91301,3,195380,2657,288891,3003,90635,36286

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/4/21,5/5/21,5/6/21,5/7/21,5/8/21,5/9/21,5/10/21,5/11/21,5/12/21,5/13/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6910,6914,6914,6918,6918,6920,6920,6926,6928,6938
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1412,1415,1418,1419,1425,1425,1425,1425,1427,1429
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9397,9407,9413,9419,9420,9424,9428,9427,9437,9441
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2996,2997,2998,2998,3002,3002,3002,3003,3004,3007
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15800,15822,15844,15856,15873,15884,15886,15882,15887,15892

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-11,531404,69178,0,870155,337819,3761779,525474,343954,106341,49,...,854918,2920043,400783,23606,3233,667586,416930,156875,666974,58835
2021-05-12,531751,69267,0,870624,338043,3763281,526687,344141,106455,49,...,855587,2922680,401251,23651,3256,668147,418020,157215,667637,58893
2021-05-13,532895,69351,0,871168,338235,3764405,528533,344612,106580,49,...,856428,2924766,401669,23724,3261,668726,419382,157626,668208,58996

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-05-11        6926   21154    2310  2609   6678    1228   2160   14511
2021-05-12        6928   21170    2314  2612   6680    1228   2164   14515
2021-05-13        6938   21191    2317  2615   6694    1228   2164   14522

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-11         3573     1852  ...    2742    625     3167      789
2021-05-12         3575     1852  ...    2741    628     3171      790
2021-05-13         3578     1847  ...    2752    631     3178      790

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-11           4313  3758  2232          0      913    651
2021-05-12           4323  3760  2234          0      914    651
2021-05-13           4337  3762  2237          0      918    651

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-11,10985,351,0,17428,5770,62365,6371,8156,1644,0,...,12292,50719,2236,251,27,10919,5593,2734,7666,712
2021-05-12,10997,353,0,17430,5777,62472,6402,8161,1644,0,...,12296,50785,2249,252,27,10934,5614,2748,7687,712
2021-05-13,11001,353,0,17438,5783,62573,6423,8168,1648,0,...,12305,50840,2255,252,27,10961,5626,2751,7706,712

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-11         108     308      57   64    137      41     69     314
2021-05-12         108     309      56   64    137      41     69     316
2021-05-13         108     309      56   64    137      41     69     316

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-11          123       45  ...      30     11       31        7
2021-05-12          123       45  ...      30     11       31        7
2021-05-13          123       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-11             38     9    13          0       26      5
2021-05-12             38     9    13          0       26      5
2021-05-13             38     9    13          0       26      5

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,0.005478,0.000379,0.001569,0.00134,0.009385,0.000808,0.008207,0.001108,0.000267,0.001377,...,0.000559,0.013358,0.003303,0.0,0.004561,0.023502,0.001747,0.001079,0.000434,0.000390
2021-05-12,0.005048,0.000319,0.001599,0.00171,0.008886,0.001616,0.007670,0.001612,0.000301,0.001887,...,0.000515,0.009985,0.004155,0.0,0.003960,0.024363,0.001628,0.000924,0.000640,0.000468
2021-05-13,0.005214,0.000341,0.001660,0.00000,0.009862,0.000000,0.008251,0.001214,0.000067,0.001472,...,0.000597,0.016655,0.003760,0.0,0.004219,0.022417,0.000000,0.001385,0.000553,0.000650

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,0.004448,0.001656,0.002399,0.0,0.004717,0.0,0.007225,0.001647,0.0,0.002021,...,0.000156,0.011668,0.003021,0.0,0.006944,0.0,0.004440,0.000784,0.000796,0.001904
2021-05-12,0.001107,0.001240,0.002094,0.0,0.009390,0.0,0.007261,0.003759,0.0,0.001441,...,0.000086,0.013716,0.003012,0.0,0.007328,0.0,0.002358,0.000784,0.000795,0.000000
2021-05-13,0.002949,0.001238,0.001493,0.0,0.006202,0.0,0.006496,0.004448,0.0,0.001534,...,0.000086,0.020295,0.001502,0.0,0.006418,0.0,0.000000,0.000783,0.000794,0.001900

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,0.002225,0.008641,0.001721,0.003763,0.015057,0.006838,0.006100,0.002315,0.000256,0.003751,...,0.003910,0.010879,0.004120,0.0,0.005279,0.000000,0.002528,0.000666,0.000420,0.000359
2021-05-12,0.000569,0.008491,0.001776,0.002601,0.001670,0.000849,0.005247,0.001959,0.000341,0.003215,...,0.000726,0.009321,0.003441,0.0,0.005578,0.006875,0.003331,0.000000,0.000387,0.001546
2021-05-13,0.001559,0.008745,0.001681,0.000000,0.017549,0.000000,0.007700,0.003271,0.000426,0.002605,...,0.002837,0.012291,0.003572,0.0,0.006252,0.007967,0.000000,0.000000,0.000673,0.000248

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-11,0.000584,0.000883,NaN,0.000786,0.000690,0.000393,0.002449,0.001191,0.000838,0.0,...,0.000653,0.000968,0.000559,0.002761,0.000000,0.000900,0.002947,0.001647,0.000860,0.001208
2021-05-12,0.000653,0.001287,NaN,0.000539,0.000663,0.000399,0.002308,0.000544,0.001072,0.0,...,0.000783,0.000903,0.001168,0.001906,0.007114,0.000840,0.002614,0.002167,0.000994,0.000986
2021-05-13,0.002151,0.001213,NaN,0.000625,0.000568,0.000299,0.003505,0.001369,0.001174,0.0,...,0.000983,0.000714,0.001042,0.003087,0.001536,0.000867,0.003258,0.002614,0.000855,0.001749

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-05-11      0.000867  0.000899  0.000867  0.000767  0.002552 -0.001626
2021-05-12      0.000289  0.000756  0.001732  0.001150  0.000299  0.000000
2021-05-13      0.001443  0.000992  0.001296  0.001149  0.002096  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-05-11      0.000463  0.000414  0.002807  0.001622  ...  0.001827
2021-05-12      0.001852  0.000276  0.000560  0.000000  ... -0.000365
2021-05-13      0.000000  0.000482  0.000839 -0.002700  ...  0.004013

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-05-11      0.001603  0.000948  0.003817   0.001626  0.000799  0.001346
2021-05-12      0.004800  0.001263  0.001267   0.002319  0.000532  0.000896
2021-05-13      0.004777  0.002208  0.000000   0.003238  0.000532  0.001343

Province_State
Admin2         Unassigned  Washakie Weston
2021-05-11            NaN  0.001096    0.0
2021-05-12            NaN  0.001095    0.0
2021-05-13            NaN  0.004376    0.0

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-11,0.000638,0.005731,NaN,0.001091,0.001041,0.000497,0.002202,0.000245,0.001828,NaN,...,0.001303,0.001066,0.004944,0.008032,0.0,0.001559,0.001253,0.001832,0.001830,0.002817
2021-05-12,0.001092,0.005698,NaN,0.000115,0.001213,0.001716,0.004866,0.000613,0.000000,NaN,...,0.000325,0.001301,0.005814,0.003984,0.0,0.001374,0.003755,0.005121,0.002739,0.000000
2021-05-13,0.000364,0.000000,NaN,0.000459,0.001039,0.001617,0.003280,0.000858,0.002433,NaN,...,0.000732,0.001083,0.002668,0.000000,0.0,0.002469,0.002138,0.001092,0.002472,0.000000

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                 \
Admin2         Autauga   Baldwin   Barbour Bibb Blount Bullock Butler
2021-05-11         0.0  0.000000  0.000000  0.0    0.0     0.0    0.0
2021-05-12         0.0  0.003247 -0.017544  0.0    0.0     0.0    0.0
2021-05-13         0.0  0.000000  0.000000  0.0    0.0     0.0    0.0

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2021-05-11      0.000000      0.0      0.0  ...     0.0    0.0      0.0
2021-05-12      0.006369      0.0      0.0  ...     0.0    0.0      0.0
2021-05-13      0.000000      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-11          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-05-12          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-05-13          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,0.004416,0.000379,0.001580,0.001132,0.008285,0.001521,0.006773,0.000979,0.000290,0.001475,...,0.000526,0.011862,0.003703,1.589457e-07,0.005404,0.026895,0.001650,0.001382,0.000400,0.000352
2021-05-12,0.004732,0.000349,0.001589,0.001421,0.008585,0.001568,0.007222,0.001295,0.000295,0.001681,...,0.000520,0.010923,0.003929,7.947286e-08,0.004682,0.025629,0.001639,0.001153,0.000520,0.000410
2021-05-13,0.004973,0.000345,0.001625,0.000711,0.009224,0.000784,0.007736,0.001255,0.000181,0.001576,...,0.000559,0.013789,0.003845,3.973643e-08,0.004450,0.024023,0.000820,0.001269,0.000537,0.000530

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,0.003914,0.001429,0.002261,0.000016,0.004907,4.922854e-07,0.006650,0.002444,1.024557e-12,0.001608,...,0.000100,0.013670,0.001910,0.0,0.006484,1.099081e-77,0.004450,0.001633,0.000471,0.000990
2021-05-12,0.002510,0.001334,0.002177,0.000008,0.007148,2.461427e-07,0.006956,0.003102,5.122786e-13,0.001524,...,0.000093,0.013693,0.002461,0.0,0.006906,5.495406e-78,0.003404,0.001208,0.000633,0.000495
2021-05-13,0.002730,0.001286,0.001835,0.000004,0.006675,1.230713e-07,0.006726,0.003775,2.561393e-13,0.001529,...,0.000089,0.016994,0.001981,0.0,0.006662,2.747703e-78,0.001702,0.000996,0.000714,0.001197

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-11,0.002425,0.008346,0.001653,0.002993,0.008524,0.022832,0.006590,0.002707,0.000516,0.003348,...,0.003587,0.012489,0.003723,3.814697e-06,0.006400,0.002578,0.003202,0.001831,0.000571,0.001372
2021-05-12,0.001497,0.008419,0.001715,0.002797,0.005097,0.011840,0.005918,0.002333,0.000429,0.003282,...,0.002156,0.010905,0.003582,1.907349e-06,0.005989,0.004727,0.003266,0.000915,0.000479,0.001459
2021-05-13,0.001528,0.008582,0.001698,0.001399,0.011323,0.005920,0.006809,0.002802,0.000427,0.002943,...,0.002497,0.011598,0.003577,9.536743e-07,0.006121,0.006347,0.001633,0.000458,0.000576,0.000854

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-11,0.000496,0.001408,NaN,0.000763,0.000523,0.000435,0.002232,0.001298,0.001115,6.286283e-128,...,0.000838,0.000854,0.000598,0.002522,0.002966,0.000833,0.002947,0.001759,0.000707,0.001301
2021-05-12,0.000574,0.001347,NaN,0.000651,0.000593,0.000417,0.002270,0.000921,0.001094,3.143142e-128,...,0.000810,0.000878,0.000883,0.002214,0.005040,0.000837,0.002781,0.001963,0.000850,0.001143
2021-05-13,0.001363,0.001280,NaN,0.000638,0.000581,0.000358,0.002888,0.001145,0.001134,1.571571e-128,...,0.000897,0.000796,0.000962,0.002650,0.003288,0.000852,0.003019,0.002289,0.000853,0.001446

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-05-11      0.000493  0.000674  0.000505  0.000526  0.001506 -0.0008
2021-05-12      0.000391  0.000715  0.001118  0.000838  0.000903 -0.0004
2021-05-13      0.000917  0.000854  0.001207  0.000993  0.001499 -0.0002

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-05-11      0.000261  0.000390  0.001567  0.001198  ...  0.001887
2021-05-12      0.001057  0.000333  0.001063  0.000599  ...  0.000761
2021-05-13      0.000528  0.000407  0.000951 -0.001050  ...  0.002387

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-05-11      0.000827  0.001136  0.003245   0.002181  0.000699  0.002170
2021-05-12      0.002813  0.001200  0.002256   0.002250  0.000616  0.001533
2021-05-13      0.003795  0.001704  0.001128   0.002744  0.000574  0.001438

Province_State
Admin2         Unassigned  Washakie        Weston
2021-05-11           -1.0  0.000873  3.290248e-06
2021-05-12           -1.0  0.000984  1.645124e-06
2021-05-13           -1.0  0.002680  8.225620e-07

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-11,0.000481,0.002916,NaN,0.000673,0.000711,0.000524,0.001256,0.000695,0.001967,NaN,...,0.001140,0.000807,0.002729,0.004089,4.584973e-09,0.001206,0.001751,0.001505,0.001242,0.001425
2021-05-12,0.000786,0.004307,NaN,0.000394,0.000962,0.001120,0.003061,0.000654,0.000983,NaN,...,0.000733,0.001054,0.004271,0.004037,2.292486e-09,0.001290,0.002753,0.003313,0.001991,0.000713
2021-05-13,0.000575,0.002154,NaN,0.000426,0.001000,0.001368,0.003170,0.000756,0.001708,NaN,...,0.000732,0.001069,0.003470,0.002018,1.146243e-09,0.001880,0.002445,0.002202,0.002231,0.000356

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-05-11      0.000073  0.000231  0.000279  0.000497  0.000289  0.000012
2021-05-12      0.000037  0.001739 -0.008632  0.000249  0.000144  0.000006
2021-05-13      0.000018  0.000869 -0.004316  0.000124  0.000072  0.000003

Province_State                                                  ...  \
Admin2                Butler   Calhoun  Chambers      Cherokee  ...
2021-05-11      5.659974e-08  0.000125  0.000006  5.424019e-09  ...
2021-05-12      2.829987e-08  0.003247  0.000003  2.712009e-09  ...
2021-05-13      1.414994e-08  0.001624  0.000002  1.356005e-09  ...

Province_State       Wyoming                                            \
Admin2                  Park        Platte      Sheridan      Sublette
2021-05-11      3.063087e-17  1.243296e-33  2.313435e-19  1.016313e-39
2021-05-12      1.531544e-17  6.216478e-34  1.156718e-19  5.081564e-40
2021-05-13      7.657718e-18  3.108239e-34  5.783588e-20  2.540782e-40

Province_State                                                              \
Admin2         Sweetwater         Teton     Uinta Unassigned      Washakie
2021-05-11       0.000106  3.244262e-27  0.000326  -0.501961  6.314523e-32
2021-05-12       0.000053  1.622131e-27  0.000163  -0.501961  3.157262e-32
2021-05-13       0.000026  8.110655e-28  0.000081  -0.501961  1.578631e-32

Province_State
Admin2                Weston
2021-05-11      1.341064e-30
2021-05-12      6.705318e-31
2021-05-13      3.352659e-31

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN