# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'03-05-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'03-05-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-06 04:23:41,33.93911,67.709953,55827,2449,49362,4016.0,Afghanistan,143.409656,4.386766
1,NaN,NaN,NaN,Albania,2021-03-06 04:23:41,41.15330,20.168300,111301,1897,73610,35794.0,Albania,3867.572451,1.704387
2,NaN,NaN,NaN,Algeria,2021-03-06 04:23:41,28.03390,1.659600,113948,3007,78824,32117.0,Algeria,259.852428,2.638923
3,NaN,NaN,NaN,Andorra,2021-03-06 04:23:41,42.50630,1.521800,10998,112,10584,302.0,Andorra,14234.129295,1.018367
4,NaN,NaN,NaN,Angola,2021-03-06 04:23:41,-11.20270,17.873900,21026,511,19624,891.0,Angola,63.974407,2.430324

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55664,55680,55696,55707,55714,55733,55759,55770,55775,55827
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,103327,104313,105229,106215,107167,107931,108823,109674,110521,111301
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,112461,112622,112805,112960,113092,113255,113430,113593,113761,113948

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2436,2438,2442,2443,2443,2444,2446,2446,2446,2449
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1715,1736,1756,1775,1796,1816,1835,1856,1876,1897
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2970,2973,2977,2979,2983,2987,2991,2996,3002,3007

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49086,49281,49285,49288,49333,49344,49347,49359,49362,49362
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,66309,67158,68007,68969,69773,70413,71173,72076,72853,73610
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,77537,77683,77842,77976,78098,78234,78377,78524,78672,78824

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6172,6203,6228,6248,6264,6270,6303,6313,6324,6333
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,19635,19670,19698,19714,19732,19758,19790,19856,19873,19890
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2095,2099,2106,2113,2115,2116,2124,2129,2136,2139

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,85,89,90,91,91,91,91,91,92,92
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,272,274,277,283,283,283,284,285,289,289
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,50,51,51,51,51,51,51,51,51,51

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-03-06 04:23:41,32.539527,-86.644082,6333,92,0,6241.0,"Autauga, Alabama, US",11335.445417,1.452708
689,1075.0,Lamar,Alabama,US,2021-03-06 04:23:41,33.779950,-88.096680,1339,33,0,1306.0,"Lamar, Alabama, US",9699.384281,2.464526
690,1077.0,Lauderdale,Alabama,US,2021-03-06 04:23:41,34.901719,-87.656247,8618,214,0,8404.0,"Lauderdale, Alabama, US",9293.748450,2.483175

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Country_Region
US               28890034  522761          0
India            11192045  157656   10854126
Brazil           10869227  262770    9647550

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,28890034,522761,0,28367273,2021-03-06 04:23:41,37.936303,-91.379001
India,11192045,157656,10854126,180263,2021-03-06 04:23:41,23.088275,81.806127
Brazil,10869227,262770,9647550,958907,2021-03-06 04:23:41,-12.669522,-48.480493
Russia,4252876,86821,3841504,324551,2021-03-06 04:23:41,54.546312,62.120860
United Kingdom,4219788,124495,11834,4083459,2021-03-06 04:23:41,28.164647,-33.966498

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3591220   53783          0
Texas             2688975   45047          0
Florida           1936207   31522          0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3591220,53783,0,3537437,2021-03-06 04:23:41,37.843962,-120.728594
Texas,2688975,45047,0,2643928,2021-03-06 04:23:41,31.660643,-98.653069
Florida,1936207,31522,0,1904685,2021-03-06 04:23:41,28.940755,-82.700744
New York,1678867,48153,0,1630714,2021-03-06 04:23:41,42.544151,-75.474183
Illinois,1194629,22947,0,1171682,2021-03-06 04:23:41,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1200120   21910          0
Arizona        Maricopa        514132    9286          0
Illinois       Cook            477381    9428          0
Florida        Miami-Dade      417447    5530          0
Texas          Harris          357558    5267          0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1200120,21910,0,1178210,2021-03-06 04:23:41,34.308284,-118.228241,6037.0
Arizona,Maricopa,514132,9286,0,504846,2021-03-06 04:23:41,33.348359,-112.491815,4013.0
Illinois,Cook,477381,9428,0,467953,2021-03-06 04:23:41,41.841448,-87.816588,17031.0
Florida,Miami-Dade,417447,5530,0,411917,2021-03-06 04:23:41,25.611236,-80.551706,12086.0
Texas,Harris,357558,5267,0,352291,2021-03-06 04:23:41,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,55770,109674,113593,10948,20923,769,2126531,172816,29007,465322,...,4207120,60074,80035,1,140383,2482,189326,2363,80090,36179
2021-03-04,55775,110521,113761,10976,20981,813,2133963,173307,29021,467646,...,4213764,60945,80035,1,140960,2488,191203,2375,80687,36223
2021-03-05,55827,111301,113948,10998,21026,813,2141854,173749,29029,470314,...,4219788,61929,80081,1,141356,2494,193029,2411,81341,36248

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,2446,1856,2996,112,510,19,52453,3202,909,8625,...,124017,624,622,0,1358,35,2078,643,1108,1478
2021-03-04,2446,1876,3002,112,511,21,52644,3208,909,8652,...,124259,631,622,0,1364,35,2091,645,1109,1483
2021-03-05,2449,1897,3007,112,511,21,52784,3215,909,8669,...,124495,637,622,0,1371,35,2110,648,1113,1484

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,49359,72076,78524,10560,19509,309,1921589,163906,22920,435669,...,11741,51978,78587,1,132503,1898,169915,1435,76299,33392
2021-03-04,49362,72853,78672,10564,19553,355,1928377,164085,22924,437202,...,11795,52612,78722,1,133034,1920,171318,1435,76498,33632
2021-03-05,49362,73610,78824,10584,19624,355,1934845,164463,22926,439101,...,11834,53419,78722,1,133454,1920,172588,1439,77081,33759

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6172,6203,6228,6248,6264,6270,6303,6313,6324,6333
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1316,1317,1324,1325,1328,1328,1331,1337,1337,1339
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,8570,8581,8588,8594,8603,8607,8601,8610,8612,8618
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,2812,2813,2822,2826,2829,2834,2836,2846,2849,2853
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,14883,14900,14926,14950,14961,14967,14980,15021,15039,15057

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-03,497154,58993,0,819954,323353,3582320,431670,283622,87425,49,...,777935,2675712,372708,15487,2695,580108,342236,132416,619087,54616
2021-03-04,498076,59138,0,821108,323756,3587567,433021,284500,87643,49,...,779449,2683386,372708,15686,2704,581408,343090,132677,619942,54685
2021-03-05,498887,59285,0,823384,324326,3591220,434654,285330,87874,49,...,780894,2688975,372708,15819,2714,583060,343868,132964,620663,54764

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-03-03        6313   19856    2129  2459   6229    1172   2011   13755
2021-03-04        6324   19873    2136  2461   6236    1173   2014   13832
2021-03-05        6333   19890    2139  2457   6246    1174   2017   13901

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-03         3423     1777  ...    2622    590     3027      678
2021-03-04         3431     1780  ...    2623    596     3030      679
2021-03-05         3432     1781  ...    2622    597     3035      679

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-03           3800  3364  2066          0      886    623
2021-03-04           3811  3368  2070          0      887    623
2021-03-05           3829  3375  2070          0      887    623

[3 rows x 3334 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-03,10029,303,0,16089,5261,53083,5970,7678,1440,0,...,11459,44463,1955,207,25,9326,5012,2309,7069,682
2021-03-04,10094,303,0,16185,5273,53466,5974,7693,1444,0,...,11501,44757,1955,207,25,9357,5032,2309,7082,682
2021-03-05,10122,305,0,16269,5283,53783,5986,7704,1453,0,...,11534,45047,1955,207,25,9428,5041,2318,7094,682

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-03-03          91     285      51   60    127      36     66     288
2021-03-04          92     289      51   60    127      36     66     293
2021-03-05          92     289      51   58    128      36     66     294

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-03-03          111       39  ...      27     11       30        7
2021-03-04          111       39  ...      27     11       30        7
2021-03-05          111       40  ...      27     11       30        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-03             36     9    12          0       26      5
2021-03-04             36     9    12          0       26      5
2021-03-05             36     9    12          0       26      5

[3 rows x 3334 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,0.000197,0.007820,0.001437,0.003667,0.001963,0.000000,0.003708,0.002087,0.000379,0.005517,...,0.001528,0.015261,0.000925,0.0,0.003209,0.002828,0.010768,0.008967,0.006700,0.000858
2021-03-04,0.000090,0.007723,0.001479,0.002558,0.002772,0.057217,0.003495,0.002841,0.000483,0.004994,...,0.001579,0.014499,0.000000,0.0,0.004110,0.002417,0.009914,0.005078,0.007454,0.001216
2021-03-05,0.000932,0.007057,0.001644,0.002004,0.002145,0.000000,0.003698,0.002550,0.000276,0.005705,...,0.001430,0.016146,0.000575,0.0,0.002809,0.002412,0.009550,0.015158,0.008105,0.000690

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,0.000000,0.011444,0.001672,0.018182,0.000000,0.357143,0.005001,0.000625,0.0,0.002324,...,0.003942,0.011345,0.0,NaN,0.003695,0.0,0.007271,0.004687,0.003623,0.004076
2021-03-04,0.000000,0.010776,0.002003,0.000000,0.001961,0.105263,0.003641,0.001874,0.0,0.003130,...,0.001951,0.011218,0.0,NaN,0.004418,0.0,0.006256,0.003110,0.000903,0.003383
2021-03-05,0.001226,0.011194,0.001666,0.000000,0.000000,0.000000,0.002659,0.002182,0.0,0.001965,...,0.001899,0.009509,0.0,NaN,0.005132,0.0,0.009087,0.004651,0.003607,0.000674

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,0.000243,0.012687,0.001876,0.005619,0.005100,0.006515,0.002427,0.001026,0.000131,0.004139,...,0.006774,0.011934,0.000943,0.0,0.003415,0.000000,0.006826,0.000000,0.009740,0.012216
2021-03-04,0.000061,0.010780,0.001885,0.000379,0.002255,0.148867,0.003532,0.001092,0.000175,0.003519,...,0.004599,0.012197,0.001718,0.0,0.004007,0.011591,0.008257,0.000000,0.002608,0.007187
2021-03-05,0.000000,0.010391,0.001932,0.001893,0.003631,0.000000,0.003354,0.002304,0.000087,0.004344,...,0.003306,0.015339,0.000000,0.0,0.003157,0.000000,0.007413,0.002787,0.007621,0.003776

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-03,0.005528,0.003248,NaN,0.001568,0.001251,0.001217,0.002450,0.001745,0.002661,0.0,...,0.002058,0.002856,0.00196,0.007481,0.018519,0.002677,0.002328,0.001755,0.001262,0.001632
2021-03-04,0.001855,0.002458,NaN,0.001407,0.001246,0.001465,0.003130,0.003096,0.002494,0.0,...,0.001946,0.002868,0.00000,0.012849,0.003340,0.002241,0.002495,0.001971,0.001381,0.001263
2021-03-05,0.001628,0.002486,NaN,0.002772,0.001761,0.001018,0.003771,0.002917,0.002636,0.0,...,0.001854,0.002083,0.00000,0.008479,0.003698,0.002841,0.002268,0.002163,0.001163,0.001445

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-03      0.001587  0.003335  0.002354  0.002037  0.020144  0.000854
2021-03-04      0.001742  0.000856  0.003288  0.000813  0.001124  0.000853
2021-03-05      0.001423  0.000855  0.001404 -0.001625  0.001604  0.000853

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-03      0.018228  0.033666  0.000585  0.003388  ...  0.000763
2021-03-04      0.001492  0.005598  0.002337  0.001688  ...  0.000381
2021-03-05      0.001490  0.004988  0.000291  0.000562  ... -0.000381

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-03      0.000000  0.001323  0.001477   0.006889  0.001489  0.001940
2021-03-04      0.010169  0.000991  0.001475   0.002895  0.001189  0.001936
2021-03-05      0.001678  0.001650  0.000000   0.004723  0.002078  0.000000

Province_State
Admin2         Unassigned  Washakie Weston
2021-03-03            NaN  0.001130    0.0
2021-03-04            NaN  0.001129    0.0
2021-03-05            NaN  0.000000    0.0

[3 rows x 3334 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-03,0.003803,0.003311,NaN,0.001806,0.001332,0.005398,0.001846,0.002612,0.009818,NaN,...,0.002011,0.006269,0.003079,0.004854,0.0,0.042827,0.004812,0.003477,0.002695,0.0
2021-03-04,0.006481,0.000000,NaN,0.005967,0.002281,0.007215,0.000670,0.001954,0.002778,NaN,...,0.003665,0.006612,0.000000,0.000000,0.0,0.003324,0.003990,0.000000,0.001839,0.0
2021-03-05,0.002774,0.006601,NaN,0.005190,0.001896,0.005929,0.002009,0.001430,0.006233,NaN,...,0.002869,0.006479,0.000000,0.000000,0.0,0.007588,0.001789,0.003898,0.001694,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                       \
Admin2           Autauga   Baldwin Barbour      Bibb    Blount Bullock Butler
2021-03-03      0.000000  0.003521     0.0  0.000000  0.000000     0.0    0.0
2021-03-04      0.010989  0.014035     0.0  0.000000  0.000000     0.0    0.0
2021-03-05      0.000000  0.000000     0.0 -0.033333  0.007874     0.0    0.0

Province_State                               ... Wyoming                  \
Admin2           Calhoun Chambers  Cherokee  ...    Park Platte Sheridan
2021-03-03      0.003484      0.0  0.000000  ...     0.0    0.0      0.0
2021-03-04      0.017361      0.0  0.000000  ...     0.0    0.0      0.0
2021-03-05      0.003413      0.0  0.025641  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-03-03          0.0   0.028571   0.0   0.0        NaN      0.0    0.0
2021-03-04          0.0   0.000000   0.0   0.0        NaN      0.0    0.0
2021-03-05          0.0   0.000000   0.0   0.0        NaN      0.0    0.0

[3 rows x 3334 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,0.000281,0.008012,0.001450,0.002783,0.001795,0.008991,0.003189,0.001703,0.000342,0.004788,...,0.001525,0.013004,0.000667,0.0,0.003055,0.004754,0.010250,0.010063,0.006585,0.000854
2021-03-04,0.000186,0.007868,0.001464,0.002670,0.002284,0.033104,0.003342,0.002272,0.000412,0.004891,...,0.001552,0.013751,0.000333,0.0,0.003583,0.003586,0.010082,0.007571,0.007019,0.001035
2021-03-05,0.000559,0.007463,0.001554,0.002337,0.002214,0.016552,0.003520,0.002411,0.000344,0.005298,...,0.001491,0.014949,0.000454,0.0,0.003196,0.002999,0.009816,0.011364,0.007562,0.000863

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,0.000305,0.011162,0.001480,0.009127,0.001446,0.178763,0.003451,0.000968,7.462845e-24,0.002599,...,0.003013,0.009638,7.678553e-10,NaN,0.003453,6.487830e-57,0.005986,0.005298,0.005237,0.003248
2021-03-04,0.000152,0.010969,0.001741,0.004564,0.001704,0.142013,0.003546,0.001421,3.731423e-24,0.002865,...,0.002482,0.010428,3.839276e-10,NaN,0.003935,3.243915e-57,0.006121,0.004204,0.003070,0.003316
2021-03-05,0.000689,0.011081,0.001703,0.002282,0.000852,0.071007,0.003103,0.001801,1.865711e-24,0.002415,...,0.002191,0.009968,1.919638e-10,NaN,0.004534,1.621957e-57,0.007604,0.004428,0.003338,0.001995

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-03-03,0.000270,0.011773,0.001826,0.004097,0.003297,0.011599,0.002748,0.001058,0.000147,0.004054,...,0.004199,0.012435,0.000656,0.0,0.003471,0.004585,0.006156,0.000030,0.009197,0.007932
2021-03-04,0.000165,0.011277,0.001855,0.002238,0.002776,0.080233,0.003140,0.001075,0.000161,0.003787,...,0.004399,0.012316,0.001187,0.0,0.003739,0.008088,0.007207,0.000015,0.005902,0.007560
2021-03-05,0.000083,0.010834,0.001894,0.002066,0.003204,0.040117,0.003247,0.001689,0.000124,0.004065,...,0.003853,0.013827,0.000593,0.0,0.003448,0.004044,0.007310,0.001401,0.006762,0.005668

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-03,0.003407,0.003184,NaN,0.001384,0.001748,0.001292,0.002437,0.002624,0.002519,3.710767e-107,...,0.001560,0.002748,0.001591,0.006798,0.009478,0.002561,0.002232,0.001623,0.001078,0.001383
2021-03-04,0.002631,0.002821,NaN,0.001396,0.001497,0.001378,0.002783,0.002860,0.002506,1.855383e-107,...,0.001753,0.002808,0.000796,0.009824,0.006409,0.002401,0.002364,0.001797,0.001230,0.001323
2021-03-05,0.002129,0.002653,NaN,0.002084,0.001629,0.001198,0.003277,0.002889,0.002571,9.276917e-108,...,0.001803,0.002445,0.000398,0.009151,0.005054,0.002621,0.002316,0.001980,0.001196,0.001384

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-03      0.002621  0.002385  0.002445  0.001561  0.010444  0.001088
2021-03-04      0.002181  0.001620  0.002867  0.001187  0.005784  0.000971
2021-03-05      0.001802  0.001238  0.002136 -0.000219  0.003694  0.000912

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-03      0.010694  0.017581  0.001179  0.001999  ...  0.000782
2021-03-04      0.006093  0.011589  0.001758  0.001844  ...  0.000581
2021-03-05      0.003791  0.008289  0.001025  0.001203  ...  0.000100

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-03-03     -0.000004  0.000926  0.001265   0.004358  0.001223  0.002011
2021-03-04      0.005083  0.000958  0.001370   0.003626  0.001206  0.001974
2021-03-05      0.003380  0.001304  0.000685   0.004175  0.001642  0.000987

Province_State
Admin2         Unassigned  Washakie    Weston
2021-03-03           -1.0  0.001438  0.000413
2021-03-04           -1.0  0.001283  0.000207
2021-03-05           -1.0  0.000642  0.000103

[3 rows x 3334 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-03-03,0.003805,0.007637,NaN,0.002526,-0.000867,0.005596,0.001390,0.002066,0.006026,NaN,...,0.001737,0.005874,0.003811,0.004475,1.986821e-08,0.032087,0.003825,0.002067,0.002802,0.004125
2021-03-04,0.005143,0.003818,NaN,0.004247,0.000707,0.006406,0.001030,0.002010,0.004402,NaN,...,0.002701,0.006243,0.001906,0.002238,9.934107e-09,0.017705,0.003908,0.001034,0.002320,0.002063
2021-03-05,0.003959,0.005210,NaN,0.004718,0.001302,0.006167,0.001519,0.001720,0.005317,NaN,...,0.002785,0.006361,0.000953,0.001119,4.967054e-09,0.012647,0.002848,0.002466,0.002007,0.001031

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-03-03      0.000915  0.003695  0.000162  0.000168  0.000504  0.000579
2021-03-04      0.005952  0.008865  0.000081  0.000084  0.000252  0.000289
2021-03-05      0.002976  0.004432  0.000040 -0.016625  0.004063  0.000145

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-03-03      0.000511  0.002837  0.003331  0.006685  ...  0.009616
2021-03-04      0.000256  0.010099  0.001665  0.003342  ...  0.004808
2021-03-05      0.000128  0.006756  0.000833  0.014492  ...  0.002404

Province_State                                                                 \
Admin2                Platte  Sheridan      Sublette Sweetwater         Teton
2021-03-03      7.339121e-13  0.027780  5.999252e-19   0.021639  1.915074e-06
2021-03-04      3.669561e-13  0.013890  2.999626e-19   0.010819  9.575371e-07
2021-03-05      1.834780e-13  0.006945  1.499813e-19   0.005410  4.787685e-07

Province_State
Admin2                 Uinta Unassigned      Washakie        Weston
2021-03-03      9.732290e-14  -0.501961  3.727436e-11  7.916242e-10
2021-03-04      4.866145e-14  -0.501961  1.863718e-11  3.958121e-10
2021-03-05      2.433072e-14  -0.501961  9.318591e-12  1.979060e-10

[3 rows x 3334 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210305,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,2,3,7c69ab3363700e0bfc193bc3374d28a89a0d1102,0,0,0,0,0,NaN
1,20210305,AL,498887,107518.0,1924758.0,NaN,totalTestsPeopleViral,2316127,526.0,45976.0,...,NaN,28,169,5789acffb29d541bdafc68570b05d49d8e08dc97,0,0,0,0,0,NaN
2,20210305,AR,324326,68961.0,2472738.0,NaN,totalTestsViral,2728103,359.0,14903.0,...,NaN,10,27,a06fef34948008705e4a705542367a074df3e6f8,0,0,0,0,0,NaN
3,20210305,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,c085b23f74d0864095c4561f85aac340404b7151,0,0,0,0,0,NaN
4,20210305,AZ,823384,55824.0,3050890.0,NaN,totalTestsViral,7827570,1043.0,57819.0,...,NaN,84,72,c47acc954d80c7b3b422ee6958a7a24dd2944830,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210305,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,2,3,7c69ab3363700e0bfc193bc3374d28a89a0d1102,0,0,0,0,0,NaN
1,20210305,AL,498887.0,107518.0,1924758.0,NaN,totalTestsPeopleViral,2316127.0,526.0,45976.0,...,NaN,28,169,5789acffb29d541bdafc68570b05d49d8e08dc97,0,0,0,0,0,NaN
2,20210305,AR,324326.0,68961.0,2472738.0,NaN,totalTestsViral,2728103.0,359.0,14903.0,...,NaN,10,27,a06fef34948008705e4a705542367a074df3e6f8,0,0,0,0,0,NaN
3,20210305,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,c085b23f74d0864095c4561f85aac340404b7151,0,0,0,0,0,NaN
4,20210305,AZ,823384.0,55824.0,3050890.0,NaN,totalTestsViral,7827570.0,1043.0,57819.0,...,NaN,84,72,c47acc954d80c7b3b422ee6958a7a24dd2944830,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-05,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,2,3,7c69ab3363700e0bfc193bc3374d28a89a0d1102,0,0,0,0,0,NaN
2021-03-05,AL,498887,107518.0,1924758.0,NaN,totalTestsPeopleViral,2316127,526.0,45976.0,NaN,...,NaN,28,169,5789acffb29d541bdafc68570b05d49d8e08dc97,0,0,0,0,0,NaN
2021-03-05,AR,324326,68961.0,2472738.0,NaN,totalTestsViral,2728103,359.0,14903.0,153.0,...,NaN,10,27,a06fef34948008705e4a705542367a074df3e6f8,0,0,0,0,0,NaN
2021-03-05,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,c085b23f74d0864095c4561f85aac340404b7151,0,0,0,0,0,NaN
2021-03-05,AZ,823384,55824.0,3050890.0,NaN,totalTestsViral,7827570,1043.0,57819.0,325.0,...,NaN,84,72,c47acc954d80c7b3b422ee6958a7a24dd2944830,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-05,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,2,3,7c69ab3363700e0bfc193bc3374d28a89a0d1102,0,0,0,0,0,NaN
2021-03-05,AL,498887.0,107518.0,1924758.0,NaN,totalTestsPeopleViral,2316127.0,526.0,45976.0,NaN,...,NaN,28,169,5789acffb29d541bdafc68570b05d49d8e08dc97,0,0,0,0,0,NaN
2021-03-05,AR,324326.0,68961.0,2472738.0,NaN,totalTestsViral,2728103.0,359.0,14903.0,153.0,...,NaN,10,27,a06fef34948008705e4a705542367a074df3e6f8,0,0,0,0,0,NaN
2021-03-05,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,c085b23f74d0864095c4561f85aac340404b7151,0,0,0,0,0,NaN
2021-03-05,AZ,823384.0,55824.0,3050890.0,NaN,totalTestsViral,7827570.0,1043.0,57819.0,325.0,...,NaN,84,72,c47acc954d80c7b3b422ee6958a7a24dd2944830,0,0,0,0,0,NaN