# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'05-22-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'05-22-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-05-23 04:20:51,33.93911,67.709953,65486,2792,55889.0,6805.0,Afghanistan,168.221913,4.263507
1,NaN,NaN,NaN,Albania,2021-05-23 04:20:51,41.15330,20.168300,132176,2442,128601.0,1133.0,Albania,4592.952950,1.847537
2,NaN,NaN,NaN,Algeria,2021-05-23 04:20:51,28.03390,1.659600,126651,3411,88208.0,35032.0,Algeria,288.820952,2.693228
3,NaN,NaN,NaN,Andorra,2021-05-23 04:20:51,42.50630,1.521800,13569,127,13234.0,208.0,Andorra,17561.638517,0.935957
4,NaN,NaN,NaN,Angola,2021-05-23 04:20:51,-11.20270,17.873900,32149,715,26775.0,4659.0,Angola,97.817617,2.224019

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,63045,63355,63412,63484,63598,63819,64122,64575,65080,65486
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,131890,131939,131978,132015,132032,132071,132095,132118,132153,132176
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,124889,125059,125194,125311,125485,125693,125896,126156,126434,126651

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2721,2730,2733,2742,2745,2751,2762,2772,2782,2792
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2426,2427,2429,2432,2435,2436,2438,2440,2441,2442
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3355,3360,3366,3374,3381,3388,3395,3401,3405,3411

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,54619,54634,54663,54686,55010,55118,55529,55687,55790,55889
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,121122,122105,123081,124312,125419,126405,127240,127869,128425,128601
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,87003,87137,87251,87359,87476,87609,87746,87902,88066,88208

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6938,6971,7001,7005,7010,7015,7017,7049,7106,7113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21191,21290,21392,21411,21422,21444,21467,21489,21511,21535
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2317,2319,2320,2320,2320,2322,2324,2326,2327,2328

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,108,108,108,108,108,108,108,109,109,110
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,309,309,310,310,310,310,310,310,310,310
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,56,56,56,56,56,56,56,58,58,58

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-05-23 04:20:51,32.539527,-86.644082,7113,110,NaN,NaN,"Autauga, Alabama, US",12731.568491,1.546464
689,1075.0,Lamar,Alabama,US,2021-05-23 04:20:51,33.779950,-88.096680,1441,37,NaN,NaN,"Lamar, Alabama, US",10438.247012,2.567661
690,1077.0,Lauderdale,Alabama,US,2021-05-23 04:20:51,34.901719,-87.656247,9495,245,NaN,NaN,"Lauderdale, Alabama, US",10239.515146,2.580305

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               33104800  589703         0.0
India            26289290  295525  23070365.0
Brazil           16047439  448208  14132443.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,33104800,589703,0.0,32515097.0,2021-05-23 04:20:51,37.950547,-91.419547
India,26289290,295525,23070365.0,2923400.0,2021-05-23 04:20:51,23.088275,81.806127
Brazil,16047439,448208,14132443.0,1466788.0,2021-05-23 04:20:51,-12.669522,-48.480493
France,5979597,108345,382517.0,5488735.0,2021-05-23 04:20:51,6.430808,-34.730285
Turkey,5178648,46071,5013111.0,119466.0,2021-05-23 04:20:51,38.963700,35.243300

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3776262   62911        0.0
Texas             2940679   51209        0.0
Florida           2308266   36463        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3776262,62911,0.0,3713351.0,2021-05-23 04:20:51,37.843962,-120.728594
Texas,2940679,51209,0.0,2889470.0,2021-05-23 04:20:51,31.660643,-98.653069
Florida,2308266,36463,0.0,2271803.0,2021-05-23 04:20:51,28.940755,-82.700744
New York,2094245,53112,0.0,2041133.0,2021-05-23 04:20:51,42.544151,-75.474183
Illinois,1374479,24976,0.0,1349503.0,2021-05-23 04:20:51,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1238607   24180        0.0
Illinois       Cook            550396   10213        0.0
Arizona        Maricopa        547035   10010        0.0
Florida        Miami-Dade      498094    6369        0.0
Texas          Harris          398013    6390        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1238607,24180,0.0,1214427.0,2021-05-23 04:20:51,34.308284,-118.228241,6037.0
Illinois,Cook,550396,10213,0.0,540183.0,2021-05-23 04:20:51,41.841448,-87.816588,17031.0
Arizona,Maricopa,547035,10010,0.0,537025.0,2021-05-23 04:20:51,33.348359,-112.491815,4013.0
Florida,Miami-Dade,498094,6369,0.0,491725.0,2021-05-23 04:20:51,25.611236,-80.551706,12086.0
Texas,Harris,398013,6390,0.0,391623.0,2021-05-23 04:20:51,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,64575,132118,126156,13569,31661,1255,3447044,221559,29999,639616,...,4471065,253941,97543,4,219864,4809,304532,6613,92754,38635
2021-05-21,65080,132153,126434,13569,31909,1255,3482512,221699,30003,640293,...,4473773,258540,97856,4,221042,4941,304968,6632,92920,38664
2021-05-22,65486,132176,126651,13569,32149,1257,3514683,221880,30007,640876,...,4476297,262009,98164,4,222052,5119,305201,6649,93106,38679

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,2772,2440,3401,127,704,42,72699,4364,910,10527,...,127963,3691,676,1,2465,39,3448,1301,1265,1585
2021-05-21,2782,2441,3405,127,709,42,73391,4371,910,10534,...,127972,3760,678,1,2483,41,3452,1302,1266,1586
2021-05-22,2792,2442,3411,127,715,42,73688,4386,910,10541,...,127978,3811,680,1,2499,42,3459,1304,1267,1586

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,55687,127869,87902,13234,26483,1188,3035134,209980,23525,619756,...,15407,219277,93071,3,203523,2687,295643,3159,90955,36427
2021-05-21,55790,128425,88066,13234,26513,1188,3060145,210464,23533,620837,...,15427,222003,93339,3,204615,2689,296901,3179,91019,36435
2021-05-22,55889,128601,88208,13234,26775,1192,3083298,210835,23539,621998,...,15427,224787,93633,3,205575,2721,297201,3201,91102,36445

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/13/21,5/14/21,5/15/21,5/16/21,5/17/21,5/18/21,5/19/21,5/20/21,5/21/21,5/22/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6938,6971,7001,7005,7010,7015,7017,7049,7106,7113
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1429,1430,1432,1433,1433,1434,1440,1440,1441,1441
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9441,9449,9457,9460,9465,9474,9481,9487,9494,9495
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3007,3022,3026,3030,3036,3041,3045,3051,3053,3059
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,15892,15946,15987,15993,15997,16005,16011,16017,16034,16040

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-20,541230,69835,0,875195,339662,3774494,535316,346154,108031,49,...,859701,2938261,403684,24026,3308,671916,425848,159450,671445,59590
2021-05-21,541673,69902,0,875766,339863,3775619,536128,346325,108166,49,...,860084,2939697,403984,24065,3308,672312,427494,159735,671909,59661
2021-05-22,541928,69902,0,876411,340040,3776262,536969,346325,108280,49,...,860084,2940679,404246,24084,3308,672793,427494,159735,672266,59661

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-05-20        7049   21489    2326  2656   6816    1233   2195   14590
2021-05-21        7106   21511    2327  2657   6826    1233   2199   14588
2021-05-22        7113   21535    2328  2656   6829    1233   2201   14595

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-20         3622     1852  ...    2791    636     3187      791
2021-05-21         3634     1852  ...    2801    636     3191      791
2021-05-22         3636     1854  ...    2801    636     3191      791

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-20           4412  3775  2251          0      921    651
2021-05-21           4421  3776  2246          0      921    652
2021-05-22           4421  3776  2246          0      921    652

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-20,11077,369,0,17509,5808,62817,6478,8208,1652,0,...,12364,51128,2279,255,27,11068,5690,2769,7734,713
2021-05-21,11080,369,0,17531,5811,62862,6497,8212,1654,0,...,12380,51170,2289,255,27,11074,5702,2772,7745,713
2021-05-22,11112,369,0,17547,5816,62911,6503,8212,1659,0,...,12380,51209,2290,255,27,11097,5702,2772,7748,713

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-05-20         109     310      58   64    139      42     69     321
2021-05-21         109     310      58   64    139      42     69     321
2021-05-22         110     310      58   64    139      42     70     322

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-05-20          123       45  ...      30     11       31        7
2021-05-21          123       45  ...      30     11       31        7
2021-05-22          123       45  ...      30     11       31        7

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-20             39     9    13          0       26      5
2021-05-21             39     9    13          0       26      5
2021-05-22             39     9    13          0       26      5

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,0.007065,0.000174,0.002065,0.0,0.007093,0.002396,0.010520,0.000863,0.000133,0.000879,...,0.000604,0.018351,0.002704,0.0,0.004799,0.018856,0.000000,0.003034,0.001339,0.000596
2021-05-21,0.007820,0.000265,0.002204,0.0,0.007833,0.000000,0.010289,0.000632,0.000133,0.001058,...,0.000606,0.018111,0.003209,0.0,0.005358,0.027449,0.001432,0.002873,0.001790,0.000751
2021-05-22,0.006238,0.000174,0.001716,0.0,0.007521,0.001594,0.009238,0.000816,0.000133,0.000911,...,0.000564,0.013418,0.003147,0.0,0.004569,0.036025,0.000764,0.002563,0.002002,0.000388

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,0.003621,0.00082,0.001767,0.0,0.011494,0.0,0.006006,0.001607,0.0,0.001808,...,0.000055,0.014568,0.002967,0.0,0.007768,0.054054,0.000000,0.002311,0.001584,0.001263
2021-05-21,0.003608,0.00041,0.001176,0.0,0.007102,0.0,0.009519,0.001604,0.0,0.000665,...,0.000070,0.018694,0.002959,0.0,0.007302,0.051282,0.001160,0.000769,0.000791,0.000631
2021-05-22,0.003595,0.00041,0.001762,0.0,0.008463,0.0,0.004047,0.003432,0.0,0.000665,...,0.000047,0.013564,0.002950,0.0,0.006444,0.024390,0.002028,0.001536,0.000790,0.000000

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,0.002845,0.004943,0.001778,0.0,0.000945,0.003378,0.008635,0.002253,0.000298,0.001548,...,0.004368,0.012411,0.002488,0.0,0.004432,0.000000,0.000000,0.012500,0.000396,0.000302
2021-05-21,0.001850,0.004348,0.001866,0.0,0.001133,0.000000,0.008240,0.002305,0.000340,0.001744,...,0.001298,0.012432,0.002880,0.0,0.005365,0.000744,0.004255,0.006331,0.000704,0.000220
2021-05-22,0.001775,0.001370,0.001612,0.0,0.009882,0.003367,0.007566,0.001763,0.000255,0.001870,...,0.000000,0.012540,0.003150,0.0,0.004692,0.011900,0.001010,0.006920,0.000912,0.000274

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-20,0.000627,0.001133,NaN,0.000675,0.000754,0.000475,0.001782,0.000595,0.000954,0.0,...,0.000489,0.000561,0.000659,0.001584,0.006083,0.000880,0.002224,0.001891,0.000848,0.003604
2021-05-21,0.000819,0.000959,NaN,0.000652,0.000592,0.000298,0.001517,0.000494,0.001250,0.0,...,0.000446,0.000489,0.000743,0.001623,0.000000,0.000589,0.003865,0.001787,0.000691,0.001191
2021-05-22,0.000471,0.000000,NaN,0.000736,0.000521,0.000170,0.001569,0.000000,0.001054,0.0,...,0.000000,0.000334,0.000649,0.000790,0.000000,0.000715,0.000000,0.000000,0.000531,0.000000

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount Bullock
2021-05-20      0.004560  0.001025  0.000861  0.001508  0.001175     0.0
2021-05-21      0.008086  0.001024  0.000430  0.000377  0.001467     0.0
2021-05-22      0.000985  0.001116  0.000430 -0.000376  0.000439     0.0

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-05-20      0.001826  0.000274  0.001659  0.001081  ...  0.003235
2021-05-21      0.001822 -0.000137  0.003313  0.000000  ...  0.003583
2021-05-22      0.000910  0.000480  0.000550  0.001080  ...  0.000000

Province_State                                                              \
Admin2            Platte  Sheridan Sublette Sweetwater     Teton     Uinta
2021-05-20      0.001575  0.000000      0.0   0.004554  0.001326  0.000444
2021-05-21      0.000000  0.001255      0.0   0.002040  0.000265 -0.002221
2021-05-22      0.000000  0.000000      0.0   0.000000  0.000000  0.000000

Province_State
Admin2         Unassigned  Washakie    Weston
2021-05-20            NaN  0.001087  0.000000
2021-05-21            NaN  0.000000  0.001536
2021-05-22            NaN  0.000000  0.000000

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-20,0.002897,0.0,NaN,0.000686,0.000517,0.000828,0.000927,0.000488,0.000000,NaN,...,0.000890,0.000920,0.001758,0.0,0.0,0.001810,0.002997,0.000723,0.000259,0.0
2021-05-21,0.000271,0.0,NaN,0.001256,0.000517,0.000716,0.002933,0.000487,0.001211,NaN,...,0.001294,0.000821,0.004388,0.0,0.0,0.000542,0.002109,0.001083,0.001422,0.0
2021-05-22,0.002888,0.0,NaN,0.000913,0.000860,0.000779,0.000924,0.000000,0.003023,NaN,...,0.000000,0.000762,0.000437,0.0,0.0,0.002077,0.000000,0.000000,0.000387,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga Baldwin   Barbour Bibb Blount Bullock    Butler
2021-05-20      0.009259     0.0  0.035714  0.0    0.0     0.0  0.000000
2021-05-21      0.000000     0.0  0.000000  0.0    0.0     0.0  0.000000
2021-05-22      0.009174     0.0  0.000000  0.0    0.0     0.0  0.014493

Province_State                              ... Wyoming                  \
Admin2           Calhoun Chambers Cherokee  ...    Park Platte Sheridan
2021-05-20      0.006270      0.0      0.0  ...     0.0    0.0      0.0
2021-05-21      0.000000      0.0      0.0  ...     0.0    0.0      0.0
2021-05-22      0.003115      0.0      0.0  ...     0.0    0.0      0.0

Province_State
Admin2         Sublette Sweetwater Teton Uinta Unassigned Washakie Weston
2021-05-20          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-05-21          0.0        0.0   0.0   0.0        NaN      0.0    0.0
2021-05-22          0.0        0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,0.005393,0.000196,0.001800,0.000366,0.008685,0.001920,0.010458,0.000886,0.000152,0.001025,...,0.000413,0.015525,0.002460,3.104409e-10,0.005216,0.029840,0.000471,0.002453,0.001094,0.000528
2021-05-21,0.006607,0.000231,0.002002,0.000183,0.008259,0.000960,0.010374,0.000759,0.000143,0.001042,...,0.000509,0.016818,0.002835,1.552204e-10,0.005287,0.028644,0.000951,0.002663,0.001442,0.000639
2021-05-22,0.006423,0.000202,0.001859,0.000092,0.007890,0.001277,0.009806,0.000788,0.000138,0.000976,...,0.000537,0.015118,0.002991,7.761021e-11,0.004928,0.032335,0.000858,0.002613,0.001722,0.000514

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,0.003319,0.000809,0.001917,3.154002e-08,0.013309,0.017534,0.006810,0.002116,2.001088e-15,0.001435,...,0.000046,0.015471,0.002850,0.0,0.007505,0.028342,0.001124,0.002028,0.001045,0.000720
2021-05-21,0.003463,0.000609,0.001546,1.577001e-08,0.010206,0.008767,0.008164,0.001860,1.000544e-15,0.001050,...,0.000058,0.017082,0.002904,0.0,0.007403,0.039812,0.001142,0.001399,0.000918,0.000675
2021-05-22,0.003529,0.000509,0.001654,7.885004e-09,0.009334,0.004383,0.006106,0.002646,5.002721e-16,0.000857,...,0.000053,0.015323,0.002927,0.0,0.006924,0.032101,0.001585,0.001467,0.000854,0.000338

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-05-20,0.003938,0.006230,0.001638,0.000525,0.005658,0.002317,0.007384,0.001945,0.000309,0.001359,...,0.002962,0.011647,0.002645,7.450581e-09,0.005080,0.001004,0.002116,0.011923,0.000382,0.000596
2021-05-21,0.002894,0.005289,0.001752,0.000263,0.003395,0.001159,0.007812,0.002125,0.000325,0.001552,...,0.002130,0.012039,0.002762,3.725290e-09,0.005223,0.000874,0.003186,0.009127,0.000543,0.000408
2021-05-22,0.002334,0.003330,0.001682,0.000131,0.006639,0.002263,0.007689,0.001944,0.000290,0.001711,...,0.001065,0.012290,0.002956,1.862645e-09,0.004957,0.006387,0.002098,0.008024,0.000727,0.000341

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-20,0.000702,0.001169,NaN,0.000652,0.000713,0.000417,0.001838,0.000629,0.002463,1.227790e-130,...,0.000556,0.000663,0.000747,0.001616,0.003885,0.000760,0.002020,0.001728,0.000772,0.002416
2021-05-21,0.000760,0.001064,NaN,0.000652,0.000652,0.000357,0.001678,0.000562,0.001856,6.138949e-131,...,0.000501,0.000576,0.000745,0.001620,0.001942,0.000675,0.002942,0.001758,0.000732,0.001804
2021-05-22,0.000615,0.000532,NaN,0.000694,0.000587,0.000264,0.001623,0.000281,0.001455,3.069474e-131,...,0.000250,0.000455,0.000697,0.001205,0.000971,0.000695,0.001471,0.000879,0.000631,0.000902

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-05-20      0.002615  0.001087  0.000776  0.001179  0.001597  0.000087
2021-05-21      0.005350  0.001055  0.000603  0.000778  0.001532  0.000044
2021-05-22      0.003168  0.001086  0.000516  0.000201  0.000986  0.000022

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-05-20      0.001153  0.000325  0.001941  0.000778  ...  0.002624
2021-05-21      0.001488  0.000094  0.002627  0.000389  ...  0.003103
2021-05-22      0.001199  0.000287  0.001589  0.000734  ...  0.001552

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-05-20      0.001892  0.000389  0.000088   0.003328  0.000707  0.000770
2021-05-21      0.000946  0.000822  0.000044   0.002684  0.000486 -0.000726
2021-05-22      0.000473  0.000411  0.000022   0.001342  0.000243 -0.000363

Province_State
Admin2         Unassigned  Washakie        Weston
2021-05-20           -1.0  0.001314  6.426266e-09
2021-05-21           -1.0  0.000657  7.680524e-04
2021-05-22           -1.0  0.000329  3.840262e-04

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-05-20,0.001591,0.004017,NaN,0.000729,0.000505,0.000671,0.001298,0.000659,0.000179,NaN,...,0.000937,0.000964,0.002056,0.001992,8.955025e-12,0.001339,0.002885,0.000874,0.000579,0.000178
2021-05-21,0.000931,0.002009,NaN,0.000993,0.000511,0.000694,0.002116,0.000573,0.000695,NaN,...,0.001115,0.000893,0.003222,0.000996,4.477513e-12,0.000941,0.002497,0.000979,0.001001,0.000089
2021-05-22,0.001910,0.001004,NaN,0.000953,0.000686,0.000737,0.001520,0.000287,0.001859,NaN,...,0.000558,0.000828,0.001829,0.000498,2.238756e-12,0.001509,0.001248,0.000489,0.000694,0.000045

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                              \
Admin2           Autauga   Baldwin   Barbour          Bibb    Blount
2021-05-20      0.004630  0.000057  0.017823  9.707673e-07  0.000115
2021-05-21      0.002315  0.000029  0.008912  4.853837e-07  0.000057
2021-05-22      0.005745  0.000014  0.004456  2.426918e-07  0.000029

Province_State                                                                \
Admin2           Bullock        Butler   Calhoun      Chambers      Cherokee
2021-05-20      0.000381  1.105464e-10  0.003222  1.174254e-08  1.059379e-11
2021-05-21      0.000191  5.527319e-11  0.001611  5.871270e-09  5.296893e-12
2021-05-22      0.000095  7.246377e-03  0.002363  2.935635e-09  2.648447e-12

Province_State  ...       Wyoming                                            \
Admin2          ...          Park        Platte      Sheridan      Sublette
2021-05-20      ...  5.982593e-20  2.428312e-36  4.518428e-22  1.984986e-42
2021-05-21      ...  2.991296e-20  1.214156e-36  2.259214e-22  9.924931e-43
2021-05-22      ...  1.495648e-20  6.070779e-37  1.129607e-22  4.962465e-43

Province_State                                                    \
Admin2         Sweetwater         Teton         Uinta Unassigned
2021-05-20       0.006579  6.336449e-30  6.357829e-07       -1.0
2021-05-21       0.003290  3.168224e-30  3.178914e-07       -1.0
2021-05-22       0.001645  1.584112e-30  1.589457e-07       -1.0

Province_State
Admin2              Washakie        Weston
2021-05-20      1.233305e-34  2.619265e-33
2021-05-21      6.166526e-35  1.309632e-33
2021-05-22      3.083263e-35  6.548162e-34

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN