# Covid-19 (Coronavirus): Data Extract, Transform, Load (ETL) Notebook
This notebook pulls data from various sources, performs data wrangling to get it into more usable formats, and exports to CSV for use in other notebooks, as well as for future reference.  

Feeds into the Covid19_Analytics notebook.

## Data Sources

### Primary Data Source: Johns Hopkins CSSE Data Repository 
- Link: https://github.com/CSSEGISandData/COVID-19  
- **Live data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US County (cases, deaths)
- **Historic time series data:**
    - Countries (cases, deaths, recoveries, active)
    - US States (cases, deaths)
    - US Counties (cases, deaths)

### US State Testing and Hospitalizations: Covid Tracking Project 
- Link: https://covidtracking.com/data/ 
- **Live data:**
    - US State testing and hospitalization, ICU stats
- **Historic time series data:**
    - US State testing and hospitalization, ICU stats

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
import os

## Get the Datasets

### Dataset 1: John Hopkins

Live data is stored in files named MM-DD-YYYY.csv, so get the current date for live data updates.  
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

#### 1A: Pull the Data from JH's github repo, immediately export as 'orig'

In [2]:
# Create the filename to load based on today's date

day = str(datetime.now().day) if datetime.now().day >= 10 else "0" + str(datetime.now().day)
month = str(datetime.now().month) if datetime.now().month >= 10 else "0" + str(datetime.now().month)
year = str(datetime.now().year)

jh_live_date = month + "-" + day + "-" + year
jh_live_date

'08-03-2021'

In [3]:
#  First try to pull today's data, but if it's not available yet, pull yesterday's data
try:
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
except:
    day = str(datetime.now().day-1) if datetime.now().day-1 >= 10 else "0" + str(datetime.now().day-1)
    jh_live_date = month + "-" + day + "-" + year
    fileURL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + jh_live_date + ".csv"
    jh_live_global = pd.read_csv(fileURL)
    
jh_live_date

'08-02-2021'

In [4]:
# Check out the first x rows to make sure the data loaded correctly
jh_live_global.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-08-03 04:21:39,33.93911,67.709953,147985,6774,82586.0,58625.0,Afghanistan,380.147204,4.577491
1,NaN,NaN,NaN,Albania,2021-08-03 04:21:39,41.15330,20.168300,133146,2457,130256.0,433.0,Albania,4626.659254,1.845343
2,NaN,NaN,NaN,Algeria,2021-08-03 04:21:39,28.03390,1.659600,173922,4329,116770.0,52823.0,Algeria,396.619985,2.489047
3,NaN,NaN,NaN,Andorra,2021-08-03 04:21:39,42.50630,1.521800,14747,128,14296.0,323.0,Andorra,19086.261567,0.867973
4,NaN,NaN,NaN,Angola,2021-08-03 04:21:39,-11.20270,17.873900,42970,1018,38360.0,3592.0,Angola,130.741951,2.369095

Now immediately export the original jh dataset before making any changes

In [5]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_live_global_orig.csv')
jh_live_global.to_csv(filename, index=False)

**Also pull the global historic time series data.  Note that it won't have live data from today until close to midnight PT.**

In [6]:
jh_hist_global_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
jh_hist_global_cases.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,143439,143439,144285,145008,145552,145996,146523,146523,146523,147985
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132853,132875,132891,132922,132952,132999,133036,133081,133121,133146
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,160868,162155,163660,165204,167131,168668,170189,171392,172564,173922

In [7]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_cases_orig.csv')
jh_hist_global_cases.to_csv(filename, index=False)

In [8]:
jh_hist_global_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
jh_hist_global_deaths.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,6357,6357,6477,6515,6577,6615,6677,6677,6677,6774
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2456,2456,2456,2456,2457,2457,2457,2457,2457,2457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,4042,4063,4087,4112,4161,4189,4219,4254,4291,4329

In [9]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_deaths_orig.csv')
jh_hist_global_deaths.to_csv(filename, index=False)

In [10]:
jh_hist_global_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
jh_hist_global_recovered.head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,82586
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,130125,130139,130152,130166,130174,130187,130205,130222,130243,130256
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,109951,110577,111322,112050,112900,113707,114531,115276,116009,116770

In [11]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_global_recovered_orig.csv')
jh_hist_global_recovered.to_csv(filename, index=False)

In [12]:
jh_hist_uscounties_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
jh_hist_uscounties_cases.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7402,7419,7435,7456,7479,7479,7479,7537,7563,7585
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,23668,23810,23922,24213,24499,24499,24499,25207,25399,25567
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2431,2434,2437,2451,2462,2462,2462,2506,2509,2520

In [13]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_cases_orig.csv')
jh_hist_uscounties_cases.to_csv(filename, index=False)

In [14]:
jh_hist_uscounties_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')
jh_hist_uscounties_deaths.head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,114,114,114,114,114,114,114
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,325,325,325,326,328,328,328,329,329,329
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,61,61,61,61,61,61,61,61,61,61

In [15]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/orig/jh_hist_uscounties_deaths_orig.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=False)

#### 1B: Wrangle the data into more usable format

For the JH live global data, it will be useful to group / subtotal by Country, by US State, and by US County.  

For the historic time series data, these need to be rearranged so that the date is in 
datetime format and pivoted so the date is the index of the DataFrame.

In [16]:
jh_live_global[jh_live_global['Country_Region']=='US'].sort_values('Province_State').head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
656,1001.0,Autauga,Alabama,US,2021-08-03 04:21:39,32.539527,-86.644082,7585,114,NaN,NaN,"Autauga, Alabama, US",13576.401940,1.502966
693,1075.0,Lamar,Alabama,US,2021-08-03 04:21:39,33.779950,-88.096680,1512,38,NaN,NaN,"Lamar, Alabama, US",10952.553423,2.513228
694,1077.0,Lauderdale,Alabama,US,2021-08-03 04:21:39,34.901719,-87.656247,10266,254,NaN,NaN,"Lauderdale, Alabama, US",11070.970247,2.474187

##### 1B-1: Pivot Table on the JH live global data, grouped / subtotalled by **Country**

In [17]:
jh_live_countries = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Confirmed', 'Deaths', 'Recovered'], aggfunc=np.sum)

In [18]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths   Recovered
Country_Region
US               35131393  613679         0.0
India            31726507  425195  30896354.0
Brazil           19953501  557223  17771228.0

In [19]:
jh_live_countries['Active'] = jh_live_countries['Confirmed'] - jh_live_countries['Deaths'] - jh_live_countries['Recovered']

In [20]:
jh_live_countries['Last_Update'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Last_Update'], aggfunc=np.max)
jh_live_countries['Lat'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Lat'], aggfunc=np.mean)
jh_live_countries['Long'] = pd.pivot_table(jh_live_global, index=['Country_Region'], 
                                   values=['Long_'], aggfunc=np.mean)

In [21]:
jh_live_countries.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Country_Region,,,,,,,
US,35131393,613679,0.0,34517714.0,2021-08-03 04:21:39,37.950547,-91.419547
India,31726507,425195,30896354.0,404958.0,2021-08-03 04:21:39,23.088275,81.806127
Brazil,19953501,557223,17771228.0,1625050.0,2021-08-03 04:21:39,-12.669522,-48.480493
Russia,6230482,157496,5571532.0,501454.0,2021-08-03 04:21:39,54.546312,62.120860
France,6218526,112107,413357.0,5693062.0,2021-08-03 04:21:39,6.430808,-34.730285

##### 1B-2: Pivot Table on the JH live global data, grouped / subtotalled by **US State**

In [22]:
jh_live_usstates = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [23]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(3)

                Confirmed  Deaths  Recovered
Province_State
California        3983926   64547        0.0
Texas             3151893   53329        0.0
Florida           2634234   39079        0.0

In [24]:
jh_live_usstates['Active'] = jh_live_usstates['Confirmed'] - jh_live_usstates['Deaths'] - jh_live_usstates['Recovered']

In [25]:
jh_live_usstates['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_usstates['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_usstates['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State'], values=['Long_'], 
                                    aggfunc=np.mean)

In [26]:
jh_live_usstates.sort_values('Confirmed', ascending=False).head(5)

,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long
Province_State,,,,,,,
California,3983926,64547,0.0,3919379.0,2021-08-03 04:21:39,37.843962,-120.728594
Texas,3151893,53329,0.0,3098564.0,2021-08-03 04:21:39,31.660643,-98.653069
Florida,2634234,39079,0.0,2595155.0,2021-08-03 04:21:39,28.940755,-82.700744
New York,2155356,53657,0.0,2101699.0,2021-08-03 04:21:39,42.544151,-75.474183
Illinois,1425219,25884,0.0,1399335.0,2021-08-03 04:21:39,39.843618,-89.178330

##### 1B-3: Pivot Table on the JH live global data, grouped / subtotalled by **US County**

In [27]:
jh_live_uscounties = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Confirmed', 'Deaths', 'Recovered'], 
                                    aggfunc=np.sum)

In [28]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

                            Confirmed  Deaths  Recovered
Province_State Admin2
California     Los Angeles    1305704   24700        0.0
Arizona        Maricopa        585497   10462        0.0
Illinois       Cook            565780   10572        0.0
Florida        Miami-Dade      549405    6472        0.0
Texas          Harris          425862    6726        0.0

In [29]:
jh_live_uscounties['Active'] = jh_live_uscounties['Confirmed'] - jh_live_uscounties['Deaths'] - jh_live_uscounties['Recovered']

In [30]:
jh_live_uscounties['Last_Update'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Last_Update'], 
                                    aggfunc=np.max)
jh_live_uscounties['Lat'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Lat'], 
                                    aggfunc=np.mean)
jh_live_uscounties['Long'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['Long_'], 
                                    aggfunc=np.mean)
jh_live_uscounties['FIPS'] = pd.pivot_table(jh_live_global[jh_live_global['Country_Region']=='US'], 
                                    index=['Province_State', 'Admin2'], values=['FIPS'], 
                                    aggfunc=np.max)

In [31]:
jh_live_uscounties.sort_values('Confirmed', ascending=False).head(5)

,,Confirmed,Deaths,Recovered,Active,Last_Update,Lat,Long,FIPS
Province_State,Admin2,,,,,,,,
California,Los Angeles,1305704,24700,0.0,1281004.0,2021-08-03 04:21:39,34.308284,-118.228241,6037.0
Arizona,Maricopa,585497,10462,0.0,575035.0,2021-08-03 04:21:39,33.348359,-112.491815,4013.0
Illinois,Cook,565780,10572,0.0,555208.0,2021-08-03 04:21:39,41.841448,-87.816588,17031.0
Florida,Miami-Dade,549405,6472,0.0,542933.0,2021-08-03 04:21:39,25.611236,-80.551706,12086.0
Texas,Harris,425862,6726,0.0,419136.0,2021-08-03 04:21:39,29.858649,-95.393395,48201.0

##### 1B-4: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [32]:
# First, isolate the date columns of the JH historic time series data to be used in the following 3 Pivot Tables
date_columns = jh_hist_global_cases.iloc[:, 4:].columns

In [33]:
jh_hist_countries_cases = pd.pivot_table(jh_hist_global_cases, index=['Country/Region'], 
                                            values=date_columns, aggfunc=np.sum)
jh_hist_countries_cases = jh_hist_countries_cases.transpose()
jh_hist_countries_cases.index = pd.to_datetime(jh_hist_countries_cases.index)
jh_hist_countries_cases = jh_hist_countries_cases.sort_index()

In [34]:
jh_hist_countries_cases.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,146523,133081,171392,14678,42777,1303,4929764,230110,34383,659056,...,5883421,381517,129327,4,305766,150060,316738,7061,195816,108860
2021-08-01,146523,133121,172564,14678,42815,1303,4935847,230339,34612,659508,...,5907594,381569,130216,4,306673,157507,316861,7070,196293,109546
2021-08-02,147985,133146,173922,14747,42970,1303,4947030,230476,34836,659872,...,5929881,381715,131079,4,307570,157507,317083,7081,196490,110855

##### 1B-5: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **Country**

In [35]:
jh_hist_countries_deaths = pd.pivot_table(jh_hist_global_deaths, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_deaths = jh_hist_countries_deaths.transpose()
jh_hist_countries_deaths.index = pd.to_datetime(jh_hist_countries_deaths.index)
jh_hist_countries_deaths = jh_hist_countries_deaths.sort_index()

In [36]:
jh_hist_countries_deaths.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,6677,2457,4254,128,1011,43,105721,4614,924,10737,...,129949,5964,874,1,3591,1306,3603,1375,3389,3532
2021-08-01,6677,2457,4291,128,1016,43,105772,4619,925,10738,...,130014,5966,880,1,3607,1306,3604,1377,3406,3583
2021-08-02,6774,2457,4329,128,1018,43,106045,4621,925,10739,...,130039,5972,886,1,3623,1306,3609,1378,3412,3635

##### 1B-6: Pivot Table on the JH historic **recoveries**, grouped / subtotalled by **Country**

In [37]:
jh_hist_countries_recovered = pd.pivot_table(jh_hist_global_recovered, index=['Country/Region'], values=date_columns, aggfunc=np.sum)
jh_hist_countries_recovered = jh_hist_countries_recovered.transpose()
jh_hist_countries_recovered.index = pd.to_datetime(jh_hist_countries_recovered.index)
jh_hist_countries_recovered = jh_hist_countries_recovered.sort_index()

In [38]:
jh_hist_countries_recovered.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,82586,130222,115276,14210,37255,1235,4569552,219864,24093,643027,...,20928,373481,123164,3,290181,38734,311832,4185,187236,75856
2021-08-01,82586,130243,116009,14210,37397,1235,4581132,219986,24124,643387,...,21083,373636,123995,3,291556,43157,311918,4200,188106,76665
2021-08-02,82586,130256,116770,14296,38360,1235,4594873,220133,24141,643694,...,22633,373839,124728,3,292567,43157,312149,4212,188950,79420

##### 1B-7: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [39]:
jh_hist_uscounties_cases.sort_values('Province_State').head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7402,7419,7435,7456,7479,7479,7479,7537,7563,7585
37,84001075,US,USA,840,1075.0,Lamar,Alabama,US,33.779950,-88.096680,...,1494,1495,1495,1497,1499,1499,1499,1509,1510,1512
38,84001077,US,USA,840,1077.0,Lauderdale,Alabama,US,34.901719,-87.656247,...,9968,9991,10009,10044,10083,10083,10083,10240,10255,10266
39,84001079,US,USA,840,1079.0,Lawrence,Alabama,US,34.520415,-87.310695,...,3188,3192,3197,3211,3225,3225,3225,3257,3263,3267
40,84001081,US,USA,840,1081.0,Lee,Alabama,US,32.601549,-85.351322,...,16753,16801,16828,16897,16949,16949,16949,17184,17224,17260

In [40]:
date_columns = jh_hist_uscounties_cases.iloc[:,11:].columns

In [41]:
jh_hist_usstates_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_cases = jh_hist_usstates_cases.transpose()
jh_hist_usstates_cases.index = pd.to_datetime(jh_hist_usstates_cases.index)
jh_hist_usstates_cases = jh_hist_usstates_cases.sort_index()

In [42]:
jh_hist_usstates_cases.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-31,585607,75486,0,927235,386452,3961190,575082,354335,111407,49,...,893554,3138837,432467,24889,4629,694384,473076,167016,687198,65127
2021-08-01,587405,75486,0,929541,388436,3966943,575082,354335,111563,49,...,893554,3142184,432467,24889,4629,694384,473076,167016,687198,65127
2021-08-02,589110,76237,0,931387,389280,3983926,577285,355580,111681,49,...,900418,3151893,434711,25038,4663,697939,475881,167681,689285,65467

##### 1B-8: Pivot Table on the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [43]:
jh_hist_uscounties_cases = pd.pivot_table(jh_hist_uscounties_cases, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.transpose()
jh_hist_uscounties_cases.index = pd.to_datetime(jh_hist_uscounties_cases.index)
jh_hist_uscounties_cases = jh_hist_uscounties_cases.sort_index()

In [44]:
jh_hist_uscounties_cases.tail(3)

Province_State Alabama                                                      \
Admin2         Autauga Baldwin Barbour  Bibb Blount Bullock Butler Calhoun
2021-07-31        7537   25207    2506  2897   7352    1265   2401   15382
2021-08-01        7563   25399    2509  2904   7362    1265   2408   15401
2021-08-02        7585   25567    2520  2909   7382    1265   2414   15429

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-31         3936     1988  ...    2974    768     3325      859
2021-08-01         3949     1992  ...    2974    768     3325      859
2021-08-02         3968     1995  ...    2989    772     3343      866

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-31           4998  3897  2414          0      945    681
2021-08-01           4998  3897  2414          0      945    681
2021-08-02           5017  3914  2430          0      945    687

[3 rows x 3336 columns]

##### 1B-9: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US State**

In [45]:
jh_hist_usstates_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.transpose()
jh_hist_usstates_deaths.index = pd.to_datetime(jh_hist_usstates_deaths.index)
jh_hist_usstates_deaths = jh_hist_usstates_deaths.sort_index()

In [46]:
jh_hist_usstates_deaths.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-31,11536,389,0,18246,6141,64425,6945,8293,1833,0,...,12724,53277,2451,260,37,11532,6122,2946,8290,776
2021-08-01,11536,389,0,18251,6157,64429,6945,8293,1833,0,...,12724,53296,2451,260,37,11532,6122,2946,8290,776
2021-08-02,11536,389,0,18252,6199,64547,6956,8293,1833,0,...,12749,53329,2466,260,39,11534,6127,2949,8295,776

##### 1B-10: Pivot Table on the JH historic **deaths**, grouped / subtotalled by **US County**

In [47]:
jh_hist_uscounties_deaths = pd.pivot_table(jh_hist_uscounties_deaths, index=['Province_State', 'Admin2'], 
                                           values=date_columns, aggfunc=np.sum)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.transpose()
jh_hist_uscounties_deaths.index = pd.to_datetime(jh_hist_uscounties_deaths.index)
jh_hist_uscounties_deaths = jh_hist_uscounties_deaths.sort_index()

In [48]:
jh_hist_uscounties_deaths.tail(3)

Province_State Alabama                                                     \
Admin2         Autauga Baldwin Barbour Bibb Blount Bullock Butler Calhoun
2021-07-31         114     329      61   65    139      42     72     334
2021-08-01         114     329      61   65    139      42     72     334
2021-08-02         114     329      61   65    139      42     72     334

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-31          125       48  ...      34     14       31        8
2021-08-01          125       48  ...      34     14       31        8
2021-08-02          125       48  ...      34     14       31        8

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-31             44    11    14          0       26      6
2021-08-01             44    11    14          0       26      6
2021-08-02             44    11    14          0       26      6

[3 rows x 3336 columns]

#### 1C: Export the data

##### 1C-1: Export the JH live global data, grouped / subtotalled by **Country**

In [49]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_countries.csv')
jh_live_countries.to_csv(filename, index=True)

##### 1C-2: Export the JH live global data, grouped / subtotalled by **US State**

In [50]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_usstates.csv')
jh_live_usstates.to_csv(filename, index=True)

##### 1C-3: Export the JH live global data, grouped / subtotalled by **US County**

In [51]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_live_uscounties.csv')
jh_live_uscounties.to_csv(filename, index=True)

##### 1C-4: Export the JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [52]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases.csv')
jh_hist_countries_cases.to_csv(filename, index=True)

##### 1C-5: Export the JH historic **deaths**, grouped / subtotalled by **Country**

In [53]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths.csv')
jh_hist_countries_deaths.to_csv(filename, index=True)

##### 1C-6: Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [54]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered.csv')
jh_hist_countries_recovered.to_csv(filename, index=True)

##### 1C-7: Export the JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [55]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases.csv')
jh_hist_usstates_cases.to_csv(filename, index=True)

##### 1C-8: Export the JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [56]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases.csv')
jh_hist_uscounties_cases.to_csv(filename, index=True)

##### 1C-9: Export the JH historic **deaths**, grouped / subtotalled by **US State**

In [57]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths.csv')
jh_hist_usstates_deaths.to_csv(filename, index=True)

##### 1C-10: Export the JH historic **deaths**, grouped / subtotalled by **US County**

In [58]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths.csv')
jh_hist_uscounties_deaths.to_csv(filename, index=True)

#### 1D: Calculate daily % change for each historic dataset (match numbering sequence, export as well)

##### 1D-4: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [59]:
jh_hist_countries_cases_pct = jh_hist_countries_cases.pct_change()

In [60]:
jh_hist_countries_cases_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,0.000000,0.000338,0.007069,0.000000,0.003072,0.0,0.002105,0.001057,0.007413,0.000817,...,0.004401,0.000401,0.007196,0.0,0.003413,0.063335,0.000426,0.000425,0.003690,0.012745
2021-08-01,0.000000,0.000301,0.006838,0.000000,0.000888,0.0,0.001234,0.000995,0.006660,0.000686,...,0.004109,0.000136,0.006874,0.0,0.002966,0.049627,0.000388,0.001275,0.002436,0.006302
2021-08-02,0.009978,0.000188,0.007870,0.004701,0.003620,0.0,0.002266,0.000595,0.006472,0.000552,...,0.003773,0.000383,0.006627,0.0,0.002925,0.000000,0.000701,0.001556,0.001004,0.011949

In [61]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct.csv')
jh_hist_countries_cases_pct.to_csv(filename, index=True)

##### 1D-5: Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [62]:
jh_hist_countries_deaths_pct = jh_hist_countries_deaths.pct_change()

In [63]:
jh_hist_countries_deaths_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,0.000000,0.0,0.008296,0.0,0.002976,0.0,0.001279,0.001302,0.000000,0.000000,...,0.000554,0.000839,0.009238,0.0,0.004195,0.124892,0.000555,0.000000,0.003851,0.012034
2021-08-01,0.000000,0.0,0.008698,0.0,0.004946,0.0,0.000482,0.001084,0.001082,0.000093,...,0.000500,0.000335,0.006865,0.0,0.004456,0.000000,0.000278,0.001455,0.005016,0.014439
2021-08-02,0.014527,0.0,0.008856,0.0,0.001969,0.0,0.002581,0.000433,0.000000,0.000093,...,0.000192,0.001006,0.006818,0.0,0.004436,0.000000,0.001387,0.000726,0.001762,0.014513

In [64]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct.csv')
jh_hist_countries_deaths_pct.to_csv(filename, index=True)

##### 1D-6: Daily % change Export the JH historic **recoveries**, grouped / subtotalled by **Country**

In [65]:
jh_hist_countries_recovered_pct = jh_hist_countries_recovered.pct_change()

In [66]:
jh_hist_countries_recovered_pct.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,0.0,0.000131,0.006505,0.000000,0.014901,0.0,0.002746,0.000742,0.001413,0.000669,...,0.000430,0.000512,0.006505,0.0,0.004559,0.091591,0.000192,0.003357,0.005505,0.017355
2021-08-01,0.0,0.000161,0.006359,0.000000,0.003812,0.0,0.002534,0.000555,0.001287,0.000560,...,0.007406,0.000415,0.006747,0.0,0.004738,0.114189,0.000276,0.003584,0.004647,0.010665
2021-08-02,0.0,0.000100,0.006560,0.006052,0.025751,0.0,0.002999,0.000668,0.000705,0.000477,...,0.073519,0.000543,0.005912,0.0,0.003468,0.000000,0.000741,0.002857,0.004487,0.035936

In [67]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct.csv')
jh_hist_countries_recovered_pct.to_csv(filename, index=True)

##### 1D-7: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [68]:
jh_hist_usstates_cases_pct = jh_hist_usstates_cases.pct_change()

In [69]:
jh_hist_usstates_cases_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-31,0.014103,0.000000,NaN,0.002233,0.003477,0.001235,0.000000,0.000000,0.001186,0.0,...,0.000000,0.001659,0.000000,0.000000,0.004993,0.00000,0.000000,0.000000,0.000000,0.000000
2021-08-01,0.003070,0.000000,NaN,0.002487,0.005134,0.001452,0.000000,0.000000,0.001400,0.0,...,0.000000,0.001066,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2021-08-02,0.002903,0.009949,NaN,0.001986,0.002173,0.004281,0.003831,0.003514,0.001058,0.0,...,0.007682,0.003090,0.005189,0.005987,0.007345,0.00512,0.005929,0.003982,0.003037,0.005221

In [70]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct.csv')
jh_hist_usstates_cases_pct.to_csv(filename, index=True)

##### 1D-8: Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [71]:
jh_hist_uscounties_cases_pct = jh_hist_uscounties_cases.pct_change()

In [72]:
jh_hist_uscounties_cases_pct.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-07-31      0.007755  0.028899  0.017872  0.018278  0.011836  0.003172
2021-08-01      0.003450  0.007617  0.001197  0.002416  0.001360  0.000000
2021-08-02      0.002909  0.006614  0.004384  0.001722  0.002717  0.000000

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-07-31      0.007976  0.008523  0.009749  0.012736  ...  0.000000
2021-08-01      0.002915  0.001235  0.003303  0.002012  ...  0.000000
2021-08-02      0.002492  0.001818  0.004811  0.001506  ...  0.005044

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-07-31      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-08-01      0.000000  0.000000  0.000000   0.000000  0.000000  0.000000
2021-08-02      0.005208  0.005414  0.008149   0.003802  0.004362  0.006628

Province_State
Admin2         Unassigned Washakie    Weston
2021-07-31            NaN      0.0  0.000000
2021-08-01            NaN      0.0  0.000000
2021-08-02            NaN      0.0  0.008811

[3 rows x 3336 columns]

In [73]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct.csv')
jh_hist_uscounties_cases_pct.to_csv(filename, index=True)

##### 1D-9: Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [74]:
jh_hist_usstates_deaths_pct = jh_hist_usstates_deaths.pct_change()

In [75]:
jh_hist_usstates_deaths_pct.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-31,0.002259,0.0,NaN,0.001207,0.002940,0.000031,0.000000,0.0,0.001639,NaN,...,0.000000,0.000545,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2021-08-01,0.000000,0.0,NaN,0.000274,0.002605,0.000062,0.000000,0.0,0.000000,NaN,...,0.000000,0.000357,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2021-08-02,0.000000,0.0,NaN,0.000055,0.006822,0.001831,0.001584,0.0,0.000000,NaN,...,0.001965,0.000619,0.00612,0.0,0.054054,0.000173,0.000817,0.001018,0.000603,0.0

In [76]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct.csv')
jh_hist_usstates_deaths_pct.to_csv(filename, index=True)

##### 1D-10: Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [77]:
jh_hist_uscounties_deaths_pct = jh_hist_uscounties_deaths.pct_change()

In [78]:
jh_hist_uscounties_deaths_pct.tail(3)

Province_State Alabama                                                         \
Admin2         Autauga   Baldwin Barbour Bibb Blount Bullock Butler   Calhoun
2021-07-31         0.0  0.003049     0.0  0.0    0.0     0.0    0.0  0.006024
2021-08-01         0.0  0.000000     0.0  0.0    0.0     0.0    0.0  0.000000
2021-08-02         0.0  0.000000     0.0  0.0    0.0     0.0    0.0  0.000000

Province_State                    ... Wyoming                           \
Admin2         Chambers Cherokee  ...    Park Platte Sheridan Sublette
2021-07-31          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-08-01          0.0      0.0  ...     0.0    0.0      0.0      0.0
2021-08-02          0.0      0.0  ...     0.0    0.0      0.0      0.0

Province_State
Admin2         Sweetwater Teton Uinta Unassigned Washakie Weston
2021-07-31            0.0   0.0   0.0        NaN      0.0    0.0
2021-08-01            0.0   0.0   0.0        NaN      0.0    0.0
2021-08-02            0.0   0.0   0.0        NaN      0.0    0.0

[3 rows x 3336 columns]

In [79]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct.csv')
jh_hist_uscounties_deaths_pct.to_csv(filename, index=True)

#### 1E: Calculate exponential weighted moving average (3 day) for each historic dataset (match numbering sequence, export as well)

This is useful to see which countries / states / counties are becoming hot spots or which are cooling down.  
Exponential weighted moving averages (EWMA) blend the most recent x days, using a heavier weight for more recent data.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html  
Using the EWMA gives the best balance of minimizing erratic daily changes by using a moving avg, while giving more credence to recent data vs a simple moving avg.

##### 1E-4: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **Country**

In [80]:
jh_hist_countries_cases_pct_ewma = jh_hist_countries_cases_pct.ewm(span=3).mean()

In [81]:
jh_hist_countries_cases_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,0.001781,0.000309,0.008233,0.001100,0.003573,0.002430,0.002485,0.001065,0.006846,0.000785,...,0.004687,0.000446,0.007023,6.573841e-32,0.003241,0.064717,0.000409,0.001146,0.003873,0.015468
2021-08-01,0.000890,0.000305,0.007536,0.000550,0.002231,0.001215,0.001860,0.001030,0.006753,0.000736,...,0.004398,0.000291,0.006948,3.286920e-32,0.003103,0.057172,0.000399,0.001210,0.003155,0.010885
2021-08-02,0.005434,0.000246,0.007703,0.002625,0.002925,0.000608,0.002063,0.000812,0.006612,0.000644,...,0.004085,0.000337,0.006788,1.643460e-32,0.003014,0.028586,0.000550,0.001383,0.002079,0.011417

In [82]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_cases_pct_ewma.csv')
jh_hist_countries_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-5: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **Country**

In [83]:
jh_hist_countries_deaths_pct_ewma = jh_hist_countries_deaths_pct.ewm(span=3).mean()

In [84]:
jh_hist_countries_deaths_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,0.004165,0.000025,0.007880,0.001969,0.003728,0.000093,0.002555,0.001128,0.000451,0.000016,...,0.000597,0.000884,0.008595,0.0,0.004541,0.193477,0.000313,0.000209,0.004972,0.017022
2021-08-01,0.002082,0.000013,0.008289,0.000984,0.004337,0.000047,0.001519,0.001106,0.000766,0.000055,...,0.000549,0.000610,0.007730,0.0,0.004498,0.096738,0.000295,0.000832,0.004994,0.015731
2021-08-02,0.008305,0.000006,0.008572,0.000492,0.003153,0.000023,0.002050,0.000770,0.000383,0.000074,...,0.000370,0.000808,0.007274,0.0,0.004467,0.048369,0.000841,0.000779,0.003378,0.015122

In [85]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_deaths_pct_ewma.csv')
jh_hist_countries_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-6: EWMA of Daily % change Export the JH historic **recovered**, grouped / subtotalled by **Country**

In [86]:
jh_hist_countries_recovered_pct_ewma = jh_hist_countries_recovered_pct.ewm(span=3).mean()

In [87]:
jh_hist_countries_recovered_pct_ewma.tail(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
2021-07-31,2.827632e-08,0.000122,0.006835,0.001307,0.012977,0.000623,0.002838,0.000728,0.001057,0.000607,...,0.013216,0.000641,0.006029,1.577722e-30,0.004178,0.112625,0.000202,0.001787,0.005450,0.019010
2021-08-01,1.413816e-08,0.000142,0.006597,0.000653,0.008395,0.000312,0.002686,0.000641,0.001172,0.000583,...,0.010311,0.000528,0.006388,7.888609e-31,0.004458,0.113407,0.000239,0.002685,0.005048,0.014837
2021-08-02,7.069081e-09,0.000121,0.006578,0.003353,0.017073,0.000156,0.002843,0.000655,0.000938,0.000530,...,0.041915,0.000536,0.006150,3.944305e-31,0.003963,0.056704,0.000490,0.002771,0.004768,0.025386

In [88]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_countries_recovered_pct_ewma.csv')
jh_hist_countries_recovered_pct_ewma.to_csv(filename, index=True)

##### 1E-7: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US State**

In [89]:
jh_hist_usstates_cases_pct_ewma = jh_hist_usstates_cases_pct.ewm(span=3).mean()

In [90]:
jh_hist_usstates_cases_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-31,0.007577,0.002500,NaN,0.002079,0.004877,0.001905,0.000941,0.000608,0.001132,2.599946e-152,...,0.001289,0.002883,0.001280,0.000901,0.009221,0.000807,0.000943,0.000744,0.000770,0.001444
2021-08-01,0.005324,0.001250,NaN,0.002283,0.005005,0.001679,0.000471,0.000304,0.001266,1.299973e-152,...,0.000645,0.001975,0.000640,0.000451,0.004610,0.000403,0.000471,0.000372,0.000385,0.000722
2021-08-02,0.004113,0.005599,NaN,0.002135,0.003589,0.002980,0.002151,0.001909,0.001162,6.499865e-153,...,0.004163,0.002532,0.002914,0.003219,0.005978,0.002761,0.003200,0.002177,0.001711,0.002971

In [91]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_cases_pct_ewma.csv')
jh_hist_usstates_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-8: EWMA of Daily % change JH historic **confirmed cases**, grouped / subtotalled by **US County**

In [92]:
jh_hist_uscounties_cases_pct_ewma = jh_hist_uscounties_cases_pct.ewm(span=3).mean()

In [93]:
jh_hist_uscounties_cases_pct_ewma.tail(3)

Province_State   Alabama                                                    \
Admin2           Autauga   Baldwin   Barbour      Bibb    Blount   Bullock
2021-07-31      0.004219  0.015744  0.009446  0.009787  0.006414  0.001742
2021-08-01      0.003834  0.011680  0.005322  0.006102  0.003887  0.000871
2021-08-02      0.003372  0.009147  0.004853  0.003912  0.003302  0.000435

Province_State                                          ...   Wyoming  \
Admin2            Butler   Calhoun  Chambers  Cherokee  ...      Park
2021-07-31      0.004368  0.004605  0.005416  0.007078  ...  0.001186
2021-08-01      0.003641  0.002920  0.004360  0.004545  ...  0.000593
2021-08-02      0.003067  0.002369  0.004585  0.003025  ...  0.002818

Province_State                                                               \
Admin2            Platte  Sheridan  Sublette Sweetwater     Teton     Uinta
2021-07-31      0.004147  0.000988  0.002113   0.001092  0.000525  0.002347
2021-08-01      0.002074  0.000494  0.001057   0.000546  0.000263  0.001173
2021-08-02      0.003641  0.002954  0.004603   0.002174  0.002312  0.003901

Province_State
Admin2         Unassigned  Washakie    Weston
2021-07-31           -1.0  0.000064  0.000586
2021-08-01           -1.0  0.000032  0.000293
2021-08-02           -1.0  0.000016  0.004552

[3 rows x 3336 columns]

In [94]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_cases_pct_ewma.csv')
jh_hist_uscounties_cases_pct_ewma.to_csv(filename, index=True)

##### 1E-9: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US State**

In [95]:
jh_hist_usstates_deaths_pct_ewma = jh_hist_usstates_deaths_pct.ewm(span=3).mean()

In [96]:
jh_hist_usstates_deaths_pct_ewma.tail(3)

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2021-07-31,0.001257,0.00228,NaN,0.001072,0.002479,0.000316,0.000604,0.00008,0.020086,NaN,...,0.000233,0.000771,0.000559,0.000966,0.007904,0.000257,0.000621,0.000453,0.000681,0.000410
2021-08-01,0.000629,0.00114,NaN,0.000673,0.002542,0.000189,0.000302,0.00004,0.010043,NaN,...,0.000116,0.000564,0.000279,0.000483,0.003952,0.000128,0.000311,0.000226,0.000340,0.000205
2021-08-02,0.000314,0.00057,NaN,0.000364,0.004682,0.001010,0.000943,0.00002,0.005021,NaN,...,0.001041,0.000591,0.003200,0.000241,0.029003,0.000151,0.000564,0.000622,0.000472,0.000102

In [97]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_usstates_deaths_pct_ewma.csv')
jh_hist_usstates_deaths_pct_ewma.to_csv(filename, index=True)

##### 1E-10: EWMA of Daily % change JH historic **deaths**, grouped / subtotalled by **US County**

In [98]:
jh_hist_uscounties_deaths_pct_ewma = jh_hist_uscounties_deaths_pct.ewm(span=3).mean()

In [99]:
jh_hist_uscounties_deaths_pct_ewma.tail(3)

Province_State   Alabama                                                  \
Admin2           Autauga   Baldwin   Barbour          Bibb        Blount
2021-07-31      0.000277  0.002017  0.000065  4.656613e-10  2.427061e-26
2021-08-01      0.000138  0.001008  0.000033  2.328306e-10  1.213531e-26
2021-08-02      0.000069  0.000504  0.000016  1.164153e-10  6.067653e-27

Province_State                                                        ...  \
Admin2               Bullock    Butler   Calhoun  Chambers  Cherokee  ...
2021-07-31      8.070560e-26  0.000028  0.003013  0.000016  0.000042  ...
2021-08-01      4.035280e-26  0.000014  0.001506  0.000008  0.000021  ...
2021-08-02      2.017640e-26  0.000007  0.000753  0.000004  0.000010  ...

Province_State   Wyoming                                                   \
Admin2              Park        Platte      Sheridan  Sublette Sweetwater
2021-07-31      0.000947  1.467290e-07  9.568144e-44  0.004464   0.000739
2021-08-01      0.000473  7.336450e-08  4.784072e-44  0.002232   0.000369
2021-08-02      0.000237  3.668225e-08  2.392036e-44  0.001116   0.000185

Province_State
Admin2                 Teton     Uinta Unassigned      Washakie        Weston
2021-07-31      2.467162e-17  0.002404   0.752941  2.611626e-56  2.220446e-17
2021-08-01      1.233581e-17  0.001202   0.752941  1.305813e-56  1.110223e-17
2021-08-02      6.167906e-18  0.000601   0.752941  6.529064e-57  5.551115e-18

[3 rows x 3336 columns]

In [100]:
filename = os.path.join(os.getcwd(), 'Datasets/JH/jh_hist_uscounties_deaths_pct_ewma.csv')
jh_hist_uscounties_deaths_pct_ewma.to_csv(filename, index=True)

### Dataset 2: US States - Covid Tracking Project

The Covid Tracking Project stores data in both API (JSON) and CSV formats.  We'll be loading the CSV files into Pandas here.  
https://covidtracking.com/api/  

States current - /api/v1/states/current.csv | [CSV](https://covidtracking.com/api/v1/states/current.csv)  
States historic - /api/v1/states/daily.csv | [CSV](https://covidtracking.com/api/v1/states/daily.csv)  
States info - /api/v1/states/info.csv | [CSV](https://covidtracking.com/api/v1/states/info.csv)

#### 2A: Pull the Data from CT's API, immediately export as 'orig'

In [101]:
ct_live_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/current.csv")
ct_live_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [102]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_live_usstates_orig.csv')
ct_live_usstates.to_csv(filename, index=False)

In [103]:
ct_hist_usstates = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
ct_hist_usstates.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [104]:
filename = os.path.join(os.getcwd(), 'Datasets/CT/orig/ct_hist_usstates_orig.csv')
ct_hist_usstates.to_csv(filename, index=False)

#### 2B: Change the dates to datetime format, make them the index for both datasets

In [105]:
ct_live_usstates['date'] = ct_live_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_live_usstates['date'] = pd.to_datetime(ct_live_usstates['date'])
ct_live_usstates.set_index('date', inplace=True)
ct_live_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [106]:
ct_hist_usstates['date'] = ct_hist_usstates['date'].map(lambda d : str(d)[:4] + '-' + str(d)[4:6] + '-' + str(d)[6:])
ct_hist_usstates['date'] = pd.to_datetime(ct_hist_usstates['date'])
ct_hist_usstates.set_index('date', inplace=True)
ct_hist_usstates.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,NaN,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
2021-03-07,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,NaN,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2021-03-07,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,141.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
2021-03-07,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,NaN
2021-03-07,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,273.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN